@model System.Web.Mvc.HandleErrorInfo

<p-link filepath="~/Content/LibCss/bootstrap.min.css" rel="stylesheet"></p-link>
<p-script filepath="~/Scripts/jquery-3.0.0.min.js"></p-script>
<p-script filepath="~/Scripts/bootstrap.min.js"></p-script>
<link href="~/Content/AppCss/ErrorPage/ErrorCss.css" rel="stylesheet" />
<div class="col-lg-12" style="margin-top:5%;background:white;">
    <div class="col-lg-12">
        <div class="col-lg-12" style="padding-left:15%;padding-right:15%;">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="col-lg-7">
                        <div class="clearfix"></div>
                        <br />
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-lg-12">
                            <div class="col-lg-12 text-left zero-padding-left-right-div">
                                <a class="navbar-brand header-logo" href="~/"><img src="@Url.Content("~/Content/svg/AHC%20SVG.svg")" style="width: 375px;"></a>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-lg-12">
                                <div class="col-lg-12 text-left">
                                    <h2 class="text-danger ErrorTitle">@ViewBag.ErrorTitle</h2>
                                    <h3 class="text-muted ErrorDesc">@Html.Raw(ViewBag.ErrorDesc)</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-center">
                            <img class="ErrorIcon blink" src="@Url.Content("~/Resources/Images/Error/" + ViewBag.ErrorIcon)"/>
                            <img class="ErrorStaticIcon" src="@Url.Content("~/Resources/Images/Error/Server.png")" style="width:100%;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>