<br />
<div role="tabpanel" class="zero-padding-left-right-div">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs small" role="tablist">
            <li ng-repeat="af in ApplicationForms" ui-sref-active="active">
                <a ui-sref="application_form.detail({FormID:af.id})">{{af.tagName}}</a>
            </li>
        </ul>
    </div>

    <div class="col-lg-12">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
                <!---Demographics partial starts here-->
                <div ui-view></div>
                <!---Demographics partial ends here-->
            </div>

            @*<div role="tabpanel" class="tab-pane" id="Identification">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewIdentificationLicensing.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Education">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewEducation.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Specialty">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewSpecialty.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="PracticeLocation">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewPracticeLocationInformation.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="HospitalPrivilege">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewHospitalPrivilegeInformation.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="ProfessionalLiability">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewLiability.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="WorkHistory">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewWorkhistory.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="ProfessionalReference">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewProfessionalReference.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Aff">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewProfessionalAffilation.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Contract">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/Shared/Profile/_ViewContract.cshtml")
                <!---Demographics partial ends here-->
            </div>*@

            </div>
        </div>
  
    <div class="clearfix"></div>
</div>
