@model PortalTemplate.Areas.MH.Models.ViewModels.MemberProfile.MemberProfileViewModel
<style>
    fieldset.fsStyle {
        font-weight: normal;
        border: 1px solid #3d5c9f;
        padding: 4px;
        margin-top: 5px;
    }
    legend.legendStyle {
        font-size: 12px;
        color: #888888;
        background-color: transparent;
        font-weight: bold;
    }
    legend {
        display: block;
        width: auto;
        padding: 0;
        margin-bottom: 0px;
        font-size: 21px;
        line-height: inherit;
        color: #333;
        border: 0;
    }
</style>
<br />
<div id="ViewMemberContainer">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">
                Member Details
            </span>
        </legend>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">First Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.PersonalInformation.FirstName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Last Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.PersonalInformation.LastName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Middle Initial:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.PersonalInformation.MiddleInitial)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Gender:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.PersonalInformation.Gender)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">DOB:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.PersonalInformation.DOB)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Address line 1:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.AddressInformation[0].HomeAddress)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Address line 2:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.AddressInformation[0].ApartmentOrSuiteNumber)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">City:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.AddressInformation[0].City)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">State:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.AddressInformation[0].State)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">County:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.AddressInformation[0].County)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Country:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.AddressInformation[0].Country)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ZipCode:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.AddressInformation[0].ZipCode)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Phone Number:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.ContactInformation[0].Number)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Patient Relation:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].RelationshipName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Patient Account Number:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.ProfileAccountID)</span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">
                Insurance Details
            </span>
        </legend>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Insured Person ID:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.SubscriberID)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Insurance Priority:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].Preference)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">First Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.PersonalInformation.FirstName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Middle Initial:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.PersonalInformation.MiddleInitial)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Last Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.PersonalInformation.LastName)</span>
            </div>
            
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Gender:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.PersonalInformation.Gender)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">DOB:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.PersonalInformation.DOB)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Address line 1:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.AddressInformation[0].HomeAddress)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Address line 2:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.AddressInformation[0].HomeAddress)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">City:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.AddressInformation[0].ApartmentOrSuiteNumber)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">State:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.AddressInformation[0].State)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">County:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.AddressInformation[0].County)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Country:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.AddressInformation[0].Country)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ZipCode:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.AddressInformation[0].ZipCode)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Phone Number:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.Subscriber.ContactInformation[0].Number)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Policy Number:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.PBPCode)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Payer Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.InsuranceCompanyName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Plan/Program Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].MembershipInformation.PlanName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Is there any other Insurance?:</span>
                <span id="" class="bolding text-uppercase theme_label_data">-</span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">
                Other Insured Person Details
            </span>
        </legend>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Insured Person ID:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[1].MembershipInformation.SubscriberID)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Insurance Priority:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[1].Preference)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">First Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[1].MembershipInformation.Subscriber.PersonalInformation.FirstName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Middle Initial:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[1].MembershipInformation.Subscriber.PersonalInformation.MiddleInitial)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Last Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[1].MembershipInformation.Subscriber.PersonalInformation.LastName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Policy Number:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[1].MembershipInformation.PBPCode)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Payer Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[1].MembershipInformation.InsuranceCompanyName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Plan/Program Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[1].MembershipInformation.PlanName)</span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">
                Provider Details
            </span>
        </legend>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Select Account:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].PrimaryProvider.FacilityName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">PCP:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].PrimaryProvider.PCPName)</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Billing Provider:</span>
                <span id="" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(m => m.MemberMemberships[0].PrimaryProvider.PCPName)</span>
            </div>
        </div>
    </fieldset>
    <br />
    <div class="col-lg-12">
        <button class="btn btn-primary bold_text loser_field pull-right editMemberDetails">Edit</button>
        <button class="btn btn-danger bold_text loser_field pull-right closeViewMember">Cancel</button>
    </div>
</div>

<p-script filepath="~/Areas/MH/Scripts/NewMember/NonMinified/ViewNewMember.js"></p-script>