@model PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.PersonalDetailsViewModel

<div class="col-lg-12 nopadding">

    @***************Personal Details View*********************************@
    <fieldset class="fsStyle" id="ViewPersonalDetail">
        @***************Personal Details View Panel Heading*********************************@
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="transparent-font-color">___</span>
                PERSONAL Details
                <span class="transparent-font-color">___</span>
            </span>
            &nbsp;&nbsp;
            <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    @***************Add/Edit Personal Details View Button*********************************@
                    @if (Model == null)
                    {
                    <button class="btn btn-success btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetPersonalDetailsEditPartial?model=@Model &type=Add" data-tab-container="PersonalDetailsDiv">
                        <i class="fa fa-plus"></i>
                    </button>
                    }
                    <button class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetPersonalDetailsEditPartial?model=@Model &type=Edit" data-tab-container="PersonalDetailsDiv">
                        <i class="fa fa-pencil"></i>
                    </button>
                    @***************Personal Details History Button*********************************@
                    <button class="btn btn-warning btn-xs historyBtnCSS list-item" data-tab-path="/CredAxis/Demographics/GetPersonalDetailsHistoryPartial" data-tab-container="PersonalDetialHistoryDiv">
                        <i class="fa fa-history"></i>
                    </button>
                    <button class="btn btn-default btn-xs helpBtnCSS" data-toggle="popover" data-trigger="hover" data-content="Do not use nicknames or initials, unless they are part of your legal names." data-original-title="" title="">
                        <i class="fa fa-question"></i>
                    </button>
                    <a class="print_button_for_personal hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>

        @***************Personal Details View Panel Body*********************************@
        <div class="x_content zero-padding-left">
            <div>
                <span class="col-md-2 boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Salutations) :</label>
                    @if (Model.Salutations != "")
                    {
                        <span class="theme_label_data">@Html.DisplayFor(e => e.Salutations)</span>
                    }
                    else
                    {
                        <span class="theme_label_data">NOT AVAILABLE</span>
                    }
                </span>
                <span class="col-md-3 boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.FirstName) :</label>
                    @if (Model.FirstName != "")
                    {
                        <span class="theme_label_data">@Html.DisplayFor(e => e.FirstName)</span>
                    }
                    else
                    {
                        <span class="theme_label_data">NOT AVAILABLE</span>
                    }
                </span>
                <span class="col-md-3 boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.MiddleName) :</label>
                    @if (Model.MiddleName != "")
                    {
                        <span class="theme_label_data">@Html.DisplayFor(e => e.MiddleName)</span>
                    }
                    else
                    {
                        <span class="theme_label_data">NOT AVAILABLE</span>
                    }
                </span>
                <span class="col-md-2 boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.LastName) :</label>
                    @if (Model.LastName != "")
                    {
                        <span class="theme_label_data">@Html.DisplayFor(e => e.LastName)</span>
                    }
                    else
                    {
                        <span class="theme_label_data">NOT AVAILABLE</span>
                    }
                </span>
                <span class="col-md-2 boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Gender) :</label>
                    @if (Model.Gender != "")
                    {
                        <span class="theme_label_data">@Html.DisplayFor(e => e.Gender)</span>
                    }
                    else
                    {
                        <span class="theme_label_data">NOT AVAILABLE</span>
                    }
                </span>
            </div>
            <div>
                <span class="col-md-3 boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Suffix) :</label>
                    @if (Model.Suffix != "")
                    {
                        <span class="theme_label_data">@Html.DisplayFor(e => e.Suffix)</span>
                    }
                    else
                    {
                        <span class="theme_label_data">NOT AVAILABLE</span>
                    }
                </span>
                <span class="col-md-3 boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.MaritalStatus) :</label>
                    @if (Model.MaritalStatus != "")
                    {
                        <span class="theme_label_data">@Html.DisplayFor(e => e.MaritalStatus)</span>
                    }
                    else
                    {
                        <span class="theme_label_data">NOT AVAILABLE</span>
                    }
                </span>
                <span class="col-md-3 boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.SpouseName) :</label>
                    @if (Model.SpouseName != null)
                    {
                        <span class="theme_label_data">@Html.DisplayFor(e => e.SpouseName)</span>
                    }
                    else
                    {
                        <span class="theme_label_data">NOT AVAILABLE</span>
                    }
                </span>
                <span class="col-md-3 boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.ProviderLevel) :</label>
                    @if (Model.ProviderLevel != "")
                    {
                        <span class="theme_label_data">@Html.DisplayFor(e => e.ProviderLevel)</span>
                    }
                    else
                    {
                        <span class="theme_label_data">NOT AVAILABLE</span>
                    }
                </span>
            </div>
            
            @*<span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.ProviderType) :</label>
                @if (Model.ProviderType != "")
                {
                    <span class="theme_label_data">@Html.DisplayFor(e => e.ProviderType)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.IsLegalName) :</label>
                @if (Model.IsLegalName)
                {
                    <span class="theme_label_data">Yes</span>

                }
                else
                {
                    <span class="theme_label_data">No</span>
                }
            </span>*@
        </div>
        @***************Personal Details History*********************************@
        <div id="PersonalDetialHistoryDiv">

        </div>
    </fieldset>

</div>
