@model PortalTemplate.Areas.MH.Models.ViewModels.ProfileManagement.GeneralInformationViewModel
           
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">_____.</span>General Information<span class="transparent-font-color">_____.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field editGeneralInfo" @*onclick="location.href='@Url.Action("GetDemographicsDetails", "MemberProfile", new { id = Model.HICN })'"*@><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.Prefix):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="Prefix">@Html.DisplayTextFor(m => m.Prefix)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.LastName):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="LastName">@Html.DisplayTextFor(m => m.LastName)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.FirstName):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="FirstName">@Html.DisplayTextFor(m => m.FirstName)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.MiddleInitial):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="MiddleInitial">@Html.DisplayTextFor(m => m.MiddleInitial)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.Suffix):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="Suffix">@Html.DisplayTextFor(m => m.Suffix)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.Gender):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="Gender">@Html.DisplayTextFor(m => m.Gender)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.MaritalStatus):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="MaritalStatus">@Html.DisplayTextFor(m => m.MaritalStatus)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.DOB):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="DOB">@Html.DisplayTextFor(m => m.DOB)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.DOD):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="DOD">@Html.DisplayTextFor(m => m.DOD)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.PlaceOfBirth):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="PlaceOfBirth">@Html.DisplayTextFor(m => m.PlaceOfBirth)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.Religion):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="Religion">@Html.DisplayTextFor(m => m.Religion)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.Ethnicity):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="Ethnicity">@Html.DisplayTextFor(m => m.Ethnicity)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.Race):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="Race">@Html.DisplayTextFor(m => m.Race)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.SSN):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="SSN">@Html.DisplayTextFor(m => m.SSN)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.PolicyNumber):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="PolicyNumber">@Html.DisplayTextFor(m => m.PolicyNumber)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.PatientAccountNumber):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="PatientAccountNumber">@Html.DisplayTextFor(m => m.PatientAccountNumber)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.EmploymentStatus):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="EmploymentStatus">@Html.DisplayTextFor(m => m.EmploymentStatus)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.FamilyLinkID):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="FamilyLinkID">@Html.DisplayTextFor(m => m.FamilyLinkID)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.PreferredLanguage):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="PreferredLanguage">@Html.DisplayTextFor(m => m.PreferredLanguage)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.USCitizen):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="USCitizen">@Html.DisplayTextFor(m => m.USCitizen)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.HICN)</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="HICN">@Html.DisplayTextFor(m => m.HICN)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.MedicareEffectiveDate)</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="MedicareEffectiveDate">@Html.DisplayTextFor(m => m.MedicareEffectiveDate)</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">@Html.DisplayNameFor(m => m.EntitledTo):</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data" property="EntitledTo">@Html.DisplayTextFor(m => m.EntitledTo)</span></span>
        </div>
    </div>
</fieldset>



