@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    var roles = Context.GetOwinContext().GetUserManager<AHC.CD.WebUI.MVC.ApplicationUserManager>().GetRoles(User.Identity.GetUserId());


    <div class="col-lg-12" style="margin:0px">
        <header>
            <span class="pull-right pointer" ng-click="HideDetails()"><i class="fa fa-close"></i></span>
            <div>
                <h3>{{temp.Type}}</h3>
            </div>
        </header>
        <div class="form-style">
            <fieldset>
                <legend>
                    Provider Details
                </legend>
                <div class="col-lg-10">
                    <div>
                        <label class="control-label small">NPI Number: </label> <i class="small">{{temp.Profile.OtherIdentificationNumber.NPINumber}}</i>
                    </div>
                    <div>
                        <label class="control-label small">Full Name: </label> <i class="small">{{temp.Profile.PersonalDetail.Salutation}} {{temp.Profile.PersonalDetail.FirstName}} {{temp.Profile.PersonalDetail.MiddleName}} {{temp.Profile.PersonalDetail.LastName}}</i>
                    </div>
                </div>
                <div class="col-lg-2">
                    @if (roles.Contains("CCO"))
                    {
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Profile/MasterProfile/ProviderProfile/{{temp.Profile.ProfileID}}" target="_blank" class="pull-right btn btn-primary btn-xs">View Profile</a>
                    }
                </div>
            </fieldset>

        </div>
        <div class="form-style">
            <fieldset>
                <legend>
                    {{temp.Type}} Details
                </legend>
                <div class="col-lg-6 form-group">
                    <label class="control-label small">Section</label>
                    <div>
                        <i class="small">{{temp.Section}}</i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                    <label class="control-label small">Sub-Section</label>
                    <div>
                        <i class="small">{{temp.SubSection}}</i>
                    </div>
                </div>
                @*<table>
                        <thead>
                            <tr>
                                <th>Field Name</th>
                                <th>Old Value</th>
                                <th>New Value</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="new in chnagedData track by $index">
                            <tr>
                                <td>{{new.FieldName || 'Not Available'}}</td>
                                <td>{{new.OldValue || 'Not Available'}}</td>
                                <td>{{new.NewValue || 'Not Available'}}</td>
                            </tr>
                        </tbody>
                    </table>*@
                <div ng-if="chnagedData.length > 0" class="col-lg-12">
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Item</label>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Old Data</label>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">New Data</label>
                    </div>
                </div>
                <div class="progress col-lg-12" ng-show="loadBar" ng-cloak>
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        Loading...Please wait...
                    </div>
                </div>
               
                <div ng-if="chnagedData.length > 0 && !Declination" class="col-lg-12" ng-repeat="new in chnagedData track by $index">
                    
                    <div class="col-lg-4 form-group" @*ng-init="new=getValue(new)"*@>
                     
                        <i class="small wrap-words" ng-if="new.FieldName.indexOf('Path')>-1">Supporting Document</i>
                        <i class="small wrap-words" ng-if="!(new.FieldName.indexOf('Path')>-1)">{{new.FieldName || 'Not Available'}}</i>
                    </div>
                    <div ng-if="new.FieldName.indexOf('Path')>-1">
                        <div class="col-lg-4 form-group">
                            <i class="data-label" ng-if="new.OldValue"><a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{new.OldValue}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="Old Document"><i class="fa fa-file"></i></a></i>
                            <i class="small wrap-words" ng-if="!new.OldValue">Not Available</i>
                        </div>
                        <div class="col-lg-4 form-group">
                            
                            <i class="data-label" ng-if="new.NewValue"><a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{new.NewValue}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="New Document"><i class="fa fa-file"></i></a></i>
                            <i class="small wrap-words" ng-if="!new.NewValue">Not Available</i>
                        </div>
                    </div>
                    <div ng-if="!(new.FieldName.indexOf('Path')>-1) && !DeclinationOld">
                        <div class="col-lg-4 form-group">
                            <i class="small wrap-words">{{new.OldValue || 'Not Available'}}</i>
                        </div>
                        <div class="col-lg-4 form-group">
                            <i class="small wrap-words">{{new.NewValue || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div ng-if="!(new.FieldName.indexOf('Path')>-1) && DeclinationOld">
                        <div class="col-lg-4 form-group">
                            <i class="small wrap-words">Declined</i>
                        </div>
                        <div class="col-lg-4 form-group">
                            <i class="small wrap-words">{{new.NewValue || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div ng-if="chnagedData.length > 0 && Declination" class="col-lg-12" ng-repeat="new in chnagedData track by $index">

                    <div class="col-lg-4 form-group" @*ng-init="new=getValue(new)"*@>

                        <i class="small wrap-words" ng-if="new.FieldName.indexOf('Path')>-1">Supporting Document</i>
                        <i class="small wrap-words" ng-if="!(new.FieldName.indexOf('Path')>-1)">{{new.FieldName || 'Not Available'}}</i>
                    </div>
                    <div ng-if="new.FieldName.indexOf('Path')>-1">
                        <div class="col-lg-4 form-group">
                            <i class="data-label" ng-if="new.OldValue"><a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{new.OldValue}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="Old Document"><i class="fa fa-file"></i></a></i>
                            <i class="small wrap-words" ng-if="!new.OldValue">Not Available</i>
                        </div>
                        <div class="col-lg-4 form-group">

                            <i class="data-label" ng-if="new.NewValue"><a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{new.NewValue}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="New Document"><i class="fa fa-file"></i></a></i>
                            <i class="small wrap-words" ng-if="!new.NewValue">Not Available</i>
                        </div>
                    </div>
                    <div ng-if="!(new.FieldName.indexOf('Path')>-1)">
                        <div class="col-lg-4 form-group">
                            <i class="small wrap-words">{{new.OldValue || 'Not Available'}}</i>
                        </div>
                        <div  class="col-lg-4 form-group">
                            <i class="small wrap-words">Declined</i>
                        </div>
                    </div>

                </div>

                
                <div class="col-lg-12" ng-if="chnagedData.length == 0 && !loadBar">
                    <div class="col-lg-4 form-group" ng-init="new=getValue(new)">
                        <i class="wrap-words">No changes</i>

                    </div>

                </div>
                <div ng-if="temp.ApprovalStatus == 'OnHold'" class=" col-lg-12">
                    <div class="col-lg-12 form-group">
                        <label class="control-label small">On Hold Reason :</label>
                    </div>
                </div>
                <div ng-if="temp.ApprovalStatus == 'OnHold'" class=" col-lg-12">
                    <div class="col-lg-12 form-group">
                        <i class="small wrap-words">{{temp.RejectionReason}}</i>
                    </div>
                </div>
                <div ng-if="temp.ApprovalStatus == 'Rejected'" class=" col-lg-12">
                    <div class="col-lg-12 form-group">
                        <label class="control-label small">Rejected Reason :</label>
                    </div>
                </div>
                <div ng-if="temp.ApprovalStatus == 'Rejected'" class=" col-lg-12">
                    <div class="col-lg-12 form-group">
                        <i class="small wrap-words">{{temp.RejectionReason}}</i>
                    </div>
                </div>
                @*<div class="col-lg-12 form-group">
                        <label class="control-label small">Old Data</label>
                        <div>
                            <i ng-repeat="new in chnagedData" class="small wrap-words">{{new.OldValue || 'Not Available'}} ,</i>
                        </div>
                    </div>
                    <div class="col-lg-12 form-group">
                        <label class="control-label small">New Data:</label>
                        <div>
                            <i ng-repeat="new in chnagedData" class="small wrap-words">{{new.NewValue || 'Not Available'}}  ,</i>
                        </div>
                    </div>*@
            </fieldset>
        </div>
        @if (roles.Contains("CCO"))
        {
            <div class="form-style" ng-hide="historyMode">
                <fieldset>
                    <legend>
                        Action
                    </legend>

                    @*<div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="alert alert-success alert-dismissible" id="updateSuccess" role="alert" style="display:none;">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                The Submission is Successful and Email is Sent !!!!
                            </div>
                        </div>*@
                    <div id="updateFail" style="display:none;">
                        <div class="clearfix"></div>
                        <br />
                        <label class="control-label small">Reason to send back</label>
                        <textarea ng-model="rejectionReason" class="form-control col-lg-8"></textarea>
                        <br />
                        <div class="clearfix"></div>
                        <br />
                        <button class="pull-left btn btn-danger btn-xs" ng-click="closedivUpdate();">Cancel</button>
                        <button ng-show="showReject" class="pull-right btn btn-success btn-xs" ng-click="SetReject(temp, rejectionReason);">Send</button>
                        <button ng-show="showHold" class="pull-right btn btn-success btn-xs" ng-click="SetOnHold(temp, rejectionReason);">Send</button>
                    </div>

                    <div ng-hide="hideApprovalBtn">
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-lg-12">
                            <div class="form-group col-lg-4">
                                <button class="btn btn-success" ng-click="UpdateSuccess(temp);" ng-dblclick="false;" ng-disabled="flag">Accept</button>
                            </div>
                            <div class="form-group col-lg-4">
                                <button ng-if="temp.ApprovalStatus != 'OnHold'" class="btn btn-warning" ng-click="OnHold(temp);">OnHold</button>
                            </div>
                            <div class="form-group col-lg-4">
                                <button class="btn btn-danger" ng-click="UpdateFail();">Reject</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="businessError">
                        <label class="control-label small text-danger">{{businessError}}.<br />Please reject the changes.</label>
                    </div>
                </fieldset>
            </div>
        }
        else
        {

        }
    </div>

}