@model PortalTemplate.Areas.Portal.Models.ProviderBridge.AddProvider.AddProviderViewModel

<script src="~/Areas/Portal/Scripts/ProviderBridge/AddProvider/AddProvider.js"></script>
@{
}  
<div class="container">

</div>

<fieldset class="AddProviderModal" id="AddNewProvider">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">Personal Info</span>
        </legend>
        <div class="row">

            <div class="col-md-3 col-lg-3 col-sm-6">
                <label>@Html.LabelFor(e => e.ProviderType)</label>
                @Html.DropDownListFor(m => m.ProviderType,
                                               new SelectList(Enum.GetValues(typeof(PortalTemplate.Areas.Portal.Models.ProviderBridge.AddProvider.ProviderTypes))),
                                                        "Select ProviderType", new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo variable_width_select  loser_field" })
            </div>



            <div class="col-md-3 col-lg-3 col-sm-6">
                <label>@Html.LabelFor(e => e.FirstName)</label>
                @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "FIRST NAME" })
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
                <label>@Html.LabelFor(e => e.MiddleName)</label>
                @Html.TextBoxFor(e => e.MiddleName, new { @class = "form-control input-xs Add_Provider text-uppercase", @placeholder = "MIDDLE NAME" })
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
                <label>@Html.LabelFor(e => e.LastName)</label>
                @Html.TextBoxFor(e => e.LastName, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "LAST NAME" })
            </div>
        </div>
    </fieldset>
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">Contact Info</span>
        </legend>
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.ContactName)</label>
                @Html.TextBoxFor(e => e.ContactName, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "CONTACT NAME" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.NPI)</label>
                @Html.TextBoxFor(e => e.NPI, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "NPI" })
            </div>

            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.FacilityName)</label>
                @Html.TextBoxFor(e => e.FacilityName, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "FACILITY NAME" })
            </div>

            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.Specialty)</label>
                @Html.TextBoxFor(e => e.Specialty, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "SPECIALTY" })
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.PhoneNumber)</label>
                @Html.TextBoxFor(e => e.PhoneNumber, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "PHONE NUMBER" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.FaxNumber)</label>
                @Html.TextBoxFor(e => e.FaxNumber, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "FAX NUMBER" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.Email)</label>
                @Html.TextBoxFor(e => e.Email, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "EMAIL ADDRESS" })
            </div>


            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.Address1)</label>
                @Html.TextBoxFor(e => e.Address1, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "ADDRESS 1" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.Address2)</label>
                @Html.TextBoxFor(e => e.Address2, new { @class = "form-control input-xs Add_Provider text-uppercase ", @placeholder = "ADDRESS 2" })
            </div>

            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.City)</label>
                @Html.TextBoxFor(e => e.City, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "CITY" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.State)</label>
                @Html.TextBoxFor(e => e.State, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "STATE" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.ZipCode)</label>
                @Html.TextBoxFor(e => e.ZipCode, new { @class = "form-control input-xs Add_Provider mandatory_field_halo  loser_field ", @placeholder = "ZIP CODE" })
            </div>
        </div>
    </fieldset>
    <fieldset class="fsStyle">
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.TaxIdType)</label><br />
                <div class="inline_block theme_label">
                    <input id="IndividualTaxIdType" type="checkbox" name="TaxIdType" class="checkbox-radio" value="INDIVIDUAL">
                    <label for="TaxIdType"><span ></span>INDIVIDUAL</label>
                </div>

                <div class="inline_block theme_label">
                    <input id="GroupTaxIdType" type="checkbox" name="TaxIdType" class="checkbox-radio" value="GROUP">
                    <label for="TaxIdType"><span ></span>GROUP</label>
                </div>

            </div>

            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.PlanName)</label>
                @Html.TextBoxFor(e => e.PlanName, new { @class = "form-control input-xs Add_Provider text-uppercase", @placeholder = "ULTIMATE", @value = "ULTIMATE", @readonly = "readonly" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12 ">
                <label>@Html.LabelFor(e => e.PhysicianGroupName)</label>
                <select id="PhysicianGroupName" class="form-control input-xs Add_Provider text-uppercase" name="PhysicianGroupName">
                    <option>Access Health Care Physician</option>
                    <option>Prime Care</option>
                    <option>Physician LLC</option>

                </select>


            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.GroupContactName)</label>
                @Html.TextBoxFor(e => e.GroupContactName, new { @class = "form-control input-xs Add_Provider text-uppercase", @placeholder = "", @value = "ULTIMATE", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12" id="IndividualTaxID" hidden>
                <label>@Html.LabelFor(e => e.IndividualTaxID)  </label>
                @Html.TextBoxFor(e => e.IndividualTaxID, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "TAX ID" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12" id="GroupTaxID" hidden>
                <label>@Html.LabelFor(e => e.GroupTaxID)</label>
                @Html.TextBoxFor(e => e.GroupTaxID, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "TAX ID" })
            </div>

        </div>
        @*<div class="row">
                <div class="col-md-3 col-md-3 col-sm-12">
                    <input type="checkbox" class="checkbox-radio form-control input-xs" id="ProviderNetwork" name="ProviderNetwork" />
                    <label class="theme_label_data" for="ProviderNetwork"><span></span>PROVIDER NETWORK</label>
                </div>

            </div>*@
    </fieldset>
</fieldset>

