@model PortalTemplate.Areas.SharedView.Models.Encounter.EncounterDetailsViewModel
@{
    List<SelectListItem> Status = new List<SelectListItem>();
    Status.Add(new SelectListItem
      {
          Text = "Open",
          Value = "Open",
          Selected = true
      });
    Status.Add(new SelectListItem
    {
        Text = "Active",
        Value = "Active"

    });
    Status.Add(new SelectListItem
    {
        Text = "No Show",
        Value = "NoShow"
    });
    Status.Add(new SelectListItem
    {
        Text = "Re-Schedule",
        Value = "ReSchedule"
    });
    Status.Add(new SelectListItem
    {
        Text = "Ready To Code",
        Value = "ReadyToCode"
    });
}
@Html.Partial("~/Areas/SharedView/Views/Common/_DocumentViewer.cshtml")
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hideOnCollapse">
        <fieldset class="fieldsetStyle">
            <legend class="legendstyle">
                Rendering Provider
            </legend>
            <div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.LabelFor(m => m.RenderingProviderNPI, new { @class = "font-normal" })
                    <div>
                        <label class="uppercase">@Model.RenderingProviderNPI</label>
                        @Html.HiddenFor(m => m.RenderingProviderNPI)
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.LabelFor(m => m.RenderingProviderFirstName, new { @class = "font-normal" })
                    <div><label class="uppercase">@Model.RenderingProviderFirstName</label></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.LabelFor(m => m.RenderingProviderLastOrOrganizationName, new { @class = "font-normal" })
                    <div><label class="uppercase">@Model.RenderingProviderLastOrOrganizationName</label></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.LabelFor(m => m.RenderingProviderSpeciality, new { @class = "font-normal" })
                    <div><label class="uppercase">@Model.RenderingProviderSpeciality</label></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.LabelFor(m => m.RenderingProviderTaxonomy, new { @class = "font-normal" })
                    <div><label class="uppercase">@Model.RenderingProviderTaxonomy</label></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <fieldset class="fieldsetStyle">
            <legend class="legendstyle">
                Member
            </legend>
            <div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.LabelFor(m => m.SubscriberID, new { @class = "font-normal" })
                    <div>
                        <label class="uppercase">@Model.SubscriberID</label>
                        @Html.HiddenFor(m => m.SubscriberID)
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.LabelFor(m => m.PatientFirstName, new { @class = "font-normal" })
                    <div><label class="uppercase">@Model.PatientFirstName</label></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.LabelFor(m => m.PatientLastOrOrganizationName, new { @class = "font-normal" })
                    <div><label class="uppercase">@Model.PatientLastOrOrganizationName</label></div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    @Html.LabelFor(m => m.PatientGender, new { @class = "font-normal" })
                    <div><label class="uppercase">@Model.PatientGender</label></div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    @Html.LabelFor(m => m.PatientBirthDate, new { @class = "font-normal" })
                    <div>
                        <label class="uppercase">
                            @Html.DisplayFor(model => Model.PatientBirthDate)
                        </label>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.Label("Address", new { @class = "font-normal" })
                    <div><label class="uppercase">@Model.PatientFirstAddress @Model.PatientSecondAddress</label></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @Html.LabelFor(m => m.PlanName, new { @class = "font-normal" })
                    <div><label class="uppercase">@Model.PlanName</label></div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hideOnCollapse">
        <fieldset class="fieldsetStyle">
            <legend class="legendstyle">Service Information</legend>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.ReferringProvider, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">@Model.ReferringProvider</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.BillingProvider, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">@Model.BillingProvider</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.ServiceFacility, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">@Model.ServiceFacility</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.DOSFrom, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">
                                @Html.DisplayFor(model => model.DOSFrom)
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.DOSTo, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">
                                @Html.DisplayFor(model => model.DOSTo)
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.PlaceOfService, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">@Model.PlaceOfService</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.NextAppointmentDate, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">
                                @Html.DisplayFor(model => model.NextAppointmentDate)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:5px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.CheckInTime, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">@Model.CheckInTime</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.CheckOutTime, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">@Model.CheckOutTime</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.VisitLength, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">@Model.VisitLength</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        @Html.LabelFor(m => m.VisitReason, new { @class = "font-normal" })
                        <div>
                            <label class="uppercase">@Model.VisitReason</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hideOnCollapse">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <fieldset class="fieldsetStyle">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            @Html.LabelFor(m => m.EncounterId, new { @class = "font-normal" })
                            <div>
                                <label class="uppercase">@Model.EncounterId</label>
                                @Html.HiddenFor(m => m.EncounterId)
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            @Html.LabelFor(m => m.EncounterType, new { @class = "font-normal" })
                            <div>
                                <label class="uppercase">@Model.EncounterType</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            @Html.LabelFor(m => m.EncounterStatus, new { @class = "font-normal" })
                            <div>
                                <label class="uppercase">@Model.EncounterStatus</label>
                            </div>
                        </div>
                        @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.LabelFor(m => m.EncounterNotes, new { @class = "font-normal" })
                                <div>
                                    <label class="uppercase">@Model.EncounterNotes</label>
                                </div>
                            </div>*@
                    </fieldset>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @Html.Partial("~/Areas/SharedView/Views/Documents/_DocumentsView.cshtml", @Model.DocumentDetails)
    </div>
</div>
<p-script filepath="~/Areas/SharedView/Scripts/Encounter/EncounterTemplate.js"></p-script>
<p-link filepath="~/Areas/SharedView/Content/EncounterTemplate.css" rel="stylesheet"></p-link>
