@model AHC.CD.WebUI.MVC.Areas.Profile.Models.IdentificationAndLicenses.MedicareAndMedicaidViewModel
<fieldset>
    <legend>
        Medicaid Information
    </legend>
    <div>
        <form class="MedicaidInformationForm">
            <div class="form-style">
                <div class="panel-body zero-padding-left-right-div">
                    <div class="col-md-12 ">
                        
                            @*<div class="form-group col-md-4">
                                <label class=" control-label small">Medicaid Approved? *</label>
                                <div class="radio">
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.IsApproved, true, new { data_ng_model = "MedicaidInformation.IsApproved" }) Yes
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.IsApproved, false, new { data_ng_model = "MedicaidInformation.IsApproved" }) No
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(model => model.IsApproved, "", new { @class = "text-danger" })
                            </div>*@
                            <div class="col-md-3">
                                <label class=" control-label small">Medicaid Number*</label>
                                 @Html.TextBoxFor(model => model.LicenseNumber, new { @class = "form-control input-sm", data_ng_model = "MedicaidInformation.LicenseNumber" })
                                @Html.ValidationMessageFor(model => model.LicenseNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.State, new { @class = "  control-label small" })
                                 @*@Html.DropDownListFor(model => model.State, new[] { new SelectListItem { Value = "Florida", Text = "Florida" }, new SelectListItem { Value = "Arizona", Text = "Arizona" } }, "-- select --", new { @class = "form-control input-sm", data_ng_model = "MedicareInformation.State" })*@
                                <select id="stateMedicaid" class="form-control input-sm" data-ng-model="MedicaidInformation.State">
                                    <option value="" disabled selected>--Select--</option>
                                    <option ng-repeat="state in States | unique: 'State'" value="{{state.State}}">{{state.State}}</option>
                                </select>
                                  @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.IssueDate, new { @class = "  control-label small" })
                                @Html.TextBoxFor(model => model.IssueDate, new { @class = "form-control input-sm", type = "date", data_ng_model = "MedicaidInformation.IssueDate" })
                                @Html.ValidationMessageFor(model => model.IssueDate, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="col-md-3">
                                @Html.LabelFor(model => model.ExpiryDate, new { @class = "  control-label small" })
                                @Html.TextBoxFor(model => model.ExpiryDate, new { @class = "form-control input-sm", type = "date", data_ng_model = "MedicaidInformation.ExpiryDate" })
                                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                            </div>*@
                        
                        <div class="clearfix"></div>
                        @*<div class="form-group col-md-12 ">

    <div class="col-md-4 ">
        <label class="control-label small">Any sanction imposed by Medicaid ?*</label>
        <div class="radio">
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.AnySanctionImposed, true, new { data_ng_model = "MedicaidInformation.AnySanctionImposed" }) Yes
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.AnySanctionImposed, false, new { data_ng_model = "MedicaidInformation.AnySanctionImposed" }) No
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.AnySanctionImposed, "", new { @class = "text-danger" })
    </div>
                        </div>*@
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <div class="col-md-12">
                        <div class="form-group col-md-11">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new small">Select Medicaid License Document</span><span class="fileinput-exists">Change</span>@Html.TextBoxFor(model => model.LicenseCertPath, new { type = "file", data_ng_model = "MedicaidInformation.LicenseCertPath" })</span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a href="{{MedicaidInformation.LicenseCertPath}}" target="_blank"><i class="fa fa-2x fa-file"></i></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-warning btn-sm" ng-click="cancelMedicaidInformation()">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="saveMedicaidInformation(MedicaidInformation)">{{submitButtonText}}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </form>
</div>
</fieldset>
