@model AHC.CD.WebUI.MVC.Areas.Profile.Models.ProfessionalLiability.ProfessionalLiabilityInfoViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

<fieldset class="wrap-words">
    <legend>
        Professional Liability
    </legend>
    <form enctype="multipart/form-data">
        <div class="form-style">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(p => p.InsuranceCarrierID, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{Li.InsuranceCarrier.Name || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(p => p.InsuranceCarrierAddressID, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{Li.InsuranceCarrierAddress.LocationName || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        <label class="control-label small">Street/P. O. Box No:</label>
                        <div>
                            <i class="data-label">{{Li.InsuranceCarrierAddress.Street || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label small">Building</label>
                        <div>
                            <i class="data-label">{{Li.InsuranceCarrierAddress.Building || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label small">City</label>
                        <div>
                            <i class="data-label">{{Li.InsuranceCarrierAddress.City || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label small">State</label>
                        <div>
                            <i class="data-label">{{Li.InsuranceCarrierAddress.State || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        <label class="control-label small">Zip Code</label>
                        <div>
                            <i class="data-label">{{Li.InsuranceCarrierAddress.ZipCode || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label small">Country</label>
                        <div>
                            <i class="data-label">{{Li.InsuranceCarrierAddress.Country || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label small">County</label>
                        <div>
                            <i class="data-label">{{Li.InsuranceCarrierAddress.County || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(p => p.SelfInsuredYesNoOption, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{Li.SelfInsured || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(p => p.InsuranceCoverageType, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{Li.CoverageType || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(p => p.OriginalEffectiveDate, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{Li.OriginalEffectiveDate| date:'MM-dd-yyyy'}}</i>
                            <i ng-show="!Li.OriginalEffectiveDate">Not Available</i>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(p => p.EffectiveDate, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{Li.EffectiveDate || 'Not Available' | date:'MM-dd-yyyy'}}</i>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(p => p.ExpirationDate, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{Li.ExpirationDate || 'Not Available' | date:'MM-dd-yyyy'}}</i>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div><br>
                <div class="col-md-12">
                    <div class="col-md-4 form-group">
                        <div>
                            @Html.LabelFor(p => p.PolicyNumber, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                                {
                                    <i class="data-label">#######</i>
                                }
                                else
                                {
                                    <i class="data-label">{{Li.PolicyNumber || 'Not Available'}}</i>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(p => p.AmountOfCoveragePerOccurance, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label"><i class=" data-label disabled" ng-show="Li.AmountOfCoveragePerOccurance">$</i>{{Li.AmountOfCoveragePerOccurance}}</i>
                            <i ng-show="!Li.AmountOfCoveragePerOccurance">Not Available</i>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(p => p.AmountOfCoverageAggregate, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label"><i class=" data-label disabled" ng-show="Li.AmountOfCoverageAggregate">$</i>{{Li.AmountOfCoverageAggregate}}</i>
                            <i ng-show="!Li.AmountOfCoverageAggregate">Not Available</i>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div><br>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(p => p.UnlimitedCoverageWithInsuranceCarrierOption, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{Li.UnlimitedCoverageWithInsuranceCarrier}}</i>
                            <i class="data-label" ng-show="!Li.UnlimitedCoverageWithInsuranceCarrierOption">Not Available</i>
                        </div>
                    </div>
                    <div class=" col-md-4 form-group">
                        @Html.LabelFor(p => p.PolicyIncludesTailCoverageOption, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label" ng-hide="!Li.PolicyIncludesTailCoverageOption">{{Li.PolicyIncludesTailCoverage}}</i>
                            <i class="data-label" ng-show="!Li.PolicyIncludesTailCoverageOption">Not Available</i>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Phone Number </label>
                        <div>
                            <i class="data-label">{{Li.PhoneNumber || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class=" col-md-6 form-group">
                        <label class="control-label small">Supporting Document</label>
                        <br>
                        <div ng-show="Li.InsuranceCertificatePath!=null">
                            <i class="data-label"><a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{Li.InsuranceCertificatePath}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="Liability Insurance Certificate"><i class="fa fa-file"></i></a></i>
                        </div>
                        <div ng-show="!Li.InsuranceCertificatePath">
                            Not Available
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div ng-show="activeMessageDiv=='updatedProfessionalLiability'+$index" class="alert alert-success" role="alert">
                    <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                    {{messageDesc}}
                </div>
                <div ng-show="activeMessageDiv=='renewedProfessionalLiability'+$index" class="alert alert-success" role="alert">
                    <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                    {{messageDesc}}
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button class="btn btn-warning btn-sm" ng-click="operateCancelControl('');reseterrormessages()">Cancel</button>
                    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, true))
                    {
                        <button class="btn btn-primary btn-sm pull-right" ng-click="operateEditControl($index+'_editLi',Li);editliabilityisurance(Li)">Edit</button>
                    }
                </div>
            </div>
        </div>
    </form>
</fieldset>