@model AHC.CD.WebUI.MVC.Areas.Profile.Models.ProfessionalLiability.ProfessionalLiabilityInsuranceViewModel

<div class="form-style">

    <div class="panel-body">
        <div class="col-lg-8 form-group">

            @Html.LabelFor(p => p.InsuranceInfo.InsuranceCarrier, htmlAttributes: new { @class = "control-label small" })
            @Html.DropDownListFor(model => model.InsuranceInfo.InsuranceCarrier, new[] { new SelectListItem { Value = "Carrier 1", Text = "Carrier 1" }, new SelectListItem { Value = "Carrier 2", Text = "Carrier 2" } }, "-- select --", new { @class = "form-control input-sm", data_ng_model = "professionalReference.InsuranceInfo.InsuranceCarrier" })

        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(p => p.InsuranceInfo.SelfInsured, htmlAttributes: new { @class = "control-label small" })
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="ane"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="ane"> No
                </label>
            </div>
        </div>

        <div class="form-group col-md-3">
        
            @Html.LabelFor(p => p.InsuranceAddress.Country, htmlAttributes: new { @class = "control-label small" })
            <div>
                @Html.DropDownListFor(model => model.InsuranceInfo.InsuranceCarrier, new[] { new SelectListItem { Value = "Carrier 1", Text = "Carrier 1" }, new SelectListItem { Value = "Carrier 2", Text = "Carrier 2" } }, "-- select --", new { @class = "form-control input-sm", data_ng_model = "professionalReference.InsuranceInfo.InsuranceCarrier" })
            </div>
        </div>

        <div class="form-group col-md-3">
        
            @Html.LabelFor(p => p.InsuranceAddress.State, htmlAttributes: new { @class = "control-label small" })
            <div>
                @Html.DropDownListFor(model => model.InsuranceInfo.InsuranceCarrier, new[] { new SelectListItem { Value = "Carrier 1", Text = "Carrier 1" }, new SelectListItem { Value = "Carrier 2", Text = "Carrier 2" } }, "-- select --", new { @class = "form-control input-sm", data_ng_model = "professionalReference.InsuranceInfo.InsuranceCarrier" })
            </div>
        </div>


        <div class="form-group col-md-3">
         
            @Html.LabelFor(p => p.InsuranceAddress.County, htmlAttributes: new { @class = "control-label small" })
            <div>

                @Html.DropDownListFor(model => model.InsuranceInfo.InsuranceCarrier, new[] { new SelectListItem { Value = "Carrier 1", Text = "Carrier 1" }, new SelectListItem { Value = "Carrier 2", Text = "Carrier 2" } }, "-- select --", new { @class = "form-control input-sm", data_ng_model = "professionalReference.InsuranceInfo.InsuranceCarrier" })
            </div>
        </div>

        <div class="form-group col-md-3">
       
            @Html.LabelFor(p => p.InsuranceAddress.City, htmlAttributes: new { @class = "control-label small" })
            <div>
                @Html.DropDownListFor(model => model.InsuranceInfo.InsuranceCarrier, new[] { new SelectListItem { Value = "Carrier 1", Text = "Carrier 1" }, new SelectListItem { Value = "Carrier 2", Text = "Carrier 2" } }, "-- select --", new { @class = "form-control input-sm", data_ng_model = "professionalReference.InsuranceInfo.InsuranceCarrier" })
            </div>
        </div>

        <div class="form-group col-md-3">
      
            @Html.LabelFor(p => p.InsuranceAddress.Street, htmlAttributes: new { @class = "control-label small" })
            <div>
                <input type="text" class="form-control input-sm" />
            </div>
        </div>


        <div class="form-group col-md-3">
            @Html.LabelFor(p => p.InsuranceAddress.Building, htmlAttributes: new { @class = "control-label small" })
            <div>
                <input type="text" class="form-control input-sm" />
            </div>
        </div>


        <div class="form-group col-md-3">
            <label class="control-label small">Number *</label>
            <div>
                <input type="text" class="form-control input-sm" />
            </div>
        </div>

        <div class="form-group col-md-3">
            <label class="control-label small">Zip Code *</label>
            <div>
                <input type="text" class="form-control input-sm" />
            </div>
        </div>


        <div class="col-lg-3 form-group">
            <label class="control-label small">Original Effective Date </label>
            <input type="date" class="form-control input-sm" id="date11" />
        </div>

        <div class="col-lg-3 form-group">
            <label class="control-label small">Effective Date *</label>
            <input type="date" class="form-control input-sm" id="date11" />
        </div>


        <div class="col-lg-3 form-group">
            <label class="control-label small">Expiration Date</label>
            <input type="date" class="form-control input-sm" id="date12" />
        </div>

        <div class="form-group col-md-3">
            <label class="control-label small">Type Of Coverage *?</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="ane"> Individual
                </label>
                <label class="radio-inline">
                    <input type="radio" name="ane"> Shared
                </label>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label small">Do You Have Unlimited Coverage With this Insurance Carrier?</label>
            <label class="radio-inline">
                <input type="radio" name="ane"> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="ane"> No
            </label>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label small">Amount Of Coverage Aggregate</label>
            <input type="number" class="form-control" id="Aggregate" />
        </div>


        <div class="form-group col-md-4">
            <label class="control-label small">Amount Of Coverage Per Occurance</label>
            <input type="number" class="form-control" id="Coverage" />
        </div>

        <div class="clearfix"></div><br>

        <div class=" col-md-3 form-group">
            <label class="control-label small">Policy Includes Tail Coverage?</label>

            <div>
                <label class="radio-inline">
                    <input type="radio" name="ane"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" name="ane"> No
                </label>
            </div>
        </div>


        <div class="col-md-3 form-group">
            <div>
                <label class="control-label small">Policy Number</label>
                <input type="text" class="form-control input-sm" id="number11" placeholder="policy number">
            </div>
        </div>



        <div class=" col-md-5 form-group">
            <label></label>
            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select Insurance Document</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
        </div>
        <br>
        <div class="col-md-1 form-group">
            <div>

                <a href="/Content/Document/ATTESTATIONOFSITEVISIT.pdf" class="pointer" target="_blank" data-toggle="tooltip" data-placement="top" title="Preview"><i class="fa fa-2x fa-file"></i></a>
            </div>
        </div>


    </div>


    <div class="panel-body">
        <div class="col-md-12">


        </div>
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="control-label small">Have You Ever Been Denied Proffessional Liability Insurance?</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" ng-click="showDenied()" name="ane"> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-click="hideDenied()" name="ane"> No
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-show="showInput">
            <div class="form-group col-md-6">
                <label class="control-label small">Denial Date</label>
                <input type="date" class="form-control" id="date13" />
            </div>

            <div class="form-group col-md-6">
                <label class="control-label small">Denial Reason</label>
                <input type="text" class="form-control" id="Reason" />
            </div>
        </div>

        <div class="col-md-12">


        </div>
    </div>

    <div class="col-md-12">
        @*<button class="btn btn-success pull-right">Initiate Verification</button>*@
        <button class="btn btn-success btn-sm pull-right">Save</button>
        <button class="btn btn-warning btn-sm pull-left" ng-click="cancelProfessionalLiabilty()">Cancel</button>
    </div>
</div>



