@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationProviderViewModel

@{

}
<div class="container">

</div>

@Html.Partial("~/Areas/Portal/Views/ProviderBridge/AddProvider/_ProviderHeader.cshtml")
<div class="AddProviderModal" id="AddNewProvider">
    <div class="row">
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e=>e.FirstName)</label>
            @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "FIRST NAME" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.MiddleName)</label>
            @Html.TextBoxFor(e => e.MiddleName, new { @class = "form-control Add_Provider text-uppercase", @placeholder = "MIDDLE NAME" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.LastName)</label>
            @Html.TextBoxFor(e => e.LastName, new { @class = "form-control Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "LAST NAME" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.ContactName)</label>
            @Html.TextBoxFor(e => e.ContactName, new { @class = "form-control Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "CONTACT NAME" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.NPI)</label>
            @Html.TextBoxFor(e => e.NPI, new { @class = "form-control Add_Provider  mandatory_field_halo  loser_field", @placeholder = "NPI" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.TaxID)</label>
            @Html.TextBoxFor(e => e.TaxID, new { @class = "form-control Add_Provider  mandatory_field_halo  loser_field", @placeholder = "TAX ID" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.Specialty)</label>
            @Html.TextBoxFor(e => e.Specialty, new { @class = "form-control Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "SPECIALTY" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.PhoneNumber)</label>
            @Html.TextBoxFor(e => e.PhoneNumber, new { @class = "form-control Add_Provider  mandatory_field_halo  loser_field", @placeholder = "PHONE NUMBER" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.FaxNumber)</label>
            @Html.TextBoxFor(e => e.FaxNumber, new { @class = "form-control Add_Provider  mandatory_field_halo  loser_field", @placeholder = "FAX NUMBER" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.FacilityName)</label>
            @Html.TextBoxFor(e => e.FacilityName, new { @class = "form-control Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "FACILITY NAME" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.Address1)</label>
            @Html.TextBoxFor(e => e.Address1, new { @class = "form-control Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "ADDRESS 1" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.Address2)</label>
            @Html.TextBoxFor(e => e.Address2, new { @class = "form-control Add_Provider text-uppercase ", @placeholder = "ADDRESS 2" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.City)</label>
            @Html.TextBoxFor(e => e.City, new { @class = "form-control Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "CITY" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.State)</label>
            @Html.TextBoxFor(e => e.State, new { @class = "form-control Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "STATE" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.ZipCode)</label>
            @Html.TextBoxFor(e => e.ZipCode, new { @class = "form-control Add_Provider mandatory_field_halo  loser_field ", @placeholder = "ZIP CODE" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.PlanName)</label>
            @Html.TextBoxFor(e => e.PlanName, new { @class = "form-control Add_Provider text-uppercase", @placeholder = "ULTIMATE", @value = "ULTIMATE", @readonly = "readonly" })
        </div>
        <div class="col-md-4 col-md-4 col-sm-12">
            <label>@Html.LabelFor(e => e.PhysicianGroupName)</label>
            @Html.TextBoxFor(e => e.PhysicianGroupName, new { @class = "form-control Add_Provider text-uppercase", @placeholder = "PHYSICIAN GROUP NAME" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-4 col-sm-12">
            <input type="checkbox" class="checkbox-radio form-control" id="ProviderNetwork" name="ProviderNetwork" />
            <label class="theme_label_data" for="ProviderNetwork"><span></span>PROVIDER NETWORK</label>
        </div>
        
    </div>
</div>
@Html.Partial("~/Areas/Portal/Views/ProviderBridge/AddProvider/_ProviderFooter.cshtml")
