@model PortalTemplate.Areas.Billing.Models.Clearing_House.ClearingHouseViewModel

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="">Clearing house Information</span>
    </legend>
    <div class="panel-body col-lg-12">
        <div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 divwidth_auto">
                <div>
                    Clearing House Id
                </div>
                <div class="summary_data">
                    <span id="ReqFirstName" class="bolding text-uppercase ng-binding">@Model.ClearingHouseId</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 divwidth_auto">
                <div>
                    Clearing House Name
                </div>
                <div class="summary_data">
                    <span id="ReqLastName" class="bolding text-uppercase ng-binding">@Model.ClearingHouseName</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 divwidth_auto">
                <div>
                    Address Line1
                </div>
                <div class="summary_data">
                    <span class="bolding text-uppercase ng-binding ">@Model.ClearingHouseAddressLine1</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 divwidth_auto">
                <div>
                    Address Line2
                </div>
                <div class="summary_data">
                    <span class="bolding text-uppercase wrap-span-content ng-binding text-uppercase">@Model.ClearingHouseAddressLine2</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 divwidth_auto">
                <div>
                    City
                </div>
                <div class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding text-uppercase">@Model.ClearingHouseCity</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  divwidth_auto">
                <div>
                    State
                </div>
                <div class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding text-uppercase">@Model.ClearingHouseState</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  divwidth_auto">
                <div>
                    Zip
                </div>
                <div class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding text-uppercase">@Model.ClearingHouseZip</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  divwidth_auto">
                <div>
                    Payers
                </div>
                <div class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">

                        @foreach (var item in Model.ClearingHousePayers)
                        {
                            <span class="text-uppercase">@item.PayerName, </span>
                        }

                    </span>
                </div>
            </div>
        </div>

    </div>
</fieldset>
<div class="x_content margin_top_20_px button-styles clearfix">
    <button class="btn btn-warning btn-xs pull-left previous_clearingHouse_btn" data-toggle="tooltip" title="Back">Back</button>
    <button class="btn btn-success btn-xs pull-right edit_clearingHouse_btn" data-toggle="tooltip" title="Edit">Edit</button>
</div>

<script src="~/Areas/Billing/Scripts/AppJs/ClearingHouse/Unminifed/ClearingHouseView.js"></script>