
    <span class="theme_depend text-uppercase TableHeading">Post Graduate Training/CME Details HISTORY</span>
    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" @*onclick="clearDiv(this)"*@ data-toggle="collapse" data-target="#PostGraduateTrainingDetails"><i class="fa fa-times" aria-hidden="true"></i></button></span>
    <div class="x_content zero-padding-left">
        <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
            <thead class="theme_thead">
                <tr>

                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search text-uppercase " required /><label>SCHOOL NAME</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search text-uppercase" required /><label>START DATE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search text-uppercase" required /><label>COMPLETION DATE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search text-uppercase" required /><label>EXPIRATION DATE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search text-uppercase" required /><label>DOCUMENT</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search text-uppercase" required /><label>NOTES</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search text-uppercase" required /><label>ACTION</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody id="scrolldummybody">
                @foreach (var item in Model)
        {

            <tr>
                <td class="col-lg-1">@item.SchoolName</td>
                <td class="col-lg-1">@item.StartDate</td>
                <td class="col-lg-2">@item.CompletionDate</td>
                <td class="col-lg-2">@item.ExpirationDate</td>
                <td class="col-lg-2"><i class="fa fa-file"></i></td>
                <td class="col-lg-1">  <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>School Name:-</b> @item.SchoolName, <br /><b>State:-</b>@item.State, <br /><b>Street No:-</b> @item.StreetNumber">...</a></td>
                <td class="col-lg-1" align="center">
                    <button data-toggle="modal" data-target="#PersonalDetailsHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button>
                </td>
            </tr>
}

                @*<tr>
                        <td class="col-lg-2">YES</td>
                        <td class="col-lg-1">ASSOCIATE DEGREE</td>
                        <td class="col-lg-1">04-11-2002</td>
                        <td class="col-lg-2">04-11-2012</td>
                        <td class="col-lg-2">FEMALE</td>
                        <td class="col-lg-2"><i class="fa fa-file"></i></td>
                        <td class="col-lg-1" >  <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>School Name:-</b> Allen Schools, <br /><b>State:-</b> Florida, <br /><b>Street No:-</b> 04">...</a></td>
                        <td class="col-lg-1" align="center">
                            <button data-toggle="modal" data-target="#PersonalDetailsHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">YES</td>
                        <td class="col-lg-1">ASSOCIATE DEGREE</td>
                        <td class="col-lg-1">04-11-2003</td>
                        <td class="col-lg-2">04-11-2012</td>
                        <td class="col-lg-2">MALE</td>
                        <td class="col-lg-2"><i class="fa fa-file"></i></td>
                        <td class="col-lg-1" >  <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>School Name:-</b> Allen Schools, <br /><b>State:-</b> Florida, <br /><b>Street No:-</b> 04">...</a></td>
                        <td class="col-lg-1" align="center">
                            <button data-toggle="modal" data-target="#PersonalDetailsHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">YES</td>
                        <td class="col-lg-1">ASSOCIATE DEGREE</td>
                        <td class="col-lg-1">04-11-2004</td>
                        <td class="col-lg-2">04-11-2012</td>
                        <td class="col-lg-2">MALE</td>
                        <td class="col-lg-2"><i class="fa fa-file"></i></td>
                        <td class="col-lg-1" >  <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /><b>School Name:-</b> Allen Schools, <br /><b>State:-</b> Florida, <br /><b>Street No:-</b> 04">...</a></td>
                        <td class="col-lg-1" align="center">
                            <button data-toggle="modal" data-target="#PersonalDetailsHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>*@
            </tbody>
        </table>
    </div>
