
<p-link filepath="~/Areas/AM/Resources/JSONData/AccountsData.js"></p-link>
<p-link filepath="~/Areas/AM/Resources/JSONData/BusinessProcessesData.js"></p-link>
<p-link filepath="~/Areas/AM/Resources/JSONData/Teams.js"></p-link>
<p-link filepath="~/Areas/AM/Resources/JSONData/Roles.js"></p-link>
<p-link filepath="~/Areas/AM/Resources/JSONData/Accounts.js"></p-link>
<p-script filepath="~/Areas/AM/Scripts/Accounts/NonMinified/AccountList.js"></p-script>
@*<p-script filepath="~/Areas/AM/Scripts/bootstrap-multiselect.js"></p-script>
<p-link filepath="~/Areas/AM/Styles/bootstrap-multiselect.css" />*@
<p-script filepath="~/Areas/AM/Scripts/Users/NonMinified/AddUser.js"></p-script>
<p-script filepath="~/Areas/AM/Scripts/select2.min.js"></p-script>
<p-link filepath="~/Areas/AM/Styles/select2.css" />

    <style>
        legend {
            width: auto;
            border: none;
        }

        .work_menu {
            top: 165px;
        }

        .inner-addon {
            position: relative;
        }

            /* style glyph */
            .inner-addon .fa {
                position: absolute;
                padding: 6px;
                pointer-events: none;
            }

        .work_menu2 {
            width: 94%;
            margin-top: 37px;
            background: #203764;
            margin-left: -8px;
            z-index: 1;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            transition: all 500ms ease;
            border-top: 1px solid #102c63;
            border-left: 1px solid #102c63;
            border-bottom: 1px solid #102c63;
        }

        .right-addon .fa {
            right: 0px;
        }

        .right-addon input {
            padding-right: 30px;
        }
    </style>
    <div class="col-lg-12 AddNewUser">

        @Html.Partial("~/Areas/AM/Views/AccountManagement/_UserGeneralInfo.cshtml")
        @Html.Partial("~/Areas/AM/Views/AccountManagement/_UserAccountMappingInfo.cshtml")
        <div class="col-lg-12">
            <input type="button" class="btn btn-sm btn-success pull-right outertabclose" data-parentid="AddNewUser" onclick="CreateNewUser()" value="CREATE" />
            <input type="button" class="btn btn-sm btn-danger pull-right" onclick="CancelCreateNewUser()" value="CANCEL" />
            <br />
        </div>
    </div>
    @Html.Partial("~/Areas/AM/Views/AccountManagement/_AddNewAccountModal.cshtml")
    @Html.Partial("~/Areas/AM/Views/AccountManagement/_DeactivateAccountModal.cshtml")
    @Html.Partial("~/Areas/AM/Views/AccountManagement/_ActivationAccountModal.cshtml")
    @Html.Partial("~/Areas/AM/Views/AccountManagement/_AddNewUserModal.cshtml")


    <div id="TopMenu">
        @Html.Partial("~/Areas/AM/Views/AccountManagement/_TopMenu.cshtml")
    </div>
    <div id="AccountsListData" hidden>
        @Html.Partial("~/Areas/AM/Views/AccountManagement/_AccountsList.cshtml")
    </div>
    <div id="BusinessProcessesData" hidden>
        @Html.Partial("~/Areas/AM/Views/AccountManagement/_BusinessProcesses.cshtml")
    </div>
    <div id="ViewDepartmentsData" hidden>
        @Html.Partial("~/Areas/AM/Views/AccountManagement/_Departments.cshtml")
    </div>
    <div id="ViewTeamsData" hidden>
        @Html.Partial("~/Areas/AM/Views/AccountManagement/_Teams.cshtml")
    </div>
    <div id="ViewUserRolesData" hidden>
        @Html.Partial("~/Areas/AM/Views/AccountManagement/_UserRoles.cshtml")
    </div>
