@*<p-script filepath="~/Areas/AM/Scripts/BusinessProcess/NonMinified/BusinessProcess.js"></p-script>*@
<style>
    .inner-addon {
        position: relative;
    }

        /* style glyph */
        .inner-addon .fa {
            position: absolute;
            padding: 6px;
            pointer-events: none;
        }

    .right-addon .fa {
        right: 0px;
    }

    .right-addon input {
        padding-right: 30px;
    }
</style>
<div class="row">
    <div class="col-lg-2 col-md-3 col-xs-6" style="position:fixed">
        @Html.Partial("~/Areas/AM/Views/AccountManagement/_BusinessProcessFloatMenu.cshtml")
    </div>
    <div class="col-lg-offset-2 col-lg-10 col-md-9 col-xs-6" style="margin-top:22px">
        <div id="Tabclaimsmanagement" hidden>
            @Html.Partial("~/Areas/AM/Views/AccountManagement/_ClaimsManagement.cshtml")
        </div>
        <div id="Tabmembermanagement" hidden>
            @Html.Partial("~/Areas/AM/Views/AccountManagement/_MemberManagement.cshtml")
        </div>
        <div id="Tabprovidermanagement" hidden>
            @Html.Partial("~/Areas/AM/Views/AccountManagement/_ProviderManagement.cshtml")
        </div>
        <div id="Tabutilizationmanagement" hidden>
            @Html.Partial("~/Areas/AM/Views/AccountManagement/_UtilizationManagement.cshtml")
        </div>
        <div id="Tabcaremanagement" hidden>
            @Html.Partial("~/Areas/AM/Views/AccountManagement/_CareManagement.cshtml")
        </div>
        <div id="Tabdiseasemanagement" hidden>
            @Html.Partial("~/Areas/AM/Views/AccountManagement/_DiseaseManagement.cshtml")
        </div>
        <div id="Tabbillingmanagement" >
            @Html.Partial("~/Areas/AM/Views/AccountManagement/_BillingManagement.cshtml")
        </div>
        <div id="Tabcapitation" hidden>
            @Html.Partial("~/Areas/AM/Views/AccountManagement/_Capitation.cshtml")
        </div>
    </div>
</div>
