@model AHC.CD.WebUI.MVC.Areas.Profile.Models.PracticeLocationInformation.PracticeLocationViewModel

<span ng-if="tempObject.FacilityID">
    @Html.HiddenFor(model => model.FacilityID, new { data_ng_value = "tempObject.FacilityID" })
    @Html.HiddenFor(model => model.FacilityDetail.FacilityDetailID, new { data_ng_value = "tempObject.FacilityDetail.FacilityDetailID" })
    @Html.HiddenFor(model => model.FacilityDetail.Service.FacilityServiceID, new { data_ng_value = "tempObject.FacilityDetail.Service.FacilityServiceID" })
    @Html.HiddenFor(model => model.FacilityDetail.Accessibility.FacilityAccessibilityID, new { data_ng_value = "tempObject.FacilityDetail.Accessibility.FacilityAccessibilityID" })
    @Html.HiddenFor(model => model.FacilityDetail.Language.FacilityLanguageID, new { data_ng_value = "tempObject.FacilityDetail.Language.FacilityLanguageID" })
    @Html.HiddenFor(model => model.FacilityDetail.PracticeOfficeHour.PracticeOfficeHourID, new { data_ng_value = "tempObject.FacilityDetail.PracticeOfficeHour.PracticeOfficeHourID" })
</span>

<div class="clearfix"></div>
@*Add Section Of General Information For Facility Data Starts Here*@
<fieldset>
    <legend>
        General Information
    </legend>
    <div class="form-group">
        <div class="col-md-12">
            @*<div class="col-md-3 form-group" ng-hide="true">
                <label class="control-label small">Facility Name *</label>
                <select name="OrginizationId" class="form-control input-sm" data-val="true" data-val-required="Please select organization" data-ng-model="OrganizationID">
                    <option selected ng-repeat="organization in organizations track by $index" value="{{organization.OrganizationID}}">{{organization.Name}}</option>
                </select>
                @Html.ValidationMessageFor(model => model.OrginizationId, "", new { @class = "text-danger" })
            </div>*@
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.FacilityName, htmlAttributes: new { @class = "control-label small" })
                @Html.EditorFor(model => model.FacilityName, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.FacilityName", placeholder = "Facility Name" } })
                @Html.ValidationMessageFor(model => model.FacilityName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label small" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.Name", placeholder = "Corporate Name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label small" })
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.Street", placeholder = "street address" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Building, htmlAttributes: new { @class = "control-label small" })
                @Html.EditorFor(model => model.Building, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.Building", placeholder = "apartment/unit #" } })
                @Html.ValidationMessageFor(model => model.Building, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })
                @Html.TextBoxFor(model => model.City, new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.City", placeholder = "City", data_ng_change = "addressAutocomplete(tempSecondObject.City)", onfocus = "showLocationList(this)" })
                <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip">
                    <table class="table table-striped table-bordered table-hover table-condensed marginBottomAutosearch">
                        <tbody>
                            <tr ng-repeat="location in Locations track by $index" ng-click="selectedLocation(location)" class="pointer">
                                <td>{{location.City}} - {{location.State}} - {{location.CountryCode}}</td>
                            </tr>
                            <tr ng-if="Locations.length == 0">
                                <td>Not Available</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.State", placeholder = "state name" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label small" })
                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.ZipCode", placeholder = "zip code" } })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3 form-group" ng-init="tempObject.Country = 'United States'">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label small" })
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.Country", placeholder = "Country name" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })
                @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.County", placeholder = "County name" } })
                @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <span ng-if="!tempObject.CountryCodeTelephone" ng-init="tempObject.CountryCodeTelephone='+1'"></span>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default countryCodeClass" tooltip data-toggle="tooltip" data-placement="top" title="Select Country Code" ng-click="showContryCodeDiv('TelephoneCountryCode'+$index)"> {{tempObject.CountryCodeTelephone}} <span class="caret"></span></button>
                        </div>
                        <div class="countryDailCodeContainer popover fade bottom in" role="tooltip" id='TelephoneCountryCode{{$index}}'>
                            <div class="arrow"></div>
                            <h3 class="popover-title">Select Country Dial Code</h3>
                            <div class="popover-content">
                                <select ng-model="tempObject.CountryCodeTelephone" name="CountryCodeTelephone">
                                    <option ng-repeat="code in CountryDialCodes" value="{{code.dial_code}}" ng-selected="code.dial_code == tempObject.CountryCodeTelephone">{{code.name}}({{code.dial_code}})</option>
                                </select>
                            </div>
                        </div>
                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", data_val="true", data_val_required="Please enter Telephone Number", data_ng_model = "tempObject.Telephone", tooltip = true, data_toggle = "tooltip", data_placement = "top", title = "For example if your number is (352)515-3633, then please enter it as 3525153633" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.CountryCodeTelephone, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <span ng-if="!tempObject.CountryCodeFax" ng-init="tempObject.CountryCodeFax='+1'"></span>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default countryCodeClass" tooltip data-toggle="tooltip" data-placement="top" title="Select Country Code" ng-click="showContryCodeDiv('CountryCodeFax'+$index)"> {{tempObject.CountryCodeFax}} <span class="caret"></span></button>
                        </div>
                        <div class="countryDailCodeContainer popover fade bottom in" role="tooltip" id='CountryCodeFax{{$index}}'>
                            <div class="arrow"></div>
                            <h3 class="popover-title">Select Country Dial Code</h3>
                            <div class="popover-content">
                                <select ng-model="tempObject.CountryCodeFax" name="CountryCodeFax">
                                    <option ng-repeat="code in CountryDialCodes" value="{{code.dial_code}}" ng-selected="code.dial_code == tempObject.CountryCodeFax">{{code.name}}({{code.dial_code}})</option>
                                </select>
                            </div>
                        </div>
                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", data_val = "true", data_val_required = "Please enter Fax", data_ng_model = "tempObject.Fax", tooltip = true, data_toggle = "tooltip", data_placement = "top", title = "For example if your number is (352)515-3633, then please enter it as 3525153633" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.CountryCodeFax, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label small" })
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.EmailAddress", placeholder = "Office email address" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</fieldset>
@*Add Section Of General Information For Facility Data Ends Here*@

@*Add Section Of Accessibilities For Facility Data Starts Here*@
<fieldset>
    <legend>
        Accessibilities
    </legend>
    <div id="newPracLocAccessibilitiesFormDiv">
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-md-12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger validSummary" })
                <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityID">
                    @Html.HiddenFor(model => model.FacilityDetail.Accessibility.FacilityAccessibilityID, new { id = "FacilityAccessibilityID", ng_value = "tempObject.FacilityDetail.Accessibility.FacilityAccessibilityID", data_ng_model = "tempObject.FacilityDetail.Accessibility.FacilityAccessibilityID" })
                </span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group zero-padding-left-right-div">
                <div class="col-md-12">
                    <div class="col-md-6 ">
                        <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[0].FacilityAccessibilityQuestionId}}" />
                        <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].FacilityAccessibilityQuestionAnswerID">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].FacilityAccessibilityQuestionAnswerID}}" />
                        </span>
                        <label class="control-label small">{{masterAccessibilityQuestions[0].ShortTitle}}</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].AnswerYesNoOption" data-val="true" data-val-required="Please select whether this meets ADA accessibility requirements?" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].AnswerYesNoOption"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].AnswerYesNoOption" data-val="true" data-val-required="Please select whether this meets ADA accessibility requirements?" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].AnswerYesNoOption"> No
                            </label>
                        </div>
                        <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].AnswerYesNoOption" data-valmsg-replace="true">
                            <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].AnswerYesNoOption" class=""></span>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <hr class="zero-margin-top-bottom-hr">
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label small">{{masterAccessibilityQuestions[1].Title}}</label>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[1].FacilityAccessibilityQuestionId}}" />
                        <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].FacilityAccessibilityQuestionAnswerID">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].FacilityAccessibilityQuestionAnswerID}}" />
                        </span>
                        <label class="control-label small">{{masterAccessibilityQuestions[1].ShortTitle}}</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].AnswerYesNoOption" data-val="true" data-val-required="Please Select Whether This Site Offers Handicapped Access For Building" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].AnswerYesNoOption"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].AnswerYesNoOption" data-val="true" data-val-required="Please Select Whether This Site Offers Handicapped Access For Building" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].AnswerYesNoOption"> No
                            </label>
                        </div>
                        <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].AnswerYesNoOption" data-valmsg-replace="true">
                            <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].AnswerYesNoOption" class=""></span>
                        </span>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[2].FacilityAccessibilityQuestionId}}" />
                        <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].FacilityAccessibilityQuestionAnswerID">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].FacilityAccessibilityQuestionAnswerID}}" />
                        </span>
                        <label class="control-label small">{{masterAccessibilityQuestions[2].ShortTitle}}</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Handicapped Access For Parking" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].AnswerYesNoOption" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].AnswerYesNoOption"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Handicapped Access For Parking" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].AnswerYesNoOption" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].AnswerYesNoOption"> No
                            </label>
                        </div>
                        <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].AnswerYesNoOption" data-valmsg-replace="true">
                            <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].AnswerYesNoOption" class=""></span>
                        </span>
                    </div>
                    <div class="col-md-3">
                        <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[3].FacilityAccessibilityQuestionId}}" />
                        <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].FacilityAccessibilityQuestionAnswerID">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].FacilityAccessibilityQuestionAnswerID}}" />
                        </span>
                        <label class="control-label small">{{masterAccessibilityQuestions[3].ShortTitle}}</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Handicapped Access For Restroom" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].AnswerYesNoOption" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].AnswerYesNoOption"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Handicapped Access For Restroom" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].AnswerYesNoOption" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].AnswerYesNoOption"> No
                            </label>
                        </div>
                        <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].AnswerYesNoOption" data-valmsg-replace="true">
                            <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].AnswerYesNoOption" class=""></span>
                        </span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label small">Other Handicapped Access</label>
                        <div>
                            <input type="text" data-val="true" data-val-length="Other Handicapped Access Must Be Between 2 And 50 Characters." data-val-length-max="50" data-val-length-min="2" data-val-regex="Only Alphabets Numbers, And Spaces Accepted." data-val-regex-pattern="^[a-zA-Z0-9 ]*$" class="form-control input-sm" name="FacilityDetail.Accessibility.OtherHandicappedAccess" data-ng-model="tempObject.FacilityDetail.Accessibility.OtherHandicappedAccess" />
                        </div>
                        <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.OtherHandicappedAccess" data-valmsg-replace="true">
                            <span for="FacilityDetail.Accessibility.OtherHandicappedAccess" class=""></span>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="zero-margin-top-bottom-hr">
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <div class="col-md-12">
                        <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[4].FacilityAccessibilityQuestionId}}" />
                        <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].FacilityAccessibilityQuestionAnswerID">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].FacilityAccessibilityQuestionAnswerID}}" />
                        </span>
                        <label class="control-label small">{{masterAccessibilityQuestions[4].ShortTitle}}</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Other Services For The Disabled" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].AnswerYesNoOption" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].AnswerYesNoOption"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Other Services For The Disabled" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].AnswerYesNoOption" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].AnswerYesNoOption"> No
                            </label>
                        </div>
                        <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].AnswerYesNoOption" data-valmsg-replace="true">
                            <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].AnswerYesNoOption" class=""></span>
                        </span>
                        <br />
                    </div>
                    <div ng-show="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].AnswerYesNoOption == '1'">
                        <div class="col-md-3">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[5].FacilityAccessibilityQuestionId}}" />
                            <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].FacilityAccessibilityQuestionAnswerID">
                                <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].FacilityAccessibilityQuestionAnswerID}}" />
                            </span>
                            <label class="control-label small">{{masterAccessibilityQuestions[5].ShortTitle}}</label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Services For Text Telephony(TTY)" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].AnswerYesNoOption" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].AnswerYesNoOption"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Services For Text Telephony(TTY)" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].AnswerYesNoOption" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].AnswerYesNoOption"> No
                                </label>
                            </div>
                            <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].AnswerYesNoOption" data-valmsg-replace="true">
                                <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].AnswerYesNoOption" class=""></span>
                            </span>
                        </div>
                        <div class="col-md-3">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[6].FacilityAccessibilityQuestionId}}" />
                            <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].FacilityAccessibilityQuestionAnswerID">
                                <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].FacilityAccessibilityQuestionAnswerID}}" />
                            </span>
                            <label class="control-label small">{{masterAccessibilityQuestions[6].ShortTitle}}</label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Services For Mental/Physical Impairment Services" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].AnswerYesNoOption" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].AnswerYesNoOption"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether This Site Offers Services For Mental/Physical Impairment Services" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].AnswerYesNoOption" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].AnswerYesNoOption"> No
                                </label>
                            </div>
                            <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].AnswerYesNoOption" data-valmsg-replace="true">
                                <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].AnswerYesNoOption" class=""></span>
                            </span>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label small">Other Disability Services</label>
                            <div>
                                <input type="text" data-val="true" data-val-length="Other Disability Services Must Be Between 2 And 50 Characters." data-val-length-max="50" data-val-length-min="2" data-val-regex="Only Alphabets Numbers, And Spaces Accepted." data-val-regex-pattern="^[a-zA-Z0-9 ]*$" class="form-control input-sm" name="FacilityDetail.Accessibility.OtherDisabilityServices" data-ng-model="tempObject.FacilityDetail.Accessibility.OtherDisabilityServices" />
                            </div>
                            <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.OtherDisabilityServices" data-valmsg-replace="true">
                                <span for="FacilityDetail.Accessibility.OtherDisabilityServices" class=""></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="zero-margin-top-bottom-hr">
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <div class="col-md-12">
                        <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[7].FacilityAccessibilityQuestionId}}" />
                        <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].FacilityAccessibilityQuestionAnswerID">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].FacilityAccessibilityQuestionAnswerID}}" />
                        </span>
                        <label class="control-label small">{{masterAccessibilityQuestions[7].ShortTitle}}</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" data-val="true" data-val-required="Please Select Whether Accessible By Public Transportation" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].AnswerYesNoOption" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].AnswerYesNoOption"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" data-val="true" data-val-required="Please Select Whether Accessible By Public Transportation" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].AnswerYesNoOption" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].AnswerYesNoOption"> No
                            </label>
                        </div>
                        <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].AnswerYesNoOption" data-valmsg-replace="true">
                            <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].AnswerYesNoOption" class=""></span>
                        </span>
                        <br />
                    </div>
                    <div ng-show="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].AnswerYesNoOption == '1'">
                        <div class="col-md-3">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[8].FacilityAccessibilityQuestionId}}" />
                            <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].FacilityAccessibilityQuestionAnswerID">
                                <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].FacilityAccessibilityQuestionAnswerID}}" />
                            </span>
                            <label class="control-label small">{{masterAccessibilityQuestions[8].ShortTitle}}</label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether Accessible By Bus" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].AnswerYesNoOption" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].AnswerYesNoOption"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether Accessible By Bus" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].AnswerYesNoOption" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].AnswerYesNoOption"> No
                                </label>
                            </div>
                            <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].AnswerYesNoOption" data-valmsg-replace="true">
                                <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].AnswerYesNoOption" class=""></span>
                            </span>
                        </div>
                        <div class="col-md-3">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[9].FacilityAccessibilityQuestionId}}" />
                            <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].FacilityAccessibilityQuestionAnswerID">
                                <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].FacilityAccessibilityQuestionAnswerID}}" />
                            </span>
                            <label class="control-label small">{{masterAccessibilityQuestions[9].ShortTitle}}</label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether Accessible By Subway" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].AnswerYesNoOption" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].AnswerYesNoOption"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether Accessible By Subway" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].AnswerYesNoOption" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].AnswerYesNoOption"> No
                                </label>
                            </div>
                            <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].AnswerYesNoOption" data-valmsg-replace="true">
                                <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].AnswerYesNoOption" class=""></span>
                            </span>
                        </div>
                        <div class="col-md-3">
                            <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].FacilityAccessibilityQuestionId" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].FacilityAccessibilityQuestionId" value="{{masterAccessibilityQuestions[10].FacilityAccessibilityQuestionId}}" />
                            <span ng-if="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].FacilityAccessibilityQuestionAnswerID">
                                <input type="hidden" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].FacilityAccessibilityQuestionAnswerID" ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].FacilityAccessibilityQuestionAnswerID" value="{{tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].FacilityAccessibilityQuestionAnswerID}}" />
                            </span>
                            <label class="control-label small">{{masterAccessibilityQuestions[10].ShortTitle}}</label>
                            <div>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether Accessible By Regional Train" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].AnswerYesNoOption" value=1 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].AnswerYesNoOption"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" data-val="true" data-val-required="Please Select Whether Accessible By Regional Train" name="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].AnswerYesNoOption" value=2 data-ng-model="tempObject.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].AnswerYesNoOption"> No
                                </label>
                            </div>
                            <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].AnswerYesNoOption" data-valmsg-replace="true">
                                <span for="FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].AnswerYesNoOption" class=""></span>
                            </span>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label small">Other Transportation Access</label>
                            <div>
                                <input type="text" data-val="true" data-val-length="Other Disability Services Must Be Between 2 And 50 Characters." data-val-length-max="50" data-val-length-min="2" data-val-regex="Only Alphabets Numbers, And Spaces Accepted." data-val-regex-pattern="^[a-zA-Z0-9 ]*$" class="form-control input-sm" name="FacilityDetail.Accessibility.OtherTransportationAccess" data-ng-model="tempObject.FacilityDetail.Accessibility.OtherTransportationAccess" />
                            </div>
                            <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Accessibility.OtherTransportationAccess" data-valmsg-replace="true">
                                <span for="FacilityDetail.Accessibility.OtherTransportationAccess" class=""></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</fieldset>
@*Add Section Of Accessibilities For Facility Data Ends Here*@

@*Add Section Of Services For Facility Data Starts Here*@
<fieldset>
    <legend>
        Services
    </legend>
    <div class="col-lg-12 zero-padding-left-right-div">
        <div class="col-md-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger validSummary" })
            <span ng-if="tempObject.FacilityDetail.Service.FacilityServiceID">
                @Html.HiddenFor(model => model.FacilityDetail.Service.FacilityServiceID, new { id = "FacilityServiceID", ng_value = "tempObject.FacilityDetail.Service.FacilityServiceID", data_ng_model = "tempObject.FacilityDetail.Service.FacilityServiceID" })
            </span>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-12">
                    <label for="Contact" class="control-label">Does this location provide any of the following services?</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.FacilityDetail.Service.LaboratoryServicesYesNoOption, htmlAttributes: new { @class = "control-label small" })
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.FacilityDetail.Service.LaboratoryServicesYesNoOption, (int)value, new { data_ng_model = "tempObject.FacilityDetail.Service.LaboratoryServicesYesNoOption" }) @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                            </label>
                        }
                    </div>
                    @Html.ValidationMessageFor(model => model.FacilityDetail.Service.LaboratoryServicesYesNoOption, "", new { @class = "text-danger" })
                </div>
                <div ng-show="tempObject.FacilityDetail.Service.LaboratoryServicesYesNoOption == '1'" class="form-group col-md-8">
                    @Html.LabelFor(model => model.FacilityDetail.Service.LaboratoryAccreditingCertifyingProgram, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        @Html.TextBoxFor(model => model.FacilityDetail.Service.LaboratoryAccreditingCertifyingProgram, new { @class = "form-control input-sm", data_ng_model = "tempObject.FacilityDetail.Service.LaboratoryAccreditingCertifyingProgram" })
                    </div>
                    @Html.ValidationMessageFor(model => model.FacilityDetail.Service.LaboratoryAccreditingCertifyingProgram, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="clearfix"></div>
            <hr class="zero-margin-top-bottom-hr">
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.FacilityDetail.Service.RadiologyServicesYesNoOption, htmlAttributes: new { @class = "control-label small" })
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.FacilityDetail.Service.RadiologyServicesYesNoOption, (int)value, new { data_ng_model = "tempObject.FacilityDetail.Service.RadiologyServicesYesNoOption" }) @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                            </label>
                        }
                    </div>
                    @Html.ValidationMessageFor(model => model.FacilityDetail.Service.RadiologyServicesYesNoOption, "", new { @class = "text-danger" })
                </div>
                <div ng-show="tempObject.FacilityDetail.Service.RadiologyServicesYesNoOption == '1'" class="form-group col-md-8">
                    @Html.LabelFor(model => model.FacilityDetail.Service.RadiologyXRayCertificateType, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        @Html.TextBoxFor(model => model.FacilityDetail.Service.RadiologyXRayCertificateType, new { @class = "form-control input-sm", data_ng_model = "tempObject.FacilityDetail.Service.RadiologyXRayCertificateType" })
                    </div>
                    @Html.ValidationMessageFor(model => model.FacilityDetail.Service.RadiologyXRayCertificateType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="clearfix"></div>
            <hr class="zero-margin-top-bottom-hr">
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <div class="form-group col-md-4" ng-repeat="serviceQuestion in masterServiceQuestions">
                    <input type="hidden" ng-model="tempObject.FacilityDetail.Service.FacilityServiceQuestionAnswers[$index].FacilityServiceQuestionId" value="{{serviceQuestion.FacilityServiceQuestionID}}" name="FacilityDetail.Service.FacilityServiceQuestionAnswers[{{$index}}].FacilityServiceQuestionId" />
                    <span ng-if="tempObject.FacilityDetail.Service.FacilityServiceQuestionAnswers[$index].FacilityServiceQuestionAnswerID">
                        <input type="hidden" name="FacilityDetail.Service.FacilityServiceQuestionAnswers[{{$index}}].FacilityServiceQuestionAnswerID" ng-model="tempObject.FacilityDetail.Service.FacilityServiceQuestionAnswers[$index].FacilityServiceQuestionAnswerID" value="{{tempObject.FacilityDetail.Service.FacilityServiceQuestionAnswers[$index].FacilityServiceQuestionAnswerID}}" />
                    </span>
                    <label class="control-label small">{{serviceQuestion.ShortTitle}}</label>
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                <input type="radio" name="FacilityDetail.Service.FacilityServiceQuestionAnswers[{{$index}}].AnswerYesNoOption" value="@value" ng-model="tempObject.FacilityDetail.Service.FacilityServiceQuestionAnswers[$index].Answer"> @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                            </label>
                        }
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr class="zero-margin-top-bottom-hr">
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacilityDetail.Service.IsAnesthesiaAdministeredYesNoOption, htmlAttributes: new { @class = "control-label small" })
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.FacilityDetail.Service.IsAnesthesiaAdministeredYesNoOption, (int)value, new { data_ng_model = "tempObject.FacilityDetail.Service.IsAnesthesiaAdministeredYesNoOption" }) @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                            </label>
                        }
                    </div>
                    @Html.ValidationMessageFor(model => model.FacilityDetail.Service.IsAnesthesiaAdministeredYesNoOption, "", new { @class = "text-danger" })
                </div>
                <div ng-show="tempObject.FacilityDetail.Service.IsAnesthesiaAdministeredYesNoOption == '1'">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FacilityDetail.Service.AnesthesiaCategory, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            @Html.TextBoxFor(model => model.FacilityDetail.Service.AnesthesiaCategory, new { @class = "form-control input-sm", data_ng_model = "tempObject.FacilityDetail.Service.AnesthesiaCategory" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FacilityDetail.Service.AnesthesiaCategory, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                    <label class="control-label small col-md-12">Who Administers It?</label>
                    <div class="col-md-12 zero-padding-left-right-div">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.FacilityDetail.Service.AnesthesiaAdminFirstName, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.FacilityDetail.Service.AnesthesiaAdminFirstName, new { @class = "form-control input-sm", data_ng_model = "tempObject.FacilityDetail.Service.AnesthesiaAdminFirstName" })
                            </div>
                            @Html.ValidationMessageFor(model => model.FacilityDetail.Service.AnesthesiaAdminFirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.FacilityDetail.Service.AnesthesiaAdminLastName, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.FacilityDetail.Service.AnesthesiaAdminLastName, new { @class = "form-control input-sm", data_ng_model = "tempObject.FacilityDetail.Service.AnesthesiaAdminLastName" })
                            </div>
                            @Html.ValidationMessageFor(model => model.FacilityDetail.Service.AnesthesiaAdminLastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <hr class="zero-margin-top-bottom-hr" />
            <div class="clearfix"></div><br />
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacilityDetail.Service.PracticeTypeID, htmlAttributes: new { @class = "control-label small" })
                    <div class="radio">
                        <label class="radio-inline" ng-repeat="practiceType in masterPracticeTypes">
                            <input type="radio" name="FacilityDetail.Service.PracticeTypeID" value="{{practiceType.FacilityPracticeTypeID}}" data-ng-model="tempObject.FacilityDetail.Service.PracticeTypeID"> {{practiceType.Title}}
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.FacilityDetail.Service.AdditionalOfficeProcedures, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        @Html.TextBoxFor(model => model.FacilityDetail.Service.AdditionalOfficeProcedures, new { @class = "form-control input-sm", data_ng_model = "tempObject.FacilityDetail.Service.AdditionalOfficeProcedures" })
                    </div>
                    @Html.ValidationMessageFor(model => model.FacilityDetail.Service.AdditionalOfficeProcedures, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</fieldset>
@*Add Section Of Services For Facility Data Ends Here*@

@*Add Section Of Languages For Facility Data Starts Here*@
<fieldset>
    <legend>
        Languages
    </legend>
    <div class="col-md-12 zero-padding-left-right-div">
        @Html.ValidationSummary(true, "", new { @class = "text-danger validSummary" })
        <span ng-if="tempObject.FacilityDetail.Language.FacilityLanguageID">
            @Html.HiddenFor(model => model.FacilityDetail.Language.FacilityLanguageID, new { ng_value = "tempObject.FacilityDetail.Language.FacilityLanguageID" })
        </span>
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(model => model.FacilityDetail.Language.NonEnglishLanguages, htmlAttributes: new { @class = "control-label small" })
                <br />
                <span>Select Languages:</span>
                <div>
                    <input class="form-control input-sm" ng-model="searchLang" id="searchLanguageKnow" onblur="this.value=''" ng-focus="showLanguageList('FacilityLanguageDiv')" />
                    <div class="LanguageSelectAutoList popover fade bottom in" role="tooltip" id="FacilityLanguageDiv">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                <tr ng-repeat="lang in filteredLangResults = (tempLanguages | filter:searchLang) track by $index" ng-click="SelectLanguage(lang)" class="pointer">
                                    <td>{{lang.name}} ({{lang.nativeName}})</td>
                                </tr>
                                <tr ng-if="tempLanguages.length == 0">
                                    <td>No data..... </td>
                                </tr>
                                <tr ng-if="tempLanguages.length > 0 && filteredLangResults.length == 0">
                                    <td>Match not found..... </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5  remove-rigth-padding" ng-if="tempObject.FacilityDetail.Language.NonEnglishLanguages.length > 0">
            Selected Languages ({{tempObject.FacilityDetail.Language.NonEnglishLanguages.length}}) : <br />
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Language</th>
                        <th>Interpreters Available? *</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lang in tempObject.FacilityDetail.Language.NonEnglishLanguages track by $index" ng-click="selectedLanguage(kl,$index);">
                        <td>
                            <span>{{lang.Language}}</span>
                            <span ng-if="lang.NonEnglishLanguageID">
                                <input type="hidden" name="FacilityDetail.Language.NonEnglishLanguages[{{$index}}].NonEnglishLanguageID" value="{{lang.NonEnglishLanguageID}}" />
                            </span>
                            <input type="hidden" name="FacilityDetail.Language.NonEnglishLanguages[{{$index}}].Language" value="{{lang.Language}}" />
                        </td>
                        <td ng-init="tempObject.FacilityDetail.Language.NonEnglishLanguages[$index].InterpretersAvailable = 'YES' ">
                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                            {
                                <label class="radio-inline">
                                    <input type="radio" name="FacilityDetail.Language.NonEnglishLanguages[{{$index}}].InterpretersAvailableYesNoOption" ng-model="tempObject.FacilityDetail.Language.NonEnglishLanguages[$index].InterpretersAvailable" value="@value" data-val="true" data-val-required="Please specify if Interpreter's Available." /> @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                                </label>
                            }
                            <br />
                            <span class="text-danger field-validation-error" data-valmsg-for="FacilityDetail.Language.NonEnglishLanguages[{{$index}}].InterpretersAvailableYesNoOption" data-valmsg-replace="true">
                                <span for="FacilityDetail.Language.NonEnglishLanguages[{{$index}}].InterpretersAvailableYesNoOption" class=""></span>
                            </span>
                        </td>
                        <td ng-class="{true:'label-warning'}[selectedIndex==$index]"><i class="fa fa-minus-circle pointer" style="color:#d9534f;" ng-click="DeselectLanguage(lang)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 clearfix" style="padding-bottom:15px;"></div>
    <div class="col-lg-12 ">
        @Html.LabelFor(model => model.FacilityDetail.Language.AmericanSignLanguageYesNoOption, htmlAttributes: new { @class = "control-label small" })
        &nbsp;&nbsp;
        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
        {
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.FacilityDetail.Language.AmericanSignLanguageYesNoOption, (int)value, new { data_ng_model = "tempObject.FacilityDetail.Language.AmericanSignLanguageYesNoOption" }) @value.ToString()
            </label>
        }
        <br />
        @Html.ValidationMessageFor(model => model.FacilityDetail.Language.AmericanSignLanguageYesNoOption, "", new { @class = "text-danger" })
    </div>
    <div class="clearfix"></div>
    <div ng-if="activeMessageDiv=='alertLanguageKnownError'" class="col-md-12 alert alert-{{messageType}}" role="alert">
        <button ng-click="closeAlertMessage()" class="close"><span>&times;</span></button>
        Errors: <br />
        <div ng-repeat="err in messageDesc track by $index">{{err}}</div>
    </div>
</fieldset>
@*Add Section Of Languages For Facility Data Ends Here*@

@*Add Section Of Office Hours For Facility Data Starts Here*@
<fieldset>
    <legend>
        Office Hours
    </legend>
    <div class="form-group ">
        <div class="col-md-12 zero-padding-left-right-div">
            <div class="col-md-2 form-group">
                <label class="control-label small">Day</label>
            </div>
            <div class="col-md-10">
                <div class="col-md-4 form-group">
                    <label class="control-label small">Start Time</label>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label small">End Time</label>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label small">Actions</label>
                </div>
            </div>
        </div>
        <div class="col-md-12 zero-padding-left-right-div" ng-repeat="PracticeDay in tempObject.PracticeDays track by $index" ng-init="parentIndex = $index">
            <span ng-if="tempObject.FacilityDetail.PracticeOfficeHour.PracticeDays[$index].PracticeDayID">
                <input type="hidden" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{$index}}].PracticeDayID" value="{{PracticeDay.PracticeDayID}}" />
            </span>
            <input type="hidden" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{$index}}].DayName" value="{{PracticeDay.DayName}}" />
            <input type="hidden" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{$index}}].DayOfWeek" value="{{PracticeDay.DayOfWeek}}" />
            <input type="hidden" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{$index}}].DayOff" value="{{PracticeDay.DayOff}}" />
            <div class="col-md-2 form-group">
                <label ng-if="PracticeDay.DayOff == 'NO'" class="btn btn-xs btn-default btn-circle" ng-click="dayOffToggel(PracticeDay)"><i class="fa fa-power-off" tooltip data-toggle="tooltip" data-placement="top" title="Day on ?"></i></label>
                <label ng-if="PracticeDay.DayOff == 'YES'" class="btn btn-xs btn-primary btn-circle" ng-click="dayOffToggel(PracticeDay)"><i class="fa fa-power-off" tooltip data-toggle="tooltip" data-placement="top" title="Day off ?"></i></label>
                <label class="control-label small">{{PracticeDay.DayName}}</label>
            </div>
            <div class="col-md-10">
                <!-- ngRepeat: t in Days[0].Times -->
                <div ng-repeat="DailyHour in PracticeDay.DailyHours track by $index" class="col-md-12 zero-padding-left-right-div ng-scope">
                    <div class="col-md-4 form-group">
                        <span ng-if="tempObject.FacilityDetail.PracticeOfficeHour.PracticeDays[$parent.$index].DailyHours[$index].PracticeDailyHourID">
                            <input type="hidden" name="FacilityDetail.PracticeOfficeHour.PracticeDays[parentIndex].DailyHours[{{$index}}].PracticeDailyHourID" value="{{DailyHour.PracticeDailyHourID}}" />
                        </span>
                        <div class="input-group input-group-sm">
                            <input type="time" class="form-control input-sm" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{parentIndex}}].DailyHours[{{$index}}].StartTime" id="startTime_{{$parent.$index}}{{$index}}" ng-if="DailyHour.StartTime" value="{{DailyHour.StartTime=='Day Off' ? '08:00' : DailyHour.StartTime}}" ng-show="PracticeDay.DayOff=='NO'" ng-disabled="PracticeDay.DayOff=='YES'">
                            <input type="text" class="form-control input-sm" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{parentIndex}}].DailyHours[{{$index}}].StartTime" id="startTime_{{$parent.$index}}{{$index}}" value="Day Off" readonly="" ng-show="PracticeDay.DayOff=='YES'" ng-disabled="PracticeDay.DayOff=='YES' && $index > 0">
                            @*<input type="text" class="form-control input-sm" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{$parent.$index}}].DailyHours[{{$index}}].StartTime"  value="Day Off" readonly="" ng-show="PracticeDay.DayOff=='YES'" ng-disabled="PracticeDay.DayOff=='NO' && $index == 0">
                                <input type="text" class="form-control input-sm samay" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{$parent.$index}}].DailyHours[{{$index}}].StartTime" id="startTime_{{$parent.$index}}{{$index}}" value="{{DailyHour.StartTime}}" samay-time-picker readonly="" ng-show="PracticeDay.DayOff=='NO'">*@
                            @*<span class="input-group-btn">
                                    <button class="btn btn-info" type="button" samay-toggel ng-disabled="PracticeDay.DayOff=='YES'">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </span>*@

                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <div class="input-group input-group-sm">
                            <input type="time" class="form-control input-sm" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{parentIndex}}].DailyHours[{{$index}}].EndTime" id="endTime_{{$parent.$index}}{{$index}}" ng-if="DailyHour.EndTime" value="{{DailyHour.EndTime=='Day Off' ? '17:00' : DailyHour.EndTime}}" ng-show="PracticeDay.DayOff=='NO'" ng-disabled="PracticeDay.DayOff=='YES'">
                            <input type="text" class="form-control input-sm" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{parentIndex}}].DailyHours[{{$index}}].EndTime" id="endTime_{{$parent.$index}}{{$index}}" value="Day Off" readonly="" ng-show="PracticeDay.DayOff=='YES'" ng-disabled="PracticeDay.DayOff=='YES' && $index > 0">
                            @*<input type="text" class="form-control input-sm" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{$parent.$index}}].DailyHours[{{$index}}].EndTime"  value="Day Off" readonly="" ng-show="PracticeDay.DayOff=='YES'" ng-disabled="PracticeDay.DayOff=='NO' && $index == 0">
                                <input type="text" class="form-control input-sm samay" name="FacilityDetail.PracticeOfficeHour.PracticeDays[{{$parent.$index}}].DailyHours[{{$index}}].EndTime" id="endTime_{{$parent.$index}}{{$index}}" value="{{DailyHour.EndTime}}" samay-time-picker readonly="" ng-show="PracticeDay.DayOff=='NO'">*@
                            @*<span class="input-group-btn">
                                    <button class="btn btn-info" type="button" samay-toggel ng-disabled="PracticeDay.DayOff=='YES'">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </span>*@

                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label ng-show="$index==PracticeDay.DailyHours.length-1" class="btn btn-xs btn-success" ng-click="addDailyHour(PracticeDay.DailyHours)" ng-if="PracticeDay.DayOff=='NO'"><i class="fa fa-plus-circle"></i></label>
                        <label ng-show="$index>0" class="btn btn-xs btn-danger" ng-click="removeDailyHour(PracticeDay.DailyHours, $index)" ng-if="PracticeDay.DayOff=='NO'">  <i class="fa fa-minus-circle"></i></label>
                    </div>

                    <span class="col-md-12" id="msg_{{$parent.$index}}{{$index}}" style="color: #b94a48;"></span>

                </div><!-- end ngRepeat: t in Days[0].Times -->
            </div>
        </div>
    </div>
</fieldset>
@*Add Section Of Office Hours For Facility Data Ends Here*@

@*Add Section Of Mid-Level Practitioners Starts Here*@
<fieldset>
    <legend>
        Mid-Level Practitioners
    </legend>
    <div id="MidLevelPractitionerDiv">
        <div class="col-lg-12">
            <table ng-if="tempObject.FacilityDetail.FacilityPracticeProviders.length>0" class=" table table-bordered table-condensed customtbodystyle table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Middle name</th>
                        <th>Last Name</th>
                        <th>NPI Number </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody ng-repeat="practitioner in tempObject.FacilityDetail.FacilityPracticeProviders track by $index">
                    <tr>
                        <td>{{practitioner.FirstName || 'Not Available'}}</td>
                        <td>{{practitioner.MiddleName || 'Not Available'}}</td>
                        <td>{{practitioner.LastName || 'Not Available'}}</td>
                        <td>{{practitioner.NPINumber || 'Not Available'}}</td>
                        <td class="col-lg-2 zero-padding-left-right-div">
                            <a class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Edit" ng-click="operateThirdEditControl('editMidlevel'+$index,practitioner);" tooltip><i class="fa fa-edit"></i></a>
                            <a class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Remove" ng-click="removeMidLevelProviderPractitioner(practitioner,visibilityControlPracLoc);" tooltip><i class="fa fa-minus-circle"></i></a>
                            <a tooltip data-toggle="tooltip" data-placement="right" title="Add New" ng-hide="$index+1!=tempObject.FacilityDetail.FacilityPracticeProviders.length" class="btn btn-xs btn-success" ng-click="resetMidLevelProviderPractitioner();"><i class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr ng-if="visibilityThirdControl==('editMidlevel'+$index)">
                        <td colspan="5">
                            <div class="col-lg-12 zero-padding-left-right-div">
                                <div class="col-lg-3">
                                    <div>
                                        <label class="control-label small">First Name*</label>
                                    </div>
                                    <input type="text" class="form-control input-sm" name="fname" ng-model="tempThirdObject.FirstName" />
                                    <span class="text-danger field-validation-error" id="FnameMsgInner"></span>
                                </div>
                                <div class="col-lg-3">
                                    <div>
                                        <label class="control-label small">Middle Name</label>
                                    </div>
                                    <input type="text" class="form-control input-sm" name="Mname" value="{{tempThirdObject.MiddleName}}" ng-model="tempThirdObject.MiddleName" />
                                    <span class="text-danger field-validation-error" id="MnameMsgInner"></span>
                                </div>
                                <div class="col-lg-3">
                                    <div>
                                        <label class="control-label small">Last Name*</label>
                                    </div>
                                    <input type="text" class="form-control input-sm" name="Lname" value="{{tempThirdObject.LastName}}" ng-model="tempThirdObject.LastName" />
                                    <span class="text-danger field-validation-error" id="LnameMsgInner"></span>
                                </div>
                                <div class="col-lg-3">
                                    <div>
                                        <label class="control-label small">NPI Number</label>
                                    </div>
                                    <input type="text" class="form-control input-sm" name="NPINumber" value="{{tempThirdObject.NPINumber}}" ng-model="tempThirdObject.NPINumber" />
                                    <span class="text-danger field-validation-error" id="NPINumberMsgInner"></span>
                                </div>
                                <div class="clearfix"></div><br />
                            </div>
                            <div class="col-md-12 form-group" ng-if="visibilityThirdControl==('editMidlevel'+$index)">
                                <a class="btn btn-warning btn-sm" ng-click="operateThirdCancelControl();">Cancel</a>
                                <a class="btn btn-success btn-sm pull-right" ng-click="updateFacilityMidlevelPractioners(tempObject.FacilityDetail.FacilityPracticeProviders,tempThirdObject, $index, 'inner');">Update</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="tempObject.FacilityDetail.FacilityPracticeProviders.length>0">
                <div ng-repeat="practitioner in tempObject.FacilityDetail.FacilityPracticeProviders">
                    <span ng-if="tempObject.FacilityDetail.FacilityPracticeProviders[$index].FacilityPracticeProviderID">
                        <input type="hidden" name="FacilityDetail.FacilityPracticeProviders[{{$index}}].FacilityPracticeProviderID" value="{{practitioner.FacilityPracticeProviderID}}" />
                    </span>
                    <input type="hidden" name="FacilityDetail.FacilityPracticeProviders[{{$index}}].PracticeType" value="{{practitioner.PracticeType}}" />
                    <input type="hidden" name="FacilityDetail.FacilityPracticeProviders[{{$index}}].RelationType" value="{{practitioner.RelationType}}" />
                    <input type="hidden" name="FacilityDetail.FacilityPracticeProviders[{{$index}}].FirstName" value="{{practitioner.FirstName}}" />
                    <input type="hidden" name="FacilityDetail.FacilityPracticeProviders[{{$index}}].MiddleName" value="{{practitioner.MiddleName}}" />
                    <input type="hidden" name="FacilityDetail.FacilityPracticeProviders[{{$index}}].LastName" value="{{practitioner.LastName}}" />
                    <input type="hidden" name="FacilityDetail.FacilityPracticeProviders[{{$index}}].NPINumber" value="{{practitioner.NPINumber}}" />
                    <input type="hidden" name="FacilityDetail.FacilityPracticeProviders[{{$index}}].StatusType" value="{{practitioner.StatusType}}" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <fieldset ng-if="tempObject.FacilityDetail.FacilityPracticeProviders.length<1 || addmidlevelNew">
            <legend>
                Add Mid-Level Practitioners
            </legend>
            <div class="col-md-12 form-group zero-padding-left-right-div">
                <div class="form-group col-md-6">
                    <label class="control-label small">Use Existing Mid-Level Practitioners?</label>
                    <div>
                        <label class="radio-inline"><input type="radio" name="RelationType" value="@AHC.CD.Entities.MasterData.Enums.RelationType.Internal" ng-change="clearData(MidLevelProviderPractitioner.RelationType)" ng-model="MidLevelProviderPractitioner.RelationType" /> Yes </label>
                        <label class="radio-inline"><input type="radio" name="RelationType" value="@AHC.CD.Entities.MasterData.Enums.RelationType.External" ng-change="clearData(MidLevelProviderPractitioner.RelationType)" ng-model="MidLevelProviderPractitioner.RelationType"  ng-click="cleartextboxes()"/> No </label>
                    </div>
                </div>
                <div class="form-group col-md-6 pull-right">
                    <label class="control-label small">Select Mid-Level Practitioner </label>
                    <input type="text" ng-disabled="MidLevelProviderPractitioner.RelationType != '@AHC.CD.Entities.MasterData.Enums.RelationType.Internal'" class="form-control input-sm" name="midLevelPractioner" data-practitioners="midLevelPractitioners" data-onselect="setFacilityMidLevelPractitioner" data-msg="Mid-Level Practitioners" data-autocomplete="practitioner" practitionersearch />
                </div>
            </div>
            <div class="col-lg-12 zero-padding-left-right-div" ng-if="MidLevelProviderPractitioner.FirstName || MidLevelProviderPractitioner.LastName || MidLevelProviderPractitioner.NPINumber || MidLevelProviderPractitioner.RelationType == 'External'">
                <div class="col-lg-3">
                    <div>
                        <label class="control-label small" >First Name*</label>
                    </div>
                    <input type="text" class="form-control input-sm" name="fname" placeholder="Fname" value="{{MidLevelProviderPractitioner.FirstName}}" ng-model="MidLevelProviderPractitioner.FirstName" />
                    <span class="text-danger field-validation-error" id="FnameMsg"></span>
                </div>
                <div class="col-lg-3">
                    <div>
                        <label class="control-label small" >Middle Name</label>
                    </div>
                    <input type="text" class="form-control input-sm" name="Mname" placeholder="Mname" value="{{MidLevelProviderPractitioner.MiddleName}}" ng-model="MidLevelProviderPractitioner.MiddleName" />
                    <span class="text-danger field-validation-error" id="MnameMsg"></span>
                </div>
                <div class="col-lg-3">
                    <div>
                        <label class="control-label small" >Last Name*</label>
                    </div>
                    <input type="text" class="form-control input-sm" name="=Lname" placeholder="Lname" value="{{MidLevelProviderPractitioner.LastName}}" ng-model="MidLevelProviderPractitioner.LastName" />
                    <span class="text-danger field-validation-error" id="LnameMsg"></span>
                </div>
                <div class="col-lg-3">
                    <div>
                        <label class="control-label small" >NPI Number*</label>
                    </div>
                    <input  type="text" class="form-control input-sm" name="NPINumber" value="{{MidLevelProviderPractitioner.NPINumber}}" ng-model="MidLevelProviderPractitioner.NPINumber" placeholder="NPINumber" />
                    <span class="text-danger field-validation-error" id="NPINumberMsg"></span>
                </div>
                <div class="clearfix"></div><br />
            </div>
            <div class="col-md-12 form-group">

                <a class="btn btn-warning btn-sm" ng-click="resetMidLevelProviderPractitioner();" ng-if="tempObject.FacilityDetail.FacilityPracticeProviders">Cancel</a>
                <a class="btn btn-success btn-sm pull-right" ng-disabled="!(MidLevelProviderPractitioner.RelationType == 'External' || (MidLevelProviderPractitioner.RelationType == 'Internal' && disableBit))" ng-click="addFacilityMidlevelPractioners(MidLevelProviderPractitioner, 'outer');">Add</a>
              
            </div>
        </fieldset>
    </div>
</fieldset>
@*Add Section Of Mid-Level Practitioners Ends Here*@

    @*Error Message For Facility Data Starts Here*@
    <div class="clearfix"></div>
    <div ng-show="activeMessageDiv=='facilityDataErrorMsg'" class="alert alert-danger" role="alert">
        <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
        {{messageDesc}}
    </div>
    <div class="clearfix"></div>
    @*Error Message For Facility Data Ends Here*@

    @*Add And Cancel Buttons For Facility Data*@
    <div class="col-lg-12" ng-if="visibilityControlPracLoc==('addPracticeLocationNew')">
        <div class="control-group">
            <button class="btn btn-warning btn-sm" ng-click="operateAddControlPracLoc('');resetDates(); hideClock();">Cancel</button>
            <button class="btn btn-success btn-sm pull-right" ng-click="validateDailyHours(tempObject.PracticeDays,'','facility', '', 'Save');">Save</button>
        </div>
    </div>
    @*Add And Cancel Buttons For Facility Data*@

    @*Update And Cancel Buttons For Facility Data*@
    <div class="col-lg-12" ng-if="visibilityControlPracLoc!=('addPracticeLocationNew')">
        <div class="control-group">
            <button class="btn btn-warning btn-sm" ng-click="operateCancelControl('');resetDates();hideClock();">Cancel</button>
            <button class="btn btn-success btn-sm pull-right" ng-click="validateDailyHours(tempObject.PracticeDays,'','facility', $index, 'Update');">Update</button>
        </div>
    </div>
    @*Update And Cancel Buttons For Facility Data*@
