
@*<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/Angular/ng-table.js"></script>
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/ng-table-resizable-columns.js"></script>
<link href="~/Content/Provider/ng-table.css" rel="stylesheet" />
<script src="~/Areas/Credentialing/Scripts/SingleProviderJS.js"></script>*@

<style>
    .inactive {
        pointer-events: none;
        cursor: default;
    }
</style>

<div ng-controller="singleProviderCtrl" class="col-lg-12 zero-padding-left-right-div">


    <!--Search provider starts-->

    <div class="panel panel-default small">
        <div class="panel-heading">
            <button id="tltp" class="pull-right btn btn-xs" ng-click="SearchProviderPanelToggle('SearchProviderPanel');" toggle data-toggle="tooltip" data-placement="bottom" title="show/hide"><i class="fa fa-th-list"></i></button>
            <div id="pnl">
                <h5>
                    Search Provider &nbsp;&nbsp;
                    <a id="credsearch" style="cursor: pointer; text-decoration: none;" ng-click="setActionID2(1);clearAction();" ng-class="{'btn btn-xs btn-info': selectedAction==1}">Credentialing</a> &nbsp;
                    <a id="recredsearch" style="cursor: pointer; text-decoration: none;" ng-click="setActionID2(2);clearAction();" ng-class="{'btn btn-xs btn-info': selectedAction==2}">Re-Credentialing</a> &nbsp;
                    <a id="decredsearch" style="cursor: pointer; text-decoration: none;" ng-click="setActionID2(3);clearAction();" ng-class="{'btn btn-xs btn-info': selectedAction==3}">De-Credentialing</a>
                </h5>
            </div>
        </div>
        <div role="tabpanel">
            <div id="SearchProviderPanel" class="panel-body closePanel">
                
                <div class="col-md-12">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="providerDetail">
                            <!---Provider partial starts here-->
                            @Html.Partial("~/Areas/Credentialing/Views/Initiation/_Single_Provider_SearchByDetails.cshtml")
                            <!---Provider partial ends here-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Search provider ends-->
    <!--Loading starts-->

    <div ng-show="loadingAjax" class="progress col-lg-12" ng-cloak>

        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            Loading...Please wait...
        </div>

    </div>
    <!--Loading ends-->
    <div class="clearfix"></div>
    <div ng-cloak ng-show="activeMessageDiv=='noProviderDetails'" class="col-lg-12 form-group">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span>{{messageDesc}}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--Search result starts-->
    <div class="panel panel-default small" ng-show="result">
        <div class="panel-heading">
            <button class="pull-right btn btn-xs" tooltip data-placement="bottom" data-toggle="tooltip" title="show/hide" ng-click="SearchProviderPanelToggle('SearchProviderResultPanel');"><i class="fa fa-th-list"></i></button>
            <div>Search Result</div>


        </div>
        <div role="tabpanel">
            <div id="SearchProviderResultPanel" class="panel-body closePanel">


                <div class="col-md-12">
                    <div class="tab-content">
                        @*<div ng-show="selectedAction==1" role="tabpanel" class="tab-pane active" id="SearchResult">
                                <!---Provider partial starts here-->
                                @Html.Partial("~/Areas/Credentialing/Views/Initiation/_Single_Search_Result.cshtml")
                                <!---Provider partial ends here-->
                            </div>*@
                        <div ng-show="selectedAction==1" role="tabpanel" class="tab-pane active" id="SearchResult">
                            <!---Provider partial starts here-->
                            @Html.Partial("~/Areas/Credentialing/Views/Initiation/_CredSearchResult.cshtml")
                            <!---Provider partial ends here-->
                        </div>
                        <div ng-show="selectedAction==2" role="tabpanel" class="tab-pane active" id="SearchResult">
                            <!---Provider partial starts here-->
                            @Html.Partial("~/Areas/Credentialing/Views/Initiation/_ReCredSearchResult.cshtml")
                            <!---Provider partial ends here-->
                        </div>

                        <div ng-show="selectedAction==3" role="tabpanel" class="tab-pane active" id="SearchResult">
                            <!---Provider partial starts here-->
                            <div ng-show="!isFound">
                                No Results Found
                            </div>

                            <div ng-show="isFound">
                                @Html.Partial("~/Areas/Credentialing/Views/Initiation/_DecredentialingSearchResult.cshtml")
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!--Search result ends-->
    <div class="panel panel-default small" ng-show="initiate">
        <div class="panel-heading">
            <button class="pull-right btn btn-xs" ng-click="SearchProviderPanelToggle('ProfileDetailPanel');"><i class="fa fa-th-list"></i></button>
            <div>Initiate De-Credentialing</div>
        </div>
        <div role="tabpanel">
            <div id="ProfileDetailPanel" class="panel-body closePanel">

                @*<div class="col-md-12" ng-show="profileDetail.length==0">

                    <label>

                        No Data Available

                    </label>

                </div>*@

                <div class="col-md-12" ng-show="!initiateSuccessForDeCred">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="planDetail">
                            <!---Provider partial starts here-->
                            @Html.Partial("~/Areas/Credentialing/Views/Initiation/_PlanDetailTable.cshtml")
                            <!---Provider partial ends here-->
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-lg-12 zero-padding-left-right-div">
                    <div ng-show="activeMessageDiv=='successfulInitiated'" class="alert alert-success" role="alert">
                        <div>
                            <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                            {{messageDesc}}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div ng-show="initiateSuccessForDeCred">
                    <span class="col-lg-4"><hr /></span>
                    <span class="col-lg-4 text-center h4">What would you like to do?</span>
                    <span class="col-lg-4"><hr /></span>
                </div>
                <div class="col-lg-12 zero-padding-left-right-div" ng-show="initiateSuccessForDeCred">
                    <div class="col-lg-6 text-left"><button class="btn btn-warning btn-sm" ng-click="SearchProviderPanelToggleDown('SearchProviderResultPanel'); tempObject.PlanId = '';"> Back to Search Result</button></div>
                    @*<div class="col-lg-6 text-right"><a class="btn btn-success btn-sm" href="~/Credentialing/Initiation/DecredentialingSummary/{{ProfileID}}" target="_blank"> View Application </a></div>*@
                </div>

            </div>
        </div>
    </div>
    <!--Initiation ends-->
    <!--Initiation starts-->
    <div class="panel panel-default small" ng-show="showInit">
        <div class="panel-heading">
            <button class="pull-right btn btn-xs" tooltip data-placement="bottom" data-toggle="tooltip" title="show/hide" ng-click="SearchProviderPanelToggle('InitiationPanel');"><i class="fa fa-th-list"></i></button>
            <div ng-show="selectedAction==1">Initiate Credentialing</div>
            <div ng-show="selectedAction==2">Initiate Re-Credentialing</div>
            <div ng-show="selectedAction==3">Initiate De-Credentialing</div>
        </div>
        <div role="tabpanel">
            <div id="InitiationPanel" class="panel-body closePanel">


                <div class="col-md-12">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Initiation">
                            <!---Provider partial starts here-->
                            @Html.Partial("~/Areas/Credentialing/Views/Initiation/_Single_Provider_InitCredentialing.cshtml")

                            <!---Provider partial ends here-->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Initiation ends-->

</div>
