
<ul class="innerTabsArea queueTabs" style="width:100.7%;">
    @*@if (ViewBag.SubTabView.IsWorkTab)
        {*@
    <li id="workmenu" class="queueSubTab active tabs innerTabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="work">
        <a class="innerTabsLinks topminus3"><span class="text-uppercase">Work</span><label class="label queueUppertab_label">@ViewBag.QueueCount.WorkCount</label></a><span class="pointing-caret"></span>
    </li>
    @*}
        @if (ViewBag.SubTabView.IsSubmittedTab)
        {*@
    <li id="submittedmenu" class="queueSubTab tabs innerTabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="submitted">
        <a class="innerTabsLinks"><span class="text-uppercase">HP Submitted</span><label class="label queueUppertab_label">@ViewBag.QueueCount.SubmittedCount</label></a><span class="pointing-caret"></span>
    </li>
    @*}
        @if (ViewBag.SubTabView.IsCompletedTab)
        {*@
    <li id="completedmenu" class="queueSubTab tabs innerTabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="completed">
        <a class="innerTabsLinks"><span class="text-uppercase ng-binding">Completed</span><label class="label queueUppertab_label">@ViewBag.QueueCount.CompletedCount</label></a><span class="pointing-caret"></span>
    </li>
    @*}
        @if (ViewBag.SubTabView.IsCTFUTab)
        {*@
    <li id="CTFUmenu" class="queueSubTab tabs innerTabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="ctfu">
        <a class="innerTabsLinks"><span class="text-uppercase ng-binding">CTFU</span><label class="label queueUppertab_label">@ViewBag.QueueCount.CTFUCount</label></a><span class="pointing-caret"></span>
    </li>
    @*}*@
</ul>
