@model PortalTemplate.Areas.Portal.Models.FacilityBridge.AddFacility.AddFacilityViewModel

<script src="~/Areas/Portal/Scripts/ProviderBridge/AddProvider/AddProvider.js"></script>
@{

}
<div class="container">

</div>

<fieldset class="AddProviderModal" id="AddNewProvider">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">Facility Info</span>
        </legend>
        <div class="row">

            <div class="col-md-3 col-lg-3 col-sm-6">
                <label>@Html.LabelFor(e => e.FacilityType)</label>
                @Html.DropDownListFor(m => m.FacilityType, new SelectList(Enum.GetValues(typeof(PortalTemplate.Areas.Portal.Models.FacilityBridge.AddFacility.FacilityTypes))), "Select Facility Type", new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo variable_width_select  loser_field" })
            </div>



            <div class="col-md-9 col-lg-9 col-sm-6">
                <label>@Html.LabelFor(e => e.FullName)</label>
                @Html.TextBoxFor(e => e.FullName, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "Facility NAME" })
            </div>

        </div>
    </fieldset>
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">Contact Info</span>
        </legend>
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.ContactName)</label>
                @Html.TextBoxFor(e => e.ContactName, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "CONTACT NAME" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.NPI)</label>
                @Html.TextBoxFor(e => e.NPI, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "NPI" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.IndividualTaxID)</label>
                @Html.TextBoxFor(e => e.IndividualTaxID, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "TAX ID" })
            </div>

            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.PlanName)</label>
                @Html.TextBoxFor(e => e.PlanName, new { @class = "form-control input-xs Add_Provider text-uppercase", @placeholder = "ULTIMATE", @value = "ULTIMATE", @readonly = "readonly" })
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.PhoneNumber)</label>
                @Html.TextBoxFor(e => e.PhoneNumber, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "PHONE NUMBER" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.FaxNumber)</label>
                @Html.TextBoxFor(e => e.FaxNumber, new { @class = "form-control input-xs Add_Provider  mandatory_field_halo  loser_field", @placeholder = "FAX NUMBER" })
            </div>



            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.Address1)</label>
                @Html.TextBoxFor(e => e.Address1, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "ADDRESS 1" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.Address2)</label>
                @Html.TextBoxFor(e => e.Address2, new { @class = "form-control input-xs Add_Provider text-uppercase ", @placeholder = "ADDRESS 2" })
            </div>

            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.City)</label>
                @Html.TextBoxFor(e => e.City, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "CITY" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.State)</label>
                @Html.TextBoxFor(e => e.State, new { @class = "form-control input-xs Add_Provider text-uppercase mandatory_field_halo  loser_field", @placeholder = "STATE" })
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                <label>@Html.LabelFor(e => e.ZipCode)</label>
                @Html.TextBoxFor(e => e.ZipCode, new { @class = "form-control input-xs Add_Provider mandatory_field_halo  loser_field ", @placeholder = "ZIP CODE" })
            </div>
        </div>
    </fieldset>
</fieldset>

