@model AHC.CD.WebUI.MVC.Areas.Profile.Models.EducationHistory.EducationDetailViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

<div id="viewGraduation">
    <div class=" col-lg-12 zero-padding-left-right-div">
        

        <fieldset>
            <legend>
                Graduate/Medical School Details
            </legend>
            <div class="col-md-12 zero-padding-left-right-div">
                
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.USGraduateYesNoOption, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.IsUSGraduate || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.GraduateType, htmlAttributes: new { @class = "control-label small" })
                    <div ng-if="graduationDetailViewModel.GraduateType == 1">
                        <i class="data-label">{{graduationDetailViewModel.GraduationType || 'Not Available'}}</i>
                    </div>
                    <div ng-if="graduationDetailViewModel.GraduateType == 2">
                        <i class="data-label">Fifth Pathway Graduate</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.SchoolInformation.SchoolName, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{graduationDetailViewModel.SchoolInformation.SchoolName || 'Not Available'}}</i>
                    </div>

                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.QualificationDegree, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{graduationDetailViewModel.QualificationDegree || 'Not Available'}}</i>
                    </div>
                </div>
               
            </div>
            <div class="col-md-12 zero-padding-left-right-div">

                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.Street, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{graduationDetailViewModel.SchoolInformation.Street || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.Building, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i ng-if="graduationDetailViewModel.SchoolInformation.Building" class="data-label wrap-words">{{graduationDetailViewModel.SchoolInformation.Building}}</i>
                        <i ng-if="!graduationDetailViewModel.SchoolInformation.Building" class="data-label">Not Available</i>
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.City, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{graduationDetailViewModel.SchoolInformation.City || 'Not Available'}}</i>
                    </div>
                </div>

                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.State, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{graduationDetailViewModel.SchoolInformation.State || 'Not Available'}}</i>
                    </div>
                </div>

            </div>
            <div class="col-md-12 zero-padding-left-right-div">
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.ZipCode, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i ng-if="graduationDetailViewModel.SchoolInformation.ZipCode" class="data-label">{{graduationDetailViewModel.SchoolInformation.ZipCode}}</i>
                        <i ng-if="!graduationDetailViewModel.SchoolInformation.ZipCode" class="data-label">Not Available</i>
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.Country, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{graduationDetailViewModel.SchoolInformation.Country || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.County, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i ng-if="graduationDetailViewModel.SchoolInformation.County" class="data-label wrap-words">{{graduationDetailViewModel.SchoolInformation.County}}</i>
                        <i ng-if="!graduationDetailViewModel.SchoolInformation.County" class="data-label">Not Available</i>
                    </div>
                </div>

                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.Email, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i ng-if="graduationDetailViewModel.SchoolInformation.Email" class="data-label wrap-words">{{graduationDetailViewModel.SchoolInformation.Email}}</i>
                        <i ng-if="!graduationDetailViewModel.SchoolInformation.Email" class="data-label">Not Available</i>
                    </div>
                </div>



            </div>
            <div class="col-md-12 zero-padding-left-right-div">
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.SchoolInformation.Phone, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i ng-if="graduationDetailViewModel.SchoolInformation.Phone" class="data-label">{{graduationDetailViewModel.SchoolInformation.PhoneCountryCode}}-{{graduationDetailViewModel.SchoolInformation.Phone}}</i>
                        <i ng-if="!graduationDetailViewModel.SchoolInformation.Phone" class="data-label">Not Available</i>
                    </div>

                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.SchoolInformation.Fax, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i ng-if="graduationDetailViewModel.SchoolInformation.Fax" class="data-label">{{graduationDetailViewModel.SchoolInformation.FaxCountryCode}}-{{graduationDetailViewModel.SchoolInformation.Fax}}</i>
                        <i ng-if="!graduationDetailViewModel.SchoolInformation.Fax" class="data-label">Not Available</i>
                    </div>

                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.StartDate  || 'Not Available' | date:'MM-dd-yyyy' }}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EndDate || 'Not Available' | date:'MM-dd-yyyy'}}</i>
                    </div>

                </div>
            </div>
            <div class="col-lg-12 zero-padding-left-right-div">
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.CompletedYesNoOption, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.IsCompleted || 'Not Available'}}</i>
                    </div>

                </div>
                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Preview, ViewBag.Roles, false))
                {
                    <div class="col-lg-3 form-group">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            @Html.LabelFor(model => model.CertificatePath, htmlAttributes: new { @class = "control-label small" })
                            <div ng-if="graduationDetailViewModel.CertificatePath">
                                <i class="data-label"><a href="/Document/View?path={{graduationDetailViewModel.CertificatePath}}" cl class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="Diploma"><i class="fa fa-file"></i></a></i>
                            </div>
                            <div ng-if="!graduationDetailViewModel.CertificatePath">
                                <i class="data-label"> Not available</i>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="clearfix"></div>
            <div ng-show="activeMessageDiv=='updatedPGDetails'+$index" class="alert alert-success" role="alert">
                <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                {{messageDesc}}
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-lg-12 zero-padding-left-right-div">
                <div class="col-md-12 form-group">
                    <button type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('')">Cancel</button>
                    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
                    {
                        <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="operateEditControl($index+'_editgraduationDetailViewModel', graduationDetailViewModel)">Edit</button>
                    }

                </div>
            </div>
                
        </fieldset>
        
        
       
        
    </div>
</div>
