<br />
<div role="tabpanel" class="zero-padding-left-right-div">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs small" role="tablist">
            <li role="presentation" class="active"><a href="#Demographics" aria-controls="Demographics" role="tab" data-toggle="tab">Demographics</a></li>
            <li role="presentation"><a href="#Identification" aria-controls="Identification" role="tab" data-toggle="tab">Identification & Licenses</a></li>
            <li role="presentation"><a href="#Education" aria-controls="Education" role="tab" data-toggle="tab">Education History</a></li>
            <li role="presentation"><a href="#Specialty" aria-controls="Specialty" role="tab" data-toggle="tab">Specialty/Board</a></li>
            <li role="presentation"><a href="#PracticeLocation" aria-controls="PracticeLocation" role="tab" data-toggle="tab">Practice Location</a></li>
            <li role="presentation"><a href="#HospitalPrivilege" aria-controls="HospitalPrivilege" role="tab" data-toggle="tab">Hospital Privilege</a></li>
            <li role="presentation"><a href="#ProfessionalLiability" aria-controls="ProfessionalLiability" role="tab" data-toggle="tab">Professional Liability</a></li>
            <li role="presentation"><a href="#WorkHistory" aria-controls="WorkHistory" role="tab" data-toggle="tab">Work History</a></li>
            <li role="presentation"><a href="#ProfessionalReference" aria-controls="ProfessionalReference" role="tab" data-toggle="tab">Professional Reference</a></li>
            <li role="presentation"><a href="#Aff" aria-controls="Aff" role="tab" data-toggle="tab">Professional Affiliation</a></li>
            <li role="presentation"><a href="#Contract" aria-controls="Contract" role="tab" data-toggle="tab">Contract Information</a></li>
        </ul>
    </div>

    <div class="col-lg-12">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Demographics">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewDemographics.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Identification">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewIdentificationLicensing.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Education">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewEducation.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Specialty">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewSpecialty.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="PracticeLocation">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewPracticeLocationInformation.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="HospitalPrivilege">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewHospitalPrivilegeInformation.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="ProfessionalLiability">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewLiability.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="WorkHistory">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewWorkhistory.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="ProfessionalReference">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewProfessionalReference.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Aff">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewProfessionalAffilation.cshtml")
                <!---Demographics partial ends here-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Contract">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Views/Profile/_ViewContract.cshtml")
                <!---Demographics partial ends here-->
            </div>

            </div>
        </div>
  
    <div class="clearfix"></div>
</div>
