@model PortalTemplate.Areas.Billing.Models.CMS1500.New.BillingInfo

<div class="">
    @*<div class="width_13_percent claimsProfileTabsContainer claimTabContainer">
        <ul class="list-unstyled x-dtablist tabs-menu">
            <li class="current">
                <a href="#ClaimsInfoTab" class="list-item no_underline list-item-tab-1">
                    <i class="fa fa-info-circle"></i> Claim Info
                </a>
            </li>
            <li class="">
                <a href="#MemberInfo" class="list-item no_underline list-item-tab-2">
                    <i class="fa fa-user"></i> member
                </a>
            </li>
            <li class="">
                <a href="#FacilityInfo" class="list-item no_underline list-item-tab-3">
                    <i class="fa fa-building-o"></i> Facility
                </a>
            </li>
            <li>
                <a href="#ProviderInfo" class="list-item no_underline list-item-tab-4">
                    <i class="fa fa-user-md"></i> Provider
                </a>
            </li>
            <li>
                <a href="#InsuranceInfo" class="list-item no_underline list-item-tab-5">
                    <i class="fa fa-dollar"></i> Payer
                </a>
            </li>
            <li>
                <a href="#BillingProviderInfo" class="list-item no_underline list-item-tab-6">
                    <i class="fa fa-user-md"></i> Billing Provider
                </a>
            </li>
        </ul>
    </div>*@
    <div class="inner_menu_container">
        <ul class="tabs-menu clearfix">
            <li class="current">
                <a href="#ClaimsInfoTab" class="list-item no_underline list-item-tab-1">
                    <i class="fa fa-info-circle"></i> Claim Info
                </a>
            </li>
            <li class="">
                <a href="#MemberInfo" class="list-item no_underline list-item-tab-2">
                    <i class="fa fa-user"></i> Member
                </a>
            </li>
            <li class="">
                <a href="#FacilityInfo" class="list-item no_underline list-item-tab-3">
                    <i class="fa fa-building-o"></i> Facility
                </a>
            </li>
            <li>
                <a href="#ProviderInfo" class="list-item no_underline list-item-tab-4">
                    <i class="fa fa-user-md"></i> Provider
                </a>
            </li>
            <li>
                <a href="#InsuranceInfo" class="list-item no_underline list-item-tab-5">
                    <i class="fa fa-dollar"></i> Payer
                </a>
            </li>
            <li>
                <a href="#BillingProviderInfo" class="list-item no_underline list-item-tab-6">
                    <i class="fa fa-user-md"></i> Billing Provider
                </a>
            </li>
        </ul>
    </div>
    <div class="tab memberTabsPadding claims_tab_container">
        
        <div id="ClaimsInfoTab" class="custommembertab-content">
                @Html.Partial("~/Areas/Billing/Views/CreateClaim/ClaimsInfo/_ClaimInfoForm.cshtml", Model)
        </div>
        <div id="MemberInfo" class="custommembertab-content x_panel border_on_panel">
                @Html.Partial("~/Areas/Billing/Views/CreateClaim/ClaimsInfo/_MemberInfo.cshtml", Model)
        </div>
        <div id="FacilityInfo" class="custommembertab-content x_panel border_on_panel">
                @Html.Partial("~/Areas/Billing/Views/CreateClaim/ClaimsInfo/_FacilityInfo.cshtml", Model)
        </div>
        <div id="ProviderInfo" class="custommembertab-content x_panel border_on_panel">
                @Html.Partial("~/Areas/Billing/Views/CreateClaim/ClaimsInfo/_ProviderInfo.cshtml", Model)
        </div>
        <div id="InsuranceInfo" class="custommembertab-content x_panel border_on_panel">
                @Html.Partial("~/Areas/Billing/Views/CreateClaim/ClaimsInfo/_InsuranceInfo.cshtml", Model)
        </div>
        <div id="BillingProviderInfo" class="custommembertab-content x_panel border_on_panel">
                @Html.Partial("~/Areas/Billing/Views/CreateClaim/ClaimsInfo/_BillingProviderInfo.cshtml", Model)
        </div>
    </div>
 
</div>


<p-script filepath="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/ClaimsInfo.js"></p-script>