@model List<PortalTemplate.Areas.Billing.Models.CreateClaim.CreateClaimTemplate.FacilityResult>


<div id="providers_title">

</div>
<table id="ProvidersResult" class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
    <thead class="theme_thead">
        <tr>
            <th>Facility Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>

    </thead>
    <!-- ngIf: selectedMemberList.length>0 -->
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-container="@item.Id">
                <td class="ProviderName">
                    @item.FacilityId
                </td>
                <td>
                    <a href="javascript:void(0)"> @item.FacilityName</a>
                </td>
                <td class="ProviderAddress">
                    @item.FacilityAddress1 @item.FacilityAddress2
                </td>
            </tr>
        }
    </tbody>

</table>



<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/new/ProviderResultCreateClaimTemplate.js"></script>