@model List<PortalTemplate.Areas.Billing.Models.CreateClaim.MemberResultViewModel>

<table id="MemberResultForProvider" class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
    <thead class="theme_thead">
        <tr>
            <th>Subscriber ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Address</th>
            <th>PCP</th>
            <th>Plan Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-container="@item.MemberUniqueId">
                <td>@item.SubscriberID </td>
                <td>@item.MemberFullName</td>
                <td>@Html.DisplayFor(x => item.DateOfBirth)</td>
                <td>@item.MemberFullAddress</td>
                <td>@item.PCPFullName</td>
                <td>@item.PlanName</td>
                <td>@Html.DisplayFor(x => item.PlanEffectiveDate)</td>
                <td>@Html.DisplayFor(x => item.PlanTerminationDate)</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/MemberResultForProvider.js"></script>