@model List<PortalTemplate.Areas.Billing.Models.CreateClaim.ProviderResultViewModel>

<span id="provider_result_title"></span><span class="pull-right"><button class="btn btn-success btn-xs" id="ProceedToNextFromProToMem" disabled>Proceed</button></span>
<table id="ProviderResult" class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped pt-table">
    <thead class="theme_thead">
        <tr>
            <th>NPI</th>
            <th>Name</th>
            <th>Facility</th>
            <th>Tax ID</th>
            <th><input type="checkbox" class="normal-checkbox selectAllProvider" value="selectAll" /><label><span></span></label> </th>
        </tr>

    </thead>
    <!-- ngIf: selectedMemberList.length>0 -->
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-container="@item.ProviderUniqueId">
                <td>
                    @item.ProviderNPI
                </td>
                <td>
                    @item.ProviderFullName
                </td>
                <td>
                    @item.ProviderFirstAddress
                </td>
                <td>
                    @item.Taxonomy
                </td>
                <td>
                    <input type="checkbox" class="normal-checkbox individualCheckProvider" value="@item.ProviderUniqueId" /><label><span></span></label>
                </td>
            </tr>
        }
    </tbody>

</table>


<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/ProviderResult.js"></script>