@model PortalTemplate.Areas.Billing.Models.CreateClaim.MemberResultViewModel

<div id="SelectedMemberDiv">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right padding_8px runningdata runningdata-standard memberPictureFrame ClaimInformationInfo">
        <table class="table responsive-utilities table-condensed table-responsive">
            <thead class="SelectedMemberheader">
                <tr class="headings">
                    <th class="column-title">SUBSCRIBER ID# </th>
                    <th class="column-title">NAME </th>
                    <th class="column-title">DOB</th>
                    @*<th class="column-title">ADDRESS</th>*@
                    <th class="column-title">PCP</th>
                    <th class="column-title">PLAN</th>
                    <th class="column-title">START DATE</th>
                    <th class="column-title">END DATE</th>
                </tr>
            </thead>
            <tbody class="boldbody">
                <tr>
                    <td>@Model.SubscriberID </td>
                    <td>@Model.MemberFullName </td>
                    <td>@Html.DisplayFor(x => x.DateOfBirth)</td>
                    @*<td>@Model.PatientFirstAddress @Model.PatientSecondAddress</td>*@
                    <td>@Model.PCPFullName</td>
                    <td id="PayerName">@Model.PlanName</td>
                    <td>@Html.DisplayFor(x => x.PlanEffectiveDate)</td>
                    <td>@Html.DisplayFor(x => x.PlanTerminationDate)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="row margin_top_10_px" id="SelectedMemberProviders">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="div_5">
                <label>Billing Provider:<small class="text-danger">(Required)</small></label>
                <div id="SelectedMemberBillingProviderLabel">
                    ACCESS 2 HEALTHCARE
                    14690 SPRING HILL DR
                </div>
                <input class="form-control input-xs non_mandatory_field_halo" name="SelectedMemberBillingProvider" id="SelectedMemberBillingProvider" placeholder="Provider Name">
                <div class="margin_top_5_px">
                    <button class="edit-button button-styles-xs" id="SelectedMemberBillingProviderEditButtons">Edit</button>
                </div>
                <div class="margin_top_5_px">
                    <button class="view-button button-styles-xs" id="SelectedMemberBillingProviderAddButtons">Add</button>
                </div>
            </div>
            <div class="div_5">
                <label>Rendering Provider:<small class="text-danger">(Required)</small></label>
                <div id="SelectedMemberRenderingProviderLabel">
                    DALTON BENSON
                    1903 W HIGHWAY 44
                </div>
                <input class="form-control input-xs non_mandatory_field_halo" name="SelectedMemberRenderingProvider" id="SelectedMemberRenderingProvider" placeholder="Provider Name">
                <div class="margin_top_5_px">
                    <button class="edit-button button-styles-xs" id="SelectedMemberRenderingProviderEditButtons">Edit</button>
                </div>
                <div class="margin_top_5_px">
                    <button class="view-button button-styles-xs" id="SelectedMemberRenderingProviderAddButtons">Add</button>
                </div>
            </div>
            <div class="div_5">
                <label>Referring Provider:</label>
                <div id="SelectedMemberReferringProviderLabel">
                    AASMA RIAZ
                    5290 APPLEGATE DRIVE
                </div>
                <input class="form-control input-xs non_mandatory_field_halo" name="SelectedMemberReferringProvider" id="SelectedMemberReferringProvider" placeholder="Provider Name">
                <div class="margin_top_5_px">
                    <button class="edit-button button-styles-xs" id="SelectedMemberReferringProviderEditButtons">Edit</button>
                </div>
                <div class="margin_top_5_px">
                    <button class="view-button button-styles-xs" id="SelectedMemberReferringProviderAddButtons">Add</button>
                </div>

            </div>

            <div class="div_5">
                <label>Supervising Provider:</label>
                <div id="SelectedMemberSupervisingProviderLabel">
                    ALEXANDRA MOLINARES SOSA
                    11151 SPRING HILL DRIVE
                </div>
                <input class="form-control input-xs non_mandatory_field_halo" name="SelectedMemberSupervisingProvider" id="SelectedMemberSupervisingProvider" placeholder="Provider Name">
                <div class="margin_top_5_px">
                    <button class="edit-button button-styles-xs" id="SelectedMemberSupervisingProviderEditButtons">Edit</button>
                </div>
                <div class="margin_top_5_px">
                    <button class="view-button button-styles-xs" id="SelectedMemberSupervisingProviderAddButtons">Add</button>
                </div>
            </div>
            <div class="div_5">
                <label>Facility:<small class="text-danger">(Required)</small></label>
                <div id="SelectedMemberFacilityLabel">
                    1903 W HIGHWAY 44 Tempa Bay Florida
                </div>
                <input class="form-control input-xs non_mandatory_field_halo" name="SelectedMemberFacility" id="SelectedMemberFacility" placeholder="Provider Name">
                <div class="margin_top_5_px">
                    <button class="edit-button button-styles-xs" id="SelectedMemberFacilityEditButtons">Edit</button>
                </div>
                <div class="margin_top_5_px">
                    <button class="view-button button-styles-xs" id="SelectedMemberFacilityAddButtons">Add</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/SelectMember.js"></script>