@model PortalTemplate.Areas.Billing.Models.CreateClaim.MemberResultViewModel

<div id="SelectedMemberDiv">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_8px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right runningdata runningdata-standard memberPictureFrame">
            <table class="table responsive-utilities table-condensed table-responsive">
                <thead class="SelectedMemberheader">
                    <tr class="headings">
                        <th class="column-title">SUBSCRIBER ID# </th>
                        <th class="column-title">NAME </th>
                        <th class="column-title">DOB</th>
                        <th class="column-title">ADDRESS</th>
                        <th class="column-title">PCP</th>
                        <th class="column-title">PLAN</th>
                        <th class="column-title">START DATE</th>
                        <th class="column-title">END DATE</th>
                    </tr>
                </thead>
                <tbody class="boldbody">
                    <tr>
                        <td>@Model.SubscriberID </td>
                        <td>@Model.MemberFullName</td>
                        <td>@Html.DisplayFor(x => x.DateOfBirth)</td>
                        <td>@Model.MemberFullAddress</td>
                        <td>@Model.PCPFullName</td>
                        <td id="PayerName">@Model.PlanName</td>
                        <td>@Html.DisplayFor(x => x.PlanEffectiveDate)</td>
                        <td>@Html.DisplayFor(x => x.PlanTerminationDate)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row margin_top_10_px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label>Billing Provider:<small class="text-danger">(Required)</small></label>
                <div id="SelectedMemberForProviderBillingProviderLabel">
                    ACCESS 2 HEALTHCARE
                    14690 SPRING HILL DR
                </div>
                <input class="form-control input-xs non_mandatory_field_halo" name="SelectedMemberBillingProvider" id="SelectedMemberForProviderBillingProvider" placeholder="Provider Name">
                <div id="SelectedMemberForProviderBillingProviderEditButtons" class="margin_top_5_px">
                    <button class="edit-button button-styles-xs">Edit</button>
                </div>
                <div id="SelectedMemberForProviderBillingProviderAddButtons" class="margin_top_5_px">
                    <button class="view-button button-styles-xs">Add</button>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label>Referring Provider:</label>
                <div id="SelectedMemberForProviderReferringProviderLabel">
                    AASMA RIAZ
                    5290 APPLEGATE DRIVE
                </div>
                <input class="form-control input-xs non_mandatory_field_halo" name="SelectedMemberReferringProvider" id="SelectedMemberForProviderReferringProvider" placeholder="Provider Name">
                <div id="SelectedMemberForProviderReferringProviderEditButtons" class="margin_top_5_px">
                    <button class="edit-button button-styles-xs">Edit</button>
                </div>
                <div id="SelectedMemberForProviderReferringProviderAddButtons" class="margin_top_5_px">
                    <button class="view-button button-styles-xs">Add</button>
                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label>Supervising Provider:</label>
                <div id="SelectedMemberForProviderSupervisingProviderLabel">
                    ALEXANDRA MOLINARES SOSA
                    11151 SPRING HILL DRIVE
                </div>
                <input class="form-control input-xs non_mandatory_field_halo" name="SelectedMemberSupervisingProvider" id="SelectedMemberForProviderSupervisingProvider" placeholder="Provider Name">
                <div id="SelectedMemberForProviderSupervisingProviderEditButtons" class="margin_top_5_px">
                    <button class="edit-button button-styles-xs">Edit</button>
                </div>
                <div id="SelectedMemberForProviderSupervisingProviderAddButtons" class="margin_top_5_px">
                    <button class="view-button button-styles-xs">Add</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label>Facility:<small class="text-danger">(Required)</small></label>
                <div id="SelectedMemberForProviderFacilityLabel">
                    1903 W HIGHWAY 44 Tempa Bay Florida
                </div>
                <input class="form-control input-xs non_mandatory_field_halo" name="SelectedMemberFacility" id="SelectedMemberForProviderFacility" placeholder="Provider Name">
                <div id="SelectedMemberForProviderFacilityEditButtons" class="margin_top_5_px">
                    <button class="edit-button button-styles-xs">Edit</button>
                </div>
                <div id="SelectedMemberForProviderFacilityAddButtons" class="margin_top_5_px">
                    <button class="view-button button-styles-xs">Add</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/SelectMemberForProvider.js"></script>