
@foreach (var item in Model)
{
    var startcolor = String.Concat(item.RowColor, "_start");
    <tr class="tab-navigation cursor_pointer" data-tab-action="View Authorization" data-tab-usertype="Member" data-tab-title="View Auth" data-tab-parentcontainer="partialBodyContainer" data-tab-floatmenu="true" data-tab-container="innerTabContainer" data-tab-autoflush="false" data-tab-issubtab="true"  data-tab-defaultparenttab="Member" data-tab-userid=@item.MemberID data-tab-parenttabtitle=@item.MemberName data-tab-path="/UM/ViewAuthorization/GetViewAuth?ID=20" data-tab-float-menu-path="~/Areas/UM/Views/Shared/_UMFloatMenu.cshtml" data-tab-parenttabpath="/Portal/MemberManage/GetMemberHeaderById?IDs=@item.MemberID" data-tab-parenttabrenderingarea="headerArea">
        <td class="width_1 @startcolor"></td>
         <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data"><span class="label label-primary">  @item.Abbrevation </span></label></td>
        <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.ReferenceNumber </label></td>
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data"> @item.MemberID</label></td>
        @if (ViewBag.QueueTab.ToLower() == "completed")
        {
        <td class="maxWidthtdXL"><label class="singleElemQueue theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-content="View History"><a class="tab-navigation cursor_pointer" data-tab-action="Auth History" data-tab-title="Auth History" data-tab-parentcontainer="partialBodyContainer" data-tab-floatmenu="true" data-tab-container="innerTabContainer" data-tab-float-menu-path="~/Areas/UM/Views/Shared/_UMFloatMenu.cshtml" data-tab-parenttabpath="/Portal/MemberManage/GetMemberHeaderById?IDs=@item.MemberID" data-tab-autoflush="false" data-tab-issubtab="true" data-tab-path="~/Areas/UM/Views/History/UMHistory/HistoryList/_UMAuthHistory.cshtml" data-tab-parenttabrenderingarea="headerArea" data-tab-defaultparenttab="Member" data-tab-userid="@item.MemberID" data-tab-parenttabtitle="@item.MemberName">@item.MemberName </a></div></label></td> 
         }
        else
        {
        <td class="maxWidthtdXL"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="MEMBER" data-content=@item.MemberName.ToUpper()>  @item.MemberName </div></label></td>
        }
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data">- @*@item.ExpectedDOA*@ </label></td>
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data"> -@*@item.DateOfConversion*@</label></td>
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data"> -@*@item.ReviewDate*@</label></td>
        <td class="maxWidthtdXL"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="PROVIDER" data-content=@item.ProviderName> @item.ProviderName</div></label></td>
        <td class="maxWidthtdXL"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="FACILITY" data-content=@item.FacilityName>@item.FacilityName</div></label></td>
        <td class="maxWidthtdXL"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="SVC PROVIDER" data-content=@item.SVCAttProviderName.ToUpper()>@item.SVCAttProviderName</div></label></td>
        @if (@item.RequestType.ToLower() == "expedited")
        {
            <td class="maxWidthtdSM"><label class="singleElemQueue red-color">EX</label></td>
        }
        else
        {
            <td class="maxWidthtdSM"><label class="singleElemQueue green-color">ST</label></td>
        }
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data">  @item.AuthorizationType  </label></td>
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data"> @item.TypeOfCare  </label></td>
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data">- @*@item.ReviewType*@  </label></td>

        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data">- @*@item.ActualLOS*@  </label></td>
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data">- @*@item.DaysRequested*@  </label></td>
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data">- @*@item.TotalAuthorized*@  </label></td>

        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data">- @*@item.TotalDenied*@  </label></td>
        <td class="maxWidthtdX"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="STATUS" data-content=@item.AuthStatus.ToUpper()>@item.AuthStatus </div></label></td>
        <td class="maxWidthtdSM"><label class="singleElemQueue theme_label_data">@item.PosAbb </label></td>
        <td class="maxWidthtdX"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="DX" data-content=@item.PrimaryDx.ToUpper()>@item.PrimaryDx </div></label></td>
        <td class="maxWidthtdX"><label class=" singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="ASSIGNED" data-content=@item.Assigned.ToUpper()> @item.Assigned</div></label></td>
        <td class="maxWidthtdX"><label class=" singleElemQueue theme_label_data">@item.Entry</label></td>
        <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data">@item.AuthNote</label></td>
    </tr>
}