@model IEnumerable<PortalTemplate.Areas.UM.Models.ViewModels.Queue.QueueViewModel>

    <!-- TOP TOOLBAR -->
    @Html.Partial("~/Areas/UM/Views/Queue/Common/_TopToolBar.cshtml")
    <div class="tableBodyDivision">
        <!-- SPINNER -->
        <div class="spinner-container">
            <img class="spinner-image" src="~/Resources/Images/Common/spinner.gif" />
        </div>
        <!-- END SPINNER -->
        <table id="facilityQueueTable" class="table table-striped table-hover table-responsive">
            <thead class="theme_thead custom-thead-back theme1_table custom-thead-font custom-tbody">
                <tr>
                    <th class="width_1 header_dropdown">
                        <div class="dropdown">
                            <a class="dropdown-toggle AllButtonQueue" data-toggle="dropdown">
                                <span class="top-position-modifier">
                                    <span class="green-strip"></span>
                                    <span class="yellow-strip"></span>
                                    <span class="red-strip"></span>
                                    <span class="white-strip"></span>
                                    <span class="grey-strip"></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <span class=""></span>
                                    <div>
                                        <input id="allCheckbox" type="checkbox" name="allCheckbox" class="normal-checkbox" value="all">
                                        <label for=""><span></span><b>ALL</b></></label>
                                    </div>
                                </li>
                                <li>
                                    <span class="list-legend-green"></span>
                                    <div>
                                        <input id="greenCheckbox" type="checkbox" name="greenCheckbox" class="normal-checkbox" value="green">
                                        <label for=""><span></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AGREES WITH UM PROTOCOL</b></></label>
                                    </div>
                                </li>
                                <li>
                                    <span class="list-legend-yellow"></span>
                                    <div>
                                        <input id="yellowCheckbox" type="checkbox" name="yellowCheckbox" class="normal-checkbox" value="yellow">
                                        <label for=""><span></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PEND FOR PCP ANSWER</b></label>
                                    </div>
                                </li>
                                <li>
                                    <span class="list-legend-red"></span>
                                    <div>
                                        <input id="redCheckbox" type="checkbox" name="redCheckbox" class="normal-checkbox" value="red">
                                        <label for=""><span></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COVERAGE DETERMINATION REQUESTED</b></label>
                                    </div>
                                </li>
                                <li>
                                    <span class="list-legend-white"></span>
                                    <div>
                                        <input id="whiteCheckbox" type="checkbox" name="whiteCheckbox" class="normal-checkbox" value="white">
                                        <label for=""><span></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INELIGIBLE MEMBER</b></label>
                                    </div>
                                </li>
                                <li>
                                    <span class="list-legend-grey"></span>
                                    <div>
                                        <input id="greyCheckbox" type="checkbox" name="greyCheckbox" class="normal-checkbox" value="grey">
                                        <label for=""><span></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRESERVICE</b></label>
                                    </div>
                                </li>
                                <li>
                                    <span class="list-legend-ghost"></span>
                                    <div>
                                        <input id="greyCheckbox" type="checkbox" name="whiteCheckbox" class="normal-checkbox" value="grey">
                                        <label for=""><span></span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NONE OF ABOVE</b></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.Abbrevation) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">

                            <span></span>

                        </span>

                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ReferenceNumber) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.MemberID)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdXL">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.MemberName)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ExpectedDOA)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.DateOfConversion) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ReviewDate) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>

                    <th class="maxWidthtdXL">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ProviderName) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdXL">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.FacilityName)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdXL">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.SVCAttProviderName) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.RequestType) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.AuthorizationType)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.TypeOfCare)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                 
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ReviewType)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ActualLOS)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.DaysRequested)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.TotalAuthorized)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.TotalDenied)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.AuthStatus)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.PosAbb)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.PrimaryDx)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">

                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.Assigned) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.Entry)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.AuthNote) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    @*<th style="max-width:0;" class="width_1"></th>*@
                </tr>
            </thead>
            <tbody id="intakeQueueTable">
                @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/Facility/_FacilityQueueDataRows.cshtml")
            </tbody>
        </table>
    </div>

