@model PortalTemplate.Areas.Portal.Models.ProviderProfile.ProviderProfileViewModel
<p-script filepath="~/Areas/Portal/Scripts/ProviderProfile/ProviderProfile.js"></p-script>
<p-script filepath="~/Areas/Portal/Scripts/ProviderBridge/BridgeQueue/BridgeQueue.js"></p-script>

@using PortalTemplate.Helper
<link href="~/Areas/Portal/Styles/PriorAuth/CreatePortal.css" rel="stylesheet" />
<style>
    a.export-button {
        padding: 0px 4px 0px 4px !important;
    }
</style>
@*@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/_ProviderHeader.cshtml")*@
<div class="SubTabHeader" >
    <div class="headerText">
        <span class="headerTextCSS">
            
                <b>@Model.PersonalInformation.FirstName @Model.PersonalInformation.LastName</b>
            
            <a class="print_button_for_personal hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
            </a>
        </span>
        </div>

    </div>
</div>
<div id="TempProfile">
    <div class="col-lg-12 nopadding" style="margin-top: 21px;" id="PersonalInformationArea">
        @if (Model.PersonalInformation != null)
        {
            @Html.Partial("~/Areas/Portal/Views/ProviderProfile/PersonalInformation/_ViewPersonalInformation.cshtml", Model.PersonalInformation)
        }

    </div>
    <div class="col-lg-12 nopadding" id="ContactInformationArea">
        @if (Model.ContactInformation != null)
        {
            @Html.Partial("~/Areas/Portal/Views/ProviderProfile/ContactInformation/_ViewContactInformation.cshtml", Model.ContactInformation)
        }

      
    </div>
    <div class="col-lg-12 nopadding" id="WorkInformationArea">
        @if (Model.WorkInformation != null)
        {
            @Html.Partial("~/Areas/Portal/Views/ProviderProfile/WorkInformation/_ViewWorkInformation.cshtml", Model.WorkInformation)
        }

    </div>
    <div class="col-lg-12 nopadding" id="ContractInformationArea">
        @if (Model.ContractInformation != null)
        {
            @Html.Partial("~/Areas/Portal/Views/ProviderProfile/ContractInformation/_ViewContractInformation.cshtml", Model.ContractInformation)
        }
       
       
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-styles text-right margin-top_10">
        <button class="btn btn-success MoveCredAxis" style="width:168px;margin-top:10px">MOVE TO CREDAXIS</button>
    </div>
</div>
