@model PortalTemplate.Areas.Portal.Models.PriorAuth.PriorAuthorization.PriorAuthorizationViewModel
<p-link filepath="~/Areas/Portal/Styles/PriorAuth/CreatePortal.css" rel="stylesheet"></p-link>
@using PratianUI
@using (Ajax.BeginForm("ShowModal", "PriorAuth", new AjaxOptions { HttpMethod = "POST", OnSuccess = "submitData" }))
{
    <div id="PreAuthRequestForm" class="zero-padding-left-right createForm form_11 auth_form theme_label">
        <div class="x_panel col-lg-12  col-md-12 col-sm-12 col-xs-12 zero-padding-left-right topPadding">
            <div class="x_content zero-padding-left-right">
                <div class="col-md-12 text-center theme_label">
                    <img src="/Resources/Images/Common/ahc_logo.png" class="pull-left" style=" width: 140px; height: 68px;">
                    <h3>
                        <b style="">PRIOR AUTHORIZATION</b>
                    </h3>
                </div>
                <div class="row col-lg-12">

                    <!--Authorization Type-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_AuthorizationTypeSection.cshtml")
                    <!--Authorization Type Ends-->

                    <!--Member Information-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_MemberDetails.cshtml")
                    <!--Member Information Ends-->

                    <!--Service Requested Starts-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_ServiceRequested.cshtml")
                    <!--Service Requested Ends-->

                    <!--REQUESTING PROVIDER-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_RequestingProvider.cshtml")
                    <!--REQUESTING PROVIDER Ends-->

                    <!--REFERRED TO/SERVICING PROVIDER-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_ServicingProvider.cshtml")
                    <!--REFERRED TO/SERVICING PROVIDER Ends-->

                    <!--FACILITY-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_FacilityDetails.cshtml")
                    <!--FACILITY Ends-->

                    <!--PLANNED DATE OF SERVICE-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_PlannedDOS.cshtml")
                    <!--PLANNED DATE OF SERVICE Ends-->

                    <!--Primary DX-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_ICDSection.cshtml")
                    <!--Primary DX Ends-->
                    <!--CPT-4/HCPCS CODE-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_CPTSection.cshtml")
                    <!--CPT-4/HCPCS CODE ends-->
                    <!--Documents code-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_DocumentsSection.cshtml")
                    <!--Documents code Ends-->

                    <!--Notes code-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_NotesSection.cshtml")
                   <!--Notes End-->

                    <!--Save and cancel-->
                    @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/_ButtonsSection.cshtml")
                    <!--Save and cancel-->


                </div>
            </div>
        </div>
    </div>
}
<div id="portalauth_preview_modal"></div>
<p-script filepath="~/Areas/Portal/Scripts/PriorAuth/PriorAuthForm/CreatePortalRequest/NonMinified/CreatePortalRequest.js"></p-script>




