@model PortalTemplate.Areas.Portal.Models.PriorAuth.PriorAuthorization.PriorAuthorizationViewModel
@using PratianUI
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            <span class="transparent-font-color">_____________.</span>
            @Html.LabelFor(e => e.Facility)
            <span class="transparent-font-color">_____________.</span>
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="x_content zero-padding-left-right">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <span class="theme_label">@Html.LabelFor(e => e.Facility.FullName)</span><br>
                    @Html.TextBoxFor(e => e.Facility.FullName, new { @class = "form-control input-xs", @placeholder = "FACILITY NAME", @id = "FacilityFullName" })
                </div>
                <div class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.Facility.TaxID)</span><br>
                    @Html.TextBoxFor(e => e.Facility.TaxID, new { @class = "form-control input-xs", @placeholder = "TAX ID", @id = "FacilityTaxID" })
                </div>
                <div class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.Facility.FacilityNPI)</span><br>
                    @Html.TextBoxFor(e => e.Facility.FacilityNPI, new { @class = "form-control input-xs", @placeholder = "NPI", @id = "FacilityFacilityNPI" })
                </div>
                <div class="col-lg-4">
                    <span class="theme_label">@Html.LabelFor(e => e.Facility.FacilityType)</span><br>
                    @Html.TextBoxFor(e => e.Facility.FacilityType, new { @class = "form-control input-xs", @placeholder = "FACILITY TYPE", @id = "FacilityFacilityType" })
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-4">
                    <span class="theme_label">@Html.LabelFor(e => e.Facility.ContactName)</span><br>
                    @Html.TextBoxFor(e => e.Facility.ContactName, new { @class = "form-control input-xs", @placeholder = "CONTACT NAME", @id = "FacilityContactName" })
                </div>
                <div class="col-lg-4">
                    <span class="theme_label">@Html.LabelFor(e => e.Facility.PhoneNumber)</span><br>
                    @Html.PratianUiPhoneFormatFor(e => e.Facility.PhoneNumber, new { @class = "form-control input-xs", @placeholder = "PHONE NUMBER", @id = "FacilityPhoneNumber" })
                </div>
                <div class="col-lg-4">
                    <span class="theme_label">@Html.LabelFor(e => e.Facility.FaxNumber)</span><br>
                    @Html.PratianUiPhoneFormatFor(e => e.Facility.FaxNumber, new { @class = "form-control input-xs", @placeholder = "FAX NUMBER", @id = "FacilityFaxNumber" })
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</fieldset>

