@model PortalTemplate.Areas.Portal.Models.PriorAuth.PriorAuthorization.PriorAuthorizationViewModel
@using PratianUI
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            <span class="transparent-font-color">_____.</span>
            @Html.LabelFor(e => e.Member)
            <span class="transparent-font-color">_____.</span>
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthMemberArea">
        <div class="x_content zero-padding-left-right">
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.Member.MemberID)</span><br />
                    @Html.TextBoxFor(e => e.Member.SubscriberID, new { @class = "form-control input-xs read_only_field", @placeholder = "MEMBER ID", @readonly = "readonly", @id = "preAuthMBRID" })
                </div>
                <div class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.Member.LastName)</span><br />
                    @Html.TextBoxFor(e => e.Member.LastName, new { @class = "form-control input-xs read_only_field", @placeholder = "LAST NAME", @readonly = "readonly", @id = "preAuthMBRLastNameID" })
                </div>

                <div class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.Member.FirstName)</span><br />
                    @Html.TextBoxFor(e => e.Member.FirstName, new { @class = "form-control input-xs read_only_field", @placeholder = "FIRST NAME", @readonly = "readonly", @id = "preAuthMBRFirstNameID" })
                </div>
                <div class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.ReceivedDate)</span><br />
                    @Html.PratianUiDateTimePickerFor(e => e.ReceivedDate, "bottom", new { @class = "form-control input-xs width-120", @placeholder = "MM/DD/YYYY hh:mm:ss", @id = "requestDateID" })
                </div>
                <div class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.Member.MemberContact.PrimaryContact)</span><br />
                    @Html.TextBoxFor(e => e.Member.MemberContact.PrimaryContact, new { @class = "form-control input-xs read_only_field", @placeholder = "PHONE NUMBER", @readonly = "readonly", @id = "preAuthMBRPhoneNumberID" })
                </div>
                <div class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.Member.DateOfBirth)</span><br />
                    @Html.PratianUiDatePickerFor(e => e.Member.DateOfBirth, "bottom", new { @class = "form-control input-xs read_only_field", @placeholder = "MM/DD/YYYY", @readonly = "readonly", @id = "preAuthMBRDOBID" })
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</fieldset>
