@model PortalTemplate.Areas.Portal.Models.PriorAuth.PriorAuthorization.PriorAuthorizationViewModel
@using PratianUI
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            <span class="transparent-font-color">___.</span>
            @Html.Label("PLANNED DATE OF SERVICE")
            <span class="transparent-font-color">___.</span>
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthDates">
        <div class="x_content zero-padding-left-right">
            <div class="col-lg-12">
                <span class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.FromDate)</span>
                    @Html.PratianUiDatePickerFor(e => e.FromDate, "bottom", new { @class = "form-control input-xs ", @placeholder = "MM/DD/YYYY" })
                </span>
                <span class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.ToDate)</span>
                    @Html.PratianUiDatePickerFor(e => e.ToDate, new { @class = "form-control input-xs read_only_field ", @placeholder = "MM/DD/YYYY", @readonly = "readonly" })
                </span>
                <span class="col-lg-2">
                    <span class="theme_label">@Html.LabelFor(e => e.AppointmentDate)</span>
                    @Html.PratianUiDatePickerFor(e => e.AppointmentDate, new { @class = "form-control input-xs mandatory_field_halo ", @placeholder = "MM/DD/YYYY" })
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</fieldset>
