@model PortalTemplate.Areas.Portal.Models.PriorAuth.PriorAuthorization.PriorAuthorizationViewModel
@using PratianUI
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            <span class="transparent-font-color">_____.</span>
            @Html.LabelFor(e => e.RequestingProvider)
            <span class="transparent-font-color">_____.</span>
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthReqProvider">
        <div class="col-lg-12">
            <div class="col-lg-2">
                <span class="theme_label">@Html.LabelFor(e => e.RequestingProvider.FirstName)</span> <br>
                @Html.TextBoxFor(e => e.RequestingProvider.FirstName, new { @class = "form-control input-xs read_only_field", @placeholder = "FIRST NAME", @readonly = "readonly", @id = "ReqProviderFirstName" })
            </div>
            <div class="col-lg-2">
                <span class="theme_label">@Html.LabelFor(e => e.RequestingProvider.LastName)</span> <br>
                @Html.TextBoxFor(e => e.RequestingProvider.LastName, new { @class = "form-control input-xs read_only_field", @placeholder = "LAST NAME", @readonly = "readonly", @id = "ReqProviderLastName" })
            </div>

            <div class="col-lg-2">
                <span class="theme_label">@Html.LabelFor(e => e.RequestingProvider.TaxID)</span><br>
                @Html.TextBoxFor(e => e.RequestingProvider.TaxID, new { @class = "form-control input-xs", @placeholder = "TAX ID", @id = "ReqProviderTaxID" })
            </div>
            <div class="col-lg-2">
                <span class="theme_label">@Html.LabelFor(e => e.RequestingProvider.NPI)</span> <br>
                @Html.TextBoxFor(e => e.RequestingProvider.NPI, new { @class = "form-control input-xs read_only_field", @placeholder = "NPI", @readonly = "readonly", @id = "ReqProviderNPI" })
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="col-lg-2 zero-padding-left-right"><span class=" theme_label">@Html.LabelFor(e => e.IsPCP)</span></div>
                <div class="col-lg-4 zero-padding-left-right">
                    @Html.PratianUiSquareRadioButtonFor(e => e.IsPCP, "PCP", new { @id = "IsPcpType", @checked = "checked", @Value = "PCP", @class = "IsPcpType" })
                </div>
                <div class="col-lg-6 zero-padding-left-right">
                    @Html.PratianUiSquareRadioButtonFor(e => e.IsPCP, "Specialist", new { @id = "Specialist", @Value = "Specialist", @class = "IsPcpType" })
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-4">
                <span class="theme_label">@Html.LabelFor(e => e.RequestingProvider.ContactName)</span><br>
                @Html.TextBoxFor(e => e.RequestingProvider.ContactName, new { @class = "form-control input-xs", @placeholder = "CONTACT NAME", @id = "ReqProviderContactName" })
            </div>
            <div class="col-lg-4">
                <span class="theme_label">@Html.LabelFor(e => e.RequestingProvider.PhoneNumber)</span><br>
                @Html.PratianUiPhoneFormatFor(e => e.RequestingProvider.PhoneNumber, new { @class = "form-control input-xs", @id = "ReqProviderPhoneNumber", @placeholder = "PHONE NUMBER" })
            </div>
            <div class="col-lg-4">
                <span class="theme_label">@Html.LabelFor(e => e.RequestingProvider.FaxNumber)</span><br>
                @Html.PratianUiPhoneFormatFor(e => e.RequestingProvider.FaxNumber, new { @class = "form-control input-xs", @id = "ReqProviderFaxNumber", @placeholder = "FAX NUMBER" })
            </div>
        </div>
        <div class="col-md-6 " id="showSpecialistOptions" style="display:none">
            <div class="col-lg-12">
                <span class="theme_label">@Html.LabelFor(e => e.IsApprovedByPCP)</span>
            </div>
            <div class="col-lg-3">
                @Html.PratianUiSquareRadioButtonFor(e => e.IsApprovedByPCP, "YES", new { @id = "isPCPApproved", @Value = true, @checked = "checked" })
            </div>
            <div class="col-lg-3">
                @Html.PratianUiSquareRadioButtonFor(e => e.IsApprovedByPCP, "NO", new { @id = "isNotPCPApproved", @Value = true })
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</fieldset>

