@model PortalTemplate.Areas.Portal.Models.PriorAuth.PriorAuthorization.PriorAuthorizationViewModel
@using PratianUI
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            <span class="transparent-font-color">_______</span>
            @Html.LabelFor(e => e.PlaceOfService)
            <span class="transparent-font-color">_______</span>
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right">
        <div class="x_content zero-padding-left-right" id="ServiceRequested">
            <div class="col-lg-9">
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "IN-OFFICE", new { @checked = "checked", @id = "InOffice", @Value = "11(a)-Office", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "FREE STANDING FACILITY", new { @id = "FreeStandingFacility", @Value = "24-Ambulatory Surgical Center", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "DIALYSIS", new { @id = "Dialysis", @Value = "65-End-Stage Renal Disease Treatment Facility", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "OBSERVATION", new { @id = "Observation", @Value = "22-OutPatient Hospital", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "REHAB FACILITY", new { @id = "RehabFacility", @Value = "11(b)-OP Rehab", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "HOSPICE", new { @id = "Hospice", @Value = "34-Hospice", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "INPATIENT HOSPITAL", new { @id = "InpatientHospital", @Value = "21-InPatient Hospital", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "SNF", new { @id = "SNF", @Value = "31-Skilled Nursing Facility", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4" ng-hide="true">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "DME", new { @id = "DME", @Value = "12-Patient Home", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "OUTPATIENT HOSPITAL", new { @id = "OutPatientHospital", @Value = "22-OutPatient Hospital", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-4">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "HOME HEALTH", new { @id = "HomeHealth", @Value = "12-Patient Home", @class = "servicereqCheck" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-12">
                    @Html.PratianUiSquareRadioButtonFor(e => e.PlaceOfService, "THERAPY", new { @id = "Therapy", @Value = "11(b)-OP Rehab", @class = "servicereqCheck" })
                </div>
                <div class="col-lg-12 therapychecks hidden">
                    <div class="col-lg-12">
                        @Html.PratianUiSquareRadioButtonFor(e => e.TherapyType, "PHYSICAL", new { @id = "Physical", @Value = "PHYSICAL", @class = "servicereqCheck" })
                    </div>
                    <div class="col-lg-12">
                        @Html.PratianUiSquareRadioButtonFor(e => e.TherapyType, "OCCUPATIONAL", new { @id = "Occupational", @Value = "OCCUPATIONAL", @class = "servicereqCheck" })
                    </div>
                    <div class="col-lg-12">
                        @Html.PratianUiSquareRadioButtonFor(e => e.TherapyType, "SPEECH", new { @id = "Speech", @Value = "SPEECH", @class = "servicereqCheck" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</fieldset>
