@model PortalTemplate.Areas.Portal.Models.PriorAuth.PriorAuthorization.PriorAuthorizationViewModel
@using PratianUI
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend">@Html.LabelFor(e => e.ServicingProvider)</span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthSvcProvider">
        <div class="col-lg-12">
            <div class="col-lg-2">
                <span class="theme_label">@Html.LabelFor(e => e.ServicingProvider.FirstName)</span> <br>
                @Html.TextBoxFor(e => e.ServicingProvider.FirstName, new { @class = "form-control input-xs", @placeholder = "FIRST NAME", @id = "ServicingProviderFirstName" })
            </div>
            <div class="col-lg-2">
                <span class="theme_label">@Html.LabelFor(e => e.ServicingProvider.LastName)</span> <br>
                @Html.TextBoxFor(e => e.ServicingProvider.LastName, new { @class = "form-control input-xs", @placeholder = "LAST NAME", @id = "ServicingProviderLastName" })
            </div>
            <div class="col-lg-2">
                <span class="theme_label">@Html.LabelFor(e => e.ServicingProvider.TaxID)</span><br>
                @Html.TextBoxFor(e => e.ServicingProvider.TaxID, new { @class = "form-control input-xs", @placeholder = "TAX ID", @id = "ServicingProviderTaxID" })
            </div>
            <div class="col-lg-2">
                <span class="theme_label">@Html.LabelFor(e => e.ServicingProvider.NPI)</span> <br>
                @Html.TextBoxFor(e => e.ServicingProvider.NPI, new { @class = "form-control input-xs", @placeholder = "NPI", @id = "ServicingProviderNPI" })
            </div>
            <div class="col-lg-4 col-md-4">
                <span class="theme_label">@Html.LabelFor(e => e.ServicingProvider.Specialty)</span> <br>
                @Html.TextBoxFor(e => e.ServicingProvider.Specialty, new { @class = "form-control input-xs", @placeholder = "SPECIALITY", @id = "ServicingProviderSpeciality" })
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-4">
                <span class="theme_label">@Html.LabelFor(e => e.ServicingProvider.ContactName)</span><br>
                @Html.TextBoxFor(e => e.ServicingProvider.ContactName, new { @class = "form-control input-xs", @placeholder = "CONTACT NAME", @id = "ServicingProviderContactName" })
            </div>
            <div class="col-lg-4">
                <span class="theme_label">@Html.LabelFor(e => e.ServicingProvider.PhoneNumber)</span><br>
                @Html.PratianUiPhoneFormatFor(e => e.ServicingProvider.PhoneNumber, new { @class = "form-control input-xs", @placeholder = "PHONE NUMBER", @id = "ServicingProviderPhoneNumber" })
            </div>
            <div class="col-lg-4">
                <span class="theme_label">@Html.LabelFor(e => e.ServicingProvider.FaxNumber)</span><br>
                @Html.PratianUiPhoneFormatFor(e => e.ServicingProvider.FaxNumber, new { @class = "form-control input-xs", @placeholder = "FAX NUMBER", @id = "ServicingProviderFaxNumber" })
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</fieldset>

