@model List<PortalTemplate.Areas.Billing.Models.CreateClaim.MemberResultViewModel>

@for (var i = 0; i < Model.Count; i++)
{
    <tr data-container="@Model[i].SubscriberID">
        <td>@Model[i].SubscriberID </td>
        <td><a href="javascript:void(0)">@Model[i].MemberFullName</a>  </td>
        <td>@Html.DisplayFor(x => Model[i].DateOfBirth)</td>
        <td>@Model[i].MemberFullAddress</td>
        <td>@Model[i].PCPFullName</td>
        <td>@Model[i].PlanName</td>
        <td>@Html.DisplayFor(x => Model[i].PlanEffectiveDate)</td>
        <td>@Html.DisplayFor(x => Model[i].PlanTerminationDate)</td>
    </tr>
}





