@model List<PortalTemplate.Areas.Billing.Models.CreateClaim.ProviderResultViewModel>

    @foreach (var item in Model)
    {
        <tr data-container="@item.ProviderUniqueId">
            <td>
                @item.ProviderNPI
            </td>
            <td>
                @item.ProviderFullName
            </td>
            <td>
                @item.ProviderFirstAddress
            </td>
            <td>
                @item.Taxonomy
            </td>
            <td>
                <input type="checkbox" class="normal-checkbox individualCheckProvider" value="@item.ProviderUniqueId" /><label><span></span></label>
            </td>
        </tr>
    }





