@model PortalTemplate.Areas.Portal.Models.ProviderProfile.PersonalInformationViewModel
<fieldset class="fsStyle">

    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            <span class="tabheading">______</span>
            PERSONAL INFORMATION
            <span class="tabheading">_______</span>
        </span>
        &nbsp;&nbsp;
        <span class="text-uppercase ">
            <span class="fstyleBtnStyle">
          
                <button class="btn btn-primary btn-xs add_note_btn list-item tab-navigation" data-toggle="tooltip" title="EDIT" data-tab-path="/Portal/ProviderProfile/GetPersonalInfoEditPartial?ProfileId=1&type=Edit" data-tab-container="PersonalInformationArea">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="tooltip" title="HISTORY"  data-target="#PersonalDetails">
                    <i class="fa fa-history"></i>
                </button>

            </span>
        </span>
    </legend>


    <div class="x_content zero-padding-left">
        <span class="text_adjust boxstyle">

            <label class="theme_label">@Html.DisplayNameFor(e => e.NPI) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.NPI)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.ProviderType) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.ProviderType)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.FirstName) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.FirstName)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.MiddleName) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.MiddleName)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.LastName) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.LastName)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.Gender) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.Gender)</span>
        </span>
        @*<span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.FacilityName) :</label>
            <span class="theme_label_data">
                @{
                var facility = String.Join<string>(",", Model.FacilityName);
            }
            @facility
        </span>
    </span>*@
    @*<span class="text_adjust boxstyle">
        <label class="theme_label">@Html.DisplayNameFor(e => e.Specialty) :</label>
        <span class="theme_label_data">
            @{
                var speciality = String.Join<string>(",", Model.Specialty);
            }
            @speciality

        </span>
    </span>*@
        <br />
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.phonenumber) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.phonenumber)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.email) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.email)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.TAXID) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.TAXID)</span>
        </span>
    <span class="text_adjust  boxstyle">
        <label class="theme_label">@Html.DisplayNameFor(e => e.RequestedBy) :</label>
        <span class="theme_label_data">@Html.DisplayFor(e => e.RequestedBy)</span>
    </span>
    <span class="text_adjust boxstyle">
        <label class="theme_label">@Html.DisplayNameFor(e => e.RequestedFrom) :</label>
        <span class="theme_label_data"><span class="label label-info" style="color:black">@Html.DisplayFor(e => e.RequestedFrom)</span></span>
    </span>
    <span class="text_adjust boxstyle">
        <label class="theme_label">@Html.DisplayNameFor(e => e.NetworkParticipation) :</label>
        <span class="theme_label_data"><span class="label label-danger">@Html.DisplayFor(e => e.NetworkParticipation)</span></span>
    </span>

</div>


</fieldset>
