@model AHC.CD.WebUI.MVC.Areas.Profile.Models.Demographic.PersonalDetailViewModel

<div class="col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-2 form-group">
        @Html.LabelFor(model => model.SalutationType, new { @class = "control-label small" })
        <div>
            <i class="data-label" ng-if="MasterProfile.Demographics.PersonalDetail.Salutation">{{MasterProfile.Demographics.PersonalDetail.Salutation}}</i>
            <i class="data-label" ng-if="!MasterProfile.Demographics.PersonalDetail.Salutation">Not Available</i>
        </div>
    </div>
    <div class="col-lg-3 form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "control-label small" })
        <div>
            <i class="data-label" ng-if="MasterProfile.Demographics.PersonalDetail.FirstName">{{MasterProfile.Demographics.PersonalDetail.FirstName}}</i>
            <i class="data-label" ng-if="!MasterProfile.Demographics.PersonalDetail.FirstName">Not Available</i>
        </div>
    </div>
    <div class="col-lg-3 form-group">
        @Html.LabelFor(model => model.MiddleName, new { @class = "control-label small" })
        <div>
            <i class="data-label" ng-if="MasterProfile.Demographics.PersonalDetail.MiddleName">{{MasterProfile.Demographics.PersonalDetail.MiddleName}}</i>
            <i class="data-label" ng-if="!MasterProfile.Demographics.PersonalDetail.MiddleName">Not Available</i>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "control-label small" })
        <div>
            <i class="data-label" ng-if="MasterProfile.Demographics.PersonalDetail.LastName">{{MasterProfile.Demographics.PersonalDetail.LastName}}</i>
            <i class="data-label" ng-if="!MasterProfile.Demographics.PersonalDetail.LastName">Not Available</i>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small">Suffix (JR,III)</label>
        <div>
            <i class="data-label" ng-if="MasterProfile.Demographics.PersonalDetail.Suffix">{{MasterProfile.Demographics.PersonalDetail.Suffix}}</i>
            <i class="data-label" ng-if="!MasterProfile.Demographics.PersonalDetail.Suffix">Not Available</i>
        </div>
    </div>
</div>
<div class="col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-2 form-group">
        @Html.LabelFor(model => model.GenderType, new { @class = "control-label small" })
        <div>
            <i class="data-label" ng-if="MasterProfile.Demographics.PersonalDetail.Gender">{{MasterProfile.Demographics.PersonalDetail.Gender}}</i>
            <i class="data-label" ng-if="!MasterProfile.Demographics.PersonalDetail.Gender">Not Available</i>
        </div>
    </div>
    <div class="col-lg-3 form-group" ng-if="MasterProfile.Demographics.PersonalDetail.Gender=='Female'">
        @Html.LabelFor(model => model.MaidenName, new { @class = "control-label small" })
        <div>
            <i class="data-label" ng-if="MasterProfile.Demographics.PersonalDetail.MaidenName">{{MasterProfile.Demographics.PersonalDetail.MaidenName}}</i>
            <i class="data-label" ng-if="!MasterProfile.Demographics.PersonalDetail.MaidenName">Not Available</i>
        </div>
    </div>
    <div class="col-lg-3 form-group">
        @Html.LabelFor(model => model.MaritalStatusType, new { @class = "control-label small" })
        <div>
            <i class="data-label" ng-if="MasterProfile.Demographics.PersonalDetail.MaritalStatus">{{MasterProfile.Demographics.PersonalDetail.MaritalStatus}}</i>
            <i class="data-label" ng-if="!MasterProfile.Demographics.PersonalDetail.MaritalStatus">Not Available</i>
        </div>
    </div>
    <div class="col-lg-3 form-group" ng-if="MasterProfile.Demographics.PersonalDetail.MaritalStatus=='Married'">
        @Html.LabelFor(model => model.SpouseName, new { @class = "control-label small" })
        <div>
            <i class="data-label" ng-if="MasterProfile.Demographics.PersonalDetail.SpouseName">{{MasterProfile.Demographics.PersonalDetail.SpouseName}}</i>
            <i class="data-label" ng-if="!MasterProfile.Demographics.PersonalDetail.SpouseName">Not Available</i>
        </div>
    </div>
</div>
<div class="col-lg-12 zero-padding-left-right-div">

    <div class="col-lg-2 form-group">
        @Html.LabelFor(model => model.ProviderLevelID, new { @class = "control-label small" })
        <div>
            <i class="data-label">{{MasterProfile.Demographics.PersonalDetail.ProviderLevel.Name}}</i>
        </div>
    </div>

    <div class="form-group col-lg-10" ng-init="searchTitleViewModel.StatusType = 1">

        @Html.LabelFor(model => model.ProviderTitles, new { @class = "control-label small" })
        <div ng-if="MasterProfile.Demographics.PersonalDetail.ProviderTitles.length > 0">
            <span ng-repeat="pt in MasterProfile.Demographics.PersonalDetail.ProviderTitles | filter:searchTitleViewModel track by $index">
                <span ng-if="$index > 1">&nbsp;&nbsp;</span><span class="label label-default">{{pt.ProviderType.Title}}</span>
            </span>
        </div>
        <div ng-if="MasterProfile.Demographics.PersonalDetail.ProviderTitles.length == 0">
            <i class="data-label">Not Available</i>
        </div>
    </div>
</div>