@using PratianUI
@model PortalTemplate.Areas.Portal.Models.Facility.FacilityViewModel

<div class="c_panel_body" id="AddEditDiv">
    <table class="table table-condensed table-responsive">
        <thead>
            <tr>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.Name)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.CorporateName)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.Street)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.Building)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.City)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.State)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.ZipCode)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.Country)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.County)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.Telephone)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.Fax)</th>
                <th>@Html.LabelFor(p => p.FacilitityGeneralInfo.EmailAddress)</th>
                @*<th class="actionBtn">Action</th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.Name, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.Name)
                </td>
                <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.CorporateName, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.CorporateName)
                </td> 
                   <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.Street, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.Street)
                </td>
               
                <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.Building, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.Building)
                </td> 
                <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.City, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.City)
                </td>
                <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.State, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.State)
                </td>
                <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.ZipCode, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.ZipCode)
                </td>
                 <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.Country, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.Country)
                </td>
                <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.County, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.County)
                </td>
               
               
                <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.Telephone, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.Telephone)
                </td>    <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.Fax, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.Fax)
                </td>    <td>
                    @Html.TextBoxFor(p => p.FacilitityGeneralInfo.EmailAddress, new { @class = "form-control input-xs addeditinputclass" })
                    @Html.ValidationMessageFor(p => p.FacilitityGeneralInfo.EmailAddress)
                </td>
              

                @*<td class="col-md-1 actionBtn">
                    <button type="submit" class="btn btn-xs btn-success" title="Save"><i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-xs btn-warning refresh" title="Cancel"><i class="fa fa-refresh"></i></button>
                </td>*@
            </tr>
        </tbody>
    </table>

</div>
 