@using PratianUI
@model PortalTemplate.Areas.Portal.Models.Facility.FacilityViewModel
@using (Ajax.BeginForm("AddEditFacility", "Facility", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "progress", OnBegin = "validateForm", OnSuccess = "onSuccessHospital" }))
{
    <br />
    <div class="row">
        <div class="col-lg-12 facilityField">
            <fieldset class="fsStyle createClaim">
                <legend class="legendStyle">
                    <span class="theme_depend text-initial title_heading">ADD Facility </span>
                </legend>
                <fieldset class="fsStyle createClaim">
                    <legend class="legendStyle">
                        <span class="theme_depend text-initial title_heading"> General Information</span>
                    </legend>
                      @Html.Partial("~/Areas/Portal/Views/Facility/_AddEditGeneralInfo.cshtml")
                </fieldset>
                <div class="clearfix"></div><br />

                <fieldset class="fsStyle createClaim">
                    <legend class="legendStyle">
                        <span class="theme_depend text-initial title_heading"> Accessibilities</span>
                    </legend>
                 @Html.Partial("~/Areas/Portal/Views/FacilityAccessibilityQuestion/_AddEditAccessibilities.cshtml")


                </fieldset>
                <div class="clearfix"></div><br />

                <fieldset class="fsStyle createClaim">
                    <legend class="legendStyle">
                        <span class="theme_depend text-initial title_heading"> Services</span>
                    </legend>
                    @*  @Html.Partial("~/Areas/CMS/Views/HospitalPersonContact/_AddEditHospitalPersonContactForm.cshtml")*@
                </fieldset>
                <div class="clearfix"></div><br />

                <fieldset class="fsStyle createClaim">
                    <legend class="legendStyle">
                        <span class="theme_depend text-initial title_heading"> Languages </span>
                    </legend>
                     @Html.Partial("~/Areas/Portal/Views/FacilityLanguage/Index.cshtml")
                </fieldset>
                <div class="clearfix"></div><br />
              
                <fieldset class="fsStyle createClaim">
                    <legend class="legendStyle">
                        <span class="theme_depend text-initial title_heading"> Office Hours </span>
                    </legend>
                    @*  @Html.Partial("~/Areas/CMS/Views/HospitalPersonContact/_AddEditHospitalPersonContactForm.cshtml")*@
                </fieldset>

                <div class="clearfix"></div>
                <br />
                <div class="row">

                    <button type="submit" class="btn btn-xs btn-success pull-right saveFacility" title="Save">Save</button>
                    <button type="button" class="btn btn-xs btn-danger CancelAddFacility pull-right" title="Cancel">Cancel</button>

                </div>
                <div class="clearfix"></div>
            </fieldset>
              
</div>
    </div><br />
}
