@*<p-link filepath="~/Content/AppCss/MemberProfile/MemberProfile.css"></p-link>*@
<p-script filepath="~/Scripts/AppScripts/MemberProfile/MemberProfile.js"></p-script>


<div>
    @*<ul class="nav nav-tabs tab-small customul" role="tablist" style="padding-top: 20px;">
        <li role="presentation" class="active">
            <a class="tab-small" aria-controls="AuthorizationSummary" role="tab" data-toggle="tab">Member Information</a>
        </li>
    </ul>*@
    <fieldset class="member-Style">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">Member Information</span>
        </legend>
        <table class="table table-white zero-padding-left-right alignLeftTable noBorderTable zero-margin-top-bottom-hr wrap-words custom-thead-back custom-thead-font custom-tbody">
            <thead class="text-uppercase">
                <tr>
                    <th class="width_14">ADDRESS</th>
                    <th class="width_11">CITY</th>
                    <th class="width_5">STATE</th>
                    <th class="width_12">PHONE</th>
                    <th class="width_9">CELL</th>
                    <th class="width_9">EMAIL</th>
                    <th class="width_5">ZIP</th>
                    <th class="width_11">GRP/PLAN</th>
                    <th class="width_9">SUB-GRP</th>
                    <th class="width_9">EFF</th>
                    <th class="width_6">STATUS</th>
                </tr>
            </thead>
            <tbody class="text-uppercase">
                <tr>
                    <td>OAK HILL 5446</td>
                    <td>TAMPA</td>
                    <td>FLORIDA</td>
                    <td>(957) 011-9586</td>
                    <td>-</td>
                    <td>-</td>
                    <td>23976</td>
                    <td>UNI/ULTIMATE</td>
                    <td>-</td>
                    <td>01/01/2014</td>
                    <td>ACTIVE</td>
                </tr>
            </tbody>
        </table>
    </fieldset>

</div>


<div class="col-lg-12">
    <!-- SCROLL BUTTONS -->
    <div class="left-scroll-button-tab"><i class="fa fa-chevron-left scroll-icon-left-tab"></i></div>
    <div class="right-scroll-button-tab"><i class="fa fa-chevron-right scroll-icon-right-tab"></i></div>

    <div class="x_content">
        <div class="width_13_percent memberProfileTabsContainer">
            <ul class="list-unstyled x-dtablist tabs-menu">
                <li class="tab-item current">
                    <a href="#ProviderInformation-memberTab" class="list-item no_underline list-item-tab-1">
                        <i class="fa fa-user-md"></i>  Provider Information
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#Notes-memberTab" class="list-item no_underline list-item-tab-2">
                        <i class="fa fa-sticky-note-o"></i>  Notes
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#Contacts-memberTab" class="list-item no_underline list-item-tab-3">
                        <i class="fa fa-phone-square"></i>  Contacts
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#Attachments-memberTab" class="list-item no_underline list-item-tab-4">
                        <i class="fa fa-paperclip"></i>  Attachments
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#OtherDemo-memberTab" class="list-item no_underline list-item-tab-5">
                        <i class="fa fa-file-text-o"></i> Other Demo
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#Enrollment-memberTab" class="list-item no_underline list-item-tab-6">
                        <i class="fa fa-check-square-o"></i> Enrollment
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#Address-memberTab" class="list-item no_underline list-item-tab-7">
                        <i class="fa fa-envelope-o"></i> Address
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#Eligibility-memberTab" class="list-item no_underline list-item-tab-8">
                        <i class="fa fa-thumbs-o-up"></i> Eligibility
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#Medicare-memberTab" class="list-item no_underline list-item-tab-9">
                        <i class="fa fa-ambulance"></i>  Medicare
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#COB-memberTab" class="list-item no_underline list-item-tab-10">
                        <i class="fa fa-money"></i>  COB
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#RatingOverride-memberTab" class="list-item no_underline list-item-tab-11">
                        <i class="fa fa-star-half-full"></i> Rating Override
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#ImmunHealthScreening-memberTab" class="list-item no_underline list-item-tab-12">
                        <i class="fa fa-heart-o"></i> Immun/Health Screening
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#ResponsiblePerson-memberTab" class="list-item no_underline list-item-tab-13">
                        <i class="fa fa-user-plus"></i> Responsible Person
                    </a>
                </li>
                <li class="tab-item">
                    <a href="#ICE-memberTab" class="list-item no_underline list-item-tab-14">
                        <i class="fa fa-cubes"></i> ICE
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab memberTabsPadding">
            <div id="ProviderInformation-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_ProviderInformation.cshtml")
            </div>

            <div id="Notes-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_Notes.cshtml")
            </div>

            <div id="Contacts-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_Contacts.cshtml")
            </div>

            <div id="Attachments-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_Attachments.cshtml")
            </div>

            <div id="OtherDemo-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_OtherDemo.cshtml")
            </div>

            <div id="Enrollment-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_Enrollment.cshtml")
            </div>

            <div id="Address-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_Address.cshtml")
            </div>

            <div id="Eligibility-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_Eligibility.cshtml")
            </div>

            <div id="Medicare-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_Medicare.cshtml")
            </div>
            <div id="COB-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_COB.cshtml")
            </div>
            <div id="RatingOverride-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_RatingOverride.cshtml")
            </div>
            <div id="ImmunHealthScreening-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_ImmunHealthScreening.cshtml")
            </div>
            <div id="ResponsiblePerson-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_ResponsiblePerson.cshtml")
            </div>
            <div id="ICE-memberTab" class="custommembertab-content">
                @Html.Partial("~/Views/MemberProfile/Tabs/_ICE.cshtml")
            </div>
        </div>
    </div>
</div>
