
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/SharedCss/jquery.circliful.css" rel="stylesheet" />
<link href="~/Content/SharedCss/bootstrap-duallistbox.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Jquery/select2.min.js"></script>
<link href="~/Content/Provider/select2.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Bootstrap/jquery.bootstrap-duallistbox.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Custom/Profile/CreateProfile.js"></script>
<script src="~/Scripts/Shared/Data/disclosueQuestions.js"></script>
<script src="~/Scripts/Custom/Profile/WorkHistory.js"></script>
<script src="~/Scripts/Custom/Profile/Ethnicity.js"></script>
<script src="~/Scripts/Custom/Profile/ServiceInfo.js"></script>
<script src="~/Scripts/Custom/Profile/IdentificationLicense.js"></script>
<script src="~/Scripts/Custom/Profile/ProfessionalReference.js"></script>
<script src="~/Scripts/Custom/Profile/Education.js"></script>
<script src="~/Scripts/Custom/Profile/hospital.js"></script>
<script src="~/Scripts/Custom/Profile/PracticeLocation.js"></script>
<script src="~/Scripts/Custom/Profile/proffesionalAffli.js"></script>
<script src="~/Scripts/Custom/Profile/Util.js"></script>
<script src="~/Scripts/Lib/Jquery/jquery.circliful.min.js"></script>
<link href="~/Content/SharedCss/jasny-bootstrap.css" rel="stylesheet" />
<link href="~/Content/SharedCss/style.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Bootstrap/jasny-bootstrap.js"></script>
<div id="page-wrapper" ng-app="profileApp">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="~/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list"></i> View Profile
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label small col-lg-2">Profile Complete</label>
        <div class="col-lg-10">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    60%
                </div>
            </div>
        </div>
    </div>

                        <div role="tabpanel">
                            <div class="col-lg-1 text-center">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs-left nav-stacked" role="tablist">
                                    <li role="presentation" class="active" data-toggle="tooltip" data-placement="right" title="Demographics"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-list-alt"></i></a></li>
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Ethnicity"><a href="#ethnicity" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-puzzle-piece"></i></a></li>
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Identification & Licenses"><a href="#identification" aria-controls="identification" role="tab" data-toggle="tab"><i class="fa fa-hospital-o"></i></a></li>
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Education History"><a href="#education" aria-controls="education" role="tab" data-toggle="tab"><i class="fa fa-mortar-board"></i></a></li>
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Practice Location Information"><a href="#practice" aria-controls="practice" role="tab" data-toggle="tab"><i class="fa fa-stethoscope"></i></a></li>
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Hospital Privilege Information"><a href="#hospital" aria-controls="hospital" role="tab" data-toggle="tab"><i class="fa fa-h-square"></i></a></li>
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Professional Affiliation"><a href="#Professional" aria-controls="Professional" role="tab" data-toggle="tab"><i class="fa fa-medkit"></i></a></li>
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Service Information"><a href="#service" aria-controls="service" role="tab" data-toggle="tab"><i class="fa fa-medkit"></i></a></li>
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Work History"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-suitcase"></i></a></li>
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Professional Referrence"><a href="#professionalreference" aria-controls="professionalreference" role="tab" data-toggle="tab"><i class="fa fa-user-md"></i></a></li>
                                    @*<li role="presentation" data-toggle="tooltip" data-placement="right" title="Disclosure Questions"><a href="#disclosure" aria-controls="disclosure" role="tab" data-toggle="tab"><i class="fa fa-question-circle"></i></a></li>*@
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="Document Checklist"><a href="#document" aria-controls="document" role="tab" data-toggle="tab"><i class="fa fa-file-o"></i></a></li>
                                   @* <li role="presentation" data-toggle="tooltip" data-placement="right" title="Timeline"><a href="#Timeline" aria-controls="Timeline" role="tab" data-toggle="tab"><i class="fa fa-history"></i></a></li>*@
                                    <li role="presentation" data-toggle="tooltip" data-placement="right" title="View All Plans"><a href="#Plans" aria-controls="Plans" role="tab" data-toggle="tab"><i class="fa fa-stethoscope"></i></a></li>

                               
                                
                                   
                                 </ul>
                            </div>

                            <div class="col-lg-11">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <!---Demographics partial starts here-->
                                        @Html.Partial("_ViewDemographics")
                                        <!---Demographics partial ends here-->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="profile">

                                        <!---work history partial starts here-->
                                        @Html.Partial("_ViewWorkhistory")
                                        <!---work history partial ends here-->

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="Professional">
                                        <!---_ProfessionalAffilation partial starts here-->
                                        @Html.Partial("_ViewProfessionalAffilation")
                                        <!---_ProfessionalAffilation partial ends here-->
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="ethnicity">
                                        <!---Ethnicity partial starts here-->
                                        @Html.Partial("_ViewEthnicity")
                                        <!---Ethnicity partial ends here-->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="service">
                                        <!---Service partial starts here-->
                                        @Html.Partial("_ViewServiceHistory")
                                        <!---Service partial ends here-->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="identification">
                                        <!---Licensing & Identification partial starts here-->
                                        @Html.Partial("_ViewIdentificationLicensing")
                                        <!---Licensing & Identification partial ends here-->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="education">
                                        <!---Licensing & Identification partial starts here-->
                                        @Html.Partial("_ViewEducation")
                                        <!---Licensing & Identification partial ends here-->
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="practice">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("_ViewPracticeLocationInformation")
                                        <!---Practice Location Information partial ends here-->
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="professionalreference">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("_ViewProfessionalReference")
                                        <!---Practice Location Information partial ends here-->
                                    </div>

                                    @*<div role="tabpanel" class="tab-pane" id="disclosure">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("_DisclosureQuestions")
                                        <!---Practice Location Information partial ends here-->
                                    </div>*@

                                    <div role="tabpanel" class="tab-pane" id="hospital">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("_ViewHospitalPrivilegeInformation")
                                        <!---Practice Location Information partial ends here-->
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="document">
                                        <!---Documents partial starts here-->
                                        @Html.Partial("_ViewDocumentsChecklist")
                                        <!---Documents partial ends here-->
                                    </div>

                                   
                                    <div role="tabpanel" class="tab-pane" id="Plans">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("_ViewAllPlans")
                                        <!---Practice Location Information partial ends here-->
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-3">
                <!---Info Div partial starts here-->
                @Html.Partial("_info_div")
                <!---Info Div partial ends here-->
            </div>*@
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->


<script type="text/javascript">

    $('input').prop('autocomplete', 'off');

    $(document).ready(function () {

        $('.collapse').on('shown.bs.collapse', function () {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function () {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
        $('[name=duallistbox_demo1]').bootstrapDualListbox();

        $("#sidemenu").slideUp();
        $("#page-wrapper").addClass("menuup");
        $('#myStathalf').circliful();
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>