@model AHC.CD.WebUI.MVC.Areas.Credentialing.Models.PSVInfo.ProfileVerificationDetailViewModel
<form enctype="multipart/form-data" class="form-style" id="medicareOPT">
    <input type="hidden" name="ProfileVerificationParameterId" value="{{MOPTParameterID}}">
    <div ng-if="MedicareOPT.ProfileVerificationDetail.ProfileVerificationDetailId">
        <input type="hidden" name="ProfileVerificationDetailId" value="{{MedicareOPT.ProfileVerificationDetail.ProfileVerificationDetailId}}">
    </div>
    <div ng-if="MedicareOPT.ProfileVerificationDetail.VerificationResultId">
        <input type="hidden" name="VerificationResultId" value="{{MedicareOPT.ProfileVerificationDetail.VerificationResultId}}">
    </div>
    <div ng-if="MedicareOPT.ProfileVerificationDetail.VerificationResult.VerificationResultId">
        <input type="hidden" name="VerificationResult.VerificationResultId" value="{{MedicareOPT.ProfileVerificationDetail.VerificationResult.VerificationResultId}}">
    </div>
    <input type="hidden" name="VerificationResult.VerificationResultStatusType" value="1">

    <fieldset>
        <legend>
            @*{{lisence.name}}*@
            <strong>Verification Result</strong>
        </legend>
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-6 form-group">
                <span ng-if="!MedicareOPT.ProfileVerificationDetail.VerificationDate" ng-init="MedicareOPT.ProfileVerificationDetail.VerificationDate = todayDate;">
                </span>
                <label class="control-label small">Verified Date</label>
                @Html.TextBoxFor(model => model.VerificationDate, new { @class = "form-control input-sm", placeholder = "mm/dd/yyyy", data_ng_model = "MedicareOPT.ProfileVerificationDetail.VerificationDate", data_date_format = "MM/dd/yyyy", data_bs_datepicker = "bs-datepicker" })


            </div>

            <div class="col-lg-6 form-group">
                @*<label class="control-label small">Source</label>
                @Html.TextBoxFor(model => model.VerificationResult.Source, new { @class = "form-control input-sm", placeholder = "Verification Source", data_ng_Model = "MedicareOPT.ProfileVerificationDetail.VerificationResult.Source" })*@
                <div class="col-lg-12">
                    <label class="control-label small">Source</label>
                </div>
                <div class="col-lg-10">
                    <span ng-if="!MedicareOPT.ProfileVerificationDetail.VerificationResult" ng-init="MedicareOPT.ProfileVerificationDetail={VerificationResult:{}};"></span>

                    <input type="text" data-searchdropdown="searchdropdown" class="form-control input-sm" name="VerificationResult.Source" ng-model="MedicareOPT.ProfileVerificationDetail.VerificationResult.Source" ng-focus="ShowDivDropDOwn('MedicareSourceDiv');" placeholder="Source" />
                    <div class="ProviderTypeSelectAutoList1 popover fade bottom in" role="tooltip" id="MedicareSourceDiv" style="margin-top: 30px;">
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tbody>
                                <tr ng-repeat="src in filteredSources=(Sources | filter:MedicareOPT.ProfileVerificationDetail.VerificationResult.Source)" class="pointer" ng-click="setValue(MedicareOPT.ProfileVerificationDetail.VerificationResult,src.Link);">
                                    <td>{{src.Name}}</td>

                                </tr>
                                <tr ng-if="filteredSources.length == 0">
                                    <td>No data..... </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-2" ng-show="MedicareOPT.ProfileVerificationDetail.VerificationResult.Source">
                    <a style="cursor:pointer" ng-click="checkForHttp(MedicareOPT.ProfileVerificationDetail.VerificationResult.Source)">Link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label class="control-label small">Remarks</label>
                @*<input type="text" class="form-control input-sm" id="exampleInputEmail1" placeholder="Remarks" ng-model="lisence.remarks">*@
                @Html.TextBoxFor(model => model.VerificationResult.Remark, new { @class = "form-control input-sm", placeholder = "Remarks", data_ng_Model = "MedicareOPT.ProfileVerificationDetail.VerificationResult.Remark" })

            </div>
        </div>
        <div ng-class="{'col-lg-11':MedicareOPT.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath,'col-lg-12':!MedicareOPT.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath}">
            <div class="form-group">
                <label class="control-label small">Verified Document</label>
                <div class="fileinput fileinput-new input-group input-group-sm" data-provides="fileinput">
                    @Html.HiddenFor(model => model.VerificationResult.VerificationDocumentPath, new { data_ng_Model = "MedicareOPT.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath", ng_value = "MedicareOPT.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath" })
                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                    <span class="input-group-addon btn btn-default btn-file">
                        <span class="fileinput-new">Select Verified Document</span><span class="fileinput-exists">Change</span>@*<input type="file" name="...">*@
                        @Html.TextBoxFor(model => model.VerificationResult.VerificationResultDocument, new { type = "file", data_ng_Model = "MedicareOPT.ProfileVerificationDetail.VerificationResult.VerificationResultDocument", onchange = "setFileNameWith(this); angular.element(this).scope().setFiles(this)" })
                    </span>
                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
                @Html.ValidationMessageFor(model => model.VerificationResult.VerificationResultDocument, "", new { @class = "text-danger" })
            </div>
        </div>
        <div ng-if="MedicareOPT.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath" class="col-lg-1">
            <br />
            <a toggle data-toggle="tooltip" data-placement="bottom" title="Preview" href="{{MedicareOPT.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath}}" target="_blank"><i class="fa fa-2x fa-file"></i></a>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-success pull-right" ng-show="MedicareOPT.AddDiv" ng-click="AddMedicareOPTProfileVerificationDetail(MedicareOPT)" @*ng-click="AddBoardCertificationProfileVerificationDetail($index)"*@>Add</a>
                <a class="btn btn-primary pull-right" ng-show="MedicareOPT.EditDiv" ng-click="UpdateMedicareOPTProfileVerificationDetail(MedicareOPT)" @*ng-click="AddBoardCertificationProfileVerificationDetail($index)"*@>Update</a>
                @*<a class="btn btn-warning pull-left">Cancel</a>*@
                <a ng-click="MedicareOPT.EditDiv=false;MedicareOPT.AddDiv=false;MedicareOPT.ViewDiv=true;cancelMedicare()" class="btn btn-warning pull-left">Cancel</a>
                </div>
            </div>

    </fieldset>
</form>



