@model List<PortalTemplate.Areas.Billing.Models.CreateClaim.CreateClaimTemplate.ProviderResult>

@foreach (var item in Model)
{
    <tr data-container="@item.ProviderId">
        <td>
            @item.ProviderNPI
        </td>
        <td class="ProviderName">
            <a href="javascript:void(0)"> @item.ProviderLastOrOrganizationName</a>
        </td>
        <td class="ProviderAddress">
            @item.ProviderFirstAddress @item.ProviderSecondAddress
        </td>
        <td>
            @item.ProviderTaxonomy
        </td>
    </tr>
}
