
<br />
<div class="panel-group" ng-controller="educationController">
    <div class="clearfix"></div>
    @Html.Partial("~/Areas/Profile/Views/EducationHistory/_UnderGraduateSchoolDetail.cshtml")
    <div class="clearfix"></div><br />
    @Html.Partial("~/Areas/Profile/Views/EducationHistory/_GraduateSchoolDetail.cshtml")
    <div class="clearfix"></div><br />
    @Html.Partial("~/Areas/Profile/Views/EducationHistory/_ECFMGDetail.cshtml")
    <div class="clearfix"></div><br />
    @Html.Partial("~/Areas/Profile/Views/EducationHistory/_ProgramDetail.cshtml")
    <div class="clearfix"></div><br />
    @Html.Partial("~/Areas/Profile/Views/EducationHistory/_CMECertificationDetail.cshtml")
</div>
