
@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel
@using PratianUI
@using PortalTemplate.Helper

@{
    if (@Model != null && @Model.AttendingProvider != null && @Model.AttendingProvider.NPI != null)
    {
        if (@Model.AttendingProvider != null && @Model.AttendingProvider.IsUsePCP)
        {
            <div class="inline_block margin_right_1">
                <nobr><span class="theme_label">@Html.LabelFor(e => e.AttendingProvider) </span></nobr>
                <span class="plusbtnSign options_label mbr mbrLabelReqProvider btn btn-xs btn-success">
                    @Html.LabelFor(e => e.AttendingProvider.IsUsePCP)
                    @Html.CheckBoxFor(e => e.AttendingProvider.IsUsePCP, new { @class = "PCPRadioButtonAsTags", @checked = "checked" })
                </span>&nbsp;
                @Html.TextBoxFor(e => e.AttendingProvider.FullName, new { @class = "form-control input-xs summaryDataChange ProviderSearchDropdown read_only_field variable_width_providername loser_field", @placeholder = "ATTENDING PROVIDER", @tabindex = "10", data_bind_111 = "svcProvider" })
                @Html.ValidationMessageFor(e => e.AttendingProvider.FullName)
                <label class="label label-success INProvider INOONLabel">IN</label>
                @Html.Partial("~/Areas/UM/Views/Authorization/Provider/_AttendingProviderHiddenData.cshtml")
            </div>
        }
        else
        {
            <div class="inline_block margin_right_1">
                <nobr><span class="theme_label">@Html.LabelFor(e => e.AttendingProvider) </span></nobr>
                <span class="plusbtnSign options_label mbr mbrLabelReqProvider btn btn-xs btn-ghost">
                    @Html.LabelFor(e => e.AttendingProvider.IsUsePCP)
                    @Html.CheckBoxFor(e => e.AttendingProvider.IsUsePCP, new { @class = "PCPRadioButtonAsTags" })
                </span>&nbsp;
                @Html.TextBoxFor(e => e.AttendingProvider.FullName, new { @class = "form-control input-xs ProviderSearchDropdown summaryDataChange variable_width_providername loser_field", @placeholder = "ATTENDING PROVIDER", @tabindex = "10", data_bind_111 = "svcProvider" })
                @Html.ValidationMessageFor(e => e.AttendingProvider.FullName)
                <label class="label label-success INProvider INOONLabel">IN</label>
                @Html.Partial("~/Areas/UM/Views/Authorization/Provider/_AttendingProviderHiddenData.cshtml")
            </div>
        }
    }
    else
    {
        <div class="inline_block margin_right_1">
            <nobr><span class="theme_label">@Html.LabelFor(e => e.AttendingProvider) </span></nobr>
            <span class="plusbtnSign options_label mbr mbrLabelReqProvider btn btn-xs btn-ghost">
                @Html.LabelFor(e => e.AttendingProvider.IsUsePCP)
                @Html.CheckBoxFor(e => e.AttendingProvider.IsUsePCP, new { @class = "PCPRadioButtonAsTags" })
            </span>&nbsp;
            @Html.TextBoxFor(e => e.AttendingProvider.FullName, new { @class = "form-control input-xs summaryDataChange ProviderSearchDropdown variable_width_providername loser_field", @placeholder = "ATTENDING PROVIDER", @tabindex = "10", data_bind_111 = "svcProvider" })
            @Html.ValidationMessageFor(e => e.AttendingProvider.FullName)
        </div>
    }

}
