@model List<PortalTemplate.Areas.Billing.Models.Claims_Tracking.DeniedByPayerClaimViewModel>
<div class="table-responsive">
    <table class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
        <thead class="theme_thead">
            <tr>
                <th>Sl.No </th>
                <th>Claim ID </th>
                <th>Payer</th>
                <th>Member</th>
                <th>Rendering Provider </th>
                <th>DOS From</th>
                <th>DOS To</th>
                <th>Claimed Amount</th>
                <th>Created On</th>
                <th>Sent To</th>
                <th>Sent On</th>
                <th>Rejected On</th>
                <th>Rejected Reason</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@( ((Int32)1) + @Model.IndexOf(item))</td>
                    <td class="ClaimIdTd">@item.ClaimId</td>
                    <td>@item.PrimaryPayer</td>
                    <td>@item.Member</td>
                    <td>@item.RenderingProvider</td>
                    <td>@item.DosFrom.Value.ToShortDateString()</td>
                    <td>@item.DosTo.Value.ToShortDateString()</td>
                    <td>@item.ClaimedAmount</td>
                    <td>@item.CreatedOn.Value.ToShortDateString()</td>
                    <td>@item.SentTo</td>
                    <td>@item.SentOn.Value.ToShortDateString()</td>
                    <td>@item.RejectedOn</td>
                    <td>@item.RejectionReason</td>
                    <td>
                        <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-edit"> </i></button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


