@model AHC.CD.WebUI.MVC.Models.MasterDataNewViewModel.FacilityEmployeeMasterDataViewModel
@{
    ViewBag.Title = "CredentialingContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="~/Content/SharedCss/app.css" rel="stylesheet" />
    <script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="~/Scripts/Shared/Data/countryDialCodes.js"></script>
    <script src="~/Scripts/Lib/AHC_Lib/UtilDirectivesLib.js"></script>
    <script src="~/Scripts/Lib/Angular-DatePicker/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="~/Scripts/Custom/MasterDataNew/CredentialingContact.js"></script>
}
<div id="page-wrapper">
    <div class="container-fluid wrap-words">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/MasterDataNew"><i class="fa fa-database"></i> Master Data</a>
                    </li>
                    <li>
                        <i class="fa fa-list"></i> Credentialing Contact
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row" ng-app="CredentialingContactApp" ng-controller="CredentialingContactController" ng-cloak>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Credentialing Contact Management
                        <span class="pull-right">
                            <button ng-click="addCredentialingContacts()" class="btn btn-xs btn-primary" ng-disabled="AddMode || EditMode"><i class="fa fa-plus"></i> Add</button>
                        </span>
                    </div>
                    <div class="panel-body">

                        @* List View *@
                        <div ng-show="ListMode">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-lg-2">Name *</th>
                                        <th class="col-lg-2">Telephone</th>
                                        <th class="col-lg-2">Fax</th>
                                        <th class="col-lg-2">E-Mail Address</th>
                                        <th class="col-lg-3">Address</th>
                                        <th class="col-lg-1">Action</th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" placeholder="Filter Name" class="form-control input-sm" ng-model="search.Name" ng-change="filterData()" /></td>
                                        <td><input type="text" placeholder="Filter Telephone" class="form-control input-sm" ng-model="search.Telephone" ng-change="filterData()" /></td>
                                        <td><input type="text" placeholder="Filter Fax" class="form-control input-sm" ng-model="search.Fax" ng-change="filterData()" /></td>
                                        <td><input type="text" placeholder="Filter EMailAddress" class="form-control input-sm" ng-model="search.EmailAddress" ng-change="filterData()" /></td>
                                        <td><input type="text" placeholder="Filter Address" class="form-control input-sm" ng-model="search.Address" ng-change="filterData()" /></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="License in CredentialingContacts | filter:{FirstName:search.Name, Telephone:search.Telephone, Fax:search.Fax, EmailAddress:search.EmailAddress, Street:search.Address} track by $index" @*ng-show="IsValidIndex($index)"*@>
                                        <td>{{License.FirstName}} {{License.MiddleName}} {{License.LastName}}</td>
                                        <td><span ng-if="License.Telephone">{{License.Telephone}}</span></td>
                                        <td><span ng-if="License.Fax">{{License.Fax}}</span></td>
                                        <td><span ng-if="License.EmailAddress">{{License.EmailAddress}}</span></td>
                                        <td>{{License.Street}} {{License.Building}} {{License.City}} {{License.State}} {{License.Country}}-{{License.ZipCode}}</td>
                                        <td>
                                            <a class="btn btn-default btn-xs" ng-click="viewCredentialingContacts(License)" tooltip title="View"><i class="fa fa-eye"></i></a>
                                            <a class="btn btn-info btn-xs" ng-click="editCredentialingContacts(License,$index)" tooltip title="Edit"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="clearfix"></div>
                            <div ng-show="activeMessageDiv=='alertCredentialingContact'" class="alert alert-danger" role="alert">
                                <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                                <i class="fa fa-2x fa-arrow-up"></i> {{messageDesc}}
                            </div>
                            <div ng-show="activeMessageDiv=='credentialingContactSuccessMsg'" class="alert alert-success" role="alert">
                                <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                                <i class="fa fa-2x fa-arrow-up"></i> {{messageDesc}}
                            </div>
                            <div class="clearfix"></div>
                            <div ng-if="CurrentPage.length > 0" ccolicensedetailstable></div>
                            <pagination ng-show="CurrentPage.length > 0" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged(bigCurrentPage)" boundary-links="true" rotate="false" num-pages="numPages" style="margin:0;"></pagination>
                        </div>
                        @* Add/Edit view *@
                        <div ng-show="AddMode || EditMode" class="form-style">
                            <fieldset>
                                <legend>
                                    Credentialing Contact
                                </legend>
                                <form id="CredentialingContactPersonForm{{$index}}">
                                    <div class="col-lg-12">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger validSummary" })
                                        <span ng-if="tempSecondObject.MasterEmployeeID">
                                            @Html.HiddenFor(model => model.MasterEmployeeID, new { id = "MasterEmployeeID", Value = "{{tempSecondObject.MasterEmployeeID}}", data_ng_model = "tempSecondObject.MasterEmployeeID" })
                                        </span>
                                        <div class="clearfix"></div>
                                        <br />
                                        @*<fieldset id="xyz" ng-disabled="billing=='Yes'">*@
                                        <div class="col-md-12">
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.FirstName", placeholder = "First Name" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.MiddleName", placeholder = "Middle Name" } })
                                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.LastName", placeholder = "Last Name" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label small" })
                                                <div>
                                                    <span ng-if="!tempSecondObject.CountryCodeTelephone" ng-init="tempSecondObject.CountryCodeTelephone='+1'"></span>
                                                    <div class="input-group">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default countryCodeClass" tooltip data-toggle="tooltip" data-placement="top" title="Select Country Code" ng-click="showContryCodeDiv('TelephoneCountryCode'+$index)"> {{tempSecondObject.CountryCodeTelephone}} <span class="caret"></span></button>
                                                        </div>
                                                        <div class="countryDailCodeContainer popover fade bottom in" role="tooltip" id='TelephoneCountryCode{{$index}}'>
                                                            <div class="arrow"></div>
                                                            <h3 class="popover-title">Select Country Dial Code</h3>
                                                            <div class="popover-content">
                                                                <select ng-model="tempSecondObject.CountryCodeTelephone" name="CountryCodeTelephone">
                                                                    <option ng-repeat="code in CountryDialCodes" value="{{code.dial_code}}" ng-selected="code.dial_code == tempSecondObject.CountryCodeTelephone">{{code.name}}({{code.dial_code}})</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", data_ng_model = "tempSecondObject.Telephone", tooltip = true, data_toggle = "tooltip", data_placement = "top", title = "For example if your number is (352)515-3633, then please enter it as 3525153633" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.CountryCodeTelephone, "", new { @class = "text-danger" })
                                                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label small" })
                                                <div>
                                                    <span ng-if="!tempSecondObject.CountryCodeFax" ng-init="tempSecondObject.CountryCodeFax='+1'"></span>
                                                    <div class="input-group">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default countryCodeClass" tooltip data-toggle="tooltip" data-placement="top" title="Select Country Code" ng-click="showContryCodeDiv('CountryCodeFax'+$index)"> {{tempSecondObject.CountryCodeFax}} <span class="caret"></span></button>
                                                        </div>
                                                        <div class="countryDailCodeContainer popover fade bottom in" role="tooltip" id='CountryCodeFax{{$index}}'>
                                                            <div class="arrow"></div>
                                                            <h3 class="popover-title">Select Country Dial Code</h3>
                                                            <div class="popover-content">
                                                                <select ng-model="tempSecondObject.CountryCodeFax" name="CountryCodeFax">
                                                                    <option ng-repeat="code in CountryDialCodes" value="{{code.dial_code}}" ng-selected="code.dial_code == tempSecondObject.CountryCodeFax">{{code.name}}({{code.dial_code}})</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", data_ng_model = "tempSecondObject.Fax", tooltip = true, data_toggle = "tooltip", data_placement = "top", title = "For example if your number is (352)515-3633, then please enter it as 3525153633" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.CountryCodeFax, "", new { @class = "text-danger" })
                                                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.EmailAddress", placeholder = "Email Address" } })
                                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.Street", placeholder = "Street Address" } })
                                                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Building, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.Building, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.Building", placeholder = "Apartment/Unit #" } })
                                                @Html.ValidationMessageFor(model => model.Building, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })
                                                @Html.TextBoxFor(model => model.City, new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.City", placeholder = "City", data_ng_change = "addressAutocomplete1(tempSecondObject.City)", data_selectmethod = "selectedLocation1", data_autocomplete = "addressautocomplete" })

                                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.State", placeholder = "State Name" } })
                                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.ZipCode", placeholder = "Zip Code" } })
                                                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-lg-3 form-group" ng-init="tempSecondObject.Country = 'United States'">
                                                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.Country", placeholder = "Country name" } })
                                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })
                                                @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempSecondObject.County", placeholder = "County name" } })
                                                @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        @*</fieldset>*@
                                        <div class="clearfix"></div>
                                        <div ng-show="activeMessageDiv=='alertBillingContact'" class="alert alert-danger" role="alert">
                                            <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                                            <i class="fa fa-2x fa-arrow-up"></i> {{messageDesc}}
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-12">
                                                <div class="control-group">
                                                    <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
                                                    <button class="btn btn-success btn-sm pull-right" ng-show="AddMode" ng-click="saveCredentialingContacts()">Add</button>
                                                    <button class="btn btn-info btn-sm pull-right" ng-show="EditMode" ng-click="updateCredentialingContacts()">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </div>


                        @* View Mode *@
                        <div ng-show="ViewMode" class="form-style">
                            <fieldset>
                                <legend>
                                    Credentialing Contact
                                </legend>
                                <form id="CredentialingContactPersonForm{{$index}}">
                                    <div class="col-lg-12">
                                        <div class="clearfix"></div>
                                        <br />
                                        @*<fieldset id="xyz" ng-disabled="billing=='Yes'">*@
                                        <div class="col-md-12">
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.FirstName}}</i>
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.MiddleName}}</i>
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.LastName}}</i>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label small" })
                                                <div>
                                                    <i>{{tempSecondObject.Telephone}}</i>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.Fax}}</i>
                                            </div>

                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.EmailAddress}}</i>
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.Street}}</i>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.Building, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.Building}}</i>
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.City}}</i>
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.State}}</i>
                                            </div>
                                            <div class="form-group col-md-3">
                                                @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.ZipCode}}</i>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-lg-3 form-group" ng-init="tempSecondObject.Country = 'United States'">
                                                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.Country}}</i>
                                            </div>
                                            <div class="col-lg-3 form-group">
                                                @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })<br />
                                                <i>{{tempSecondObject.County}}</i>
                                            </div>

                                        </div>
                                        @*</fieldset>*@
                                        <div class="col-lg-12">
                                            <div class="col-lg-12">
                                                <div class="control-group">
                                                    <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>





