@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.ProfessionalLiabilityViewModel.ProfessionalLiabilityViewModel>
@{
    var Liability = 0;
}
<div class="target profilediv col-lg-12" id="IDProfessionalLiability">
    @if (Model != null)
    {
        <fieldset class="fsStyle" id="ViewProfessionalLiability">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase create-auth-legends">
                    <span class="transparent-font-color">____</span>
                    Professional Liability
                    <span class="transparent-font-color">____</span>
                </span>
                &nbsp;&nbsp; <span class="text-uppercase ">

                    <span class="fstyleBtnStyle">
                        <button class="btn btn-success btn-xs add_note_btn list-item" data-tab-path="/CredAxis/ProfessionalLiability/AddProfessionalLiability?model=@Model&value=Add" data-tab-container="LiabilityTabView" @*onclick="ShowHideAddView('AddEditProfessionalLiability', 'ViewProfessionalLiability')"*@>
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/ProfessionalLiability/AddProfessionalLiability?model=@Model&value=Edit" data-tab-container="LiabilityTabView">
                            <i class="fa fa-pencil"></i>
                        </button>
                        @*<button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="collapse" data-target="#ProfessionalLiability">*@
                        <button class="btn btn-warning btn-xs historyBtnCSS list-item" @*data-toggle="collapse"*@ data-tab-path="/CredAxis/ProfessionalLiability/ViewLiabilityHistoryForAll" data-tab-container="ProfessionalLiabilityID">
                            <i class="fa fa-history"></i>
                        </button>
                        <a class="print_button_for_Liability hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                            <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                        </a>
                    </span>
                </span>
            </legend>

            @foreach (var item in Model)
            {
                Liability = Liability + 1;
                if (Liability <= 2)
                {
                    <div class="x_content zero-padding-left mutiple-data">
                        <div class="SubHeaderSpacing1">
                            <span class="text-uppercase TableHeading">Professional Liability-@Liability</span>&nbsp;
                             <button data-toggle="modal" onclick="groupmodalhistory('ProfessionalLiability','removeLiabililityinfo','@item.ProfessionalLiabilityID','LiabilityTabView')" @*data-target="#BhaukalId"*@ class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>@*&nbsp;<button class="btn btn-warning btn-xs historyBtnCSS RemoveButtonStyleModal list-item" data-tab-path="/CredAxis/ProfessionalLiability/ViewLiabilityHistory?value=@item.ProfessionalLiabilityID" data-tab-container="@item.ProfessionalLiabilityID">
        <i class="fa fa-history"></i>
    </button>*@
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.InsuranceCarrier) :</label>
                            <span class="theme_label_data">@item.InsuranceCarrier</span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.InsuranceAddress):</label>
                            <span class="theme_label_data">@item.InsuranceAddress</span>
                        </div>
                        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.Suite) :</label>
                            <span class="theme_label_data">@item.Suite</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.StreetNo) :</label>
                            <span class="theme_label_data">
                                @item.StreetNo
                            </span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                            <span class="theme_label_data">@item.City</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
                            <span class="theme_label_data">@item.State</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                            <span class="theme_label_data">@item.County</span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                            <span class="theme_label_data">@item.Country</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode) :</label>
                            <span class="theme_label_data">@item.ZipCode</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.SelfInsured) :</label>
                            <span class="radioValueStyling">
                                @(item.SelfInsured == "True" ? "Yes" : "No")
                            </span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.InsuranceCarrierCoverage) :</label>
                            <span class="radioValueStyling">
                                @item.InsuranceCarrierCoverage
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.TypeofCoverage) :</label>
                            <span class="radioValueStyling">
                                @(item.TypeofCoverage == "True" ? "INDIVIDUAL" : "SHARED")
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.OrginialDate) :</label>
                            <span class="theme_label_data">@item.OrginialDate</span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.EffectiveDate) :</label>
                            <span class="theme_label_data">@item.EffectiveDate</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.ExpirationDate) :</label>
                            <span class="theme_label_data">@item.ExpirationDate</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.AmountCoverage) :</label>
                            <span class="theme_label_data">@item.AmountCoverage</span>
                        </div>

                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.PolicyTailCoverage) :</label>
                            <span class="radioValueStyling">
                                @(item.PolicyTailCoverage == "True" ? "Yes" : "No")
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.PolicyNumber) :</label>
                            <span class="theme_label_data">@item.PolicyNumber</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.AmountcoverageAggregate) :</label>
                            <span class="theme_label_data">@(item.AmountcoverageAggregate == "True" ? "Yes" : "No")</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.PhoneNumber) :</label>
                            <span class="theme_label_data">@item.PhoneNumber</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.Document) :</label>
                            @*<span class="theme_label_data">@item.Document</span>*@
                            <span class="theme_label_data"><i class="fa fa-file"></i></span>
                        </div>
                        <div id="@item.ProfessionalLiabilityID">

                        </div>
                    </div>
                    if (Liability == 2)
                    {
                        <span class="view-more pull-right" id="more" data-toggle="collapse" data-target=".ViewMoreLiability" onclick="ShowHideAddView('less', 'more')">View More</span>
                    }
                }
                else
                {
                    <a href="~/Areas/CredAxis/Views/ProviderProfile/Tabs/ProfessionalLiability/_ProfessionalLiabilityHistory.cshtml"></a>
                    <div class="x_content zero-padding-left mutiple-data collapse ViewMoreLiability">
                        <div class="SubHeaderSpacing1">
                            <span class="text-uppercase TableHeading">Professional Liability-@Liability</span>&nbsp; <button data-toggle="modal" data-target="#BhaukalId" class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
                            @*&nbsp;<button class="btn btn-warning btn-xs historyBtnCSS RemoveButtonStyleModal list-item" data-tab-path="/CredAxis/ProfessionalLiability/ViewLiabilityHistory?value=@item.ProfessionalLiabilityID" data-tab-container="@item.ProfessionalLiabilityID">
                                <i class="fa fa-history"></i>
                            </button>*@
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.InsuranceCarrier) :</label>
                            <span class="theme_label_data">@item.InsuranceCarrier</span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.InsuranceAddress):</label>
                            <span class="theme_label_data">@item.InsuranceAddress</span>
                        </div>
                        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.Suite) :</label>
                            <span class="theme_label_data">@item.Suite</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.StreetNo) :</label>
                            <span class="theme_label_data">
                                @item.StreetNo
                            </span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                            <span class="theme_label_data">@item.City</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
                            <span class="theme_label_data">@item.State</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                            <span class="theme_label_data">@item.County</span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                            <span class="theme_label_data">@item.Country</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode) :</label>
                            <span class="theme_label_data">@item.ZipCode</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.SelfInsured) :</label>
                            <span class="radioValueStyling">
                                @(item.SelfInsured == "True" ? "Yes" : "No")
                            </span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.InsuranceCarrierCoverage) :</label>
                            <span class="radioValueStyling">
                                @item.InsuranceCarrierCoverage
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.TypeofCoverage) :</label>
                            <span class="radioValueStyling">
                                @(item.TypeofCoverage == "True" ? "INDIVIDUAL" : "SHARED")
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.OrginialDate) :</label>
                            <span class="theme_label_data">@item.OrginialDate</span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.EffectiveDate) :</label>
                            <span class="theme_label_data">@item.EffectiveDate</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.ExpirationDate) :</label>
                            <span class="theme_label_data">@item.ExpirationDate</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.AmountCoverage) :</label>
                            <span class="theme_label_data">@item.AmountCoverage</span>
                        </div>

                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.PolicyTailCoverage) :</label>
                            <span class="radioValueStyling">
                                @(item.PolicyTailCoverage == "True" ? "Yes" : "No")
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.PolicyNumber) :</label>
                            <span class="theme_label_data">@item.PolicyNumber</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.AmountcoverageAggregate) :</label>
                            <span class="theme_label_data">@(item.AmountcoverageAggregate == "True" ? "Yes" : "No")</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.PhoneNumber) :</label>
                            <span class="theme_label_data">@item.PhoneNumber</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.Document) :</label>
                            <span class="theme_label_data">@*@item.Document*@ <i class="fa fa-file"></i></span>
                        </div>
                        <div id="@item.ProfessionalLiabilityID">

                        </div>
                    </div>
                }
                if (Liability == Model.Count())
                {
                    <span class="view-more hidden pull-right" id="less" data-toggle="collapse" data-target=".ViewMoreLiability" onclick="ShowHideAddView('more', 'less')">View Less</span>
                }

            }
            <div id="ProfessionalLiabilityID"></div>

        </fieldset>
    }
    else
    {
        @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "PROFESSIONAL LIABILITY", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/ProfessionalLiability/_AddEditProfessionalLiability.cshtml", SectionId = "LiabilityTabView" })
    }

</div>
@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/_RemoveModal.cshtml")
@foreach (var item in Model)
{

    <div class="modal fade " tabindex="-1" role="dialog" id="@item.ProfessionalLiabilityID" style="overflow: auto; top: 8%;">
        <div class="modal-dialog modal-lg ">
            <form class="modal-content">
                <div class="modal-header zero_padding_bottom">
                    <div class="row" style="text-align: center;">
                        <span class="modalTitle">Professional Liability History</span>
                        <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button></span>
                        @*<span data-dismiss="modal" class="pull-right"><i class="fa fa-times btn btn-xs btn-danger"></i></span>*@
                    </div>
                </div>

                <div class="modal-body modalbodyheight  ">
                    <div class="x_content zero-padding-left mutiple-data">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.InsuranceCarrier) :</label>
                            <span class="theme_label_data">@item.InsuranceCarrier</span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.InsuranceAddress):</label>
                            <span class="theme_label_data">@item.InsuranceAddress</span>
                        </div>
                        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.Suite) :</label>
                            <span class="theme_label_data">@item.Suite</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.StreetNo) :</label>
                            <span class="theme_label_data">
                                @item.StreetNo
                            </span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                            <span class="theme_label_data">@item.City</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
                            <span class="theme_label_data">@item.State</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                            <span class="theme_label_data">@item.County</span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                            <span class="theme_label_data">@item.Country</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode) :</label>
                            <span class="theme_label_data">@item.ZipCode</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.SelfInsured) :</label>
                            <span class="radioValueStyling">
                                @(item.SelfInsured == "True" ? "Yes" : "No")
                            </span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.InsuranceCarrierCoverage) :</label>
                            <span class="radioValueStyling">
                                @item.InsuranceCarrierCoverage
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.TypeofCoverage) :</label>
                            <span class="radioValueStyling">
                                @(item.TypeofCoverage == "True" ? "INDIVIDUAL" : "SHARED")
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.OrginialDate) :</label>
                            <span class="theme_label_data">@item.OrginialDate</span>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.EffectiveDate) :</label>
                            <span class="theme_label_data">@item.EffectiveDate</span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.ExpirationDate) :</label>
                            <span class="theme_label_data">@item.ExpirationDate</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.AmountCoverage) :</label>
                            <span class="theme_label_data">@item.AmountCoverage</span>
                        </div>

                        <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.PolicyTailCoverage) :</label>
                            <span class="radioValueStyling">
                                @(item.PolicyTailCoverage == "True" ? "Yes" : "No")
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.PolicyNumber) :</label>
                            <span class="theme_label_data">@item.PolicyNumber</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.AmountcoverageAggregate) :</label>
                            <span class="theme_label_data">@(item.AmountcoverageAggregate == "True" ? "Yes" : "No")</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.PhoneNumber) :</label>
                            <span class="theme_label_data">@item.PhoneNumber</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle   text_adjust ">
                            <label class="theme_label">@Html.DisplayNameFor(e => e.Document) :</label>
                            <span class="theme_label_data">@item.Document</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}