@model List<PortalTemplate.Areas.Encounters.Models.CreateEncounter.ClaimHistoryViewModel>


<div class="container-fluid">
    <table class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped p_body_data_background" style="margin-bottom: 0px;" cellspacing="0">
        <thead class="theme_thead">
            <tr>
                <th>
                    <label>EncounterID</label>
                </th>
                <th>
                    <label>Member Name</label>
                </th>
                <th>
                    <label>Provider FName</label>
                </th>
                <th>
                    <label>Billing Provider</label>
                </th>

                <th>
                    <label>DateofService</label>
                </th>
                <th>
                    <label>DateofCreation</label>
                </th>
                <th>
                    <label>Age</label>
                </th>
                <th>
                    <label>Created By</label>
                </th>
                <th>
                    <label>Enctr Type</label>
                </th>
                <th>
                    <label>Status</label>
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.EncounterID
                </td>
                <td>
                    @item.MemberFirstName @item.MemberMiddleInitial @item.MemberLastName
                </td>
                <td>
                    @item.ProviderFirstName @item.ProviderLastName
                </td>
                <td>
                    @item.BillingProvider
                </td>
                <td>
                    @item.DateOfService
                </td>
                <td>
                    @item.DateOfCreation
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    @item.CreatedBy
                </td>
                <td>
                    @item.EncounterType
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <i class="fa fa-eye"></i>
                </td>
            </tr>    
            }
            
        </tbody>
    </table>
</div>

