@model List<PortalTemplate.Areas.Encounters.Models.MemberViewModel>

<div class="table-responsive">
    <table id="MemberResult" class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
        <thead class="theme_thead">
            <tr>
                <th>Subscriber ID</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Address</th>
                <th>PCP</th>
                <th>Plan Name</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-container="@item.MemberId.">
                    <td>@item.SubscriberID </td>
                    <td><a href="javascript:void(0)">@item.MemberLastName @item.MemberMiddleName @item.MemberFirstName</a>  </td>
                    <td>@item.DateOfBirth.Value.ToShortDateString()</td>
                    <td>@item.Address</td>
                    <td>@item.PCP</td>
                    <td>@item.PayerName</td>
                    <td>@item.StartDate.Value.ToShortDateString()</td>
                    <td>@item.EndDate.Value.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Areas/Encounters/Scripts/AppJs/CreateEncounter/Unminified/MemberResult.js"></script>