@model List<PortalTemplate.Areas.Encounters.Models.CreateEncounter.RenderingProviderListViewModel>
<div id="providers_title"></div>
<table class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped p_body_data_background" id="readytocodeid" style="margin-bottom: 0px;" cellspacing="0">
    <thead class="theme_thead">
        <tr>
            <th>Provider NPI</th>
            <th>Provider Name</th>
            <th>Specialty</th>
            <th>Taxonomy Code</th>
        </tr>
    </thead>
    <tbody id="RenderingProviders">

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProviderNPI</td>
                <td class="ProviderName">@item.ProviderFirstName @item.ProviderMiddleInitial @item.ProviderLastName</td>
                <td>@item.Speciality</td>
                <td>@item.TaxanomyCode</td>
            </tr>
        }


    </tbody>
</table>


<script src="~/Areas/Encounters/Scripts/AppJs/CreateEncounter/Unminified/RenderingProviderList.js"></script>
