@model AHC.CD.WebUI.MVC.Areas.Profile.Models.WorkHistory.ProfessionalWorkExperienceViewModel

<div class="col-lg-12" style="word-wrap: break-word;">
    <fieldset>
        <legend>
            Professional Work Experience Information
        </legend>
        <div class="col-md-12">

            <div class="col-md-12">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EmployerName, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.EmployerName  || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.Street  || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Building, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.Building  || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.City  || 'Not Available'}}</i>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.State  || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.ZipCode  || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.Country  || 'Not Available'}}</i>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.County  || 'Not Available'}}</i>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EmployerMobile, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label" ng-show="workExperience.EmployerMobile">({{workExperience.CountryCodeMobile}}) - </i><i class="data-label">{{workExperience.EmployerMobile  || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EmployerFax, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <div>
                            <i class="data-label" ng-show="workExperience.EmployerFax">({{workExperience.CountryCodeFax}}) - </i><i class="data-label">{{workExperience.EmployerFax  || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EmployerEmail, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <div>
                            <i class="data-label">{{workExperience.EmployerEmail || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.JobTitle || 'Not Available'}}</i>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.SupervisorName, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.SupervisorName || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.Department || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ProviderTypeID, new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{workExperience.ProviderType.Title || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.CanContactEmployerOption, htmlAttributes: new { @class = "control-label small" })
                    <div class="radio">
                        <div>
                            <i class="data-label">{{workExperience.CanContactEmployer || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label class="control-label small">Currently Working Here?</label>
                    <div>
                        <i class="data-label">{{workExperience.CurrentlyWorking || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label small">Start Date</label>
                    <div>
                        <i class="data-label">{{workExperience.StartDate || 'Not Available' | date:'MM-dd-yyyy'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3" ng-hide="workExperience.CurrentlyWorkingOption == 1 ">
                    <label class="control-label small">End Date</label>
                    <div>
                        <i class="data-label">{{workExperience.EndDate || 'Not Available' | date:'MM-dd-yyyy'}}</i>
                    </div>

                </div>
                <div class="form-group col-md-3" ng-hide="workExperience.CurrentlyWorkingOption == 1 ">
                    <label class="control-label small">Reason For Departure</label>
                    <div>
                        <i class="data-label">{{workExperience.DepartureReason || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label small">Experience Document</label>
                    <div>
                        <i class="data-label" ng-show="workExperience.WorkExperienceDocPath"><a href="/Document/View?path={{workExperience.WorkExperienceDocPath}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="{{workExperience.WorkExperienceDocPath}}"><i class="fa fa-file center-block"></i></a></i>
                        <i class="data-label" ng-show="workExperience.WorkExperienceDocPath==null">Not Available</i>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-12">
                    <button type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('')">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="operateEditControl($index+'_editProfessionalWorkExperience',workExperience)">Edit</button>
                </div>
            </div>
        </div>
        </fieldset>
</div>

