@model AHC.CD.WebUI.MVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<style>
    .paddingclass {
        padding-left: 54px;
    }
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Change Password</h4>
                <hr />
                <div style="margin-left: 80px;">@*Strong password required. Enter Minimum 8 characters. Do not include common words or names. Combine uppercase letters, lowercase letters, numbers, and symbols.*@ Please make sure that the new Password met the Password Policy</div>
                @Html.ValidationSummary("", new { @class = "text-danger paddingclass" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label small"})
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.OldPassword, new { type = "password", @class = "form-control input-sm", @Autocomplete = "off" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label small"})
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.NewPassword, new { type = "password", @class = "form-control input-sm", @Autocomplete = "off" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label small" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", @class = "form-control input-sm", @Autocomplete = "off" })
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-2 pull-right">
                    @*<input type="submit" value="Change password" class="btn btn-default" />*@
                    <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/manage/index">
                        <input type="submit" value="Submit" class="btn btn-success pull-right" />
                    </a>
           
                </div>
                <div class="col-md-2 pull-right">
                    @*<input type="submit" value="Change password" class="btn btn-default" />*@
                    <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/manage/index"><input type="button" value="Cancel" class="btn btn-warning pull-right" /></a>

                </div>
            </div>
            }
            @*@section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }*@
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <br /><br /><br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Password Policy</h3>
                </div>

                <div class="panel-body">
                    <span style="color:red">*</span>  User cannot use his/her previous 3 Passwords<br /><br />
                    <span style="color:red">*</span>  Minimum password age is 1 day<br /><br />
                    <span style="color:red">*</span>  Maximum password age is 90 days  <br /><br />
                    <span style="color:red">*</span>  Minimum password length is set to 8 characters<br /><br />
                    <span>Password should meet complexity requirements mentioned below</span><br /><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">*</span>  At least 1 uppercase letter <br /><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">*</span>  At least 1 lowercase letter <br /><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">*</span>  At least 1 special character <br /><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red">*</span>  At least 1 number <br /><br />

                </div>
            </div>
        </div>
    </div>
</div>
