@model AHC.CD.WebUI.MVC.Areas.Profile.Models.PracticeLocationInformation.MidLevelPractitionerViewModel

<div class="col-md-12">
    <div class="col-lg-3 form-group">
        @Html.LabelFor(model => model.MidLevelPerson.FirstName, htmlAttributes: new { @class = "control-label small" })
        @Html.EditorFor(model => model.MidLevelPerson.FirstName, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.MidLevelPerson.FirstName", placeholder = "First Name" } })
        @Html.ValidationMessageFor(model => model.MidLevelPerson.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="col-lg-3 form-group">
        @Html.LabelFor(model => model.MidLevelPerson.MiddleName, htmlAttributes: new { @class = "control-label small" })
        @Html.EditorFor(model => model.MidLevelPerson.MiddleName, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.MidLevelPerson.MiddleName", placeholder = "Middle Name" } })
        @Html.ValidationMessageFor(model => model.MidLevelPerson.MiddleName, "", new { @class = "text-danger" })
    </div>
    <div class="col-lg-3 form-group">
        @Html.LabelFor(model => model.MidLevelPerson.LastName, htmlAttributes: new { @class = "control-label small" })
        @Html.EditorFor(model => model.MidLevelPerson.LastName, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.MidLevelPerson.LastName", placeholder = "Last Name" } })
        @Html.ValidationMessageFor(model => model.MidLevelPerson.LastName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.PractitionerTypeId, new { @class = "control-label small" })

        <select class="form-control input-sm" data-ng-model="tempObject.PractitionerTypeId" name="PractitionerTypeId" id="PractitionerTypeId" data-val="true" data-val-required="Please select the Provider type">
            <option value="" disabled selected>--Select--</option>
            <option ng-repeat="type in ProviderTypes" value="{{type.ProviderTypeID}}">{{type.Title}}</option>
        </select>
        @Html.ValidationMessageFor(model => model.PractitionerTypeId, "", new { @class = "text-danger" })
    </div>

</div>

<div class="col-md-12">
    <div class="col-lg-3 form-group">
        @Html.LabelFor(model => model.CertificateNumber, htmlAttributes: new { @class = "control-label small" })
        @Html.EditorFor(model => model.CertificateNumber, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.CertificateNumber", placeholder = "Enter Certificate Number" } })
        @Html.ValidationMessageFor(model => model.CertificateNumber, "", new { @class = "text-danger" })
    </div>

    <div class="col-lg-3 form-group">
        @Html.LabelFor(model => model.MidLevelPerson.State, htmlAttributes: new { @class = "control-label small" })
        @Html.EditorFor(model => model.MidLevelPerson.State, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.MidLevelPerson.State", placeholder = "State" } })
        @Html.ValidationMessageFor(model => model.MidLevelPerson.State, "", new { @class = "text-danger" })
    </div>
</div>