@model PortalTemplate.Areas.Billing.Models.CreateClaim.CreateClaimTemplate.CreateClaimsTemplate

<div class="x_panel border_on_panel">
    <div class="x_content">
        <div class="col-lg-12">
            <label class="title_text">Create Claim Template</label>
        </div>
        <form id="CreateClaimTemplateForm">

            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="title_heading text-initial">Member</span>
                    <button class="btn btn-xs btn-info" id="search_member_btn"><i class="fa fa-reply"></i> Change</button>
                </legend>
                @*<div class="legend2">
                        <button class="btn btn-xs btn-info pull-right" id="search_member_btn">Change Member <i class="fa fa-reply"></i></button>
                    </div>*@
                <div class="panel-body col-lg-12">
                    @*<div class="col-lg-12">
                            <label class="inner_title_heading">Member</label>
                            <a id="search_member_btn" class="edit_link"><i class="fa fa-edit"></i> Edit</a>
                        </div>*@
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text_capitalizer ">
                            <span class="text-initial">
                                Subscriber ID
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text_capitalizer ">
                            <span class="text-initial">
                                Name
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text_capitalizer ">
                            <span class="text-initial">
                                DOB
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text_capitalizer ">
                            <span class="text-initial">
                                Address
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bolding text-uppercase">
                            <span id="PatientFirstName" class="bolding text-uppercase ng-binding">@Model.Member.SubscriberID</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bolding text-uppercase">
                            <span id="PatientName" class="bolding text-uppercase ng-binding">@Model.Member.MemberFullName</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bolding text-uppercase">
                            <span id="PatientFirstName" class="bolding text-uppercase ng-binding">@Model.Member.DateOfBirth</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bolding text-uppercase">
                            <span id="PatientFirstName" class="bolding text-uppercase ng-binding">@Model.Member.MemberFullAddress</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text_capitalizer">
                            <span class="text-initial">
                                PCP
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text_capitalizer ">
                            <span class="text-initial">
                                Plan Name
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text_capitalizer">
                            <span class="text-initial">
                                Start Date
                            </span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text_capitalizer">
                            <span class="text-initial">
                                End Date
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bolding text-uppercase">
                            <span id="PatientFirstName" class="bolding text-uppercase ng-binding">@Model.Member.PCPFullName</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bolding text-uppercase">
                            <span id="PatientFirstName" class="bolding text-uppercase ng-binding">@Model.Member.PlanName</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bolding text-uppercase">
                            <span id="PatientFirstName" class="bolding text-uppercase ng-binding">@Model.Member.PlanEffectiveDate</span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bolding text-uppercase">
                            <span id="PatientFirstName" class="bolding text-uppercase ng-binding">@Model.Member.PlanTerminationDate</span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <fieldset class="fsStyle">
                        <legend class="legendStyle">
                            <span class="text-initial title_heading">Providers</span>
                        </legend>
                        <div class="panel-body col-lg-12">
                            @*<div class="col-lg-12">
                                    <label class="inner_title_heading">Providers</label>
                                </div>*@
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <span class="text_capitalizer">Billing Provider:<small class="text-danger asterisk_symbol">*</small></span>
                                    <div class="row">
                                        <div class="bolding col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span id="CreateClaimsTempForProviderBillingProviderLabel">
                                                @Model.BillingProvider.BillingProviderFullName<br />
                                                @Model.BillingProvider.BillingProviderFullAddress
                                            </span>
                                            <button class="btn btn-xs btn-info CreateClaimsTemplateEditButtons margin_left_15px" type="button" id="CreateClaimsTempForProviderBillingProviderEditButtons"><i class="fa fa-edit"></i> Edit</button>
                                            @*<a id="CreateClaimsTempForProviderBillingProviderEditButtons" class="edit_link CreateClaimsTemplateEditButtons"><i class="fa fa-edit"></i> Edit</a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <span class="text_capitalizer">Rendering Provider:<small class="text-danger asterisk_symbol">*</small></span>
                                    <div class="row">
                                        <div class="bolding col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span id="CreateClaimsTempForProviderRenderingProviderLabel">
                                                @Model.RenderingProvider.ProviderFullName<br />
                                                @*@Model.RenderingProvider.RenderingProviderFirstAddress @Model.RenderingProvider.RenderingProviderSecondAddress*@
                                            </span>
                                            <button class="btn btn-xs btn-info CreateClaimsTemplateEditButtons margin_left_15px" type="button" id="CreateClaimsTempForProviderRenderingProviderEditButtons"><i class="fa fa-edit"></i> Edit</button>
                                            @*<a id="CreateClaimsTempForProviderRenderingProviderEditButtons" class="edit_link CreateClaimsTemplateEditButtons"><i class="fa fa-edit"></i> Edit</a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <span class="text_capitalizer">Referring Provider:</span>
                                    <div class="row">
                                        <div class="bolding col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span id="CreateClaimsTempForProviderReferringProviderLabel">
                                                @Model.ReferringProvider.ReferringProviderFirstName @Model.ReferringProvider.ReferringProviderMiddleName @Model.ReferringProvider.ReferringProviderLastName
                                                <br />
                                                @Model.ReferringProvider.ReferringProviderFirstAddress @Model.ReferringProvider.ReferringProviderSecondAddress
                                            </span>
                                            <button class="btn btn-xs btn-info CreateClaimsTemplateEditButtons margin_left_15px" type="button" id="CreateClaimsTempForProviderReferringProviderEditButtons"><i class="fa fa-edit"></i> Edit</button>
                                            @*<a id="CreateClaimsTempForProviderReferringProviderEditButtons" class="edit_link CreateClaimsTemplateEditButtons"><i class="fa fa-edit"></i> Edit</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12" id="CreateClaimsTempProvidersSearchResult">
                                </div>
                            </div>
                            <div class="row margin_top_plus10">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <span class="text_capitalizer">Supervising Provider:</span>
                                    <div class="row">
                                        <div class="bolding col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span id="CreateClaimsTempForMemberSupervisingProviderLabel">
                                                @Model.SupervisingProvider.SupervisingProviderFirstName @Model.SupervisingProvider.SupervisingProviderMiddleName @Model.SupervisingProvider.SupervisingProviderLastName
                                                <br />
                                                @Model.SupervisingProvider.SupervisingProviderFirstAddress @Model.SupervisingProvider.SupervisingProviderSecondAddress
                                            </span>
                                            <button class="btn btn-xs btn-info CreateClaimsTemplateEditButtons margin_left_15px" type="button" id="CreateClaimsTempForMemberSupervisingProviderEditButtons"><i class="fa fa-edit"></i> Edit</button>
                                            @*<a id="CreateClaimsTempForMemberSupervisingProviderEditButtons" class="edit_link CreateClaimsTemplateEditButtons"><i class="fa fa-edit"></i> Edit</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12" id="CreateClaimsTempSupervisingProvidersSearchResult">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <fieldset class="fsStyle">
                        <legend class="legendStyle">
                            <span class="text-initial title_heading">Facility</span>
                        </legend>
                        <div class="panel-body col-lg-12">
                            @*<div class="col-lg-12">
                                    <label class="inner_title_heading">Facility</label>
                                </div>*@
                            <div class="row margin_top_10_px">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin_top_minus11">
                                    <span class="text_capitalizer">Facility:<small class="text-danger asterisk_symbol">*</small></span>
                                    <div class="row">
                                        <div class="bolding col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <span id="CreateClaimsTempForMemberFacilityLabel">
                                                @Model.Facility.FacilityName
                                                <br />
                                                @Model.Facility.FacilityAddress1 @Model.Facility.FacilityAddress2
                                            </span>
                                            <button class="btn btn-xs btn-info CreateClaimsTemplateEditButtons margin_left_15px" id="CreateClaimsTempForMemberFacilityEditButtons"><i class="fa fa-edit"></i> Edit</button>
                                            @*<a id="CreateClaimsTempForMemberFacilityEditButtons" class="edit_link CreateClaimsTemplateEditButtons"><i class="fa fa-edit"></i> Edit</a>*@
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

                                        </div>
                                        <div class="bolding col-lg-10 col-md-10 col-sm-10 col-xs-10" id="CreateClaimsTempMemberFacilityInput">
                                            <input class="form-control input-xs non_mandatory_field_halo" name="CreateClaimsTempMemberFacility" id="CreateClaimsTempMemberFacility" placeholder="Facility">
                                        </div>
                                        <div id="CreateClaimsTempForMemberFacilitySearchButtons" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <button class="copy-button button-styles-xs">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12" id="CreateClaimsTempFacilitySearchResult">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>


            @* -----------------------hidden fields------------------------- *@

            @* -----------------member-------------------------- *@
            @Html.HiddenFor(model => model.Member.FirstName)
            @Html.HiddenFor(model => model.Member.LastName)
            @Html.HiddenFor(model => model.Member.SubscriberID)
            @Html.HiddenFor(model => model.Member.DateOfBirth)
            @Html.HiddenFor(model => model.Member.Gender)
            @Html.HiddenFor(model => model.Member.PatientRelationToInsured)
            @Html.HiddenFor(model => model.Member.AddressLine1)
            @Html.HiddenFor(model => model.Member.City)
            @Html.HiddenFor(model => model.Member.State)
            @Html.HiddenFor(model => model.Member.ZipCode)
            @Html.HiddenFor(model => model.Member.PlanName)
            @Html.HiddenFor(model => model.Member.PlanEffectiveDate)
            @Html.HiddenFor(model => model.Member.PlanTerminationDate)
            @Html.HiddenFor(model => model.Member.ContactNumber)

            @* --------------------------insured details--------------------------- *@
            @Html.HiddenFor(model => model.InsuredDetails.SubscriberFirstName)
            @Html.HiddenFor(model => model.InsuredDetails.SubscriberMiddleName)
            @Html.HiddenFor(model => model.InsuredDetails.SubscriberLastName)
            @Html.HiddenFor(model => model.InsuredDetails.DateOfBirth)
            @Html.HiddenFor(model => model.InsuredDetails.Gender)
            @Html.HiddenFor(model => model.InsuredDetails.AddressLine1)
            @Html.HiddenFor(model => model.InsuredDetails.AddressLine2)
            @Html.HiddenFor(model => model.InsuredDetails.City)
            @Html.HiddenFor(model => model.InsuredDetails.State)
            @Html.HiddenFor(model => model.InsuredDetails.Zipcode)
            @Html.HiddenFor(model => model.InsuredDetails.Phone)
            @Html.HiddenFor(model => model.InsuredDetails.InsuredId)
            @Html.HiddenFor(model => model.InsuredDetails.PolicyNumber)
            @Html.HiddenFor(model => model.InsuredDetails.PlanName)

            @* ------------------secondary insured details------------------------ *@
            @Html.HiddenFor(model => model.SecondaryInsuredDetails.SubscriberFirstName)
            @Html.HiddenFor(model => model.SecondaryInsuredDetails.SubscriberMiddleName)
            @Html.HiddenFor(model => model.SecondaryInsuredDetails.SubscriberLastName)
            @Html.HiddenFor(model => model.SecondaryInsuredDetails.PolicyNumber)
            @Html.HiddenFor(model => model.SecondaryInsuredDetails.PlanName)
            @Html.HiddenFor(model => model.SecondaryInsuredDetails.PatientAccountNumber)

            @* ------------------billing provider------------------- *@
            @Html.HiddenFor(model => model.BillingProvider.BillingProviderFirstName)
            @Html.HiddenFor(model => model.BillingProvider.BillingProviderMiddleName)
            @Html.HiddenFor(model => model.BillingProvider.BillingProviderLastOrOrganizationName)
            @Html.HiddenFor(model => model.BillingProvider.BillingProviderFirstAddress)
            @Html.HiddenFor(model => model.BillingProvider.BillingProviderSecondAddress)
            @Html.HiddenFor(model => model.BillingProvider.BillingProviderCity)
            @Html.HiddenFor(model => model.BillingProvider.BillingProviderState)
            @Html.HiddenFor(model => model.BillingProvider.BillingProviderZip)
            @Html.HiddenFor(model => model.BillingProvider.BillingGroupNPI)

            @* -----------------rendering provider-------------------- *@
            @Html.HiddenFor(model => model.RenderingProvider.ProviderFirstName)
            @Html.HiddenFor(model => model.RenderingProvider.ProviderMiddleName)
            @Html.HiddenFor(model => model.RenderingProvider.ProviderLastName)
            @Html.HiddenFor(model => model.RenderingProvider.ProviderFirstAddress)
            @Html.HiddenFor(model => model.RenderingProvider.ProviderSecondAddress)
            @Html.HiddenFor(model => model.RenderingProvider.ProviderCity)
            @Html.HiddenFor(model => model.RenderingProvider.ProviderState)
            @Html.HiddenFor(model => model.RenderingProvider.ProviderZip)
            @Html.HiddenFor(model => model.RenderingProvider.ProviderPhoneNo)
            @Html.HiddenFor(model => model.RenderingProvider.Taxonomy)
            @Html.HiddenFor(model => model.RenderingProvider.TaxId)

            @* ----------------referring provider---------------------- *@
            @Html.HiddenFor(model => model.ReferringProvider.ReferringProviderFirstName)
            @Html.HiddenFor(model => model.ReferringProvider.ReferringProviderMiddleName)
            @Html.HiddenFor(model => model.ReferringProvider.ReferringProviderLastName)
            @Html.HiddenFor(model => model.ReferringProvider.ReferringProviderFirstAddress)
            @Html.HiddenFor(model => model.ReferringProvider.ReferringProviderSecondAddress)
            @Html.HiddenFor(model => model.ReferringProvider.ReferringProviderCity)
            @Html.HiddenFor(model => model.ReferringProvider.ReferringProviderState)
            @Html.HiddenFor(model => model.ReferringProvider.ReferringProviderZip)

            @* -----------------supervising provider----------------------- *@
            @Html.HiddenFor(model => model.SupervisingProvider.SupervisingProviderFirstName)
            @Html.HiddenFor(model => model.SupervisingProvider.SupervisingProviderMiddleName)
            @Html.HiddenFor(model => model.SupervisingProvider.SupervisingProviderLastName)
            @Html.HiddenFor(model => model.SupervisingProvider.SupervisingProviderFirstAddress)
            @Html.HiddenFor(model => model.SupervisingProvider.SupervisingProviderSecondAddress)
            @Html.HiddenFor(model => model.SupervisingProvider.SupervisingProviderCity)
            @Html.HiddenFor(model => model.SupervisingProvider.SupervisingProviderState)
            @Html.HiddenFor(model => model.SupervisingProvider.SupervisingProviderZip)

            @* --------------------facility information---------------------- *@
            @Html.HiddenFor(model => model.Facility.FacilityName)
            @Html.HiddenFor(model => model.Facility.FacilityAddress1)
            @Html.HiddenFor(model => model.Facility.FacilityAddress2)
            @Html.HiddenFor(model => model.Facility.FacilityCity)
            @Html.HiddenFor(model => model.Facility.FacilityState)
            @Html.HiddenFor(model => model.Facility.FacilityZip)
            @Html.HiddenFor(model => model.Facility.FacilityIdentifier1)
            @Html.HiddenFor(model => model.Facility.FacilityIdentifier2)


            @* --------------------payer information---------------------- *@
            @Html.HiddenFor(model => model.PayerInfo.PayerId)
            @Html.HiddenFor(model => model.PayerInfo.PayerName)
            @Html.HiddenFor(model => model.PayerInfo.PayerFirstAddress)
            @Html.HiddenFor(model => model.PayerInfo.PayerSecondAddress)
            @Html.HiddenFor(model => model.PayerInfo.PayerCity)
            @Html.HiddenFor(model => model.PayerInfo.PayerState)
            @Html.HiddenFor(model => model.PayerInfo.PayerZip)

        </form>


        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-sm btn-warning pull-left" id="GoToSelectProviderMember_member_Btn">Back</button>
                <button class="btn btn-sm btn-primary pull-right" id="create_claim_template_member_btn">Create Claim Template</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/CreateClaimsTemplateforMember.js"></script>