@model List<PortalTemplate.Areas.Billing.Models.CreateClaim.ProviderResultViewModel>

<fieldset class="fsStyle createClaim">
    <legend class="legendStyle">
        <span class="text-initial title_heading">Rendering Provider</span>
        <button class="btn btn-xs btn-info" id="search_provider_btn"><i class="fa fa-reply"> Change</i></button>
    </legend>
    @*<div class="legend1">
        <button class="btn btn-xs btn-info pull-right" id="search_provider_btn">Change Provider <i class="fa fa-reply"></i></button>
    </div>*@
    <div class="panel-body col-lg-12">
        <div class="table-responsive mulitProviderSlectTableDiv">
            <table id="RenderingProviderResult"class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        <th class="text-initial">Name</th>
                        <th class="text-initial">NPI</th>
                        <th class="text-initial">Facility</th>
                        <th class="text-initial">Taxonomy</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProviderFullName</td>
                                <td>@item.ProviderNPI</td>
                                <td>@item.ProviderFirstAddress</td>
                                <td>@item.Taxonomy</td>                              
                                @*<td>@item.RenderingProviderFirstAddress @item.RenderingProviderSecondAddress</td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>          
        </div>        
    </div>
</fieldset>
