@model PortalTemplate.Areas.UM.Models.ViewModels.InsertText.InsertTextViewModel
@using PratianUI
<p-script filepath="~/Scripts/AppScripts/Home/AddNewTextSnippet.js"></p-script>
<div class="col-lg-12" id="NoteForm">
    <div class="row">
        <div class="col-lg-3 inline_block theme_label">
            @Html.PratianUiCheckboxFor(e => e.ReviewType, "Nurse Review", new { @id = "NurseReview", @Value = "Nurse Review", @checked = "checked" })
        </div>
        <div class="col-lg-3 inline_block theme_label">
            @Html.PratianUiCheckboxFor(e => e.ReviewType, "MD Review", new { @id = "MDReview", @Value = "MD Review" })
        </div>
        <div class="col-lg-3 inline_block theme_label">
            @Html.PratianUiRadioButtonFor(e => e.Decision, "Approval", new { @id = "approval", @Value = "approval" })
        </div>
        <div class="col-lg-3 inline_block theme_label">
            @Html.PratianUiRadioButtonFor(e => e.Decision, "Denial", new { @id = "denial", @Value = "denial", @checked = "checked" })
        </div>
    </div>

    <div class="row" id="DenialDecisionShow">
        <div class="col-lg-12">
            <span class="theme_label">@Html.LabelFor(e => e.ServiceSubjectToNotice)*</span>
            @Html.TextAreaFor(e => e.ServiceSubjectToNotice, new { @class = "form-control input-xs inp", @placeholder = "SERVICE SUBJECT TO NOTICE", @rows = "3", @cols = "140" })
            <br />
        </div>

        <div class="col-lg-12">
            <span class="theme_label">@Html.LabelFor(e => e.Rationale)*</span>
            @Html.TextAreaFor(e => e.Rationale, new { @class = "form-control input-xs inp", @placeholder = "RATIONALE", @rows = "3", @cols = "140" })
            <br />
        </div>
        <div class="col-lg-12">
            <span class="theme_label">@Html.LabelFor(e => e.AlternaltePlanOfCare)*</span>
            @Html.TextAreaFor(e => e.AlternaltePlanOfCare, new { @class = "form-control input-xs inp", @placeholder = "ALTERNALTE PLAN OF CARE", @rows = "3", @cols = "140" })
            <br />
        </div>
        <div class="col-lg-12">
            <span class="theme_label">@Html.LabelFor(e => e.CriteriaUsed)*</span>
            @Html.TextAreaFor(e => e.CriteriaUsed, new { @class = "form-control input-xs inp", @placeholder = "CRITERIA USED", @rows = "3", @cols = "140" })
            <br />
        </div>
        <div class="col-lg-12">
            <span class="theme_label">@Html.LabelFor(e => e.Note)</span>
            @Html.TextAreaFor(e => e.Note, new { @class = "form-control input-xs inp", @placeholder = "NOTE", @rows = "3", @cols = "140" })
            <br />
        </div>
        <div class="col-lg-12" id="listOfMedicalServices">
            <span class="theme_label">@Html.LabelFor(e => e.ListOfMedicalService)*</span>
            <div id="listOfMedicalService_1">
                <div class="col-lg-11 padding-left-zero">
                    @Html.TextAreaFor(e => e.ListOfMedicalService, new { @class = "form-control input-xs", @placeholder = "MEDICAL SERVICES", @rows = "1", @cols = "140" })
                </div>
                <div class="col-lg-1 padding-left-zero button-styles-xs">
                    <button class="btn btn-xs btn-success plusButton"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="ApproveDecisionShow" style="display:none;">
        <div class="col-lg-12">
            <span class="theme_label">@Html.LabelFor(e => e.CriteriaUsed)*</span>
            @Html.TextAreaFor(e => e.CriteriaUsed, new { @class = "form-control input-xs inp", @placeholder = "CRITERIA USED", @rows = "3", @cols = "140" })
            <br />
        </div>
        <div class="col-lg-12">
            <span class="theme_label">@Html.LabelFor(e => e.Note)</span>
            @Html.TextAreaFor(e => e.Note, new { @class = "form-control input-xs inp", @placeholder = "NOTE", @rows = "3", @cols = "140" })
        </div>
    </div>

    <div class="row padding-top_10">
         <button class="btn btn-success pull-right">save</button>
        <button class="btn btn-danger pull-right">Cancel</button>
    </div>
</div>
