@model IEnumerable<PortalTemplate.Areas.Facility.Models.FacilityBridgeQueueViewModel>
@using PortalTemplate.Helper
<div>
    <span class="theme_label_data pull-left">Displaying @Model.Count() Facility(s)</span>
    <span id="exportOptionsForAdvanceUMSearch" class="pull-right">
        @Html.ExportOptions("pdf", "excel", "print", "filter")
    </span>
    <button class="btn btn-success btn-xs tab-navigation pull-right" id="AddFacilityModal" style="margin-top: 5px;margin-bottom: 0px;">
        Add New Facility
    </button>
</div>
<table id="" class="table table-striped table-hover table-responsive text-uppercase" style="margin-top: 4px; margin-left: -3px; ">
    <thead class="theme_thead custom-thead-back theme1_table custom-thead-font custom-tbody" id="">
        <tr>
            <th class="maxWidthtdSM">
                <span class="styled-input">
                    <input class="filer-search" type="text" required /><label class="singleElemQueue bgFieldsQueue">Name &nbsp;</label>
                    <span></span>
                    <i class="fa fa-sort facility-queue-sort"></i>
                </span>
            </th>
            <th class="maxWidthtdX theLastName">
                <span class="styled-input">
                    <input class="filer-search" type="text" required /><label class="singleElemQueue bgFieldsQueue">Type &nbsp;</label>
                    <span></span>
                    <i class="fa fa-sort facility-queue-sort"></i>
                </span>
            </th>
            <th class="maxWidthtdX">
                <span class="styled-input">
                    <input class="filer-search" type="text" required /><label class="singleElemQueue bgFieldsQueue">Corporate &nbsp;</label>
                    <span></span>
                    <i class="fa fa-sort facility-queue-sort"></i>
                </span>
            </th>
            <th class="maxWidthtdXL">
                <span class="styled-input">
                    <input class="filer-search" type="text" required /><label class="singleElemQueue bgFieldsQueue">City &nbsp;</label>
                    <span></span>
                    <i class="fa fa-sort facility-queue-sort"></i>
                </span>
            </th>
            <th class="maxWidthtdX">

                <span class="styled-input">
                    <input class="filer-search" type="text" required /><label class="singleElemQueue bgFieldsQueue">State &nbsp;</label>
                    <span></span>
                    <i class="fa fa-sort facility-queue-sort"></i>
                </span>
            </th>

            <th class="maxWidthtdX">
                <span class="styled-input">
                    <input class="filer-search" type="text" required /><label class="singleElemQueue bgFieldsQueue">County &nbsp;</label>
                    <span></span>
                    <i class="fa fa-sort facility-queue-sort"></i>
                </span>
            </th>
            <th class="maxWidthtdXL">
                <span class="styled-input">
                    <input class="filer-search" type="text" required /><label class="singleElemQueue bgFieldsQueue">Country &nbsp;</label>
                    <span></span>
                    <i class="fa fa-sort facility-queue-sort"></i>
                </span>
            </th>
            <th class="maxWidthtdXL">
                <span class="styled-input">
                    <input class="filer-search" type="text" required /><label class="singleElemQueue bgFieldsQueue">Status &nbsp;</label>
                    <span></span>
                    <i class="fa fa-sort facility-queue-sort"></i>
                </span>
            </th>
            <th class="maxWidthtdSM">
                <label class="singleElemQueue bgFieldsQueue">Action&nbsp;</label>
                <span class="styled-input">
                    <span></span>
                </span>
            </th>
        </tr>
    </thead>
    <tbody class="theme_label_data" id="">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FacilityName</td>
                <td>@item.FacilityType</td>
                <td>@item.CorporateName</td>
                <td>@item.City</td>
                <td>@item.State</td>
                <td>@item.County</td>
                <td>@item.Country</td>
                <td>@item.Status</td>
                <td>
                    <a class="btn btn-primary btn-xs" onclick="ViewFacility('@item.FacilityID')"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-primary btn-xs" onclick="EditFacility('@item.FacilityID')"><i class="fa fa-edit"></i></a>
                    @if (item.Status == "Active")
                    {
                        <a class="btn btn-danger btn-xs" onclick="DeactivateFacility()" data-toggle="tooltip" data-placement="bottom" title="Deactivate"><i class="fa fa-times"></i> </a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-xs" onclick="ActivateFacility()" data-toggle="tooltip" data-placement="bottom" title="Activate"><i class="fa fa-check"></i></a>
                    }

                </td>
            </tr>
        }
    </tbody>

</table>
