@model AHC.CD.WebUI.MVC.Areas.Profile.Models.EducationHistory.TrainingDetailViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

<div class="clearfix"></div>
    <form id="TrainingForm">
        <div id="programForm">
            @Html.ValidationSummary(true, "", new { @class = "text-danger validSummary" })
            <span ng-if="tempObject.TrainingDetailID">
                @Html.HiddenFor(model => model.TrainingDetailID, new { ng_value = "tempObject.TrainingDetailID", data_ng_model = "tempObject.TrainingDetailID" })
            </span>
            
            <div>
                <fieldset>
                    <legend>                        
                        <span ng-if="visibilityControl=='addresidencyInternshipViewModel'">Add School Details</span>
                        <span ng-if="visibilityControl==($index+'_editresidencyInternshipViewModel')">Update School Details</span>
                    </legend>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <span ng-if="tempObject.SchoolInformation.SchoolInformationID">
                            @Html.HiddenFor(model => model.SchoolInformation.SchoolInformationID, new { ng_value = "tempObject.SchoolInformation.SchoolInformationID", data_ng_model = "tempObject.SchoolInformation.SchoolInformationID" })
                        </span>
                        <div class="col-lg-4 form-group">
                            @Html.LabelFor(model => model.SchoolInformation.SchoolName, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <input type="text" ng-focus="tempObject.SchoolInformation.SchoolNamefocus=true" ng-blur="tempObject.SchoolInformation.SchoolNamefocus=false" class="form-control input-sm" data-val="true" data-val-required="Please select the School Name*" name="SchoolInformation.SchoolName" ng-model="tempObject.SchoolInformation.SchoolName" ng-change="searchCumDropDown('ForTrainingSchoolName'+$index)" />
                                <div ng-hide="!filterTrainingSchoolData.length" class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="ForTrainingSchoolName{{$index}}">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <tbody>
                                            <tr ng-repeat="school in filterTrainingSchoolData=(masterSchools | filter : tempObject.SchoolInformation.SchoolName) track by $index" ng-click="addIntoSchoolDropDown(school,'ForTrainingSchoolName')" class="pointer">
                                                <td>{{school.Name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="!filterTrainingSchoolData.length" class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" ng-hide="!tempObject.SchoolInformation.SchoolNamefocus">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>School Name not found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.SchoolInformation.SchoolName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4 form-group">
                            @Html.LabelFor(model => model.HospitalName, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <input type="text" ng-focus="tempObject.HospitalNamefocus=true" ng-blur="tempObject.HospitalNamefocus=false" class="form-control input-sm" name="HospitalName" ng-model="tempObject.HospitalName" ng-change="searchCumDropDown('ForTrainingHospitalName'+$index)" />
                                <div ng-hide="!filterTrainingHospitalData.length" class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="ForTrainingHospitalName{{$index}}">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <tbody>
                                            <tr ng-repeat="hospital in filterTrainingHospitalData=(masterHospitals | filter : tempObject.HospitalName) track by $index" ng-click="addIntoHospitalDropDown(hospital.HospitalName,'ForTrainingHospitalName')" class="pointer">
                                                <td>{{hospital.HospitalName}}</td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="!filterTrainingHospitalData.length" class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" ng-hide="!tempObject.HospitalNamefocus">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>School Name not found</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.HospitalName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.Location, htmlAttributes: new { @class = "control-label small" })
                            @*<input type="text" class="form-control input-sm" ng-model="tempObject.SchoolContactInfo.Location" data-val="true" data-val-required="Please select the School Location *." name="LocationName" ng-focus="searchCumDropDown('ForGraduationLocation'+$index);setErrorBitLocation(tempObject.SchoolContactInfo.Location);clearLocationLevel()" />*@
                            <input type="text" class="form-control input-sm" ng-model="tempObject.SchoolContactInfo.Location" name="SchoolInformation.Location" ng-focus="searchCumDropDown('ForGraduationLocation'+$index);setErrorBitLocation(tempObject.SchoolContactInfo.Location);clearLocationLevel()" />
                            @*<input type="hidden" name="SchoolContactInfoID" value="{{tempObject.SchoolContactInfo.SchoolContactInfoID}}" />*@

                            <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="ForGraduationLocation{{$index}}">
                                <table class="table table-striped table-bordered table-hover table-condensed">

                                    <tbody>
                                        <tr ng-repeat="location in filterLocationData = (tempObject.SchoolInformation.SchoolContactInfoes | filter:tempObject.SchoolContactInfo.Location) track by $index" ng-click="addIntoLocationDropDown(location,'ForGraduationLocation'+parentIndex);setErrorBitLocation(tempObject.SchoolContactInfo.Location)" class="pointer">
                                            <td>{{location.Location}}</td>
                                        </tr>
                                        <tr ng-if="!filterLocationData.length">
                                            <td>Location Name not found</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*<span class="text-danger" ng-if="!isLocationError">Please Enter Location Name *.</span>*@
                            @*@Html.ValidationMessageFor(model => model.HospitalContactInfoID, "", new { @class = "text-danger" })*@

                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SchoolInformation.Street, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.SchoolInformation.Street, new { @class = "form-control input-sm", placeholder = "Street", data_ng_model = "tempObject.SchoolContactInfo.Street" })
                                @Html.ValidationMessageFor(model => model.SchoolInformation.Street, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SchoolInformation.Building, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.SchoolInformation.Building, new { @class = "form-control input-sm", placeholder = "Building", data_ng_model = "tempObject.SchoolContactInfo.Building" })
                                @Html.ValidationMessageFor(model => model.SchoolInformation.Building, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        @*<div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SchoolInformation.City, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                
                                <input type="text" name="tempTrainingCity" class="form-control input-sm" placeholder="enter city" ng-bind="City"  data-val-regex="Please enter valid State*. Only alphabets, spaces, comma, hyphens, dot, quotes and apostrophe accepted." data-val-regex-pattern="^[a-zA-Z0-9 ,-.'&quot;]*$" ng-model="tempObject.selectedEduLocation" data-limit="10" ng-options="location.City +'  '+ location.State +'  '+ location.CountryCode for location in Locations" ng-change="addressAutocomplete(tempObject.selectedEduLocation)" bs-typeahead />
                                <span class="field-validation-valid text-danger" data-valmsg-for="tempTrainingCity" data-valmsg-replace="true"></span>
                                @Html.HiddenFor(model => model.SchoolInformation.City, new { ng_value = "tempObject.SchoolInformation.City" })
                                
                            </div>
                            @Html.ValidationMessageFor(model => model.SchoolInformation.City, "", new { @class = "text-danger" })
                        </div>*@

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SchoolInformation.City, htmlAttributes: new { @class = "control-label small" })
                            @Html.TextBoxFor(model => model.SchoolInformation.City, new { @class = "form-control input-sm", data_ng_model = "tempObject.SchoolContactInfo.City", placeholder = "city name", data_ng_change = "addressAutocomplete(tempObject.SchoolContactInfo.City)", onfocus = "showLocationList(this)" })

                            <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip">
                                <table class="table table-striped table-bordered table-hover table-condensed marginBottomAutosearch">
                                    <tbody>
                                        <tr ng-repeat="location in Locations track by $index" ng-click="selectedLocation(location)" class="pointer">
                                            <td>{{location.City}} - {{location.State}} - {{location.CountryCode}}</td>
                                        </tr>
                                        <tr ng-if="Locations.length == 0">
                                            <td>Not Available..... </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @Html.ValidationMessageFor(model => model.SchoolInformation.City, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SchoolInformation.State, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @*<input type="text" name="SchoolInformation.State" data-val="true" data-val-required="Please enter the State*" class="form-control input-sm" ng-bind="State" ng-model="tempObject.SchoolInformation.State" />*@
                                @Html.EditorFor(model => model.SchoolInformation.State, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.SchoolContactInfo.State", placeholder = "state name" } })
                                @Html.ValidationMessageFor(model => model.SchoolInformation.State, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SchoolInformation.ZipCode, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @*<input type="text" name="SchoolInformation.ZipCode" data-val="true" data-val-required="Please enter the ZipCode*" class="form-control input-sm" ng-bind="ZipCode" ng-model="tempObject.SchoolInformation.ZipCode" />*@
                                @Html.EditorFor(model => model.SchoolInformation.ZipCode, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.SchoolContactInfo.ZipCode", placeholder = "zip code" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.SchoolInformation.ZipCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SchoolInformation.Country, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @*<input type="text" name="SchoolInformation.Country" data-val="true" data-val-required="Please enter the Country*" class="form-control input-sm" ng-bind="Country" ng-model="tempObject.SchoolInformation.Country" />*@
                                @Html.EditorFor(model => model.SchoolInformation.Country, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.SchoolContactInfo.Country", placeholder = "country" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.SchoolInformation.Country, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SchoolInformation.County, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @*<input type="text" name="SchoolInformation.County" class="form-control input-sm" ng-bind="County" ng-model="tempObject.SchoolInformation.County" />*@
                                @Html.EditorFor(model => model.SchoolInformation.County, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "tempObject.SchoolContactInfo.County", placeholder = "county" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.SchoolInformation.County, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SchoolInformation.Email, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.SchoolInformation.Email, new { id = "Email", @class = "form-control input-sm", placeholder = "email", data_ng_model = "tempObject.SchoolContactInfo.Email" })
                                @Html.ValidationMessageFor(model => model.SchoolInformation.Email, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-lg-4 form-group">
                            @Html.LabelFor(model => model.SchoolInformation.Phone, htmlAttributes: new { @class = "control-label small" })
                            <div class="input-group">
                                <span ng-if="!tempObject.SchoolContactInfo.PhoneCountryCode" ng-init="tempObject.SchoolContactInfo.PhoneCountryCode='+1'"></span>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default countryCodeClass" ng-init="+1" ng-click="showContryCodeDiv('ResidecyTelephoneCountryCode'+$index)"> {{tempObject.SchoolContactInfo.PhoneCountryCode}} <span class="caret"></span></button>
                                </div>
                                <div class="countryDailCodeContainer popover fade bottom in" role="tooltip" id="ResidecyTelephoneCountryCode{{$index}}">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title">Select Country Dial Code</h3>
                                    <div class="popover-content">
                                        <select name="SchoolInformation.PhoneCountryCode" ng-model="tempObject.SchoolContactInfo.PhoneCountryCode">
                                            <option ng-repeat="code in CountryDialCodes" value="{{code.dial_code}}" ng-selected="code.dial_code == tempObject.SchoolContactInfo.PhoneCountryCode">{{code.name}}({{code.dial_code}})</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    @Html.TextBoxFor(model => model.SchoolInformation.Phone, new { id = "Phone", @class = "form-control", placeholder = "phone number", data_ng_model = "tempObject.SchoolContactInfo.Phone" })

                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.SchoolInformation.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-4 form-group">
                            @Html.LabelFor(model => model.SchoolInformation.Fax, htmlAttributes: new { @class = "control-label small" })
                            <div class="input-group">
                                <span ng-if="!tempObject.SchoolContactInfo.FaxCountryCode" ng-init="tempObject.SchoolContactInfo.FaxCountryCode='+1'"></span>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default countryCodeClass" ng-click="showContryCodeDiv('ResidecyFaxCountryCode'+$index)"> {{tempObject.SchoolContactInfo.FaxCountryCode}} <span class="caret"></span></button>
                                </div>
                                <div class="countryDailCodeContainer popover fade bottom in" role="tooltip" id="ResidecyFaxCountryCode{{$index}}">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title">Select Country Dial Code</h3>
                                    <div class="popover-content">
                                        <select name="SchoolInformation.FaxCountryCode" ng-model="tempObject.SchoolContactInfo.FaxCountryCode">
                                            <option ng-repeat="code in CountryDialCodes" value="{{code.dial_code}}" ng-selected="code.dial_code == tempObject.SchoolContactInfo.FaxCountryCode">{{code.name}}({{code.dial_code}})</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    @Html.TextBoxFor(model => model.SchoolInformation.Fax, new { id = "Fax", @class = "form-control ", placeholder = "fax number", data_ng_model = "tempObject.SchoolContactInfo.Fax" })

                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.SchoolInformation.Fax, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-lg-6 form-group">
                            @Html.LabelFor(model => model.CompletedYesNoOption, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                                {
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.CompletedYesNoOption, (int)value, new { data_ng_model = "tempObject.CompletedYesNoOption" }) @value.ToString()
                                    </label>
                                }

                            </div>
                            @Html.ValidationMessageFor(model => model.CompletedYesNoOption, "", new { @class = "text-danger" })
                        </div>

                        <div ng-show="tempObject.CompletedYesNoOption == 2 " class="col-lg-6 form-group">
                            @Html.LabelFor(model => model.InCompleteReason, htmlAttributes: new { @class = "control-label small" })
                            @Html.TextAreaFor(model => model.InCompleteReason, new { @class = "form-control ", data_ng_model = "tempObject.InCompleteReason" })
                            @Html.ValidationMessageFor(model => model.CompletedYesNoOption, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-show="activeMessageDiv=='ErrorInProgramDetails'+$index" class="col-lg-12">
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Error Lists :<br />
                            <span ng-repeat="err in ResidencyDetailsErrorList track by $index">{{err}}</span>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-lg-12 form-group">
                            <button ng-show="visibilityControl==($index+'_editresidencyInternshipViewModel') || visibilityControl==('addresidencyInternshipViewModel')" type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl(''); datePickerReset();">Cancel</button>
                            <button ng-show="visibilityControl==('addresidencyInternshipViewModel')" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveProgram(tempObject)">Add</button>
                            <button ng-show="visibilityControl==($index+'_editresidencyInternshipViewModel')" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveProgram(tempObject, $index)">Update</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
    @Html.Partial("~/Areas/Profile/Views/EducationHistory/_AddIndexResidencyInternshipDetail.cshtml")
   

