@model AHC.CD.WebUI.MVC.Areas.Profile.Models.EducationHistory.EducationDetailViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

<div class="clearfix"></div>
<div class="form-style" id="viewUG">
    <fieldset class="wrap-words">
        <legend>
            Under Graduate/Professional School Details
        </legend>
        <div class="col-md-12 zero-padding-left-right-div">
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.USGraduateYesNoOption, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{educationDetailViewModel.IsUSGraduate || 'Not Available'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.SchoolName, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label wrap-words">{{educationDetailViewModel.SchoolInformation.SchoolName || 'Not Available'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.QualificationDegree, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label wrap-words">{{educationDetailViewModel.QualificationDegree || 'Not Available'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.Location, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label wrap-words">{{educationDetailViewModel.SchoolInformation.Location || 'Not Available'}}</i>
                </div>
            </div>
          
        </div>
        <div class="col-md-12 zero-padding-left-right-div">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.Street, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label wrap-words">{{educationDetailViewModel.SchoolInformation.Street || 'Not Available'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.Building, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i ng-if="educationDetailViewModel.SchoolInformation.Building" class="data-label wrap-words">{{educationDetailViewModel.SchoolInformation.Building}}</i>
                    <i ng-if="!educationDetailViewModel.SchoolInformation.Building" class="data-label">Not Available</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.City, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{educationDetailViewModel.SchoolInformation.City || 'Not Available'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.State, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label wrap-words">{{educationDetailViewModel.SchoolInformation.State || 'Not Available'}}</i>
                </div>
            </div>
           
        </div>
        <div class="col-md-12 zero-padding-left-right-div">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.ZipCode, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i ng-if="educationDetailViewModel.SchoolInformation.ZipCode" class="data-label">{{educationDetailViewModel.SchoolInformation.ZipCode}}</i>
                    <i ng-if="!educationDetailViewModel.SchoolInformation.ZipCode" class="data-label">Not Available</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.Country, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label wrap-words">{{educationDetailViewModel.SchoolInformation.Country || 'Not Available'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.County, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i ng-if="educationDetailViewModel.SchoolInformation.County" class="data-label wrap-words">{{educationDetailViewModel.SchoolInformation.County}}</i>
                    <i ng-if="!educationDetailViewModel.SchoolInformation.County" class="data-label">Not Available</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.Email, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i ng-if="educationDetailViewModel.SchoolInformation.Email" class="data-label wrap-words">{{educationDetailViewModel.SchoolInformation.Email}}</i>
                    <i ng-if="!educationDetailViewModel.SchoolInformation.Email" class="data-label">Not Available</i>
                </div>
            </div>
          
        </div>
        <div class="col-md-12 zero-padding-left-right-div">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.Phone, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i ng-if="educationDetailViewModel.SchoolInformation.Phone" class="data-label">{{educationDetailViewModel.SchoolInformation.PhoneCountryCode}}-{{educationDetailViewModel.SchoolInformation.Phone}}</i>
                    <i ng-if="!educationDetailViewModel.SchoolInformation.Phone" class="data-label">Not Available</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.SchoolInformation.Fax, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i ng-if="educationDetailViewModel.SchoolInformation.Fax" class="data-label">{{educationDetailViewModel.SchoolInformation.FaxCountryCode}}-{{educationDetailViewModel.SchoolInformation.Fax}}</i>
                    <i ng-if="!educationDetailViewModel.SchoolInformation.Fax" class="data-label">Not Available</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{educationDetailViewModel.StartDate || 'Not Available' | date:'MM-dd-yyyy'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{educationDetailViewModel.EndDate || 'Not Available' | date:'MM-dd-yyyy'}}</i>
                </div>
            </div>
           
        </div>
        <div class="col-md-12 zero-padding-left-right-div">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.CompletedYesNoOption, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{educationDetailViewModel.IsCompleted || 'Not Available'}}</i>
                </div>
            </div>
            @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Preview, ViewBag.Roles, false))
            {
                <div class="form-group col-md-3">
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        @Html.LabelFor(model => model.CertificatePath, htmlAttributes: new { @class = "control-label small" })
                        <div ng-if="educationDetailViewModel.CertificatePath">
                            <i class="data-label"><a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{educationDetailViewModel.CertificatePath}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="Diploma"><i class="fa fa-file"></i></a></i>
                        </div>
                        <div ng-if="!educationDetailViewModel.CertificatePath">
                            <i class="data-label"> Not available</i>
                        </div>
                    </div>
                </div>
            }
            </div>
        <div class="clearfix"></div>
        <div ng-show="activeMessageDiv=='updatedUGDetails'+$index" class="alert alert-success" role="alert">
            <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
            {{messageDesc}}
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="form-group col-md-12">
                <button id="UGPSD_Table_EditIcon" type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('')">Cancel</button>
                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
{
    <button id="UGPSD_View_EditButton" type="button" class="btn btn-primary btn-sm pull-right" ng-click="operateEditControl($index+'_editeducationDetailViewModel',educationDetailViewModel)" ng-hide="educationDetailViewModel.TableState">Edit</button>
}
            </div>
        </div>
    </fieldset>
</div>