@model PortalTemplate.Areas.Facility.Models.FacilityBridgeQueueViewModel
@using PratianUI
<fieldset class="facility-modal" id="">
    <fieldset class="fsStyle">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6">
                @Html.LabelFor(e => e.SourceName, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.SourceName</div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
                @Html.LabelFor(e => e.OrganizationName, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.OrganizationName</div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
                @Html.LabelFor(e => e.OrganizationType, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.OrganizationType</div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6">
                @Html.LabelFor(e => e.OrganizationNPI, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.OrganizationNPI</div>
            </div>
        </div>
    </fieldset>
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends custom-legend-font-style">General Info</span>
        </legend>
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.FacilityName, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.FacilityName</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.FacilityType, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.FacilityType</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.CorporateName, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.CorporateName</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.TaxID, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.TaxID</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.PhoneNumber, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.PhoneNumber</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.Fax, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.Fax</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.Email, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.Email</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.AddressLine1, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.AddressLine1</div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.AddressLine2, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.AddressLine2</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.City, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.City</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.State, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.State</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.County, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.County</div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.Country, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.Country</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.ZipCode, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.ZipCode</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.PrintOnClaim, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.PrintOnClaim</div>
            </div>
        </div>
    </fieldset>
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend  custom-legend-font-style text-uppercase create-auth-legends">Contact Person Info</span>
        </legend>
        <div class="row">
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.CFirstName, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.CFirstName</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.CLastName, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.CLastName</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.CPhoneNumber, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.CPhoneNumber</div>
            </div>
            <div class="col-md-3 col-md-3 col-sm-12">
                @Html.LabelFor(e => e.CFax, new { @class = "theme_label" })
                <div class="theme_label_data">@Model.CFax</div>
            </div>
        </div>
    </fieldset>
    <br />
    @if (Model != null && Model.Status != "Approved")
    {
        <fieldset class="fsStyle">
            <div class="row" onclick="ShowAssignTo('AssignToDropdown')">

                <div class="col-md-6 col-lg-3 col-sm-12" onclick="CheckForRequestStatus('ApproveFacilityinView', 'PendingFacilityinView')">
                    <label>Request Status </label>
                    <div>
                        @Html.PratianUiRadioButton("Approve", new { @class = "input-md", @name = "Type", @id = "ApproveFacilityinView" })
                        @if (Model.Status != "Pending")
                        {
                            @Html.PratianUiRadioButton("Pending", new { @class = "input-md AssignToDropdown", @name = "Type", @id = "PendingFacilityinView" })
                        }
                    </div>
                </div>
                <div class="col-md-6 col-lg-9 col-sm-12 zero-padding-left-right" id="AssignToDiv" hidden>
                    <div class="col-lg-5">
                        <label>Reason </label>
                        <select class="form-control input-xs  mandatory_field_halo text-uppercase editable ">
                            <option selected disabled>Select Reason</option>
                            <option>Invalid Details</option>
                            <option>Participated in Malpractice</option>
                        </select>
                    </div>
                    <div class="col-lg-7">
                        <label>Note</label> @Html.TextBoxFor(e => e.ReasonDescription, new { @class = "form-control input-xs  mandatory_field_halo text-uppercase editable ", @placeholder = "REASON DESCRIPTION" })
                    </div>
                </div>

            </div>
        </fieldset>
    }
    @if (Model == null)
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-styles text-right">
            <span><button data-dismiss="modal" class="btn btn-danger">CANCEL</button></span>
            <input type="submit" class="btn btn-success" value="REQUEST" />
        </div>
    }
</fieldset>
