
<div role="tabpanel" ng-app="CnDRouter">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs small" role="tablist">
            <li ui-sref-active="active"><a ui-sref="summary">Summary&nbsp;<i ng-show="SummaryTabStatus" class="fa fa-check-circle text-success"></i></a></li>
            @*<li ui-sref-active="active"><a ui-sref="initiation">Initiation</a></li>*@
            @*<li ui-sref-active="active"><a ui-sref="application_form">Profile Form</a></li>
            <li ui-sref-active="active"><a ui-sref="plan_data">Plan Data</a></li>*@            
            <li ui-sref-active="active"><a ui-sref="psv">PSV<i class="data-label" style="color:red">(Only for Delegation)</i>&nbsp;<i ng-show="PSVTabStatus" class="fa fa-check-circle text-success"></i></a></li>
            <li ui-sref-active="active"><a ui-sref="credentialing_action">Credentialing Checklist<i class="data-label" style="color:red">(Only for Delegation)</i>&nbsp;<i ng-show="CheckListTabStatus" class="fa fa-check-circle text-success"></i></a></li>
            <li ui-sref-active="active"><a ui-sref="credentialing_appointment">Credentialing Appointment&nbsp;<i ng-show="CredAppointmentTabStatus" class="fa fa-check-circle text-success"></i></a></li>
            @*<li ui-sref-active="active"><a ui-sref="printChecklist">Print/Download</a></li>*@
            @*<li ui-sref-active="active"><a ui-sref="application_repo">Application Repository</a></li>*@
            @* <li ui-sref-active="active"><a ui-sref="disclosure_question">Disclosure Question</a></li>*@
            @*<li ui-sref-active="active"><a ui-sref="documents">Documents</a></li>*@
            <li ui-sref-active="active"><a ui-sref="package_generator">Package Generator&nbsp;<i ng-show="PackageGeneratorTabStatus" class="fa fa-check-circle text-success"></i></a></li>
            <li ui-sref-active="active"><a ui-sref="load_to_plan">Load to Plan&nbsp;<i ng-show="LoadToPlanStatus" class="fa fa-check-circle text-success"></i></a></li>
            <li ui-sref-active="active"><a ui-sref="plan_enrollment">Plan Enrollment&nbsp;<i ng-show="PlanEnrollMentTabStatus" class="fa fa-check-circle text-success"></i></a></li>

            @*<li ui-sref-active="active"><a ui-sref="search"><input type="text" placeholder="Search" /></a></li>*@
        </ul>
    </div>
    
    <div class="col-lg-12">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active">
                <!---Demographics partial starts here-->
                <div ui-view></div>
             
                <!---Demographics partial ends here-->
            </div>

            @*<div role="tabpanel" class="tab-pane" id="form">
                    <!---Demographics partial starts here-->
                    @Html.Partial("~/Areas/Credentialing/Views/CnD/_ViewForm.cshtml")
                    <!---Demographics partial ends here-->
                </div>
                <div role="tabpanel" class="tab-pane" id="planData">
                    <!---Demographics partial starts here-->
                    @Html.Partial("~/Areas/Credentialing/Views/CnD/_PlanData.cshtml")
                    <!---Demographics partial ends here-->
                </div>
                <div role="tabpanel" class="tab-pane" id="disclosure_question">
                    <!---Demographics partial starts here-->
                    @Html.Partial("~/Areas/Credentialing/Views/CnD/_DisclosureQuestions.cshtml")
                    <!---Demographics partial ends here-->
                </div>

                <div role="tabpanel" class="tab-pane" id="document_checklist">
                    <!---Demographics partial starts here-->
                    @Html.Partial("~/Areas/Credentialing/Views/Shared/_UploadedDocs.cshtml")
                    <!---Demographics partial ends here-->
                </div>

                <div role="tabpanel" class="tab-pane" id="psv">
                    <!---Demographics partial starts here-->
                    @Html.Partial("~/Areas/Credentialing/Views/Shared/_VerificationReport.cshtml")

                    <!---Demographics partial ends here-->
                </div>


                <div role="tabpanel" class="tab-pane" id="credentialing_action">
                    <!---Demographics partial starts here-->
                    @Html.Partial("~/Areas/Credentialing/Views/Shared/_info_div.cshtml")
                    <!---Demographics partial ends here-->
                </div>

                <div role="tabpanel" class="tab-pane" id="print">
                    <!---Demographics partial starts here-->
                    @Html.Partial("~/Areas/Credentialing/Views/CnD/PrintCheckList.cshtml")
                    <!---Demographics partial ends here-->
                </div>
                @*<div role="tabpanel" class="tab-pane" id="WellcareForm">
                        <!---Demographics partial starts here-->
                        @Html.Partial("~/Areas/Credentialing/Views/CnD/PrintCheckList.cshtml")
                        <!---Demographics partial ends here-->
                    </div>*@
            @*<div role="tabpanel" class="tab-pane" id="PlanReport">
                    <!---Demographics partial starts here-->
                    @Html.Partial("~/Areas/Credentialing/Views/CnD/_PlanReport.cshtml")
                    <!---Demographics partial ends here-->
                </div>

                <div role="tabpanel" class="tab-pane" id="Search">
                    <!---Demographics partial starts here-->
                    @Html.Partial("~/Areas/Credentialing/Views/CnD/_SearchResults.cshtml")


                    <!---Demographics partial ends here-->
                </div>*@
        </div>
    </div>
    <div class="clearfix"></div>
</div>
