

<script src="~/Scripts/Custom/Profile/Ethnicity.js"></script>
<br />
<div ng-controller="ethnicityController">
    <fieldset>
        <legend>
            Birth Information
        </legend>
        <div ng-if="ViewBirthInformation" class="legend2 pull-right">
            <button class="btn btn-xs btn-primary" ng-click="BirthInformationToggle()"><i class="fa fa-edit"></i></button>
        </div>
        <div ng-if="!ViewBirthInformation">
            @Html.Partial("~/Areas/Profile/Views/Demographic/_AddEditEthnicityBirthInformation.cshtml")
        </div>
        <div ng-if="ViewBirthInformation">
            @Html.Partial("~/Areas/Profile/Views/Demographic/_ViewEthnicityBirthInformation.cshtml")
        </div>
    </fieldset>
    <fieldset>
        <legend>
            Visa Details
        </legend>
        <div ng-if="ViewVisaDetails" class="legend2 pull-right">
            <button ng-click="VisaDetailsToggle()" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>
        </div>
        <div ng-if="!ViewVisaDetails">
            <div class="col-lg-12 text-right">
                <span class="instruction-style">
                    Only enter a Foreign Identification Number If you don't have SSN
                </span>
            </div>
            @Html.Partial("~/Areas/Profile/Views/Demographic/_AddEditEthnicityCitizenship.cshtml")
        </div>
        <div ng-if="ViewVisaDetails">
            @Html.Partial("~/Areas/Profile/Views/Demographic/_ViewEthnicityCitizenship.cshtml")
        </div>
    </fieldset>
    <fieldset>
        <legend>
            Languages Known
        </legend>
        <div ng-if="ViewLanguageKnown" class="legend2 pull-right">
            <button class="btn btn-xs btn-primary" ng-click="LanguageKnownToggle()"><i class="fa fa-edit"></i></button>
        </div>
        <div ng-if="!ViewLanguageKnown">
            @Html.Partial("~/Areas/Profile/Views/Demographic/_AddEditEthnicityLanguages.cshtml")
        </div>
        <div ng-if="ViewLanguageKnown">
            @Html.Partial("~/Areas/Profile/Views/Demographic/_ViewEthnicityLanguages.cshtml")
        </div>
    </fieldset>
</div>