@model AHC.CD.WebUI.MVC.Areas.Profile.Models.Demographic.HomeAddressViewModel

<fieldset>
    <legend>
        Home Address
    </legend>
    <div class="col-lg-12 zero-padding-left-right-div">
        @*<div class="col-lg-3 form-group">
            <label class="control-label small">Number</label>
            <div>
                <i class="data-label">{{HomeAddress.Number}}</i>
            </div>
        </div>*@
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{HomeAddress.Street}}</i>
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.UnitNumber, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{HomeAddress.UnitNumber}}</i>
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{HomeAddress.City}}</i>
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{HomeAddress.State}}</i>
            </div>
        </div>
       
    </div>
    <div class="col-lg-12 zero-padding-left-right-div">
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{HomeAddress.ZipCode}}</i>
            </div>
        </div>
       
        <div class="col-lg-3 form-group">
            <label class="control-label small">Country *</label>
            <div>
                <i class="data-label">{{HomeAddress.Country}}</i>
            </div>
        </div>
        
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{HomeAddress.County}}</i>
            </div>
        </div>
    </div>
    <div class="col-lg-12 zero-padding-left-right-div">
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.IsPrimary, new { @class = "control-label small" })
            <div>
                <i ng-if="HomeAddress.IsPrimary" class="data-label">Yes</i>
                <i ng-if="!HomeAddress.IsPrimary" class="data-label">No</i>
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.IsPresentlyStaying, new { @class = "control-label small" })
            <div>
                <i ng-if="HomeAddress.IsPresentlyStaying" class="data-label">Yes</i>
                <i ng-if="!HomeAddress.IsPresentlyStaying" class="data-label">No</i>
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.LivingFromDate, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{HomeAddress.LivingFromDate | date: "MM-dd-yyyy"}}</i>
            </div>
        </div>
        <div ng-if="!HomeAddress.IsPresentlyStaying" class="col-lg-3 form-group">
            @Html.LabelFor(model => model.LivingEndDate, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{HomeAddress.LivingEndDate | date: "MM-dd-yyyy"}}</i>
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group">
        <button type="button" class="btn btn-warning btn-sm" ng-click="viewEditHomeAddress($index,HomeAddress,'close')">Cancel</button>
        <button class="btn btn-sm btn-primary pull-right" ng-click="viewEditHomeAddress($index,HomeAddress,'edit')">Edit</button>
    </div>
</fieldset>