@model List<PortalTemplate.Models.Claims_Dashboard.FilterHistory>

@foreach (var item in Model)
{
    <li class="clearfix">
        @*<div class="left_desc" id="@item.DivId">
            <i class="fa fa-ellipsis-v"></i>
        </div>*@
        <div class="filter_history_list">
            <label>@item.FilterName</label>

            <a class="btn btn-xs btn-success pull-right" onclick="ApplyDetailedFilteredHistory('@item.ID')">Apply</a>
            <a class="btn btn-xs btn-warning pull-right" onclick="ViewDetailedFilteredHistory('@item.ID')">View</a>


            @*@foreach (var ele in item.Elements)
                {
                    <span class="badge badge-success filter_text_badge">@ele.By:</span>
                    <b>
                        @foreach (var e in ele.On)
                        {
                            @e<span>,</span>
                        }
                    </b>
                }*@

        </div>
    </li>

}

