
    <span class="theme_depend text-uppercase TableHeading">UNDER GRADUATE/PROFESSIONAL SCHOOL DETAILS HISTORY</span>

    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" @*onclick="clearDiv(this)"*@ data-toggle="collapse" data-target="#UGorPSDetails"><i class="fa fa-times"></i></button></span>
    <div class="x_content zero-padding-left">
        <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
            <thead class="theme_thead">
                <tr>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>SCHOOL NAME</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>DEGREE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>LOCATION</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>EMAIL</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>TELEPHONE NUMBER</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>NOTES</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>ACTION</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody id="scrolldummybody">
                @foreach (var item in Model)
                {
                    <tr>

                        <td class="col-lg-2">@item.SchoolName</td>
                        <td class="col-lg-1">@item.Degree</td>
                        <td class="col-lg-1">@item.Location</td>
                        <td class="col-lg-2">@item.Email</td>
                        <td class="col-lg-2">@item.TelephoneNumber</td>
                        <td class="col-lg-1" align="center">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>SCHOOL NAME:-</b> @item.SchoolName, <br /><b>DEGREE AWARDED:-</b> @item.Degree, <br /><b>LOCATION:-</b> @item.Location.">...</a>
                        </td>
                        <td class="col-lg-1" align="center">
                            <button data-toggle="modal" data-target="#UGorPSHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>

                }


                @*<tr>
                        <td class="col-lg-2">YES</td>
                        <td class="col-lg-2">ALBANY</td>
                        <td class="col-lg-1">ASSOCIATE DEGREE</td>
                        <td class="col-lg-1">N/A</td>
                        <td class="col-lg-2">ABC@GMAIL.COM</td>
                        <td class="col-lg-2">+1 -(124)563-818</td>
                        <td class="col-lg-1" align="center">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>SCHOOL NAME:-</b> ALBANY, <br /><b>DEGREE AWARDED:-</b> ASSOCIATE DEGREE, <br /><b>LOCATION:-</b> N/A.">...</a>
                        </td>
                        <td class="col-lg-1" align="center">
                            <button data-toggle="modal" data-target="#UGorPSHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">YES</td>
                        <td class="col-lg-2">ALBANY</td>
                        <td class="col-lg-1">ASSOCIATE DEGREE</td>
                        <td class="col-lg-1">N/A</td>
                        <td class="col-lg-2">ABC@GMAIL.COM</td>
                        <td class="col-lg-2">+1 -(124)563-818</td>
                        <td class="col-lg-1" align="center">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>SCHOOL NAME:-</b> ALBANY, <br /><b>DEGREE AWARDED:-</b> ASSOCIATE DEGREE, <br /><b>LOCATION:-</b> N/A.">...</a>
                        </td>
                        <td class="col-lg-1" align="center">
                            <button data-toggle="modal" data-target="#UGorPSHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">YES</td>
                        <td class="col-lg-2">ALBANY</td>
                        <td class="col-lg-1">ASSOCIATE DEGREE</td>
                        <td class="col-lg-1">N/A</td>
                        <td class="col-lg-2">ABC@GMAIL.COM</td>
                        <td class="col-lg-2">+1 -(124)563-818</td>
                        <td class="col-lg-1" align="center">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>SCHOOL NAME:-</b> ALBANY, <br /><b>DEGREE AWARDED:-</b> ASSOCIATE DEGREE, <br /><b>LOCATION:-</b> N/A.">...</a>
                        </td>
                        <td class="col-lg-1" align="center">
                            <button data-toggle="modal" data-target="#UGorPSHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>*@
            </tbody>
        </table>
    </div>
