@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.EducationViewModel.UnderGraduationViewModel>
@{
    var GraduationIndex = 0;
}
<div class="target profilediv col-lg-12 nopadding">
    <fieldset class="fsStyle" id="ViewUnderGraduateDetails">
        @*<legend class="legendStyle">
                <span class="theme_depend text-uppercase">Under Graduate/Professional Schools Details</span>
            </legend>*@
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">

                Under Graduate/Professional School Details

            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                   
                    <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/Education/GetUnderGraduateAddEditView?model=@Model&type=Add" data-tab-container="UnderGraduationOrProfessionalDetails">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/Education/GetUnderGraduateAddEditView?model=@Model&type=Edit" data-tab-container="UnderGraduationOrProfessionalDetails">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#UGorPSDetails">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>

        @*<span class="theme_depend text-uppercase TabHeading"></span>
            <span class="text-uppercase pull-right">

            </span>*@
        @foreach (var item in Model)
        {
            GraduationIndex = GraduationIndex + 1;
            if (GraduationIndex <= 2)
            {
            <div class="x_content mutiple-data zero-padding-left">
                <div class="SubHeaderSpacing1">
                    <span class="text-uppercase TableHeading">Under Graduate/Professional School Detail - @GraduationIndex</span>&nbsp; <button onclick="groupmodalhistory('Education', 'RemoveUndergraduateDetails', '@item.Id', 'UnderGraduationOrProfessionalDetails')" class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
                        @*&nbsp;<button class="btn btn-warning btn-xs historyBtnCSS RemoveButtonStyleModal list-item" data-tab-path="/CredAxis/Education/ViewUnderGraduationhistory?value=@item.Id" data-tab-container="Demo_@item.Id">
                            <i class="fa fa-history"></i>
                        </button>*@
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.IsUSGraduate) @*US Graduate ?*@:</label>
                    @if (item.IsUSGraduate)
                        {
                        <span class="theme_label_data">
                            Yes
                        </span>
                        }
                        else
                        {
                        <span class="theme_label_data">
                            No
                        </span>
                        }

                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.SchoolName) :</label>
                    <span class="theme_label_data">@item.SchoolName</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Degree) :</label>
                    <span class="theme_label_data">@item.Degree</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Location) :</label>
                    <span class="theme_label_data">@item.Location</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.SuitNumber) :</label>
                    <span class="theme_label_data">@item.SuitNumber</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.StreetNumber) :</label>
                    <span class="theme_label_data">@item.StreetNumber</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                    <span class="theme_label_data">@item.City</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
                    <span class="theme_label_data">@item.State</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode) :</label>
                    <span class="theme_label_data">@item.ZipCode</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                    <span class="theme_label_data">@item.Country</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                    <span class="theme_label_data">@item.County</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Email) :</label>
                    <span class="theme_label_data">@item.Email</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.TelephoneNumber) :</label>
                    <span class="theme_label_data">@item.TelephoneNumber</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.FaxNumber) :</label>
                    <span class="theme_label_data">@item.FaxNumber</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.StartDate) :</label>
                    <span class="theme_label_data">@item.StartDate</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.EndDate) :</label>
                    <span class="theme_label_data">@item.EndDate</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.IsEducationSchool) :</label>
                    @if (item.IsEducationSchool)
                        {
                        <span class="theme_label_data">
                            Yes
                        </span>
                        }
                        else
                        {
                        <span class="theme_label_data">
                            No
                        </span>
                        }
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Document) :</label>
                    @*<span class="theme_label_data">PROFESSIONAL.PNG</span>*@
                    <span class="theme_label_data"><i class="fa fa-file"></i></span>
                </div>
                </div>
                <div id="Demo_@item.Id">
                    @*  @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/UnderGraduationOrProfessionalDetails/_HistoryUnderGradOrProfSchoolDetails.cshtml", Model)*@
            </div>
                if (GraduationIndex == 2)
                {
            <span class="view-more pull-right" id="UnderGraduateMore" data-toggle="collapse" data-target=".ViewMoreUndergraduate" onclick="ShowHideAddView('UnderGraduateLess', 'UnderGraduateMore')">View More</span>
                }
            }
            else
            {
            <div class="x_content zero-padding-left mutiple-data collapse ViewMoreUndergraduate">
                <div class="SubHeaderSpacing1">
                    <span class="text-uppercase TableHeading">Under Graduate/Professional School Detail - @GraduationIndex</span>&nbsp; <button data-toggle="modal" data-target="#BhaukalId" class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
                        @*&nbsp;<button class="btn btn-warning btn-xs historyBtnCSS RemoveButtonStyleModal list-item" data-tab-path="/CredAxis/Education/ViewUnderGraduationhistory?value=@item.Id" data-tab-container="Demo_@item.Id">
                            <i class="fa fa-history"></i>
                        </button>*@
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.IsUSGraduate) @*US Graduate ?*@:</label>
                    @if (item.IsUSGraduate)
                        {
                        <span class="theme_label_data">
                            Yes
                        </span>
                        }
                        else
                        {
                        <span class="theme_label_data">
                            No
                        </span>
                        }
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.SchoolName) :</label>
                    <span class="theme_label_data">@item.SchoolName</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Degree) :</label>
                    <span class="theme_label_data">@item.Degree</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Location) :</label>
                    <span class="theme_label_data">@item.Location</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.SuitNumber) :</label>
                    <span class="theme_label_data">@item.SuitNumber</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.StreetNumber) :</label>
                    <span class="theme_label_data">@item.StreetNumber</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                    <span class="theme_label_data">@item.City</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
                    <span class="theme_label_data">@item.State</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                    <span class="theme_label_data">@item.County</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                    <span class="theme_label_data">@item.Country</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode) :</label>
                    <span class="theme_label_data">@item.ZipCode</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Email) :</label>
                    <span class="theme_label_data">@item.Email</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.TelephoneNumber) :</label>
                    <span class="theme_label_data">@item.TelephoneNumber</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.FaxNumber) :</label>
                    <span class="theme_label_data">@item.FaxNumber</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.StartDate) :</label>
                    <span class="theme_label_data">@item.StartDate</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.EndDate) :</label>
                    <span class="theme_label_data">@item.EndDate</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Document) :</label>
                    <span class="theme_label_data"><i class="fa fa-file"></i></span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.IsEducationSchool) :</label>
                    @if (item.IsEducationSchool)
                        {
                        <span class="theme_label_data">
                            Yes
                        </span>
                        }
                        else
                        {
                        <span class="theme_label_data">
                            No
                        </span>
                        }
                </div>
                </div>
                <div id="Demo_@item.Id">
                    @*  @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/UnderGraduationOrProfessionalDetails/_HistoryUnderGradOrProfSchoolDetails.cshtml", Model)*@
            </div>
            }
            if (GraduationIndex == Model.Count())
            {
                <span class="view-more hidden pull-right" id="UnderGraduateLess" data-toggle="collapse" data-target=".ViewMoreUndergraduate" onclick="ShowHideAddView('UnderGraduateMore', 'UnderGraduateLess')">View Less</span>
            }
        }
        <fieldset class="fsStyle collapse remove_shadow width-100" id="UGorPSDetails">

            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/UnderGraduationOrProfessionalDetails/_HistoryUnderGradOrProfSchoolDetails.cshtml")

        </fieldset>

    </fieldset>
</div>
@* Remove Modal *@
@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/_RemoveModal.cshtml")