<link href="~/Areas/Portal/Styles/ProviderBridge/BridgeQueue/BridgeQueue.css" rel="stylesheet">
<p-script filepath="~/Areas/Portal/Scripts/ProviderBridge/BridgeQueue/BridgeQueue.js"></p-script>

<style>
    .theAssignButton {
        color: #203764;
        margin-left: 75%;
        z-index: 1000;
        background-color: transparent !important;
    }

    .marginTop-28 {
        margin-top: -28px;
    }

    .theAdd {
        /*background-color: #4469a6 !important;*/
        background-color: #5cb85c !important;
        border-radius: 0px;
        height: 30px;
        width: 30px;
        margin-top: -2px;
    }

    .thePlusAdd {
        margin-top: 10px;
        color: #fff;
    }
</style>
<ul class="innerTabsArea queueTabs tabCSS" style="width:100.7%;">
    <li class="ipaQueueMenu active tabs innerTabs">
        <a class="innerTabsLinks list-item" id="PendingListTab" @*data-tab-path="/Portal/BridgeQueue/GetPenningList?pending=pen" data-tab-container="queueTable"*@><span class="text-uppercase par">Search Result</span>&nbsp;<span class="label label-info">@ViewBag.Request</span></a><span class="pointing-caret-pv"></span>
    </li>
    @*<li class="ipaQueueMenu tabs innerTabs">
        <a class="innerTabsLinks list-item" id="ApprovedListTab" data-tab-path="/Portal/BridgeQueue/GetApprovedList?approved=approve" data-tab-container="queueTable"><span class="text-uppercase par">Approved</span>&nbsp;<span class="label label-success">@ViewBag.ApprovedRequest</span></a><span class="pointing-caret-pv"></span>
    </li>*@
    <li id="AddNewProviderFromBridge" class="btn btn-success btn-xs theAdd">
        <i class="fa fa-plus thePlusAdd"></i>
    </li>
    @*<li class="ipaQueueMenu tabs innerTabs">
            <a class="innerTabsLinks list-item" id="RejectedListTab" data-tab-path="/Portal/BridgeQueue/GetRejectedList?Rejected=Reject" data-tab-container="queueTable"><span class="text-uppercase par">Elizabeth Queue</span>&nbsp;<span class="label label-danger">8</span></a><span class="pointing-caret-pv"></span>
        </li>*@
    @*<li class="theAssignButton">
            <label>RE-ASSIGN TO&nbsp;&nbsp;</label>
            <select class="">
                <option>ELIZABETH</option>
                <option>JEANINE</option>
                <option>JOCYLENE</option>
                <option>CATHERINE</option>
                <option>SHERRY</option>
            </select>&nbsp;&nbsp;
            <label class="singleElemQueue theme_label_data"><button class="btn btn-xs btn-primary"><i class="fa fa-user">&nbsp;<b style="font-size:0.9em;"> RE-ASSIGN</b></i></button></label>

        </li>*@

    <li class="theAssignButton marginTop-28">
        <span class="list-credaxis-legend-green"></span>
        <span class="list-credaxis-legend-green1"><label class="code-red">TIME ELAPSED >= 0 HRS</label></span>
        <span class="list-credaxis-legend-white"></span>
        <span class="list-credaxis-legend-white1"><label class="code-white">TIME ELAPSED > 24 HRS</label></span>
        <span class="list-credaxis-legend-red"></span>
        <span class="list-credaxis-legend-red1"><label class="code-green">TIME ELAPSED > 48 HRS</label></span>
    </li>


    @*<li id="CTFUmenu" class="ipaQueueMenu tabs innerTabs" data-queue-type="" data-queue-tab="ctfu">
            <a class="innerTabsLinks"><span class="text-uppercase ng-binding">CTFU</span><label class="label queueUppertab_label"></label></a><span class="pointing-caret"></span>
        </li>*@
</ul>

@*<div class="container">
    <div class="row">
        <div class="ParentSwitch col-lg-6">
            <div class="switch">
                <input id="switch-y" name="tripple" type="radio" value="um" class="switch-input total-all-pv" checked data-tab-path="/Portal/BridgeQueue/GetBridgeRequestListType?requestType=open" data-tab-container="queueTable" data-queue-type="@ViewBag.QueueType" />
                <label for="switch-y" class="switch-label switch-label-y">OPEN &nbsp;<span class="label label-info">@ViewBag.OpenRequest</span></label>
                <input id="switch-i" name="tripple" type="radio" value="c" class="switch-input total-claims-pv" data-tab-container="queueTable" data-queue-type="@ViewBag.QueueType" />
                <label for="switch-i" class="switch-label switch-label-i">ASSIGNED &nbsp;<span class="label label-success">@ViewBag.AssignedRequest</span></label>
                <input id="switch-n" name="tripple" type="radio" value="o" class="switch-input total-um-pv" data-tab-container="queueTable" data-queue-type="@ViewBag.QueueType" />
                <label for="switch-n" class="switch-label switch-label-n">PENDING &nbsp;<span class="label label-danger">@ViewBag.PendingRequest</span></label>
                <span class="switch-selector"></span>
            </div>
        </div>
    </div>
</div>*@

