@model PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.DemographicsMainViewModel

<div class="clearfix"></div>
<div class="target profilediv col-lg-12" id="IDDemographics">
    @*<div class="SubTabHeader">
            <div class="headerText">
                <span class="headerTextCSS">
                    Demographics
                </span>
                <span class="headerTextCSS pull-right">
                    <button id="AddGroup_GI" class="btn btn-xs btn-success" tooltip="" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add New"><i class="fa fa-history"></i></button>
                    <button id="AddGroup_GI" class="btn btn-xs btn-default" tooltip="" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add New"><i class="fa fa-print"></i></button>

                </span>
            </div>
        </div>*@
    <br />
    <br />
    <div class="col-lg-12 ContentDivStart nopadding">
        <!--Personal Details-->
        <div id="PersonalDetailsDiv">
            @if (Model.PersonalDetails != null)
            {

            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/PersonalDetails/_AddEditPersonalDetails.cshtml", Model.PersonalDetails)
            }

            else
            {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "PERSONAL DETAILS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/PersonalDetails/_AddEditPersonalDetails.cshtml", SectionId = "PersonalDetailsDiv" })
            }


        </div>
        <!--Other legal Name-->
        <div id="OtherlegalName">
            @if (Model.OtherlegalName != null)
            {
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/OtherLegalName/_AddEditOtherLegalName.cshtml", Model.OtherlegalName)
            }

            else
            {
                @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "PERSONAL DETAILS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/PersonalDetails/_AddEditPersonalDetails.cshtml", SectionId = "PersonalDetailsDiv" })
            }


        </div>
        <!--Contact Information-->
        <div id="ContactInformationDiv">
            @if (Model.ContactInformations != null)

            {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/ContactInformation/_AddEditContactInformation.cshtml", Model.ContactInformations)
            }

            else
            {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "Contact Information", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/ContactInformation/_AddEditContactInformation.cshtml", SectionId = "ContactInformationDiv" })
            }



        </div>
        <!--Home Address-->
        <div id="HomeAddressDiv">
            @if (Model.HomeAddresses != null)
            {

            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/HomeAddress/_AddEditHomeAddress.cshtml", Model.HomeAddresses)
            }
            else
            {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "Home Address", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/HomeAddress/_AddEditHomeAddress.cshtml", SectionId = "HomeAddressDiv" })
            }

        </div>
        <!--Birth Information Status-->
        <div id="BirthInformationDiv">
            @if (Model.BirthInformations != null)
            {

            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/BirthInformation/_AddEditBirthInformation.cshtml", Model.BirthInformations)
            }
            else
            {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "Birth Information", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/BirthInformation/_AddEditBirthInformation.cshtml", SectionId = "BirthInformationDiv" })
            }
        </div>
        <!--Personal Identification-->
        <div id="PersonalIdentificationDiv">
            @if (Model.PersonalIdentifications != null)
            {

            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/PersonalIdentification/_AddEditPersonalIdentification.cshtml", Model.PersonalIdentifications)
            }
            else
            {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "PERSONAL IDENTIFICATION", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/PersonalIdentification/_AddEditPersonalIdentification.cshtml", SectionId = "PersonalIdentificationDiv" })
            }
        </div>
        <!--Languages Known-->
        <div id="LanguagesKnownDiv">
            @if (Model.LanguagesKnown != null)
            {

            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/LanguagesKnown/_AddEditLanguages.cshtml", Model.LanguagesKnown)
            }
            else
            {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "LANGUAGES KNOWN", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/LanguagesKnown/_AddEditLanguages.cshtml", SectionId = "LanguagesKnownDiv" })
            }
        </div>
        <!--Citizenship Information-->
        <div id="CitizenInformationDiv">
            @if (Model.CitizenshipInformations != null)
            {

                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/CetizienInformation/_AddEditCitizenInformation.cshtml", Model.CitizenshipInformations)
            }
            else
            {
                @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "CETIZIEN INFORMATION", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/CetizienInformation/_AddEditCitizenInformation.cshtml", SectionId = "CitizenInformationDiv" })
            }
        </div>
    </div>
</div>
