@model PortalTemplate.Areas.Encounters.Models.EncounterViewModel
<fieldset class="fieldsetStyle">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        @Html.LabelFor(m => m.EncounterID, new { @class = "enlabelheader" })
        <div><label class="uppercase">@Model.EncounterID</label></div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        @Html.LabelFor(m => m.EncounterType, new { @class = "enlabelheader" })
        <div>
            <label class="uppercase">@Model.EncounterType</label>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        @Html.LabelFor(m => m.EncounterStatus, new { @class = "enlabelheader" })
        <div>
            <label class="uppercase">@Model.EncounterStatus</label>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-bottom: 5px;">
       @Html.LabelFor(m => m.EncounterNotes, new { @class = "enlabelheader" })
        <div><label class="uppercase">@Model.EncounterNotes</label></div>
    </div>
</fieldset>
