@model PortalTemplate.Areas.Encounters.Models.MemberViewModel
<fieldset class="fieldsetStyle">
    <legend class="legendstyle">Member</legend>
    <div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.SubscriberID, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.SubscriberID</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.MemberFirstName, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.MemberFirstName</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.MemberLastName, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.MemberLastName</label></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            @Html.LabelFor(m => m.Gender, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.Gender</label></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.DateOfBirth</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.Address, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.Address</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.Plan.PlanName, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.Plan.PlanName</label></div>
        </div>
    </div>
</fieldset>
