@model PortalTemplate.Areas.Encounters.Models.ProviderViewModel
<fieldset class="fieldsetStyle">
    <legend class="legendstyle">Rendering Provider</legend>

    <div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.ProviderNPI, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.ProviderNPI</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.ProviderFirstName, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.ProviderFirstName</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.ProviderLastName, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.ProviderLastName</label></div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.Specialty, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.Specialty</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            @Html.LabelFor(m => m.TaxonomyCode, new { @class = "enlabelheader" })
            <div><label class="uppercase">@Model.TaxonomyCode</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        </div>
    </div>
</fieldset>
