@model AHC.CD.WebUI.MVC.Models.EmailTemplate.EmailTemplateViewModel

<div class="form-style">
    <form id="AddEmailTemplate" ng-submit="AddingEmailTemplate('AddEmailTemplate','false')">
        <fieldset class="">
            <legend>
                Add Email Template
            </legend>
            <div id="newOtherLegalFormDiv">
                <div class="col-lg-12 zero-padding-left-right-div ng-scope">
                    @Html.HiddenFor(model => model.EmailTemplateID, new { ng_value = "tempObject.EmailTemplateID" })
                    @Html.HiddenFor(model => model.StatusType, new { ng_value = "1" })
                    <div class="col-lg-12 form-group">
                        <label class="control-label small">Title *</label>
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control input-sm", data_ng_model = "tempObject.Title" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="control-label small">Description</label>
                        <div>
                            @Html.TextAreaFor(model => model.Description, new { style = "width:100%;resize: vertical;" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <label class="control-label small">Subject *</label>
                        <div>
                            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control input-sm", data_ng_model = "tempObject.Subject" })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 form-group">
                        <label class="control-label small">Body</label>
                        <wysiwyg textarea-id="wysiwygBody" textarea-class="form-control wrap-words" textarea-height="400px" textarea-style="width:100%;resize: none;overflow-y: scroll;" textarea-name="wysiwygBody" textarea-required ng-model="tempObject.Body" enable-bootstrap-title="true"></wysiwyg>
                        @Html.HiddenFor(model => model.Body, new { ng_value = "tempObject.Body" })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="button" class="btn btn-warning btn-sm" ng-click="Cancle();">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm pull-right">Add</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
