@model PortalTemplate.Areas.CredAxis.Models.DocumentRepoViewModel.DoumentRepoMainViewModel
<p-script filepath="~/Areas/CredAxis/Scripts/DocumentRepo/DocumentRepo.js"></p-script>
<p-link filepath="~/Areas/CredAxis/CSS/DocumentRepository/DocList.css"></p-link>

<div id="container">
    <div class="ui-layout-west col-lg-12" style="height: 750px; overflow-y: scroll">
        @Html.Partial("~/Areas/CredAxis/Views/DocumentRepository/View/_ProfileDocs.cshtml", Model.ProfileDoc)
        @Html.Partial("~/Areas/CredAxis/Views/DocumentRepository/View/_PSV.cshtml", Model.PSV)
        @Html.Partial("~/Areas/CredAxis/Views/DocumentRepository/View/_GeneratedForms.cshtml", Model.GeneratedForms)
        @Html.Partial("~/Areas/CredAxis/Views/DocumentRepository/View/_Forms.cshtml", Model.Forms)
    </div>
    <div class="ui-layout-right col-lg-6 hidden">
        <i class="fa fa-angle-double-right fa-2x thePreviewMailPanelClose hidden" onclick="ClosePreviewPanel()" style="cursor:pointer"></i>
        @Html.Action("DocumentViewer", "Documents")
    </div>
</div>
