@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel

<div class="col-lg-12 zero-padding-left-right">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">AUTHORIZATION SUMMARY</span>
        </legend>
        @Html.Partial("~/Areas/UM/Views/Authorization/AuthorizationSummary/_AuthSummaryPOS11.cshtml")
        @Html.Partial("~/Areas/UM/Views/Authorization/AuthorizationSummary/_AuthSummaryPOS12.cshtml")
        @Html.Partial("~/Areas/UM/Views/Authorization/AuthorizationSummary/_AuthSummaryPOS21.cshtml")
        @Html.Partial("~/Areas/UM/Views/Authorization/AuthorizationSummary/_AuthSummaryPOS22.cshtml")
        @Html.Partial("~/Areas/UM/Views/Authorization/AuthorizationSummary/_AuthSummaryPOS222.cshtml")
        @Html.Partial("~/Areas/UM/Views/Authorization/AuthorizationSummary/_AuthSummaryPOS24.cshtml")
        @Html.Partial("~/Areas/UM/Views/Authorization/AuthorizationSummary/_AuthSummaryPOS31.cshtml")
        @Html.Partial("~/Areas/UM/Views/Authorization/AuthorizationSummary/_AuthSummaryPOS62.cshtml")
      <div class="clearfix"></div>
    </fieldset>
</div>
