@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel


        <div class="x_content zero-padding-left displayNone authSummarySection" id="POS24AuthSummary">
    <table class="table margin_bottom_zero table-white alignLeftTable noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
        <thead class="text-uppercase">
            <tr>
                <th class="theme_label">@Html.DisplayNameFor(e => e.FromDate)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.ToDate)</th>
                <th class="theme_label maxWidthtdXL">@Html.DisplayNameFor(e => e.ServicingProvider)</th>
                <th class="theme_label maxWidthtdXL">@Html.DisplayNameFor(e => e.Facility.FullName)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.ICDCodes[0].ICDCode)</th>
                <th class="theme_label maxWidthtdXL">@Html.DisplayNameFor(e => e.ICDCodes[0].ICDCodeDescription)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.CPTCodes[0].CPTCode)</th>
                <th class="theme_label maxWidthtdXL">@Html.DisplayNameFor(e => e.CPTCodes[0].CPTDesc)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.UMServiceGroup)</th>
            </tr>
        </thead>
        <tbody class="AuthSummaryDataClass">
            @*@if (Model != null && Model.CPTCodes != null && Model.CPTCodes.Count() > 0)
            {
                foreach (var item in Model.CPTCodes)
                {
                    <tr>
                        <td class="theme_label_data">@Html.DisplayFor(e => e.FromDate)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => e.ToDate)</td>
                        <td class="theme_label_data maxWidthtdXL">
                            <div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="@Html.DisplayNameFor(e => e.ServicingProvider)" data-content="@Html.DisplayFor(e => e.ServicingProvider.FullName)"> @Html.DisplayFor(e => e.ServicingProvider.FullName)</div>
                        </td>

                        <td class="theme_label_data maxWidthtdXL">
                            <div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="@Html.DisplayNameFor(e => e.Facility.FullName)" data-content="@Html.DisplayFor(e => e.Facility.FullName)">@Html.DisplayFor(e => e.Facility.FullName)</div>
                        </td>
                        <td class="theme_label_data">@Html.DisplayFor(e => e.ICDCodes[0].ICDCode)</td>
                        <td class="theme_label_data maxWidthtdXL">
                            <div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="@Html.DisplayNameFor(e => e.ICDCodes[0].ICDCodeDescription)" data-content="@Html.DisplayFor(e => e.ICDCodes[0].ICDCodeDescription)">@Html.DisplayFor(e => e.ICDCodes[0].ICDCodeDescription)</div>
                        </td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.CPTCode)</td>
                        <td class="theme_label_data maxWidthtdXL">
                            <div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="@Html.DisplayNameFor(e => e.CPTCodes[0].CPTDesc)" data-content="@Html.DisplayFor(e => item.CPTDesc)">@Html.DisplayFor(e => item.CPTDesc)</div>
                        </td>
                        <td class="theme_label_data">@Html.DisplayFor(e => e.UMServiceGroup)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="theme_label_data" id="FromDateSummaryField">@Html.DisplayFor(e => e.FromDate)</td>
                    <td class="theme_label_data" id="ToDateSummaryField">@Html.DisplayFor(e => e.ToDate)</td>
                    <td class="theme_label_data maxWidthtdXL">@Html.DisplayFor(e => e.ServicingProvider.FullName)</td>
                    <td class="theme_label_data maxWidthtdXL">@Html.DisplayFor(e => e.Facility.FullName)</td>
                    <td class="theme_label_data">@Html.DisplayFor(e => e.ICDCodes[0].ICDCode)</td>
                    <td class="theme_label_data maxWidthtdXL">@Html.DisplayFor(e => e.ICDCodes[0].ICDCodeDescription)</td>
                    <td class="theme_label_data">@Html.DisplayFor(e => e.CPTCodes[0].CPTCode)</td>
                    <td class="theme_label_data maxWidthtdXL">@Html.DisplayFor(e => e.CPTCodes[0].CPTDesc)</td>
                    <td class="theme_label_data">@Html.DisplayFor(e => e.UMServiceGroup)</td>
                </tr>
            }*@
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>

