@model IEnumerable<PortalTemplate.Areas.Portal.Models.Member.MemberAddressViewModel>
@using PortalTemplate.Areas.Portal.CustomHelpers
<div class="x_panel border_on_panel">
    <table class="table margin_bottom_zero table-white alignLeftTable noBorderTable boldBody zeroPaddingBottomTh width_99 theadBorder custom-thead-back custom-thead-font custom-tbody">
        <thead class="">
            <tr class="text-uppercase">
                <th class="theme_label">@Html.DisplayNameFor(e => e.Type)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Address)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.City)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.State)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Zip)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Phone)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Fax)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.Type)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.Address)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.City)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.State)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.Zip)</td>
                        <td class="theme_label_data">@Html.ConvertToPhoneString(item.Phone)</td>
                        <td class="theme_label_data">@Html.ConvertToPhoneString(item.Fax)</td>
                    </tr>
                }
            }
            @if (Model == null || Model.Count() <= 0)
            {
                <tr id="no-data-available-row">
                    <td colspan="7" class="theme_label_data text-center">NO DATA AVAILABLE</td>
                </tr>
            }
        </tbody>
    </table>
</div>
