 @model IEnumerable<PortalTemplate.Areas.Portal.Models.Attachment.AttachmentViewModel>
@using PratianUI
<div class="x-panel panelheight" id="Attachment">
    <div class="displayNone moduleField">ATTACHMENT</div>
    <div class="displayNone subscriberField">@ViewBag.SubscriberID</div>
    @*<div>
            <input type="submit" value="ADD NEW ATTACHMENT" class="btn btn-xs btn-success pull-left open_Doc_Modal" />
            <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
            <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">MH</span>
            <input type="checkbox" class="form-control input-xs flat checkbox-input-notes" checked="">
            <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">UM</span>
            <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
            <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">CM</span>
            <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
            <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">DM</span>
            <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
            <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">A & G</span>
            <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
            <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">Show All</span>

            <a href="javascript:void(0)" class="custom-print-button print_button_beside_member_table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print Notes">
                    <img src="/Resources/Images/Icons/print_icon.png">
                </a>
                <a href="javascript:void(0)" class="custom-button text-red pdf-button" data-role="tooltip" data-placement="top" title="" data-original-title="PDF">
                    <img src="/Resources/Images/Icons/pdf1.png">
                </a>
                <a href="javascript:void(0)" class="custom-button text-success excel-button" data-role="tooltip" data-placement="top" title="" data-original-title="EXCEL">
                    <img src="/Resources/Images/Icons/excel.PNG">
                </a>

        </div>*@
    <div class="checkboxes zero-padding-left-right">
        @*<div class="col-lg-2 addNewBtns_profiletabs_paddingleft">
            <input type="submit" value="ADD NEW ATTACHMENT" class="btn btn-xs btn-success pull-left open_Doc_Modal" />
        </div>*@
        <div class="col-lg-6" style="display:inline-flex">
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("MH", new { @name = "ModuleName", @class = "moduleClase", @value = "MH", @labelClass = "theme_label_data" })
            </div>
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("UM", new { @name = "ModuleName", @class = "moduleClase", @value = "UM", @labelClass = "theme_label_data", @checked = "checked" })
            </div>
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("CM", new { @name = "ModuleName", @class = "moduleClase", @value = "CM", @labelClass = "theme_label_data" })
            </div>
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("DM", new { @name = "ModuleName", @class = "moduleClase", @value = "DM", @labelClass = "theme_label_data" })
            </div>
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("A & G", new { @name = "ModuleName", @class = "moduleClase", @value = "AG", @labelClass = "theme_label_data" })

            </div>
            <div class="col-lg-3 zero-padding-left-right">
                @Html.PratianUiCheckbox("SHOW ALL", new { @name = "ModuleNameALL", @class = "moduleClaseALL", @value = "ALL", @labelClass = "theme_label_data" })
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="AttachmentTBody">
        @Html.Partial("~/Areas/Portal/Views/Member/Tabs/_AttachmentArea.cshtml")
    </div>
</div>
<p-script filepath="~/Areas/Portal/Scripts/Member/MemberProfile/NonMinified/Attachment.js"></p-script>
<p-script filepath="~/Areas/Portal/Scripts/Member/MemberProfile/NonMinified/FilterByModule.js"></p-script>