@model IEnumerable<PortalTemplate.Areas.Portal.Models.Member.MemberCOBViewModel>
<div class="x_panel border_on_panel">
    <table class="table margin_bottom_zero table-white alignLeftTable noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font custom-tbody">
        <thead class="">
            <tr class="text-uppercase">
                <th class="theme_label">@Html.DisplayNameFor(e => e.InsuranceType)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Order)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.SupplementalDrugType)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Carrier)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Effective)</th>
            </tr>
        </thead>
        <tbody id="COBTableBody">
            @if (Model != null) {
            foreach (var item in Model) { 
            <tr>
                <td id="COB_InsuranceType" class="theme_label_data">@Html.DisplayFor(e => item.InsuranceType)</td>
                <td id="COB_Order" class="theme_label_d ata">@Html.DisplayFor(e => item.Order)</td>
                <td id="COB_DragType" class="theme_label_data">@Html.DisplayFor(e => item.SupplementalDrugType)</td>
                <td id="COB_Carrier" class="theme_label_data">@Html.DisplayFor(e => item.Carrier)</td>
                <td id="COB_Effective" class="theme_label_data">@Html.DisplayFor(e => item.Effective)</td>
            </tr>
            }
            }
            @if (Model==null ||Model.Count() <= 0)
          {
            <tr id="no-data-available-row">
                <td colspan="5" class="theme_label_data text-center">NO DATA AVAILABLE</td>
           </tr>
         }
        </tbody>
    </table>
</div>
