@model PortalTemplate.Areas.Portal.Models.Member.MemberEnrollmentViewModel
@using PortalTemplate.Areas.Portal.CustomHelpers
<div class="memberTab_sectionsDiv">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">@Html.DisplayNameFor(e => e.BasicDetailsTitle) 
            </span>
        </legend>
        <div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.MemberName):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_MemberName" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.MemberName)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.Relationship):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_RelationShip" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.Relationship)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.Gender):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_Gender" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.Gender)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.ConfCommunication):
                    </span>
                    <span class="summary_data">
                        <span id="ConfComm" class="bolding text-uppercase wrap-span-content theme_label_data">@Html.DisplayFor(e => e.ConfCommunication)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.BirthDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_BirthDate" class="bolding theme_label_data">@Html.DisplayFor(e => e.BirthDate)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.SSN):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_SSN" class="bolding theme_label_data">@Html.DisplayFor(e => e.SSN)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                     @Html.DisplayNameFor(e => e.EffDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_EffDate" class="bolding  ng-binding theme_label_data">@Html.DisplayFor(e => e.EffDate)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.Status):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_Status" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.Status)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.MaritalStatus):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_MaritalStatus" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.MaritalStatus)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                     @Html.DisplayNameFor(e => e.MedicareNumber):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_MedicareNo" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.MedicareNumber)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.FamilylinkID):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_FamilylinkId" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.FamilylinkID)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.HistoryLinkID):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_HistoryLinkId" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.HistoryLinkID)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.StandardUniqueHealthID):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_HealthId" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.StandardUniqueHealthID)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.ExclusionaryPeriodCreditDays):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_CreditDays" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.ExclusionaryPeriodCreditDays)</span>
                    </span>
                </div>
            </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>@Html.DisplayNameFor(e => e.HipaaTitle)<span class="transparent-font-color">____.</span></span>
        </legend>
        <div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.HipaaStartDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_HipStartDate" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.HipaaStartDate)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.HipaaEndDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_HipEndDate" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.HipaaEndDate)</span>
                    </span>
                </div>
            </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">___.</span>@Html.DisplayNameFor(e => e.PreExTitle)<span class="transparent-font-color">____.</span></span>
        </legend>
        <div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.PreExStartDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_PreStartDate" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.PreExStartDate)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.PreExEndDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_PreEndDate" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.PreExEndDate)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.PreExCreditDays):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_PreCreditDays" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.PreExCreditDays)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.Limits):
                    </span>
                    <span class="summary_data">
                        <span id="limits" class="bolding text-uppercase wrap-span-content theme_label_data">@Html.DisplayFor(e => e.Limits)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.ApplicantType):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_ApplicantType" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.ApplicantType)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.EligibilityDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_EligibilityDate" class="bolding theme_label_data">@Html.DisplayFor(e => e.EligibilityDate)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.QualifyingEventDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_QEventDate" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.QualifyingEventDate)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.EOITerminationDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_TerminalDate" class="bolding text-uppercase  theme_label_data">@Html.DisplayFor(e => e.EOITerminationDate)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.NewSignatureDate):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_SignatureDate" class="bolding theme_label_data">@Html.DisplayFor(e => e.NewSignatureDate)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.PriorBillingIndicator):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_PBillingIndicator" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.PriorBillingIndicator)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.PrioBillingEffDated):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_PBillingEffDate" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.PrioBillingEffDated)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.RecordNumber):
                    </span>
                    <span class="summary_data">
                        <span id="Enrollment_RecordNo" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.RecordNumber)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.Language):
                    </span>
                    <span class="summary_data">
                        <span  class="bolding text-uppercase theme_label_data" >@Html.DisplayFor(e => e.Language)</span>
                    </span>
                </div>
            </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">__.</span>@Html.DisplayNameFor(e => e.AddressTitle)<span class="transparent-font-color">___.</span></span>
        </legend>
        <div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.HomeAddress):
                    </span>
                    <span class="summary_data">
                        <span id="home" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.HomeAddress)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.MailingAddress):
                    </span>
                    <span class="summary_data">
                        <span id="Mailing" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.MailingAddress)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.WorkAddress):
                    </span>
                    <span class="summary_data">
                        <span id="work" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.WorkAddress)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.CellPhone):
                    </span>
                    <span class="summary_data">
                        <span id="cell_phone" class="bolding text-uppercase wrap-span-content theme_label_data">@Html.ConvertToPhoneString(Model.CellPhone)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                        @Html.DisplayNameFor(e => e.Memo):
                    </span>
                    <span class="summary_data">
                        <span id="Memo" class="bolding text-uppercase wrap-span-content theme_label_data">@Html.DisplayFor(e => e.Memo)</span>
                    </span>
                </div>
            </div>
    </fieldset>
</div>

