@model IEnumerable<PortalTemplate.Areas.Portal.Models.Member.MemberImmunHealthScreeningViewModel>
<div class="x_panel border_on_panel">
    <table class="table margin_bottom_zero table-white alignLeftTable noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font custom-tbody">
        <thead class="">
            <tr class="text-uppercase">
                <th class="theme_label">@Html.DisplayNameFor(e => e.PFX)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Code)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.SFX)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Last)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Next)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Comment)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.PFX)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.Code)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.SFX)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.Last)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.Next)</td>
                        <td class="theme_label_data">@Html.DisplayFor(e => item.Comment)</td>
                    </tr>
                }
            }
            @if (Model == null || Model.Count() <= 0)
            {
                <tr id="no-data-available-row">
                    <td colspan="6" class="theme_label_data text-center">NO DATA AVAILABLE</td>
                </tr>
            }
        </tbody>
    </table>
</div>

