@model PortalTemplate.Areas.Portal.Models.Member.MemberInformationViewModel
@using PortalTemplate.Areas.Portal.CustomHelpers
<table class="table table-white zero-padding-left-right alignLeftTable noBorderTable margin-top-bottom wrap-words custom-thead-back custom-thead-font custom-tbody memberInfoTable_Profile">
    <thead class="text-uppercase">
        <tr>
            <th class="width_14 theme_label">@Html.DisplayNameFor(e => e.AddressLine)</th>
            <th class="width_11 theme_label">@Html.DisplayNameFor(e => e.City)</th>
            <th class="width_5 theme_label">@Html.DisplayNameFor(e => e.State)</th>
            <th class="width_12 theme_label">@Html.DisplayNameFor(e => e.PrimaryContact)</th>
            <th class="width_9 theme_label">@Html.DisplayNameFor(e => e.AlternateContact)</th>
            <th class="width_9 theme_label">@Html.DisplayNameFor(e => e.Email)</th>
            <th class="width_5 theme_label">@Html.DisplayNameFor(e => e.ZipCode)</th>
            <th class="width_11 theme_label">@Html.DisplayNameFor(e => e.PlanName)</th>
            <th class="width_9 theme_label">@Html.DisplayNameFor(e => e.SubGroup)</th>
            <th class="width_9 theme_label">@Html.DisplayNameFor(e => e.MemberEffectiveDate)</th>
            <th class="width_6 theme_label">@Html.DisplayNameFor(e => e.Status)</th>
        </tr>
    </thead>
    <tbody class="text-uppercase">

        <tr>
            <td><span id="memberDetailsAddress" class="theme_label_data">@Html.DisplayFor(e => e.AddressLine)</span></td>
            <td><span id="memberDetailsCity" class="theme_label_data">@Html.DisplayFor(e => e.City)</span></td>
            <td><span id="memberDetailsState" class="theme_label_data">@Html.DisplayFor(e => e.State)</span></td>
            <td><span id="memberDetailsNumber" class="theme_label_data">@Html.ConvertToPhoneString(Model.PrimaryContact)</span></td>
            <td><span id="memberDetailsCell" class="theme_label_data">@Html.ConvertToPhoneString(Model.AlternateContact)</span></td>
            <td><span id="memberDetailsEmail" class="theme_label_data">@Html.DisplayFor(e => e.Email)</span></td>
            <td><span id="memberDetailsZip" class="theme_label_data">@Html.DisplayFor(e => e.ZipCode)</span></td>
            <td><span id="memberDetailsPlan" class="theme_label_data">@Html.DisplayFor(e => e.PlanName)</span></td>
            <td><span id="memberDetailsSubGroup" class="theme_label_data">@Html.DisplayFor(e => e.SubGroup)</span></td>
            <td><span id="EffDate" class="theme_label_data">@Html.DisplayFor(e => e.MemberEffectiveDate)</span></td>
            <td><span id="Status" class="theme_label_data">@Html.DisplayFor(e => e.Status)</span></td>
        </tr>

    </tbody>
</table>