@using PratianUI
<div class="x-panel panelheight">
    <div class="col-lg-6 checkboxes zero-padding-left-right" id="memberNotes">
        @*<div class="col-lg-2 addNewBtns_profiletabs_paddingleft">
                <input type="submit" value="ADD NEW NOTE" class="btn btn-xs btn-success pull-left add_new_note_btn" />
            </div>*@
        <div class="displayNone moduleField">NOTE</div>
        <div class="displayNone subscriberField">@ViewBag.SubscriberID</div>
        <div style="display:inline-flex">
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("MH", new { @name = "ModuleName", @class = "moduleClase", @value = "MH", @labelClass = "theme_label_data" })
            </div>
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("UM", new { @name = "ModuleName", @class = "moduleClase", @value = "UM", @labelClass = "theme_label_data", @checked = "checked" })
            </div>
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("CM", new { @name = "ModuleName", @class = "moduleClase", @value = "CM", @labelClass = "theme_label_data" })
            </div>
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("DM", new { @name = "ModuleName", @class = "moduleClase", @value = "DM", @labelClass = "theme_label_data" })
            </div>
            <div class="col-lg-2 zero-padding-left-right">
                @Html.PratianUiCheckbox("A & G", new { @name = "ModuleName", @class = "moduleClase", @value = "AG", @labelClass = "theme_label_data" })

            </div>
            <div class="col-lg-3 zero-padding-left-right">
                @Html.PratianUiCheckbox("SHOW ALL", new { @name = "ModuleNameALL", @class = "moduleClaseALL", @value = "ALL", @labelClass = "theme_label_data" })
            </div>
        </div>
    </div>
    <div class="col-lg-6 text-right pull-right">
        @Html.Label("From: ")
        @Html.PratianUiDatePicker("bottom", new { @class = "input-xs", @placeholder = "MM/DD/YYYY", @id = "NoteFromDatePrint" })
        @Html.Label("To: ")
        @Html.PratianUiDatePicker("bottom", new { @class = "input-xs", @placeholder = "MM/DD/YYYY", @id = "NoteToDatePrint" })
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-xs btn-primary filter_print_button" style="border-radius:2px;" onclick="PrintNotes()">
            <i class="fa fa-print"></i>
        </button>
    </div>
    <div class="clearfix"></div>
    <div id="NotesTableDiv" class="zero-padding-left-right">
        @Html.Partial("~/Areas/Portal/Views/Member/Tabs/_NotesArea.cshtml")
    </div>
</div>
<p-script filepath="~/Areas/Portal/Scripts/Member/MemberProfile/NonMinified/FilterByModule.js"></p-script>
