@model PortalTemplate.Areas.Portal.Models.Member.MemberOtherDemographicsViewModel
@using PortalTemplate.Areas.Portal.CustomHelpers
<div class="memberTab_sectionsDiv">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">@Html.DisplayNameFor(e => e.CultureTitle)</span>
        </legend>
        <div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
               @Html.DisplayNameFor(e => e.Ethinicity):
                </span>
                <span class="summary_data">
                    <span id="OtherDemoEthnicity" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.Ethinicity)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                 @Html.DisplayNameFor(e => e.Race):
                </span>
                <span class="summary_data">
                    <span id="OtherDemoRace" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.Race)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                @Html.DisplayNameFor(e => e.Religion):
                </span>
                <span class="summary_data">
                    <span id="OtherDemoReligion" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.Religion)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                @Html.DisplayNameFor(e => e.MaritalStatus):
                </span>
                <span class="summary_data">
                    <span id="OtherDemoMaritalStatus" class="bolding text-uppercase wrap-span-content PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.MaritalStatus)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                @Html.DisplayNameFor(e => e.FamilyStatus):
                </span>
                <span class="summary_data">
                    <span id="OtherDemoFamilyStatus" class="bolding PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.FamilyStatus)</span>
                </span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">________________.</span>@Html.DisplayNameFor(e => e.ContactTitle)<span class="transparent-font-color">________________.</span></span>
        </legend>
        <div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                     @Html.DisplayNameFor(e => e.HomePhone):
                    </span>
                    <span class="summary_data">
                      <span id="OtherDemoHomePhone" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.ConvertToPhoneString(Model.HomePhone)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                     @Html.DisplayNameFor(e => e.Email):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoEmail" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.Email)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                       @Html.DisplayNameFor(e => e.AlternatePhone):
                    </span>
                    <span class="summary_data">
                       <span id="OtherDemoAlternatePhone" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.ConvertToPhoneString(Model.AlternatePhone)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                      @Html.DisplayNameFor(e => e.ContactPreference):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoContactPref" class="bolding text-uppercase wrap-span-content PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.ContactPreference)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                    @Html.DisplayNameFor(e => e.DoNotCall):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoDoNotCall" class="bolding PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.DoNotCall)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                    @Html.DisplayNameFor(e => e.ResidentialStatus):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoResidentialStatus" class="bolding PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.ResidentialStatus)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                   @Html.DisplayNameFor(e => e.PreferableCallDays):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoPrefCallDays" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.PreferableCallDays)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                   @Html.DisplayNameFor(e => e.ContactAlert):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoContactAlert" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.ConvertToPhoneString(Model.ContactAlert)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                   @Html.DisplayNameFor(e => e.ParentalConsentThru):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoParentalConsentThru" class="bolding PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.ParentalConsentThru)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                     @Html.DisplayNameFor(e => e.ParentalConsentFrom):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoParentalConsentFrom" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.ParentalConsentFrom)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                     @Html.DisplayNameFor(e => e.PrefCallTimeFrom):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoPrefCallTimeFrom" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.PrefCallTimeFrom)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                     @Html.DisplayNameFor(e => e.PrefCallTimeThru):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoPrefCallTimeThru" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.PrefCallTimeThru)</span>
                    </span>
                </div>
            </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">_______________.</span>@Html.DisplayNameFor(e => e.LanguageTitle)<span class="transparent-font-color">_______________.</span></span>
        </legend>
        <div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                   @Html.DisplayNameFor(e => e.Spoken1):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoSpoken1" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.Spoken1)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                    @Html.DisplayNameFor(e => e.Spoken2):
                    </span>
                    <span class="summary_data">
                          <span id="OtherDemoSpoken2" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.Spoken2)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                    @Html.DisplayNameFor(e => e.Written1):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoWritten1" class="bolding text-uppercase PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.Written1)</span>
                    </span>
                </div>
                <div class="col-lg-2 text_adjust">
                    <span class="theme_label">
                   @Html.DisplayNameFor(e => e.Written2):
                    </span>
                    <span class="summary_data">
                        <span id="OtherDemoWritten2" class="bolding text-uppercase wrap-span-content PROVIDERINFO theme_label_data">@Html.DisplayFor(e => e.Written2)</span>
                    </span>
                </div>
            </div>
    </fieldset>
</div>
