@model IEnumerable<PortalTemplate.Areas.Portal.Models.Member.MemberRatingsOverrideViewModel>
<div class="x_panel border_on_panel">
    <table class="table margin_bottom_zero table-white alignLeftTable noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font custom-tbody">
        <thead class="">
            <tr class="text-uppercase">
                <th class="theme_label">@Html.DisplayNameFor(e => e.EffectiveDate)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.PlanID)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.IdentificationType)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Units)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Factors)</th>
                <th class="theme_label">@Html.DisplayNameFor(e => e.Amount)</th>
            </tr>
        </thead>
        <tbody id="COBTableBody">
            @if (Model != null) { 
                foreach (var item in Model)
                {
                    <tr>
                        <td  class="theme_label_data">@Html.DisplayFor(e => item.EffectiveDate)</td>
                        <td  class="theme_label_data">@Html.DisplayFor(e => item.PlanID)</td>
                        <td  class="theme_label_data">@Html.DisplayFor(e => item.IdentificationType)</td>
                        <td  class="theme_label_data">@Html.DisplayFor(e => item.Units)</td>
                        <td  class="theme_label_data">@Html.DisplayFor(e => item.Factors)</td>
                        <td  class="theme_label_data">@Html.DisplayFor(e => item.Amount)</td>
                </tr>
            }
            }
            @if(Model==null || Model.Count()<=0)
            {
                <tr id="no-data-available-row">
                    <td colspan="6" class="theme_label_data text-center">NO DATA AVAILABLE</td>
                </tr>
            }
        </tbody>
    </table>
</div>

