@model PortalTemplate.Areas.Portal.Models.Member.MemberRepresentativeViewModel
@using PortalTemplate.Areas.Portal.CustomHelpers
<div class="memberTab_sectionsDiv">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">.</span>@Html.DisplayNameFor(e => e.PersonalInformation)</span>
        </legend>
        <div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.GuarantorType):
                </span>
                <span class="summary_data">
                    <span id="Responsible_GaurantorType" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.GuarantorType)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.MemberID):
                </span>
                <span class="summary_data">
                    <span id="Responsible_MemberId" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.MemberID)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.FirstName):
                </span>
                <span class="summary_data">
                    <span id="Responsible_FirstName" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.FirstName)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.LastName):
                </span>
                <span class="summary_data">
                    <span id="Responsible_LastName" class="bolding text-uppercase wrap-span-content theme_label_data">@Html.DisplayFor(e => e.LastName)</span>
                </span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">
                <span class="transparent-font-color">.</span>@Html.DisplayNameFor(e => e.Contactinformation)
                <span class="transparent-font-color">.</span>
            </span>
        </legend>
        <div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.Email):
                </span>
                <span class="summary_data">
                    <span id="Responsible_Email" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.Email)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.Phone):
                </span>
                <span class="summary_data">
                    <span id="Responsible_Phone" class="bolding text-uppercase theme_label_data">@Html.ConvertToPhoneString(Model.Phone)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.Cell):
                </span>
                <span class="summary_data">
                    <span id="Responnsible_Cell" class="bolding text-uppercase theme_label_data">@Html.ConvertToPhoneString(Model.Cell)</span>
                </span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">.</span>@Html.DisplayNameFor(e => e.AddressInformation)<span class="transparent-font-color">    .</span></span>
        </legend>
        <div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.Add1):
                </span>
                <span class="summary_data">
                    <span id="Responsible_Address1" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.Add1)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.Add2):
                </span>
                <span class="summary_data">
                    <span id="Reponsible_Address2" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.Add2)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.City):
                </span>
                <span class="summary_data">
                    <span id="Responsible_City" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.City)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.State):
                </span>
                <span class="summary_data">
                    <span id="Responsible_State" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.State)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.Zip):
                </span>
                <span class="summary_data">
                    <span id="Responsible_Zip" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.Zip)</span>
                </span>
            </div>
            <div class="col-lg-2 text_adjust">
                <span class="theme_label">
                    @Html.DisplayNameFor(e => e.County):
                </span>
                <span class="summary_data">
                    <span id="Responsible_County" class="bolding text-uppercase theme_label_data">@Html.DisplayFor(e => e.County)</span>
                </span>
            </div>
        </div>
    </fieldset>
</div>
