@model IEnumerable<PortalTemplate.Areas.Encounters.Models.EncounterList.EncounterListViewModel>
@foreach (var item in Model)
{
    <tr>
        <td>@item.EncounterID </td>
        <td>@item.SubscriberID</td>
        <td>@item.MemberLastName @item.MemberFirstName</td>
        <td>@item.ProviderNPI</td>
        <td>@item.ProviderLastName @item.ProviderFirstName</td>
        <td>@item.FacilityName</td>
        <td>@item.DateOfCreation.Value.ToShortDateString() </td>
        <td>@item.DateOfService.Value.ToShortDateString() </td>
        <td>@item.CreatedBy</td>
        <td>@item.EncounterType</td>
        <td>@item.EncounterStatus</td>
        <td class="displaytd">
            <a data-toggle="tooltip" data-placement="top" title="" class="p_view_btn btn btn-xs tab-navigation member-actions" data-tab-val="ViewEncounter" data-tab-action="View Encounter" data-tab-title="View #@item.EncounterID" data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="/Encounters/EncounterCRUD/ViewEncounter" data-original-title="View Encounter"><i class="fa fa-eye"></i></a>
            <a data-toggle="tooltip" title="" class="p_delete_btn btn btn-xs" onclick="showCancelModal(116244951 )" data-original-title="Cancel Encounter"><i class="fa fa-close"></i></a>
            @*<a data-toggle="tooltip" title="" class="p_cancel_btn btn btn-xs" onclick="showRescheduleModal(116244951 )" data-original-title="ReSchedule Encounter"><i class="fa fa-history"></i></a>*@
        </td>
    </tr>
}
