@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.LicensesViewModel.FederalDea>

@{
    var FederalDea = 0;

}
<fieldset class="fsStyle" id="ViewFederalDEA">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            <span class="transparent-font-color">__</span>
            FEDERAL DEA Information
            <span class="transparent-font-color">___</span>
        </span>

        &nbsp;&nbsp; <span class="text-uppercase ">
            <span class="fstyleBtnStyle">
                @*<button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/Licenses/GetFederalDEAPartial" data-tab-container="FederalDEA">
                        <i class="fa fa-plus"></i>
                    </button>*@
                <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/Licenses/GetFederalDEAPartial?model=@Model&ActionType=Add" data-tab-container="FederalDEA">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/Licenses/GetFederalDEAPartial?model=@Model&ActionType=Edit" data-tab-container="FederalDEA">
                    <i class="fa fa-pencil"></i>
                </button>
            </span>
            <span class="fstyleBtnStyle">
                <button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="collapse" data-target="#FederalDeaHistory">
                    <i class="fa fa-history"></i>
                </button>
            </span>
            <span class="fstyleBtnStyle">
                <button class="btn btn-default btn-xs helpBtnCSS" data-toggle="popover" data-trigger="hover" data-content="*If you have additional DEA Licenses include all DEA Registration numbers here." data-original-title="" title="">
                    <i class="fa fa-question"></i>
                </button>
            </span>
            <a class="print_button_for_FederalDEA hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
            </a>
        </span>
    </legend>

    @foreach (var item in Model)
    {

        FederalDea = FederalDea + 1;


    <div class="x_content zero-padding-left mutiple-data ViewMoreFederalDEA_@FederalDea collapse in">

            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">Federal DEA Information-@FederalDea</span>&nbsp; <button onclick="groupmodalhistory('Licenses','removeFederalDEAInfo','@item.FederalDeaID','FederalDEA')" @*data-toggle="modal" data-target="#BhaukalId"*@ class="btn btn-danger btn-xs RemoveButtonStyleModal "><i class="fa fa-minus"></i></button>
                &nbsp; <button class="btn btn-primary btn-xs RemoveButtonStyleModal "><i class="fa fa-refresh"></i></button>
                @*&nbsp;  <button class="btn btn-warning btn-xs historyBtnCSS RemoveButtonStyleModal list-item" data-tab-path="/CredAxis/Licenses/getFederalDEAHistory?value=@item.FederalDeaID" data-tab-container="@item.FederalDeaID">
                        <i class="fa fa-history"></i>
                    </button>*@
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.DEA) :</label>
                <span class="theme_label_data">@item.DEA</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.StateOfRegistration) :</label>
                <span class="theme_label_data">@item.StateOfRegistration</span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.IsLicenseGood) :</label>
                @if (item.IsLicenseGood)
                {
                    <span class="theme_label_data">YES</span>
                }
                else
                {
                    <span class="theme_label_data">NO</span>
                }
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.IssueDate) :</label>
                <span class="theme_label_data">@item.IssueDate</span>

            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.ExpirationDate) :</label>
                <span class="theme_label_data">@item.ExpirationDate</span>
            </div>
            <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.SCHEDULE) :</label>
                <span class="theme_label_data scheduleData">
                    <span:if class="@item.SCHEDULE.One == false ? : hidden">@*<input type="checkbox"        checked="@item.SCHEDULE.One" name="IPA" class="normal-checkbox" disabled value="1">*@<label for="IPA" class="font-bold"><span></span>1</label></span:if>&nbsp;&nbsp;
                    <span class="@item.SCHEDULE.Two == false ? : hidden">@*<input type="checkbox" name="2" checked="@item.SCHEDULE.Two" class="normal-checkbox" disabled value="2">*@<label for="2" class="font-bold"><span></span>2</label></span>&nbsp;&nbsp;
                    <span class="@item.SCHEDULE.TwoN == false ? : hidden">@*<input type="checkbox" name="2N" checked="@item.SCHEDULE.TwoN" class="normal-checkbox" disabled value="2N">*@<label for="2N" class="font-bold"><span></span>2N</label></span>&nbsp;&nbsp;
                    <span>@*<input type="checkbox" name="3" checked="@item.SCHEDULE.Three" class="normal-checkbox" disabled value="3">*@<label for="3" class="font-bold"><span></span>3</label></span>&nbsp;&nbsp;
                    <span>@*<input type="checkbox" name="3N" checked="@item.SCHEDULE.ThreeN" class="normal-checkbox" disabled value="3N">*@<label for="3N" class="font-bold"><span></span>3N</label></span>&nbsp;&nbsp;
                    <span>@*<input type="checkbox" name="4N" checked="@item.SCHEDULE.FourN" class="normal-checkbox" disabled value="4N">*@<label for="4N" class="font-bold"><span></span>4N</label></span>&nbsp;&nbsp;
                    <span>@*<input type="checkbox" name="5N" checked="@item.SCHEDULE.FiveN" class="normal-checkbox" disabled value="5N">*@<label for="5N" class="font-bold"><span></span>5N</label></span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">SUPPORTING DOCUMENT:</label>
                <span class="theme_label_data">NOT AVAILABLE</span>
            </div>
        </div>

       



    }



    <span class="view-more  pull-right" id="lessFederalDEA" data-toggle="collapse" data-target=".ViewMoreFederalDEA_3" onclick="ShowHideAddView('moreFederalDEA', 'lessFederalDEA')">View Less</span>
    <span class="view-more hidden pull-right" id="moreFederalDEA" data-toggle="collapse" data-target=".ViewMoreFederalDEA_3" onclick="ShowHideAddView('lessFederalDEA', 'moreFederalDEA')">View More</span>

    <fieldset class="fsStyle collapse remove_shadow width-100" id="FederalDeaHistory">

        @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/FederalDea/_HistoryFederalDEA.cshtml")

    </fieldset>
</fieldset>
@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/_RemoveModal.cshtml")
