@model PortalTemplate.Areas.UM.Models.ViewModels.Queue.QueueModuleViewModel

<!-- FILES TO BE LOADED -->
<link href="~/Areas/UM/Styles/Queue/IntakeQueue.css" rel="stylesheet" />
@*@if (ViewBag.SubTabView.IsSubTabs)
{
    @Html.Partial("~/Areas/UM/Views/Queue/Common/_QueueSubTabs.cshtml")
}*@
<div id="queueSubTabs" class="col-lg-12 padding-left-right-1px">
    @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/QueueSubTabs/_QueueSubTabs.cshtml",Model.QueueSubTab)
</div>
<div id="queueButtons" class="col-lg-6 padding-left-right-1px">
    @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/QueueSubTabs/_QueueButtons.cshtml", Model.QueueInfo)
</div>
<div id="queueFilters" class="col-lg-6 padding-left-right-1px">
    @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/QueueFilters/_QueueFilters.cshtml", Model.QueueInfo)
</div>
<div class="clearfix"></div>
<div id="queueBody" class="col-lg-12 padding-left-right-1px">
    @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/Queue/QueueGrid/_QueueGrid.cshtml",Model.AuthorizationsList)
</div>
<p-script filepath="~/Areas/UM/Scripts/Queue/Queue.js"></p-script>