@model AHC.CD.WebUI.MVC.Areas.Profile.Models.IdentificationAndLicenses.MedicaidInformationViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

<div class="form-style">
    <fieldset>
        <legend>
            Medicaid Information
        </legend>
        <div>
            <div class="form-group col-md-12 zero-padding-left-right-div">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.LicenseNumber, new { @class = "  control-label small" })
                    <div>
                        <i class="data-label">{{MedicaidInformationHistory.LicenseNumber}}</i>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.State, new { @class = "  control-label small" })
                    <div>
                        <i class="data-label">{{MedicaidInformationHistory.State}}</i>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.IssueDate, new { @class = "  control-label small" })
                    <div>
                        <i class="data-label">{{MedicaidInformationHistory.IssueDate || 'Not Available' | date: "MM-dd-yyyy"}}</i>
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.ExpirationDate, new { @class = "  control-label small" })
                    <div>
                        <i class="data-label">{{MedicaidInformationHistory.ExpirationDate || 'Not Available' | date: "MM-dd-yyyy"}}</i>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-12 zero-padding-left-right-div">
                <div class="col-lg-12">
                    <label class="control-label small">Supporting Document</label>
                    <div ng-show="MedicaidInformationHistory.CertificatePath">
                        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Preview, ViewBag.Roles, false))
                        {
                            <i class="data-label"><a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{MedicaidInformationHistory.CertificatePath}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="Medicaid Certificate"><i class="fa fa-file"></i></a></i>
                        }
                    </div>
                    <div ng-hide="MedicaidInformationHistory.CertificatePath">
                        <i class="data-label">Not Available</i>
                    </div>
                </div>
            </div>
            <div class="col-md-12 zero-padding-left-right-div">
                <div class="col-md-12">
                    <button id="Medicaid_History_Close" type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('')">Cancel</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </fieldset>
</div>