<!-- author : krglv-->
<br />
@model AHC.CD.WebUI.MVC.Areas.Credentialing.Models.CredentialingCheckList.CredentialingAppointmentDetailViewModel
<style>
    .ProviderTypeSelectAutoList.popover.bottom {
        margin-top: 32px;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0px;
    }
</style>
<script type="text/javascript">

    function PrintElem() {
        Popup($(ccmDiv).html());
        $('#message1').hide();
    }

    function myFunction() {
        window.print();
    }

    function Popup(data) {
        var mywindow = window.open('', data, 'height=auto,width=auto');
        mywindow.document.write('<html><head><title>my div</title>');
        mywindow.document.write('<link rel="stylesheet" href="/Content/bootstrap.min.css" type="text/css" />');
        mywindow.document.write('<link href="~/Content/SharedCss/jasny-bootstrap.css" rel="stylesheet" />');
        mywindow.document.write('<style> .form-style fieldset { padding: 15px 20px 5px 20px; } .grow { transition: all .2s ease-in-out; } .grow:hover { transform: scale(2.1); } </style>');
        //mywindow.document.write('<link href="~/Content/SharedCss/bootstrap.min.css" rel="stylesheet" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        setTimeout(function () {
            mywindow.print();
            mywindow.close();
        }, 500);
        return true;
    }

</script>
<div class="col-lg-12 text-right" ng-if="credentialingFilterInfo.CredentialingLogs[0].CredentialingActivityLogs.length==1">
    <a href="/Credentialing/Verification/InitiateNewPSV?profileId={{credentialingFilterInfo.Profile.ProfileID}}&credinfoId={{credentialingFilterInfo.CredentialingInfoID}}"><button class="btn btn-primary btn-xs">Perform PSV</button><span style="width:10px"></span></a>
    <div class="col-lg-12 text-center">
        <div class="col-md-12"><strong>Verification Report</strong></div>

    </div>
    <div class="col-lg-12 text-center" role="alert">
        Primary Source Verification is not completed
    </div>
</div>
<div ng-if="(credentialingFilterInfo.CredentialingLogs[0].CredentialingAppointmentDetail==null && credentialingFilterInfo.CredentialingLogs[0].CredentialingActivityLogs.length>1 && viewc==true)">
    <form id="CredentialingCheckList" class="form-horizontal" ng-submit="credentialingCheckList('CredentialingCheckList')">
        @Html.HiddenFor(model => model.CredentialingAppointmentDetailID, new { ng_value = "tempObject1.CredentialingAppointmentDetailID" })
        @Html.HiddenFor(model => model.FirstName, new { ng_value = "tempObject1.FirstName" })
        @Html.HiddenFor(model => model.MiddleName, new { ng_value = "tempObject1.MiddleName" })
        @Html.HiddenFor(model => model.LastName, new { ng_value = "tempObject1.LastName" })

        <div id="message1" class="col-lg-12 zero-padding-left-right-div">
            <div ng-show="activeMessageDiv=='ProviderCheckList'" class="alert alert-success" role="alert">

                {{messageDesc}}
            </div>
        </div>
        <div class="col-lg-11 text-right ng-scope" ng-show="temp==true">

            <a class="btn btn-primary btn-xs" href="/credentialing/cnd/credentialingappointment">Set Appointment</a>

        </div>
      
        <div id="ccmDiv" class="col-lg-12 col-md-12 zero-padding-left-right-div">
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Name :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">{{tempObject1.Salutation}} {{tempObject1.FirstName}} {{tempObject1.MiddleName}} {{tempObject1.LastName}}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Type of Practice :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.AppointmentProviderType)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.AppointmentProviderType, (int)value, new { data_ng_model = "tempObject1.AppointmentProviderType", data_ng_click = "getProviderTypeValue(value)" }) @value.ToString()
                            </label>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">County :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.TextBoxFor(model => model.County, new { @class = "form-control input-sm", data_ng_model = "tempObject1.County" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Specialty :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input class="form-control input-sm" ng-class="{'input-validation-error':SpecialityCCN.length == 0 && isHasError}" ng-model="SpecialityType" ng-focus="showSpeciality('Specialist')" placeholder="Select Specialities" />
                    <span ng-if="SpecialityCCN.length == 0 && isHasError" class="text-danger field-validation-error">
                        <span>Please select the Speciality.</span>
                    </span>
                    <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="Specialist">
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tbody>
                                <tr ng-repeat="Speciality in filteredSpecialityTypeResults = (SpecialityCCN | filter:SpecialityType)" ng-click="SelectSpecialityType(Speciality)" class="pointer">
                                    <td>{{Speciality.Name}}</td>
                                </tr>
                                <tr ng-if="SpecialityCCN.length == 0">
                                    <td>No data..... </td>
                                </tr>
                                <tr ng-if="SpecialityCCN.length > 0 && filteredSpecialityTypeResults.length == 0">
                                    <td>Title not found..... </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-if="tempObject1.CredentialingSpecialityLists.length > 0 && fixValue==true" class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label small">Selected Specialities : </label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <span ng-repeat="tpt in tempObject1.CredentialingSpecialityLists track by $index" ng-if="tpt.StatusType==1">
                        {{tpt.Name}}

                        <i class="fa fa-close pointer" ng-click="RemoveSpecialityType(tpt)"></i>
                        <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].CredentialingSpecialityListID" value="{{tpt.CredentialingSpecialityListID}}" />
                        <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].SpecialtyID" value="{{tpt.SpecialtyID}}" />
                        <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].Name" value="{{tpt.Name}}" />
                        <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].StatusType" value="{{tpt.StatusType}}" />
                        &nbsp;&nbsp;
                    </span>
                    <span ng-repeat="tpt in tempObject1.CredentialingSpecialityLists track by $index" ng-if="tpt.StatusType==2" ng-hide="true">
                        <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].CredentialingSpecialityListID" value="{{tpt.CredentialingSpecialityListID}}" />
                        <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].SpecialtyID" value="{{tpt.SpecialtyID}}" />
                        <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].Name" value="{{tpt.Name}}" />
                        <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].StatusType" value="{{tpt.StatusType}}" />
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Board Certification :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.BoardCertifiedYesNoOption, (int)value, new { data_ng_model = "tempObject1.BoardCertifiedYesNoOption" }) @value.ToString()
                            </label>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    @Html.TextBoxFor(model => model.RemarksForBoardCertification, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForBoardCertification" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Hospital Privileges :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.HospitalPrivilegesYesNoOption, (int)value, new { data_ng_model = "tempObject1.HospitalPrivilegesYesNoOption" }) @value.ToString()
                            </label>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    @Html.TextBoxFor(model => model.RemarksForHospitalPrivileges, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForHospitalPrivileges" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Covering Physicians(s) :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">


                    <input class="form-control input-sm" ng-class="{'input-validation-error':CoveringPhysicians.length == 0 && isHasError}" ng-model="CoveringPhysiciansType" ng-focus="showContryCodeDiv('DemographicsProviderTypesSearchResultDiv')" placeholder="Select CoveringPhysiciansType" />
                    <span ng-if="CoveringPhysicians.length == 0 && isHasError" class="text-danger field-validation-error">
                        <span>Please select the CoveringPhysicians.</span>
                    </span>
                    <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="DemographicsProviderTypesSearchResultDiv">
                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                            <tbody>
                                <tr ng-repeat="coveringPhysicians in filteredCoveringPhysiciansTypeResults = (CoveringPhysicians | filter:CoveringPhysiciansType)" ng-click="SelectCoveringPhysiciansType(coveringPhysicians)" class="pointer">
                                    <td>{{coveringPhysicians.FirstName}} {{coveringPhysicians.LastName}}</td>
                                </tr>
                                <tr ng-if="CoveringPhysicians.length == 0">
                                    <td>No data..... </td>
                                </tr>
                                <tr ng-if="CoveringPhysicians.length > 0 && filteredCoveringPhysiciansTypeResults.length == 0">
                                    <td>Title not found..... </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-if="tempObject1.CredentialingCoveringPhysicians.length > 0 && fixValue1==true" class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label small">Selected CoveringPhysicians : </label>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <span ng-repeat="tpt in tempObject1.CredentialingCoveringPhysicians track by $index" ng-if="tpt.StatusType==1">
                        {{tpt.FirstName}} {{tpt.LastName}}

                        <i class="fa fa-close pointer" ng-click="RemoveCoveringPhysiciansType1(tpt)"></i>
                        <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].CredentialingCoveringPhysicianID" value="{{tpt.CredentialingCoveringPhysicianID}}" />
                        <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].FirstName" value="{{tpt.FirstName}}" />
                        <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].LastName" value="{{tpt.LastName}}" />
                        <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].StatusType" value="{{tpt.StatusType}}" />
                        &nbsp;&nbsp;
                    </span>
                    <span ng-repeat="tpt in tempObject1.CredentialingCoveringPhysicians track by $index" ng-if="tpt.StatusType==2" ng-hide="true">
                        <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].CredentialingCoveringPhysicianID" value="{{tpt.CredentialingCoveringPhysicianID}}" />
                        <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].FirstName" value="{{tpt.FirstName}}" />
                        <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].LastName" value="{{tpt.LastName}}" />
                        <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].StatusType" value="{{tpt.StatusType}}" />
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Gaps in Practice :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.GapsInPracticeYesNoOption, (int)value, new { data_ng_model = "tempObject1.GapsInPracticeYesNoOption" }) @value.ToString()
                            </label>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    @Html.TextBoxFor(model => model.RemarksForGapsInPractice, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForGapsInPractice" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Clean license :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.CleanLicenseYesNoOption, (int)value, new { data_ng_model = "tempObject1.CleanLicenseYesNoOption" }) @value.ToString()
                            </label>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    @Html.TextBoxFor(model => model.RemarksForCleanLicense, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForCleanLicense" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">NPDB Issues :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.NPDBIssueYesNoOption, (int)value, new { data_ng_model = "tempObject1.NPDBIssueYesNoOption" }) @value.ToString()
                            </label>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    @Html.TextBoxFor(model => model.RemarksForNPDBIssue, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForNPDBIssue" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Malpractice Issues :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.MalpracticeIssueYesNoOption, (int)value, new { data_ng_model = "tempObject1.MalpracticeIssueYesNoOption" }) @value.ToString()
                            </label>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    @Html.TextBoxFor(model => model.RemarksForMalpracticeIssue, new { @class = "form-control input-sm", data_ng_model = "tempObject1.remarkForMalpracticeIssues" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Years in Practice :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.TextBoxFor(model => model.YearsInPractice, new { @class = "form-control input-sm", data_ng_model = "tempObject1.YearsInPractice" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Site Visit Required. If yes, were there any issues :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="radio">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.SiteVisitRequiredYesNoOption, (int)value, new { data_ng_model = "tempObject1.SiteVisitRequiredYesNoOption" }) @value.ToString()
                            </label>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    @Html.TextBoxFor(model => model.RemarksForSiteVisitRequired, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForSiteVisitRequired" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Recommended Provider Level :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.CredentialingLevel)))
                    {
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.RecommendedCredentialingLevel, (int)value, new { data_ng_model = "tempObject1.RecommendedCredentialingLevel" }) @value.ToString()
                        </label>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-md-4 col-sm-4 control-label">Attach Document :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        @Html.HiddenFor(model => model.FileUploadPath, new { @Value = "{{tempObject1.FileUploadPath}}" })
                        <div class="form-control jancyFileWrapTexts" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename wraptext"></span></div>
                        <span class="input-group-addon btn btn-default btn-sm btn-file">
                            <span class="fileinput-new">Select Document</span><span class="fileinput-exists">Change</span>
                            @Html.TextBoxFor(model => model.FileUpload, new { data_ng_model = "tempObject1.FileUpload", type = "file", @class = "fileinputtag", onchange = "setFileNameWith(this); angular.element(this).scope().setFiles(this)" })

                        </span>
                        <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput" ng-click="removeFile('ContractInfo_CVFile')">Remove</a>
                    </div>
                </div>

                <span data-ng-if="tempObject1.FileUploadPath" class="col-lg-1 col-md-1 col-sm-1">
                    <a toggle data-toggle="tooltip" data-placement="bottom" title="Preview" href="{{tempObject1.FileUploadPath}}" target="_blank"><i class="fa fa-2x fa-file"></i></a>
                </span>
            </div>
            

            <div class="form-group">
                <div class="col-lg-5 col-md-5 col-sm-5 control-label">

                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 control-label">
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                </div>
            </div>

        </div>

    </form>
</div>



<div ng-if="((credentialingFilterInfo.CredentialingLogs[0].CredentialingAppointmentDetail!=null && credentialingFilterInfo.CredentialingLogs[0].CredentialingAppointmentDetail.CredentialingAppointmentResult==null) || (tempObject1.CredentialingAppointmentDetailID!=null && viewc==false))">

    <div class="col-lg-12 col-md-12 zero-padding-left-right-div" ng-if="ViewCheckList">
        <form class="form-horizontal">
            @Html.HiddenFor(model => model.CredentialingAppointmentDetailID, new { ng_value = "tempObject1.CredentialingAppointmentDetailID" })
            @Html.HiddenFor(model => model.CredentialingAppointmentResult.SignedByID, new { ng_value = "tempObject1.CredentialingAppointmentResult.SignedByID" })
            @Html.HiddenFor(model => model.CredentialingAppointmentResult.CredentialingLevel, new { ng_value = "tempObject1.CredentialingAppointmentResult.CredentialingLevel" })
            <div id="message1" class="col-lg-12 zero-padding-left-right-div">
                <div ng-show="activeMessageDiv=='ProviderCheckList'" class="alert alert-success" role="alert">

                    {{messageDesc}}
                </div>
            </div>
            <div class="col-lg-12 text-right ng-scope" ng-if="temp==true">
                <a class="btn btn-primary btn-xs" ng-click="Edit()">Edit</a>
                <a class="btn btn-primary btn-xs" href="/credentialing/cnd/credentialingappointment">Set Appointment</a>
                <a onclick="PrintElem();" class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank" tooltip data-toggle="tooltip" data-placement="bottom" title="Print">Print <i class="fa fa-print"></i></a>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Name :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{credentialingFilterInfo.Profile.PersonalDetail.Salutation}} {{tempObject1.FirstName}} {{tempObject1.MiddleName}} {{tempObject1.LastName}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Provider Type :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.ProviderType}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">County :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.County}}</i></label>
                </div>
            </div>
            <div class="form-group" ng-if="tempObject1.CredentialingSpecialityLists.length > 0">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Specialty :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label" ng-repeat="tpt in tempObject1.CredentialingSpecialityLists track by $index" ng-if="tpt.Status=='Active'">
                        <i class="label label-default">{{tpt.Name}}</i>&nbsp;&nbsp;
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Board Certification :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.BoardCertified}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForBoardCertification}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Hospital Privileges :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.HospitalPrivileges}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForHospitalPrivileges}}</i></label>
                </div>
            </div>

            <div ng-if="tempObject1.CredentialingCoveringPhysicians.length > 0" class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">CoveringPhysicians : </label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label" ng-repeat="tpt in tempObject1.CredentialingCoveringPhysicians track by $index" ng-if="tpt.Status=='Active'">
                        <i class="label label-default">{{tpt.FirstName}} {{tpt.LastName}} </i>&nbsp;&nbsp;
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Gaps in Practice :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.GapsInPractice}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForGapsInPractice}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Clean license :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.CleanLicense}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForCleanLicense}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">NPDB Issues :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.NPDBIssue}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForNPDBIssue}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Malpractice Issues :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.MalpracticeIssue}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForMalpracticeIssue}}</i></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Years in Practice :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.YearsInPractice}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Site Visit Required. If yes, were there any issues :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.SiteVisitRequired}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForSiteVisitRequired}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Recommended Provider Level :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RecommendedLevel}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Attached Document :</label>
                <div class="col-lg-6 col-md-6 col-sm-6" ng-if="tempObject1.FileUploadPath!=null">
                    <label class="control-label"><a toggle data-toggle="tooltip" data-placement="bottom" title="Preview" href="{{tempObject1.FileUploadPath}}" target="_blank"><i class="fa fa-2x fa-file"></i></a><i style="font-weight:100">{{DocName1}}</i></label>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-12 col-md-12 zero-padding-left-right-div" ng-if="!ViewCheckList">
        <form id="CredentialingCheckList1" class="form-horizontal" ng-submit="credentialingCheckList('CredentialingCheckList1')">
            @Html.HiddenFor(model => model.CredentialingAppointmentDetailID, new { ng_value = "tempObject1.CredentialingAppointmentDetailID" })
            @Html.HiddenFor(model => model.FirstName, new { ng_value = "tempObject1.FirstName" })
            @Html.HiddenFor(model => model.MiddleName, new { ng_value = "tempObject1.MiddleName" })
            @Html.HiddenFor(model => model.LastName, new { ng_value = "tempObject1.LastName" })



            <div id="ccmDiv" class="col-lg-12 col-md-12 zero-padding-left-right-div">
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Name :</label>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label class="control-label">{{tempObject1.Salutation}} {{tempObject1.FirstName}} {{tempObject1.MiddleName}} {{tempObject1.LastName}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Type of Practice :</label>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="radio">
                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.AppointmentProviderType)))
                            {
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.AppointmentProviderType, (int)value, new { data_ng_model = "tempObject1.AppointmentProviderType", data_ng_click = "getProviderTypeValue(tempObject.AppointmentProviderType)" }) @value.ToString()
                                </label>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">County :</label>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        @Html.TextBoxFor(model => model.County, new { @class = "form-control input-sm", data_ng_model = "tempObject1.County" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Specialty :</label>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input class="form-control input-sm" ng-class="{'input-validation-error':SpecialityCCN.length == 0 && isHasError}" ng-model="SpecialityType" ng-focus="showSpeciality('Specialist')" placeholder="Select Specialities" />
                        <span ng-if="SpecialityCCN.length == 0 && isHasError" class="text-danger field-validation-error">
                            <span>Please select the Speciality.</span>
                        </span>
                        <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="Specialist">
                            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                                <tbody>
                                    <tr ng-repeat="Speciality in filteredSpecialityTypeResults = (SpecialityCCN | filter:SpecialityType)" ng-click="SelectSpecialityType(Speciality)" class="pointer">
                                        <td>{{Speciality.Name}}</td>
                                    </tr>
                                    <tr ng-if="SpecialityCCN.length == 0">
                                        <td>No data..... </td>
                                    </tr>
                                    <tr ng-if="SpecialityCCN.length > 0 && filteredSpecialityTypeResults.length == 0">
                                        <td>Title not found..... </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-if="tempObject1.CredentialingSpecialityLists.length > 0 && fixValue==true" class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label small">Selected Specialities : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <span ng-repeat="tpt in tempObject1.CredentialingSpecialityLists track by $index" ng-if="tpt.StatusType==1">
                            {{tpt.Name}}

                            <i class="fa fa-close pointer" ng-click="RemoveSpecialityType(tpt)"></i>
                            <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].CredentialingSpecialityListID" value="{{tpt.CredentialingSpecialityListID}}" />
                            <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].SpecialtyID" value="{{tpt.SpecialtyID}}" />
                            <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].Name" value="{{tpt.Name}}" />
                            <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].StatusType" value="{{tpt.StatusType}}" />
                            &nbsp;&nbsp;
                        </span>
                        <span ng-repeat="tpt in tempObject1.CredentialingSpecialityLists track by $index" ng-if="tpt.StatusType==2" ng-hide="true">
                            <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].CredentialingSpecialityListID" value="{{tpt.CredentialingSpecialityListID}}" />
                            <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].SpecialtyID" value="{{tpt.SpecialtyID}}" />
                            <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].Name" value="{{tpt.Name}}" />
                            <input type="hidden" name="CredentialingSpecialityLists[{{$index}}].StatusType" value="{{tpt.StatusType}}" />
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Board Certification :</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="radio">
                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                            {
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.BoardCertifiedYesNoOption, (int)value, new { data_ng_model = "tempObject1.BoardCertifiedYesNoOption" }) @value.ToString()
                                </label>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.TextBoxFor(model => model.RemarksForBoardCertification, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForBoardCertification" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Hospital Privileges :</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="radio">
                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                            {
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.HospitalPrivilegesYesNoOption, (int)value, new { data_ng_model = "tempObject1.HospitalPrivilegesYesNoOption" }) @value.ToString()
                                </label>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.TextBoxFor(model => model.RemarksForHospitalPrivileges, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForHospitalPrivileges" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Covering Physicians(s) :</label>
                    <div class="col-lg-6 col-md-6 col-sm-6">


                        <input class="form-control input-sm" ng-class="{'input-validation-error':CoveringPhysicians.length == 0 && isHasError}" ng-model="CoveringPhysiciansType" ng-focus="showContryCodeDiv('DemographicsProviderTypesSearchResultDiv')" placeholder="Select CoveringPhysiciansType" />
                        <span ng-if="CoveringPhysicians.length == 0 && isHasError" class="text-danger field-validation-error">
                            <span>Please select the CoveringPhysicians.</span>
                        </span>
                        <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="DemographicsProviderTypesSearchResultDiv">
                            <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                                <tbody>
                                    <tr ng-repeat="coveringPhysicians in filteredCoveringPhysiciansTypeResults = (CoveringPhysicians | filter:CoveringPhysiciansType)" ng-click="SelectCoveringPhysiciansType(coveringPhysicians)" class="pointer">
                                        <td>{{coveringPhysicians.FirstName}} {{coveringPhysicians.LastName}}</td>
                                    </tr>
                                    <tr ng-if="CoveringPhysicians.length == 0">
                                        <td>No data..... </td>
                                    </tr>
                                    <tr ng-if="CoveringPhysicians.length > 0 && filteredCoveringPhysiciansTypeResults.length == 0">
                                        <td>Title not found..... </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-if="tempObject1.CredentialingCoveringPhysicians.length > 0 && fixValue1==true" class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label small">Selected CoveringPhysicians : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <span ng-repeat="tpt in tempObject1.CredentialingCoveringPhysicians track by $index" ng-if="tpt.StatusType==1">
                            {{tpt.FirstName}} {{tpt.LastName}}

                            <i class="fa fa-close pointer" ng-click="RemoveCoveringPhysiciansType1(tpt)"></i>
                            <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].CredentialingCoveringPhysicianID" value="{{tpt.CredentialingCoveringPhysicianID}}" />
                            <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].FirstName" value="{{tpt.FirstName}}" />
                            <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].LastName" value="{{tpt.LastName}}" />
                            <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].StatusType" value="{{tpt.StatusType}}" />
                            &nbsp;&nbsp;
                        </span>
                        <span ng-repeat="tpt in tempObject1.CredentialingCoveringPhysicians track by $index" ng-if="tpt.StatusType==2" ng-hide="true">
                            <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].CredentialingCoveringPhysicianID" value="{{tpt.CredentialingCoveringPhysicianID}}" />
                            <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].FirstName" value="{{tpt.FirstName}}" />
                            <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].LastName" value="{{tpt.LastName}}" />
                            <input type="hidden" name="CredentialingCoveringPhysicians[{{$index}}].StatusType" value="{{tpt.StatusType}}" />
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Gaps in Practice :</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="radio">
                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                            {
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.GapsInPracticeYesNoOption, (int)value, new { data_ng_model = "tempObject1.GapsInPracticeYesNoOption" }) @value.ToString()
                                </label>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.TextBoxFor(model => model.RemarksForGapsInPractice, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForGapsInPractice" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Clean license :</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="radio">
                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                            {
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.CleanLicenseYesNoOption, (int)value, new { data_ng_model = "tempObject1.CleanLicenseYesNoOption" }) @value.ToString()
                                </label>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.TextBoxFor(model => model.RemarksForCleanLicense, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForCleanLicense" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">NPDB Issues :</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="radio">
                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                            {
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.NPDBIssueYesNoOption, (int)value, new { data_ng_model = "tempObject1.NPDBIssueYesNoOption" }) @value.ToString()
                                </label>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.TextBoxFor(model => model.RemarksForNPDBIssue, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForNPDBIssue" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Malpractice Issues :</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="radio">
                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                            {
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.MalpracticeIssueYesNoOption, (int)value, new { data_ng_model = "tempObject1.MalpracticeIssueYesNoOption" }) @value.ToString()
                                </label>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.TextBoxFor(model => model.RemarksForMalpracticeIssue, new { @class = "form-control input-sm", data_ng_model = "tempObject1.remarkForMalpracticeIssues" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Years in Practice :</label>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        @Html.TextBoxFor(model => model.YearsInPractice, new { @class = "form-control input-sm", data_ng_model = "tempObject1.YearsInPractice" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Site Visit Required. If yes, were there any issues :</label>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="radio">
                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                            {
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.SiteVisitRequiredYesNoOption, (int)value, new { data_ng_model = "tempObject1.SiteVisitRequiredYesNoOption" }) @value.ToString()
                                </label>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        @Html.TextBoxFor(model => model.RemarksForSiteVisitRequired, new { @class = "form-control input-sm", data_ng_model = "tempObject1.RemarksForSiteVisitRequired" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Recommended Provider Level :</label>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.CredentialingLevel)))
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.RecommendedCredentialingLevel, (int)value, new { data_ng_model = "tempObject1.RecommendedCredentialingLevel" }) @value.ToString()
                            </label>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label">Attach Document :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            @Html.HiddenFor(model => model.FileUploadPath, new { @Value = "{{tempObject1.FileUploadPath}}" })
                            <div class="form-control jancyFileWrapTexts" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename wraptext"></span></div>
                            <span class="input-group-addon btn btn-default btn-sm btn-file">
                                <span class="fileinput-new">Select Document</span><span class="fileinput-exists">Change</span>
                                @Html.TextBoxFor(model => model.FileUpload, new { data_ng_model = "tempObject1.FileUpload", type = "file", @class = "fileinputtag", onchange = "setFileNameWith(this); angular.element(this).scope().setFiles(this)" })

                            </span>
                            <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput" ng-click="removeFile('ContractInfo_CVFile')">Remove</a>
                        </div>
                    </div>

                    <span data-ng-if="tempObject1.FileUploadPath" class="col-lg-1 col-md-1 col-sm-1">
                        <a toggle data-toggle="tooltip" data-placement="bottom" title="Preview" href="{{tempObject1.FileUploadPath}}" target="_blank"><i class="fa fa-2x fa-file"></i></a>
                    </span>
                </div>
                

                <div class="form-group">
                    <div class="col-lg-5 col-md-5 col-sm-5 control-label">
                        <a class="btn btn-warning btn-sm" ng-click="Cancel()">Cancel</a>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 control-label">
                        <button class="btn btn-primary btn-sm" type="submit">Update</button>
                    </div>
                </div>

            </div>

        </form>
            </div>

</div>







<div ng-if="credentialingFilterInfo.CredentialingLogs[0].CredentialingAppointmentDetail!=null && credentialingFilterInfo.CredentialingLogs[0].CredentialingAppointmentDetail.CredentialingAppointmentResult!=null">
    <div class="col-lg-12 col-md-12 zero-padding-left-right-div">
        <form class="form-horizontal">
            @Html.HiddenFor(model => model.CredentialingAppointmentDetailID, new { ng_value = "tempObject1.CredentialingAppointmentDetailID" })
            @Html.HiddenFor(model => model.CredentialingAppointmentResult.SignedByID, new { ng_value = "tempObject1.CredentialingAppointmentResult.SignedByID" })
            @Html.HiddenFor(model => model.CredentialingAppointmentResult.CredentialingLevel, new { ng_value = "tempObject1.CredentialingAppointmentResult.CredentialingLevel" })
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Name :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{credentialingFilterInfo.Profile.PersonalDetail.Salutation}} {{tempObject1.FirstName}} {{tempObject1.MiddleName}} {{tempObject1.LastName}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Provider Type :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.ProviderType}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">County :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.County}}</i></label>
                </div>
            </div>
            <div class="form-group" ng-if="tempObject1.CredentialingSpecialityLists.length > 0">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Specialty :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label" ng-repeat="tpt in tempObject1.CredentialingSpecialityLists track by $index">
                        <i class="label label-default">{{tpt.Name}}</i>&nbsp;&nbsp;
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Board Certification :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.BoardCertified}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForBoardCertification}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Hospital Privileges :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.HospitalPrivileges}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForHospitalPrivileges}}</i></label>
                </div>
            </div>

            <div ng-if="tempObject1.CredentialingCoveringPhysicians.length > 0" class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">CoveringPhysicians : </label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label" ng-repeat="tpt in tempObject1.CredentialingCoveringPhysicians track by $index">
                        <i class="label label-default">{{tpt.FirstName}} {{tpt.LastName}} </i>&nbsp;&nbsp;
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Gaps in Practice :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.GapsInPractice}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForGapsInPractice}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Clean license :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.CleanLicense}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForCleanLicense}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">NPDB Issues :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.NPDBIssue}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForNPDBIssue}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Malpractice Issues :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.MalpracticeIssue}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForMalpracticeIssue}}</i></label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Years in Practice :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.YearsInPractice}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Site Visit Required. If yes, were there any issues :</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.SiteVisitRequired}}</i></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RemarksForSiteVisitRequired}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Recommended Provider Level :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.RecommendedLevel}}</i></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Attached Document :</label>
                <div class="col-lg-6 col-md-6 col-sm-6" ng-if="tempObject1.FileUploadPath!=null">
                    <label class="control-label"><a toggle data-toggle="tooltip" data-placement="bottom" title="Preview" href="{{tempObject1.FileUploadPath}}" target="_blank"><i class="fa fa-2x fa-file"></i></a><i style="font-weight:100">{{DocName1}}</i></label>
                </div>
            </div>
            <div class="form-horizontal form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">AppointmentDate :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.CredentialingAppointmentSchedule.AppointmentDate}}</i></label>
                </div>
            </div>
            <div class="form-horizontal form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Signature :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="{{tempObject1.CredentialingAppointmentResult.SignaturePath}}" style="height:70px;width:80%" />
                </div>
            </div>
            <div class="form-horizontal form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Signed Date :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.CredentialingAppointmentResult.SignedDate}}</i></label>
                </div>
            </div>
            <div class="form-horizontal form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Status :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.CredentialingAppointmentResult.ApprovalStatus}}</i></label>
                </div>
            </div>
            <div class="form-horizontal form-group">
                <label class="col-lg-5 col-md-5 col-sm-5 control-label">Remark :</label>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label"><i style="font-weight:100">{{tempObject1.CredentialingAppointmentResult.RemarkForApprovalStatus}}</i></label>
                </div>
            </div>
        </form>
    </div>

</div>