

    <div class="col-lg-12 zero-padding-left-right-div">

        <div class=" col-lg-12">
            <div class="col-lg-12 form-group">
                <label class="control-label small" for="OrganizationName">Organization Name *</label>
                <label for="OrganizationName">{{professionalAffiliation.OrganizationName}}</label>

            </div>
        </div>
        @*<div class=" col-lg-12">
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label small" })
                @Html.TextBoxFor(model => model.StartDate, new { type = "date", @class = "form-control input-sm", data_ng_model = "professionalAffiliation.StartDate" })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label small" })
                @Html.TextBoxFor(model => model.EndDate, new { type = "date", @class = "form-control input-sm", data_ng_model = "professionalAffiliation.EndDate" })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.PositionOfficeHeld, new { @class = "control-label small" })
                @Html.TextBoxFor(model => model.PositionOfficeHeld, new { @class = "form-control input-sm", data_ng_model = "professionalAffiliation.PositionOfficeHeld" })
                @Html.ValidationMessageFor(model => model.PositionOfficeHeld, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.Member, new { @class = "control-label small" })
                @Html.TextBoxFor(model => model.Member, new { @class = "form-control input-sm", data_ng_model = "professionalAffiliation.Member" })
                @Html.ValidationMessageFor(model => model.Member, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="col-md-12 form-group">
            <div class="col-md-12 form-group">
                <button type="button" class="btn btn-warning btn-sm pull-right" ng-click="cancelProfessionalAffiliation()">Cancel</button>
                
            </div>
        </div>


    </div>
