@model PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.CitizenshipInformationViewModel
<div class="col-lg-12 nopadding">
    <fieldset class="fsStyle" id="ViewCitizenshipInfo">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">Citizenship Information</span>
            &nbsp;&nbsp;
            <span class="text-uppercase">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetCitizenShipInfoEditPartial?ActionType=Edit" data-tab-container="CitizenInformationDiv">
                        <i class="fa fa-pencil"></i>
                    </button>
                </span>
                <span class="fstyleBtnStyle">
                    <button class="btn btn-warning btn-xs historyBtnCSS list-item" data-tab-path="/CredAxis/Demographics/GetCitizenShipInfoPartial" data-tab-container="CitizenInfoHistoryDiv">
                        <i class="fa fa-history"></i>
                    </button>
                </span>
                <span class="fstyleBtnStyle">
                    <button class="btn btn-default btn-xs helpBtnCSS" data-toggle="popover" data-trigger="hover" data-content="Only enter a Foreign Identification Number If you don't have SSN." data-original-title="" title="">
                        <i class="fa fa-question"></i>
                    </button>
                </span>
                <a class="print_button_for_CitizenInfo hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                    <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                </a>
            </span>
        </legend>
        <div class="x_content zero-padding-left">
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.CitizenOfUS) :</label>
                <span class="theme_label_data">
                    No
                </span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.AthorizedToWorkInUS) :</label>
                <span class="theme_label_data">
                    Yes
                </span>
            </span>
            @*</div>
                <div class="x_content zero-padding-left">*@
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.VisaNumber) # :</label>
                <span class="theme_label_data">@Html.DisplayFor(e => e.VisaNumber)</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.VisaType) :</label>
                <span class="theme_label_data">@Html.DisplayFor(e => e.VisaType)</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.VisaStatus) :</label>
                <span class="theme_label_data">@Html.DisplayFor(e => e.VisaStatus)</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.VisaSponsor) :</label>
                <span class="theme_label_data">@Html.DisplayFor(e => e.VisaSponsor)</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.VisaExpiration) :</label>
                <span class="theme_label_data">@Html.DisplayFor(e => e.VisaExpiration)</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.GreenCardNumber) :</label>
                <span class="theme_label_data">@Html.DisplayFor(e => e.GreenCardNumber)</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.NationalId) # :</label>
                <span class="theme_label_data">@Html.DisplayFor(e => e.NationalId)</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.CountryOfIssue) :</label>
                <span class="theme_label_data">@Html.DisplayFor(e => e.CountryOfIssue)</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">DOCUMENT :</label>
                <span class="theme_label_data"><i class="fa fa-file"></i></span>
            </span>
           

        </div>
        @*Citizen History should be here*@
        <div id="CitizenInfoHistoryDiv">

        </div>
    </fieldset>
</div>