@model PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.CitizenshipInformationViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CitizenshipInformationViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CitizenshipInformationId)

        <div class="form-group">
            @Html.LabelFor(model => model.CitizenOfUS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CitizenOfUS)
                @Html.ValidationMessageFor(model => model.CitizenOfUS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AthorizedToWorkInUS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AthorizedToWorkInUS)
                @Html.ValidationMessageFor(model => model.AthorizedToWorkInUS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VisaNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VisaNumber)
                @Html.ValidationMessageFor(model => model.VisaNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VisaType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VisaType)
                @Html.ValidationMessageFor(model => model.VisaType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VisaStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VisaStatus)
                @Html.ValidationMessageFor(model => model.VisaStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VisaSponsor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VisaSponsor)
                @Html.ValidationMessageFor(model => model.VisaSponsor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VisaExpiration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VisaExpiration)
                @Html.ValidationMessageFor(model => model.VisaExpiration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GreenCardNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GreenCardNumber)
                @Html.ValidationMessageFor(model => model.GreenCardNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NationalId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NationalId)
                @Html.ValidationMessageFor(model => model.NationalId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryOfIssue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CountryOfIssue)
                @Html.ValidationMessageFor(model => model.CountryOfIssue)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
