@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel
@using PratianUI
<div class="x_panel border_on_panel" style="margin-top:8px;">
    <div class="x_content">
        <div class="col-lg-4 zero-padding-left-right">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center admission_section">
                @Html.LabelFor(e => e.Admission, new { @class = "los_labels" })
            </div>
            <div class="col-lg-12 pop-out-div AdmissionPos_Div">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-6 zero-padding-left AdmissionPosInner_Div">
                    <span class="theme_label">@Html.LabelFor(e => e.Admission.AdmissionRequestedDate)</span> <br />
                    @Html.PratianUiDateTimePickerFor(e => e.Admission.AdmissionRequestedDate, "bottom", new { @class = "form-control input-xs mandatory_field_halo", @placeholder = "MM/DD/YYYY HH:MM:SS" })
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-6 zero-padding-left AdmissionPosInner_Div">
                    <span class="theme_label">@Html.LabelFor(e => e.Admission.AdmissionFromDate)</span><br />
                    @Html.PratianUiDateTimePickerFor(e => e.Admission.AdmissionFromDate, "bottom", new { @class = "form-control input-xs mandatory_field_halo summaryDateChange", @id = "AdmsnFromDate", @placeholder = "MM/DD/YYYY HH:MM:SS" })
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-xs-6 zero-padding-left-right AdmissionPosInner_Div">
                    @*<span class="theme_label">@Html.LabelFor(e => e.Admission.AdmissionApprovedDays)</span><br />*@
                    <span class="theme_label"><nobr><b>APP DAYS</b></nobr></span><br />
                    @Html.TextBoxFor(e => e.Admission.AdmissionApprovedDays, new { @class = "form-control input-xs non_mandatory_field_halo summaryDataChange", @id = "AdmsnApprovedDays", @placeholder = "APP DAYS" })
                </div>
            </div>
        </div>
        <div class="col-lg-4 zero-padding-left-right">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center admission_section">
                @Html.LabelFor(e => e.Discharge, new { @class = "los_labels" })
            </div>
            <div class="col-lg-12 pop-out-div AdmissionPos_Div">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 zero-padding-left AdmissionPosInner_Div">
                    <span class="theme_label">@Html.LabelFor(e => e.Discharge.ExpectedDischargeDate)</span><br />
                    @Html.PratianUiDateTimePickerFor(e => e.Discharge.ExpectedDischargeDate, "bottom", new { @class = "form-control input-xs mandatory_field_halo summaryDateChange", @id = "ExpDischrgeDate", @placeholder = "MM/DD/YYYY HH:MM:SS" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6 zero-padding-left-right AdmissionPosInner_Div">
                    <span class="theme_label">@Html.LabelFor(e => e.Discharge.DischargeToDate)</span><br />
                    @Html.PratianUiDateTimePickerFor(e => e.Discharge.DischargeToDate, "bottom", new { @class = "form-control input-xs mandatory_field_halo summaryDateChange", @id = "DischrgeToDate", @placeholder = "MM/DD/YYYY HH:MM:SS" })
                </div>
            </div>
            </div>
        <div class="col-lg-4 zero-padding-left-right">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center admission_section">
                @Html.LabelFor(e => e.LOSs, new { @class = "los_labels" })
            </div>
            <div class="col-lg-12 pop-out-div AdmissionPos_Div">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 zero-padding-left AdmissionPosInner_Div">
                    <span class="theme_label">@Html.LabelFor(e => e.TotalRequestedLOS)</span><br />
                    @Html.TextBoxFor(e => e.TotalRequestedLOS, new { @class = "form-control input-xs mandatory_field_halo", @placeholder = "REQ LOS" })
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 zero-padding-left AdmissionPosInner_Div">
                    <span class="theme_label">@Html.LabelFor(e => e.TotalActualLOS)</span><br />
                    @Html.TextBoxFor(e => e.TotalActualLOS, new { @class = "form-control input-xs non_mandatory_field_halo", @placeholder = "ACTUAL LOS" })
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 zero-padding-left CoMgnt_Div AdmissionPosInner_Div">
                    <span class="theme_label"><nobr style=" position: relative; top: -15px;"><input type="checkbox" name="coMagChk" class="form-control normal-checkbox dependent-checkbox" data-dependent-id="coMagProvider" id="coMagChk"><label for="coMagChk"><span></span></label><span id="coMagLabel">@Html.LabelFor(e => e.IsComanagementObtained)</span></nobr> </span><br />
                    @Html.TextBoxFor(e => e.CoManagementProvider.FullName, new { id = "coMagProvider", @class = "form-control input-xs non_mandatory_field_halo ProviderSearchDropdown co_mag_provider", @placeholder = "CO-MGMT PROVIDER" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
