@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel
@using PratianUI
@using PortalTemplate.Helper
<div class="col-lg-12 zero-padding-left-right" id="documentAreaSection">
    <fieldset class="fsStyle">
        <legend class="legendStyle">          
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="transparent-font-color">______</span>
                @Html.Label("Attachments")
                <span class="transparent-font-color">_____.</span>
            </span>
            <div style="position: relative; white-space: nowrap; display:inline;"><input class="normal-checkbox" id="AddNewDocCheck" type="checkbox"><label for="AddNewDocCheck"><span></span></label></div>
        </legend>
        <div class="x_panel hidden" id="document_section">
            <div class="x_content zero-padding-left-right" id="documentLabels">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-2 theme_label zero-padding-left-right">
                    @Html.LabelFor(e => e.Attachments[0].Name)
                    <label class="label label-success pull-right documentNameCms" style="cursor: pointer"><span class="fa fa-plus"></span></label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2 theme_label">
                    @Html.LabelFor(e => e.Attachments[0].AttachmentTypeName)
                    <label class="label label-success pull-right documentTypeCms" style="cursor: pointer"><span class="fa fa-plus"></span></label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2 theme_label">
                    @Html.LabelFor(e => e.Attachments[0].DocumentFile)  
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    &nbsp;
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 theme_label">
                    @Html.LabelFor(e => e.Attachments[0].IncludeFax)

                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-left button-styles-xs theme_label">
                    @Html.Label("ACTION")
                </div>
            </div>
            @*<div class="x_content doc_section margin_top_5px zero-padding-left-right" style="padding-bottom: 0;">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-2 zero-padding-left-right">
                    <select id="AttachmentName" class=" col-lg-12 input-xs mandatory_field_halo  loser_field documentName" name="Attachments[0].Name">
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2">
                    @Html.DropDownListFor(e => e.Attachments[0].AttachmentTypeName, new SelectList((System.Collections.IEnumerable)ViewData["MasterDocumentTypes"], "DocumentTypeValue", "DocumentTypeValue"), "SELECT", new { @class = "form-control input-xs mandatory_field_halo loser_field text-uppercase documentTypeName" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-2">
                    @Html.TextBoxFor(e => e.Attachments[0].DocumentFile, new { type = "file", @class = "form-control custom-file-input  input-xs" })
                    <div class="noFile">NO FILE CHOSEN</div>

                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <button id="previewButton" class="btn btn-ghost btn-xs this_button_preview" tabindex="-1" data-toggle="tooltip"><img src="~/Resources/Images/Icons/previewIcon.png" style="width: 28px;" /></button>

                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    @Html.PratianUiCheckboxFor(e => e.Attachments[0].IncludeFax, new { @id = "IncludeFax[0]", @Value = "IncFax", @class = "includeFax", @tabindex = "-1" })
                    <input type="checkbox" class="checkbox-radio includeFax" id="IncludeFax[0]" tabindex="-1" name="Attachments[0].IncludeFax" value="IncFax"><label class="includeFaxLabel" for="IncludeFax[0]"><span></span></label>
                 </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-left button-styles-xs">
                    <button class="btn btn-danger btn-xs delete_document_btn1 hidden" tabindex="-1"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-danger btn-xs delete_document_btn hidden " tabindex="-1"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-success btn-xs add_document_btn loser_field"><i class="fa fa-plus"></i></button>
                </div>
            </div>*@
        </div>
        <div class="clearfix"></div>
    </fieldset>
</div>

<script>
    var docNames = '@ViewBag.DocNames';
</script>

