@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel
@{ PortalTemplate.Areas.UM.Models.ViewModels.Authorization.MemberViewModel memberData = @ViewBag.MemberData;}

<div class="memberdata-hidden-div">
    <!----------- Member Data  ----------->
    @Html.TextBoxFor(m => m.Member.Name, new { @class = "form-control .input-xs ", Value = memberData.Name })
    @Html.TextBoxFor(m => m.Member.FirstName, new { @class = "form-control .inpusst-xs ", Value = memberData.FirstName })
    @Html.TextBoxFor(m => m.Member.LastName, new { @class = "form-control .input-xs ", Value = memberData.LastName })
    @Html.TextBoxFor(m => m.Member.MiddleName, new { @class = "form-control .input-xs ", Value = memberData.MiddleName })
    @Html.TextBoxFor(m => m.Member.MemberID, new { @class = "form-control .input-xs ", Value = memberData.MemberID })
    @Html.TextBoxFor(m => m.Member.DateOfBirth, new { @class = "form-control .input-xs ", Value = memberData.DateOfBirth })
    @Html.TextBoxFor(m => m.Member.Gender, new { @class = "form-control .input-xs ", Value = memberData.Gender })
    @Html.TextBoxFor(m => m.Member.SubscriberID, new { @class = "form-control .input-xs ", Value = memberData.SubscriberID })
    @Html.TextBoxFor(m => m.SubscriberID, new { @class = "form-control .input-xs ", Value = memberData.SubscriberID })
    
    <!----------- Member PCP Information  ----------->
    @Html.TextBoxFor(m => m.Member.PCP.ProviderID, new { @class = "form-control .input-xs ", Value = memberData.PCP.ProviderID })
    @Html.TextBoxFor(m => m.Member.PCP.NPI, new { @class = "form-control .input-xs ", Value = memberData.PCP.NPI })
    @Html.TextBoxFor(m => m.Member.PCP.Name, new { @class = "form-control .input-xs ", Value = memberData.PCP.Name })
    @Html.TextBoxFor(m => m.Member.PCP.FirstName, new { @class = "form-control .input-xs ", Value = memberData.PCP.FirstName })
    @Html.TextBoxFor(m => m.Member.PCP.MiddleName, new { @class = "form-control .input-xs ", Value = memberData.PCP.MiddleName })
    @Html.TextBoxFor(m => m.Member.PCP.LastName, new { @class = "form-control .input-xs ", Value = memberData.PCP.LastName })
    @Html.TextBoxFor(m => m.Member.PCP.FullName, new { @class = "form-control .input-xs ", Value = memberData.PCP.FullName })
    @Html.TextBoxFor(m => m.Member.PCP.PhoneNumber, new { @class = "form-control .input-xs ", Value = memberData.PCP.PhoneNumber })
    @Html.TextBoxFor(m => m.Member.PCP.FaxNumber, new { @class = "form-control .input-xs ", Value = memberData.PCP.FaxNumber })
    @Html.TextBoxFor(m => m.Member.PCP.Address1, new { @class = "form-control .input-xs ", Value = memberData.PCP.Address1 })
    @Html.TextBoxFor(m => m.Member.PCP.Address2, new { @class = "form-control .input-xs ", Value = memberData.PCP.Address2 })
    @Html.TextBoxFor(m => m.Member.PCP.City, new { @class = "form-control .input-xs ", Value = memberData.PCP.City })
    @Html.TextBoxFor(m => m.Member.PCP.State, new { @class = "form-control .input-xs ", Value = memberData.PCP.State })
    @Html.TextBoxFor(m => m.Member.PCP.ZipCode, new { @class = "form-control .input-xs ", Value = memberData.PCP.ZipCode })
    @Html.TextBoxFor(m => m.Member.PCP.TaxID, new { @class = "form-control .input-xs ", Value = memberData.PCP.TaxID })
    @Html.TextBoxFor(m => m.Member.PCP.Specialty, new { @class = "form-control .input-xs ", Value = memberData.PCP.Specialty })
    @Html.TextBoxFor(m => m.Member.PCP.ContactName, new { @class = "form-control .input-xs ", Value = memberData.PCP.ContactName })
    @Html.TextBoxFor(m => m.Member.PCP.ProviderType, new { @class = "form-control .input-xs ", Value = memberData.PCP.ProviderType })
    @Html.TextBoxFor(m => m.Member.PCP.ProviderStatus, new { @class = "form-control .input-xs ", Value = memberData.PCP.ProviderStatus })
    @Html.TextBoxFor(m => m.Member.PCP.PlanName, new { @class = "form-control .input-xs ", Value = memberData.PCP.PlanName })
    @Html.TextBoxFor(m => m.Member.PCP.PhysicianGroupName, new { @class = "form-control .input-xs ", Value = memberData.PCP.PhysicianGroupName })


    <!----------- Member Memebership Data ----------->
    @Html.TextBoxFor(m => m.Member.MemberMembership.MembershipID, new { @class = "form-control .input-xs ", Value = memberData.MemberMembership.MembershipID })
    @Html.TextBoxFor(m => m.Member.MemberMembership.PlanName, new { @class = "form-control .input-xs ", Value = memberData.MemberMembership.PlanName })
    @Html.TextBoxFor(m => m.Member.MemberMembership.MemberEffectiveDate, new { @class = "form-control .input-xs ", Value = memberData.MemberMembership.MemberEffectiveDate })
    @Html.TextBoxFor(m => m.Member.MemberMembership.TerminationDate, new { @class = "form-control .input-xs ", Value = memberData.MemberMembership.TerminationDate })
    @Html.TextBoxFor(m => m.Member.MemberMembership.PlanEffectiveDate, new { @class = "form-control .input-xs ", Value = memberData.MemberMembership.PlanEffectiveDate })

    <!----------- Member Contact Data ----------->

    @Html.TextBoxFor(m => m.Member.MemberContact.ContactType, new { @class = "form-control .input-xs ", Value = memberData.MemberContact.ContactType })
    @Html.TextBoxFor(m => m.Member.MemberContact.PrimaryContact, new { @class = "form-control .input-xs ", Value = memberData.MemberContact.PrimaryContact })
    @Html.TextBoxFor(m => m.Member.MemberContact.AlternateContact, new { @class = "form-control .input-xs ", Value = memberData.MemberContact.AlternateContact })
    @Html.TextBoxFor(m => m.Member.MemberContact.AddressLine1, new { @class = "form-control .input-xs ", Value = memberData.MemberContact.AddressLine1 })
    @Html.TextBoxFor(m => m.Member.MemberContact.AddressLine2, new { @class = "form-control .input-xs ", Value = memberData.MemberContact.AddressLine2 })
    @Html.TextBoxFor(m => m.Member.MemberContact.City, new { @class = "form-control .input-xs ", Value = memberData.MemberContact.City })
    @Html.TextBoxFor(m => m.Member.MemberContact.State, new { @class = "form-control .input-xs ", Value = memberData.MemberContact.State })
    @Html.TextBoxFor(m => m.Member.MemberContact.County, new { @class = "form-control .input-xs ", Value = memberData.MemberContact.County })
    @Html.TextBoxFor(m => m.Member.MemberContact.ZipCode, new { @class = "form-control .input-xs ", Value = memberData.MemberContact.ZipCode })

    <!-----------PCP DATA ------------->
    <!----------- Member PCP Information  ----------->
    @Html.TextBoxFor(k=>k.PCP.ProviderID , new { @class = "form-control .input-xs ", Value = memberData.PCP.ProviderID })
    @Html.TextBoxFor(k=>k.PCP.NPI, new { @class = "form-control .input-xs ", Value = memberData.PCP.NPI })
    @Html.TextBoxFor(k=>k.PCP.Name, new { @class = "form-control .input-xs ", Value = memberData.PCP.Name })
    @Html.TextBoxFor(k=>k.PCP.FirstName, new { @class = "form-control .input-xs ", Value = memberData.PCP.FirstName })
    @Html.TextBoxFor(k=>k.PCP.MiddleName, new { @class = "form-control .input-xs ", Value = memberData.PCP.MiddleName })
    @Html.TextBoxFor(k=>k.PCP.LastName, new { @class = "form-control .input-xs ", Value = memberData.PCP.LastName })
    @Html.TextBoxFor(k => k.PCP.FullName, new { @class = "form-control .input-xs ", Value = memberData.PCP.FirstName + " " + memberData.PCP.LastName})
    @Html.TextBoxFor(k=>k.PCP.PhoneNumber, new { @class = "form-control .input-xs ", Value = memberData.PCP.PhoneNumber })
    @Html.TextBoxFor(k=>k.PCP.FaxNumber, new { @class = "form-control .input-xs ", Value = memberData.PCP.FaxNumber })
    @Html.TextBoxFor(k=>k.PCP.Address1, new { @class = "form-control .input-xs ", Value = memberData.PCP.Address1 })
    @Html.TextBoxFor(k=>k.PCP.Address2, new { @class = "form-control .input-xs ", Value = memberData.PCP.Address2 })
    @Html.TextBoxFor(k=>k.PCP.City, new { @class = "form-control .input-xs ", Value = memberData.PCP.City })
    @Html.TextBoxFor(k=>k.PCP.State, new { @class = "form-control .input-xs ", Value = memberData.PCP.State })
    @Html.TextBoxFor(k=>k.PCP.ZipCode, new { @class = "form-control .input-xs ", Value = memberData.PCP.ZipCode })
    @Html.TextBoxFor(k=>k.PCP.TaxID, new { @class = "form-control .input-xs ", Value = memberData.PCP.TaxID })
    @Html.TextBoxFor(k=>k.PCP.Specialty, new { @class = "form-control .input-xs ", Value = memberData.PCP.Specialty })
    @Html.TextBoxFor(k=>k.PCP.ContactName, new { @class = "form-control .input-xs ", Value = memberData.PCP.ContactName })
    @Html.TextBoxFor(k=>k.PCP.ProviderType, new { @class = "form-control .input-xs ", Value = memberData.PCP.ProviderType })
    @Html.TextBoxFor(k=>k.PCP.ProviderStatus, new { @class = "form-control .input-xs ", Value = memberData.PCP.ProviderStatus })
    @Html.TextBoxFor(k=>k.PCP.PlanName, new { @class = "form-control .input-xs ", Value = memberData.PCP.PlanName })
    @Html.TextBoxFor(k=>k.PCP.PhysicianGroupName, new { @class = "form-control .input-xs ", Value = memberData.PCP.PhysicianGroupName })
    @Html.TextBoxFor(k => k.PCP.ProviderMode, new { @class = "form-control .input-xs ", Value = "PCP" })

</div>