@model IEnumerable<PortalTemplate.Areas.UM.Models.ViewModels.Note.NoteViewModel>
<p-script filepath="~/Areas/UM/Scripts/Common/Note/Common/NonMinified/NoteCommon.js"></p-script>
<script src="~/Areas/UM/Scripts/Common/Note/Common/NonMinified/NoteCommon.js"></script>
<div class="col-lg-12 zero-padding-left-right" id="NoteArea">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="transparent-font-color">___________</span>
                    @Html.Label("Notes")
                <span class="transparent-font-color">__________</span>
            </span>
            <span class="text-uppercase pull-right">
                <span>
                    <button class="btn btn-success btn-xs add_note_btn" type="button" style="margin-top: -3px;" tabindex="-1">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
            </span>
        </legend>
        <div class="x_content zero-padding-left PrintNotesTable">
            <table class="table margin_bottom_zero table-white zero-padding-left-right @*alignLeftTable*@ noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
                <thead class="text-uppercase">
                    <tr>
                        <th class="theme_label" style=" width: 12%;">@Html.DisplayNameFor(e => e.Date)</th>
                        <th class="theme_label" style=" width: 18%;">@Html.DisplayNameFor(e => e.NoteType)</th>
                        <th class="theme_label" style="width: 10%;">@Html.DisplayNameFor(e => e.CreatedBy)</th>
                        <th class="theme_label" style="width: 10%;">@Html.DisplayNameFor(e => e.Subject)</th>
                        <th class="theme_label" style="width: 15%;">@Html.DisplayNameFor(e => e.Description)</th>
                        <th class="theme_label hideIncAction inc-fax" style="width: 7%;">@Html.DisplayNameFor(e => e.IncludeFax)</th>
                        <th class="theme_label hideIncAction" style=" width: 8%;">
                            <span class="action_Class">Action</span>
                            <a class="notes_print_button_beside_table hover_effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                                <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody id="NotesArea">
                    @if (Model!=null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                            {
                             <tr>
                                 <td class="theme_label_data">@Html.DisplayFor(e => item.Date)</td>
                                 <td class="theme_label_data">@Html.DisplayFor(e => item.NoteType)</td>
                                 <td class="theme_label_data">@Html.DisplayFor(e => item.CreatedBy)</td>
                                 <td class="theme_label_data">@Html.DisplayFor(e => item.Subject)</td>
                                 <td class="theme_label_data">@Html.DisplayFor(e => item.Description)</td>
                                 <td class="theme_label_data">@Html.DisplayFor(e => item.IncludeFax)</td>
                                 <td></td>
                             </tr>
                            }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" align="center" class="theme_label_data theme_a">No Data Available</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </fieldset>
</div>
<div class="hidden" id="HiddenNotesArea">

</div>
<div class="clearfix"></div>
@Html.Partial("~/Areas/UM/Views/Common/Note/Common/_PrintNote.cshtml")
