@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel
@{
    List<SelectListItem> PlaceOfServiceList = new List<SelectListItem>()
    {
    };

    List<SelectListItem> RequestList = new List<SelectListItem>()
    {
    };

    List<SelectListItem> AuthTypeList = new List<SelectListItem>()
    {
    };

    List<SelectListItem> TOCList = new List<SelectListItem>()
    {
    };

    List<SelectListItem> OPTypeList = new List<SelectListItem>()
    {
    };
}
<div class="x_panel border_on_panel zero-padding-left-right">
    <div class="x_content zero-padding-left-right">
        <div class="inline_block margin_right_1">
            <span class="theme_label">@Html.Label("POS")</span>
            @Html.DropDownListFor(e => e.PlaceOfService, PlaceOfServiceList, new { @class = "form-control input-xs mandatory_field_halo variable_width_select", @id = "PlaceOfService", data_ng_model = "UMObject.PlaceOfServiceID", @tabindex = "-1" })
            @*<a class="label label-success pull-right in_label" style="visibility: hidden;">Oops!</a>*@
        </div>
        <div class="inline_block margin_right_1">
            <span class="theme_label">@Html.Label("REQUEST")</span>
            @Html.DropDownListFor(e => e.RequestType, RequestList, new { @class = "form-control input-xs mandatory_field_halo variable_width_select", @tabindex = "-1" })
        </div>
        <div class="inline_block margin_right_1">
            <span class="theme_label">@Html.Label("AUTH TYPE")</span>
            @Html.DropDownListFor(e => e.AuthorizationType, AuthTypeList, new { @class = "form-control input-xs mandatory_field_halo variable_width_select", @tabindex = "-1" })
        </div>
        <div class="inline_block margin_right_1">
            <span class="theme_label">@Html.Label("TYPE OF CARE")</span>
            @Html.DropDownListFor(e => e.TypeOfCare, TOCList, new { @class = "form-control input-xs mandatory_field_halo variable_width_select", @tabindex = "-1" })
        </div>
        @*<div class="inline_block">
            @Html.Label("OUTPATIENT TYPE")
            @Html.DropDownListFor(e => e.OutPatientType, OPTypeList, new { @class = "form-control input-xs mandatory_field_halo variable_width_select", @tabindex = "-1" })
        </div>*@
        <div class="inline_block margin_right_1">
            <span class="theme_label">@Html.Label("RECEIVED")</span>
            @Html.TextBoxFor(e => e.ReceivedDate, new { @class = "form-control input-xs mandatory_field_halo  variable_width_datetime", @placeholder = "MM/DD/YYYY HH:MM:SS", @tabindex = "-1" })
            @*<a class="label label-success pull-right in_label" style="visibility: hidden;">Oops!</a>*@
        </div>
        <div class="inline_block margin_right_1">
            <span class="theme_label">@Html.Label("FROM")</span>
            @Html.TextBoxFor(e => e.FromDate, new { @class = "form-control input-xs mandatory_field_halo variable_width_date", @placeholder = "MM/DD/YYYY" })
        </div>
        <div class="inline_block margin_right_1 margin_top_5px">
            <span class="theme_label">@Html.Label("TO")</span>
            @Html.TextBoxFor(e => e.ToDate, new { @class = "form-control input-xs variable_width_date", @readonly = "readonly", @placeholder = "MM/DD/YYYY" })
        </div>
        </div>
</div>
<div class="clearfix"></div>
<p-link filepath="~/Content/AppCss/CreateAuth/CreateAuth.css" rel="stylesheet"></p-link>
