@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel

<div class="x_panel border_on_panel zero-padding-left-right" id="providerPanel">
    <div class="x_content form11ProviderFields">
        <div class="inline_block margin_right_1">
            <span class="theme_label">@Html.Label("PCP")</span>   
            @Html.TextBoxFor(e => e.PCP.FullName, new { @class = "form-control input-xs mandatory_input_field variable_width_providername", @Value = "Pariksith Singh", @readonly = "readonly" })

        </div>
        <div class="inline_block margin_right_1">
            <nobr><span class="theme_label">@Html.Label("FACILITY")</span></nobr>
            @Html.TextBoxFor(e => e.Facility.FullName, new { @class = "form-control input-xs mandatory_field_halo variable_width_facilityname", @Value = "SUGAR MILL DIAGNOSTIC IMAGING, LLC" })
            @*<a class="label label-success pull-right in_label">IN</a>*@
        </div>
        <div class="inline_block margin_right_1">
            <nobr><span class="theme_label">@Html.Label("REQ PROVIDER")</span></nobr>
            <span class="btn btn-success btn-xs pull-right options_label pcpLabelReqProvider">
                PCP
                <input name="state" type="radio" value="working" checked class="PCPRadioButtonAsTags" />
            </span>&nbsp;
            <span class="pull-right options_label mbr mbrLabelReqProvider btn btn-ghost btn-xs">
                MBR
                <input name="state" type="radio" value="off" class="PCPRadioButtonAsTags" />
            </span>
            @Html.TextBoxFor(e => e.RequestingProvider.FullName, new { @class = "form-control input-xs variable_width_providername", @Value = "Pariksith Singh", @readonly = "readonly" })
            @*<a class="label label-success pull-right in_label">IN</a>*@
        </div>
        <div class="inline_block margin_right_1 margin_top_5px">
            <nobr><span class="theme_label">@Html.Label("SVC PROVIDER")</span></nobr>
            <span class="pull-right options_label mbr mbrLabelReqProvider btn btn-ghost btn-xs">
                PCP
                <input name="state" type="radio" value="working" checked class="PCPRadioButtonAsTags" />
            </span>&nbsp;
            @Html.TextBoxFor(e => e.ServiceProvider.FullName, new { @class = "form-control input-xs mandatory_field_halo variable_width_providername", @placeholder = "SERVICE PROVIDER" })
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

