@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel
@{
    List<SelectListItem> UMSvcGroupList = new List<SelectListItem>() {
      };

    List<SelectListItem> RoomTypeList = new List<SelectListItem>() {
   };

    List<SelectListItem> LevelOfCareList = new List<SelectListItem>() {
    };

   
 }
    <div class="x_panel border_on_panel" id="providerPanel">
        <div class="x_content form11ProviderFields">
            <div class="field_width_20 pcpDiv">
                <span class="theme_label">@Html.Label("PCP")</span>
                @Html.TextBoxFor(e => e.PCP.FullName, new { @class = "form-control input-xs mandatory_input_field", @Value = "Pariksith Singh", @readonly = "readonly" })
            </div>
            <div class="field_width_20 reqProviderDiv">
                <nobr><span class="theme_label">@Html.Label("REQ PROVIDER")</span></nobr>
                <label class="selected pull-right options_label pcpLabelReqProvider">
                    PCP
                    <input name="state" type="radio" value="working" checked class="PCPRadioButtonAsTags" />
                </label>&nbsp;
                <label class="pull-right options_label mbr mbrLabelReqProvider btn btn-ghost btn-xs">
                    MBR
                    <input name="state" type="radio" value="off" class="PCPRadioButtonAsTags" />
                </label>
                @Html.TextBoxFor(e => e.RequestingProvider.FullName, new { @class = "form-control input-xs", @Value = "Pariksith Singh", @readonly = "readonly" })
                @*<a class="label label-success pull-right in_label">IN</a>*@
            </div>
            <div class="field_width_20 svcProviderDiv">
                <nobr><span class="theme_label">@Html.Label("SVC PROVIDER")</span></nobr>
                <label class="pull-right options_label mbr mbrLabelReqProvider btn btn-ghost btn-xs">
                    PCP
                    <input name="state" type="radio" value="working" checked class="PCPRadioButtonAsTags" />
                </label>&nbsp;
                @Html.TextBoxFor(e => e.ServicingProvider.FullName, new { @class = "form-control input-xs mandatory_field_halo", @placeholder = "SERVICE PROVIDER" })
            </div>
            <div class="facility11Div">
                <nobr><span class="theme_label">@Html.Label("FACILITY")</span></nobr>
                @Html.TextBoxFor(e => e.Facility.FullName, new { @class = "form-control input-xs mandatory_field_halo", @Value = "SUGAR MILL DIAGNOSTIC IMAGING, LLC" })
                @*<a class="label label-success pull-right in_label">IN</a>*@
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="x_content form11ProviderFields">
            <div class="field_width_16 tosDiv">
                <span class="theme_label">@Html.Label("TOS")</span><br />
                @Html.TextBoxFor(e => e.TypeOfService, new { @class = "form-control input-xs", @readonly = "readonly" })
            </div>
            <div class="field_width_16 umsvcDiv">
                <span class="theme_label">@Html.Label("UM SVC GRP")</span><br />
                @Html.DropDownListFor(e => e.UMServiceGroup, UMSvcGroupList, new { @class = " form-control input-xs non_mandatory_field_halo", @tabindex = "-1" })
            </div>
            <div class="field_width_16 locDiv">
                <span class="theme_label">@Html.Label("LEVEL OF CARE")</span><br />
                @Html.DropDownListFor(e => e.LevelOfCare, LevelOfCareList, new { @class = "form-control input-xs mandatory_field_halo", @tabindex = "-1" })
            </div>
            <div class="field_width_16 expChargesDiv">
                <span class="theme_label">@Html.Label("EXPECTED CHARGES $")</span><br />
                @Html.TextBoxFor(e => e.ExpectedCharge, new { @class = "form-control input-xs text-uppercase non_mandatory_field_halo", @placeholder = "Expected charges" })
            </div>
            <div class="expDosDiv">
                <span class="theme_label">@Html.Label("EXPECTED DOS")</span> <br />
                @Html.TextBoxFor(e => e.ExpectedDOS, new { @class = "form-control input-xs text-uppercase important_field_halo datePicker", @placeholder = "MM/DD/YYYY" })
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
