@model PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.PersonalIdentificationViewModel


<div class="col-lg-12 nopadding">
    <fieldset class="fsStyle" id="ViewPersonalInfo">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">Personal Identification</span>
            &nbsp;&nbsp;
            <span class="text-uppercase">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetPersonalIdentificationInfoEditPartial?ActionType=Edit" data-tab-container="PersonalIdentificationDiv">
                        <i class="fa fa-pencil"></i>
                    </button>
                </span>
                <span class="fstyleBtnStyle">
                    <button class="btn btn-warning btn-xs historyBtnCSS list-item" data-tab-path="/CredAxis/Demographics/GetPersonalIdentificationInfoHistoryPartial" data-tab-container="PersonalIdentificationHistoryDiv">
                        <i class="fa fa-history"></i>
                    </button>
                </span>
                <span class="fstyleBtnStyle">
                    <button class="btn btn-default btn-xs helpBtnCSS" data-toggle="popover" data-trigger="hover" data-html="true" data-content="Only enter a Foreign Identification Number If you don't have SSN.<br />Don't enter National Identification Number (NPI) here.">
                        <i class="fa fa-question"></i>
                    </button>
                </span>
                <a class="print_button_for_PersonalIdent hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                    <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                </a>
            </span>
        </legend>
        <span class="x_content zero-padding-left">
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.SocialSecurityNumber) # :</label>
                @if (Model.SocialSecurityNumber != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.SocialSecurityNumber)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">SSN DOCUMENT :</label>
                @if (Model.SocialSecurityNumber != "")
                {
                <span class="theme_label_data"><i class="fa fa-file"></i></span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.DriversLicense) :</label>
                @if (Model.DriversLicense != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.DriversLicense)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.IssueStateOfDL) :</label>
                @if (Model.IssueStateOfDL != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.IssueStateOfDL)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">DL DOCUMENT :</label>
                @if (Model.DriversLicense != "")
                {
                <span class="theme_label_data"><i class="fa fa-file"></i></span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
        </span>
        @***************Personal Identification History*********************************@
        <div id="PersonalIdentificationHistoryDiv">

        </div>
    </fieldset>
</div>