@model PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.BirthInformationViewModel
@***************Birth Information View *********************************@
<div class="col-lg-12 nopadding">
    <fieldset class="fsStyle" id="ViewBirthInfo">

        @***************Birth Information View Heading *********************************@
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">___</span>BIRTH INFORMATION<span class="transparent-font-color">____</span></span>
            &nbsp;&nbsp;
            <span class="text-uppercase">
                @if (Model == null) { 
                <span class="fstyleBtnStyle">
                    <button id="add_SB12" class="btn btn-success btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetBirthInfoEditPartial?model=@Model&type=Add" data-tab-container="BirthInformationDiv">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
                }
                <span class="fstyleBtnStyle">
                    <button id="add_SB12" class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetBirthInfoEditPartial?model=@Model&type=Edit" data-tab-container="BirthInformationDiv">
                        <i class="fa fa-pencil"></i>
                    </button>
                </span>
                <span class="fstyleBtnStyle">
                    <button class="btn btn-warning btn-xs historyBtnCSS list-item" data-tab-path="/CredAxis/Demographics/GetBirthInfoHistoryPartial" data-tab-container="BirthInfoHistoryDiv">
                        <i class="fa fa-history"></i>
                    </button>
                </span>
                <a class="print_button_for_BirthInfo hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                    <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                </a>
            </span>
        </legend>

        @***************Birth Information View Body *********************************@
        <div class="x_content zero-padding-left">
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.DateOfBirth) :</label>
                @if (Model.DateOfBirth != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.DateOfBirth)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.StateOfBirth) :</label>
                @if (Model.StateOfBirth != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.StateOfBirth)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.CityOfBirth)  :</label>
                @if (Model.CityOfBirth != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.CityOfBirth)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                @if (Model.County != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.County)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                @if (Model.Country != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.Country)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.BirthCertificate) :</label>
                @if (Model.BirthCertificate )
                {
                <span class="theme_label_data">@*@Html.DisplayFor(e => e.BirthCertificate)*@<i class="fa fa-file"></i></span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
        </div>
        <div id="BirthInfoHistoryDiv">

        </div>
    </fieldset>
</div>
