@using PortalTemplate.Areas.ETL.Models.FilesAvailability;
@{int rowNo = 0;}
<table class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom table-striped">
    <thead class="theme_thead">
        <tr>
            <th>S.No</th>
            <th>Year</th>
            <th>ACO</th>
            <th>Census</th>
            <th>Roster</th>
            <th>Monthly Claims</th>
            <th>Summit</th>
            <th>RAPS</th>
        </tr>
    </thead>
    <tbody>
                @foreach (var FileAvailabilty in (List<FilesMissingDTO>)ViewData["_FilesMissing"])
        {
            <tr>
                <td>@(rowNo += 1)</td>
                <td>@FileAvailabilty.Year</td>
                <td>@FileAvailabilty.ACO</td>
                <td>@FileAvailabilty.Census</td>
                <td>@FileAvailabilty.Roster</td>
                <td>@FileAvailabilty.MonthlyClaims</td>
                <td>@FileAvailabilty.Sumit</td>
                <td>@FileAvailabilty.Raps</td>
            </tr>
        }
    </tbody>
</table>

