@model AHC.CD.WebUI.MVC.Areas.Profile.Models.PracticeLocationInformation.FacilityEmployeeViewModel

<div class="form-style" ng-if="visibilitySecondControl != 'BussinessManagerEdit'">
    <fieldset class="wrap-words">
        <legend>
            Office manager/Business Office Staff Contact
        </legend>
        <div ng-if="!BussinessManagerEdit && PracticeLocationDetail.BusinessOfficeManagerOrStaff != null" class="legend2 pull-right">
            <button ng-click="BussinessManagerEdit=true; operateSecondEditControl('BussinessManagerEdit', PracticeLocationDetail.BusinessOfficeManagerOrStaff)" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Edit" tooltip><i class="fa fa-edit"></i></button>
        </div>
        <table ng-show="PracticeLocationDetail.BusinessOfficeManagerOrStaff == null && visibilityControl != 'BussinessManagerEdit' " class="table table-bordered table-condensed customtbodyStyle table-striped">
            <thead>
                <tr>
                    <td>
                        No Data Available for Office manager/Business Office Staff Contact!

                        <span>Please click on <button class="btn btn-xs btn-success" ng-click="operateSecondViewAndAddControl('BussinessManagerEdit')" data-toggle="tooltip" data-placement="top" title="Add New" id="noDataAddNewPracticeInterest" tooltip><i class="fa fa-plus"></i></button> to add new Office manager/Business Office Staff Contact information.</span>

                    </td>
                </tr>
            </thead>
        </table>
        <div ng-if="PracticeLocationDetail.BusinessOfficeManagerOrStaff">
            <div class="col-md-12">
                <div class="col-lg-4 form-group">
                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.FirstName || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    @Html.LabelFor(model => model.MiddleName, new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.MiddleName || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    @Html.LabelFor(model => model.LastName, new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.LastName || 'Not Available'}}</i>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Telephone, new { @class = "control-label small" })
                    <div>
                        @*<i class="data-label">{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.CountryCodeTelephone || 'Not Available'}} - {{PracticeLocationDetail.BusinessOfficeManagerOrStaff.Telephone || 'Not Available'}}</i>*@
                        <i ng-if="PracticeLocationDetail.BusinessOfficeManagerOrStaff.Telephone" class="data-label">{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.CountryCodeTelephone}}-{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.Telephone}}</i>
                        <i ng-if="!PracticeLocationDetail.BusinessOfficeManagerOrStaff.Telephone" class="data-label">Not Available</i>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.Fax, new { @class = "control-label small" })
                    <div>
                        @*<i class="data-label">{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.CountryCodeFax || 'Not Available'}} - {{PracticeLocationDetail.BusinessOfficeManagerOrStaff.Fax || 'Not Available'}}</i>*@
                        <i ng-if="PracticeLocationDetail.BusinessOfficeManagerOrStaff.Fax" class="data-label">{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.CountryCodeFax}}-{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.Fax}}</i>
                        <i ng-if="!PracticeLocationDetail.BusinessOfficeManagerOrStaff.Fax" class="data-label">Not Available</i>
                    </div>
                </div>

                <div class="col-lg-4 form-group">
                    @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label small" })
                    <div>
                        <i class="data-label wrap-words">{{PracticeLocationDetail.BusinessOfficeManagerOrStaff.EmailAddress || 'Not Available'}}</i>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-show="activeMessageDiv=='businessManagerSuccessMsg'" class="alert alert-success" role="alert">
            <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
            {{messageDesc}}
        </div>
    </fieldset>
</div>