@model AHC.CD.WebUI.MVC.Models.EmailService.EmailServiceViewModel

<style>
    .inactive {
        pointer-events: none;
        cursor: default;
    }
</style>


<div class="col-lg-12 zero-padding-left-right-div">


    <!--Search provider starts-->

    <div class="panel panel-default small">
        <div class="panel-heading">
            <button id="tltp" class="pull-right btn btn-xs" ng-click="SearchProviderPanelToggle('SearchProviderPanel');" toggle data-toggle="tooltip" data-placement="bottom" title="show/hide"><i class="fa fa-th-list"></i></button>
            <div id="pnl">
                <h5>
                    Search Provider &nbsp;&nbsp;
                </h5>
            </div>
        </div>
        <div role="tabpanel">
            <div id="SearchProviderPanel" class="panel-body closePanel">

                <div class="col-md-12">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="providerDetail">

                            <br />
                            <form id="providerSearchForCred" name="providerData">
                                <div class="col-lg-12">
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">NPI Number</label>
                                        <input type="text" placeholder="NPI Number" name="NPINumber" ng-disabled="((tempObject.FirstName) || (tempObject.LastName) || (tempObject.CAQH) || (tempObject.IPAGroupName) || (tempObject.Specialty) || (tempObject.ProviderType))" class="form-control input-sm" ng-model="tempObject.NPINumber" @*required ng-pattern="/^[0-9]{10}$/"*@ />
                                        @*<span class="text-danger" ng-show="providerData.NPINumber.$error.pattern" >Please enter valid 10 digit number</span>*@
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">First Name</label>
                                        <input type="text" placeholder="First Name" name="fName" ng-disabled="((tempObject.NPINumber) || (tempObject.LastName) || (tempObject.CAQH) || (tempObject.IPAGroupName) || (tempObject.Specialty) || (tempObject.ProviderType))" class=" form-control input-sm" ng-model="tempObject.FirstName" ng-pattern="/^[a-zA-Z ,-.]{1,50}$/" />
                                        <span class="text-danger" ng-show="providerData.fName.$error.pattern">Please enter Only alphabets, spaces, comma and hyphen. Maximum length is 50 characters.</span>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" placeholder="Last Name" name="lName" ng-disabled="((tempObject.FirstName) || (tempObject.NPINumber) || (tempObject.CAQH) || (tempObject.IPAGroupName) || (tempObject.Specialty) || (tempObject.ProviderType))" class=" form-control input-sm" ng-model="tempObject.LastName" ng-pattern="/^[a-zA-Z ,-.]{1,50}$/" />
                                        <span class="text-danger" ng-show="providerData.lName.$error.pattern">Please enter Only alphabets, spaces, comma and hyphen. Maximum length is 50 characters.</span>
                                    </div>
                                </div>
                                <div class="col-lg-12" id="providerType">
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label">CAQH Number</label>
                                        <input type="text" placeholder="CAQH Number" name="CAQ" ng-disabled="((tempObject.FirstName) || (tempObject.LastName) || (tempObject.NPINumber) || (tempObject.IPAGroupName) || (tempObject.Specialty) || (tempObject.ProviderType))" class="form-control input-sm" ng-model="tempObject.CAQH" @*ng-pattern="/^[0-9]{1,8}$/"*@ />
                                        @*<span class="text-danger" ng-show="providerData.CAQ.$error.pattern">Please enter valid 8 digit number</span>*@
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label">Provider Type</label>
                                        <input type="text" class="form-control input-sm" placeholder="Provider Type" name="ProviderType" ng-model="tempObject.ProviderType" ng-click="searchCumDropDown('ForType'+$index);tempObject.ProviderType='';showSearchByTypeDiv('ForType'+$index)" data-searchdropdown="searchdropdown" ng-disabled="((tempObject.NPINumber) || (tempObject.FirstName) || (tempObject.LastName) || (tempObject.CAQH) || (tempObject.Specialty) || (tempObject.IPAGroupName))" />
                                        <div class="ProviderTypeSelectAutoList1 popover fade bottom in" role="tooltip" id="ForType{{$index}}">
                                            <table class="table table-striped table-bordered table-hover table-condensed">
                                                <tbody>
                                                    <tr ng-repeat="providertype in filteredProviderTypeResults = (masterProviderTypes | filter:tempObject.ProviderType)" ng-click="addIntoTypeDropDown(providertype, 'ForType')" class="pointer">
                                                        <td ng-if="providertype.Status=='Active'">{{providertype.Title}}</td>
                                                    </tr>
                                                    <tr ng-if="filteredProviderTypeResults.length == 0">
                                                        <td>Provider Type not found..... </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" id="ipaspecialty">
                                    <div class="col-lg-6 form-group" id="ipa">
                                        <label class="control-label">IPA</label>
                                        <input type="text" class="form-control input-sm" data-searchdropdown="searchdropdown" placeholder="IPA" name="IPAGroupName" ng-model="tempObject.IPAGroupName" ng-click="searchCumDropDown('ForIPA'+$index);tempObject.IPAGroupName='';showSearchByTypeDiv('ForIPA'+$index)" ng-disabled="((tempObject.NPINumber) || (tempObject.FirstName) || (tempObject.LastName) || (tempObject.CAQH) || (tempObject.Specialty) || (tempObject.ProviderType))" />
                                        <div class="ProviderTypeSelectAutoList1 popover fade bottom in" role="tooltip" id="ForIPA{{$index}}">
                                            <table class="table table-striped table-bordered table-hover table-condensed">
                                                <tbody>
                                                    <tr ng-repeat="ipa in filterIPAData=(PracticingGroups | filter : tempObject.IPAGroupName) track by $index" ng-click="addIntoIPADropDown(ipa.Group.Name,'ForIPA')" class="pointer">
                                                        <td ng-if="ipa.Status=='Active'">{{ipa.Group.Name}}</td>
                                                    </tr>
                                                    <tr ng-if="!filterIPAData.length">
                                                        <td>IPA Name Not Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 form-group" id="specialty">
                                        <label class="control-label">Specialty</label>
                                        <input type="text" class="form-control input-sm" placeholder="Specialty" name="Specialty" data-searchdropdown="searchdropdown" ng-model="tempObject.Specialty" ng-click="searchCumDropDown('ForSpecialty'+$index);tempObject.Specialty='';showSearchByTypeDiv('ForSpecialty'+$index)" ng-disabled="((tempObject.NPINumber) || (tempObject.FirstName) || (tempObject.LastName) || (tempObject.CAQH) || (tempObject.IPAGroupName) || (tempObject.ProviderType))" />
                                        <div class="ProviderTypeSelectAutoList1 popover fade bottom in" role="tooltip" id="ForSpecialty{{$index}}">
                                            <table class="table table-striped table-bordered table-hover table-condensed">
                                                <tbody>
                                                    <tr ng-repeat="s in filterSpecialtyData=(masterSpecialities | filter : tempObject.Specialty) track by $index" ng-click="addIntoSpecialtyDropDown(s.Name,'ForSpecialty')" class="pointer">
                                                        <td ng-if="s.Status=='Active'">{{s.Name}}</td>
                                                    </tr>
                                                    <tr ng-if="!filterSpecialtyData.length">
                                                        <td>Specialty Name Not Found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12">
                                    <div class="col-md-12 form-group">
                                        <button type="reset" class="btn btn-sm btn-danger" ng-click="FlipingTabs('Added_Contracts_FiledSet','Add_New_Contract');tempObject=null" @*ng-click="tempObject=null;providerData.NPINumber.$error.pattern=false;providerData.fName.$error.pattern=false;providerData.lName.$error.pattern=false;providerData.CAQ.$error.pattern=false "*@>Back</button>
                                        <button type="button" class="btn btn-sm btn-info pull-right" id="searchbtn" ng-disabled="((!tempObject.NPINumber) && (!tempObject.FirstName) && (!tempObject.LastName) && (!tempObject.CAQH)) && (!tempObject.IPAGroupName) && (!tempObject.Specialty) && (!tempObject.ProviderType) || progressbar" ng-click="new_search(selectedAction);"><i class=" fa fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Search provider ends-->
    <!--Loading starts-->

    <div ng-show="loadingAjax" class="progress col-lg-12" ng-cloak>

        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            Loading...Please wait...
        </div>

    </div>
    <!--Loading ends-->
    <div class="clearfix"></div>
    <div ng-cloak ng-show="activeMessageDiv=='noProviderDetails'" class="col-lg-12 form-group">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span>{{messageDesc}}</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--Search result starts-->
    <div class="panel panel-default small" ng-show="result">
        <div class="panel-heading">
            <button class="pull-right btn btn-xs" tooltip data-placement="bottom" data-toggle="tooltip" title="show/hide" ng-click="SearchProviderPanelToggle('SearchProviderResultPanel');"><i class="fa fa-th-list"></i></button>
            <div>Search Result</div>


        </div>
        <div role="tabpanel">
            <div id="SearchProviderResultPanel" class="panel-body closePanel">


                <div class="col-md-12">
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="SearchResult">
                            <div ng-show="data.length==0">No result found.</div>
                            <div class="col-lg-12" ng-hide="data.length==0" style="overflow-x:auto;">



                                <table ng-table="tableParams1" class="table table-hover table-condensed alignTableStyle">

                                    <thead>
                                        <tr>
                                            <th>Picture</th>
                                            <th>NPI Number</th>
                                            <th>Title</th>
                                            <th>Name</th>
                                            <th>Speciality</th>
                                            <th>IPA</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><input type="text" placeholder="Filter NPI Number" class="form-control input-sm" ng-model="search.NPI" ng-change="filterData()" /></td>
                                            <td><input type="text" placeholder="Filter Title" class="form-control input-sm" ng-model="search.Title" ng-change="filterData()" /></td>
                                            <td><input type="text" placeholder="Filter Name" class="form-control input-sm" ng-model="search.Name" ng-change="filterData()" /></td>
                                            <td><input type="text" placeholder="Filter Speciality" class="form-control input-sm" ng-model="search.Speciality" ng-change="filterData()" /></td>
                                            <td><input type="text" placeholder="Filter IPA" class="form-control input-sm" ng-model="search.Groups" ng-change="filterData()" /></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-class="{selectedProvider: p.IsSelected == true}" ng-repeat="p in $data | filter:{NPINumber:search.NPI,Title:search.Title,Name:search.Name,Speciality:search.Speciality,Type:search.Type,Groups:search.Groups} track by $index" ng-show="IsValidIndex($index)" ng-click="SelectProviderForCredentialingInitiation(p)">
                                            <td class="col-lg-1">
                                                <div ng-show="p.ProfilePhotoPath == null" class="thumbnail imageStyle">
                                                    <img ng-src="/Content/Images/no_image.png" class="img-rounded" />
                                                </div>
                                                <div ng-hide="p.ProfilePhotoPath == null" class="thumbnail imageStyle">
                                                    <img ng-src="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{p.ProfilePhotoPath}}" class="img-rounded">
                                                </div>
                                            </td>
                                            <td class="col-lg-2 wrap-words">{{p.NPINumber}}</td>
                                            <td class="col-lg-2 wrap-words">{{p.Title}}</td>
                                            <td class="col-lg-2 wrap-words">{{p.Name}}</td>
                                            <td class="col-lg-2 wrap-words">{{p.Speciality}}</td>
                                            <td class="col-lg-2 wrap-words">{{p.Groups}}</td>
                                            <td class="col-lg-1">
                                                @*  <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Profile/MasterProfile/ProviderProfile/{{p.ProfileID}}" data-toggle="tooltip" data-placement="left" title="View Profile" class="btn btn-xs btn-warning" target="_blank"><i class="glyphicon glyphicon-forward"></i></a>*@
                                                <a class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="right" title="Initiate Credentialing"><i class="fa fa-hand-o-up"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>



                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Search result ends-->
    <div class="panel panel-default small" ng-show="initiate">
        <div class="panel-heading">
            <button class="pull-right btn btn-xs" ng-click="SearchProviderPanelToggle('ProfileDetailPanel');"><i class="fa fa-th-list"></i></button>
            <div>Initiate De-Credentialing</div>
        </div>
        <div role="tabpanel">
            <div id="ProfileDetailPanel" class="panel-body closePanel">

                @*<div class="col-md-12" ng-show="profileDetail.length==0">

                        <label>

                            No Data Available

                        </label>

                    </div>*@

                <div class="col-md-12" ng-show="!initiateSuccessForDeCred">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="planDetail">
                            <!---Provider partial starts here-->
                            @Html.Partial("~/Areas/Credentialing/Views/Initiation/_PlanDetailTable.cshtml")
                            <!---Provider partial ends here-->
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div ng-show="activeMessageDiv=='LoadedSuccess'" class="alert alert-success" role="alert">
                    <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                    <i class="fa fa-2x fa-arrow-up"></i> {{messageDesc}}
                </div>
                <div class="clearfix"></div>

                <div class="clearfix"></div>
                <div class="col-lg-12 zero-padding-left-right-div">
                    <div ng-show="activeMessageDiv=='LoadedUnSuccess'" class="alert alert-danger" role="alert">
                        <div>
                            <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                            {{messageDesc}}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

               
                <div class="col-lg-12 zero-padding-left-right-div" ng-show="initiateSuccessForDeCred">
                    @*<div class="col-lg-6 text-left" ng-click="GenerateEmailPopUp()" data-toggle="modal" data-target="#composeMail"><button class="btn btn-sm btn-info">Send E-mail &nbsp;<i class="glyphicon glyphicon-send"></i></button></div>*@

                    <div class="col-lg-6 text-right pull-right"><button class="btn btn-warning btn-sm" ng-click="SearchProviderPanelToggleDown('SearchProviderResultPanel'); tempObject.PlanId = '';"> Back to Search Result</button></div>
                    @*<div class="col-lg-6 text-right"><a class="btn btn-success btn-sm" href="~/Credentialing/Initiation/DecredentialingSummary/{{ProfileID}}" target="_blank"> View Application </a></div>*@
                </div>

            </div>
        </div>
    </div>
    <!--Initiation ends-->
    <!--Initiation starts-->
    <div class="panel panel-default small" ng-show="showInit">
        @*<div class="panel-heading">
                <button class="pull-right btn btn-xs" tooltip data-placement="bottom" data-toggle="tooltip" title="show/hide" ng-click="SearchProviderPanelToggle('InitiationPanel');"><i class="fa fa-th-list"></i></button>
                <div ng-show="selectedAction==1">Initiate Credentialing</div>
                <div ng-show="selectedAction==2">Initiate Re-Credentialing</div>
                <div ng-show="selectedAction==3">Initiate De-Credentialing</div>
            </div>*@
        <div role="tabpanel">
            <div id="InitiationPanel" class="panel-body closePanel">


                <div class="col-md-12">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Initiation">
                            <div class="panel-default content-panel">
                                <div ng-show="selectedAction==1" class="col-lg-12 zero-padding-left-right-div">
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="col-lg-12">
                                        <table class="table table-bordered table-condensed alignTableStyle">
                                            <tr>
                                                <th>NPI Number</th>
                                                <th>Name</th>
                                                @*<th>Last Name</th>*@
                                                <th>Title</th>
                                                <th>Specialty</th>
                                                <th>IPA</th>
                                            </tr>
                                            <tr>
                                                <td>{{NPINumber}}</td>
                                                <td> {{Firstname}} {{Lastname}}</td>
                                                <td>
                                                    <span ng-repeat="g in Type"><span ng-if="$index > 0">, </span>{{g}}</span>
                                                    @*<span ng-show="Type.length == 0">Not Available</span>*@
                                                </td>
                                                <td>
                                                    <span ng-repeat="s in Specilities_New track by $index"><span ng-if="$index > 0"></span><i ng-if="$index>0">,</i>{{s}}<br /></span>
                                                    @*<span ng-show="Specilities.length == 0">Not Available</span>*@
                                                </td>
                                                <td>
                                                    <span ng-repeat="g in Groups"><span ng-if="$index > 0">, </span>{{g}}</span>
                                                    @*<span ng-show="Groups.length == 0">Not Available</span>*@
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    @*<div >*@
                                    <div class="col-lg-12 zero-padding-left-right-div" ng-hide="initiateSuccess">

                                        <div class="col-lg-2">
                                            <label class="control-label">Select Plan </label>
                                        </div>


                                        <div class="col-lg-4 form-group">
                                            <input type="text" class="form-control input-sm" placeholder="Select Plan" name="PlanId" ng-model="tempObject.PlanName" ng-click="searchCumDropDown('PlanType'+$index)" data-searchdropdown="searchdropdown" />
                                            <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="PlanType{{$index}}" style="margin-top:30px">
                                                <table class="table table-striped table-bordered table-hover table-condensed">
                                                    <tbody>
                                                        <tr ng-repeat="p in filteredplanResults =(plans | filter:tempObject.PlanName)" ng-click="addIntoPlanDropDown(p,tempObject,'PlanType');findIsDelegated(tempObject.PlanId)" class=" pointer">
                                                            <td>{{p.PlanName}}</td>
                                                        </tr>
                                                        <tr ng-if="plans.length == 0">
                                                            <td>Plan not found..... </td>
                                                        </tr>
                                                        <tr id="loadingid" style="padding-left:50%"><img ng-if="temploadingvariable" style="width:20px; padding-top:10px; display:block; margin:auto auto" src="~/Areas/Credentialing/img/loading.GIF" /></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" ng-show="initiateSuccess">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <table class="table table-bordered table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>Selected Plan</th>
                                                        <th>{{ShowPlanName}}</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="col-lg-4"></div>

                                       

                                        @*<div class="col-lg-3" style="font-weight:bolder;"><span class="pull-right">Selected Plan</span></div>
                                            <div class="col-lg-9"><h4>{{ShowPlanName}}</h4></div>*@

                                    </div>
                                    @*</div>*@
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="col-lg-12 zero-padding-left-right-div">
                                        <div ng-show="activeMessageDiv=='successfulInitiated'" class="alert alert-success" role="alert">
                                            <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                                            @*{{Title}} {{Profile.PersonalDetail.Firstname}} {{Profile.PersonalDetail.Lastname}}*@
                                            {{Firstname}} {{Lastname}} {{messageDesc}}
                                        </div>
                                        <div ng-show="activeMessageDiv=='errorInitiated'" class="col-lg-12">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                <span ng-repeat="err in errorInitiated track by $index">{{err}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    @*<div ng-show="initiateSuccess">
                                            <span class="col-lg-4"><hr /></span>
                                            <span class="col-lg-4 text-center h4">What would you like to do?</span>
                                            <span class="col-lg-4"><hr /></span>
                                        </div>*@
                                    <div class="col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-6 text-left"><button class="btn btn-warning btn-sm" ng-click="SearchProviderPanelToggleDown('SearchProviderResultPanel');ResettingLOBTab()" >{{btnName}}</button></div> @*onclick="$('a[href=#SearchResult]').trigger('click');"*@
                                        @*<div ng-show="initiateSuccess  && tempObject.IsDelegatedYesNoOption == 'YES'" class="col-lg-6 text-right"><a class="btn btn-success btn-sm" href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Credentialing/Verification/InitiateNewPSV?profileId={{ProfileID}}&credinfoId={{credinfoId}}"> Perform PSV </a></div>
                                            <div ng-show="initiateSuccess && tempObject.IsDelegatedYesNoOption == 'NO'" class="col-lg-6 text-right"><a class="btn btn-success btn-sm" href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Credentialing/CnD/Application/{{credinfoId}}"> View Application </a></div>*@
                                        <div ng-show="goingBack" class="col-lg-6 text-right"><button class="btn btn-primary btn-sm" ng-disabled="!showbutton" ng-click="changeTabs('LobTab', 'id03', 'LOBPanel')"> Proceed To LOB</button></div>
                                        <div ng-hide="goingBack" class="col-lg-6 text-right"><button class="btn btn-primary btn-sm" ng-disabled="!showbutton" ng-click="InitiateCredentialing();changeTabs('LobTab', 'id03', 'LOBPanel')"> Initiate Credentialing</button></div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <br />
                                </div>




                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Initiation ends-->



</div>
