@using PratianUI
@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.SpecialtyViewModel.SpecialtyDetailViewModel>
@{
    var Specialty = 0;
    var ObjectPresent = 1;
}
<div class="target profilediv col-lg-12" id="IDSpecialty">
    <fieldset class="fsStyle col-lg-12 padding_top_down_5px nopadding" id="AddEditSpecialtyBoard">
        <legend class="legendStyle">
            @foreach (var item in Model)
            {
                if (item == null)
                {
                    <span class="theme_depend text-uppercase create-auth-legends">
                        Add SPECIALTY/BOARD DETAILS
                    </span>
                    ObjectPresent = 0;
                }
            }
            @if (ObjectPresent != 0)
            {
                <span class="theme_depend text-uppercase create-auth-legends">
                    Edit SPECIALTY/BOARD DETAILS
                </span>
            }

            &nbsp;&nbsp;
        </legend>
        @foreach (var item in Model)
        {
            Specialty = Specialty + 1;
            <div class="x_content zero-padding-left mutiple-data">
                @if (item == null)
                {
                    @*<div>
                            <span class="text-uppercase TableHeading">Add SPECIALTY/BOARD DETAILS</span>
                        </div>*@
                }
                else
                {
                    <div class="SubHeaderSpacing1">
                        <span class="text-uppercase TableHeading">Edit SPECIALTY/BOARD DETAIL- @Specialty</span>
                    </div>
                }
                <div class="col-lg-12"><br /></div>
                <div class="SubHeaderSpacing2">
                    <span class="text-uppercase TableHeading">Specialty Detail</span>
                </div>

                <div class="x_content zero-padding-left">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <span class="theme_label col-lg-4 nopadding">
                            <label class="">@Html.DisplayNameFor(e => e.SpecialtyType) </label>
                        </span>
                        <span class="col-lg-1"></span>
                        <span class="col-lg-7 nopadding">
                            <span class="theme_label_data">
                                @Html.PratianUiRadioButtonFor(e => item.SpecialtyType, new { color = "green", @checked = "checked" }) PRIMARY
                                @Html.PratianUiRadioButtonFor(e => item.SpecialtyType, new { color = "red" }) SECONDARY
                                @*@Html.RadioButtonFor(e => item.SpecialtyType, "Primary") Primary
                                    @Html.RadioButtonFor(e => item.SpecialtyType, "Secondary") Secondary*@
                            </span>
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <span class="theme_label col-lg-5 nopadding">
                            <label class="">@Html.DisplayNameFor(e => e.Specialty) </label>
                        </span><span class="col-lg-1"></span>
                        <span class="col-lg-6 nopadding">
                            <span class="theme_label_data">
                                @Html.TextBoxFor(e => item.Specialty, new { @class = "form-control input-xs", @placeholder = "SPECIALTY" })
                            </span>
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <span class="theme_label col-lg-5 nopadding">
                            <label class="">@Html.DisplayNameFor(e => e.PercentageOfTime) </label>
                        </span><span class="col-lg-1"></span>
                        <span class="col-lg-6 nopadding">
                            <span class="theme_label_data">
                                @Html.TextBoxFor(e => item.PercentageOfTime, new { @class = "form-control input-xs", @placeholder = "TIME" })
                            </span>
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <span class="theme_label col-lg-5 nopadding">
                            <label class="">@Html.DisplayNameFor(e => e.TaxonomyCode) </label>
                        </span><span class="col-lg-1"></span>
                        <span class="col-lg-6 nopadding">
                            <span class="theme_label_data">
                                @Html.TextBoxFor(e => item.TaxonomyCode, new { @class = "form-control input-xs", @placeholder = "TAXONOMY" })
                            </span>
                        </span>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <span class="theme_label">
                            <label>@Html.DisplayNameFor(e => e.DirectorySpecialty) </label><br />
                        </span>
                        <span class="theme_label">
                            <label>@Html.DisplayNameFor(e => e.Hmo) </label>
                        </span>
                        <span class="theme_label_data">
                            @Html.PratianUiRadioButtonFor(e => item.Hmo, new { color = "green", @checked = "checked" }) YES
                            @Html.PratianUiRadioButtonFor(e => item.Hmo, new { color = "red" }) NO
                            @*@Html.RadioButtonFor(e => item.Hmo, true) Yes
                                @Html.RadioButtonFor(e => item.Hmo, false) No*@
                        </span>
                        <span class="theme_label">
                            <label> &nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(e => e.Pos) </label>
                        </span>
                        <span class="theme_label_data">
                            @Html.PratianUiRadioButtonFor(e => item.Pos, new { color = "green", @checked = "checked" }) YES
                            @Html.PratianUiRadioButtonFor(e => item.Pos, new { color = "red" }) NO
                            @*@Html.RadioButtonFor(e => item.Pos, true) Yes
                                @Html.RadioButtonFor(e => item.Pos, false) No*@
                        </span>
                        <span class="theme_label">
                            <label> &nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(e => e.Ppo) </label>
                        </span>
                        <span class="theme_label_data">
                            @Html.PratianUiRadioButtonFor(e => item.Ppo, new { color = "green", @checked = "checked" }) YES
                            @Html.PratianUiRadioButtonFor(e => item.Ppo, new { color = "red" }) NO
                            @*@Html.RadioButtonFor(e => item.Ppo, true) Yes
                                @Html.RadioButtonFor(e => item.Ppo, false) No*@
                        </span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle">

                    </div>
                </div>
                <div>
                    <span class="text-uppercase TableHeading">Board Details</span>
                </div>
                <div class="x_content zero-padding-left">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <span class="theme_label col-lg-5 nopadding">
                            <label class="">@Html.DisplayNameFor(e => e.BoardCertified) </label>
                        </span>
                        <span class="col-lg-1"></span>
                        <span class="col-lg-6 nopadding">
                            <span class="theme_label_data">
                                @*@foreach (var value in Enum.GetValues(typeof(PortalTemplate.Areas.CredAxis.Enums.YesNoOption)))
                                    {
                                        <span class="col-lg-3 nopadding">
                                            <span class="theme_label_data">
                                                @Html.RadioButtonFor(e => e.BoardCertified, (int)value, new { }) @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                                            </span>
                                        </span>
                                    }*@
                                @Html.PratianUiRadioButtonFor(e => item.BoardCertified, new { @id = "BoardCertified" + @Specialty, color = "green", @checked = "checked", @onchange = "ShowHideAddView('ViewBoardCertified_" + @Specialty + "','ViewNotBoardCertified_" + @Specialty + "')" }) YES
                                @Html.PratianUiRadioButtonFor(e => item.BoardCertified, new { @id = "NotBoardCertified" + @Specialty, color = "red", @onchange = "ShowHideAddView('ViewNotBoardCertified_" + @Specialty + "','ViewBoardCertified_" + @Specialty + "')" }) NO
                                @*@Html.RadioButtonFor(e => item.BoardCertified, true, new { @name = "Speciality" + @Specialty + "", @onchange = "ShowHideAddView('ViewBoardCertified_" + @Specialty + "','ViewNotBoardCertified_" + @Specialty + "')" }) Yes
                                    @Html.RadioButtonFor(e => item.BoardCertified, false, new { @name = "Speciality" + @Specialty + "", @onchange = "ShowHideAddView('ViewNotBoardCertified_" + @Specialty + "','ViewBoardCertified_" + @Specialty + "')" }) No*@
                            </span>
                        </span>
                    </div>
                    <div class="hidden" id="ViewBoardCertified_@Specialty">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label col-lg-5 nopadding">
                                <label class="">@Html.DisplayNameFor(e => e.BoardName) </label>
                            </span>
                            <span class="col-lg-1"></span>
                            <span class="col-lg-6 nopadding">
                                <span class="theme_label_data">@Html.TextBoxFor(e => item.BoardName, new { @class = "form-control input-xs", @placeholder = "BOARD" })</span>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label col-lg-5 nopadding">
                                <label class="">@Html.DisplayNameFor(e => e.Certificatenumber) </label>
                            </span>
                            <span class="col-lg-1"></span>
                            <span class="col-lg-6 nopadding">
                                <span class="theme_label_data">@Html.TextBoxFor(e => item.BoardName, new { @class = "form-control input-xs", @placeholder = "CERTIFICATE NUMBER" })</span>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label col-lg-5 nopadding">
                                <label class="">@Html.DisplayNameFor(e => e.CertificationDate) </label>
                            </span>
                            <span class="col-lg-1"></span>
                            <span class="col-lg-6 nopadding">
                                <span class="theme_label_data">@Html.TextBoxFor(e => item.BoardName, new { @class = "form-control input-xs", @placeholder = "INITIAL CERTIFICATION DATE" })</span>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label col-lg-5 nopadding">
                                <label class="">@Html.DisplayNameFor(e => e.ReCertificationDate) </label>
                            </span>
                            <span class="col-lg-1"></span>
                            <span class="col-lg-6 nopadding">
                                <span class="theme_label_data">@Html.TextBoxFor(e => item.ReCertificationDate, new { @class = "form-control input-xs", @placeholder = "RE-CERTIFICATION DATE" })</span>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label col-lg-5 nopadding">
                                <label class="">@Html.DisplayNameFor(e => e.ExpirationDate) </label>
                            </span>
                            <span class="col-lg-1"></span>
                            <span class="col-lg-6 nopadding">
                                <span class="theme_label_data">@Html.TextBoxFor(e => item.ExpirationDate, new { @class = "form-control input-xs", @placeholder = "EXPIRATION DATE" })</span>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label col-lg-5 nopadding">
                                <label class="">@Html.DisplayNameFor(e => e.SupportingDocumentPath) </label>
                            </span>
                            <span class="col-lg-1"></span>
                            <span class="col-lg-6 nopadding">
                                <span class="theme_label_data">@Html.TextBoxFor(e => item.SupportingDocumentPath, new { @class = "form-control input-xs", @type = "file" })</span>
                            </span>
                        </div>
                    </div>
                    <div class="hidden" id="ViewNotBoardCertified_@Specialty">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 boxstyle">
                            <span class="theme_label col-lg-5 nopadding">
                                <label class="">@Html.DisplayNameFor(e => e.SpecialtyBoardExamStatus) </label>
                            </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 boxstyle">
                            @foreach (var value in Enum.GetValues(typeof(PortalTemplate.Areas.CredAxis.Enums.BoardCertificationExamStatus)))
                            {
                                <span class="col-lg-3 nopadding">
                                    <span class="theme_label_data">
                                        @Html.RadioButtonFor(e => item.SpecialtyBoardExamStatus, (int)value, new { }) @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                                    </span>
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @*if (Specialty == 2)
                {
                    <span class="view-more" id="moreSpecialty" data-toggle="collapse" data-target=".ViewMoreSpecialty" onclick="ShowHideAddView('lessSpecialty', 'moreSpecialty')">View More</span>
                }*@

            @*else
                {
                    <div class="x_content zero-padding-left ViewMoreSpecialty collapse mutiple-data">
                        <div>
                            <span class="text-uppercase TableHeading">Edit SPECIALTY/BOARD DETAILS- @Specialty</span>
                        </div>
                        <div class="col-lg-12"><br /></div>
                        <span class="text-uppercase TableHeading">Specialty Detail</span>
                        <div class="x_content zero-padding-left">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <span class="col-lg-5 nopadding">
                                    <label class="theme_label">@Html.DisplayNameFor(e => e.SpecialtyType) </label>
                                </span>
                                <span class="col-lg-1"></span>
                                <span class="col-lg-6 nopadding">
                                    <span class="theme_label_data">
                                        @Html.RadioButtonFor(e => item.SpecialtyType, "Primary") Primary
                                        @Html.RadioButtonFor(e => item.SpecialtyType, "Secondary") Secondary
                                    </span>
                                </span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <span class="col-lg-5 nopadding">
                                    <label class="theme_label">@Html.DisplayNameFor(e => e.Specialty) </label>
                                </span><span class="col-lg-1"></span>
                                <span class="col-lg-6 nopadding">
                                    <span class="theme_label_data">
                                        @Html.TextBoxFor(e => item.Specialty, new { @class = "form-control input-xs", @placeholder = "Specialty" })
                                    </span>
                                </span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <span class="col-lg-5 nopadding">
                                    <label class="theme_label">@Html.DisplayNameFor(e => e.PercentageOfTime) </label>
                                </span><span class="col-lg-1"></span>
                                <span class="col-lg-6 nopadding">
                                    <span class="theme_label_data">
                                        @Html.TextBoxFor(e => item.PercentageOfTime, new { @class = "form-control input-xs", @placeholder = "Time" })
                                    </span>
                                </span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <span class="col-lg-5 nopadding">
                                    <label class="theme_label">@Html.DisplayNameFor(e => e.TaxonomyCode) </label>
                                </span><span class="col-lg-1"></span>
                                <span class="col-lg-6 nopadding">
                                    <span class="theme_label_data">
                                        @Html.TextBoxFor(e => item.TaxonomyCode, new { @class = "form-control input-xs", @placeholder = "Taxonomy" })
                                    </span>
                                </span>
                            </div>
                            <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">@Html.DisplayNameFor(e => e.DirectorySpecialty) </label><br />
                                <label class="theme_label">@Html.DisplayNameFor(e => e.Hmo) </label>
                                <span class="theme_label_data">
                                    @Html.RadioButtonFor(e => item.Hmo, true) Yes
                                    @Html.RadioButtonFor(e => item.Hmo, false) No
                                </span>
                                <label class="theme_label"> &nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(e => e.Pos) </label>
                                <span class="theme_label_data">
                                    @Html.RadioButtonFor(e => item.Pos, true) Yes
                                    @Html.RadioButtonFor(e => item.Pos, false) No
                                </span>
                                <label class="theme_label"> &nbsp;&nbsp;&nbsp;@Html.DisplayNameFor(e => e.Ppo) </label>
                                <span class="theme_label_data">
                                    @Html.RadioButtonFor(e => item.Ppo, true) Yes
                                    @Html.RadioButtonFor(e => item.Ppo, false) No
                                </span>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle">

                            </div>
                        </div>
                        <div>
                            <span class="text-uppercase TableHeading">Board Detail</span>
                        </div>
                        <div class="x_content zero-padding-left">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <span class="col-lg-5 nopadding">
                                    <label class="theme_label">@Html.DisplayNameFor(e => e.BoardCertified) </label>
                                </span>
                                <span class="col-lg-1"></span>
                                <span class="col-lg-6 nopadding">
                                    <span class="theme_label_data">
                                        @foreach (var value in Enum.GetValues(typeof(PortalTemplate.Areas.CredAxis.Enums.YesNoOption)))
                                            {
                                                <span class="col-lg-3 nopadding">
                                                    <span class="theme_label_data">
                                                        @Html.RadioButtonFor(e => e.BoardCertified, (int)value, new { }) @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                                                    </span>
                                                </span>
                                            }
                                        @Html.RadioButtonFor(e => item.BoardCertified, true, new {@name="fullname", @onchange = "ShowHideAddView('ViewBoardCertified_" + @Specialty + "','ViewNotBoardCertified_" + @Specialty + "')" }) Yes
                                        @Html.RadioButtonFor(e => item.BoardCertified, false, new { @name = "fullname", @onchange = "ShowHideAddView('ViewNotBoardCertified_" + @Specialty + "','ViewBoardCertified_" + @Specialty + "')" }) No
                                    </span>
                                </span>
                            </div>
                            <div class="hidden" id="ViewBoardCertified_@Specialty">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                    <span class="col-lg-5 nopadding">
                                        <label class="theme_label">@Html.DisplayNameFor(e => e.BoardName) </label>
                                    </span>
                                    <span class="col-lg-1"></span>
                                    <span class="col-lg-6 nopadding">
                                        <span class="theme_label_data">@Html.TextBoxFor(e => item.BoardName, new { @class = "form-control input-xs", @placeholder = "Board" })</span>
                                    </span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                    <span class="col-lg-5 nopadding">
                                        <label class="theme_label">@Html.DisplayNameFor(e => e.Certificatenumber) </label>
                                    </span>
                                    <span class="col-lg-1"></span>
                                    <span class="col-lg-6 nopadding">
                                        <span class="theme_label_data">@Html.TextBoxFor(e => item.BoardName, new { @class = "form-control input-xs", @placeholder = "Certificate Number" })</span>
                                    </span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                    <span class="col-lg-5 nopadding">
                                        <label class="theme_label">@Html.DisplayNameFor(e => e.CertificationDate) </label>
                                    </span>
                                    <span class="col-lg-1"></span>
                                    <span class="col-lg-6 nopadding">
                                        <span class="theme_label_data">@Html.TextBoxFor(e => item.BoardName, new { @class = "form-control input-xs", @placeholder = "Initial Certification Date" })</span>
                                    </span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                    <span class="col-lg-5 nopadding">
                                        <label class="theme_label">@Html.DisplayNameFor(e => e.ReCertificationDate) </label>
                                    </span>
                                    <span class="col-lg-1"></span>
                                    <span class="col-lg-6 nopadding">
                                        <span class="theme_label_data">@Html.TextBoxFor(e => item.ReCertificationDate, new { @class = "form-control input-xs", @placeholder = "Re-Certification Date" })</span>
                                    </span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                    <span class="col-lg-5 nopadding">
                                        <label class="theme_label">@Html.DisplayNameFor(e => e.ExpirationDate) </label>
                                    </span>
                                    <span class="col-lg-1"></span>
                                    <span class="col-lg-6 nopadding">
                                        <span class="theme_label_data">@Html.TextBoxFor(e => item.ExpirationDate, new { @class = "form-control input-xs", @placeholder = "Expiration Date" })</span>
                                    </span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                    <span class="col-lg-5 nopadding">
                                        <label class="theme_label">@Html.DisplayNameFor(e => e.SupportingDocumentPath) </label>
                                    </span>
                                    <span class="col-lg-1"></span>
                                    <span class="col-lg-6 nopadding">
                                        <span class="theme_label_data">@Html.TextBoxFor(e => item.SupportingDocumentPath, new { @class = "form-control input-xs", @type = "file" })</span>
                                    </span>
                                </div>
                            </div>
                            <div class="hidden" id="ViewNotBoardCertified_@Specialty">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 boxstyle">
                                    <span class="col-lg-5 nopadding">
                                        <label class="theme_label">@Html.DisplayNameFor(e => e.SpecialtyBoardExamStatus) </label>
                                    </span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 boxstyle">
                                    @foreach (var value in Enum.GetValues(typeof(PortalTemplate.Areas.CredAxis.Enums.BoardCertificationExamStatus)))
                                    {
                                        <span class="col-lg-3 nopadding">
                                            <span class="theme_label_data">
                                                @Html.RadioButtonFor(e => item.SpecialtyBoardExamStatus, (int)value, new { }) @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                                            </span>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                if (Specialty == Model.Count())
                {
                    <span class="view-more hidden" id="lessSpecialty" data-toggle="collapse" data-target=".ViewMoreSpecialty" onclick="ShowHideAddView('moreSpecialty', 'lessSpecialty')">View Less</span>
                }*@
        }
        @*<div class="row col-lg-12 zero-padding-left-right margin-top-5px">
                <button class="btn btn-success btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/Speciality/Index" data-tab-container="SpecialityTabView">
                    Save
                </button>
                <button class="btn btn-danger btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/Speciality/Index" data-tab-container="SpecialityTabView">
                    Cancel
                </button>
            </div>*@

        <div class="row col-lg-12 zero-padding-left-right margin-top-5px">
            @*<input class="btn btn-success btn-xs  buttonmargin pull-right margin-right-5px" type="submit" name="submit" value="Save">*@
            <button class="btn btn-success btn-xs yahanClickKar list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/Speciality/Index" data-tab-container="SpecialityTabView" value="">Save</button>
                <button class="btn btn-danger btn-xs yahanClickKar  list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/Speciality/Index" data-tab-container="SpecialityTabView" value="">Cancel</button>
</div>

    </fieldset>
</div>
@*}*@
