
    <span class="theme_depend text-uppercase TableHeading">Specialty / Board Details History</span>
    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-toggle="collapse" data-target="#SpecialityHistory" @*onclick="clearDiv(this)"*@><i class="fa fa-times" aria-hidden="true"></i></button></span>
    <div class="x_content zero-padding-left">
        @*<table class="table table-striped table-bordered claimlist_table dummy_table"><thead><tr></tr></thead></table>*@
        <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
            <thead class="theme_thead text-uppercase">
                <tr>
                    <th class="withfilter" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Specialty Type</label><span></span>
                            <i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Specialty</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                    <th class="withfilter" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Taxonomy Code</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Board Name</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Certificate Number</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Expiration Date</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Notes</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>ACTION</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.SpecialtyType</td>
                        <td>@item.Specialty</td>
                        <td>@item.TaxonomyCode</td>
                        <td>@item.BoardName</td>
                        <td>@item.Certificatenumber</td>                        
                        <td>@item.ExpirationDate</td>
                        <td>
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Specialty Type:-</b> PRIMARY, <br /><b>Specialty:-</b> ADULT NEUROLOGY, <br /><b>Taxonomy Code:-</b> 1234567891.">...</a>
                        </td>
                        <td class=" text-center"><button data-toggle="modal" data-target="#SpecialtyHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button> </td>
                    </tr>
                }
                @*<tr>
                        <td>PRIMARY</td>
                        <td>ADULT NEUROLOGY</td>
                        <td>1234567891</td>
                        <td>ABFM</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Specialty Type:-</b> PRIMARY, <br /><b>Specialty:-</b> ADULT NEUROLOGY, <br /><b>Taxonomy Code:-</b> 1234567891.">...</a>
                        </td>
                        <td class=" text-center"><button data-toggle="modal" data-target="#SpecialtyHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button> </td>
                    </tr>
                    <tr>
                        <td>SECONDARY</td>
                        <td>ADULT CARDIALOGY</td>
                        <td>1234567892</td>
                        <td>ABFM</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Specialty Type:-</b> SECONDARY, <br /><b>Specialty:-</b> ADULT CARDIALOGY, <br /><b>Taxonomy Code:-</b> 1234567892.">...</a>
                        </td>
                        <td class=" text-center"><button data-toggle="modal" data-target="#SpecialtyHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button> </td>
                    </tr>
                    <tr>
                        <td>PRIMARY</td>
                        <td>ADULT DERMATOLOGY</td>
                        <td>1234567893</td>
                        <td>ABFM</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Specialty Type:-</b> PRIMARY, <br /><b>Specialty:-</b> ADULT DERMATOLOGY, <br /><b>Taxonomy Code:-</b> 1234567893.">...</a>
                        </td>
                        <td class=" text-center"><button data-toggle="modal" data-target="#SpecialtyHistoryView" class="btn btn-default btn-xs"><i class="fa fa-eye"></i></button> </td>
                    </tr>*@

            </tbody>
        </table>
    </div>

