

@foreach (var value in ViewBag.SearchResultData)
{
    <tr class="tab-navigation" data-tab-action="Member Profile" data-tab-title="Profile" data-tab-floatmenu="true" data-tab-issubtab="true" data-tab-defaultparenttab="Member"
        data-tab-autoflush="true" data-tab-usertype="Member" data-tab-userid="@value.SubscriberID"
        data-tab-path="/Portal/MemberManage/GetMemberDetails?SubscriberID=@value.SubscriberID" data-tab-container="innerTabContainer" data-tab-parentcontainer="partialBodyContainer"
        data-tab-parenttabtitle="@value.FirstName @value.LastName" data-tab-hassubtabs="false" data-tab-memberdata="@value" data-tab-parenttabpath="/Portal/MemberManage/GetMemberHeaderById?SubscriberID=@value.SubscriberID"
        data-tab-parenttabrenderingarea="headerArea" data-tab-float-menu-path="/UM/Menu/GetMenu?SubscriberID=@value.SubscriberID">
        <td class="sm-mbrid">
            @value.SubscriberID
        </td>
        <td class="sm-lastname">@value.LastName </td>
        <td class="sm-firstname">@value.FirstName </td>
        <td class="sm-dob">@value.DOB</td>
        @if (value.Gender == "M" || value.Gender == "m")
        {
            <td class="sm-gender">MALE</td>
        }
        else
        {
            <td class="sm-gender">FEMALE</td>
        }
        <td class="sm-pcp">@value.PCPFullName</td>
        <td class="sm-pcpphone">@value.PCPPhoneNumber</td>
        <td class="sm-effdate"> @value.PlanEffectiveDate</td>
        <td class="sm-address"> @value.AddressLine1</td>
        <td class="sm-city">@value.City</td>
        <td class="sm-state">@value.State</td>
        <td class="sm-zip">@value.ZipCode</td>
    </tr>
}
