<p-link filepath="~/Areas/CredAxis/CSS/CredAxisStyleSheet.css"></p-link>
<div class="target profilediv col-lg-12" id="IDPracticeLocation">
    <fieldset class="fsStyle" id="ViewGeneralInformationDetails">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Practice Location
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    @*<button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/GetPracticeLocationAddEditView?model=@Model&type=Add" data-tab-container="GeneralInformationDetails">
                            <i class="fa fa-plus"></i>
                        </button>*@
                    @*<button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/GetPracticeLocationAddEditView?model=@Model&type=Edit" data-tab-container="GeneralInformationDetails">
                            <i class="fa fa-pencil"></i>
                        </button>*@
                    @*<button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#PracticeLocationDetails">
                            <i class="fa fa-history"></i>
                        </button>*@
                    <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>
        <div class="x_content zero-padding-left">
            <div id="PLGeneralInformationDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/GeneralInformation/_ViewGeneralInformation.cshtml")
            </div>
            @*<div id="PLServicesDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/Services/_ViewServices.cshtml")
            </div>
            <div id="PLAccessibilities">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/Facility/_ViewAccessibilities.cshtml")
            </div>
            <div id="PLLanguage">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/Facility/_Language.cshtml")
            </div>*@
            @*<div id="PLServicesDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/Services/_ViewServices.cshtml")
            </div>*@
            <div id="PLOtherInformationDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/OtherInformation/_ViewOtherInformation.cshtml")
            </div>
            <div id="PLOfficeStaffContactDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/OfficeStaffContact/_ViewOfficeStaffContact.cshtml")
            </div>
            <div id="PLOfficeHours">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/OfficeHours/_ViewOfficeHours.cshtml")
            </div>
            <div id="PLOpenPracticeStatusDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/OpenPracticeStatus/_ViewOpenPracticeStatus.cshtml")
            </div>
            <div id="PLBillingContactDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/BillingContact/_ViewBillingContact.cshtml")
            </div>
            <div id="PLPaymentRemittanceDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/PaymentRemittance/_ViewPaymentRemittance.cshtml")
            </div>
            <div id="PLSupervisingPractitionerDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/SupervisingPractitioner/_ViewSupervisingPractitioner.cshtml")
            </div>
            <div id="PLPartnersColleaguesDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/PartnersColleagues/_ViewPartnersColleagues.cshtml")
            </div>
            <div id="PLCredentialingContactDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/CredentialingContact/_ViewCredentialingContact.cshtml")
            </div>
            <div id="PLWorkersCompensationDetails">
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/WorkersCompensation/_ViewWorkersCompensation.cshtml")
            </div>


        </div>
    </fieldset>
</div>

@*<div class="clearfix"></div>
    <div class="target profilediv col-lg-12" id="IDEducationHistory">
        <div id="UnderGraduationOrProfessionalDetails">
            @if (Model.UnderGradSchools != null)
            {
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/UnderGraduationOrProfessionalDetails/_ViewUndergraduateDetails.cshtml", Model.UnderGradSchools)
            }
            else
            {
                @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "UNDER GRADUATE/PROFESSIONAL SCHOOLS DETAILS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/UnderGraduationOrProfessionalDetails/_AddEditUnderGradOrProfSchoolDetails.cshtml", SectionId = "UnderGraduationOrProfessionalDetails" })
            }
        </div>
    </div>*@

@* Remove Modal *@
@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/_RemoveModal.cshtml")
@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/_FacilityDatamodalPracticeLocation.cshtml")


