@using PratianUI
@model PortalTemplate.Areas.CredAxis.Models.EducationViewModel.ECFMGViewModel

@*@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/ECFMGDetails/_ViewECFMGDetails.cshtml")*@
<div class="target profilediv col-lg-12 nopadding">
    <fieldset class="fsStyle" id="AddEditECFMGDetail">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                @if (Model == null)
                {
                      <span class="transparent-font-color">______________</span>
    <span> ADD ECFMG DETAILS</span>
                <span class="transparent-font-color">______________</span>
                
                }
                else
                {
                    <span class="transparent-font-color">______________</span>
    <span> EDIT ECFMG DETAILS</span>
                <span class="transparent-font-color">______________</span>
                }

            </span>
        </legend>
        @using (Ajax.BeginForm("AddECFMGDetails", "Education", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ECFMGDetails" }))
        {
            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-4 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.Number) </label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(e => e.Number, new { @class = "form-control input-xs", @placeholder = "ECFMG NUMBER", @type = "text" })</span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-4 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.IssueDate) </label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.PratianUiDatePickerFor(e => e.IssueDate, new { @class = "form-control input-xs", placeholder = "ISSUE DATE" })</span>
                        @*<span class="theme_label_data">@Html.TextBoxFor(e => e.IssueDate, new { @class = "form-control input-xs", @placeholder = "ECFMG ISSUE DATE", @type = "Date" })</span>*@
                    </span>
                </div>
                @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-4 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.Document) </label>
                    </span>
                    <span class="col-lg-1"></span>

                    <span class="col-lg-7 input-group  nopadding">
                        <input type="text" class="form-control input-xs" placeholder="Document">
                        <span class="input-group-addon File_uploadStyle"><i class="fa fa-upload"></i></span>
                    </span>
                </div>*@
                <div class="row col-lg-12 zero-padding-left-right">
                    <button class="btn btn-success btn-xs yahanClickKar  buttonmargin pull-right margin-right-5px" type="submit" name="submit" value="">Save</button>
                        <button class="btn btn-danger btn-xs yahanClickKar list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/Education/CancelAddECFMGDetails" data-tab-container="ECFMGDetails" value="">Cancel</button>
</div>
                @*<div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  col-lg-offset-1 buttonmargin">
                            <button class="btn btn-danger btn-xs ripple  list-item" data-tab-path="/CredAxis/Education/CancelAddECFMGDetails" data-tab-container="ECFMGDetails">Cancel</button>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 col-lg-offset-5 buttonmargin ">
                            <input type="submit" name="submit" value="Save"  class="btn btn-success btn-xs ripple " />
                        </div>
                    </div>*@
            </div>
        }
    </fieldset>
</div>
@*<fieldset class="fsStyle">

        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"> Add ECFMG Detail</span>
        </legend>
        <div class="x_content zero-padding-left">

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-4 nopadding">
                    <label class="theme_label">ECFMG Number </label>
                </span>
                <span class="col-lg-8 nopadding">
                    <span class="theme_label_data"><input type="text" class="form-control input-xs" placeholder="ECFMG Number" /></span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 boxstyle">
                <span class="col-lg-4 nopadding">
                    <label class="theme_label">ECFMG Issue Date </label>
                </span>
                <span class="col-lg-8 nopadding">
                    <span class="theme_label_data"><input type="date" class="form-control input-xs" placeholder="ECFMG Issue Date" /></span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 boxstyle">
                <span class="col-lg-4 nopadding">
                    <label class="theme_label">Document </label>
                </span>
                <span class="col-lg-8 nopadding">
                    <span class="theme_label_data"><input type="file" class="form-control input-xs"  /></span>
                </span>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  col-lg-offset-1 buttonmargin">
                    <button class="btn btn-danger btn-xs ripple ">Cancel</button>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 col-lg-offset-5 buttonmargin ">
                    <button class="btn btn-success btn-xs ripple ">Save</button>
                </div>
            </div>

        </div>
    </fieldset>*@
