@*@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.EducationViewModel.ECFMGViewModel>*@
@model PortalTemplate.Areas.CredAxis.Models.EducationViewModel.ECFMGViewModel
@*@{
        var ECFMGIndex = 0;
    }*@
<div class="target profilediv col-lg-12 nopadding">
    <fieldset class="fsStyle" id="ViewECFMGDetail">

        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">

                <span class="transparent-font-color">__________________</span>
                ECFMG DETAILS
                <span class="transparent-font-color">__________________</span>


            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                   
                    @*<button class="btn btn-success btn-xs add_note_btn addBtnCSS">
                            <i class="fa fa-plus" onclick="ShowHideAddView('AddEditECFMGDetail', 'ViewECFMGDetail')"></i>
                        </button>*@
                    @if (Model.Number == null)
                    {
                        <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/Education/GetECFMGAddEditView?model=@Model&type=Add" data-tab-container="ECFMGDetails">
                            <i class="fa fa-plus"></i>
                        </button>
                    }
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/Education/GetECFMGAddEditView?model=@Model&type=Edit" data-tab-container="ECFMGDetails">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="collapse" data-target="#ECFMGDetailsHistory">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_ECFMG hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>
        @*@foreach (var item in Model)
            {
                ECFMGIndex = ECFMGIndex + 1;
                if (ECFMGIndex <= 2)
                {*@
        <div class="x_content  zero-padding-left">
            @*<div>
                <span class="text-uppercase TableHeading"> ECFMG DETAILs </span>
                </div>*@
            <div class="col-lg-1 text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.Number)  :</label>
                <span class="theme_label_data">@Model.Number</span>
            </div>
            <div class="col-lg-1 text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.IssueDate)  :</label>
                <span class="theme_label_data">@Model.IssueDate</span>
            </div>
            <div class="col-lg-1 text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.Document)  :</label>
               @* <span class="theme_label_data">ECFMG.PNG</span>*@
                <span class="theme_label_data"><i class="fa fa-file"></i></span>
            </div>
        </div>
        @*if (ECFMGIndex == 2)
            {
                <span class="view-more" id="ECFMGMore" data-toggle="collapse" data-target=".ViewMoreECFMG" onclick="ShowHideAddView('ECFMGLess', 'ECFMGMore')">View More</span>
            }*@
        @*//}
        else
        {
            <div class="x_content mutiple-data  zero-padding-left collapse ViewMoreECFMG">
                <div>
                    <span class="text-uppercase TableHeading"> ECFMG DETAILs - @ECFMGIndex</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Number)  :</label>
                    <span class="theme_label_data">@item.Number</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.IssueDate)  :</label>
                    <span class="theme_label_data">@item.IssueDate</span>
                </div>
                <div class="col-lg-1 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Document)  :</label>
                    <span class="theme_label_data"><i class="fa fa-file"></i></span>
                </div>
            </div>
        }
        if (ECFMGIndex == Model.Count())
        {
            <span class="view-more hidden ">View Less</span>" id="ECFMGLess" data-toggle="collapse" data-target=".ViewMoreECFMG" onclick="ShowHideAddView('ECFMGMore', 'ECFMGLess')">View Less</span>
        }
    }*@


        <fieldset class="fsStyle collapse remove_shadow" id="ECFMGDetailsHistory">

            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/ECFMGDetails/_HistoryECFMGDetails.cshtml")

        </fieldset>

    </fieldset>
</div>