@model AHC.CD.WebUI.MVC.Areas.Profile.Models.ProfessionalAffiliation.ProfessionalAffiliationDetailViewModel

<form class="professionalAffiliationForm">
    <div class="col-lg-12 zero-padding-left-right-div">
        <fieldset>
            <legend>
                Professional Affiliation
            </legend>
            <div class=" col-lg-12">
                <div class="col-lg-12 form-group">
                    @Html.LabelFor(model => model.OrganizationName, new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{professionalAffiliation.OrganizationName| date:'MM-dd-yyyy'}}</i>
                    </div>
                </div>
            </div>
            <div class=" col-lg-12">
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.StartDate, new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{professionalAffiliation.StartDate| date:'MM-dd-yyyy'}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.EndDate, new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{professionalAffiliation.EndDate| date:'MM-dd-yyyy'}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.PositionOfficeHeld, new { @class = "control-label small" })

                    <div>
                        <i class="data-label">{{professionalAffiliation.PositionOfficeHeld}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.Member, new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{professionalAffiliation.Member}}</i>
                    </div>

                </div>
            </div>
        </fieldset>
            <div class="clearfix"></div>
            <div class="col-md-12 form-group">
                <div class="col-md-12 form-group">
                    <button class="btn btn-warning btn-sm" ng-click="cancelProfessionalAffiliation()">Cancel</button>
                    <button class="btn btn-primary btn-sm pull-right" ng-click="editProfessionalAffiliation($index,pa)">Edit</button>
                </div>
            </div>
</div>
</form>
