@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@model AHC.CD.WebUI.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Admin Configurations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
}
<div id="page-wrapper">

    <div class="container-fluid wrap-words">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-search"></i> @ViewBag.Title
                    </li>
                </ol>
            </div>


            <div class="col-lg-8">
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="row">

                    <div class="col-md-4">
                        <p>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/MasterDataNew" class="btn btn-primary"><i class="fa fa-list-ol"></i> Master Data</a>
                        </p>
                    </div>

                    <div class="col-md-4">
                        <p>
                            @*<a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Profile/SearchProfile/SearchProfile" class="btn btn-primary"><i class="fa fa-user-md"></i> Manage Providers</a>*@
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/AssignToCCOorTL/CCOAssignment" class="btn btn-primary"><i class="fa fa-user-md"></i> Manage Providers</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Profile/CustomFieldGeneration/CustomField" class="btn btn-primary"><i class="fa fa-text-width"></i> Manage Additional Field</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Plans/PlanList/Index" class="btn btn-primary"><i class="fa fa-text-width"></i> Manage Plans</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Initiation/InitiateUser/Index" class="btn btn-primary"><i class="fa fa-user-md"></i> Create User</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/EmailTemplate/EmailTemplate" class="btn btn-primary"><i class="fa fa-text-width"></i> Manage Letter Templates</a>

                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Initiation/InitiateUser/ManageUser" class="btn btn-primary"><i class="fa fa-user-md"></i> Manage User</a>

                        </p>
                    </div>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        var roles = Context.GetOwinContext().GetUserManager<AHC.CD.WebUI.MVC.ApplicationUserManager>().GetRoles(User.Identity.GetUserId());

                        if (roles.Contains("CRA"))
                        {
                            <div class="col-md-4">
                                <p>
                                    <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Account/ViewUsers" class="btn btn-primary"><i class="fa fa-key"></i>&nbsp;Reset Password</a>
                                </p>
                            </div>
                        }
                    }
                    @*<div class="col-md-4">
                            <p>
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Initiation/InitiateUser/EmailConfiguration" class="btn btn-primary"><i class="fa fa-cog fa-fw"></i> Manage Email Configuration</a>

                            </p>
                        </div>*@
                </div>
            </div>


        </div>
    </div>
</div>
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
