@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.OtherLegalNameViewModel>
<fieldset class="fsStyle width-100" id="OthreLegalNameHistory" style="box-shadow: none !important;">
    <span class="theme_depend text-uppercase TableHeading">Other Legal Name History @*- @ViewBag.OtherLegalNameHistoryDivId*@</span>
    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" onclick="clearDiv(this)" id="CloseOtherLegalNamesHostory_@ViewBag.OtherLegalNameHistoryDivId" data-target=" #othrelegalnamehistory"><i class="fa fa-times" aria-hidden="true"></i></button></span>
    <div class="x_content zero-padding-left">
        @*<table class="table table-striped table-bordered claimlist_table dummy_table"><thead><tr></tr></thead></table>*@
        <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
            <thead class="theme_thead">
                <tr>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>@Html.DisplayNameFor(e => e.FirstName)</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                    <th class="withfilter col-lg-1 nopadding" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>@Html.DisplayNameFor(e => e.MiddleName)</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>@Html.DisplayNameFor(e => e.LastName)</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>@Html.DisplayNameFor(e => e.Suffix)</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>STARTED USING</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>STOPPED USING</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>NOTES</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-lg-1">@item.FirstName</td>
                        <td class="col-lg-1">@item.MiddleName</td>
                        <td class="col-lg-1">@item.LastName</td>
                        <td class="col-lg-1">NOT AVAILABLE</td>
                        <td class="col-lg-2">@item.LegalnameStartDate</td>
                        <td class="col-lg-2">@item.LegalnameEndDate</td>
                        <td class="col-lg-1" align="center">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>First NAME:-</b> JEAN, <br /><b>Middle NAME:-</b> ROBERT, <br /><b>LAST NAME:-</b> KELLY.">...</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>


