@model List<PortalTemplate.Areas.Billing.Models.EOB_Report.EOBReportRenderingProviderByPaymentDateViewModel>

<table id="EOBReportRenderingProviderPaymentDateListTable" class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
    <thead class="theme_thead">
        <tr>
            <th>
                Sl.No.
            </th>
            <th>
                Primary Payer
            </th>
            <th>
                Secondary Payer
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Payment Date
            </th>
            <th>
                DOS
            </th>
            <th>
                CPT
            </th>
            <th>
                Billed
            </th>
            <th>
                Allowed
            </th>
            <th>
                ADJ
            </th>
            <th>
                DED
            </th>
            <th>
                Coins/PR
            </th>
            <th>
                Pmt/Amt.
            </th>
            <th>
                Penalty
            </th>
            <th>
                Check
            </th>
            <th>
                Paid
            </th>
            <th>
                Reason
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-container="@item.ID">
                <td>
                    @( ((Int32)1) + @Model.IndexOf(item))
                </td>
                <td>
                    @item.PrimaryPayerName
                </td>
                <td>
                    @item.SecondaryPayerName
                </td>
                <td>
                    @item.PatientName
                </td>
                <td>
                    @item.PaymentDate.Value.ToShortDateString()
                </td>
                <td>
                    @item.DOS.Value.ToShortDateString()
                </td>
                <td>
                    @item.CPT
                </td>
                <td>
                    $@item.Billed
                </td>
                <td>
                    $@item.Allowed
                </td>
                <td>
                    $@item.Adjusted
                </td>
                <td>
                    $@item.Denied
                </td>
                <td>
                    $@item.CoInsurence
                </td>
                <td>
                    $@item.Amount
                </td>
                <td>
                    $@item.Penalty
                </td>
                <td>
                    $@item.Check
                </td>
                <td>
                    $@item.Paid
                </td>
                <td>
                    @item.Reason
                </td>
            </tr>
        }

    </tbody>
</table>
