@model PortalTemplate.Areas.UM.Models.ViewModels.AuthPreview.AdmissionPreviewViewModel


<span class="whitespace-nowrap padding-previewfields">
    @Html.DisplayNameFor(e => e.AdmissionRequestedDate)
    <b>@Html.DisplayFor(e => e.AdmissionRequestedDate)</b>
</span>
<span class="whitespace-nowrap padding-previewfields">
    @Html.DisplayNameFor(e => e.AdmissionFromDate)
    <b>@Html.DisplayFor(e => e.AdmissionFromDate)</b>
</span>
<span class="whitespace-nowrap padding-previewfields">
    @Html.DisplayNameFor(e => e.AdmissionApprovedDays)
    <b>@Html.DisplayFor(e => e.AdmissionApprovedDays)</b>
</span>

   




