@model PortalTemplate.Areas.UM.Models.ViewModels.AuthPreview.FacilityPreviewViewModel


<div class="x_content preview-content facilityProviderDiv">
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font">
        @Html.DisplayNameFor(m => m.FullName)
        <b>@Html.DisplayFor(m => m.FullName)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font">
        @Html.DisplayNameFor(m => m.TaxIDOrNPI)
        <b>@Html.DisplayFor(m => m.TaxIDOrNPI)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font">
        @Html.DisplayNameFor(m => m.PhoneNumber)
        <b>@Html.DisplayFor(m => m.PhoneNumber)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font">
        @Html.DisplayNameFor(m => m.FaxNumber)
        <b>@Html.DisplayFor(m => m.FaxNumber)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font">
        @Html.DisplayNameFor(m => m.FacilityType)
        <b>@Html.DisplayFor(m => m.FacilityType)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font">
        @Html.DisplayNameFor(m => m.ContactName)
        <b>@Html.DisplayFor(m => m.ContactName)</b>
    </span>
</div>


