@model PortalTemplate.Areas.UM.Models.ViewModels.AuthPreview.MemberInformationPreviewViewModel

<!----- MEMBER INFORMATION ----->

<div class="x_content  preview-content memberDetailsDiv">
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font ">
        @Html.DisplayNameFor(m => m.ReferenceNumber)
        <b>@Html.DisplayFor(m => m.ReferenceNumber)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font ">
        @Html.DisplayNameFor(m => m.MemberID)
        <b>@Html.DisplayFor(m => m.MemberID)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font ">
        @Html.DisplayNameFor(m => m.MemberName)
        <b>@Html.DisplayFor(m => m.MemberName)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font ">
        @Html.DisplayNameFor(m => m.DateOfBirth)
        <b>@Html.DisplayFor(m => m.DateOfBirth)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font ">
        @Html.DisplayNameFor(m => m.MemberContact.PrimaryContact)
        <b>@Html.DisplayFor(m => m.MemberContact.PrimaryContact)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields preview-highlight-font ">
        @Html.DisplayNameFor(m => m.Gender)
        <b>@Html.DisplayFor(m => m.Gender)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields ">
        @Html.DisplayNameFor(m => m.Age)
        <b>@Html.DisplayFor(m => m.Age)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields ">
        @Html.DisplayNameFor(m => m.MemberMembership.PlanName)
        <b>@Html.DisplayFor(m => m.MemberMembership.PlanName)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields ">
        @Html.DisplayNameFor(m => m.MemberContact.County)
        <b>@Html.DisplayFor(m => m.MemberContact.County)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields ">
        @Html.DisplayNameFor(m => m.MemberMembership.MemberEffectiveDate)
        <b>@Html.DisplayFor(m => m.MemberMembership.MemberEffectiveDate)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields ">
        @Html.DisplayNameFor(m => m.MemberMembership.TerminationDate)
        <b>@Html.DisplayFor(m => m.MemberMembership.TerminationDate)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields ">
        @Html.DisplayNameFor(m => m.PCP.Name)
        <b>@Html.DisplayFor(m => m.PCP.Name)</b>
    </span>
    
    <span class="whitespace-nowrap padding-previewfields ">
        @Html.DisplayNameFor(m => m.PCP.PhoneNumber)
        <b>@Html.DisplayFor(m => m.PCP.PhoneNumber)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields ">
        @Html.DisplayNameFor(m => m.PCP.FaxNumber)
        <b>@Html.DisplayFor(m => m.PCP.FaxNumber)</b>
    </span>
</div>


