@model PortalTemplate.Areas.UM.Models.ViewModels.AuthPreview.ProviderPreviewViewModel



<div class="x_content preview-content previewProviderDiv">

    <span class="whitespace-nowrap padding-previewfields">
        @Html.DisplayNameFor(m => m.FirstName)
        <b>@Html.DisplayFor(m => m.FirstName)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields">
        @Html.DisplayNameFor(m => m.LastName)
        <b>@Html.DisplayFor(m => m.LastName)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields">
        @Html.DisplayNameFor(m => m.TaxIDOrNPI)
        <b>@Html.DisplayFor(m => m.TaxIDOrNPI)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields">
        @Html.DisplayNameFor(m => m.PhoneNumber)
        <b>@Html.DisplayFor(m => m.PhoneNumber)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields">
        @Html.DisplayNameFor(m => m.FaxNumber)
        <b>@Html.DisplayFor(m => m.FaxNumber)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields">
        @Html.DisplayNameFor(m => m.Specialty)
        <b>@Html.DisplayFor(m => m.Specialty)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields">
        @Html.DisplayNameFor(m => m.ProviderType)
        <b>@Html.DisplayFor(m => m.ProviderType)</b>
    </span>
    <span class="whitespace-nowrap padding-previewfields">
        @Html.DisplayNameFor(m => m.ContactName)
        <b>@Html.DisplayFor(m => m.ContactName)</b>
    </span>
</div>



