@model PortalTemplate.Areas.UM.Models.ViewModels.AuthPreview.ProviderPreviewViewModel

<div class="x_panel zero-padding-left-right">
    <div class=" x_content zero-padding-left-right">
        <div class="inline_block font_13 width_40">
            @Html.DisplayNameFor(m => m.Name)
            <b>@Html.DisplayFor(m => m.Name)</b>
        </div>
        <div class="inline_block font_13 width_33">
            @Html.DisplayNameFor(m => m.TaxIDOrNPI)
            <b>@Html.DisplayFor(m => m.TaxIDOrNPI)</b>
        </div>
        <div class="inline_block font_13 width_19">
            @Html.DisplayNameFor(m => m.PhoneNumber)
            <b>@Html.DisplayFor(m => m.PhoneNumber)</b>
        </div>
        <div class="inline_block font_13 width_33">
            @Html.DisplayNameFor(m => m.FaxNumber)
            <b>@Html.DisplayFor(m => m.FaxNumber)</b>
        </div>
        <div class="inline_block font_13 width_33">
            @Html.DisplayNameFor(m => m.FacilityType)
            <b>@Html.DisplayFor(m => m.FacilityType)</b>
        </div>
        <div class="inline_block font_13 width_19">
            @Html.DisplayNameFor(m => m.ContactName)
            <b>@Html.DisplayFor(m => m.ContactName)</b>
        </div>
    </div>
</div>

