@using PratianUI
@model IEnumerable<PortalTemplate.Areas.CredAxisProduct.Models.ProviderProfileViewModel.WorkHistoryViewModel.ProfessionalWorkExperienceViewModel>
@{
    var ProfessionalWorkExperienceCount = 0;
    var ObjectPresent = 1;
}
<fieldset class="fsStyle " id="AddEditProfWorkExp">
    <legend class="legendStyle">
        @foreach (var item in Model)
        {
            if (item == null)
            {
                <span class="theme_depend text-uppercase create-auth-legends">
                    Add Professional Work Experience
                </span>
                ObjectPresent = 0;
            }
        }
        @if (ObjectPresent != 0)
        {
            <span class="theme_depend text-uppercase create-auth-legends">
                Edit Professional Work Experience
            </span>
        }
    </legend>
    @{
        List<SelectListItem> listItems = new List<SelectListItem>();
        listItems.Add(new SelectListItem
             {
                 Text = "Exemplo1",
                 Value = "Exemplo1"
             });
        listItems.Add(new SelectListItem
             {
                 Text = "Exemplo2",
                 Value = "Exemplo2",
                 Selected = true
             });
        listItems.Add(new SelectListItem
             {
                 Text = "Exemplo3",
                 Value = "Exemplo3"
             });
    }
    @foreach (var item in Model)
    {
        ProfessionalWorkExperienceCount = ProfessionalWorkExperienceCount + 1;
        <div class="x_content zero-padding-left mutiple-data">
            @if (item != null)
            {
                <div class="SubHeaderSpacing1">
                    <span class="text-uppercase TableHeading">Edit Professional Work Experience - @ProfessionalWorkExperienceCount</span>
                </div>
            }
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.EmployerInformation) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.EmployerInformation, new { @class = "form-control input-xs", @placeholder = "Name" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.Street) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.Street, new { @class = "form-control input-xs", @placeholder = "Street" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.SuiteBuilding) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.SuiteBuilding, new { @class = "form-control input-xs", @placeholder = "Suite/Building" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.City) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.City, new { @class = "form-control input-xs", @placeholder = "City" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.State) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.State, new { @class = "form-control input-xs", @placeholder = "State" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.ZipCode) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.ZipCode, new { @class = "form-control input-xs", @placeholder = "Zip Code" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.Country) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.Country, new { @class = "form-control input-xs", @placeholder = "Country" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.County) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.County, new { @class = "form-control input-xs", @placeholder = "County" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.PhoneNumber) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.PhoneNumber, new { @class = "form-control input-xs", @placeholder = "Phone Number" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.FaxNumber) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.FaxNumber, new { @class = "form-control input-xs", @placeholder = "Fax Number" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.SupervisorName) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.SupervisorName, new { @class = "form-control input-xs", @placeholder = "Name" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.JobTitle) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.JobTitle, new { @class = "form-control input-xs", @placeholder = "Title" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.Email) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.Email, new { @class = "form-control input-xs", @placeholder = "Email" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.StartDate) </label>
                </span>
                <span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.PratianUiDatePickerFor(e => item.StartDate, new { @class = "form-control input-xs", placeholder = "START DATE" })
                        @*@Html.TextBoxFor(e => item.StartDate, new { @class = "form-control input-xs", @placeholder = "Start Date" })*@
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.EndDate) </label>
                </span>
                <span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.PratianUiDatePickerFor(e => item.EndDate, new { @class = "form-control input-xs", placeholder = "END DATE" })
                        @*@Html.TextBoxFor(e => item.EndDate, new { @class = "form-control input-xs", @placeholder = "End Date" })*@
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.Department) </label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.TextBoxFor(e => item.Department, new { @class = "form-control input-xs", @placeholder = "Department" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.ProviderType) </label>
                </span>
                <span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label">
                        @Html.DropDownList("ProviderType", listItems, "Select", new { @class = "form-control input-xs" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.IsAbleToContactEMployer) </label>
                </span>
                <span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButtonFor(e => item.IsAbleToContactEMployer, new { color = "green", @checked = "checked" }) YES
                        @Html.PratianUiRadioButtonFor(e => item.IsAbleToContactEMployer, new { color = "red" }) NO
                        @*@Html.RadioButtonFor(e => item.IsAbleToContactEMployer, true) Yes
                            @Html.RadioButtonFor(e => item.IsAbleToContactEMployer, false) No*@
                    </span>
                </span>
            </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">REASON FOR DEPARTURE</label>
                </span>
                <span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">

                    <span class="col-lg-7 input-group  nopadding">
                        <input type="text" class="form-control input-xs" placeholder="Document">
                        <span class="input-group-addon File_uploadStyle"><i class="fa fa-upload"></i></span>
                    </span>

                </span>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">EXPERIENCE DOCUMENT</label>
                </span>
                <span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">

                    <span class="col-lg-7 input-group  nopadding">
                        <input type="text" class="form-control input-xs" placeholder="Document">
                        <span class="input-group-addon File_uploadStyle"><i class="fa fa-upload"></i></span>
                    </span>

                </span>
            </div>

        </div>
    }
    <div class="row">
        <div class="row col-lg-12 zero-padding-left-right margin-top-5px">
            <button class="btn btn-success btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/WorkHistory/GetProfessionalWorkExperienceAddEditPartial" data-tab-container="ProfessionalWorkExperienceDiv" value=""> Save</button>
            <button class="btn btn-danger btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/WorkHistory/GetProfessionalWorkExperienceAddEditPartial" data-tab-container="ProfessionalWorkExperienceDiv" value="">Cancel</button>
        </div>
    </div>
</fieldset>
