@model IEnumerable<PortalTemplate.Areas.CredAxisProduct.Models.ProviderProfileViewModel.WorkHistoryViewModel.ProfessionalWorkExperienceViewModel>
@{
    var ProfessionalWorkExperienceCount = 0;
}
<fieldset class="fsStyle" id="ViewProfWorkExp">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            <span class="transparent-font-color">________</span>
            Professional Work Experience
            <span class="transparent-font-color">________</span> 
        </span>
        &nbsp;&nbsp; <span class="text-uppercase ">
            <span class="fstyleBtnStyle">
                <button class="btn btn-success btn-xs add_note_btn list-item" data-tab-path="/CredAxis/WorkHistory/GetProfessionalWorkExperienceAddEditPartial?model=@Model&ActionType=Add" data-tab-container="ProfessionalWorkExperienceDiv">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/WorkHistory/GetProfessionalWorkExperienceAddEditPartial?model=@Model&ActionType=Edit" data-tab-container="ProfessionalWorkExperienceDiv">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-warning btn-xs add_note_btn historyBtnCSS" data-toggle="collapse" data-target="#ProfessionalWorkExperienceHistory">
                    <i class="fa fa-history"></i>
                </button>
                <button class="btn btn-default btn-xs helpBtnCSS" data-toggle="popover" data-trigger="hover" data-content="*Minimum of 10 years of experience" data-original-title="" title="">
                    <i class="fa fa-question"></i>
                </button>
                <a class="print_button_for_ProfWorkExp hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                    <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                </a>
            </span>
        </span>
    </legend>
    @foreach (var item in Model)
    {
        ProfessionalWorkExperienceCount = ProfessionalWorkExperienceCount + 1;
        if (ProfessionalWorkExperienceCount <= 2)
        {
            <div class="x_content zero-padding-left mutiple-data">
                <div class="SubHeaderSpacing1">
                    <span class="text-uppercase TableHeading">Professional Work Experience-@item.ID</span>&nbsp; <button onclick="groupmodalhistory('WorkHistory','RemoveProfessionalWorkExp','@item.ID','professionalWorkExperience')" class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.EmployerInformation):</label>
                    <span class="theme_label_data">@item.EmployerInformation</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Street):</label>
                    <span class="theme_label_data">@item.Street</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.SuiteBuilding) :</label>
                    <span class="theme_label_data">@item.SuiteBuilding</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                    <span class="theme_label_data">@item.City </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.State):</label>
                    <span class="theme_label_data">@item.State</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode):</label>
                    <span class="theme_label_data">@item.ZipCode</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                    <span class="theme_label_data">@item.Country</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                    <span class="theme_label_data">@item.County</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.PhoneNumber) :</label>
                    <span class="theme_label_data">@item.PhoneNumber</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.FaxNumber) :</label>
                    <span class="theme_label_data">@item.FaxNumber</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.SupervisorName) :</label>
                    <span class="theme_label_data">@item.SupervisorName</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.JobTitle) :</label>
                    <span class="theme_label_data">@item.JobTitle</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Email):</label>
                    <span class="theme_label_data">@item.Email</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.StartDate):</label>
                    <span class="theme_label_data">@item.StartDate</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.EndDate) :</label>
                    <span class="theme_label_data">@item.EndDate</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Department) :</label>
                    <span class="theme_label_data">@item.Department</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.ProviderType):</label>
                    <span class="theme_label_data">@item.ProviderType</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.IsAbleToContactEMployer) :</label>
                    @if(@item.IsAbleToContactEMployer == true)
                    {
                        <span class="theme_label_data">Yes</span>
                    }
                    else
                    {
                        <span class="theme_label_data">No</span>
                    }
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label uppercase">REASON FOR DEPARTURE :</label>
                    <span class="theme_label_data"><i class="fa fa-file"></i></span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label uppercase">EXPERIENCE DOCUMENT :</label>
                    <span class="theme_label_data"><i class="fa fa-file"></i></span>
                </div>

            </div>
            if (ProfessionalWorkExperienceCount == 2)
            {
                <span class="view-more pull-right" id="moreProfessionalWorkExperience" data-toggle="collapse" data-target=".ViewMoreProfessionalWorkExperience" onclick="ShowHideAddView('lessProfessionalWorkExperience', 'moreProfessionalWorkExperience')">View More</span>
            }
        }
        else
        {

            <div class="x_content zero-padding-left mutiple-data collapse ViewMoreProfessionalWorkExperience">
                <div class="SubHeaderSpacing1">
                    <span class="text-uppercase TableHeading">Professional Work Experience-@item.ID</span>&nbsp; <button data-toggle="modal" data-target="#BhaukalId" class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.EmployerInformation):</label>
                    <span class="theme_label_data">@item.EmployerInformation</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Street):</label>
                    <span class="theme_label_data">@item.Street</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.SuiteBuilding) :</label>
                    <span class="theme_label_data">@item.SuiteBuilding</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                    <span class="theme_label_data">@item.City </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.State):</label>
                    <span class="theme_label_data">@item.State</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode):</label>
                    <span class="theme_label_data">@item.ZipCode</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                    <span class="theme_label_data">@item.Country</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                    <span class="theme_label_data">@item.County</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.PhoneNumber) :</label>
                    <span class="theme_label_data">@item.PhoneNumber</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.FaxNumber) :</label>
                    <span class="theme_label_data">@item.FaxNumber</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.SupervisorName) :</label>
                    <span class="theme_label_data">@item.SupervisorName</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.JobTitle) :</label>
                    <span class="theme_label_data">@item.JobTitle</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Email):</label>
                    <span class="theme_label_data">@item.Email</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.StartDate):</label>
                    <span class="theme_label_data">@item.StartDate</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.EndDate) :</label>
                    <span class="theme_label_data">@item.EndDate</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.Department) :</label>
                    <span class="theme_label_data">@item.Department</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.ProviderType):</label>
                    <span class="theme_label_data">@item.ProviderType</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.IsAbleToContactEMployer) :</label>
                    <span class="theme_label_data">@item.IsAbleToContactEMployer</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">REASON FOR DEPARTURE :</label>
                    <span class="theme_label_data"><i class="fa fa-file"></i></span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                    <label class="theme_label">EXPERIENCE DOCUMENT :</label>
                    <span class="theme_label_data"><i class="fa fa-file"></i></span>
                </div>
            </div>
      
        }
        if (ProfessionalWorkExperienceCount == Model.Count())
        {
            <span class="view-more hidden pull-right" id="lessProfessionalWorkExperience" data-toggle="collapse" data-target=".ViewMoreProfessionalWorkExperience" onclick="ShowHideAddView('lessProfessionalWorkExperience', 'moreProfessionalWorkExperience')">View Less</span>
        }

    }

    <fieldset class="fsStyle remove_shadow collapse width-100" id="ProfessionalWorkExperienceHistory">

        @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/WorkHistory/ProfessionalWorkExperience/_HistoryProfessionalWorkExperience.cshtml")

    </fieldset>
</fieldset>



<div class="modal fade " tabindex="-1" role="dialog" id="ProfessionalWorkExperienceView" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <form class="modal-content">
            <div class="modal-header zero_padding_bottom">
                <div class="row" style="text-align: center;">
                    <span class="modalTitle">Professional Work Experience History</span>
                    <span style="margin-bottom: 0px;margin-right: 12px;" data-dismiss="modal" class="pull-right"><i class="fa fa-times btn btn-danger"></i></span>
                </div>
            </div>

            <div class="modal-body modalbodyheight  ">
                <div class="x_content zero-padding-left">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Employer Name :</label>
                        <span class="theme_label_data">MEDICAL RESOURCES</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Street/P. O. Box No :</label>
                        <span class="theme_label_data">11012 N DALE MABRY </span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Suite/Building :</label>
                        <span class="theme_label_data">SUITE 304</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">City :</label>
                        <span class="theme_label_data">TAMPA</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">State :</label>
                        <span class="theme_label_data">Florida</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Zip Code :</label>
                        <span class="theme_label_data">33618-3821</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Country :</label>
                        <span class="theme_label_data">UNITED STATES</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">County :</label>
                        <span class="theme_label_data">HILLSBOROUGH</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Phone Number :</label>
                        <span class="theme_label_data">+1 - (124) 563-818</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Fax Number :</label>
                        <span class="theme_label_data">+1 - (312) 342-5122</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Supervisor Name :</label>
                        <span class="theme_label_data">N/A</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Job Title :</label>
                        <span class="theme_label_data">MEDICAL</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Email :</label>
                        <span class="theme_label_data">SMITHJOHN@YAHOO.COM</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Start Date :</label>
                        <span class="theme_label_data">10/22/2006</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">End Date :</label>
                        <span class="theme_label_data">10/22/2008</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Department :</label>
                        <span class="theme_label_data">N/A</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Provider Type :</label>
                        <span class="theme_label_data">Not Available</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                        <label class="theme_label">Can Contact Employer Option ? :</label>
                        <span class="theme_label_data">Yes</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>