@model AHC.CD.WebUI.MVC.Areas.Profile.Models.EducationHistory.ResidencyInternshipDetailViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

<div class="clearfix"></div>
<div class="form-style">
    <form>
        <div class="col-lg-12 zero-padding-left-right-div">
            <span ng-if="tempSecondObject.ResidencyInternshipDetailID">
                @Html.HiddenFor(model => model.ResidencyInternshipDetailID, new { ng_value = "tempSecondObject.ResidencyInternshipDetailID" })
            </span>
            <div class="col-lg-4 form-group">
                @Html.LabelFor(model => model.PreferenceType, new { @class = "control-label small" })
                <div>
                    @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.PreferenceType)))
                    {
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.PreferenceType, (int)value, new { data_ng_model = "tempSecondObject.PreferenceType" }) @value.ToString()
                        </label>
                    }
                </div>
                @Html.ValidationMessageFor(model => model.PreferenceType, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-6 form-group">
                @Html.LabelFor(model => model.ResidencyInternshipProgramType, new { @class = "control-label small" })
                <div>
                    @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.ResidencyInternshipProgramType)))
                    {
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.ResidencyInternshipProgramType, (int)value, new { data_ng_model = "tempSecondObject.ResidencyInternshipProgramType" }) @value.GetType().GetMember(value.ToString())[0].GetCustomAttributesData()[0].ToString().Split('"')[1]
                        </label>
                    }
                </div>
                @Html.ValidationMessageFor(model => model.ResidencyInternshipProgramType, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-4 form-group">
                @Html.LabelFor(model => model.SpecialtyID, new { @class = "control-label small" })
                <div>
                    <select class="form-control input-sm" data-val="true" data-val-required="Please select the Specialty" id="SpecialtyID" name="SpecialtyID" ng-model="tempSecondObject.SpecialtyID">
                        <option ng-hide="tempObject.SpecialtyID" selected disabled hidden value="">--select--</option>
                        <option ng-repeat=" speciality in masterSpecialties track by $index" value="{{speciality.SpecialtyID}}">{{speciality.Name}}</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.SpecialtyID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-4 form-group">

                @Html.LabelFor(model => model.DirectorName, new { @class = "control-label small" })
                <div>
                    @Html.TextBoxFor(model => model.DirectorName, new { @class = "form-control input-sm", placeholder = "DirectorName", data_ng_model = "tempSecondObject.DirectorName" })
                </div>
                @Html.ValidationMessageFor(model => model.DirectorName, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-4 form-group">
                @Html.LabelFor(model => model.Department, new { @class = "control-label small" })
                <div>
                    @Html.TextBoxFor(model => model.Department, new { @class = "form-control input-sm", placeholder = "Department", data_ng_model = "tempSecondObject.Department" })
                </div>
                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-4 form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "control-label small" })
                <div>
                    @Html.TextBoxFor(model => model.StartDate, new { data_val_date = "Please enter date in mm/dd/yyyy format", data_bs_datepicker = "bs-datepicker", date_format="MM/dd/yyyy", @class = "form-control input-sm", placeholder = "mm/dd/yyyy", data_ng_model = "tempSecondObject.StartDate" })
                </div>
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-4 form-group">
                @Html.LabelFor(model => model.EndDate, new { @class = "control-label small" })
                <div>
                    @Html.TextBoxFor(model => model.EndDate, new { data_val_date = "Please enter date in mm/dd/yyyy format", data_bs_datepicker = "bs-datepicker", date_format = "MM/dd/yyyy", @class = "form-control input-sm", placeholder = "mm/dd/yyyy", data_ng_model = "tempSecondObject.EndDate" })
                </div>
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12 zero-padding-left-right-div">
            <div class="form-group" ng-class="{'col-lg-11':tempSecondObject.DocumentPath,'col-lg-12':!tempSecondObject.DocumentPath}">

                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="form-control" data-trigger="fileinput">
                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                        <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-addon btn btn-default btn-sm btn-file">
                        <span class="fileinput-new">@Html.LabelFor(model => model.ResidecncyCertificateDocumentFile, new { @class = "control-label small" })</span>
                        <span class="fileinput-exists">Change</span>
                        @Html.TextBoxFor(model => model.ResidecncyCertificateDocumentFile, new { type = "file", ng_data_model = "tempSecondObject.ResidecncyCertificateDocumentFile" })
                    </span>

                    <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
                @Html.HiddenFor(model => model.DocumentPath, new { ng_value = "tempSecondObject.DocumentPath" })
                @Html.ValidationMessageFor(model => model.ResidecncyCertificateDocumentFile, "", new { @class = "text-danger" })
            </div>
            @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Preview, ViewBag.Roles, false))
            {
                <div ng-if="tempSecondObject.DocumentPath!=null" class="form-group col-md-1">
                    <a href="/Document/View?path={{tempSecondObject.DocumentPath}}" target="_blank"><i class="fa fa-3x fa-file"></i></a>
                </div>
            }

        </div>

        <div class="clearfix"></div>
        <div ng-show="activeMessageDiv=='ErrorInResidencyDetails'+$index" class="col-lg-12">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Error Lists :<br />
                <span ng-repeat="err in ResidencyDetailsErrorList track by $index">{{err}}</span>
            </div>
        </div>
        <br />

        @*<div ng-show="ErrorInResidencyDetails" class="col-lg-12">
            <div class="alert alert-danger" role="alert">
                <span class="pull-right" ng-click="ErrorInResidencyDetails=false"><i class="fa fa-times"></i></span>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Error Lists : <br />
                <span ng-repeat="err in ResidencyDetailsErrorList track by $index">{{err}}</span>
            </div>
        </div>*@
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-md-12 form-group">
                @*<input type="submit" name="Save" value="Save" />*@
                <button ng-show="visibilitySecondControl==($index+'_editresidency') || visibilitySecondControl=='addresidency'" type="button" class="btn btn-warning btn-sm" ng-click="operateSecondCancelControl(''); datePickerReset();">Cancel</button>
                <button ng-show="visibilitySecondControl==($index+'_editresidency')" type="button" class="btn btn-primary btn-sm pull-right" ng-click="updateResidency(tempObject,tempSecondObject,$index)">Update</button>
                <button ng-show="visibilitySecondControl=='addresidency'" type="button" class="btn btn-primary btn-sm pull-right" ng-click="updateResidency(tempObject,tempSecondObject)">Add</button>
                
                
            </div>
        </div>
        
    </form>

</div>

