@model PortalTemplate.Areas.Auditing.Models.AuditingList.AuditingQueuesCountViewModel
<p-link filepath="~/Areas/Auditing/Contents/CSS/AppCss/AuditingList/NonMinified/AuditingList.css" rel="stylesheet"></p-link>
<div class="AuditingListContainter">
    <div class="inner_menu_container padding_left_right_12px">
        <ul class="tabs-menu clearfix">
            <li class="current">
                <a href="#Coder" class="list-item no_underline" data-target-url="/Auditing/Auditing/GetCoderList">
                    <span class="charge badge CoderBadge">@Model.CoderQueueCount</span> Coder
                </a>
            </li>
            <li class="">
                <a href="#Committee" class="list-item no_underline" data-target-url="/Auditing/Auditing/GetCommitteeList">
                    <span class="charge badge CommitteeBadge">@Model.CommitteeQueueCount</span> Committee
                </a>
            </li>
            <li class="">
                <a href="#Provider" class="list-item no_underline" data-target-url="/Auditing/Auditing/GetProviderList">
                    <span class="charge badge ProviderBadge">@Model.ProviderQueueCount</span> Provider
                </a>
            </li>
            <li>
                <a href="#Qc" class="list-item no_underline" data-target-url="/Auditing/Auditing/GetQCList">
                    <span class="charge badge QCBadge">@Model.QcQueueCount</span> QC
                </a>
            </li>        
            <li>
                <a href="#ReadytoBill" class="list-item no_underline" data-target-url="/Auditing/Auditing/GetRBAuditingList">
                    <span class="charge badge RBBadge">@Model.RBQueueCount</span> Ready to Bill
                </a>
            </li>
            <li>
                <a href="#Draft" class="list-item no_underline" data-target-url="/Auditing/Auditing/GetDraftAuditingList">
                    <span class="charge badge RBBadge">@Model.DraftListCount</span> Drafts
                </a>
            </li>
           
            <li>
                <a href="#Inactive" class="list-item no_underline" data-target-url="/Auditing/Auditing/GetInactiveList">
                    <span class="charge badge InactiveBadge">@Model.InactiveQueueCount</span> Inactive
                </a>
            </li>
        </ul>
    </div>
    <div class="tab memberTabsPadding AuditTabContentContainer padding_left_right_12px">

        <div id="Coder" class="custommembertab-content">

        </div>
        <div id="Committee" class="custommembertab-content">

        </div>
        <div id="Provider" class="custommembertab-content">

        </div>
        <div id="Qc" class="custommembertab-content">

        </div>
        <div id="ReadytoBill" class="custommembertab-content">

        </div>
        <div id="Draft" class="custommembertab-content">

        </div>
        <div id="Inactive" class="custommembertab-content">

        </div>
    </div>
</div>
<p-script filepath="~/Areas/Auditing/Scripts/AppJs/AuditingList/NonMinified/AuditingList.js"></p-script>
