<div class="form-style" ng-if="visibilitySecondControl != 'BussinessManagerEdit'">
    <fieldset class="fsStyle col-lg-12 padding_top_down_5px nopadding" id="ViewHospitalPrev">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="transparent-font-color">__</span>
                ADD OFFICE MANAGER/BUSINESS OFFICE STAFF CONTACT
                <span class="transparent-font-color">__</span>
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">

            </span>
        </legend>
        <div>
            <div class="col-lg-12 col-md-8 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-2 theme_label nopadding">
                    <label class="theme_label">Use Existing Office Manager :</label>
                </span>
                <span class="col-lg-6 nopadding">
                    <select>
                        <option value="volvo">--Select--</option>
                        <option value="volvo" class="list-item" data-tab-path="/CredAxis/PracticeLocation/EditOfficeStaff" data-tab-container="PLOfficeStaffContactDetails">Credentialing Department</option>
                        <option value="saab" class="btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/EditOfficeStaff" data-tab-container="PLOfficeStaffContactDetails">Angel Nero</option>
                        <option value="mercedes" class="list-item" data-tab-path="/CredAxis/PracticeLocation/EditOfficeStaff" data-tab-container="PLOfficeStaffContactDetails">Cinthia Serrano</option>
                    </select>
                    @*@Html.DropDownListFor("", OfficeManager, new { @class = "form-control input-xs text-uppercase", @placeholder = "Select", @id = "" })*@
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5 theme_label nopadding">
                    <label class="theme_label">First Name :</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    @Html.TextBox("firstName", "Cinthia", new { @class = "form-control input-xs" })
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5 theme_label nopadding">
                    <label class="theme_label">Middle Name :</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    @Html.TextBox("middleName", "Jam", new { @class = "form-control input-xs" })
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5 theme_label nopadding">
                    <label class="theme_label">Last Name :</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    @Html.TextBox("lastName", "Serrano", new { @class = "form-control input-xs" })
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5 theme_label nopadding">
                    <label class="theme_label">Telephone :</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    @Html.TextBox("phone", "+1 - (124) 563-818", new { @class = "form-control input-xs" })
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5 theme_label nopadding">
                    <label class="theme_label">Fax :</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    @Html.TextBox("fax", "+1 - (312) 342-5122", new { @class = "form-control input-xs" })
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5 theme_label nopadding">
                    <label class="theme_label">E-Mail Address :</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    @Html.TextBox("email", "Serrano@accesshealthcarellc.net", new { @class = "form-control input-xs" })
                </span>
            </div>

        </div>
        <div class="row col-lg-12 zero-padding-left-right">
            <button class="btn btn-success btn-xs yahanClickKar  list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/PracticeLocation/ViewOfficeStaff" data-tab-container="PLOfficeStaffContactDetails" value="">Save</button>
            <button class="btn btn-danger btn-xs yahanClickKar list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/PracticeLocation/ViewOfficeStaff" data-tab-container="PLOfficeStaffContactDetails" value="">Cancel</button>
        </div>
    </fieldset>
</div>

