@model AHC.CD.WebUI.MVC.Areas.Profile.Models.PracticeLocationInformation.PracticeLocationViewModel

@*Facility General Information Start*@
<fieldset class="wrap-words">
    <legend>General Information</legend>
    <div class="col-md-12">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.FacilityName, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityName || 'Not Available'}}</i>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.Name || 'Not Available'}}</i>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.Street || 'Not Available'}}</i>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Building, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.Building || 'Not Available'}}</i>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.City || 'Not Available'}}</i>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.State || 'Not Available'}}</i>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.ZipCode || 'Not Available'}}</i>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.Country || 'Not Available'}}</i>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.County || 'Not Available'}}</i>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label" ng-show="PracticeLocationDetailHistory.Facility.Telephone">{{PracticeLocationDetailHistory.Facility.CountryCodeTelephone}} - </i><i class="data-label">{{PracticeLocationDetailHistory.Facility.Telephone || 'Not Available'}}</i>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label" ng-show="PracticeLocationDetailHistory.Facility.Fax">{{PracticeLocationDetailHistory.Facility.CountryCodeFax}} - </i><i class="data-label">{{PracticeLocationDetailHistory.Facility.Fax || 'Not Available'}}</i>
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label small" })
            <div>
                <i class="data-label">{{PracticeLocationDetailHistory.Facility.EmailAddress || 'Not Available'}}</i>
            </div>
        </div>
    </div>

</fieldset>
<div ng-show="activeMessageDiv=='updatedFacility'" class="alert alert-success" role="alert">
    <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
    {{messageDesc}}
</div>
@*Facility General Information End*@

<div ng-if="PracticeLocationToggle">
    @*Facility Accessibilities Information Start*@
    <fieldset class="wrap-words">
        <legend>
            Accessibilities
        </legend>
        <div id="newPracLocAccessibilitiesFormDiv">
            <div class="col-lg-12 zero-padding-left-right-div">
                <div class="form-group zero-padding-left-right-div">
                    <div class="col-md-12">
                        <div class="col-md-6 ">
                            <label class="control-label small">{{masterAccessibilityQuestions[0].ShortTitle}}</label>
                            <div>
                                <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[0].Answer || 'Not Available'}}</i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <hr class="zero-margin-top-bottom-hr">
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label small">{{masterAccessibilityQuestions[1].Title}}</label>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label small">{{masterAccessibilityQuestions[1].ShortTitle}}</label>
                            <div>
                                <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[1].Answer || 'Not Available'}}</i>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label small">{{masterAccessibilityQuestions[2].ShortTitle}}</label>
                            <div>
                                <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[2].Answer || 'Not Available'}}</i>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label small">{{masterAccessibilityQuestions[3].ShortTitle}}</label>
                            <div>
                                <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[3].Answer || 'Not Available'}}</i>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label small">Other Handicapped Access</label>
                            <div>
                                <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.OtherHandicappedAccess || 'Not Available'}}</i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="zero-margin-top-bottom-hr">
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label small">{{masterAccessibilityQuestions[4].ShortTitle}}</label>
                            <div>
                                <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].Answer || 'Not Available'}}</i>
                            </div>
                            <br />
                        </div>
                        <div ng-show="PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[4].AnswerYesNoOption == '1'">
                            <div class="col-md-3">
                                <label class="control-label small">{{masterAccessibilityQuestions[5].ShortTitle}}</label>
                                <div>
                                    <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[5].Answer || 'Not Available'}}</i>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label small">{{masterAccessibilityQuestions[6].ShortTitle}}</label>
                                <div>
                                    <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[6].Answer || 'Not Available'}}</i>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label small">Other Disability Services</label>
                                <div>
                                    <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.OtherDisabilityServices || 'Not Available'}}</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="zero-margin-top-bottom-hr">
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label small">{{masterAccessibilityQuestions[7].ShortTitle}}</label>
                            <div>
                                <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].Answer || 'Not Available'}}</i>
                            </div>
                            <br />
                        </div>
                        <div ng-show="PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[7].AnswerYesNoOption == '1'">
                            <div class="col-md-3">
                                <label class="control-label small">{{masterAccessibilityQuestions[8].ShortTitle}}</label>
                                <div>
                                    <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[8].Answer || 'Not Available'}}</i>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label small">{{masterAccessibilityQuestions[9].ShortTitle}}</label>
                                <div>
                                    <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[9].Answer || 'Not Available'}}</i>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label small">{{masterAccessibilityQuestions[10].ShortTitle}}</label>
                                <div>
                                    <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.FacilityAccessibilityQuestionAnswers[10].Answer || 'Not Available'}}</i>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label small">Other Transportation Access</label>
                                <div>
                                    <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Accessibility.OtherTransportationAccess || 'Not Available'}}</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </fieldset>
    @*Facility Accessibilities Information End*@

    @*Facility Services Information Start*@
    <fieldset class="wrap-words">
        <legend>
            Services
        </legend>
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="Contact" class="control-label">Does this location provide any of the following services?</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.FacilityDetail.Service.LaboratoryServicesYesNoOption, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.LaboratoryServices || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div ng-show="PracticeLocationDetailHistory.Facility.FacilityDetail.Service.LaboratoryServicesYesNoOption == '1'" class="form-group col-md-8">
                        @Html.LabelFor(model => model.FacilityDetail.Service.LaboratoryAccreditingCertifyingProgram, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.LaboratoryAccreditingCertifyingProgram || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="zero-margin-top-bottom-hr">
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.FacilityDetail.Service.RadiologyServicesYesNoOption, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.RadiologyServices || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div ng-show="PracticeLocationDetailHistory.Facility.FacilityDetail.Service.RadiologyServicesYesNoOption == '1'" class="form-group col-md-8">
                        @Html.LabelFor(model => model.FacilityDetail.Service.RadiologyXRayCertificateType, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.RadiologyXRayCertificateType || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="zero-margin-top-bottom-hr">
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <div class="form-group col-md-4" ng-repeat="serviceQuestion in masterServiceQuestions">
                        <label class="control-label small">{{serviceQuestion.ShortTitle}}</label>
                        <div>
                            <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.FacilityServiceQuestionAnswers[$index].Answer || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="zero-margin-top-bottom-hr">
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FacilityDetail.Service.IsAnesthesiaAdministeredYesNoOption, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.IsAnesthesiaAdministered || 'Not Available'}}</i>
                        </div>
                    </div>
                    <div ng-show="PracticeLocationDetailHistory.Facility.FacilityDetail.Service.IsAnesthesiaAdministeredYesNoOption == '1'">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.FacilityDetail.Service.AnesthesiaCategory, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.AnesthesiaCategory || 'Not Available'}}</i>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <label class="control-label small col-md-12">Who Administers It?</label>
                        <div class="col-md-12 zero-padding-left-right-div">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.FacilityDetail.Service.AnesthesiaAdminFirstName, htmlAttributes: new { @class = "control-label small" })
                                <div>
                                    <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.AnesthesiaAdminFirstName || 'Not Available'}}</i>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.FacilityDetail.Service.AnesthesiaAdminLastName, htmlAttributes: new { @class = "control-label small" })
                                <div>
                                    <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.AnesthesiaAdminLastName || 'Not Available'}}</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="zero-margin-top-bottom-hr" />
                <div class="clearfix"></div><br />
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FacilityDetail.Service.PracticeTypeID, htmlAttributes: new { @class = "control-label small" })
                        <div ng-if="PracticeLocationDetailHistory.Facility.FacilityDetail.Service.PracticeTypeID == '1'">
                            <i class="data-label">Solo Practice</i>
                        </div>
                        <div ng-if="PracticeLocationDetailHistory.Facility.FacilityDetail.Service.PracticeTypeID == '2'">
                            <i class="data-label">Single Specialty Group</i>
                        </div>
                        <div ng-if="PracticeLocationDetailHistory.Facility.FacilityDetail.Service.PracticeTypeID == '3'">
                            <i class="data-label">Multi-Specialty Group</i>
                        </div>
                        <div ng-if="!PracticeLocationDetailHistory.Facility.FacilityDetail.Service.PracticeTypeID">
                            <i class="data-label">Not Available</i>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FacilityDetail.Service.AdditionalOfficeProcedures, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{PracticeLocationDetailHistory.Facility.FacilityDetail.Service.AdditionalOfficeProcedures || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    @*Facility Services Information End*@

    @*Facility Languages Information Start*@
    @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_ViewFacilityLanguageHistory.cshtml")
    @*Facility Languages Information End*@

    <fieldset class="wrap-words">
        <legend>
            Office Hours
        </legend>
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-md-2 form-group">
                <label class="control-label small">Day</label>
            </div>
            <div class="col-md-10">
                <div class="col-md-4 form-group">
                    <label class="control-label small">Start Time</label>
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label small">End Time</label>
                </div>
            </div>
            <div class="col-md-12 zero-padding-left-right-div" ng-repeat="PracticeDay in PracticeLocationDetailHistory.Facility.FacilityDetail.PracticeOfficeHour.PracticeDays">
                <div class="col-md-2 form-group">
                    <label class="control-label small">{{PracticeDay.DayName || 'Not Available'}}</label>
                </div>
                <div class="col-md-10">
                    <!-- ngRepeat: t in Days[0].Times -->
                    <div ng-repeat="DailyHour in PracticeDay.DailyHours" class="col-md-12 zero-padding-left-right-div ng-scope">
                        <div class="col-md-4 form-group">
                            <i>{{ DailyHour.DayOff == 'YES' ? 'Day Off' : DailyHour.StartTime }}</i>
                        </div>
                        <div class="col-md-4 form-group">
                            <i>{{ DailyHour.DayOff == 'YES' ? 'Day Off' : DailyHour.EndTime }}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="wrap-words">
        <legend>
            Mid-Level Practitioners
        </legend>
        <div class="col-lg-12">
            <table ng-if="PracticeLocationDetailHistory.Facility.FacilityDetail.FacilityPracticeProviders.length < 1 || !(PracticeLocationDetailHistory.Facility.FacilityDetail.FacilityPracticeProviders)" class=" table table-bordered table-condensed customtbodystyle table-striped">
                <tbody>
                    <tr>
                        <td>No Mid-Levels Available For This Facility</td>
                    </tr>
                </tbody>
            </table>
            <table ng-if="PracticeLocationDetailHistory.Facility.FacilityDetail.FacilityPracticeProviders.length > 0" class=" table table-bordered table-condensed customtbodystyle table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Middle name</th>
                        <th>Last Name</th>
                        <th>NPI Number </th>
                    </tr>
                </thead>
                <tbody ng-repeat="practitioner in PracticeLocationDetailHistory.Facility.FacilityDetail.FacilityPracticeProviders">
                    <tr>
                        <td>{{practitioner.FirstName || 'Not Available'}}</td>
                        <td>{{practitioner.MiddleName || 'Not Available'}}</td>
                        <td>{{practitioner.LastName || 'Not Available'}}</td>
                        <td>{{practitioner.NPINumber || 'Not Available'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>