@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.ProviderProfileViewModel.PofessionalReferenceViewModel.ProfessionalReferenceViewModel>
@{
    var References = 0;
}
<style>
    #scrolldummybody {
        text-transform: uppercase;
    }
</style>
<div class="target profilediv col-lg-12" id="IDProfessionalRefernces">
    <fieldset class="fsStyle col-lg-12 padding_top_down_5px nopadding" id="ViewProfRef">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="transparent-font-color">__</span>
                PROFESSIONAL REFERENCES
                <span class="transparent-font-color">__</span>
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">

                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs add_note_btn list-item" data-tab-path="/CredAxis/ProfessionalReferences/GetProfessionalReference?model=@Model&ActionType=Add" data-tab-container="ProfessionalTabView">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/ProfessionalReferences/GetProfessionalReference?model=@Model&ActionType=Edit" data-tab-container="ProfessionalTabView">
                        <i class="fa fa-pencil"></i>
                    </button>
                    @*<button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="collapse" data-target="#ProfReferenceHistory">
                        <i class="fa fa-history"></i>
                    </button>*@
                    <button class="btn btn-default btn-xs helpBtnCSS"  data-html="true" data-toggle="popover" data-trigger="hover" data-content="You are required to provide exactly 3 references,<br/>
                         Your application will not be complete without this information <br/> *Please check with credentialing entity for any special requirements." data-original-title="" title="">
                        <i class="fa fa-question"></i>
                    </button>
                    <a class="print_button_for_Reference hover_effect pull-right" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>
        @foreach (var item in Model)
        {
            References = References + 1;
            if (References <= 2)
            {
                <div class="x_content zero-padding-left mutiple-data">
                    <div class="SubHeaderSpacing1">
                        <span class="text-uppercase TableHeading">PROFESSIONAL REFERENCES-@References </span>&nbsp; <button onclick="groupmodalhistory('ProfessionalReferences','RemoveRefrence','@item.ProfessionalReferenceID','ViewProfRef')" @*data-toggle="modal" data-target="#BhaukalId"*@ class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button><button class="btn btn-warning btn-xs historyBtnCSS RemoveButtonStyleModal list-item" data-tab-path="/CredAxis/ProfessionalReferences/ViewReferenceHistory?value=@item.ProfessionalReferenceID" data-tab-container="@item.ProfessionalReferenceID">
    <i class="fa fa-history"></i>
</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.ProviderType) :</label>
                        <span class="theme_label_data">@item.ProviderType</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstName) :</label>
                        <span class="theme_label_data">@item.FirstName</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.MiddleName) :</label>
                        <span class="theme_label_data">@item.MiddleName</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.LastName) :</label>
                        <span class="theme_label_data">@item.LastName</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Suite) :</label>
                        <span class="theme_label_data">@item.Suite</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.StreetNo) :</label>
                        <span class="theme_label_data">@item.StreetNo</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                        <span class="theme_label_data">@item.City</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
                        <span class="theme_label_data">@item.State</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                        <span class="theme_label_data">@item.County</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                        <span class="theme_label_data">@item.Country</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode) :</label>
                        <span class="theme_label_data">@item.ZipCode</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Email) :</label>
                        <span class="theme_label_data">@item.Email</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Telephone) :</label>
                        <span class="theme_label_data">@item.Telephone</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Fax) :</label>
                        <span class="theme_label_data">@item.Fax</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Degree) :</label>
                        <span class="theme_label_data">@item.Degree</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Specialty) :</label>
                        <span class="theme_label_data">@item.Specialty</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Relationship) :</label>
                        <span class="theme_label_data">@item.Relationship</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.BoardCertified) :</label>
                        <span class="radioValueStyling">
                            @item.BoardCertified
                        </span>
                    </div>
                    <div id="@item.ProfessionalReferenceID">
                        
                    </div>
                </div>
                if (References == 2 && Model.Count()>2)
                {
                    <span class="view-more pull-right" id="moreReferences" data-toggle="collapse" data-target=".ViewMoreReferences" onclick="ShowHideAddView('lessReferences', 'moreReferences')">View More</span>
                }
            }
            else
            {
                <div class="x_content zero-padding-left ViewMoreReferences collapse mutiple-data">
                    <div class="SubHeaderSpacing1">
                        <span class="text-uppercase TableHeading">PROFESSIONAL REFERENCES- @References</span>&nbsp; <button onclick="groupmodalhistory('ProfessionalReferences','RemoveRefrence','@item.ProfessionalReferenceID','ViewProfRef')" data-toggle="modal" data-target="#BhaukalId" class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>&nbsp; <button class="btn btn-warning btn-xs historyBtnCSS RemoveButtonStyleModal list-item" data-tab-path="/CredAxis/ProfessionalReferences/ViewReferenceHistory?value=@item.ProfessionalReferenceID" data-tab-container="@item.ProfessionalReferenceID">
    <i class="fa fa-history"></i>
</button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.ProviderType) :</label>
                        <span class="theme_label_data">@item.ProviderType</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstName) :</label>
                        <span class="theme_label_data">@item.FirstName</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.MiddleName) :</label>
                        <span class="theme_label_data">@item.MiddleName</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.LastName) :</label>
                        <span class="theme_label_data">@item.LastName</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Suite) :</label>
                        <span class="theme_label_data">@item.Suite</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.StreetNo) :</label>
                        <span class="theme_label_data">@item.StreetNo</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                        <span class="theme_label_data">@item.City</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
                        <span class="theme_label_data">@item.State</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                        <span class="theme_label_data">@item.County</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                        <span class="theme_label_data">@item.Country</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode) :</label>
                        <span class="theme_label_data">@item.ZipCode</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Email) :</label>
                        <span class="theme_label_data">@item.Email</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Telephone) :</label>
                        <span class="theme_label_data">@item.Telephone</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Fax) :</label>
                        <span class="theme_label_data">@item.Fax</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Degree) :</label>
                        <span class="theme_label_data">@item.Degree</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Specialty) :</label>
                        <span class="theme_label_data">@item.Specialty</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Relationship) :</label>
                        <span class="theme_label_data">@item.Relationship</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.BoardCertified) :</label>
                        <span class="radioValueStyling">
                            @item.BoardCertified
                        </span>
                    </div>
                    <div id="@item.ProfessionalReferenceID">

                    </div>
                </div>
            }
            if (References == Model.Count())
            {
                <span class="view-more hidden pull-right" id="lessReferences" data-toggle="collapse" data-target=".ViewMoreReferences" onclick="ShowHideAddView('moreReferences', 'lessReferences')">View Less</span>
            }
        }



        

    </fieldset>
    <!--Add-->
</div>

@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/_RemoveModal.cshtml")





