@model PortalTemplate.Areas.Billing.Models.BillerProductivityReport.AverageBillerProductivityReportViewModel

<div>
    <div class="AvgReport">
        <table id="AvgReportTable" class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
            <thead class="theme_thead">
                <tr>
                    <th>
                        #Total Billers
                    </th>
                    <th>
                        #Total Claims
                    </th>
                    <th>
                        #Total Days
                    </th>
                    <th>
                        #Total Billed Amounts($)
                    </th>
                    <th>
                        Average (#Claims)
                    </th>
                    <th>
                        Average Billed Amount($)
                    </th>
                    <th>
                        From Date of Creation
                    </th>
                    <th>
                        To Date of Creation
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.TotalBillers
                    </td>
                    <td>
                        @Model.TotalClaims
                    </td>
                    <td>
                       @Model.TotalDays
                    </td>
                    <td>
                       @Model.TotalBilledAmounts
                    </td>
                    <td>
                       @Model.AverageClaims
                    </td>
                    <td>
                       @Model.AverageBilledAmount
                    </td>
                    <td>
                       @Model.FromDateofCreation.Value.ToShortDateString()
                    </td>
                    <td>
                       @Model.ToDateofCreation.Value.ToShortDateString()
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>
