@using PratianUI
<fieldset class="fsStyle col-lg-12 padding_top_down_5px nopadding" id="ViewHospitalPrev">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            <span class="transparent-font-color">__</span>
            ADD HOSPITAL PRIVILEGE
        </span>
        &nbsp;&nbsp; <span class="text-uppercase ">


        </span>
    </legend>
    <div class="x_content zero-padding-left mutiple-data">
        @*<div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">DO YOU HAVE HOSPITAL PRIVILAGE? :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "HAVE", Value = "YES", @class = "HostPrevAdd" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "HAVE", Value = "NO", @class = "HostPrevAdd" })
                    </span>
                </div>
            </div>*@
        <div id="HospitalPrevAddForm" class="">
            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">HOSPITAL DETAIL</span>
            </div>

            <div class="x_content zero-padding-left">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">PRIMARY HOSPITAL PRIVILEGE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "HOSPITAL" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "HOSPITAL" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">HOSPITAL NAME :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>BAY MEDICAL CENTER</option>
                            <option>BLAKE MEDICAL CENTER</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">HOSPITAL LOCATION :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>NORTH BONITA AVENUE</option>
                            <option>59TH STREET WEST</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">STREET/P.O. BOX :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Street/P.O. Box" type="text">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">SUITE/BUILDING :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Suite/Building" type="text">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CITY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="City " type="text">
                    </span>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">STATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="State " type="text">
                    </span>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ZIP :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Zip " type="text">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">COUNTRY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Country " type="text">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">COUNTY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="County " type="text">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">PHONE # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Phone # " type="text">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">FAX :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Fax" type="text">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">EMAIL ADDRESS :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Email Address" type="text">
                    </span>
                </div>

            </div>
            <div class="SubHeaderSpacing2">
                <span class="text-uppercase TableHeading">CONTACT PERSON DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person" type="text">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON PHONE # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person Phone" type="text">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON  FAX # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person Fax" type="text">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">DEPARTMENT NAME :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Department Name" type="text">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">DEPARTMENT CHIEF :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Department Chief" type="text">
                    </span>
                </div>


            </div>
            <div class="SubHeaderSpacing2">
                <span class="text-uppercase TableHeading">AFFILATION DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">AFFILATION START DATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePicker(new { @class = "form-control input-xs", placeholder = "MM/DD/YYYY" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">AFFILATION END DATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePicker(new { @class = "form-control input-xs", placeholder = "MM/DD/YYYY" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ARE PRIVILEGES TEMPORARY? :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "TEMPORARY" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "TEMPORARY" })
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">FULL UNRESTRICTED PRIVILEGES :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "UNRESTRICTED" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "UNRESTRICTED" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ADMITTING PRIVILEGE STATUS :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>OPEN</option>
                            <option>CLOSE</option>
                        </select>
                    </span>
                </div>


            </div>

        </div>





    </div>



    <div class="row col-lg-12 zero-padding-left-right margin-top-5px">
        <button class="btn btn-success btn-xs  list-item buttonmargin pull-right margin-right-5px" data-tab-autoflush="true" data-tab-path="/CredAxis/HospitalPrivilege/Index" data-tab-container="IDHospitalPrivilege_View">Save</button>
        <button class="btn btn-danger btn-xs   list-item buttonmargin pull-right margin-right-5px" data-tab-autoflush="true" data-tab-path="/CredAxis/HospitalPrivilege/Index" data-tab-container="IDHospitalPrivilege_View">Cancel</button>
    </div>

</fieldset>
