@using PratianUI
<fieldset class="fsStyle col-lg-12 padding_top_down_5px nopadding" id="ViewHospitalPrev">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            <span class="transparent-font-color">__</span>
            EDIT HOSPITAL PRIVILEGE
        </span>
        &nbsp;&nbsp; <span class="text-uppercase ">


        </span>
    </legend>
    <div class="x_content zero-padding-left mutiple-data">
        <div class="x_content zero-padding-left">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">DO YOU HAVE HOSPITAL PRIVILAGE? :</label>
                </span>
                <span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    @Html.PratianUiRadioButton("YES", new { color = "green", @name = "A", Value = "YES", @checked = true, @class = "HostPrev" })
                    @Html.PratianUiRadioButton("NO", new { color = "red", @name = "A", Value = "NO", @class = "HostPrev" })
                </span>
            </div>
        </div>
        <div id="HospitalPrevEditForm">
            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">HOSPITAL PRIVILEGE-1</span>
            </div>
            <div class="SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">HOSPITAL DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">PRIMARY HOSPITAL PRIVILEGE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "B", @checked = true })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "B" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">HOSPITAL NAME :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>BAY MEDICAL CENTER</option>
                            <option>BLAKE MEDICAL CENTER</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">HOSPITAL LOCATION :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>NORTH BONITA AVENUE</option>
                            <option>59TH STREET WEST</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">STREET/P.O. BOX :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Street/P.O. Box" type="text" value="ORLANDO">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">SUITE/BUILDING :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Suite/Building" type="text" value="TAMPA">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CITY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="City " type="text" value="AVENTURA">
                    </span>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">STATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="State " type="text" value="FLORIDA">
                    </span>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ZIP :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Zip " type="text" value="33180">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">COUNTRY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Country " type="text" value="US">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">COUNTY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="County " type="text" value="DADE">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">PHONE # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Phone # " type="text" value="+1 - (124) 563-818">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">FAX :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Fax" type="text" value="+1 - (124) 563-818">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">EMAIL ADDRESS :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Email Address" type="text" value="JOHNSMITH@GMAIL.COM">
                    </span>
                </div>

            </div>

            <div class=" SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">CONTACT PERSON DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person" type="text" value="LARA SMITH">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON PHONE # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person Phone" type="text" value="+1 - (124) 473-812">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON  FAX # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person Fax" type="text" value="+1 - (124) 473-812">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">DEPARTMENT NAME :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Department Name" type="text" value="MEDICINE">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">DEPARTMENT CHIEF :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Department Chief" type="text" value="JOHN HENDEY">
                    </span>
                </div>


            </div>
            <div class=" SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">AFFILIATION DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">AFFILATION START DATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePicker(new { @class = "form-control input-xs", placeholder = "MM/DD/YYYY", Value = "11/22/1989" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">AFFILATION END DATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePicker(new { @class = "form-control input-xs", placeholder = "MM/DD/YYYY", Value = "11/22/1989" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ARE PRIVILEGES TEMPORARY? :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "C", @checked = true })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "C" })
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">FULL UNRESTRICTED PRIVILEGES :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "D", @checked = true })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "D" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ADMITTING PRIVILEGE STATUS :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>OPEN</option>
                            <option>CLOSE</option>
                        </select>
                    </span>
                </div>


            </div>



            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">HOSPITAL PRIVILEGE-2</span>
            </div>
            <div class=" SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">HOSPITAL DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">PRIMARY HOSPITAL PRIVILEGE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "B", @checked = true })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "B" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">HOSPITAL NAME :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>BAY MEDICAL CENTER</option>
                            <option>BLAKE MEDICAL CENTER</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">HOSPITAL LOCATION :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>NORTH BONITA AVENUE</option>
                            <option>59TH STREET WEST</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">STREET/P.O. BOX :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Street/P.O. Box" type="text" value="ORLANDO">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">SUITE/BUILDING :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Suite/Building" type="text" value="TAMPA">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CITY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="City " type="text" value="AVENTURA">
                    </span>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">STATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="State " type="text" value="FLORIDA">
                    </span>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ZIP :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Zip " type="text" value="33180">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">COUNTRY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Country " type="text" value="US">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">COUNTY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="County " type="text" value="DADE">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">PHONE # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Phone # " type="text" value="+1 - (124) 563-818">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">FAX :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Fax" type="text" value="+1 - (124) 563-818">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">EMAIL ADDRESS :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Email Address" type="text" value="JOHNSMITH@GMAIL.COM">
                    </span>
                </div>

            </div>
            <div class="SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">CONTACT PERSON DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person" type="text" value="LARA SMITH">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON PHONE # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person Phone" type="text" value="+1 - (124) 473-812">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON  FAX # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person Fax" type="text" value="+1 - (124) 473-812">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">DEPARTMENT NAME :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Department Name" type="text" value="MEDICINE">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">DEPARTMENT CHIEF :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Department Chief" type="text" value="JOHN HENDEY">
                    </span>
                </div>


            </div>
            <div class="SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">AFFILIATION DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">AFFILATION START DATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePicker(new { @class = "form-control input-xs", placeholder = "MM/DD/YYYY", Value = "11/22/1989" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">AFFILATION END DATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePicker(new { @class = "form-control input-xs", placeholder = "MM/DD/YYYY", Value = "11/22/1989" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ARE PRIVILEGES TEMPORARY? :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "C", @checked = true })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "C" })
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">FULL UNRESTRICTED PRIVILEGES :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "D", @checked = true })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "D" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ADMITTING PRIVILEGE STATUS :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>OPEN</option>
                            <option>CLOSE</option>
                        </select>
                    </span>
                </div>


            </div>
            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">HOSPITAL PRIVILEGE-3</span>
            </div>
            <div class="SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">HOSPITAL DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">PRIMARY HOSPITAL PRIVILEGE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "B", @checked = true })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "B" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">HOSPITAL NAME :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>BAY MEDICAL CENTER</option>
                            <option>BLAKE MEDICAL CENTER</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">HOSPITAL LOCATION :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>NORTH BONITA AVENUE</option>
                            <option>59TH STREET WEST</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">STREET/P.O. BOX :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Street/P.O. Box" type="text" value="ORLANDO">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">SUITE/BUILDING :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Suite/Building" type="text" value="TAMPA">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CITY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="City " type="text" value="AVENTURA">
                    </span>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">STATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="State " type="text" value="FLORIDA">
                    </span>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ZIP :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Zip " type="text" value="33180">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">COUNTRY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Country " type="text" value="US">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">COUNTY :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="County " type="text" value="DADE">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">PHONE # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Phone # " type="text" value="+1 - (124) 563-818">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">FAX :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Fax" type="text" value="+1 - (124) 563-818">
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">EMAIL ADDRESS :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Email Address" type="text" value="JOHNSMITH@GMAIL.COM">
                    </span>
                </div>

            </div>
            <div class="SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">CONTACT PERSON DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person" type="text" value="LARA SMITH">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON PHONE # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person Phone" type="text" value="+1 - (124) 473-812">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">CONTACT PERSON  FAX # :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Contact Person Fax" type="text" value="+1 - (124) 473-812">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">DEPARTMENT NAME :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Department Name" type="text" value="MEDICINE">
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">DEPARTMENT CHIEF :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <input class="form-control input-xs" id="" name="" placeholder="Department Chief" type="text" value="JOHN HENDEY">
                    </span>
                </div>


            </div>
            <div class="SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">AFFILIATION DETAIL</span>
            </div>
            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">AFFILATION START DATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePicker(new { @class = "form-control input-xs", placeholder = "MM/DD/YYYY", Value = "11/22/1989" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">AFFILATION END DATE :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePicker(new { @class = "form-control input-xs", placeholder = "MM/DD/YYYY", Value = "11/22/1989" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ARE PRIVILEGES TEMPORARY? :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "C", @checked = true })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "C" })
                    </span>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">FULL UNRESTRICTED PRIVILEGES :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "D", @checked = true })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "D" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">ADMITTING PRIVILEGE STATUS :</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        <select class="form-control input-xs">
                            <option>OPEN</option>
                            <option>CLOSE</option>
                        </select>
                    </span>
                </div>


            </div>


        </div>
    </div>



    <div class="row col-lg-12 zero-padding-left-right margin-top-5px">
        <button class="btn btn-success btn-xs  list-item buttonmargin pull-right margin-right-5px" data-tab-autoflush="true" data-tab-path="/CredAxis/HospitalPrivilege/Index" data-tab-container="IDHospitalPrivilege_View" value="">Save</button>
        <button class="btn btn-danger btn-xs   list-item buttonmargin pull-right margin-right-5px" data-tab-autoflush="true" data-tab-path="/CredAxis/HospitalPrivilege/Index" data-tab-container="IDHospitalPrivilege_View" value="">Cancel</button>
    </div>

</fieldset>
