@using PratianUI
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">INSURANCE INFORMATION</span>
        <span class="text-uppercase pull-right">


        </span>
    </legend>
    <div class="x_content zero-padding-left">

        <div class="row col-lg-12 nopadding">
            <div class="col-lg-6 col-sm-6 col-md-4 col-xs-6">
                <div class="SubHeaderSpacing1">
                    <span class="text-uppercase TableHeading">PANEL STATUS</span>&nbsp;
                </div>
                <div class="col-lg-1">
                    <label class="theme_label"> &nbsp;&nbsp;&nbsp;IPA </label>
                </div>
                <div class="col-lg-6 col-sm-4 col-md-4 col-xs-6">
                    <span class="theme_label_data">
                        @Html.PratianUiSquareRadioButton(new { color = "green", name = "ipastatus" }) OPEN PANEL
                        @Html.PratianUiSquareRadioButton(new { color = "red", name = "ipastatus" }) CLOSE PANEL
                    </span>
                </div>
                <div class="col-lg-5 col-sm-4 col-md-4 col-xs-6 boxstyle">
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label class="theme_label text-uppercase">
                                Effective Date :
                            </label>
                        </div>

                        <div class="col-lg-7">
                            <input type="date" class="form-control input-xs" placeholder="" name="Provider.CAQHPassword" />
                        </div>
                    </div>


                </div>
                <div class="col-lg-1">
                    <label class="theme_label"> &nbsp;&nbsp;&nbsp;FFS </label>
                </div>
                <div class="col-lg-6 col-sm-4 col-md-4 col-xs-6">
                    <span class="theme_label_data">
                        @Html.PratianUiSquareRadioButton(new { color = "green", name = "ffsstatus" }) OPEN PANEL
                        @Html.PratianUiSquareRadioButton(new { color = "red", name = "ffsstatus" }) CLOSE PANEL
                    </span>
                </div>
                <div class="col-lg-5 col-sm-4 col-md-4 col-xs-6 boxstyle">
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label class="theme_label text-uppercase">
                                Effective Date :
                            </label>
                        </div>

                        <div class="col-lg-7">
                            <input type="date" class="form-control input-xs" placeholder="" name="Provider.CAQHPassword" />
                        </div>
                    </div>


                </div>

            </div>
            <div class="col-lg-6 col-sm-6 col-md-4 col-xs-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="row col-lg-12 nopadding">

                        <div class=" col-lg-6 SubHeaderSpacing1">
                            <span class="text-uppercase TableHeading">PLAN TO USE EMR :</span>&nbsp;
                        </div>

                        <div class="col-lg-6">

                            <div class="form-group pull-left">
                                <label class="theme_label text-uppercase M_Req">
                                    CARETAKER  @Html.PratianUiSquareRadioButton(new { color = "green", name = "emr" })
                                </label>
                            </div>
                            <div class="form-group pull-right">
                                <label class="theme_label text-uppercase M_Req">
                                    OTHER   @Html.PratianUiSquareRadioButton(new { color = "red", name = "emr" })
                                </label>
                            </div>

                        </div>

                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <div class="col-lg-10">
                                <label class="theme_label text-uppercase M_Req">
                                    ANOTHER EXISTING GROUP :
                                </label>
                            </div>

                            <div class="col-lg-2">
                                <span class="theme_label_data">
                                    @Html.PratianUiSquareRadioButton(new { color = "green", name = "anothergrp" })
                                </span>
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase M_Req">
                                    GROUP NAME :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter Group Name" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase M_Req">
                                    NEW GROUP :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter New Group" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase M_Req">
                                    START DATE :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="date" class="form-control input-xs" placeholder="" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <br />
        </div>
        <div class="row  nopadding">
            <div class="col-lg-6 col-sm-6 col-md-4 col-xs-6">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">

                    <div class="row nopadding">

                        <div class=" col-lg-6 SubHeaderSpacing1">
                            <span class="text-uppercase TableHeading">IPA INS JOINING : <small>(Please Check)</small></span>&nbsp;
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase M_Req">
                                    IPA NAME :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter IPA Name" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>

                    </div>

                    <div class="col-lg-12">
                        <br />
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        CONVENTRY (IPA) :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        OPTIMUM (IPA) :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        HUMANA (IPA) :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        WELLCARE (IPA) :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        FREEDOM (IPA) :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        MEDICAID :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        ULTIMATE (IPA) :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        FFS ONLY :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                                          
                    </div>

                </div>

            </div>

            <div class="col-lg-6 col-sm-6 col-md-4 col-xs-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="row nopadding">

                        <div class=" col-lg-6 SubHeaderSpacing1">
                            <span class="text-uppercase TableHeading">FFS PLANS : <small>(Check all that apply)</small></span>&nbsp;
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        AETNA :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        HUMANA :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        ULTIMATE :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        AVMED :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        TRICARE :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        RR MEDICARE :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        BCBS :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        GHI :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        FREEDOM/OPTIMUM :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        CIGNA :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        SUNSHINE :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                            <div class="form-group">
                                <div class="col-lg-8">
                                    <label class="theme_label text-uppercase M_Req">
                                        WELLCARE :
                                    </label>
                                </div>

                                <div class="col-lg-4">
                                    @Html.PratianUiSquareRadioButton(new { color = "green" })
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-lg-2">
                                <label class="theme_label text-uppercase M_Req">
                                    OTHER :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</fieldset>
