
@using PratianUI
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">PROVIDER SECTION</span>
        <span class="text-uppercase pull-right">


        </span>
    </legend>
    <div class="x_content zero-padding-left">
        <div class="col-lg-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="col-lg-5">
                        <label class="theme_label text-uppercase M_Req">
                            PROVIDER START DATE
                        </label>
                    </div>

                    <div class="col-lg-6">
                        <input type="date" class="form-control input-xs" placeholder="" required />
                    </div>
                    <span class="req">
                        Required
                    </span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-lg-4 form-group pull-left">
                    <label class="theme_label text-uppercase M_Req">
                        @Html.PratianUiRadioButton("PHYSICIAN", new { color = "green" ,@name="type" })                       
                    </label>
                </div>
                <div class="col-lg-4 form-group">
                    <label class="theme_label text-uppercase M_Req">                       
                        @Html.PratianUiRadioButton("MIDLEVEL", new { color = "red", @name = "type" })
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 nopadding">
            <div class="row col-lg-6 nopadding">

                <div class="SubHeaderSpacing1">
                    <span class="text-uppercase TableHeading">PROVIDER CONTACT DETAILS :</span>&nbsp;
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                LAST NAME :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Last Name" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                               FIRST NAME :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter First Name" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                EMAIL :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Email" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                CELL NUMBER :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Cell Number" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                TEL NUMBER :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Telephone Number" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                PROVIDER TYPE :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="theme_label text-uppercase M_Req">
                                    @Html.PratianUiRadioButton("PCP", new { color = "green",name="ProviderType" })
                                    @Html.PratianUiRadioButton("SPECIALIST", new { color = "red", name = "ProviderType" })
                                </label>
                            </div>
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                EMPLOYMENT STATUS :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="theme_label text-uppercase M_Req">
                                    @Html.PratianUiRadioButton("EMPLOYED", new { color = "green",name="empstatus" })
                                    @Html.PratianUiRadioButton("AFFLIATE", new { color = "red", name = "empstatus" })
                                </label>
                            </div>
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                </div>

            </div>
            <div class="row col-lg-6 nopadding">

                <div class="SubHeaderSpacing1">
                    <span class="text-uppercase TableHeading">OFFICE CONTACT DETAILS :</span>&nbsp;
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                LAST NAME :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Last Name" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                FIRST NAME :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter First Name" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                EMAIL :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Email" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                CELL NUMBER :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Cell Number" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                ALT NUMBER :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Alternate Number" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                SUPERVISING PHYSICIAN :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Supervising Physician" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label class="theme_label text-uppercase M_Req">
                                COVERING PHYSICIAN :
                            </label>
                        </div>

                        <div class="col-lg-8">
                            <input type="text" class="form-control input-xs" placeholder="Enter Covering Physician" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8">
                            <label class="theme_label text-uppercase M_Req">
                                May we terminate current Associated TINS?
                            </label>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="theme_label text-uppercase M_Req">
                                    @Html.PratianUiRadioButton("YES", new { color = "green",name="tins" })
                                    @Html.PratianUiRadioButton("NO", new { color = "red",name="tins" })
                                </label>
                            </div>
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    </div>

</fieldset>


<style>
    .TableHeading {
        color: white;
        background-color: #4469a6;
        margin-left: 5px;
        /* padding: 5px 11px 4px 14px; */
        padding: 2px 4px 0px 4px;
        box-shadow: 0px 2px 3px 0px #203764 !important;
    }
</style>