@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel

<div class="modal fade authPreviewModal previewForm11" tabindex="-1" role="dialog" id="authPreviewModal" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <form class="modal-content" style="border-radius: 0 !important;">
            <div class="modal-header zero_padding_bottom">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/Resources/Images/Common/ahc_logo.png" class="width_55">
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-offset-2 col-md-5">
                            <h3>
                                <b>AUTHORIZATION </b>
                            </h3>
                        </div>
                        <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                        <div class="col-md-12 text_align_right">
                            <span class="text-uppercase auth_number_label">UHP Auth Number : ________________________</span>
                            <span class="plan_use_only_label">(For Plan use only)</span>
                        </div>
                    </div>
                </div>
                <div class="row col-lg-12"><center>SUBMITTED BY: <b>BARBARA JOY</b></center></div>
            </div>
            <div class="modal-body modalbodyheight uppercase previewModalStyle text-uppercase">
                <!-----member info details-->
                <div class="row col-md-12 heading-block">
                    <center><b>MEMBER INFORMATION</b></center>
                </div>
                <div class="x_panel zero-padding-left-right">
                    <div class="x_content zero-padding-left-right">
                        <div class="inline_block font_13 width_16">
                            REF#:
                            <b>-</b>
                        </div>
                        <div class="inline_block font_13 width_16">
                            MBR#:
                            <b>UL0000006</b>
                        </div>
                        <div class="inline_block font_13 width_26">
                            MBR Name:
                            <b>Eveline Hewett</b>
                        </div>
                        <div class="inline_block font_13 width_16">
                            DOB:
                            <b>08/12/1944</b>
                        </div>
                        <div class="inline_block font_13 width_16">
                            Ph:
                            <b>(836) 187-6586</b>
                        </div>
                        <div class="inline_block font_13 width_6">
                            G:
                            <b>F</b>
                        </div>

                        <div class="inline_block width_16">
                            Age:
                            <b>71</b>
                        </div>
                        <div class="inline_block width_16">
                            Plan:
                            <b>Ultimate</b>
                        </div>
                        <div class="inline_block width_26">
                            County:
                            <b>Hernando</b>
                        </div>
                        <div class="inline_block width_16">
                            Eff Dt:
                            <b>01/01/2015</b>
                        </div>
                        <div class="inline_block width_16">
                            Elig:
                            <b>12/31/2018</b>
                        </div>
                        <div class="inline_block width_16">
                            PCP:
                            <b>Dr. </b>
                            <b>Pariksith Singh</b>
                        </div>

                        <div class="inline_block width_16">
                            PCP PH:
                            <b>(798)-002-3131</b>
                        </div>
                        <div class="inline_block width_16">
                            PCP FAX:
                            <b>-</b>
                        </div>
                    </div>

                </div>
                <!--------Start Of basic details-->
                <div class="row col-md-12 heading-block">
                    <center><b>AUTH DETAILS</b></center>
                </div>
                <div class="x_panel zero-padding-left-right authDetailsDiv">
                    <div class="x_content zero-padding-left-right">
                        <div class="inline_block font_13 width_24">
                            POS:
                            <b>@Html.DisplayFor(e => e.PlaceOfService)</b>
                        </div>
                        <div class="inline_block font_13 width_24">
                            Req:
                            <b>@Html.DisplayFor(e => e.RequestType)</b>
                        </div>
                        <div class="inline_block font_13 width_24">
                            Auth:
                            <b>@Html.DisplayFor(e => e.AuthorizationType)</b>
                        </div>
                        <div class="inline_block font_13 width_24">
                            Type of Care:
                            <b>@Html.DisplayFor(e => e.TypeOfCare)</b>
                        </div>
                        <div class="inline_block font_13 width_24">
                            Recd:
                            <b>@Html.DisplayFor(e => e.ReceivedDate)</b>
                        </div>
                        <!--  <div class="inline_block width_24">
                          Next Rev Dt:
                          <b>@Html.DisplayFor(e => e.NextReviewDate)</b>
                      </div>-->
                        <div class="inline_block width_24">
                            FROM:
                            <b>@Html.DisplayFor(e => e.FromDate)</b>
                        </div>
                        <div class="inline_block width_24">
                            TO:
                            <b>@Html.DisplayFor(e => e.ToDate)</b>
                        </div>
                        <div class="inline_block width_24">
                            EXP DOS:
                            <b>@Html.DisplayFor(e => e.ExpectedDOS)</b>
                        </div>
                            <div class="inline_block width_24">
                            REVIEW:
                            <b>@Html.DisplayFor(e => e.ReviewType)</b>
                        </div>

                        <div class="inline_block width_24">
                            DRG:
                            <b>@Html.DisplayFor(e => e.DRGCode) </b>
                        </div>
                        <div class="inline_block width_24">
                            DRG DESC:
                            <b>@Html.DisplayFor(e => e.DRGDescription) </b>
                        </div>
                        <div class="inline_block width_24">
                            MDC CODE:
                            <b>@Html.DisplayFor(e => e.MDCCode) </b>
                        </div>
                        <div class="inline_block width_24">
                            MDC DESC:
                            <b>@Html.DisplayFor(e => e.MDCDescription) </b>
                        </div>
                        
                    </div>
                </div>
                <!------start of provider details-->
                <div class="row col-md-12 heading-block">
                    <center>
                        <b>REQUESTING PROVIDER</b>
                        <a class="label label-success marginleft-10px">IN</a>
                    </center>

                </div>
                <div class="x_panel zero-padding-left-right reqProviderDiv">
                    <div class=" x_content zero-padding-left-right">
                        <div class="inline_block width_19">
                            First Name:
                            <b>@Html.DisplayFor(e => e.RequestingProvider.FullName.Split(' ')[0])</b>
                        </div>
                        <div class="inline_block width_19">
                            Last Name:
                            <b>@Html.DisplayFor(e => e.RequestingProvider.FullName.Split(' ')[1])</b>
                        </div>
                        <div class="inline_block width_19">
                            Tax ID/NPI:
                            <b>-/945879655</b>
                        </div>
                        <div class="inline_block width_19">
                            Ph:
                            <b>(798)-002-3131</b>
                        </div>
                        <div class="inline_block width_19">
                            Fax:
                            <b>-</b>
                        </div>
                        <div class="inline_block width_19">
                            Specialty:
                            <b>-</b>
                        </div>
                        <div class="inline_block width_19">
                            Type:
                            <b>-</b>
                        </div>
                        <div class="inline_block width_19">
                            Contact Name:
                            <b>-</b>
                        </div>
                    </div>
                </div>

                <!--Start of Servicing Provider Details-->
                <div class="row col-md-12 heading-block">
                    <center>
                        <b>SERVICING PROVIDER</b>
                    </center>
                </div>
                <div class="x_panel zero-padding-left-right reqProviderDiv">
                    <div class=" x_content zero-padding-left-right">
                        <div class="inline_block width_19">
                            First Name:
                            <b>@Html.DisplayFor(e => e.ServicingProvider.FullName.Split(' ')[0])</b>
                        </div>
                        <div class="inline_block width_19">
                            Last Name:
                            <b>@Html.DisplayFor(e => e.ServicingProvider.FullName.Split(' ')[1])</b>
                        </div>
                        <div class="inline_block width_19">
                            Tax ID/NPI:
                            <b>-/-</b>
                        </div>
                        <div class="inline_block width_19">
                            Ph:
                            <b>-</b>
                        </div>
                        <div class="inline_block width_19">
                            Fax:
                            <b>-</b>
                        </div>
                        <div class="inline_block width_19">
                            Specialty:
                            <b>-</b>
                        </div>
                        <div class="inline_block width_19">
                            Type:
                            <b>-</b>
                        </div>
                        <div class="inline_block width_19">
                            Contact Name:
                            <b>-</b>
                        </div>
                    </div>
                </div>
                <!------------Start of Facility Details-->
                <div class="row col-md-12 heading-block">
                    <center>
                        <b>FACILITY</b>
                        <a class="label label-success marginleft-10px">IN</a>
                    </center>
                </div>
                <div class="x_panel zero-padding-left-right">
                    <div class=" x_content zero-padding-left-right">
                        <div class="inline_block font_13 width_40">
                            Facility:
                            <b>@Html.DisplayFor(e => e.Facility.FullName)</b>
                        </div>
                        <div class="inline_block font_13 width_33">
                            TAX ID/NPI:
                            <b>300403141/1235313057</b>
                        </div>
                        <div class="inline_block font_13 width_19">
                            Ph:
                            <b>(352) 596-6632</b>
                        </div>
                        <div class="inline_block font_13 width_33">
                            Fax:
                            <b>(352) 628-9700</b>
                        </div>
                        <div class="inline_block font_13 width_33">
                            Facility Type:
                            <b>DIAGNOSTIC RADIOLOGY</b>
                        </div>
                        <div class="inline_block font_13 width_19">
                            Contact Name:
                            <b>-</b>
                        </div>
                    </div>
                </div>
                <!------START OF ADMISSION/DISCHARGE DATES-->
                <!--   <div>
                   <div class="row col-md-12 heading-block">
                       <center><span><b>SVC / SVC TO DATES </b></span></center>
                   </div>
                   <div class="x_panel zero-padding-left-right">
                       <div class="x_content zero-padding-left-right">
                           <div class="inline_block width_19">
                               REQ DT:
                               <b>@Html.DisplayFor(e => e.Admission.AdmissionRequestedDate)</b>
                           </div>
                           <div class="inline_block width_19">
                               AUTH DT:
                               <b>08/03/2016 12:00:37</b>
                           </div>
                           <div class="inline_block width_12">
                               APPROVED DAYS:
                               <b>@Html.DisplayFor(e => e.Admission.AdmissionApprovedDays)</b>
                           </div>
                           <div class="inline_block width_24">
                               EXPECTED DC DT:
                               <b>@Html.DisplayFor(e => e.Discharge.ExpectedDischargeDate)</b>
                           </div>
                           <div class="inline_block width_19">
                               ACTUAL DT:
                               <b>08/02/2016 12:01:28</b>
                           </div>
                       </div>
                   </div>
               </div>
                -->
                <!---------Start of Actual Length of Stay-->
                <!--
            <div class="row col-md-12 heading-block">
                <center><b>Actual Length of Stay</b></center>
            </div>
            <div class="x_panel zero-padding-left-right">
                <div class="x_content zero-padding-left-right">
                    <div class="inline_block width_19">
                        REQUESTED LOS:
                        <b>@Html.DisplayFor(e => e.TotalRequestedLOS)</b>
                    </div>
                    <div class="inline_block width_19">
                        ACTUAL LOS:
                        <b>@Html.DisplayFor(e => e.TotalActualLOS)</b>
                    </div>
                    @*<div>
                            Total Denied:
                            <div><b>  </b></div>
                        </div>
                        <div>
                            Next Review Date:
                            <b>  </b>
                        </div>
                        <div>
                            Auth Thru:
                            <b>  </b>
                        </div>*@
                </div>
            </div>-->
                <!------------start of primary dx-->
                <div class="row col-md-12 heading-block">
                    <center><b>PRIMARY ICD DETAILS</b></center>
                </div>
                <div class="row col-md-12">
                    <table class="table wrap-words table-bordered table_align_middle table_custom_th_border_right">
                        <thead>
                            <tr>
                                <th class="width_25">PR DX</th>
                                <th class="width_75">PR DX DESC</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ICDCodes != null && Model.ICDCodes.Count() > 0)
                            {
                                foreach (var e in Model.ICDCodes)
                                {
                                    <tr>

                                        <td class="width_25">@e.ICDCode</td>
                                        <td class="width_75">@e.ICDCodeDescription</td>


                                    </tr>
                                }
                            }
                            @if (Model.ICDCodes != null && Model.ICDCodes.Count() <= 0)
                            {
                                <tr>
                                    <td colspan="2" class="text-center">NO DATA AVAILABLE </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-------start of CPT-->
                <div>
                    <div class="row col-md-12 heading-block">
                        <center><b>CPT/HCPCS CODE</b></center>
                    </div>
                    <div class="row col-md-12">
                        <table class="table wrap-words table-bordered table_align_middle table_custom_th_border_right" style="padding-bottom:0">
                            <thead>
                                <tr>
                                    <th class="width_25" style="border-right: 1px solid #dddddd !important;">CPT/HCPCS</th>
                                    <th class="width_75">DESC</th>
                                    <th class="width_25">UNITS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CPTCodes != null && Model.CPTCodes.Count() > 0)
                                {
                                    foreach (var e in Model.CPTCodes)
                                    {
                                        <tr>

                                            <td class="width_25">@e.CPTCode</td>
                                            <td class="width_50">@e.CPTDesc</td>
                                            <td class="width_25">@e.RequestedUnits</td>


                                        </tr>
                                    }
                                }
                                @if (Model.CPTCodes != null && Model.CPTCodes.Count() <= 0)
                                {
                                    <tr>
                                        <td colspan="2" class="text-center">NO DATA AVAILABLE </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-------Disclaimer-->
                <div class="row col-md-12" style="padding-top:10px">
                    <span style="/* font-size: 14px; */">
                        <span style="text-decoration: underline;font-size: 14px;text-transform: none;font-weight:bold;" class="bold">This form may be returned unprocessed if not completely filled out with all requested information.</span>
                        <span style="/* text-decoration: underline; */font-size: 12px;text-transform: none;">
                            Authorizations will be given for medically necessary services only. This request cannot be processed without supporting documentation such as office visit notes, pertinent laboratory data, prior treatment note(s), etc. Payment is subject to verification of member eligibility, benefit coverage and appropriate coding guidelines. Emergencies do not require prior authorization.
                        </span>
                    </span>
                </div>
                <div class="row col-md-12">
                    <span style="font-size: 12px;text-transform: none;">
                        <span style="font-weight: bold;" class="bold">Confidentiality Notice:</span>
                        <span>
                            This facsimile and/or email message, including any attachments, is for the sole use of the intended recipient(s) and may contain confidential and privileged information or otherwise be protected by law. Any unauthorized review, use, disclosure or distribution is prohibited. If you are not the intended recipient, please contact the sender by reply email and destroy all copies of the original message.
                        </span>
                    </span>
                    <br><br>
                </div>
            </div>
            <div class="modal-footer">
                @*<button class="btn btn-sm btn-success pull-right" data-dismiss="modal" onclick="$('.chrome-tab-current .chrome-tab-close').click(); $('#home-tab2').click();">Confirm</button> , $.trim($('li > a.user-profile').text())  *@
                <button class="btn btn-sm btn-success pull-right" data-dismiss="modal" id="trigger-overlay" onclick="toggleQueueList();">Confirm</button>
                <span>
                    &nbsp; <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">Cancel</button>
                </span>
            </div>
        </form>
    </div>
</div>
