<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Custom/Profile/Util.js"></script>
<script src="~/Scripts/Custom/Checklist/ChecklistIndex.js"></script>

<div id="page-wrapper" ng-app="" ng-controller="checkList">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list"></i> Checklist
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Checklist content form div -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Credentialing Checklist Physicians/Providers</h3>
                    </div>
                    <div class="panel-body">
                        <div id="detailsCC">
                            @Html.Partial("_DetailsCredentialingChecklist")
                        </div>
                        <div id="createCC">
                            @Html.Partial("_CreateCredentialingChecklist")
                        </div>
                        <div class="panel-body text-right">
                            <button class="btn btn-xs btn-primary" onclick="showCCchecklist()"><i class="fa fa-plus"></i> Add Credentialing Checklist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Medical Staff Credentialing Checklist</h3>
                    </div>
                    <div class="panel-body">
                        <div id="detailsMSCC">
                            @Html.Partial("_DetailsMedicalStaffCredentialingChecklist")
                        </div>
                        <div id="createMSCC">
                            @Html.Partial("_CreateMedicalStaffCredentialingChecklist")
                        </div>
                        <div class="panel-body text-right">
                            <button class="btn btn-xs btn-primary" onclick="showMSCCchecklist()"><i class="fa fa-plus"></i> Add Medical Staff Credentialing Checklist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
