@using PratianUI

<div class="target profilediv col-lg-12 nopadding">
    <fieldset class="fsStyle" id="AddBillingContactDetails">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span>ADD BILLING CONTACT</span>
            </span>
        </legend>

            <div class="x_content zero-padding-left">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label"><label>USE EXISTING BILLING CONTACT DETAILS </label></span>
                    <span class="theme_label_data">
                        @Html.PratianUiSqaureRadioFor(m => m, new { color = "green", @checked = "checked" }) YES
                        @Html.PratianUiSqaureRadioFor(m => m, new { color = "red" }) NO
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">SELECT BILLING CONTACT</label>
                    </span>
                    <span class="col-lg-1 "></span>
                    <span class="col-lg-7 nopadding">                        
                        <select class="form-control input-xs">
                            <option>--select--</option>
                            <option>Credentialing  PATEL - Trinity@test.com</option>
                            <option>VAL  Patel - generalinquiry@medenet.net</option>
                            <option>Credentialing  PATEL - Trinity@test.com</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">FIRST NAME</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            @*@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-xs", placeholder = "FIRST NAME" })  </span>
                @Html.ValidationMessageFor(e => e.FirstName)*@
                            <input class="form-control input-xs" placeholder="FIRST NAME" />
                        </span>
                    </span>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">MIDDLE NAME</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="MIDDLE NAME" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">LAST NAME *</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="LAST NAME" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">TELEPHONE</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="TELEPHONE" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">FAX</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="FAX" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">EMAIL</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="EMAIL" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">STREET/P. O. BOX NO: *</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="STREET/P. O. BOX N" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">SUITE/BUILDING</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="SUITE/BUILDING" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">CITY *</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="CITY" />
                        </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">STATE: *</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="STATE" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">ZIP CODE</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="ZIP CODE" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">COUNTRY</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="COUNTRY" />
                        </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">COUNTY</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <input class="form-control input-xs" placeholder="COUNTY" />
                        </span>
                    </span>
                </div>
                @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.MiddleName)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control input-xs", placeholder = "MIDDLE NAME" }) </span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.LastName)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-xs", placeholder = "LAST NAME" }) </span>
                        @Html.ValidationMessageFor(e => e.LastName)
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.Gender)</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        @Html.DropDownList("Gender",
                                      new SelectList(Enum.GetValues(typeof(PortalTemplate.Areas.CredAxis.Enums.GenderType))),
                    "Select",
                             new { @class = "form-control input-xs" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.Suffix)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => m.Suffix, new { @class = "form-control input-xs", placeholder = "SUFFIX" })</span>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.MaritalStatus)</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        @Html.DropDownList("MaritalStatus",
                                      new SelectList(Enum.GetValues(typeof(PortalTemplate.Areas.CredAxis.Enums.MaritalStatusType))),
                    "Select",
                             new { @class = "form-control input-xs" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.SpouseName)</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        @Html.TextBoxFor(m => m.SpouseName, new { @class = "form-control input-xs", placeholder = "Spouse Name" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.ProviderLevel)</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        @Html.TextBoxFor(m => m.ProviderLevel, new { @class = "form-control input-xs", placeholder = "PROVIDER LEVEL" })
                        @Html.ValidationMessageFor(e => e.ProviderLevel)
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 theme_label nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.ProviderType)</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        @Html.TextBoxFor(m => m.ProviderType, new { @class = "form-control input-xs", placeholder = "PROVIDER TYPE" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label"><label>@Html.DisplayNameFor(e => e.IsLegalName) </label></span>
                    <span class="theme_label_data">
                        @Html.PratianUiSqaureRadioFor(t => t.IsLegalName, new { color = "green", @checked = "checked" }) YES
                        @Html.PratianUiSqaureRadioFor(t => t.IsLegalName, new { color = "red" }) NO
                    </span>
                </div>
                <div class="col-lg-8 col-md-4 col-sm-6 col-xs-12 boxstyle">
                </div>*@
            </div>
            @*<div class="row col-lg-12 zero-padding-left-right">
                <input class="btn btn-success btn-xs  buttonmargin pull-right margin-right-5px yahanClickKar" type="submit" name="submit" value="Save">
                <a class="btn btn-danger btn-xs list-item buttonmargin pull-right yahanClickKar margin-right-5px" data-tab-path="/CredAxis/Demographics/CanceltPersonalDetailsEdit" data-tab-container="PersonalDetailsDiv">Cancel</a>
            </div>*@
        
        <div class="row col-lg-12 zero-padding-left-right">
            <input class="btn btn-success btn-xs yahanClickKar  list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/PracticeLocation/GetBillingContactView" data-tab-container="PLBillingContactDetails" value="Save">
            <input class="btn btn-danger btn-xs yahanClickKar list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/PracticeLocation/GetBillingContactView" data-tab-container="PLBillingContactDetails" value="Cancel">
        </div>
    </fieldset>
</div>