@*manideep*@

<style>
    .select-page {
        width: 50px;
        text-align: center;
    }

    .loadingHistory {
        padding-left: 7px;
    }

    .pagination li a input {
        padding: 0;
        margin: -5px 0;
    }

    .label-provider-type {
        color: #333;
        border: 1px solid #ccc;
        border-radius: 3px;
        /*padding: 4px 4px 5px 7px;*/
    }

        .label-provider-type > i {
            padding-left: 10px;
            color: #b94a48;
        }

        .label-provider-type:hover {
            background-color: #eee;
            text-decoration: none;
        }
    header {
        height: 30px;
        line-height: 23px;
    }
</style>

<div class="panel-group col-lg-12 " ng-controller="ProviderTasksController as mc" ng-cloak>
    <toaster-container toaster-options="{'time-out': 2000,'position-class': 'toast-top-right','close-button':true}"></toaster-container>

    <div class="row">
        <div class="panel-body">
            <div class="col-lg-12" ng-cloak>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a id="tabs1" data-toggle="tab" ng-click="showtabdata();tabName('ProviderTasks')" href="">Provider Tasks</a></li>
                    <li><a id="tabs2" data-toggle="tab" ng-click="showtabdata();tabName('ClosedTasks')" href="">Closed Tasks</a></li>
                    <li><a id="TaskHistory_Link" data-toggle="tab" ng-click="showtabdata();tabName('Historytab')" href="" ng-show="showHistorytab">Task History</a></li>
                    <label tooltip data-toggle="tooltip" data-placement="top" title="Close" ng-show="showHistorytab" style="color:red;cursor:pointer" class="fa fa-close" ng-click="closeHistory()"></label>
                </ul>
            </div>
        </div>
    </div>
    @*<div ng-if="TableView">*@
    <div id="tab1" class="tab-pane fade in active">

        <div class="form-style" ng-if="TableView">
            <fieldset>
                <legend id="legendname">{{TabName}}</legend>
                <div id="addButton" class="legend2 pull-right">
                    <button id="AddNew_Task" ng-click="showAddView()" class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="top" title="Add New"><i class="fa fa-plus"></i></button>
                    <div id="showingDateTimePicker" ng-show="showSetReminder">
                        @Html.Partial("~/Views/Prototypes/Reminders/_setReminder.cshtml")
                    </div>
                </div>
                <div class="pull-right" style="color:red;" ng-show="selTask.length<1&&showOnClose&&mc.displayed.length>0">
                    *Please select the provider(s) to Set Reminder
                </div>
                @*<div class="col-lg-12 zero-padding-left-right-div">

                    <div ng-show="activeMessageDiv=='successfullySaved'" class="alert alert-success" role="alert">
                        <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                        {{messageDesc}}
                    </div>
                    <div ng-show="activeMessageDiv=='errorInitiated'" class="col-lg-12">
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            <span>{{messageDesc}}</span>
                        </div>
                    </div>
                </div>*@

                <div class="col-lg-12 form-group  zero-padding-left-right-div" ng-init="TasksData()">
                    <table ng-if="trackerItems1.length>0" class='table table-striped table-bordered customtbodyStyle medium wrap-words' st-pipe="mc.callServer" st-table="mc.displayed" st-persist="mc.displayed" st-safe-src="trackerItems1">
                        <thead>
                            <tr>
                                <th st-sort="Subject" st-ratio="9">
                                    Subject
                                </th>
                                <th st-sort="SubSectionName" st-ratio="10">
                                    Sub Section Name
                                </th>
                                <th st-sort-default="false" st-sort="NextFollowUpDate" st-ratio="10" ng-if="tabStatus.followUpDate">
                                    Next FollowUp Date
                                </th>
                                <th st-sort-default="false" st-sort="daysleft" st-ratio="10" ng-if="tabStatus.daysleft">
                                    Days Left
                                </th>
                                <th st-sort="AssignedTo" st-ratio="12">
                                    Assigned To
                                </th>
                                @*<th st-sort="CompleteStatus" st-ratio="7">
                        Task Status
                    </th>*@
                                <th st-sort="PlanName" st-ratio="10">
                                    Plan Name
                                </th>
                                <th st-ratio="12">
                                    Mode Of Follow Up
                                </th>
                                <th st-ratio="12" ng-show="selTask.length<1">Action </th>
                                <th st-ratio="12" class="ActionButton" ng-show="!(selTask.length<1)">
                                    <button id="" style="width: 90px;height: 29px;" class="btn btn-xs btn-primary SetRemButton"
                                            ng-click="SetReminderModal()" data-toggle="tooltip" data-placement="top" title="Click to set reminder" data-original-title="Click to set reminder">
                                        Set Reminder
                                    </button>
                                </th>
                            </tr>
                            <tr>
                                @*<td st-ratio="14"><input st-search="ProviderName" type="text" placeholder="Filter Provider Name" class="form-control input-sm"></td>*@
                                <td st-ratio="9"><input st-search="Subject" type="text" placeholder="Filter Subject" class="form-control input-sm" /></td>
                                <td st-ratio="10"><input st-search="SubSectionName" type="text" placeholder="Filter Sub Section Name" class="form-control input-sm" /></td>
                                <td st-ratio="10" ng-if="tabStatus.followUpDate"><input st-search="NextFollowUpDate" type="text" placeholder="Filter Next FollowUp Date" class="form-control input-sm" /></td>
                                <td st-ratio="10" ng-if="tabStatus.daysleft"><input st-search="daysleft" type="number" placeholder="Filter Days Left" class="form-control input-sm" /></td>
                                <td st-ratio="14"><input st-search="AssignedToName" type="text" placeholder="Filter Assigned To" class="form-control input-sm" /></td>
                                @*<td st-ratio="7"><input st-search="CompleteStatus" type="text" placeholder="Filter Task Status" class="form-control input-sm" /></td>*@
                                <td st-ratio="10"><input st-search="ViewPlanName" type="text" placeholder="Filter Plan Name" class="form-control input-sm" /></td>
                                <td st-ratio="16"><input st-search="ModeOfFollowUp" type="text" placeholder="Filter Follow Up Mode" class="form-control input-sm" /></td>
                                <td st-ratio="12"></td>
                            </tr>   
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in mc.displayed "
                                 ng-click="selectRemTask($event,c)"
                                ng-style="c.SelectStatus ?{'background-color':'rgb(102, 135, 162)',color:'white' } : {'background-color':'white',color:'black'}"
                                ng-class="{danger:(c.daysleft < 0) && c.CompleteStatus!='CLOSED' && !c.SelectStatus}">
                                <td>
                                    <span ng-show="c.SetReminder" style="color:#004e92" class="">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                {{c.Subject}}</td>
                                <td>{{c.SubSectionName}}</td>
                                <td ng-if="tabStatus.followUpDate">{{c.NextFollowUpDate}}</td>
                                <td ng-if="tabStatus.daysleft">{{c.daysleft}}</td>
                                <td>{{c.AssignedToName}}</td>
                                @*<td>{{c.Status}}</td>*@
                                @*<td>{{c.InsuranceCompanyName || 'Not Available'}}</td>*@
                                <td>{{c.ViewPlanName || 'Not Available'}}</td>
                                @*<td><p ng-repeat="m in c.InsuranceCompanyName"><span class="label label-info">{{m}}</span></p></td>*@
                                <td><p ng-repeat="m in c.ModeOfFollowUp track by $index"><span class="label label-info">{{m.Name}}</span></p></td>
                                <td>
                                    @*<a class="btn btn-xs btn-default" href='@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Profile/MasterProfile/ProviderProfile/{{c.ProfileID}}{{c.TabID}}{{c.SubSectionID}}' tooltip data-toggle="tooltip" data-placement="top" title="Redirect" ng-if="tabStatus.editBtn"><i class="fa fa-repeat"></i></a>*@
                                    <button id="View_Task" class="btn btn-xs btn-default" ng-click="showDetailViewforTab1(c)" tooltip data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></button>
                                    <button id="Edit_Task" class="btn btn-xs btn-primary" ng-if="(c.Status=='OPEN'||c.Status=='REOPEN')" ng-click="showeditView(c,'editViewforTab')" tooltip data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                    <button id="Cancle_Task" class="btn btn-xs btn-danger" ng-if="(c.Status=='OPEN'||c.Status=='REOPEN')" ng-click="QuickRemove(c)" tooltip data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-remove"></i></button>
                                    <button id="Task_Update_History" class="btn btn-xs btn-warning" ng-click="showHistory(c)" tooltip data-toggle="tooltip" data-placement="top" title="Task Update History"><i class="fa fa-clock-o"></i></button>
                                    @*<button class="btn btn-xs btn-warning" ng-click="showHistory(c)" tooltip data-toggle="tooltip" data-placement="top" title="Task Update History" ng-if="tabStatus.historyBtn"><i class="fa fa-clock-o"></i></button>*@
                                    <button class="btn btn-xs btn-primary" ng-if="c.Status=='CLOSED'" ng-click="Quickreopen(c)" tooltip data-toggle="tooltip" data-placement="top" title="Reopen"><i class="fa fa-repeat"></i></button>
                                    <span ng-show="c.SelectStatus" class="">
                                        <i class="fa fa-check"></i>

                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot style="cursor:pointer">
                            <tr>
                                <td class="text-center" st-pagination="" st-items-by-page="10" colspan="9"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div ng-show="mc.displayed.length==0 && !mc.isLoading" class="text-center">
                    <label>No Data Available.</label>
                </div>

                @*<div ng-show="!mc.displayed.length==0 && !mc.isLoading"><span class="label label-primary">C- COMMERCIAL</span>&nbsp;<span class="label label-primary">CE- COMMERCIAL EXCHANGE</span>&nbsp;<span class="label label-primary">FFS- FEE FOR SERVICE</span>&nbsp;<span class="label label-primary">MC- MEDICARE</span>&nbsp;<span class="label label-primary">MD- MEDICAID</span>&nbsp;<span class="label label-primary">MR- MEDICARE RISK</span>&nbsp;<span class="label label-primary">WC- WORKERS COMPENSATION</span></div>
                    <div ng-show="!mc.displayed.length==0 && !mc.isLoading"><span class="label label-primary">IME- IME</span>&nbsp;<span class="label label-primary">US DOL- US DOL</span></div>*@
                <br />
            </fieldset>
        </div>


    </div>
    <div ng-if="VisibilityControl == 'editViewforTab'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div form-style">
        <fieldset>
            <legend>
                Edit Task
            </legend>
            <div class="legend2 pull-right">
                <button ng-click="cancelEditViewforTasks()" class="btn btn-xs btn-default" tooltip data-toggle="tooltip" data-placement="top" title="close"><i class="fa fa-close"></i></button>
            </div>
            <div id="editFormDiv">
                @Html.Partial("~/Areas/Profile/Views/Tasks/_AddEditTask.cshtml")
            </div>
        </fieldset>
    </div>
    <div ng-if="addView" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div form-style" ng-cloak>
        <fieldset>
            <legend>
                Add New Task
            </legend>
            <div class="legend2 pull-right">
                <button ng-click="cancelAdd()" class="btn btn-xs btn-default" tooltip data-toggle="tooltip" data-placement="top" title="close"><i class="fa fa-close"></i></button>
            </div>
            <div id="newFormDiv">
                @Html.Partial("~/Areas/Profile/Views/Tasks/_AddEditTask.cshtml")
            </div>
        </fieldset>
    </div>
    <div id="Historytoggle" ng-if="history" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div form-style" ng-cloak>
        <fieldset ng-show="taskhistorytab">
            <legend>
                Task History
            </legend>
            @*<div class="legend2 pull-right">
                    <button ng-click="closeHistory()" class="btn btn-xs btn-default" tooltip data-toggle="tooltip" data-placement="top" title="close"><i class="fa fa-close"></i></button>
                </div>*@
            <div>
                @Html.Partial("~/Areas/Profile/Views/Tasks/_TaskHistory.cshtml")
            </div>
        </fieldset>
    </div>
    <div ng-show="detailViewfortab" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div form-style">
        <fieldset>
            <legend>
                View Task
            </legend>
            <div class="legend2 pull-right">
                <button class="btn btn-xs btn-primary" ng-click="showeditView(selectedTask,'editViewforTab');" ng-if="showeditbtn" tooltip data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                <button ng-click="cancelViewforTab1()" class="btn btn-xs btn-default" tooltip data-toggle="tooltip" data-placement="top" title="close"><i class="fa fa-close"></i></button>
            </div>
            <div id="detailFormDiv">
                @Html.Partial("~/Areas/Profile/Views/Tasks/_ViewTask.cshtml")
            </div>
        </fieldset>
    </div>

    <div class="modal fade" id="inactiveWarningModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="removeTask">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Warning!!!!</h4>
                    </div>
                    <div class="col-lg-12 text-center" ng-show="isRemoved">
                        <div style="margin-top:2%;">
                            <img src="~/Content/Images/ajax-loader.gif" style="width:50px;" /> Please Wait..
                        </div>
                    </div>
                    <div class="modal-body" ng-show="!isRemoved">
                        Do you really want to Close the Task ?
                        <input type="hidden" name="TaskTrackerId" value="{{task.TaskTrackerId}}" />
                    </div>
                    <div class="modal-footer">
                        <button id="Cancle_Warning_Close_Task" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="Warning_Close_Task" type="button" class="btn btn-primary" ng-click="removeTask();cancelForRemoveTask()" data-dismiss="modal">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reactiveWarningModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="removeTask">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Warning!!!!</h4>
                    </div>
                    <div class="col-lg-12 text-center" ng-show="isRemoved">
                        <div style="margin-top:2%;">
                            <img src="~/Content/Images/ajax-loader.gif" style="width:50px;" /> Please Wait..
                        </div>
                    </div>
                    <div class="modal-body" ng-show="!isRemoved">
                        Do you really want to re-open the Task ?
                        <input type="hidden" name="TaskTrackerId" value="{{task.TaskTrackerId}}" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="reopenTask();cancelForReopenTask()" data-dismiss="modal">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="inactiveWarningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="removeTask">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Warning!!!!</h4>
                    </div>
                    <div class="col-lg-12 text-center" ng-show="isRemoved">
                        <div style="margin-top:2%;">
                            <img src="~/Content/Images/ajax-loader.gif" style="width:50px;" /> Please Wait..
                        </div>
                    </div>
                    <div class="modal-body" ng-show="!isRemoved">
                        Do you really want to Close the Task ?
                        <input type="hidden" name="TaskTrackerId" value="{{task.TaskTrackerId}}" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="CloseTask();cancelForRemoveTask()" data-dismiss="modal">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



