@model PortalTemplate.Areas.Coding.Models.ICDCPTMapping.ICDCPTCodemappingViewModel

<tr>
    <td>
      
        @Html.PratianUISearchInputDropDown(model => model.Code, "/CodingMasterData/GetCPTCodesMasterData", "Code", "Code", new { @class = "form-control input-xs text-uppercase EnMCode_width", @onchange = "checkenmcode(this)" })
        @Html.ValidationMessageFor(model => model.Code)
        <span class="displayNone field-validation-error">Please Enter CPT Code</span>
    </td>
    <td>
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control input-xs text-uppercase" })
        @Html.ValidationMessageFor(model => model.Description)
    </td>
    <td>
        @Html.TextBoxFor(model => model.Modifier3, new { @class = "form-control input-xs text-uppercase modifier_width" })
        @Html.TextBoxFor(model => model.Modifier4, new { @class = "form-control input-xs text-uppercase modifier_width" })
        @Html.TextBoxFor(model => model.Modifier2, new { @class = "form-control input-xs text-uppercase modifier_width" })
        @Html.TextBoxFor(model => model.Modifier1, new { @class = "form-control input-xs text-uppercase modifier_width" })

    </td>
    <td>
        @Html.TextBoxFor(model => model.DiagnosisPointer1, new { @class = "form-control input-xs text-uppercase Diapointer_width" })
        @Html.TextBoxFor(model => model.DiagnosisPointer2, new { @class = "form-control input-xs text-uppercase Diapointer_width" })
        @Html.TextBoxFor(model => model.DiagnosisPointer3, new { @class = "form-control input-xs text-uppercase Diapointer_width" })
        @Html.TextBoxFor(model => model.DiagnosisPointer4, new { @class = "form-control input-xs text-uppercase Diapointer_width" })
        <a onclick="addDP(this)" class="btn btn-xs openDiagnosisModal"><i class=" fa fa-forward"></i></a>
    </td>
    <td>

        @Html.TextBoxFor(model => model.Fee, new { @class = "form-control input-xs text-uppercase CPTFee_width" })
        @Html.ValidationMessageFor(model => model.Fee)
        <label class="CPTdollar_label">$</label>
    </td>

    <td onclick="RemoveRows(this)"><button type="button" class="btn btn-xs btn-danger"><i class="fa fa fa-minus"></i></button></td>

</tr>