@model PortalTemplate.Areas.Coding.Models.ICDCodes.ICDCodeViewModel
<tr>
    <td>
        @Html.PratianUISearchInputDropDown(model => model.ICDCode, "/CodingMasterData/GetICDCodesMasterData", "ICDCode", "ICDCode", new { @class = "form-control input-xs text-uppercase" })
        @Html.ValidationMessageFor(model => model.ICDCode)
    </td>
    <td>
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control input-xs text-uppercase" })
        @Html.ValidationMessageFor(model => model.Description)
    </td>
    <td>
        @Html.TextBoxFor(model => Model.HCCCodes[0].Code, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
    </td>
    <td>
        @Html.TextBoxFor(model => Model.HCCCodes[0].Type, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
    </td>
    <td>
        @Html.TextBoxFor(model => Model.HCCCodes[0].Version, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
    </td>
    <td>
        @Html.TextBoxFor(model => Model.HCCCodes[0].Description, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
    </td>
    <td>
        @Html.TextBoxFor(model => Model.HCCCodes[0].Weight, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
    </td>
    <td onclick="RemovecurrentICDrow(this)"><button type="button" class="btn btn-xs btn-danger"><i class="fa fa fa-minus"></i></button></td>
</tr>