@model PortalTemplate.Areas.Coding.Models.CreateCoding.ICDCodeDetailsViewModel

<div class="col-lg-12 EditCodingMainPanel">
    <div class="row">
        <div class="col-lg-12">
            <button class="pull-right btn btn-xs btn-info DiagnosisActiveHistory_Edit">Active Diagnosis Codes</button>
            <div class="pull-left">

                @Html.PratianUiRadioButtonFor(model => model.IsICD10, "ICD9", Model.IsICD10 ? null : new { @checked = "checked"})
                @Html.PratianUiRadioButtonFor(model => model.IsICD10, "ICD10", Model.IsICD10 ? new { @checked = "checked" } : null)
                @*@if (Model.IsICD10)
                {
                    @Html.PratianUiRadioButtonFor(model => model.IsICD10, "ICD9")
                    @Html.PratianUiRadioButtonFor(model => model.IsICD10, "ICD10", new { @checked = "checked" })
                }
                else
                {
                    @Html.PratianUiRadioButtonFor(model => model.IsICD10, "ICD9", new { @checked = "checked" })
                    @Html.PratianUiRadioButtonFor(model => model.IsICD10, "ICD10")
                }*@

                @*@Html.PratianUiRadioButtonFor(model => model.IsICD10, "ICD9")*@
                @*<input class="normal-radio" id="icd9" name="ICDIndicator" type="radio" value="ICD9">*@
                @*<label for="ICD9">ICD9</label>*@
                @*@Html.PratianUiRadioButtonFor(model => model.IsICD10, "ICD10")*@
                @*<input class="normal-radio" id="icd10" name="ICDIndicator" type="radio" value="ICD10">*@
                @*<label for="ICD10">ICD10</label>*@
            </div>
        </div>
    </div>

    <div class="col-lg-12 padding_icd zero-padding-left-right" hidden id="HistoryDiagnosisICD">
    </div>

    <div class="row ICDCodeTable">
        <div class="col-lg-12">
            <table class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        <th>Code</th>
                        <th>Description </th>
                        <th>HCC Code</th>
                        <th>HCC Type</th>
                        <th>HCC Version</th>
                        <th>HCC Description </th>
                        <th>HCC Weight</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="ICDCodetbody_Edit">

                    @for (var i = 0; i < Model.ICDCodes.Count; i++)
                    {
                        var RowSpan = Model.ICDCodes[i].HCCCodes.Count;
                        <tr>
                            <td rowspan="@RowSpan">
                                @Html.PratianUISearchInputDropDown(model => model.ICDCodes[i].ICDCode, "/CodingMasterData/GetICDCodesMasterData", "ICDCode", "ICDCode", new { @class = "form-control input-xs text-uppercase" })

                                @*@Html.PratianUiDropDownListFor(t => t.TestText, "/Home/FilteredResult", 1, "100%", "Select Member", "1000", new { @class = "ajax-drop-down" })*@

                                @Html.ValidationMessageFor(m => m.ICDCodes[i].ICDCode)
                            </td>
                            <td rowspan="@RowSpan">
                                @Html.TextBoxFor(model => model.ICDCodes[i].Description, new { @class = "form-control input-xs text-uppercase" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[0].Code, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[0].Type, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[0].Version, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[0].Description, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[0].Weight, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                            </td>
                            <td onclick="RemovecurrentICDrow(this)"><button type="button" class="btn btn-xs btn-danger"><i class="fa fa fa-minus"></i></button></td>
                        </tr>

                        for (var j = 1; j < Model.ICDCodes[i].HCCCodes.Count; j++)
                        {
                            <tr>
                                <td>
                                    @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[j].Code, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[j].Type, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[j].Version, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[j].Description, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => Model.ICDCodes[i].HCCCodes[j].Weight, new { @class = "form-control input-xs text-uppercase bottom-lowMargin" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="button" class="light-green-button pull-right" id="AddNewIcdrow_Edit"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>

<p-script filepath="~/Areas/Coding/Scripts/AppJs/EditCoding/NonMinified/ICDCodeDetails.js"></p-script>
<p-link filepath="~/Areas/Coding/Contents/CSS/AppCss/EditCoding/NonMinified/ICDCodeDetails.css" rel="stylesheet"></p-link>