@model IEnumerable<PortalTemplate.Areas.CM.Models.Queue.QueueViewModel>
@using PortalTemplate.Areas.CM.CustomHelpers;
<p-link filepath="~/Areas/CM/Styles/Queue/UserQueue.css" rel="stylesheet"></p-link>
<p-script filepath="~/Areas/CM/Scripts/Queue/NonMinified/UserQueue.js"></p-script>

<div class="tableBodyDivision">
    <!-- SPINNER -->
    @*<div class="spinner-container">
        <img class="spinner-image" src="~/Resources/Images/Common/spinner.gif" />
    </div>*@
    <!-- END SPINNER -->
    <table id="User_Queue_Table" class="table table-striped table-hover table-responsive">
        <thead class="theme_thead custom-thead-back theme1_table custom-thead-font custom-tbody">
            <tr>
                <th class="maxWidthtdSM">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.IsCOPD) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">

                        <span></span>

                    </span>

                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.IsDM) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.IsCVD)  &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdXL">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.IsHF)&nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.MRA)&nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.Claims) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>

                <th class="maxWidthtdXL">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.HRA) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdXL">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.ERVisit)  &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdXL">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.Hospital) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdSM">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.MemberID) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdSM">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.MemberName)&nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdSM">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.DateOfBirth)  &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdSM">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.PCP)  &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.LineOfBusiness) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.PlanBenefitPortal)  &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdSM">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.DueDate)  &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.EpisodeID)  &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdSM">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.EpisodeCloseDate)  &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.CaseID)  &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">

                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX assignedTo">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.CaseCloseDate) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.Program)&nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.Status) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.DaysInEpisode) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.DaysInCase) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.PreferenceTime) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.SuccessfulOutreach) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.UnsuccessfulOutreach) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.AssignedTo) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.Note) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.State) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                <th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.County) &nbsp;<i class="fa fa-sort User-Queue-Sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
                @*<th style="max-width:0;" class="width_1"></th>*@
            </tr>
        </thead>
        <tbody id="UserQueueTable">
            @foreach (var item in Model)
            {
                //var startcolor = String.Concat(item.RowColor, "_start");
                //var endcolor = String.Concat(item.RowColor, "_end");
                <tr class="tab-navigation cursor_pointer">
                    @*  <td class="width_1 @startcolor"></td>*@
                    @* <td class="maxWidthtdSM" onclick="event.stopPropagation()"><div><input id="checkBox  index  " type="checkbox" name="mainCheckBox  index  " class="normal-checkbox" value="all"><label for="mainCheckBox  index  "><span></span></label></div></td>*@
                    <td class="maxWidthtdSM">
                        <label class="singleElemQueue theme_label_data">
                            @if (@item.IsCOPD)
                            {<label class="label label-success"><i class="fa fa-check"></i></label> }
                            else
                            {<label class="label label-danger"><i class="fa fa-times"></i></label> }
                        </label>
                    </td>
                    @*<td class="maxWidthtdSM">
                            <label class="singleElemQueue theme_label_data">
                                @Html.GetDataIcon("");
                            </label>
                        </td>*@
                    <td class="maxWidthtdSM">
                        <label class="singleElemQueue theme_label_data">
                            @if (@item.IsDM)
                            {<label class="label label-success"><i class="fa fa-check"></i></label> }
                            else
                            {<label class="label label-danger"><i class="fa fa-times"></i></label> }
                        </label>
                    </td>
                    <td class="maxWidthtdSM">
                        <label class="singleElemQueue theme_label_data">
                            @if (@item.IsCVD)
                            {<label class="label label-success"><i class="fa fa-check"></i></label> }
                            else
                            {<label class="label label-danger"><i class="fa fa-times"></i></label> }
                        </label>
                    </td>
                    <td class="maxWidthtdSM">
                        <label class="singleElemQueue theme_label_data">
                            @if (@item.IsHF)
                            {<label class="label label-success"><i class="fa fa-check"></i></label> }
                            else
                            {<label class="label label-danger"><i class="fa fa-times"></i></label> }
                        </label>
                    </td>

                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.MRA</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.HRA</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.Claims</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.ERVisit</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.Hospital</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.MemberID</label></td>
                    <td class="maxWidthtdXL"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="MEMBER" data-content=@item.MemberName.ToUpper()>  @item.MemberName </div></label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data">@item.DateOfBirth </label></td>
                    <td class="maxWidthtdXL"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="PCP" data-content=@item.PCP> @item.PCP</div></label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.LineOfBusiness</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="PBP" data-content=@item.PlanBenefitPortal.ToUpper()>  @item.PlanBenefitPortal </div> </label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.DueDate</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.EpisodeID</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.EpisodeCloseDate</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.CaseID</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.CaseCloseDate</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.Program</label></td>
                    <td class="maxWidthtdXL"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="STATUS" data-content=@item.Status.ToUpper()>@item.Status</div></label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.DaysInEpisode</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.DaysInCase</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.PreferenceTime</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.SuccessfulOutreach</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.UnsuccessfulOutreach</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.AssignedTo</label></td>
                    <td class="maxWidthtdXL"><label class="singleElemQueue maxWidthXLem theme_label_data"><div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-title="Note" data-content=@item.Note.ToUpper()>@item.Note</div></label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.State</label></td>
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.County</label></td>

                </tr>
            }
        </tbody>
    </table>
</div>

