@using PratianUI
@model IEnumerable<PortalTemplate.Areas.CredAxisProduct.Models.ProviderProfileViewModel.WorkHistoryViewModel.PublicHealthServicesViewModel>
@{
    var PublicHealthServiceCount = 0;
    var ObjectPresent = 1;
}
<fieldset class="fsStyle" id="AddEditPublicHeathService">
    <legend class="legendStyle">
        @foreach (var item in Model)
        {
            if (item == null)
            {
                <span class="theme_depend text-uppercase create-auth-legends">
                    Add PUBLIC HEALTH SERVICE
                </span>
                ObjectPresent = 0;
            }
        }
        @if (ObjectPresent != 0)
        {
            <span class="theme_depend text-uppercase create-auth-legends">
                Edit PUBLIC HEALTH SERVICE
            </span>
        }
    </legend>
@foreach (var item in Model)
{
    PublicHealthServiceCount = PublicHealthServiceCount + 1;
    <div class="x_content zero-padding-left mutiple-data">
        @if (item != null)
{
    <div class="SubHeaderSpacing1">
        <span class="text-uppercase TableHeading">Edit PUBLIC HEALTH SERVICE - @PublicHealthServiceCount</span>
    </div>
}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
            <span class="theme_label col-lg-5 nopadding">
                <label class="">@Html.DisplayNameFor(e => e.StartDate) </label>
            </span>
            <span class="col-lg-1"></span>
            <span class="col-lg-6 nopadding">
                <span class="theme_label">
                    @Html.PratianUiDatePickerFor(e => item.StartDate, new { @class = "form-control input-xs", placeholder = "START DATE" })
                    @*@Html.TextBoxFor(e => item.StartDate, new { @class = "form-control input-xs", @placeholder = "Start Date" })*@
                </span>
            </span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
            <span class="theme_label col-lg-5 nopadding">
                <label class="">@Html.DisplayNameFor(e => e.EndDate) </label>
            </span>
            <span class="col-lg-1"></span>
            <span class="col-lg-6 nopadding">
                <span class="theme_label">
                    @Html.PratianUiDatePickerFor(e => item.EndDate, new { @class = "form-control input-xs", placeholder = "END DATE" })
                    @*@Html.TextBoxFor(e => item.EndDate, new { @class = "form-control input-xs", @placeholder = "End Date" })*@
                </span>
            </span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
            <span class="theme_label col-lg-5 nopadding">
                <label class="">@Html.DisplayNameFor(e => e.LastLocation) </label>
            </span>
            <span class="col-lg-1"></span>
            <span class="col-lg-6 nopadding">
                <span class="theme_label">
                    @Html.TextBoxFor(e => item.LastLocation, new { @class = "form-control input-xs", @placeholder = "Location" })
                </span>
            </span>
        </div>
    </div>
}
    <div class="row">
        <div class="row col-lg-12 zero-padding-left-right margin-top-5px">
            <button class="btn btn-success btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/WorkHistory/GetPublicHealthServiceAddEditPartial" data-tab-container="PublicHealthServiceDiv" value=""> Save</button>
                <button class="btn btn-danger btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/WorkHistory/GetPublicHealthServiceAddEditPartial" data-tab-container="PublicHealthServiceDiv" value="">Cancel</button>
</div>
    </div>
</fieldset>
