
<link href="~/Content/c3.min.css" rel="stylesheet" />





<div class="create_new_episode">
    <div id="referredBy">
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_ReferredBy.cshtml")  
          
    </div>

    <div id="system_identified_problem" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_SystemIdentifiedProblem.cshtml")
         
    </div>

    <div id="rx" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_RX.cshtml")

    </div>

    <div id="HRA_History" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_HRAhistory.cshtml")

    </div>

    <div id="claims" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_Claims.cshtml")

    </div>

    <div id="um" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_UM.cshtml")


    </div>

    <div id="notes" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_Notes.cshtml")

    </div>

    <div id="contacts" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_Contacts.cshtml")

    </div>

    <div id="docs" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_Documents.cshtml")
        
    </div>

    <div id="letters" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_Letters.cshtml")

    </div>
    <div id="summary" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_Summary.cshtml")       
    </div>
    <div id="decision" hidden>
        @Html.Partial("~/Views/CaseManagement/CreateEpisode/_Decision.cshtml")

    </div>

</div>


<p-script filepath="~/Scripts/AppScripts/CaseManagement/CreateEpisode/CreateEpisode.js"></p-script>

<p-script filepath="~/Scripts/LibScripts/c3.min.js"></p-script>

<p-script filepath="~/Scripts/LibScripts/d3.v3.min.js"></p-script>