@using PratianUI
@{List<string> list = new List<string> { "SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY" };}
<div class="clearfix"></div>
<div id="TimeSlotToAppend" hidden="hidden" type="text/x-custom-template">
    <div id="TimeSlotArea">
        <div class="TimeSlotRow">
            <div class="col-lg-12 row">
                @*<div class="col-lg-3 zero-padding-left">
                        <span class="theme_label_data">@Html.PratianUiDropDownList(list, "MONDAY", new { @placeholder = "START DAY" })</span>
                    </div>
                    <div class="col-lg-2 zero-padding-left">
                        <span class="theme_label_data">@Html.PratianUiDropDownList(list, new { @placeholder = "END DAY", @disabled = "disabled" })</span>
                    </div>*@
                <div class="col-lg-2 zero-padding-left">
                    <span class="theme_label_data">
                        <select startid="">
                            <option value="" disabled selected hidden>START DAY</option>
                            <option value="SUNDAY">SUNDAY</option>
                            <option value="MONDAY" selected="selected">MONDAY</option>
                            <option value="TUESDAY">TUESDAY</option>
                            <option value="WEDNESDAY">WEDNESDAY</option>
                            <option value="THURSDAY">THURSDAY</option>
                            <option value="FRIDAY">FRIDAY</option>
                            <option value="SATURDAY">SATURDAY</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-2 zero-padding-left endDayClass">
                    <span class="theme_label_data">
                        <select endid="" disabled="disabled">
                            <option value="" disabled selected hidden>END DAY</option>
                            <option value="SUNDAY">SUNDAY</option>
                            <option value="MONDAY">MONDAY</option>
                            <option value="TUESDAY">TUESDAY</option>
                            <option value="WEDNESDAY">WEDNESDAY</option>
                            <option value="THURSDAY">THURSDAY</option>
                            <option value="FRIDAY">FRIDAY</option>
                            <option value="SATURDAY">SATURDAY</option>
                        </select>
                    </span>
                </div>
                <div class="col-lg-1 nopadding">
                    <button class="btn btn-default btn-xs RemoveButtonStyleModal EndDayToggle"><i class="fa fa-power-off"></i></button>
                </div>
                <div class="col-lg-3 zero-padding-left">
                    <span class="theme_label_data boxstyle">@Html.PratianUiTimePicker(new { })</span>
                </div>
                <div class="col-lg-3 zero-padding-left">
                    <span class="theme_label_data boxstyle">@Html.PratianUiTimePicker(new { })</span>
                </div>
                <div class="col-lg-1 nopadding">
                    <button class="btn btn-danger btn-xs RemoveButtonStyleModal hidden Delete_OfficeHours_Btn" tabindex="-1"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-success btn-xs RemoveButtonStyleModal Add_OfficeHours_Btn"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="target profilediv nopadding" id="OfficeHoursID">
    <fieldset class="fsStyle" id="ViewOfficeHoursDetails">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Edit Office Hours
            </span>
            &nbsp;&nbsp;
        </legend>
        <div class="col-lg-8">
            <div class="col-lg-12 row">
                <div class="col-lg-5 nopadding">
                    <div class="SubHeaderSpacing1">
                        <span class="text-uppercase TableHeading">SELECT DAYS</span>
                    </div>
                </div>
                <div class="col-lg-7 nopadding">
                    <div class="SubHeaderSpacing1">
                        <span class="text-uppercase TableHeading">SELECT WORKING HOURS</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 row">
                <div class="col-lg-2 nopadding">
                    <span class="theme_label"><label>START DAY</label></span>
                </div>
                <div class="col-lg-3 nopadding">
                    <span class="theme_label"><label>END DAY</label></span>
                </div>
                <div class="col-lg-3 nopadding">
                    <span class="theme_label"><label>START TIME</label></span>
                </div>
                <div class="col-lg-4 nopadding">
                    <span class="theme_label"><label>END TIME</label></span>
                </div>
            </div>
            <div id="TimeSlotArea">
                <div class="TimeSlotRow">
                    <div class="col-lg-12 row">
                        <div class="col-lg-2 zero-padding-left">
                            <span class="theme_label_data">
                                @*@Html.PratianUiDropDownList(list, "MONDAY", new { @placeholder = "START DAY" })*@
                                <select startid="OffcHrsStartDay_0">
                                    <option value="" disabled selected hidden>START DAY</option>
                                    <option value="SUNDAY">SUNDAY</option>
                                    <option value="MONDAY" selected="selected">MONDAY</option>
                                    <option value="TUESDAY">TUESDAY</option>
                                    <option value="WEDNESDAY">WEDNESDAY</option>
                                    <option value="THURSDAY">THURSDAY</option>
                                    <option value="FRIDAY">FRIDAY</option>
                                    <option value="SATURDAY">SATURDAY</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-lg-2 zero-padding-left endDayClass">
                            <span class="theme_label_data">
                                @*@Html.PratianUiDropDownList(list, new { @placeholder = "END DAY", @disabled = "disabled" })*@
                                <select endid="OffcHrsEndDay_0" disabled="disabled">
                                    <option value="" disabled selected>END DAY</option>
                                    <option value="SUNDAY">SUNDAY</option>
                                    <option value="MONDAY">MONDAY</option>
                                    <option value="TUESDAY">TUESDAY</option>
                                    <option value="WEDNESDAY">WEDNESDAY</option>
                                    <option value="THURSDAY">THURSDAY</option>
                                    <option value="FRIDAY">FRIDAY</option>
                                    <option value="SATURDAY">SATURDAY</option>
                                </select>
                            </span>
                        </div>
                        <div class="col-lg-1 nopadding">
                            <button class="btn btn-default btn-xs RemoveButtonStyleModal EndDayToggle"><i class="fa fa-power-off"></i></button>
                        </div>
                        <div class="col-lg-3 zero-padding-left">
                            <span class="theme_label_data boxstyle">@Html.PratianUiTimePicker(new { })</span>
                        </div>
                        <div class="col-lg-3 zero-padding-left">
                            <span class="theme_label_data boxstyle">@Html.PratianUiTimePicker(new { })</span>
                        </div>
                        <div class="col-lg-1 nopadding">
                            <button class="btn btn-danger btn-xs RemoveButtonStyleModal hidden Delete_OfficeHours_Btn" tabindex="-1"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-success btn-xs RemoveButtonStyleModal Add_OfficeHours_Btn"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 nopadding boxstyle">
                <div class="SubHeaderSpacing1">
                    <span class="text-uppercase TableHeading">SELECT OFF DAYS</span>
                </div>
            </div>
            <div class="col-lg-12 boxstyle">
                <span class="theme_label_data">
                    @Html.PratianUiDropDownList(list, new { @placeholder = "OFF DAYS", @multiple = "multiple" })
                </span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="x_content zero-padding-left">
                <div class="col-lg-6 nopadding text_adjust boxstyle">
                    <label class="theme_label">24/7 Phone Coverage ?*</label>
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton(new { @name = "Q1", @checked = "checked" }) YES
                        @Html.PratianUiRadioButton(new { @name = "Q1" }) NO
                    </span>
                </div>
                <div class="col-lg-6 nopadding text_adjust boxstyle">
                    <label class="theme_label col-lg-12 nopadding">Voice Mail With Instructions To Call Answering Service*</label>
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton(new { @name = "Q2", @checked = "checked" }) YES
                        @Html.PratianUiRadioButton(new { @name = "Q2" }) NO
                    </span>
                </div>
                <div class="col-lg-6 nopadding text_adjust boxstyle">
                    <label class="theme_label col-lg-12 nopadding">Voice Mail With Other Instructions*</label>
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton(new { @name = "Q3", @checked = "checked" }) YES
                        @Html.PratianUiRadioButton(new { @name = "Q3" }) NO
                    </span>
                </div>
                <div class="col-lg-6 nopadding text_adjust boxstyle">
                    <label class="theme_label col-lg-12 nopadding">After Hours Telephone Number</label>
                    <span class="theme_label_data">@Html.PratianUiPhoneFormatFor(m => m)</span>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 zero-padding-left-right">
            <button class="btn btn-success btn-xs yahanClickKar  list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/PracticeLocation/ViewOfficeHoursPartial" data-tab-container="PLOfficeHours" value="">Save</button>
            <button class="btn btn-danger btn-xs yahanClickKar list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/PracticeLocation/ViewOfficeHoursPartial" data-tab-container="PLOfficeHours" value="">Cancel</button>
        </div>
    </fieldset>

</div>
@*<table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0" style="width: 100%;">
        <thead class="theme_thead">
            <tr>
                <th class="withfilter " style="width:30%">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required=""><label>DAY</label><span></span>
                    </span>
                </th>
                <th class="withfilter " style="width:30%">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required=""><label>START TIME</label><span></span>
                    </span>
                </th>
                <th class="withfilter " style="width:30%">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required=""><label>END TIME</label><span></span>
                    </span>
                </th>
                <th class="withfilter " style="width:10%">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required=""><label>ACTION</label><span></span>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody id="TimeSlotArea">
            <tr class="TimeSlotRow">
                <td class="WEEKDAYS" rowspan="1">MONDAY</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>
                    <button class="btn btn-success btn-xs RemoveButtonStyleModal AddTime"><i class="fa fa-plus"></i></button>
                </td>
            </tr>
            <tr class="TimeSlotRow">
                <td id="TUESDAY" rowspan="1">TUESDAY</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>
                    <button class="btn btn-success btn-xs RemoveButtonStyleModal "><i class="fa fa-plus"></i></button>
                </td>
            </tr>
            <tr class="TimeSlotRow">
                <td id="WEDNESDAY" rowspan="1">WEDNESDAY</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>
                    <button class="btn btn-success btn-xs RemoveButtonStyleModal "><i class="fa fa-plus"></i></button>
                </td>
            </tr>
            <tr class="TimeSlotRow">
                <td id="THURSDAY" rowspan="1">THURSDAY</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>
                    <button class="btn btn-success btn-xs RemoveButtonStyleModal "><i class="fa fa-plus"></i></button>
                </td>
            </tr>
            <tr class="TimeSlotRow">
                <td id="FRIDAY" rowspan="1">FRIDAY</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>
                    <button class="btn btn-success btn-xs RemoveButtonStyleModal "><i class="fa fa-plus"></i></button>
                </td>
            </tr>
            <tr class="TimeSlotRow">
                <td id="SATURDAY" rowspan="1">SATURDAY</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>
                    <button class="btn btn-success btn-xs RemoveButtonStyleModal "><i class="fa fa-plus"></i></button>
                </td>
            </tr>
            <tr class="TimeSlotRow">
                <td id="SUNDAY" rowspan="1">SUNDAY</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>@Html.PratianUiTimePicker(new { })</td>
                <td>
                    <button class="btn btn-success btn-xs RemoveButtonStyleModal "><i class="fa fa-plus"></i></button>
                </td>
            </tr>
        </tbody>
    </table>*@