@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.EducationViewModel.ResidencyViewModel>

    <span class="theme_depend text-uppercase TableHeading">Residency/Internship/Fellowship Details History</span>
    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" @*onclick="clearDiv(this)"*@ data-toggle="collapse" data-target="#ResidencyInformations"><i class="fa fa-times" aria-hidden="true"></i></button></span>
    <div class="x_content zero-padding-left">
        <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
            <thead class="theme_thead">
                <tr>
                    @*<th class="withfilter col-lg-1" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input type="text" class="filer-search" required /><label>Sl.no</label><span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>*@
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Program Type</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Specialty</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>School Name</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Affiliate University</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>NOTES</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>ACTION</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody id="scrolldummybody">

                @foreach (var item in Model)
        {
            <tr>
                <td class="col-lg-1">@item.ProgramType</td>
                <td class="col-lg-2">@item.Speciality</td>
                <td class="col-lg-2">@item.SchoolName</td>
                <td class="col-lg-2">@item.AffiliatedHospital</td>
                <td class="col-lg-1" align="center">
                    <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Program Type:-</b> @item.ProgramType, <br /><b>Specialty:-</b> @item.Speciality, <br /><b>School Name:-</b> @item.SchoolName.">...</a>
                </td>
                <td class="col-lg-1"><button class="btn btn-info btn-xs" data-toggle="modal" data-target="#HomeAddressHistoryView"><i class="fa fa-eye"></i></button></td>
            </tr>
}



                @*<tr>
                                    <td class="col-lg-1">1</td>
                                    <td class="col-lg-2">Internship</td>
                                    <td class="col-lg-2">Adult Neurology</td>
                                    <td class="col-lg-2">Western Reserve</td>
                                    <td class="col-lg-2">N/A</td>
                                    <td class="col-lg-1" align="center">
                                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Program Type:-</b> Internship, <br /><b>Specialty:-</b> Adult Neurology, <br /><b>School Name:-</b> Western Reserve.">...</a>
                                    </td>
                                    <td class="col-lg-1"><button class="btn btn-default btn-xs styleForViewEyeButton" data-toggle="modal" data-target="#ResidencyInternshipDetailHistoryView"><i class="fa fa-eye"></i></button></td>
                                </tr>
                                <tr>
                    <td class="col-lg-1">2</td>
                                    <td class="col-lg-2">Residency</td>
                                    <td class="col-lg-2">CARDIOLOGY</td>
                                    <td class="col-lg-2">Western Reserve</td>
                                    <td class="col-lg-2">N/A</td>
                                    <td class="col-lg-1" align="center">
                                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Program Type:-</b> Residency, <br /><b>Specialty:-</b> CARDIOLOGY, <br /><b>School Name:-</b> Eastern Reserve.">...</a>
                                    </td>
                                    <td class="col-lg-1"><button class="btn btn-default btn-xs styleForViewEyeButton" data-toggle="modal" data-target="#ResidencyInternshipDetailHistoryView"><i class="fa fa-eye"></i></button></td>
                                </tr>
                                <tr>
                                    <td class="col-lg-1">3</td>
                                    <td class="col-lg-2">Internship</td>
                                    <td class="col-lg-2">Adult Neurology</td>
                                    <td class="col-lg-2">Western Reserve University</td>
                                    <td class="col-lg-2">N/A</td>
                                    <td class="col-lg-1" align="center">
                                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Program Type:-</b> Internship, <br /><b>Specialty:-</b> Adult Neurology, <br /><b>School Name:-</b> Western Reserve University.">...</a>
                                    </td>
                                    <td class="col-lg-1"><button class="btn btn-default btn-xs styleForViewEyeButton" data-toggle="modal" data-target="#ResidencyInternshipDetailHistoryView"><i class="fa fa-eye"></i></button></td>
                                </tr>*@
            </tbody>
        </table>
    </div>

    <div class="modal fade " tabindex="-1" role="dialog" id="ResidencyInternshipDetailHistoryView" style="overflow: auto; top: 8%;">
        <div class="modal-dialog modal-lg ">
            <form class="modal-content">
                <div class="modal-header zero_padding_bottom">
                    <div class="row" style="text-align: center;">
                        <span class="modalTitle">Citizenship Information History</span>
                        <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button></span>
                        @*<span data-dismiss="modal" class="pull-right"><i class="fa fa-times btn btn-xs btn-danger"></i></span>*@
                    </div>
                </div>

                <div class="modal-body modalbodyheight  ">
                    <div class="x_content zero-padding-left">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <label class="theme_label">Are You Citizen Of US?</label>
                            <span class="radioValueStyling">
                                <span><label class="radio-inline">Yes</label></span>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <label class="theme_label">Are you authorized to work in US?</label>
                            <span class="radioValueStyling">
                                <span><label class="radio-inline">Yes</label></span>
                            </span>
                        </div>
                        <div class="x_content zero-padding-left">
                            <div class="col-lg-12 zero-padding-left">
                                <span class="text-uppercase label TabSubHeading" style="border-radius: 0;">Program Details</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Preference Type :</label>
                                <span class="theme_label_data">213213</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Program Type :</label>
                                <span class="theme_label_data">P1</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Specialty :</label>
                                <span class="theme_label_data">Approved</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Director Name :</label>
                                <span class="theme_label_data">N/A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Department :</label>
                                <span class="theme_label_data">06/07/2017</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Start Date :</label>
                                <span class="theme_label_data">N/A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">End Date :</label>
                                <span class="theme_label_data">N/A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Document :</label>
                                @*<span class="theme_label_data">RESIDENCY.PNG</span>*@
                                <span class="theme_label_data"><i class="fa fa-file"></i></span>
                            </div>
                            <div class="col-lg-12 zero-padding-left">
                                <span class="text-uppercase label TabSubHeading" style="border-radius: 0;">School Details</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">School Name :</label>
                                <span class="theme_label_data">213213</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Affiliated Hospital :</label>
                                <span class="theme_label_data">P1</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Location :</label>
                                <span class="theme_label_data">Approved</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Suit/Building :</label>
                                <span class="theme_label_data">N/A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Street/P.O box No. :</label>
                                <span class="theme_label_data">06/07/2017</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">City :</label>
                                <span class="theme_label_data">N/A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">State :</label>
                                <span class="theme_label_data">N/A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">County :</label>
                                <span class="theme_label_data">Florida</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Zip Code :</label>
                                <span class="theme_label_data">Approved</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Email :</label>
                                <span class="theme_label_data">N/A</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Telephone Number :</label>
                                <span class="theme_label_data">06/07/2017</span>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                                <label class="theme_label">Fax Number :</label>
                                <span class="theme_label_data">N/A</span>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
