@{
    Layout = null;
}


@model PortalTemplate.Areas.Encounters.Models.EncounterViewModel
<p-script filepath="~/Areas/Encounters/Scripts/AppJs/EncounterEdit/Unminified/EditEncounter.js"></p-script>
<p-script filepath="~/Areas/Encounters/Scripts/AppJs/DocumentManager/Unminified/Documents.js"></p-script>
<p-link filepath="~/Areas/Encounters/Contents/Css/AppCss/Documents/Unminified/Documents.css" rel="stylesheet"></p-link>
<p-link filepath="~/Areas/Encounters/Contents/Css/AppCss/EncounterCRUD/Unminified/EditEncounter.css" rel="stylesheet"></p-link>
@{
    var provider = Model.ProviderInfo;
    var member = Model.MemberInfo;
    var service = Model.ServiceInfo;
    var docs = Model.Documents;
}

@Html.Partial("~/Areas/Encounters/Views/Common/_DocumentViewer.cshtml")
<div id="EditEncounter">
    <div class="x_panel border_on_panel">
        <div class="x_content">
            <div class="col-lg-12">
                <label class="title_text">Encounter Details</label>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Html.Partial("~/Areas/Encounters/Views/Common/_EncounterInformationEdit.cshtml", Model)
                </div>
                <div class="col-lg-12 ProviderInfo">
                    @Html.Partial("~/Areas/Encounters/Views/Common/_ProviderInformationView.cshtml", provider)
                </div>
                <div class="col-lg-12 MemberInfo">
                    @Html.Partial("~/Areas/Encounters/Views/Common/_MemberInformationView.cshtml", member)
                </div>
                <div class="col-lg-12 ServiceInfo">
                    @Html.Partial("~/Areas/Encounters/Views/Common/_ServiceInformationEdit.cshtml", service)
                </div>
                <div class="col-lg-12 DocumentInfo">
                    @Html.Partial("~/Areas/Encounters/Views/Documents/_DocumentsAdd.cshtml",docs)
                </div>
            </div>
            <div class="row bottom-lowPadding">
                <a href="#" class="btn btn-danger pull-left left-lowMargin cancelButton">Cancel</a>
                <a href="#" class="btn btn-info pull-right right-lowMargin updateButton">Update</a>
            </div>
        </div>
    </div>
</div>
