@model AHC.CD.Entities.MasterProfile.WorkHistory.WorkAddress

<fieldset>
    <legend>
        Address
    </legend>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label class="control-label small">State *</label>
                <div>
                    <select id="selectNameTitle" name="" class="form-control input-sm input-sm" required ng-model="newProWorkInfo.WorkAddress.State">
                        <option value="Massachusetts">Massachusetts </option>

                    </select>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label class="control-label small">City *</label>
                <div>
                    <select id="selectNameTitle" name="" class="form-control input-sm input-sm" required ng-model="newProWorkInfo.WorkAddress.City">
                        <option>San Francisco</option>

                    </select>

                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">County *</label>
                <div>
                    <select id="selectNameTitle" name="" class="form-control input-sm input-sm" required ng-model="newProWorkInfo.WorkAddress.County">
                        <option>Oregon</option>

                    </select>

                </div>
            </div>
        </div>


        <div class="col-md-12">

            <div class="form-group col-md-3">
                <label class="control-label small">Number *</label>
                <div>
                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "newProWorkInfo.WorkAddress.Number" } })
                    @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">Suite/Building*</label>
                <div>
                   @Html.EditorFor(model => model.Building, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "newProWorkInfo.WorkAddress.Building" } })
                   @Html.ValidationMessageFor(model => model.Building, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">Street *</label>
                <div>
                    @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control input-sm", data_ng_model = "newProWorkInfo.WorkAddress.Street" } })
                    @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                <label class="control-label small">Zip Code *</label>
                <div>
                    @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control input-sm" }, data_ng_model = "newProWorkInfo.WorkAddress.Zipcode" })
                    @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</fieldset>
