@model PortalTemplate.Areas.CredAxis.Models.EducationViewModel.EducationMainViewModel
<div class="clearfix"></div>
<div class="target profilediv col-lg-12" id="IDEducationHistory">
    <div id="UnderGraduationOrProfessionalDetails">
        @if (Model.UnderGradSchools != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/UnderGraduationOrProfessionalDetails/_AddEditUnderGradOrProfSchoolDetails.cshtml", Model.UnderGradSchools)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "UNDER GRADUATE/PROFESSIONAL SCHOOLS DETAILS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/UnderGraduationOrProfessionalDetails/_AddEditUnderGradOrProfSchoolDetails.cshtml", SectionId = "UnderGraduationOrProfessionalDetails" })
        }
    </div>
    <div id="PostGraduationCMEDetails">
        @if (Model.PostGradSchools != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/PostGraduationCMEDetails/_AddEditPostGraduateTrainingCMEDetail.cshtml", Model.PostGradSchools)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "POST GRADUATE TRAINING/CME DETAILS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/PostGraduationCMEDetails/_AddEditPostGraduateTrainingCMEDetail.cshtml", SectionId = "PostGraduationCMEDetails" })
        }


    </div>
    <div id="GraduateMedicalSchoolDetails">
        @if (Model.GradSchools != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/GraduateMedicalSchoolDetails/_AddEditGraduateSchoolDetails.cshtml", Model.GradSchools)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "GRADUATE / MEDICAL SCHOOL DETAILS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/GraduateMedicalSchoolDetails/_AddEditGraduateSchoolDetails.cshtml", SectionId = "GraduateMedicalSchoolDetails" })
        }


    </div>
    <div id="ResidencyDetails">
        @if (Model.Residency != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/ResidencyDetails/_AddEditResidencyDetails.cshtml", Model.Residency)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "RESIDENCY DETAILS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/ResidencyDetails/_AddEditResidencyDetails.cshtml", SectionId = "ResidencyDetails" })
        }


    </div>
    <div id="ECFMGDetails">
        @if (Model.ECFMGs != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/ECFMGDetails/_AddEditECFMGDetails.cshtml", Model.ECFMGs)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "ECFMG DETAILS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/ECFMGDetails/_AddEditECFMGDetails.cshtml", SectionId = "ECFMGDetails" })
        }

    </div>
</div>
<div class="clearfix"></div>
