@using PortalTemplate.Helper
<div class="fixed-toolbar marginTop5px">
    @if (ViewBag.QueueTab.ToLower() == "work" || ViewBag.QueueTab.ToLower() == "submitted")
    {
        if (ViewBag.QueueType.ToLower() != "facility" || ViewBag.QueueType.ToLower() != "qcapproval" || ViewBag.QueueType.ToLower() != "qcdenial")
        { 
    <button class="btn btn-xs btn-primary moveWork leftPanelButtons QueueAggregateButtons">Move Work</button>
        }
         if (ViewBag.QueueType.ToLower() == "qcapproval" || ViewBag.QueueType.ToLower() == "qcdenial")
         { 
             <button class="btn btn-xs btn-primary moveWork leftPanelButtons QueueAggregateButtons">View Batch</button>
         }
    }
    @if (ViewBag.QueueTab.ToLower() == "ctfu") {
    <button class="btn btn-xs btn-success completeCTFU leftPanelButtons QueueAggregateButtons">Complete</button>
    }
    @if (ViewBag.QueueTab.ToLower() == "completed") {
    <div class="col-lg-3 completedDiv leftPanelButtons" style="width:25.4%;">
        <span class="col-lg-2"><label class="text-primary">FROM:</label></span>
        <span class="col-lg-4">
            <input type="text" class="form form-control input-xs datePicker" id="CompletedFromDate" placeholder="FROM" value="09/29/2016">
        </span>
        <span class="col-lg-2"><label class="text-primary">TO:</label></span>
        <span class="col-lg-4">
            <input type="text" class="form form-control input-xs datePicker" id="CompletedToDate" placeholder="TO" value="09/29/2016">
        </span>
    </div>
    }
    @if (ViewBag.QueueType.ToLower() == "global") {
    <select class="form-control input-sm height29 select_field_queue globalSelect QueueAggregateButtons">
        <option value="BJOY Queue">BJOY Queue</option>
        <option value="PSINGH Queue">PSINGH Queue</option>
        <option value="SCARDONA Queue">SCARDONA Queue</option>
    </select>
    }
    <div class="btn btn-primary btn-xs total-count QueueAggregateButtons" data-queue-type="@ViewBag.QueueType" data-queue-tab="@ViewBag.QueueTab">All <span id="total-count" class="label queueUppertab_label">@ViewBag.QueueCount.TotalCount</span><span class="pointing-arrow-all"></span></div>
    <div class="btn btn-danger btn-xs total-expedited QueueAggregateButtons" data-queue-type="@ViewBag.QueueType" data-queue-tab="@ViewBag.QueueTab">Expedited <span id="total-expedited" class="label queueUppertab_label">@ViewBag.QueueCount.ExpeditedCount</span><span class="pointing-arrow-expedited"></span></div>
    <div class="btn btn-success btn-xs total-standard QueueAggregateButtons" data-queue-type="@ViewBag.QueueType" data-queue-tab="@ViewBag.QueueTab">Standard <span id="total-standard" class="label queueUppertab_label">@ViewBag.QueueCount.StandardCount</span><span class="pointing-arrow-standard"></span></div>
    @*<div class="legend-container">
            <span class="legend-wrapper">
                <span class="legend-title">
                    LEGEND
                </span>
            </span>
            <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-green" title="AGREES WITH UM PROTOCOL"></a></span>
            <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-yellow" title="PEND FOR PCP ANSWER"></a></span>
            <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-red" title="COVERAGE DETERMINATION REQUESTED"></a></span>
            <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-grey" title="INELIGIBLE MEMBER"></a></span>
            <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-white" title="PRESERVICE"></a></span>

        </div>*@
    <span class="filterButton">
        @Html.ExportOptions("filter")
    </span>
    <span class="excelButtonQueue">
        @Html.ExportOptions("excel")
    </span>
</div>