@using PratianUI
@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.LicensesViewModel.OtherIdentification>

@{
    bool IsEdit = true;
}

<!--Common for both layout-->
@***************Other Identification Edit*********************************@

<fieldset class="fsStyle" id="AddEditOtherIdentification">
    @*<span class="theme_depend text-uppercase TabHeading">Add Other Identification</span>*@
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            @foreach (var item in Model)
            {
                if (item == null)
                {
                    <span>ADD Other Identification</span>
                    IsEdit = false;
                    break;
                }
            }
            @if (IsEdit)
            {
                <span>EDIT Other Identification Numbers</span>
            }
        </span>
    </legend>
    @foreach (var item in Model)
    {
        using (Ajax.BeginForm("AddOtherIdentificationInfo", "Licenses", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "OtherIdentification" }))
        {
            <div class="x_content zero-padding-left mutiple-data">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.NPIID)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.TextBoxFor(m => item.NPIID, new { @class = "form-control input-xs", placeholder = "NPI ID" })
                        @Html.ValidationMessageFor(m => item.NPIID)
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.NPIUsername)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.TextBoxFor(m => item.NPIUsername, new { @class = "form-control input-xs", placeholder = "NPI USERNAME" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.NPIPassword)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.TextBoxFor(m => item.NPIPassword, new { @class = "form-control input-xs", placeholder = "NPI PASSWORD" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.CAQH)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.TextBoxFor(m => item.CAQH, new { @class = "form-control input-xs", placeholder = "CAQH ID" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.CAQHUsername)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.TextBoxFor(m => item.CAQHUsername, new { @class = "form-control input-xs", placeholder = "CAQH USERNAME" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.CAQHPassword)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.TextBoxFor(m => item.CAQHPassword, new { @class = "form-control input-xs", placeholder = "CAQH PASSWORD" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.UPIN)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.TextBoxFor(m => item.UPIN, new { @class = "form-control input-xs", placeholder = "UPIN ID" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.USMLE)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.TextBoxFor(m => item.USMLE, new { @class = "form-control input-xs", placeholder = "USMLE ID" })
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.LastCAQHAttestationDate)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePickerFor(m => item.LastCAQHAttestationDate, new { @class = "form-control input-xs", placeholder = "LAST CAQH ATTESTATION DATE" })
                        @*@Html.TextBoxFor(m => item.LastCAQHAttestationDate, new { @class = "form-control input-xs", placeholder = "LAST CAQH ATTESTATION DATE" })*@
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label col-lg-5 nopadding">
                        <label class="">@Html.DisplayNameFor(e => e.NextAttestationDate)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-6 nopadding">
                        @Html.PratianUiDatePickerFor(m => item.LastCAQHAttestationDate, new { @class = "form-control input-xs", placeholder = "NEXT ATTESTATION DATE" })
                        @*@Html.TextBoxFor(m => item.NextAttestationDate, new { @class = "form-control input-xs", placeholder = "NEXT ATTESTATION DATE" })*@
                    </span>
                </div>
            </div>

        }
    }
    <div style="padding-top:10px;" class="row col-lg-12 zero-padding-left-right">
        @*<input class="btn btn-success btn-xs  buttonmargin pull-right margin-right-5px" type="submit" name="submit" value="Save">*@
        <button class="btn btn-success yahanClickKar btn-xs list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/Licenses/GetOtherIdentificationPartial?model=@Model&ActionType=View" data-tab-container="OtherIdentification" value="">  Save</button>
            <button class="btn btn-danger yahanClickKar  btn-xs list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/Licenses/GetOtherIdentificationPartial?model=@Model&ActionType=View" data-tab-container="OtherIdentification" value="">Cancel</button>
</div>
</fieldset>


<div class="modal fade " tabindex="-1" role="dialog" id="OtherIdentificationHistoryView" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <form class="modal-content">
            <div class="modal-header zero_padding_bottom">
                <div class="row" style="text-align: center;">
                    <span class="modalTitle">OTHER IDENTIFICATION HISTORY</span>
                    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button></span>
                    @*<span data-dismiss="modal" class="pull-right"><i class="fa fa-times btn btn-danger"></i></span>*@
                </div>
            </div>

            <div class="modal-body modalbodyheight  ">
                <div class="x_content zero-padding-left">
                    <div class="col-lg-12">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>NPI # :</label>
                            </span>
                            <span class="theme_label_data">0604168854</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>NPI User Name :</label>
                            </span>
                            <span class="theme_label_data">N/A</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>NPI Password :</label>
                            </span>
                            <span class="theme_label_data">N/A</span>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>CAQH # :</label>
                            </span>
                            <span class="theme_label_data">222222222222</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>CAQH User Name :</label>
                            </span>
                            <span class="theme_label_data">N/A</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>CAQH Password :</label>
                            </span>
                            <span class="theme_label_data">N/A</span>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>UPIN # :</label>
                            </span>
                            <span class="theme_label_data">N/A</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>USMLE # :</label>
                            </span>
                            <span class="theme_label_data">N/A</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>Last CAQH Attestation Date :</label>
                            </span>
                            <span class="theme_label_data">04-11-2012</span>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                            <span class="theme_label">
                                <label>Next Attestation Date :</label>
                            </span>
                            <span class="theme_label_data">04-11-2014</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
