@*@model PortalTemplate.Areas.CredAxis.Models.LicensesViewModel.OtherIdentification*@
@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.LicensesViewModel.OtherIdentification>

@{
    var OtherIdentification = 0;

}


<!--Common for both layout-->
<fieldset class="fsStyle" id="ViewOtherIdentification">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            @*<span class="transparent-font-color"></span>*@
            Other Identification Numbers
            @*<span class="transparent-font-color">_</span>*@
        </span> 
        
        &nbsp;&nbsp; <span class="text-uppercase ">
            <span class="fstyleBtnStyle">
                @*<button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/Licenses/GetOtherIdentificationPartial?model=@Model&ActionType=Add" data-tab-container="OtherIdentification">
                    <i class="fa fa-plus"></i>
                </button>*@
                <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/Licenses/GetOtherIdentificationPartial?model=@Model&ActionType=Edit" data-tab-container="OtherIdentification">
                    <i class="fa fa-pencil"></i>
                </button>
            </span>
            <span class="fstyleBtnStyle">
                <button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="collapse" data-target="#OtherIdentificationHistory">
                    <i class="fa fa-history"></i>
                </button>
            </span>
            <span class="fstyleBtnStyle">
                <button class="btn btn-default btn-xs helpBtnCSS" data-toggle="popover" data-trigger="hover" data-content="Do not use nicknames or initials, unless they are part of your legal names" data-original-title="" title="">
                    <i class="fa fa-question"></i>
                </button>
            </span>
            <a class="print_button_for_OtherIden hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
            </a>
        </span>
    </legend>




    @foreach (var item in Model)
    {

        OtherIdentification = OtherIdentification + 1;
        if (OtherIdentification < 2)
        {
             
            <div class="x_content zero-padding-left mutiple-data">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.NPIID) :</label>
                    <span class="theme_label_data">@item.NPIID</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.NPIUsername) :</label>
                    <span class="theme_label_data">@item.NPIUsername</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.NPIPassword) :</label>
                    <span class="theme_label_data">@item.NPIPassword</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.CAQH) :</label>
                    <span class="theme_label_data">@item.CAQH</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.CAQHUsername) :</label>
                    <span class="theme_label_data">@item.CAQHUsername</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.CAQHPassword) :</label>
                    <span class="theme_label_data">@item.CAQHPassword</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.UPIN) :</label>
                    <span class="theme_label_data">@item.UPIN</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.USMLE) :</label>
                    <span class="theme_label_data">@item.USMLE</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.LastCAQHAttestationDate)</label>
                    <span class="theme_label_data">@item.LastCAQHAttestationDate</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.NextAttestationDate) :</label>
                    <span class="theme_label_data">@item.NextAttestationDate</span>
                </div>
            </div>

                    <br />

            <div id="@item.OtherIdentificationID">
            </div>
            if (OtherIdentification == 2)
            {
                <span class="view-more pull-right" id="moreOtherIdentification" data-toggle="collapse" data-target=".ViewMoreOtherIdentification" onclick="ShowHideAddView('lessOtherIdentification', 'moreOtherIdentification')">View More</span>
            }
        }
        @*else
        {

            <div class="x_content zero-padding-left mutiple-data collapse ViewMoreOtherIdentification">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.NPIID) :</label>
                    <span class="theme_label_data">@item.NPIID</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.NPIUsername) :</label>
                    <span class="theme_label_data">@item.NPIUsername</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.NPIPassword) :</label>
                    <span class="theme_label_data">@item.NPIPassword</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.CAQH) :</label>
                    <span class="theme_label_data">@item.CAQH</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.CAQHUsername) :</label>
                    <span class="theme_label_data">@item.CAQHUsername</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.CAQHPassword) :</label>
                    <span class="theme_label_data">@item.CAQHPassword</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.UPIN) :</label>
                    <span class="theme_label_data">@item.UPIN</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.USMLE) :</label>
                    <span class="theme_label_data">@item.USMLE</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.LastCAQHAttestationDate)</label>
                    <span class="theme_label_data">@item.LastCAQHAttestationDate</span>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                    <label class="theme_label">@Html.DisplayNameFor(e => e.NextAttestationDate) :</label>
                    <span class="theme_label_data">@item.NextAttestationDate</span>
                </div>
            </div>

        }*@
        if (OtherIdentification == Model.Count())
        {
            <span class="view-more hidden pull-right" id="lessOtherIdentification" data-toggle="collapse" data-target=".ViewMoreOtherIdentification" onclick="ShowHideAddView('moreOtherIdentification', 'lessOtherIdentification')">View Less</span>
        }

    }


    <fieldset class="fsStyle collapse remove_shadow width-100" id="OtherIdentificationHistory">

        @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/OtherIdentification/_HistoryOtherIdentification.cshtml")


    </fieldset>
</fieldset>