@model List<PortalTemplate.Areas.Portal.Models.ProviderProfile.WorkInformationViewModel>
@using PratianUI
@{
    var count = 0;
}


<fieldset class="fsStyle" id="AddEditPersonalDetail">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            @if (Model != null)
            {
                <span><span class="transparent-font-color">_____</span>EDIT PRACTICE INFORMATION<span class="transparent-font-color">_____</span></span>
            }
            else
            {
                <span>ADD WORK INFORMATION</span>
            }
        </span>
    </legend>
    @using (Ajax.BeginForm("SaveWorkInfo", "ProviderProfile", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "WorkInformationArea" }, new { id = "saveWorkInfo" }))
    {
       foreach (var item in Model)
       {
           count++;
        <div class="x_content zero-padding-left">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <div class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().facility)</label>
                    </div>
                    <div class="col-lg-1 "></div>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <select id="PhysicianGroupName" class="form-control input-xs Add_Provider text-uppercase" name="PhysicianGroupName">
                                <option>LAKESHORE2</option>
                                <option selected>TAMPA</option>

                            </select>
                            @* @Html.TextBoxFor(m => item.PhysicianGroupName, new { @class = "form-control input-xs", placeholder = "PHYSICIAN GROUP NAME" })*@
                        </span>
                        @Html.ValidationMessageFor(e => item.facility)
                    </span>
                    @*<label class="theme_label">Salutation </label>
                        <span class="theme_label_data">Mr.</span>*@
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().locationtype)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <select id="PhysicianGroupName" class="form-control input-xs Add_Provider text-uppercase" name="PhysicianGroupName">
                                <option>PRIMARY</option>
                                <option>SECONDARY</option>

                            </select>
                            @* @Html.TextBoxFor(m => item.PhysicianGroupName, new { @class = "form-control input-xs", placeholder = "PHYSICIAN GROUP NAME" })*@
                        </span>
                        @Html.ValidationMessageFor(e => item.locationtype)
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-6 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().PhysicianGroupName)</label>
                    </span><span class="col-lg-0"></span>
                    <span class="col-lg-6 nopadding">
                        <span class="theme_label_data">
                            <select id="PhysicianGroupName" class="form-control input-xs Add_Provider text-uppercase" name="PhysicianGroupName">
                                <option>ACCESS</option>
                                <option>UNITY</option>

                            </select>
                            @* @Html.TextBoxFor(m => item.PhysicianGroupName, new { @class = "form-control input-xs", placeholder = "PHYSICIAN GROUP NAME" })*@
                        </span>
                        @Html.ValidationMessageFor(e => item.PhysicianGroupName)
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <div class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().GroupTaxId)</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => item.GroupTaxId, new { @class = "form-control input-xs", placeholder = "INDIVIDUAL TAX ID" }) </span>
                        @Html.ValidationMessageFor(e => item.GroupTaxId)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <div class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().plan)</label>
                    </div>
                    <div class="col-lg-1 "></div>
                    <div class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            <select id="planInput" class="form-control input-xs Add_Provider text-uppercase">
                                @*<select id="planInput" class="form-control text-uppercase SpecialtyMultiple" multiple="multiple">*@
                                <option selected>ULTIMATE</option>
                                <option>WELLCARE</option>
                                <option>HUMANA</option>
                                <option>FREEDOM</option>
                                
                            </select>


</span>
                        @*@Html.TextBoxFor(m => item.PlanName, new { @class = "form-control input-xs", placeholder = "PLAN NAMES" })  *@
                        @Html.ValidationMessageFor(e => item.plan)
                    </div>
                    @*<label class="theme_label">Salutation </label>
                        <span class="theme_label_data">Mr.</span>*@
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-6 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().specialty)</label>
                    </span><span class="col-lg-0"></span>
                    <span class="col-lg-6 nopadding">
                        <span class="theme_label_data">
                            <select id="PhysicianGroupName" class="form-control input-xs Add_Provider text-uppercase" name="PhysicianGroupName">
                                <option>Anesthesiology</option>
                                <option>Cardiology</option>

                            </select>
                            @* @Html.TextBoxFor(m => item.PhysicianGroupName, new { @class = "form-control input-xs", placeholder = "PHYSICIAN GROUP NAME" })*@
                        </span>
                        @Html.ValidationMessageFor(e => item.specialty)
                    </span>
                </div>
@*@if (@item.TaxIdType.ToLower() == "group")
    {
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().GroupContactName)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                          
                        @Html.TextBoxFor(m => item.GroupContactName, new { @class = "form-control input-xs", placeholder = "GROUP CONTACT NAME" }) </span>
                        @Html.ValidationMessageFor(e => item.GroupContactName)
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().GroupTaxId)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => @item.GroupTaxId, new { @class = "form-control input-xs", placeholder = "GROUP TAX ID" }) </span>
                        @Html.ValidationMessageFor(e => @item.GroupTaxId)
                    </span>
                </div>
}*@
@*@if (@item.TaxIdType.ToLower() != "group")
    {
                
}*@
              

            </div>
            @if (Model.Count() != count)
            {
                <hr />
            }
        </div>
        
       } 
        <div class="row col-lg-12 zero-padding-left-right">
            <input class="btn btn-success btn-xs  buttonmargin pull-right margin-right-5px" type="submit" name="submit" value="SAVE">
            <a class="btn btn-danger btn-xs list-item buttonmargin pull-right margin-right-5px" data-tab-path="/Portal/ProviderProfile/CancelWorkInfoEdit?profileId=1" data-tab-container="WorkInformationArea">CANCEL</a>
        </div>
        @*</div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12 buttonmargin">*@
        @* <button class="btn btn-success btn-xs ripple closeBtnCSS" onclick="ShowHideAddView('ViewPersonalDetail', 'AddEditPersonalDetail')">Save</button>*@

        @*</div>*@
    }
</fieldset>
