@model List<PortalTemplate.Areas.Portal.Models.ProviderProfile.WorkInformationViewModel>
           @{
               var count = 0;
           }
<fieldset class="fsStyle" id="WorkContactInfo">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends"><span class="tabheading">________</span>PRACTICE INFORMATION<span class="tabheading">________</span></span>
        &nbsp;&nbsp;
        <span class="text-uppercase">

            <span class="fstyleBtnStyle">
                <button class="btn btn-success btn-xs add_note_btn list-item tab-navigation" data-toggle="tooltip" title="EDIT" data-tab-path="/Portal/ProviderProfile/GetWorkInfoEditPartial?ProfileId=1&type=Edit" data-tab-container="WorkInformationArea">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-primary btn-xs add_note_btn list-item tab-navigation" data-toggle="tooltip" title="EDIT" data-tab-path="/Portal/ProviderProfile/GetWorkInfoEditPartial?ProfileId=1&type=Edit" data-tab-container="WorkInformationArea">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="tooltip" title="HISTORY" data-target="#PersonalDetails">
                    <i class="fa fa-history"></i>
                </button>
            </span>
        </span>
    </legend>

    @foreach (var item in Model)
{
    count++;
       
        <div class="x_content zero-padding-left">
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().facility) :</label>
            <span class="theme_label_data">@item.facility</span>
        </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().locationtype) :</label>
                <span class="theme_label_data">@item.locationtype</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().PhysicianGroupName) :</label>
                <span class="theme_label_data">@item.PhysicianGroupName</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().GroupTaxId) :</label>
                <span class="theme_label_data">@item.GroupTaxId</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().plan) :</label>
                <span class="theme_label_data">@item.GroupTaxId</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().specialty) :</label>
                <span class="theme_label_data">@item.GroupTaxId</span>
            </span>
        @*<span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().PlanName) :</label>
            <span class="theme_label_data">
                @{
    var plans = String.Join<string>(",", item.PlanName);
            }
            @plans
        </span>
    @*</span>*@
    @*@if (@item.TaxIdType.ToLower() == "group")
    {
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().PhysicianGroupName) :</label>
            <span class="theme_label_data">@item.PhysicianGroupName</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().GroupContactName) :</label>
            <span class="theme_label_data">@item.GroupContactName</span>
        </span>
    }
    @if (@item.TaxIdType.ToLower() == "group")
    {
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().GroupTaxId) :</label>
            <span class="theme_label_data">@item.GroupTaxId</span>
        </span>
    }
    @if (@item.TaxIdType.ToLower() != "group")
    {
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.FirstOrDefault().IndividualTaxId) :</label>
            <span class="theme_label_data">@item.IndividualTaxId</span>
        </span>
    }*@
 
</div>
}
</fieldset>
