@*<a id="IDLicenses"></a>*@
@model PortalTemplate.Areas.CredAxis.Models.LicensesViewModel.LicenseMainViewModel
<div class="clearfix"></div>
<div class="target profilediv col-lg-12" id="IDLicenses">
    @*<div class="SubTabHeader">
            <div class="headerText">
                <span class="headerTextCSS">
                    Licenses & Identification
                </span>
                <span class="headerTextCSS pull-right">
                    <button id="AddGroup_GI" class="btn btn-xs btn-success" tooltip="" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add New"><i class="fa fa-history"></i></button>
                    <button id="AddGroup_GI" class="btn btn-xs btn-default" tooltip="" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add New"><i class="fa fa-print"></i></button>

                </span>
            </div>
        </div>*@
    @*<div class="row">
            <div class="col-lg-6 padding_top_down_5px">@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/_StateLicense.cshtml")</div>
            <div class="col-lg-6 padding_top_down_5px">@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/_FederalDEAInfo.cshtml")</div>
        </div>
        <div class="row">
            <div class="col-lg-6 padding_top_down_5px">@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/_MedicareInformation.cshtml")</div>
            <div class="col-lg-6 padding_top_down_5px">@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/_MedicaidInfo.cshtml")</div>
        </div>
        <div class="row">
            <div class="col-lg-6 padding_top_down_5px">@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/_OtherIdentification.cshtml")</div>
            <div class="col-lg-6 padding_top_down_5px">@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/_CDSInformation.cshtml")</div>
        </div>*@

    <div class="col-lg-12 padding_top_down_5px nopadding" id="StateLicense">
        @if (Model.stateLicense != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/StateLicense/_ViewStateLicense.cshtml", Model.stateLicense)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "STATE LICENCE", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/StateLicense/_AddEditStateLicense.cshtml", SectionId = "StateLicense" })
        }


    </div>
    <div class="col-lg-12 padding_top_down_5px nopadding" id="FederalDEA">
        @if (Model.federalDEA != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/FederalDea/_ViewFederalDEA.cshtml", Model.federalDEA)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "FEDERAL DEA", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/StateLicense/_AddEditStateLicense.cshtml", SectionId = "FederalDEA" })
        }

    </div>
    <div class="col-lg-12 nopadding">
        <div class="col-lg-12 padding_top_down_5px zero-padding-left nopadding" id="MedicarePanel">
            @if (Model.medicare != null)
            {
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/MedicareInfo/_ViewMedicareInfo.cshtml", Model.medicare)
            }
            else
            {
                @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "MEDICARE INFORMATION", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/MedicareInfo/_AddEditMedicareInformation.cshtml", SectionId = "MedicarePanel" })
            }


        </div>
        <div class="col-lg-12 padding_top_down_5px zero-padding-right nopadding" id="Medicaid">
            @if (Model.mediciad != null)
            {
                @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/MedicaidInfo/_ViewMedicaidInfo.cshtml", Model.mediciad)
            }
            else
            {
                @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "MEDIACAID INFORMATION", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/MedicareInfo/_AddEditMedicareInformation.cshtml", SectionId = "MedicarePanel" })
            }

        </div>
    </div>
    <div class="col-lg-12 padding_top_down_5px nopadding" id="OtherIdentification">
        @if (Model.otherIdentification != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/OtherIdentification/_ViewOtherIdentificationNumbers.cshtml", Model.otherIdentification)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "OTHER IDENTIFICATIONS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/MedicareInfo/_AddEditMedicareInformation.cshtml", SectionId = "OtherIdentification" })
        }




    </div>
    <div class="col-lg-12 padding_top_down_5px nopadding" id="CDSInfo">
        @if (Model.otherIdentification != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/CDSInfo/_ViewCDSInfo.cshtml", Model.CDS)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "CDS IDENTIFICATION", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/Licenses/CDSInfo/_AddEditCDSInformation.cshtml", SectionId = "CDSInfo" })
        }

    </div>

</div>
<div class="clearfix"></div>