@model PortalTemplate.Areas.UM.Models.ViewModels.ViewAuthorization.ViewAuthorizationViewModel
@using PortalTemplate.Helper
<style>
    .summary_sectionsDiv > fieldset.fsStyle {
        margin-bottom: 5px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .labelaligned {
        padding: 0.1em 0.4em 0.1em !important;
        font-size: 90% !important;
    }
</style>
<div class="panelheight">
    <div class="summary_sectionsDiv">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">``</span>BASIC INFORMATION<span style="color:transparent">``</span></span>
            </legend>
            <div class="panel-body  text-uppercase">
                <div class="divwidth_auto">
                    <div class="col-lg-3 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.PlaceOfService):
                        </span>
                        <span class="summary_data">
                            <span class="text-uppercase posexplanation theme_label_data">
                                @Html.DisplayFor(model => model.PlaceOfService)
                            </span>
                        </span>
                    </div>  
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AuthorizationType):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AuthorizationType)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.TypeOfCare):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.TypeOfCare)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ReceivedDate):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.ReceivedDate)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ExpectedDOS):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.ExpectedDOS)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.PCP.Name):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.PCP.Name)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.TotalRequestedLOS):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.TotalRequestedLOS)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.RequestType):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.RequestType)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.CoManagementProvider.Name):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.CoManagementProvider.Name)</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.IsCoManagementObtained):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.IsCoManagementObtained)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.DRGCodes[0].DRGCode):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.DRGCodes[0].DRGCode)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                           @Html.LabelFor(model => model.DRGCodes[0].DRGDescription):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.DRGCodes[0].DRGDescription)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.MDCCodes[0].MDCCode):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.MDCCodes[0].MDCCode)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.MDCCodes[0].MDCDescription):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.MDCCodes[0].MDCDescription)</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase">REQUESTING PROVIDER</span><span class="label label-success ng-scope innerTextStyle labelaligned">@Html.DisplayFor(model => model.RequestingProvider.ProviderNetwork)</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.RequestingProvider.FirstName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqFirstName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.RequestingProvider.FirstName)</span>
                        </span>
                    </div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.RequestingProvider.LastName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqLastName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.RequestingProvider.LastName)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.RequestingProvider.TaxID)/@Html.LabelFor(model => model.RequestingProvider.NPI):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.RequestingProvider.TaxID)/@Html.DisplayFor(model => model.RequestingProvider.NPI)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.RequestingProvider.ProviderRole):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">@Html.DisplayFor(model => model.RequestingProvider.ProviderRole)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.RequestingProvider.PhoneNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderPhoneNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.RequestingProvider.PhoneNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.RequestingProvider.FaxNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderFaxNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.RequestingProvider.FaxNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.RequestingProvider.Specialty):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.RequestingProvider.Specialty)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.RequestingProvider.ContactName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.RequestingProvider.ContactName)</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">.</span>ADMITTING PROVIDER</span><span class="label label-success ng-scope innerTextStyle labelaligned">@Html.DisplayFor(model => model.ServicingProvider.ProviderNetwork)</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ServicingProvider.FirstName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqFirstName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.ServicingProvider.FirstName)</span>
                        </span>
                    </div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ServicingProvider.LastName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqLastName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.ServicingProvider.LastName)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ServicingProvider.TaxID)/@Html.LabelFor(model => model.ServicingProvider.NPI):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.ServicingProvider.TaxID)/@Html.DisplayFor(model => model.ServicingProvider.NPI)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ServicingProvider.ProviderRole):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">@Html.DisplayFor(model => model.ServicingProvider.ProviderRole)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ServicingProvider.PhoneNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderPhoneNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.ServicingProvider.PhoneNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ServicingProvider.FaxNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderFaxNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.ServicingProvider.FaxNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ServicingProvider.Specialty):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.ServicingProvider.Specialty)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.ServicingProvider.ContactName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.ServicingProvider.ContactName)</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">.</span>ATTENDING PROVIDER<span style="color:transparent"></span></span><span class="label label-success ng-scope innerTextStyle labelaligned">@Html.DisplayFor(model => model.AttendingProvider.ProviderNetwork)</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.FirstName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqFirstName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.FirstName)</span>
                        </span>
                    </div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.LastName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqLastName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.LastName)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.TaxID)/@Html.LabelFor(model => model.AttendingProvider.NPI):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.TaxID)/@Html.DisplayFor(model => model.AttendingProvider.NPI)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.ProviderRole):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.ProviderRole)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.PhoneNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderPhoneNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.PhoneNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.FaxNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderFaxNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.FaxNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.Specialty):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.Specialty)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.ContactName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.ContactName)</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">.</span>ADMITTING PROVIDER</span><span class="label label-success ng-scope innerTextStyle labelaligned">@Html.DisplayFor(model => model.AdmittingProvider.ProviderNetwork)</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.FirstName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqFirstName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.FirstName)</span>
                        </span>
                    </div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.LastName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqLastName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.LastName)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.TaxID)/@Html.LabelFor(model => model.AttendingProvider.NPI):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.TaxID)/@Html.DisplayFor(model => model.AttendingProvider.NPI)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.ProviderRole):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.ProviderRole)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.PhoneNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderPhoneNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.PhoneNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.FaxNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderFaxNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.FaxNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.Specialty):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.Specialty)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.AttendingProvider.ContactName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.AttendingProvider.ContactName)</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">-----.---</span>SURGEON<span style="color:transparent">-------</span></span><span class="label label-success ng-scope innerTextStyle labelaligned">@Html.DisplayFor(model => model.SurgeonProvider.ProviderNetwork)</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.SurgeonProvider.FirstName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqFirstName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.SurgeonProvider.FirstName)</span>
                        </span>
                    </div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.SurgeonProvider.LastName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqLastName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.SurgeonProvider.LastName)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.SurgeonProvider.TaxID)/@Html.LabelFor(model => model.SurgeonProvider.NPI):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.SurgeonProvider.TaxID)/@Html.DisplayFor(model => model.SurgeonProvider.NPI)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.SurgeonProvider.ProviderRole):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">@Html.DisplayFor(model => model.SurgeonProvider.ProviderRole)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.SurgeonProvider.PhoneNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderPhoneNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.SurgeonProvider.PhoneNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.SurgeonProvider.FaxNumber):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderFaxNumber" class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.SurgeonProvider.FaxNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.SurgeonProvider.Specialty):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.SurgeonProvider.Specialty)</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.SurgeonProvider.ContactName):
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.SurgeonProvider.ContactName)</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">--------</span>FACILITY<span style="color:transparent">-----.---</span></span><span class="label label-danger ng-scope labelaligned innerTextStyle dangerColor">@Html.DisplayFor(model => model.Facility.FacilityNetwork)</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.Facility.FullName):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.Facility.FullName)</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.Facility.PhoneNumber):
                        </span>
                        <span class="summary_data">
                            <span class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.Facility.PhoneNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.Facility.FaxNumber):
                        </span>
                        <span class="summary_data">
                            <span class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.Facility.FaxNumber)</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.Facility.ContactName):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.Facility.ContactName)</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.Facility.TaxID)/@Html.LabelFor(model => model.Facility.FacilityNPI):
                        </span>
                        <span class="summary_data">
                            <span class="bolding ng-binding theme_label_data">@Html.DisplayFor(model => model.Facility.TaxID)/@Html.DisplayFor(model => model.Facility.FacilityNPI)</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            @Html.LabelFor(model => model.Facility.FacilityType):
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">@Html.DisplayFor(model => model.Facility.FacilityType)</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="x_panel border_on_panel" style="margin-top:8px;">
        <div class="x_content">
            <div class="col-lg-6  zero-padding-left-right">
                <div class="halfpanel1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-uppercase">
                        <div class="col-lg-3 divwidth_auto1">
                            <span class="theme_label">
                                @Html.ShortNameFor(model => model.ReceivedDate):
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">@Html.DisplayFor(model => model.ReceivedDate)</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto1">
                            <span class="theme_label">
                                From Date:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding theme_label_data">07/04/2016</span>
                            </span>
                        </div>
                    </div>
                    <div class="text-uppercase">
                        <div class="col-lg-3 divwidth_auto1">
                            <span class="theme_label">
                                Approved Days:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding theme_label_data">2</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  zero-padding-left-right">
                <div class="halfpanel2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-uppercase">
                        <div class="col-lg-3 divwidth_auto2">
                            <span class="theme_label">
                                Expected DC DT:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">07/05/2016 00:00:00</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto2">
                            <span class="theme_label">
                                To DT:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding theme_label_data">07/05/2016</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto2 pull-left">
                            <input type="submit" value="EDIT TO DT" class="width_125_percent btn btn-xs btn-primary" />
                        </div>
                        <div class="col-lg-3 divwidth_auto2">
                            <span class="theme_label">
                                CUSTODIAL DT:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding theme_label_data">-</span>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="x_panel border_on_panel" style="margin-top:8px;">
        <div class="x_content">
            <div class="col-lg-12  zero-padding-left-right">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center StatusTable theme_thead">
                    <label for="fullname" class="los_labels">OTHER DX</label>
                </div>
                <table class="table table-white zero-padding-left-right  noBorderTable boldBody zeroPaddingBottomTh width_99 otherDxtable_nowrap">
                    <thead class="text-uppercase">
                        <tr>
                            <th class="theme_label">Dx code</th>
                            <th class="theme_label">Description</th>
                            <th class="theme_label">Date</th>
                            <th class="theme_label actioncoltd">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-uppercase">
                        <tr>
                            <td class="theme_label_data">M10.229</td>
                            <td class="theme_label_data">Drug Incuded Medicine</td>
                            <td class="theme_label_data">07/05/2016</td>
                            <td class="actioncoltd button-styles-xs theme_label_data"><button class="btn btn-xs btn-success"><i class="fa fa-plus"></i></button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="calypsoBtnBody">
        <input type="submit" value="CALYPSO AI" class="pull-left btn btn-xs btn-danger calypsoAIBtn" />
        <input type="submit" value="EDIT AUTH" class="pull-right btn btn-xs btn-primary" />
    </div>
</div>




