@model PortalTemplate.Areas.CredAxis.Models.ProviderProfileViewModel.EmploymentInformationVieModel.EmploymentInformationViewModel

@{
    bool IsEdit = true;
}

<fieldset class="fsStyle " id="AddEditEmpInfo">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            @if (Model == null)
            {
                <span>ADD Employment Information</span>
                IsEdit = false;
            }
            @if (IsEdit)
            {
                <span>EDIT Employment Information</span>
            }
        </span>
    </legend>
    @using (Ajax.BeginForm("ViewEmployData", "Employment", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "VIEWEMPLOYMENTINFORMATION" }))
    {
        <div class="x_content zero-padding-left">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.ProviderRelation) </label>
                </span>
                <span class="col-lg-7 nopadding">
                    <span class="theme_label_data">@Html.TextBoxFor(e => e.ProviderRelation, new { @class = "form-control input-xs", @placeholder = "RELATIONSHIP" })</span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.JoiningDate) </label>
                </span>
                <span class="col-lg-7 nopadding">
                    <span class="theme_label_data">@Html.TextBoxFor(e => e.JoiningDate, new { @class = "form-control input-xs", @placeholder = "JOINING DATE" })</span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.EndDate) </label>
                </span>
                <span class="col-lg-7 nopadding">
                    <span class="theme_label_data">@Html.TextBoxFor(e => e.EndDate, new { @class = "form-control input-xs", @placeholder = "END DATE" })</span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.Status)  </label>
                </span>
                <span class="col-lg-7 nopadding">
                    <span class="theme_label_data">@Html.TextBoxFor(e => e.Status, new { @class = "form-control input-xs", @placeholder = "STATUS" })</span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-5 nopadding">
                    <label class="">@Html.DisplayNameFor(e => e.IndividualTaxid) </label>
                </span>
                <span class="col-lg-7 nopadding">
                    <span class="theme_label_data">@Html.TextBoxFor(e => e.IndividualTaxid, new { @class = "form-control input-xs", @placeholder = "INDIVIDUAL TAX ID" })</span>
                </span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row btn-right">
                    <button class="btn btn-success btn-xs yahanClickKar  buttonmargin pull-right margin-right-5px" type="submit" name="submit" value="">Save</button>
                    <button class="btn btn-danger btn-xs yahanClickKar  list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/Employment/ViewEmployData" type="button" data-tab-container="ViewEmploymentInformation" value="">Cancel</button>
                </div>
            </div>
        </div>
    }
</fieldset>
