@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.ProviderProfileViewModel.EmploymentInformationVieModel.EmploymentInformationViewModel>


<fieldset class="fsStyle remove_shadow width-100">
    <span class="theme_depend text-uppercase TableHeading">Employment Information History</span>
    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" onclick="clearDiv(this)" data-toggle="collapse" data-target="#EmploymentInformationHistory"><i class="fa fa-times" aria-hidden="true"></i></button></span>
    <div class="x_content zero-padding-left">
        @*<table class="table table-striped table-bordered claimlist_table dummy_table"><thead><tr></tr></thead></table>*@
        <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
            <thead class="theme_thead">
                <tr>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>PROVIDER RELATIONSHIP</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>JOINING DATE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>END DATE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>STATUS</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>CONTRACT</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>INDIVIDUAL TAX ID</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>NOTES</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-lg-2">@item.ProviderRelation</td>
                        <td class="col-lg-1">@item.JoiningDate</td>
                        <td class="col-lg-1">@item.EndDate</td>
                        <td class="col-lg-1">@item.Status</td>
                        <td class="col-lg-1">@item.Contract</td>
                        <td class="col-lg-2">@item.IndividualTaxid</td>
                        <td class="col-lg-1">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>JOINING DATE:-</b> @item.JoiningDate, <br /><b>END DATE:-</b> @item.EndDate">...</a>
                        </td>
                    </tr>
                }





                @*<tr>
                        <td class="col-lg-2">Employee</td>
                        <td class="col-lg-1">09-01-2016</td>
                        <td class="col-lg-1">09-01-2016</td>
                        <td class="col-lg-1">Accepted</td>
                        <td class="col-lg-1">N/A</td>
                        <td class="col-lg-2">867888886</td>
                        <td class="col-lg-1">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>JOINING DATE:-</b> 2/22/1980, <br /><b>END DATE:-</b> 2/22/1981">...</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">Employee</td>
                        <td class="col-lg-1">09-01-2016</td>
                        <td class="col-lg-1">09-01-2017</td>
                        <td class="col-lg-1">Accepted</td>
                        <td class="col-lg-1">N/A</td>
                        <td class="col-lg-2">867888886</td>
                        <td class="col-lg-1">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>JOINING DATE:-</b> 2/22/1980, <br /><b>END DATE:-</b> 2/22/1981">...</a>
                        </td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</fieldset>
