@model PortalTemplate.Areas.CredAxis.Models.ProviderProfileViewModel.EmploymentInformationVieModel.EmploymentInformationViewModel

<fieldset class="fsStyle" id="ViewEmpInfo">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            <span class="transparent-font-color">__</span>
            Employment Information
            <span class="transparent-font-color">__</span>
        </span>
        &nbsp;&nbsp; <span class="text-uppercase ">
            <span class="fstyleBtnStyle">
                @*<button class="btn btn-success btn-xs add_note_btn" onclick="ShowHideAddView('AddEditEmpInfo', 'ViewEmpInfo')">
                    <i class="fa fa-plus"></i>
                </button>*@
                <button class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Employment/AppendEmploydata" data-tab-container="ViewEmploymentInformation">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-warning btn-xs historyBtnCSS list-item" data-tab-path="/CredAxis/Employment/viewEmployHistory?value=@Html.DisplayFor(e => e.EmploymentInformationID)" data-tab-container="@Html.DisplayFor(e => e.EmploymentInformationID)">
                    <i class="fa fa-history"></i>
                </button>
                @*<button class="btn btn-default btn-xs helpBtnCSS" data-toggle="popover" data-trigger="hover" data-content="Please make the current contract inactive to add a new contract." data-original-title="" title="">
                    <i class="fa fa-question"></i>
                </button>*@  
                <a class="print_button_for_EmployeeInfo hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                    <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                </a>             
            </span>
        </span>
    </legend>
    <div class="x_content zero-padding-left">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
            <label class="theme_label">@Html.DisplayNameFor(e => e.ProviderRelation) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.ProviderRelation)</span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
            <label class="theme_label">@Html.DisplayNameFor(e => e.JoiningDate) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.JoiningDate)</span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
            <label class="theme_label">@Html.DisplayNameFor(e => e.EndDate) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.EndDate)</span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
            <label class="theme_label">@Html.DisplayNameFor(e => e.Status)  :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.Status)</span>
        </div>
        @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
            <label class="theme_label">@Html.DisplayNameFor(e => e.Contract) :</label>
            <span class="theme_label_data"<i class="fa fa-file"></i></span>
        </div>*@
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
            <label class="theme_label">@Html.DisplayNameFor(e => e.IndividualTaxid) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.IndividualTaxid)</span>
        </div>
      
    </div>
    <div id="@Html.DisplayFor(e => e.EmploymentInformationID)">

    </div>
</fieldset>
