@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.EmploymentInformationVieModel.GroupInformationViewModel>


<fieldset class="fsStyle   width-100" style="box-shadow: none !important;">
    <span class="theme_depend text-uppercase TableHeading">Group Information History</span>
    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" onclick="clearDiv(this)"  data-toggle="collapse" data-target="#GroupInformationHistory"><i class="fa fa-times" aria-hidden="true"></i></button></span>
    <div class="x_content zero-padding-left">
        @*<table class="table table-striped table-bordered claimlist_table dummy_table"><thead><tr></tr></thead></table>*@
        <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
            <thead class="theme_thead">
                <tr>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>IPA/GROUP NAME</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>START DATE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>END DATE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>STATUS</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>GROUP TAX ID</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>GROUP NPI NUMBER</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>NOTES</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   
                    <tr>
                        <td class="col-lg-2">@item.IpaGroupName</td>
                        <td class="col-lg-1">@item.StartDate</td>
                        <td class="col-lg-1">@item.EndDate</td>
                        <td class="col-lg-1">@item.Status</td>
                        <td class="col-lg-1">@item.GroupTaxId</td>
                        <td class="col-lg-2">@item.GroupNPI</td>
                        <td class="col-lg-1">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Start Date:-</b>@item.StartDate, <br /><b>End Date:-</b> @item.EndDate">...</a>
                        </td>
                    </tr>
                }
                @*<tr>
                        <td class="col-lg-2">New Horizons Mental Health LLC</td>
                        <td class="col-lg-1">09-01-2016</td>
                        <td class="col-lg-1">09-01-2016</td>
                        <td class="col-lg-1">Accepted</td>
                        <td class="col-lg-1">453453456</td>
                        <td class="col-lg-2">453453456</td>
                        <td class="col-lg-1">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Start Date:-</b> 2/22/1980, <br /><b>End Date:-</b> 2/22/1981">...</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">New Humana Mental Health LLC</td>
                        <td class="col-lg-1">09-01-2016</td>
                        <td class="col-lg-1">09-01-2016</td>
                        <td class="col-lg-1">Accepted</td>
                        <td class="col-lg-1">453453456</td>
                        <td class="col-lg-2">453453456</td>
                        <td class="col-lg-1">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>Start Date:-</b> 2/22/1980, <br /><b>End Date:-</b> 2/22/1981">...</a>
                        </td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</fieldset>
