@foreach (var doc in ViewBag.DocList)
{
    if (doc.Value.Count > 0)
    {
        <div class="x_panel">

            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up chevron"></i></a>
                    </li>
                </ul>
                <h2>@doc.Name (@doc.Value.Count/7) &nbsp;&nbsp;</h2>

                <hr />
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="x_content">

                @foreach (var file in doc.Value)
                {

                    @*onclick="openModal()"*@
                    <div class="col-md-1 filecss" onclick="perview(@file.FilePath)">
                        <div class="thumbnail">
                            <div class="image view view-first">

                                <img style="width: 100%; display: block;" src="@Url.Content("~/Resources/Images/File/" + @file.FileType + ".png")" alt="Doc Icon">
                                <div class="mask">
                                    <p>@file.FileName</p>
                                    <div class="tools tools-bottom">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p>@file.FileName</p>
                            </div>
                        </div>
                    </div>

                }


                <div class="col-md-1 filecss" onclick="alert('To Be Continued!')">
                    <div class="thumbnail">
                        <div class="image view view-first">
                            <img style="width: 97%; display: block;" src="@Url.Content("~/Resources/Images/File/add3.png")" alt="Doc Icon">
                            <div class="mask">
                                <p>Add New</p>

                            </div>

                        </div>
                        <div class="caption">
                            <p>New</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

