@model AHC.CD.WebUI.MVC.Areas.Profile.Models.Demographic.HomeAddressViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;
<fieldset>
    <legend>
        Home Address
    </legend>
    <div class="col-lg-12 zero-padding-left-right-div">
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.UnitNumber, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.UnitNumber">############</i>
                    <i class="data-label" ng-if="!ha.UnitNumber">Not Available</i>
                }
                else
                {
                    <i class="data-label wrap-words" ng-if="ha.UnitNumber">{{ha.UnitNumber}}</i>
                    <i class="data-label" ng-if="!ha.UnitNumber">Not Available</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.Street">############</i>
                    <i class="data-label" ng-if="!ha.Street">Not Available</i>
                }
                else
                {
                    <i class="data-label wrap-words">{{ha.Street}}</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.City">############</i>
                    <i class="data-label" ng-if="!ha.City">Not Available</i>
                }
                else
                {
                    <i class="data-label wrap-words">{{ha.City}}</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.State">############</i>
                    <i class="data-label" ng-if="!ha.State">Not Available</i>
                }
                else
                {
                    <i class="data-label wrap-words" ng-if="ha.State">{{ha.State}}</i>
                    <i class="data-label" ng-if="!ha.State">Not Available</i>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-12 zero-padding-left-right-div">
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.ZipCode">############</i>
                    <i class="data-label" ng-if="!ha.ZipCode">Not Available</i>
                }
                else
                {
                    <i class="data-label" ng-if="ha.ZipCode">{{ha.ZipCode}}</i>
                    <i class="data-label" ng-if="!ha.ZipCode">Not Available</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            <label class="control-label small">Country</label>
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.Country">############</i>
                    <i class="data-label" ng-if="!ha.Country">Not Available</i>
                }
                else
                {
                    <i class="data-label wrap-words" ng-if="ha.Country">{{ha.Country}}</i>
                    <i class="data-label" ng-if="!ha.Country">Not Available</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.County">############</i>
                    <i class="data-label" ng-if="!ha.County">Not Available</i>
                }
                else
                {
                    <i class="data-label wrap-words" ng-if="ha.County">{{ha.County}}</i>
                    <i class="data-label" ng-if="!ha.County">Not Available</i>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-12 zero-padding-left-right-div">
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.AddressPreferenceType, new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.AddressPreference">############</i>
                    <i class="data-label" ng-if="!ha.AddressPreference">Not Available</i>
                }
                else
                {
                    <i class="data-label" ng-if="ha.AddressPreference">{{ha.AddressPreference}}</i>
                    <i class="data-label" ng-if="!ha.AddressPreference">Not Available</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.IsPresentlyStayingYesNoOption, new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.IsPresentlyStaying">############</i>
                    <i class="data-label" ng-if="!ha.IsPresentlyStaying">Not Available</i>
                }
                else
                {
                    <i class="data-label" ng-if="ha.IsPresentlyStaying">{{ha.IsPresentlyStaying}}</i>
                    <i class="data-label" ng-if="!ha.IsPresentlyStaying">Not Available</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.LivingFromDate, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.LivingFromDate">##/##/####</i>
                    <i class="data-label" ng-if="!ha.LivingFromDate">Not Available</i>
                }
                else
                {
                    <i class="data-label" ng-if="ha.LivingFromDate">{{ha.LivingFromDate | date: "MM/dd/yyyy"}}</i>
                    <i class="data-label" ng-if="!ha.LivingFromDate">Not Available</i>
                }
            </div>
        </div>
        <div ng-if="ha.IsPresentlyStayingYesNoOption==2" class="col-lg-3 form-group">
            @Html.LabelFor(model => model.LivingEndDate, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-if="ha.LivingEndDate">##/##/####</i>
                    <i class="data-label" ng-if="!ha.LivingEndDate">Not Available</i>
                }
                else
                {
                    <i class="data-label" ng-if="ha.LivingEndDate">{{ha.LivingEndDate | date: "MM/dd/yyyy"}}</i>
                    <i class="data-label" ng-if="!ha.LivingEndDate">Not Available</i>
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-if="activeMessageDiv=='alertHomeAddressSuccess'+$index" class="col-lg-12 alert alert-{{messageType}}" role="alert">
        <button ng-click="closeAlertMessage()" class="close"><span>&times;</span></button>
        {{messageDesc}}
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 form-group">
        <button type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl()">Cancel</button>
        @if (AHC.CD.WebUI.MVC.Areas.Profile.Attributes.ProfileActionValidator.IsAuthorized(AHC.CD.WebUI.MVC.Areas.Profile.Attributes.ProfileActionType.Edit, ViewBag.Roles, true))
        {
            <button class="btn btn-sm btn-primary pull-right" ng-click="operateEditControl($index+'_EditHomeAddress',ha)">Edit</button>
        }
    </div>
</fieldset>