@model PortalTemplate.Areas.CredAxis.Models.WorkHistoryViewModel.WorkHistoryMainViewModel
<div class="clearfix"></div>
<div class="target profilediv col-lg-12" id="IDWorkHistory">
    <div id="ProfessionalWorkExperienceDiv">
        @if (Model.professionalWorkExperience != null)
        {
             @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/WorkHistory/ProfessionalWorkExperience/_ViewProfessionalWorkExperience.cshtml", Model.professionalWorkExperience)

        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "PROFESSIONAL WORK EXPERIENCE", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/WorkHistory/ProfessionalWorkExperience/_AddEditProfessionalWorkExperience.cshtml", SectionId = "ProfessionalWorkExperienceDiv" })
        }

       
    </div>
    <div id="WorkGapDiv">
        @if (Model.workGap != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/WorkHistory/WorkGap/_ViewWorkGap.cshtml", Model.workGap)

        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "WORK GAP", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/WorkHistory/WorkGap/_AddEditWorkGap.cshtml", SectionId = "WorkGapDiv" })
        }

    </div>
    <div id="MilitaryServiceDiv">
        @if (Model.militaryService != null)
        {
         @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/WorkHistory/MilitaryService/_ViewMilitaryServiceInfo.cshtml", Model.militaryService)

        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "MILITARY SERVICE", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/WorkHistory/MilitaryService/_AddEditMilitaryServiceInfo.cshtml", SectionId = "MilitaryServiceDiv" })
        }



    
    </div>
    <div id="PublicHealthServiceDiv">
        @if (Model.publicHealthService != null)
        {
          @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/WorkHistory/PublicHealthService/_ViewPublicHealthService.cshtml", Model.publicHealthService)

        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "PUBLIC HEALTH SERVICE", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/WorkHistory/PublicHealthService/_AddEditPublicHealthService.cshtml", SectionId = "PublicHealthServiceDiv" })
        }

     
    </div>
    
</div>
<div class="clearfix"></div>
