@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.HomeAddressViewModel>
@{
    var homeAddressCount = 2;
}
@foreach (var item in Model)
{
    homeAddressCount = homeAddressCount + 1;
    <div id="" class="x_content zero-padding-left">
        <div class=" col-lg-12 nopadding">
            <span class="text-uppercase TableHeading">Home Address - @homeAddressCount</span> &nbsp; <button data-toggle="modal" data-target="#BhaukalId" class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
        </div>
       <div class="col-lg-3 text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.PresnetHomeAddress) :</label>
            @if (item.PresnetHomeAddress)
            {
                <span class="theme_label_data">YES</span>
            }
            else
            {
                <span class="theme_label_data">NO</span>
            }
        </div>
       <div class="col-lg-3 text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.ApartmentOrUnit) # :</label>
           @if (item.ApartmentOrUnit != "")
           {
            <span class="theme_label_data">@item.ApartmentOrUnit</span>
           }
           else
           {
               <span class="theme_label_data">NOT AVAILABLE</span>
           }
        </div>
       <div class="col-lg-3 text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.StreetOrPOBox) # :</label>
           @if (item.StreetOrPOBox != "")
           {
            <span class="theme_label_data">@item.StreetOrPOBox</span>
           }
           else
           {
               <span class="theme_label_data">NOT AVAILABLE</span>
           }
        </div>
       <div class="col-lg-3 text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
           @if (item.City != "")
           {
            <span class="theme_label_data">@item.City</span>
           }
           else
           {
               <span class="theme_label_data">NOT AVAILABLE</span>
           }
        </div>
       <div class="col-lg-3 text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
           @if (item.State != "")
           {
            <span class="theme_label_data">@item.State</span>
           }
           else
           {
               <span class="theme_label_data">NOT AVAILABLE</span>
           }
        </div>
       <div class="col-lg-3 text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
           @if (item.County != "")
           {
            <span class="theme_label_data">@item.County</span>
           }
           else
           {
               <span class="theme_label_data">NOT AVAILABLE</span>
           }
        </div>
       <div class="col-lg-3 text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
           @if (item.Country != "")
           {
            <span class="theme_label_data">@item.Country</span>
           }
           else
           {
               <span class="theme_label_data">NOT AVAILABLE</span>
           }
        </div>
       <div class="col-lg-3 text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode) :</label>
           @if (item.ZipCode != "")
           {
            <span class="theme_label_data">@item.ZipCode</span>
           }
           else
           {
               <span class="theme_label_data">NOT AVAILABLE</span>
           }
        </div>

       <div class="col-lg-3 text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.LivingHereFrom) :</label>
           @if (item.LivingHereFrom != "")
           {
            <span class="theme_label_data">@item.LivingHereFrom</span>
           }
           else
           {
               <span class="theme_label_data">NOT AVAILABLE</span>
           }
        </div>
    </div>
}
<span class="view-more pull-right" id="lessHomeAddress" data-toggle="collapse" data-target=".ViewMoreHomeAddress" onclick="ShowHideAddView('moreHomeAddress', 'lessHomeAddress')">View Less</span>
