@model PortalTemplate.Areas.Encounters.Models.DocumentViewModel
<p-link filepath="~/Areas/Encounters/Contents/Css/AppCss/Documents/Unminified/DocumentAddView.css" rel="stylesheet"></p-link>
<div class="documentUploads container">
    <div class="row fileUploadContainer">
        <div class="fileUploadItem col-lg-12" data-stampid="0">
            <div class="col-lg-3">
                @Html.LabelFor(m => m.DocumentName)
                @Html.TextBoxFor(m => m.DocumentName, new { @class = "form-control input-xs non_mandatory_field_halo DocumentName", @data_stampid = "0", @placeholder = "Document Name" })
            </div>
            <div class="col-lg-2">
                <label>
                    Document Category
                </label>
                <input type="text" class="form-control input-xs non_mandatory_field_halo uppercase documentCategorySelector" value="@Model.Category" list="DocumentCategory">
                <datalist id="DocumentCategory">
                    <option value="PROGRESS NOTES">
                    <option value="LAB REPORT">
                    <option value="IMAGE">
                    <option value="CONSULTATION">
                    <option value="HOSPITAL">
                    <option value="CHART">
                    <option value="PRESCRIPTION">
                    <option value="REFERENCE NOTES">
                    <option value="HOSPITAL DISCHARGE">
                    <option value="ECW PHYSICIAN TO PHYSICIAN">
                    <option value="SPECIALITY FORMS">
                    <option value="MISCELLANEOUS">
                    <option value="EXAMINATION">
                    <option value="PHYSICAL EXAM DRAWING">
                    <option value="PROCEDURE DRAWING">
                    <option value="PROCEDURE DOCUMENT">
                    <option value="EOB">
                    <option value="ADVANCE DIRECTORY">
                    <option value="OTHERS">
                </datalist>
            </div>
            <div class="col-lg-4 docTypeSelector">
                <div>


                    <label>@Html.PratianUiSqaureRadio(new { @id = "e_upload-0", color = "green",@value="0-0", @checked = "checked", @name = "DocumentsAdd" }) Attach</label>
                    <label>@Html.PratianUiSqaureRadio(new { @id = "e_create-0", color = "green",@value="0-1", @name = "DocumentsAdd" }) Create</label>

                    @*<input type="radio" name="FileTypeUploadCreate0" class="normal-radio" id="e_upload-0" value="0-0" checked="checked">
                        <label for="e_upload-0 DocuemntViewAddLabel"><span></span>Attach</label>
                        <input type="radio" name="FileTypeUploadCreate0" class="normal-radio" value="0-1" id="e_create-0">
                        <label for="e_create-0 DocuemntViewAddLabel"><span></span>Create</label>*@
                </div>
                <div class="fileBox" data-stampid="0">
                    <input class="form-control input-xs non_mandatory_field_halo" type="file" />
                </div>
                <div class="textBox" data-stampid="0">
                    <textarea class="expandableNotesBox form-control input-xs non_mandatory_field_halo textToPdfFile"></textarea>
                </div>
            </div>
            <div class="col-lg-3 padding_left_18px">
                <label>Action</label>
                <div class="Actions">
                    <button class="btn btn-xs btn-primary"><i class="fa fa-upload"></i> Upload</button>
                    <button class="btn btn-xs btn-info addFileButton" onclick="addFile_Click()"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
        </div>
    </div>
</div>