@model PortalTemplate.Areas.UM.Models.ViewModels.Letter.ApprovalLetterViewModel
<style>
    .approvalBody {
        margin-top: 3%;
        width: 90%;
        margin-left: 5%;
        font-family: Times New Roman;
        color: #000000;
        font-size: 15px;
    }
</style>
<div id="LetterGeneration">
    <div class="col-lg-12 approvalBody">
        <!-- APPROVAL LETTER -->
        <div id="content1" width='100%' style="font-weight: 100">
            <img src="~/Resources/Images/Common/Ultimate_Logo.png" class="pull-left LogoHeight" />
            <div class="CalibriFontStyle-12FontSize pull-right" style="margin: -4px 0px -1px; font-family: Calibri;font-weight:500">
                <p>
                    <span class="pull-right spacing" style="margin: -4px 0px -1px; padding-left: 12px">@Html.DisplayFor(model => model.PlanAddress1)</span>
                </p>
                <p>
                    <span class="pull-right spacing" style=" margin-top: -11%; margin: -4px 0px -1px; padding-left: 8px">@Html.DisplayFor(model => model.PlanAddress2)</span>
                </p>
                <p>
                    <span class="pull-right spacing" style=" margin-top: -11%; margin: -4px 0px -1px;">@Html.DisplayFor(model => model.PlanContact)</span>
                </p>
            </div>
            <br />
            <br />
            <br />
            <div class="clearfix"></div>
            <div style="margin-top:4%;" style="margin: -4px 0px -1px;">
                <p>
                    <span class="TimesNewRoman-12FontSize spacing" style="margin: -4px 0px -1px;">@Html.DisplayFor(model => model.MemberFirstName) @Html.DisplayFor(model => model.MemberLastName)</span>
                </p>
                <p style="margin-top: -2%;">
                    <span class="TimesNewRoman-12FontSize spacing" style=" margin: -4px 0px -1px;">@Html.DisplayFor(model => model.MemberAddress1)</span>
                </p>
                <p style="margin-top: -2%;">
                    <span class="TimesNewRoman-12FontSize spacing" style=" margin: -4px 0px -1px;">@Html.DisplayFor(model => model.MemberAddress2)</span>
                </p>
            </div>
            <p style='text-align: right; margin: -4px 0px -1px;' class="removeBottomMargin TimesNewRoman-12FontSize ">@Html.DisplayFor(model => model.RequestedDate)</p>
            <br />
            <p style='float: left; margin: -4px 0px -1px;' class="removeBottomMargin">
                <span class="TimesNewRoman-12FontSize spacing" style="margin: -4px 0px -1px;">Dear @Html.DisplayFor(model => model.MemberFirstName) @Html.DisplayFor(model => model.MemberLastName):</span>
            </p>
            <br />
            <br />
            <span class="TimesNewRoman-12FontSize" style="margin: -4px 0px -1px;">
                Ultimate Health Plans received a request for the following service on
                <b>08/16/2016:</b>
            </span>
        </div>
        <br />
        <table width="100%" border="1">
            <colgroup>
                <col width="40%">
                <col width="60%">
            </colgroup>
            <tr>
                <td style='font-weight: lighter;' class="tableborder">&nbsp;&nbsp;MEMBER ID</td>
                <td class="tableborder">&nbsp;&nbsp;@Html.DisplayFor(model => model.MemberID)</td>
            </tr>
            <tr>
                <td class="tableborder" style='font-weight: lighter;'>&nbsp;&nbsp;SERVICE REQUESTED</td>
                <td class="tableborder" style="padding-left:8px">
                    @Html.DisplayFor(model => model.ServiceRequested)
                </td>
            </tr>
            <tr>
                <td class="tableborder" style='font-weight: lighter;'>&nbsp;&nbsp;REQUESTED BY</td>
                <td class="tableborder">&nbsp;&nbsp;@Html.DisplayFor(model => model.RequestedBy)</td>
            </tr>
            <tr>
                <td class="tableborder" style='font-weight: lighter;'>&nbsp;&nbsp;SERVICE PROVIDER</td>
                <td class="tableborder" style="padding-left:8px">
                    @Html.DisplayFor(model => model.ServiceProvider)
                    @Html.DisplayFor(model => model.FacilityName)
                </td>
            </tr>
        </table>
        <br />
        <div id='content2' width='100%' style="font-weight: 100;">
            <p class="removeBottomMargin" style="margin: -4px 0px -1px;">
                <span class="TimesNewRoman-12FontSize pSpacing">
                    Ultimate Health Plans has approved this request on
                    @Html.DisplayFor(model => model.DateOfPlanDecision) and has assigned authorization number
                    <b>@Html.DisplayFor(model => model.AuthorizationNumber)</b> for this service. This authorization is valid for 90 days from the date of approval.
                </span>
            </p>
            <p class="removeBottomMargin">&nbsp;</p>
            <p class="removeBottomMargin" style="margin-top: -17px;">
                <span class="TimesNewRoman-12FontSize pSpacing">
                    If you have any questions, please contact our Member Services Department at 1-888-657-4170. We are available 7 days per week from 8:00am to 8:00pm EST. TTY/TDD users should call 711.
                </span>
            </p>
            <p>&nbsp;</p>
            <p class="" style="margin-top: -28px;">
                <span class="">
                    Please be advised that from February 15 to September 30, Ultimate Health Plans may use alternative technologies to answer your call on weekends and federal holidays.
                </span>
            </p>
            <p class="removeBottomMargin">&nbsp;</p>
            <p class="removeBottomMargin" style="margin-top:10px;">
                <span class="TimesNewRoman-12FontSize spacing">
                    Thank You,<br />Ultimate Health Plans
                </span>
            </p>
            <p class="removeBottomMargin">&nbsp;</p>
            <p class="removeBottomMargin">&nbsp;</p>
            <div class='text-center TimesNewRoman-12FontSize' style="margin: -4px 0px -1px;"><strong><i>Ultimate Health Plans is an HMO plan with a Medicare contract.</i></strong></div>
            <div class='text-center TimesNewRoman-12FontSize' style="margin: -4px 0px -1px;"><strong><i>Enrollment in Ultimate Health Plans depends on contract renewal.</i></strong></div>
            <p class="removeBottomMargin">&nbsp;</p>
            <footer>
                <span style='float:right;' class="TimesNewRoman-12FontSize" style="margin: -4px 0px -1px;"> H2962_Part C Approval Letter v216 Accepted</span>
            </footer>
        </div>
    </div>
</div>
