@model AHC.CD.WebUI.MVC.Areas.Profile.Models.EducationHistory.CMECertificationViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

<div class="clearfix"></div>
<form id="CMEForm">
    <div id="certificateForm">
        <fieldset>
            <legend>
                <span ng-if="visibilityControl=='addcertificationCMEViewModel'">Add Post Graduate Training/CME Details</span>
                <span ng-if="visibilityControl==($index+'_editcertificationCMEViewModel')">Update Post Graduate Training/CME Details</span>
            </legend>
            <span ng-if="tempObject.CMECertificationID">
                @Html.HiddenFor(model => model.CMECertificationID, new { id = "CMECertificationID", ng_value = "tempObject.CMECertificationID", data_ng_model = "tempObject.CMECertificationID" })
            </span>
            <div class=" col-lg-12 zero-padding-left-right-div">
                @Html.ValidationSummary(true, "", new { @class = "text-danger validSummary" })
                <div class="col-lg-12 zero-padding-left-right-div">
                    <div class="col-lg-12">
                        <div class="col-lg-3 form-group">
                            @Html.LabelFor(model => model.QualificationDegree, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <input type="text" class="form-control input-sm" data-val="true" data-val-required="The Degree Awarded * field is required" name="QualificationDegree" ng-model="tempObject.QualificationDegree" ng-focus="searchCumDropDown('ForCMEDegree'+$index)" />
                                <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="ForCMEDegree{{$index}}">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <tbody>
                                            <tr ng-repeat="degree in filterCMEDegreeData=(masterDegrees | filter : tempObject.QualificationDegree) track by $index" ng-click="addIntoDegreeDropDown(degree.Title,'ForCMEDegree')" class="pointer">
                                                <td>{{degree.Title}}</td>
                                            </tr>
                                            <tr ng-if="!filterCMEDegreeData.length">
                                                <td>No data..... </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.QualificationDegree, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-lg-3 form-group">
                            @Html.LabelFor(model => model.Certification, htmlAttributes: new { @class = "control-label small" })
                            <div>

                                <input type="text" class="form-control input-sm" data-val="true" data-val-required="The Certificate Name * field is required" name="Certification" ng-model="tempObject.Certification" ng-focus="searchCumDropDown('ForCME'+$index)" />
                                <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="ForCME{{$index}}">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <tbody>
                                            <tr ng-repeat="certificate in filterCMECertificateData=(masterCertifications | filter : tempObject.Certification) track by $index" ng-click="addIntoCMEDropDown(certificate.Name,'ForCME')" class="pointer">
                                                <td>{{certificate.Name}}</td>
                                            </tr>
                                            <tr ng-if="!filterCMECertificateData.length">
                                                <td>No data..... </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @*<input type="text" class="form-control input-sm" data-val-required="The Certificate* field is Required" name="Certification" ng-model="tempObject.Certification" ng-options="certificate.Name for certificate in masterCertifications" bs-typeahead>*@
                                @Html.ValidationMessageFor(model => model.Certification, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-lg-3 form-group">
                            <span ng-if="tempObject.SchoolInformation.SchoolInformationID">
                                @Html.HiddenFor(model => model.SchoolInformation.SchoolInformationID, new { id = "SchoolInformationID", ng_value = "tempObject.SchoolInformation.SchoolInformationID", data_ng_model = "tempObject.SchoolInformation.SchoolInformationID" })
                            </span>
                            @Html.LabelFor(model => model.SchoolInformation.SchoolName, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <input type="text" class="form-control input-sm" data-val="true" data-val-required="The School Name * field is required" name="SchoolInformation.SchoolName" ng-model="tempObject.SchoolInformation.SchoolName" ng-focus="searchCumDropDown('ForCMESchoolName'+$index)" />
                                <div class="ProviderTypeSelectAutoList popover fade bottom in" role="tooltip" id="ForCMESchoolName{{$index}}">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <tbody>
                                            <tr ng-repeat="school in filterCMESchoolData=(masterSchools | filter : tempObject.SchoolInformation.SchoolName) track by $index" ng-click="addIntoSchoolDropDown(school.Name,'ForCMESchoolName')" class="pointer">
                                                <td>{{school.Name}}</td>
                                            </tr>
                                            <tr ng-if="!filterCMESchoolData.length">
                                                <td>No data..... </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.SchoolInformation.SchoolName, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-lg-3 form-group">
                            @Html.LabelFor(model => model.SponsorName, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.SponsorName, new { @class = "form-control input-sm", placeholder = "Sponsor Name", data_ng_model = "tempObject.SponsorName" })
                                @Html.ValidationMessageFor(model => model.SponsorName, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.Street, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.SchoolInformation.Street, new { @class = "form-control input-sm", placeholder = "street", data_ng_model = "tempObject.SchoolInformation.Street" })
                                @Html.ValidationMessageFor(model => model.SchoolInformation.Street, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.Building, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.SchoolInformation.Building, new { @class = "form-control input-sm", placeholder = "building", data_ng_model = "tempObject.SchoolInformation.Building" })
                                @Html.ValidationMessageFor(model => model.SchoolInformation.Building, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.City, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <input type="text" class="form-control input-sm" ng-bind="City" placeholder="enter city" data-val="true" data-val-required="The City* field is required" ng-model="tempObject.selectedEduLocation" data-limit="10" ng-options="location.City +'  '+ location.State +'  '+ location.Zipcode for location in Locations" ng-change="addressAutocomplete(tempObject.selectedEduLocation)" bs-typeahead />
                                @Html.HiddenFor(model => model.SchoolInformation.City, new { name = "SchoolInformation.City", ng_value = "tempObject.SchoolInformation.City" })
                                
                            </div>
                            @Html.ValidationMessageFor(model => model.SchoolInformation.City, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.State, htmlAttributes: new { @class = "control-label small" })
                            <div>

                                <input type="text" name="SchoolInformation.State" data-val="true" data-val-required="The State* field is required" class="form-control input-sm" ng-bind="State" ng-model="tempObject.SchoolInformation.State" />
                                @Html.ValidationMessageFor(model => model.SchoolInformation.State, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.ZipCode, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <input type="text" name="SchoolInformation.ZipCode" class="form-control input-sm" data-val="true" data-val-required="The Zip code* field is required" ng-bind="ZipCode" ng-model="tempObject.SchoolInformation.ZipCode" />
                                @Html.ValidationMessageFor(model => model.SchoolInformation.ZipCode, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.Country, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <input type="text" name="SchoolInformation.Country" data-val="true" data-val-required="The Country* field is required" class="form-control input-sm" ng-bind="Country" ng-model="tempObject.SchoolInformation.Country" />
                                @Html.ValidationMessageFor(model => model.SchoolInformation.Country, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.County, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <input type="text" name="SchoolInformation.County" class="form-control input-sm" ng-bind="County" ng-model="tempObject.SchoolInformation.County" />
                                @Html.ValidationMessageFor(model => model.SchoolInformation.County, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.Email, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.SchoolInformation.Email, new { id = "Email", @class = "form-control input-sm", placeholder = "email", data_ng_model = "tempObject.SchoolInformation.Email" })
                                @Html.ValidationMessageFor(model => model.SchoolInformation.Email, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>                   
                    <div class="col-lg-12">

                        <div class="col-lg-3 form-group">
                            @Html.LabelFor(model => model.SchoolInformation.Phone, htmlAttributes: new { @class = "control-label small" })
                            <div class="input-group">
                                <span ng-if="!tempObject.SchoolInformation.PhoneCountryCode" ng-init="tempObject.SchoolInformation.PhoneCountryCode='+1'"></span>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default countryCodeClass" ng-click="showContryCodeDiv('CMETelephoneCountryCode'+$index)"> {{tempObject.SchoolInformation.PhoneCountryCode}} <span class="caret"></span></button>
                                </div>
                                <div class="countryDailCodeContainer popover fade bottom in" role="tooltip" id="CMETelephoneCountryCode{{$index}}">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title">Select Country Dial Code</h3>
                                    <div class="popover-content">
                                        <select name="SchoolInformation.PhoneCountryCode" ng-model="tempObject.SchoolInformation.PhoneCountryCode">
                                            <option ng-repeat="code in CountryDialCodes" value="{{code.dial_code}}" ng-selected="code.dial_code == tempObject.SchoolInformation.PhoneCountryCode">{{code.name}}({{code.dial_code}})</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    @Html.TextBoxFor(model => model.SchoolInformation.Phone, new { id = "Phone", @class = "form-control", placeholder = "phone number", data_ng_model = "tempObject.SchoolInformation.Phone" })

                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.SchoolInformation.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3">
                            @Html.LabelFor(model => model.SchoolInformation.Fax, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                <div class="input-group">
                                    <span ng-if="!tempObject.SchoolInformation.FaxCountryCode" ng-init="tempObject.SchoolInformation.FaxCountryCode='+1'"></span>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default countryCodeClass" ng-click="showContryCodeDiv('CMEFaxCountryCode'+$index)"> {{tempObject.SchoolInformation.FaxCountryCode}} <span class="caret"></span></button>
                                    </div>
                                    <div class="countryDailCodeContainer popover fade bottom in" role="tooltip" id="CMEFaxCountryCode{{$index}}">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">Select Country Dial Code</h3>
                                        <div class="popover-content">
                                            <select name="SchoolInformation.FaxCountryCode" ng-model="tempObject.SchoolInformation.FaxCountryCode">
                                                <option ng-repeat="code in CountryDialCodes" value="{{code.dial_code}}" ng-selected="code.dial_code == tempObject.SchoolInformation.FaxCountryCode">{{code.name}}({{code.dial_code}})</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(model => model.SchoolInformation.Fax, new { id = "Fax", @class = "form-control", placeholder = "fax number", data_ng_model = "tempObject.SchoolInformation.Fax" })

                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.SchoolInformation.Fax, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 form-group">
                            @Html.LabelFor(model => model.CreditHours, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.CreditHours, new { @class = "form-control input-sm", placeholder = "Credit Hours", data_ng_model = "tempObject.CreditHours" })
                                @Html.ValidationMessageFor(model => model.CreditHours, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-lg-3 form-group">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label small" })
                            <div>

                                @Html.TextBoxFor(model => model.StartDate, new { name = "StartDate", @class = "form-control input-sm", placeholder = "mm/dd/yyyy", data_ng_model = "tempObject.StartDate", data_date_format = "MM/dd/yyyy", bs_datepicker = "" })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-3 form-group">
                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label small" })
                            <div>

                                @Html.TextBoxFor(model => model.EndDate, new { name = "EndateDate", @class = "form-control input-sm", placeholder = "mm/dd/yyyy", data_ng_model = "tempObject.EndDate", data_date_format = "MM/dd/yyyy", bs_datepicker = "" })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 form-group">
                            @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label small" })
                            <div>
                                @Html.TextBoxFor(model => model.ExpiryDate, new { @class = "form-control input-sm", placeholder = "mm/dd/yyyy", data_ng_model = "tempObject.ExpiryDate", data_date_format = "MM/dd/yyyy", bs_datepicker = "" })
                                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group " ng-class="{'col-lg-11':tempObject.CertificatePath,'col-lg-12':!tempObject.CertificatePath}">
                        @Html.HiddenFor(model => model.CertificatePath, new { ng_value = "tempObject.CertificatePath" })
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-default btn-sm btn-file"><span class="fileinput-new">@Html.LabelFor(model => model.CertificateDocumentFile, htmlAttributes: new { @class = "control-label small" })</span><span class="fileinput-exists">Change</span>@Html.TextBoxFor(model => model.CertificateDocumentFile, new { name = "CertificateDocumentFile", id = "CertificateDocumentFile", type = "file", data_ng_model = "tempObject.CertificateDocumentFile" })</span>
                            <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                        @Html.ValidationMessageFor(model => model.CertificateDocumentFile, "", new { @class = "text-danger" })
                    </div>
                    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Preview, ViewBag.Roles, false))
                    {

                        <div ng-if="tempObject.CertificatePath" class="form-group col-lg-1">
                            <a href="/Document/View?path={{tempObject.CertificatePath}}" target="_blank"><i class="fa fa-3x fa-file"></i></a>
                        </div>

                    }

                </div>
            </div>
        </fieldset>
        <div class="col-md-12 form-group">
            <button ng-show="visibilityControl==($index+'_editcertificationCMEViewModel')" type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('')">Cancel</button>
            <button ng-show="visibilityControl=='addcertificationCMEViewModel'" type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('')">Cancel</button>
            <button ng-show="visibilityControl=='addcertificationCMEViewModel'" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveCertificate(tempObject)">Add</button>
            <button ng-show="visibilityControl==($index+'_editcertificationCMEViewModel')" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveCertificate(tempObject,$index)">Update</button>
        </div>
        <div ng-show="ErrorInCMEDetails" class="col-lg-12">
            <div class="alert alert-danger" role="alert">
                <span class="pull-right" ng-click="ErrorInCMEDetails=false"><i class="fa fa-times"></i></span>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Error Lists : <br />
                <span ng-repeat="err in CMEDetailsErrorList track by $index">{{err}}</span>
            </div>
        </div>
    </div>
</form>