@model AHC.CD.WebUI.MVC.Areas.Profile.Models.EducationHistory.CMECertificationViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

<div class="clearfix"></div>
<div id="certificate">
    <fieldset>
        <legend>
            Post Graduate Training/CME Details
        </legend>

        <div class=" col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-12">
            <div class="col-lg-3 form-group">
               
                @Html.LabelFor(model => model.QualificationDegree, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{certificationCMEViewModel.QualificationDegree}}</i>
                </div>
            </div>
            <div class="col-lg-3 form-group">
                
                @Html.LabelFor(model => model.Certification, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{certificationCMEViewModel.Certification}}</i>
                </div>
            </div>
           
            <div class="col-lg-3 form-group">
                
                @Html.LabelFor(model => model.SchoolInformation.SchoolName, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{certificationCMEViewModel.SchoolInformation.SchoolName}}</i>
                </div>
            </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.SponsorName, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{certificationCMEViewModel.SponsorName}}</i>
                    </div>
                </div>
            </div>
                <div class="col-lg-12">  

                    <div class="form-group col-md-3">

                        @Html.LabelFor(model => model.SchoolInformation.Street, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label wrap-words">{{certificationCMEViewModel.SchoolInformation.Street}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        
                        @Html.LabelFor(model => model.SchoolInformation.Building, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{certificationCMEViewModel.SchoolInformation.Building}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">

                        @Html.LabelFor(model => model.SchoolInformation.City, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{certificationCMEViewModel.SchoolInformation.City}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">

                        @Html.LabelFor(model => model.SchoolInformation.State, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{certificationCMEViewModel.SchoolInformation.State}}</i>
                        </div>
                    </div>
                </div>
            <div class="col-lg-12">
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.ZipCode, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{certificationCMEViewModel.SchoolInformation.ZipCode}}</i>
                    </div>
                </div>
                @*<div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.Country, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{certificationCMEViewModel.SchoolInformation.Country}}</i>
                    </div>
                </div>*@               
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.County, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{certificationCMEViewModel.SchoolInformation.County}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.SchoolInformation.Email, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{certificationCMEViewModel.SchoolInformation.Email}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.SchoolInformation.Phone, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">({{certificationCMEViewModel.SchoolInformation.PhoneCountryCode}})-{{certificationCMEViewModel.SchoolInformation.Phone}}</i>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.SchoolInformation.Fax, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">({{certificationCMEViewModel.SchoolInformation.FaxCountryCode}})-{{certificationCMEViewModel.SchoolInformation.Fax}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.CreditHours, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{certificationCMEViewModel.CreditHours}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{certificationCMEViewModel.StartDate | date:'MM-dd-yyyy'}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{certificationCMEViewModel.EndDate | date:'MM-dd-yyyy'}}</i>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
               
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{certificationCMEViewModel.ExpiryDate | date:'MM-dd-yyyy'}}</i>
                    </div>
                </div>
                    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Preview, ViewBag.Roles, false))
                    {
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.CertificatePath, htmlAttributes: new { @class = "control-label small" })
                        <div ng-if="certificationCMEViewModel.CertificatePath">
                            <i class="data-label"><a href="/Document/View?path={{certificationCMEViewModel.CertificatePath}}" class="pointer" target="_blank" data-toggle="tooltip" data-placement="top" title="Certificate"><i class="fa fa-file"> Certificate</i></a></i>
                        </div>
                        <div ng-if="!certificationCMEViewModel.CertificatePath">
                            <i class="data-label"> Not available</i>
                        </div>
                    </div>
                    }                    
            </div>
            </div>
    </fieldset>
    <div class="col-md-12 form-group">        
        <button type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('')">Cancel</button> 
        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
        {
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="operateEditControl($index+'_editcertificationCMEViewModel',certificationCMEViewModel)">Edit</button>
        }
        
    </div>
</div>
