
<ul class="innerTabsArea queueTabs" style="width:100.7%;">

    <li id="diseasesSubTab" class="ipaQueueMenu  tabs innerTabs SystemIdentified_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="disease">
        <a class="innerTabsLinks topminus3"><span class="text-uppercase">Diseases</span></a><span class="pointing-caret"></span>
    </li>
    <li id="highClaimsSubTab" class="ipaQueueMenu tabs innerTabs SystemIdentified_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="highClaims">
        <a class="innerTabsLinks"><span class="text-uppercase">High Claims</span></a><span class="pointing-caret"></span>
    </li>

    <li id="MRASubTab" class="ipaQueueMenu tabs innerTabs SystemIdentified_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="MRA">
        <a class="innerTabsLinks"><span class="text-uppercase ng-binding">MRA</span></a><span class="pointing-caret"></span>
    </li>

    <li id="HRASubTab" class="ipaQueueMenu tabs innerTabs SystemIdentified_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="HRA">
        <a class="innerTabsLinks"><span class="text-uppercase ng-binding">HRA</span></a><span class="pointing-caret"></span>
    </li>

    <li id="ERVisitSubTab" class="ipaQueueMenu tabs innerTabs SystemIdentified_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="ERVisit">
        <a class="innerTabsLinks"><span class="text-uppercase ng-binding">ER VISIT</span></a><span class="pointing-caret"></span>
    </li>

    <li id="hospitalSubTab" class="ipaQueueMenu tabs innerTabs SystemIdentified_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="hospital">
        <a class="innerTabsLinks"><span class="text-uppercase ng-binding">HOSPITAL</span></a><span class="pointing-caret"></span>
    </li>

</ul>