<p-script filepath="~/Areas/CM/Scripts/Queue/NonMinified/UserQueue.js"></p-script>
<ul class="innerTabsArea queueTabs" style="width:100.7%;">

    <li id="Due_Today" class="ipaQueueMenu active tabs innerTabs UserQueue_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="dueToday">
        <a class="innerTabsLinks topminus3"><span class="text-uppercase">Due Today</span></a><span class="pointing-caret"></span>
    </li>


    <li id="Due_Tomorrow" class="ipaQueueMenu tabs innerTabs UserQueue_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="dueTomorrow">
        <a class="innerTabsLinks"><span class="text-uppercase">Due Tomorrow</span></a><span class="pointing-caret"></span>
    </li>

    <li id="Completed_Today" class="ipaQueueMenu tabs innerTabs UserQueue_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="completedToday">
        <a class="innerTabsLinks"><span class="text-uppercase ng-binding">Completed Today</span></a><span class="pointing-caret"></span>
    </li>

    <li id="Completed_Yesterday" class="ipaQueueMenu tabs innerTabs UserQueue_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="completedYesterday">
        <a class="innerTabsLinks"><span class="text-uppercase ng-binding">Completed Yesterday</span></a><span class="pointing-caret"></span>
    </li>

    <li id="Completed" class="ipaQueueMenu tabs innerTabs UserQueue_Side_Tabs" data-queue-type="@ViewBag.QueueType" data-queue-tab="completed">
        <a class="innerTabsLinks"><span class="text-uppercase ng-binding">Completed</span></a><span class="pointing-caret"></span>
    </li>

   

</ul>