@model AHC.CD.WebUI.MVC.Areas.Profile.Models.HospitalPrivilege.HospitalPrivilegeInformationViewModel

<form class="hospitalPrivilegeForm">
    <div class="col-lg-12 zero-padding-left-right-div">
        @Html.ValidationSummary(true, "", new { @class = "text-danger validSummary" })
        @Html.HiddenFor(model => model.HospitalPrivilegeInformationID, new { data_ng_model = "hospitalPrivilegeInformation.HospitalPrivilegeInformationID" })
        <fieldset>
            <legend>
                Hospital Privilege Information
            </legend>
            <div>
                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Primary, new { @class = "control-label small" })
                        <div>
                            <i class="data-label " ng-class="{'True':'fa fa-check', 'False':'fa fa-times'}[hospitalPrivilegeInformation.Primary]"></i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.HospitalName, htmlAttributes: new { @class = "control-label small" })
                        <div class="radio">
                            <i class="data-label">{{hospitalPrivilegeInformation.HospitalName}}</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">                    
                    @*<div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.Number}}</i>
                        </div>
                    </div>*@

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.StreetAddress, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.StreetAddress}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Building, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.Building}}</i>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.City}}</i>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.State}}</i>
                        </div>
                    </div>

                 
                </div>

                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Zipcode, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.Zipcode}}</i>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label class="control-label small">Country</label>
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.Country}}</i>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.County}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.HospitalPhone, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.HospitalPhone}}</i>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.HospitalFax, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.HospitalFax}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.EmailID}}</i>
                        </div>
                    </div>

                </div>

                <div class=" col-md-12">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.ContactPerson}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.ContactPersonPhone, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.ContactPersonPhone}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.ContactPersonFax, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.ContactPersonFax}}</i>
                        </div>
                    </div>
                </div>
                <div class=" col-md-12">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.DepartmentName}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.DepartmentChief, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.DepartmentChief}}</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.AffilicationStartDate, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.AffilicationStartDate| date:'MM-dd-yyyy'}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.AffiliationEndDate, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.AffiliationEndDate| date:'MM-dd-yyyy'}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.ArePrevilegesTemporary, new { @class = "control-label small" })
                        <div>
                            <i class="data-label " ng-class="{'True':'fa fa-check', 'False':'fa fa-times'}[hospitalPrivilegeInformation.ArePrevilegesTemporary]"></i>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.FullUnrestrictedPrevilages, new { @class = "control-label small" })
                        <div>
                            <i class="data-label " ng-class="{'True':'fa fa-check', 'False':'fa fa-times'}[hospitalPrivilegeInformation.FullUnrestrictedPrevilages]"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.AddmittingPrivilegeStatus, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label " ng-class="{'True':'fa fa-check', 'False':'fa fa-times'}[hospitalPrivilegeInformation.AddmittingPrivilegeStatus]"></i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.AnnualAdmisionPercentage, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.AnnualAdmisionPercentage}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Speciality, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.Speciality}}</i>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.StaffCategory, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{hospitalPrivilegeInformation.StaffCategoryValue}}</i>
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label small">Supporting Document</label>
                        <div>
                            <span ng-show="hospitalPrivilegeInformation.Certificate==''">Not Available</span><a ng-show="hospitalPrivilegeInformation.Certificate!=''" href="{{hospitalPrivilegeInformation.Certificate}}" data-toggle="tooltip" data-placement="top" title="{{hospitalPrivilegeInformation.DocumentPath}}" target="_blank"><i class="fa fa-file"></i> Hospital Privilege Letter</a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="clearfix"></div>
        <br />
        <div class="col-md-12">
            <div class="col-md-12">
                <button class="btn btn-warning btn-sm" ng-click="cancelHospitalPrivilegeInformation()">Cancel</button>
                <button class="btn btn-primary btn-sm pull-right" ng-click="editHospitalPrivilegeInformation($index,hpi)">Edit</button>
            </div>
        </div>
    </div>
</form>
