@model List<PortalTemplate.Areas.Coding.Models.CodingList.CodingListViewModel>
@foreach (var item in Model)
{
    <tr>
        <td>@item.EncounterID</td>
        <td>@item.MemberID</td>
        <td>@item.MemberLastName</td>
        <td>@item.MemberFirstName</td>
        <td>@item.ProviderNPI</td>
        <td>@item.ProviderLastName</td>
        <td>@item.ProviderFirstName</td>
        <td>@item.Facility</td>
        <td>@Html.DisplayFor(x => item.DateOfService)</td>
        <td>@Html.DisplayFor(x => item.DateOfCreation)</td>
        <td>@item.CreatedBy</td>
        <td>@item.EncounterType</td>
        <td>@item.Status</td>
        <td>
            <a data-toggle="tooltip" title="View Encounter" class="p_view_btn btn btn-xs tab-navigation member-actions" data-tab-val="ViewEncounter" data-tab-action="View Encounter" data-tab-title="View #@item.EncounterID" data-tab-container="fullBodyContainer" data-tab-autoflush="true" data-tab-path="/Coding/Coding/ViewDetails"><i class="fa fa-eye"></i></a>
            @*<a data-toggle="tooltip" title="Edit Encounter" class="p_edit_btn btn  btn-xs tab-navigation member-actions" data-tab-val="EditEncounter" data-tab-action="Edit Encounter" data-tab-title="Code #@item.EncounterID" data-tab-container="fullBodyContainer" data-tab-autoflush="true" data-tab-path="/Coding/Coding/EditDetails"><i class="fa fa-edit"></i></a>
                <a data-toggle="tooltip" title="Delete Encounter" class="p_delete_btn btn btn-xs" onclick="showcodingDeleteModal(@item.EncounterID)"><i class="fa fa-trash"></i></a>*@
        </td>
    </tr>
}
