
<style>
    .loadingHistory {
        padding-left: 7px;
        display: none;
    }
</style>

<br />
<div class="form-style" ng-controller="profileAppCtrl">
    <fieldset>
        <legend>
            Profile Dashboard
        </legend>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <label class="control-label small">
                                Profile Review
                            </label>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_ProfileReview.cshtml")
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <label class="control-label small">
                                Upcoming Renewals
                            </label>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_UpcomingRenewals.cshtml")
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <label class="control-label small">
                                Upcoming Re-Credentialing
                            </label>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_UpcomingRecredential.cshtml")
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <label class="control-label small">
                                PSV Details
                            </label>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_PSV.cshtml")
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <label class="control-label small">
                                Initiate Credentialing
                            </label>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_InitiateCredentialing.cshtml")
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div ng-hide="miss" class="panel-body">
                <div class="col-lg-12">
                    <div ng-show="loading" class="progress col-lg-12" ng-cloak>
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            Loading...Please wait...
                        </div>
                    </div>
                    <div ng-show="review1 && !loading">
                        <fieldset>
                            <legend>
                                Profile Review
                            </legend>
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_CredentialingMissingField.cshtml")
                        </fieldset>
                    </div>
                    <div ng-show="review2 && !loading">
                        <fieldset>
                            <legend>
                                Upcoming Renewals
                            </legend>
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_RenewalView.cshtml")
                        </fieldset>
                    </div>
                    <div ng-show="review3 && !loading">
                        <fieldset>
                            <legend>
                                Upcoming Re-Credentialing
                            </legend>
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_RecredentialingView.cshtml")
                        </fieldset>
                    </div>
                    <div ng-show="review4 && !loading">
                        <fieldset>
                            <legend>
                                PSV Details
                            </legend>
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_PerformPSV.cshtml")
                        </fieldset>
                    </div>
                    <div ng-show="review5 && !loading">
                        <fieldset>
                            <legend>
                                Initiate Credentialing
                            </legend>
                            @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_InitiateForPlan.cshtml")
                        </fieldset>
                    </div>
                </div>
            </div>
            <div ng-hide="!miss" class="panel-body">
                @Html.Partial("~/Areas/Profile/Views/ProfileDashboard/_SubSectionRender.cshtml")
            </div>
        </div>
    </fieldset>
</div>