@model IEnumerable<PortalTemplate.Areas.Portal.Models.ProviderBridge.BridgeQueue.BridgeQueueViewModel>
@using PortalTemplate.Helper

<style>
    legend.legendStyle {
        font-size: 12px !important;
        background-color: transparent;
        font-weight: bold !important;
    }

    legend {
        display: block;
        width: auto !important;
        margin-bottom: 3px !important;
        border: 0;
    }

    fieldset.fsStyle {
        margin-top: 7px !important;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold !important;
    }
</style>


<table id="bridgeQueueTable" class="table table-striped table-hover table-responsive text-uppercase">
    <thead class="theme_thead custom-thead-back theme1_table custom-thead-font custom-tbody">
        <tr>
            <th class="maxWidthtdSM">
                <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.NPINumber) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">

                    <span></span>

                </span>
            </th>
    
            <th class="maxWidthtdX">
                <label class="singleElemQueue bgFieldsQueue">Name@*@Html.DisplayNameFor(e => e.FirstName)*@  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>
            <th class="maxWidthtdXL">
                <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.ReqBy)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>
        
            <th class="maxWidthtdX">
                <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.Module)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>

            <th class="maxWidthtdX">
                <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.Request) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>
            @*<th class="maxWidthtdX">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.Request) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>*@
            <th class="maxWidthtdXL">
                <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.PhoneNumber) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>
            <th class="maxWidthtdXL">
                <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.ReqDate)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>
            @if (Model.FirstOrDefault().AppDate != null)
            {
                <th class="maxWidthtdXL">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.AppDate)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
            }
            @if (Model.FirstOrDefault().RejDate != null)
            {
                <th class="maxWidthtdXL">
                    <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.RejDate)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>
            }
            <th class="maxWidthtdXL">
                <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.Address) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>
            <th class="maxWidthtdSM">
                <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.City) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>
            <th class="maxWidthtdSM">
                <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(o => o.State)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>
            @*<th class="maxWidthtdSM">
                    <label class="singleElemQueue bgFieldsQueue">STATUS&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                    <span class="styled-input">


                        <span></span>

                    </span>
                </th>*@
            <th class="maxWidthtdSM">
                <label class="singleElemQueue bgFieldsQueue">Action&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                <span class="styled-input">


                    <span></span>

                </span>
            </th>
        </tr>
    </thead>
    <tbody id="bridgeQueueTableBody">
        @foreach (var item in Model)
        {

            <tr class="tab-navigation cursor_pointer">
                <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.NPINumber</label></td>
                <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.FirstName</label></td>
                <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.ReqBy</label></td>
                 <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data">@item.Module</label></td>
                @if (@item.Request.ToLower() == "standard")
                {
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data label-green-color">@item.Request</label></td>
                }
                else
                {
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data red-color">@item.Request</label></td>
                }
                <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data">@item.PhoneNumber </label></td>

                <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.ReqDate</label></td>
                @if (@item.RejDate != null)
                {
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.RejDate</label></td>
                }
                @if (@item.AppDate != null)
                {
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.AppDate</label></td>
                }
                <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.Address</label></td>
                <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.City</label></td>
                <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"> @item.State</label></td>
                @if (@item.AppDate == null && @item.RejDate == null) { 
                <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"><button class="btn btn-xs btn-primary view_note_btn"><i class="fa fa-eye"></i></button></label></td>
                }
                @if (@item.AppDate != null) {
                    if (@item.Request.ToLower() == "standard") { 
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"><button class="btn btn-xs btn-primary view_note_btn"><i class="fa fa-eye" >&nbsp;<b> Profile</b></i></button></label></td>
                    }
                    else { 
                          <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"><button class="btn btn-xs btn-primary view_note_btn"><i class="fa fa-plus" >&nbsp;<b> Profile</b></i></button></label></td>
                   
                    }
                }
                @if (@item.RejDate != null)
                {
                    <td class="maxWidthtdX"><label class="singleElemQueue theme_label_data"><button class="btn btn-xs btn-primary view_note_btn"><i class="fa fa-eye"></i></button></label></td>
              
                }

           </tr>
        }
    </tbody>
</table>
