<p-link filepath="~/Areas/UM/Styles/ViewAuth/ViewAuth.css"></p-link>

@*<link href="~/Content/AppCss/ViewAuth/ViewAuthFixedBottom.css" rel="stylesheet" />*@
<p-link filepath="~/Areas/UM/Styles/ViewAuth/Footer.css"></p-link>


<div class="clearfix"></div>
<div class="col-lg-12 zero-padding-left-right">
    <div class="col-lg-12 zero-padding-left-right">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">__</span>Authorization Summary<span style="color:transparent">__</span></span>
            </legend>
            <table class="table margin_bottom_zero table-white zero-padding-left-right alignLeftTable noBorderTable boldBody zeroPaddingBottomTh  width_99 table-nowrap custom-thead-back custom-thead-font custom-tbody">
                <thead class="text-uppercase">
                    <tr>
                        <th class="theme_label" style="width: 9%;">EXP DOS</th>
                        <th class="theme_label" style="width: 9%;">EXP DC</th>
                        <th class="theme_label" style="width: 9%;">From</th>
                        <th class="theme_label" style="width: 9%;">To</th>
                        <th class="theme_label" style="width: 15%;">ATT PROVIDER</th>
                        <th class="theme_label" style="width: 11%;">Facility Name</th>
                        <th class="theme_label" style="width: 9%;">Primary Dx</th>
                        <th class="theme_label" style="width: 11%;">Dx Desc</th>
                        <th class="theme_label" style="width: 4%;">Pos</th>
                        <th class="theme_label" style="width: 9%;">Proc Code</th>
                        <th class="theme_label" style="width: 10%;">Proc Desc</th>
                        <th class="theme_label" style="width: 8%;">Toc</th>
                        <th class="theme_label" style="width: 8%;">AUTH TYPE</th>
                        <th class="theme_label" style="width: 8%;">Status</th>
                        <th class="theme_label" style="width: 8%;">OP TYPE</th>
                        <th class="theme_label" style="width: 8%;">APP LOS</th>
                        <th class="theme_label" style="width: 9%;">TOS</th>
                    </tr>
                </thead>
                <tbody class="text-uppercase">
                    <tr>
                        <td class="theme_label_data">07/04/2016</td>
                        <td class="theme_label_data">07/04/2016</td>
                        <td class="theme_label_data">07/07/2016</td>
                        <td class="theme_label_data">07/04/2016</td>
                        <td class="theme_label_data">DR. PARIKSITH SINGH</td>
                        <td class="theme_label_data">Regional medical center</td>
                        <td class="theme_label_data">Mio.229</td>
                        <td class="theme_label_data">Drug-induced medicine</td>
                        <td class="theme_label_data">22</td>
                        <td class="theme_label_data">0419T</td>
                        <td class="theme_label_data">Ureterostomy closure</td>
                        <td class="theme_label_data">ELECTIVE</td>
                        <td class="theme_label_data">CI</td>
                        <td class="theme_label_data">PEND-PAC</td>
                        <td class="theme_label_data">OP PROCEDURE</td>
                        <td class="theme_label_data">-</td>
                        <td class="theme_label_data">-</td>
                    </tr>

                </tbody>
            </table>
            @*<div class="row collapse in" id="demo">
                    <div class="col-md-2">
                        <label for="activity_from_date" class="labelStyle">Activity From Date:</label>
                    </div>
                    <div class="col-md-4">
                        <input name="fromDate" maxlength="10" size="11" tabindex="59" value="" onblur="javascript:DateFormat(this,event,true);" class="textInput" id="activity_from_date" type="text">
                    </div>
                </div>*@
        </fieldset>

        </div>
    </div>
        @*<fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="theme_depend text-uppercase">Actual Length of Stay-IP&nbsp; <span class="lengthofstaybadge">2</span></span>
                </legend>
                <table class="table margin_bottom_zero table-white zero-padding-left-right alignLeftTable noBorderTable boldBody zeroPaddingBottomTh  width_99 table-nowrap custom-thead-back custom-thead-font custom-tbody">
                    <thead class="text-uppercase theme_label">
                        <tr>
                            <th style="width: 4%;">No</th>
                            <th style="width: 7%;">Req Los</th>
                            <th style="width: 7%;">App Los</th>
                            <th style="width: 10%;">Exp Dos/Doa</th>
                            <th style="width: 8%;">Exp dc</th>
                            <th style="width: 10%;">Next Review</th>
                            <th style="width: 9%;">Auth From</th>
                            <th style="width: 8%;">Auth To</th>
                            <th style=" width: 8%;">Dx Desc</th>
                            <th style="width: 8%;">Denied</th>
                            <th style="width: 9%;">Denied Dates</th>
                            <th style="width: 9%;">Room Type</th>
                            <th style="width: 9%;">Auth Type</th>
                            <th style="width: 10%;">Review Type</th>
                            <th style="width: 6%;">Status</th>
                            <th style="width: 6%;text-align:right">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-uppercase theme_label_data">
                        <tr>
                            <td>1</td>
                            <td>3</td>
                            <td>2</td>
                            <td>07/04/2016</td>
                            <td>07/07/2016</td>
                            <td>07/04/2016</td>
                            <td>07/04/2016</td>
                            <td>07/07/2016</td>
                            <td>Drug Induced</td>
                            <td>1</td>
                            <td>07/05/2016</td>
                            <td>med</td>
                            <td>CI</td>
                            <td>Admission</td>
                            <td>Pend-nurse</td>
                            <td><input type="submit" value="EDIT" class="btn btn-xs btn-primary" /></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>3</td>
                            <td>2</td>
                            <td>07/04/2016</td>
                            <td>07/07/2016</td>
                            <td>07/04/2016</td>
                            <td>07/04/2016</td>
                            <td>07/07/2016</td>
                            <td>Drug Induced</td>
                            <td>1</td>
                            <td>07/05/2016</td>
                            <td>med</td>
                            <td>CI</td>
                            <td>Admission</td>
                            <td>Pend-nurse</td>
                            <td><input type="submit" value="EDIT" class="btn btn-xs btn-primary" /></td>
                        </tr>
                    </tbody>
                </table>

            </fieldset>*@


        <div class="col-lg-12 zero-padding-left-right">
            <!-- SCROLL BUTTONS -->
            <div class="x_content" id="ViewAuthorizations">
                <div class="width_13_percent memberProfileTabsContainer">
                    <ul class="tabs-menu">
                        <li class="tab-item current" id="Summary">
                            <a data-partial="~/Areas/UM/Views/ViewAuth/Summary/PACSummary/_POS_22_Summary.cshtml" class="list-item no_underline list-item-tab-1">
                                @*<i class="fa fa-user-md"></i>*@ SUMMARY
                            </a>
                        </li>
                        <li class="tab-item current" id="Review">
                            <a data-partial="~/Areas/UM/Views/ViewAuth/Review/PAC/_Review.cshtml" class="list-item no_underline list-item-tab-1">
                                @*<i class="fa fa-user-md"></i>*@  REVIEW
                            </a>
                        </li>
                        <li class="tab-item" id="Notes">
                            <a data-partial="~/Areas/UM/Views/ViewAuth/Notes/_Notes.cshtml" class="list-item no_underline list-item-tab-2">
                                @*<i class="fa fa-sticky-note-o"></i>*@  NOTES
                            </a>
                        </li>
                        <li class="tab-item" id="Contact">
                            <a data-partial="~/Areas/UM/Views/ViewAuth/Contacts/_Contacts.cshtml" class="list-item no_underline list-item-tab-3">
                                @*<i class="fa fa-phone-square"></i>*@  CONTACTS
                            </a>
                        </li>
                        <li class="tab-item" id="Attachments">
                            <a data-partial="~/Areas/UM/Views/ViewAuth/Attachments/_Attachments.cshtml" class="list-item no_underline list-item-tab-4">
                                @*<i class="fa fa-paperclip"></i>*@  ATTACHMENTS
                            </a>
                        </li>
                        <li class="tab-item" id="Letters">
                            <a data-partial="~/Areas/UM/Views/ViewAuth/Letters/_Letters.cshtml" class="list-item no_underline list-item-tab-5">
                                @*<i class="fa fa-file-text-o"></i>*@ LETTERS
                            </a>
                        </li>
                        <li class="tab-item" id="ODAG">
                            <a data-partial="~/Areas/UM/Views/ViewAuth/ODAG/_ODAG.cshtml" class="list-item no_underline list-item-tab-6">
                                @*<i class="fa fa-check-square-o"></i>*@ ODAG
                            </a>
                        </li>
                        <li class="tab-item" id="Status">
                            <a data-partial="~/Areas/UM/Views/ViewAuth/Status/PAC/_Status.cshtml" class="list-item no_underline list-item-tab-7">
                                @*<i class="fa fa-map-marker"></i>*@ STATUS
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab memberTabsPadding">
                    <div id="ViewAuthorizationTabView" class="col-lg-12 zero-padding-left-right">

                    </div>
                </div>
            </div>
        </div>








        @*<svg height="0" width="0" style="position: absolute; margin-left: -100%; border:1px thin grey;">

                <defs>

                    <filter id='shadow'>
                        <feComponentTransfer in="SourceGraphic">
                            <feFuncR type="discrete" tableValues="0" />
                            <feFuncG type="discrete" tableValues="0" />
                            <feFuncB type="discrete" tableValues="0" />
                        </feComponentTransfer>
                        <feGaussianBlur stdDeviation="1" />
                        <feComponentTransfer><feFuncA type="linear" slope="0.2" /></feComponentTransfer>
                        <feOffset dx="5" dy="1" result="shadow" />
                        <feComposite in="SourceGraphic" />
                    </filter>

                    <linearGradient id="active-bg" x1="0%" y1="0%" x2="100%" y2="100%">
                        <stop stop-color="#89ade6" offset="0" />
                        <stop stop-color="#4468a2" offset="0.32" />
                        <stop stop-color="#4568a1" offset="0.70" />
                    </linearGradient>

                    <linearGradient id="passive-bg" x1="0%" y1="0%" x2="0%" y2="65%">
                        <stop offset="0%" style="stop-color:white;" />
                        <stop offset="100%" style="stop-color: white; " />
                    </linearGradient>

                </defs>

                <path id="tab-shape" class="tab-shape" d="M116.486,29.036c-23.582-8-14.821-29-42.018-29h-62.4C5.441,0.036,0,5.376,0,12.003v28.033h122v-11H116.486z" stroke="grey" stroke-width="1px">

            </svg>*@


        @*View Auth Tabs*@
        @*<div class="x_panel ">
            <div class="x_content">
                <div class="viewAuthTabsContainer main-navigation tabs-menu">*@
        @*<ul>
                <li class="tab-item current">
                    <a data-tab-target="#tab-1" class="list-item no_underline" id="SummaryTab">
                        <i class="fa fa-list-ul"></i>  Summary
                    </a>
                    <svg viewBox="0 0 122 40">
                        <use xlink:href="#tab-shape"></use>
                    </svg>
                </li>
                <li>
                    <a data-tab-target="#tab-2" class="list-item no_underline" id="ReviewTab">
                        <i class="fa fa-comment-o"></i>  Review
                    </a>
                    <svg viewBox="0 0 122 40">
                        <use xlink:href="#tab-shape"></use>
                    </svg>
                </li>
                <li>
                    <a data-tab-target="#tab-3" class="list-item no_underline" id="NotesTab">
                        <i class="fa fa-sticky-note-o"></i>  Notes
                    </a>
                    <svg viewBox="0 0 122 40">
                        <use xlink:href="#tab-shape"></use>
                    </svg>
                </li>
                <li>
                    <a data-tab-target="#tab-4" class="list-item no_underline" id="ContactsTab">
                        <i class="fa fa-phone-square"></i>  Contacts
                    </a>
                    <svg viewBox="0 0 122 40">
                        <use xlink:href="#tab-shape"></use>
                    </svg>
                </li>
                <li>
                    <a data-tab-target="#tab-5" class="list-item no_underline" id="AttachmentsTab">
                        <i class="fa fa-paperclip"></i> Attachments
                    </a>
                    <svg viewBox="0 0 122 40">
                        <use xlink:href="#tab-shape"></use>
                    </svg>
                </li>
                <li>
                    <a data-tab-target="#tab-6" class="list-item no_underline" id="LettersTab">
                        <i class="fa fa-envelope-o"></i> Letters
                    </a>
                    <svg viewBox="0 0 122 40">
                        <use xlink:href="#tab-shape"></use>
                    </svg>
                </li>
                <li>
                    <a data-tab-target="#tab-7" class="list-item no_underline" id="ODAGTab">
                        <i class="fa fa-check-square-o"></i> ODAG
                    </a>
                    <svg viewBox="0 0 122 40">
                        <use xlink:href="#tab-shape"></use>
                    </svg>
                </li>
                <li>
                    <a data-tab-target="#tab-8" class="list-item no_underline" id="StatusTab">
                        <i class="fa fa-flag-o"></i> Status
                    </a>
                    <svg viewBox="0 0 122 40">
                        <use xlink:href="#tab-shape"></use>
                    </svg>
                </li>

            </ul>*@
        @*<ul class="tabs-menu">
                    <li class="tab-item current app_menu_tabs">
                        <a data-tab-target="#tab-1" class="list-item no_underline" id="SummaryTab">
                            <i class="fa fa-list-ul"></i>  Summary
                        </a>
                    </li>
                    <li class="app_menu_tabs">
                        <a data-tab-target="#tab-2" class="list-item no_underline" id="ReviewTab">
                            <i class="fa fa-comment-o"></i>  Review
                        </a>
                    </li>
                    <li class="app_menu_tabs">
                        <a data-tab-target="#tab-3" class="list-item no_underline" id="NotesTab">
                            <i class="fa fa-sticky-note-o"></i>  Notes
                        </a>
                    </li>
                    <li class="app_menu_tabs">
                        <a data-tab-target="#tab-4" class="list-item no_underline" id="ContactsTab">
                            <i class="fa fa-phone-square"></i>  Contacts
                        </a>
                    </li>
                    <li class="app_menu_tabs">
                        <a data-tab-target="#tab-5" class="list-item no_underline" id="AttachmentsTab">
                            <i class="fa fa-paperclip"></i> Attachments
                        </a>
                    </li>
                    <li class="app_menu_tabs">
                        <a data-tab-target="#tab-6" class="list-item no_underline" id="LettersTab">
                            <i class="fa fa-envelope-o"></i> Letters
                        </a>
                    </li>
                    <li class="app_menu_tabs">
                        <a data-tab-target="#tab-7" class="list-item no_underline" id="ODAGTab">
                            <i class="fa fa-check-square-o"></i> ODAG
                        </a>
                    </li>
                    <li class="app_menu_tabs">
                        <a data-tab-target="#tab-8" class="list-item no_underline" id="StatusTab">
                            <i class="fa fa-flag-o"></i> Status
                        </a>
                    </li>
                </ul>
            </div>*@
        <div class="tab">
            <div id="tab-1" class="customtab-content">
                @*@Html.Partial("~/Areas/UM/Views/ViewAuth/Summary/_Summary.cshtml")*@
            </div>

            <div id="tab-2" class="customtab-content">
                @*@Html.Partial("~/Views/ViewAuth/_AuthReview.cshtml")*@
            </div>

            <div id="tab-3" class="customtab-content">
                @*@Html.Partial("~/Views/ViewAuth/_AuthNotes.cshtml")*@
            </div>

            <div id="tab-4" class="customtab-content">
                @*  @Html.Partial("~/Views/ViewAuth/_AuthContacts.cshtml")*@
            </div>

            <div id="tab-5" class="customtab-content">
                @*  @Html.Partial("~/Views/ViewAuth/_AuthAttachments.cshtml")*@
            </div>

            <div id="tab-6" class="customtab-content">
                @*  @Html.Partial("~/Views/ViewAuth/_AuthLetters.cshtml")*@
            </div>

            <div id="tab-7" class="customtab-content">
                @*@Html.Partial("~/Views/ViewAuth/_AuthODAG.cshtml")*@
            </div>

            <div id="tab-8" class="customtab-content">
                @*  @Html.Partial("~/Views/ViewAuth/_AuthStatus.cshtml")*@
            </div>
        </div>

        @*</div>
            </div>*@
        @*Fixed Bottom Section*@
        <div class="x_panel" style="left:5px">
            <div class="x_content">
                @Html.Partial("~/Areas/UM/Views/ViewAuth/Footer/_Footer.cshtml")
            </div>
        </div>

        @*<script src="~/Scripts/AppScripts/ViewAuth/ViewAuth.js"></script>*@
<p-script filepath="~/Areas/UM/Scripts/ViewAuth/Common/ViewAuth.js"></p-script>

<p-script filepath="~/Areas/UM/Scripts/ViewAuthName/PAC.js"></p-script>

