@model PortalTemplate.Areas.Coding.Models.CodingList.DeactivateEncounter

<div class="modal-header bg-primary">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <i class="fa fa-close"></i>
        <label class="modalHeader-fontsize"> Are You sure to Deactivate an Encounter ?</label>
        <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <fieldset class="fieldsetStyle">
                <legend class="legendstyle">Member</legend>
                <div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @Html.LabelFor(m => m.MemberID, new { @class = "font-normal" })
                        <div><label>@Model.MemberID</label></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @Html.LabelFor(m => m.MemberFirstName, new { @class = "font-normal" })
                        <div><label>@Model.MemberLastName</label></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @Html.LabelFor(m => m.MemberLastName, new { @class = "font-normal" })
                        <div><label>@Model.MemberLastName</label></div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.LabelFor(m => m.Gender, new { @class = "font-normal" })
                        <div><label>@Model.Gender</label></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @Html.LabelFor(m => m.DOB, new { @class = "font-normal" })
                        <div><label>@Html.DisplayFor(m => m.DOB)</label></div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        @Html.LabelFor(m => m.Address, new { @class = "font-normal" })
                        <div><label>@Model.Address</label></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        @Html.LabelFor(m => m.PlanName, new { @class = "font-normal" })
                        <div><label>@Model.PlanName</label></div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                @Html.LabelFor(m => m.PreviousStatus, new { @class = "font-normal" })
                <div>
                    <label id="statusid">@Model.PreviousStatus</label>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                Reason
                @Html.LabelFor(m => m.DeactiveReason, new { @class = "font-normal" })
                <div>@Html.TextAreaFor(m => m.DeactiveReason, new { @class = "form-control input-xs non_mandatory_field_halo Deactivatereason", @placeholder = "Write Reason" }) </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary pull-right" data-dismiss="modal" onclick="DeactivateCurrentRecord(@Model.EncounterID)">Yes</button>
    <button type="button" class="btn btn-sm btn-warning pull-left" data-dismiss="modal">No</button>
</div>
