@model PortalTemplate.Areas.Coding.Models.CodingList.CodingListCountsViewModel

<p-link filepath="~/Areas/Coding/Contents/CSS/AppCss/CodingList/NonMinified/CodingList.css" rel="stylesheet"></p-link>
<div class="CodingListContainter">
    <div class="inner_menu_container padding_left_right_12px">
        <ul class="tabs-menu clearfix">
            <li class="current">
                <a href="#Open" class="list-item no_underline" data-target-url="/Coding/Coding/GetOpenCodingList">
                    <span class="charge badge Opentab-badge-color">@Model.OpenEncountersCount</span> Open
                </a>
            </li>
            <li class="">
                <a href="#Draft" class="list-item no_underline" data-target-url="/Coding/Coding/GetDraftCodingList">
                    <span class="charge badge Drafttab-badge-color">@Model.DraftEncountersCount</span> Draft
                </a>
            </li>
            @*<li class="">
                <a href="#OnHold" class="list-item no_underline" data-target-url="/Coding/Coding/GetOnHoldCodingList">
                    <span class="charge badge OnHoldtab-badge-color">@Model.OnHoldEncountersCount</span> On-Hold
                </a>
            </li>*@
            <li>
                <a href="#ReadytoAudit" class="list-item no_underline" data-target-url="/Coding/Coding/GetRACodingList">
                    <span class="charge badge ReadytoAudittab-badge-color">@Model.ReadytoAuditEncountersCount</span> Closed
                </a>
            </li>
            <li>
                <a href="#Rejected" class="list-item no_underline" data-target-url="/Coding/Coding/GetRejectedCodingList">
                    <span class="charge badge Rejectedtab-badge-color">@Model.RejectedEncountersCount</span> Rejected
                </a>
            </li>
            <li>
                <a href="#Inactive" class="list-item no_underline" data-target-url="/Coding/Coding/GetInactiveCodingList">
                    <span class="charge badge Inactivetab-badge-color">@Model.InactiveEncountersCount</span> Inactive
                </a>
            </li>
        </ul>
    </div>
    <div class="tab memberTabsPadding CodingTabContentContainer padding_left_right_12px">

        <div id="Open" class="custommembertab-content">

        </div>
        <div id="Draft" class="custommembertab-content">

        </div>
        <div id="OnHold" class="custommembertab-content">

        </div>
        <div id="ReadytoAudit" class="custommembertab-content">

        </div>
        <div id="Rejected" class="custommembertab-content">

        </div>
        <div id="Inactive" class="custommembertab-content">

        </div>
    </div>
</div>

@*******************CONFIRMATION MODAL TO DLETE THE RECORDS FROM CODING LIST**************************@
<div class="modal fade" tabindex="-1" role="dialog" id="DeleteCodingListData">
    <div class="modal-dialog modal-md modal-width-66">
        <form class="modal-content" id="DeactivateForm"></form>
    </div>
</div>
@*******************CONFIRMATION MODAL TO DLETE THE RECORDS FROM CODING LIST*************************@

<p-script filepath="~/Areas/Coding/Scripts/AppJs/CodingList/NonMinified/CodingList.js"></p-script>