@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel

<script>
    var MasterPlainLanguages = @ViewBag.MasterPlainLanguages
</script>

<p-script filepath="~/Areas/UM/Scripts/Authorization/ICDCPTCommom/NonMinified/PlainLanguage.js"></p-script>
<div class="plainlangModalContainer" id="plainlangContainer">
    <div style="height:550px">
        <div class="plain-language-content col-lg-11">
            <div class="ToEditlist-of-plain-languages col-lg-6">
                <label>Selected Plain Languages</label>
                <div class="edit-selected-plain-languages">
                    <form id="CPTCodes">
                        <div style="overflow-x: hidden; overflow-y: scroll; height: 350px">
                            <ul class="list-group editplainlangselected">
                               
                                     @foreach (var item in Model.CPTCodes)
                                     {
                                         if (@item.PlainLang != "" && @item.PlainLang != null)
                                         {
                                              <li class="col-lg-12 list-group-item padding-top-5">
                                        <div class="plainLang wrap-words">
                                            @*@if (Model.PlaceOfService == "12- PATIENT HOME" || Model.PlaceOfService == "62- CORF")
                                            {*@
                                                  @item.PlainLang
                                            @*}*@
                                            @*else
                                            {
                                                 @item.CPTDesc
                                            }*@
                                        </div>
                                        <div class="pull-right">
                                            <a class="btn btn-primary btn-xs pull-right editPlainLangBtn"><i class="fa fa-pancil-square-o"></i>Edit</a>
                                        </div>
                                    </li>
                                         }
                                         else
                                         {
                                             <li class="col-lg-12 list-group-item padding-top-5 hidden">
                                        <div class="plainLang wrap-words">
                                            @*@if (Model.PlaceOfService == "12- PATIENT HOME" || Model.PlaceOfService == "62- CORF")
                                            {*@
                                                  @item.PlainLang
                                            @*}*@
                                            @*else
                                            {
                                                 @item.CPTDesc
                                            }*@
                                        </div>
                                        <div class="pull-right">
                                            <a class="btn btn-primary btn-xs pull-right editPlainLangBtn"><i class="fa fa-pancil-square-o"></i>Edit</a>
                                        </div>
                                    </li>
                                         }
                                   
                                } 
                                
                              
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="list-of-plain-languages col-lg-6 plnotvisible">
                <label>List of Plain Languages</label>
                <div>
                    <div>
                        <input type="text" id="plainLanguageFilter" name="standard" class="form-control input-xs plainlangdropdown" />
                    </div>
                    <div class="clearfix"></div><br />
                    <div style="overflow-x: hidden; overflow-y: scroll; height: 350px">
                        <ul id="plainlanglist" class="list-group"></ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br /><br />
        </div>
    </div>

    <div class="col-lg-12 closeAndPreviewBtns">
        <div class="col-lg-6">
            <input type="submit" value="CLOSE" class="btn btn-danger pull-left closePlainLangBtn">
        </div>
        <div class="col-lg-6">
            @*<button type="submit" value="PREVIEW LETTER" style="width:85px" class="copy-button pull-right cptPreviewLetterBtn" onclick="cptPreviewLetterBtn()">PREVIEW LETTER</button>*@
            <button type="submit" value="PREVIEW LETTER" @*style="width: 130px;height: 37px;"*@ class="btn  btn-primary pull-left SaveBtncptPreviewLetterBtn" onclick="cptPreviewLetterBtn()">PREVIEW LETTER</button>
        </div>
   </div>

    @*<p-script filepath="~/Scripts/AppScripts/Modal/PlainLanguageModal.js"></p-script>*@

</div>



