<!--Primary Info-->
<div class="form-group">
    <fieldset>
        <legend>
            General Information
        </legend>
        <div class="col-md-12">
            <label class=" col-md-12 control-label small">Type *</label>
            <div class=" col-md-12 radio">
                <label class="radio-inline">
                    <input type="radio" name="current" value="Primary" data-ng-model="primaryPracticeLocations.Type"> Primary
                </label>
                <label class="radio-inline">
                    <input type="radio" name="current" value="Secondary" data-ng-model="primaryPracticeLocations.Type"> Secondary
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label class="control-label small">Currently Practicing At This Address? *</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="current" value="Yes" data-ng-model="primaryPracticeLocations.CurrentlyPracticing"> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="current" value="No" data-ng-model="primaryPracticeLocations.CurrentlyPracticing"> No
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4" ng-show="primaryPracticeLocations.CurrentlyPracticing=='No'">
                <label class="control-label small">What Is Your Expected Start Date?</label>
                <div>
                    <input type="date" class="form-control input-sm" data-ng-model="primaryPracticeLocations.ExpectedStartDate" required />
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">Corporate or Practice Name</label>
                <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.PracticeName" />
            </div>
        </div>
        <div class="col-md-12">

            <div class="form-group col-md-4">
                <label for="MobileNo" class="control-label small">Telephone *</label>
                <div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default"><span class="caret"></span></button>
                        </div>
                        <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Select Country Dial Code</h3>
                            <div class="popover-content">
                                <select id="ContactContryCode">
                                    <option>+91</option>
                                </select>
                            </div>
                        </div>
                        <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Phone Number" data-ng-model="primaryPracticeLocations.Telephone" required>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="MobileNo" class="control-label small">Fax</label>
                <div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default"><span class="caret"></span></button>
                        </div>
                        <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Select Country Dial Code</h3>
                            <div class="popover-content">
                                <select id="ContactContryCode">
                                    <option>+91</option>
                                </select>
                            </div>
                        </div>
                        <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Fax Number" data-ng-model="primaryPracticeLocations.Fax" required>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">Office e-mail address</label>
                <div>
                    <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.EmailId" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label small">Number *</label>
                <div>
                    <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Number" required />
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">Street *</label>
                <div>
                    <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Street" required />
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">Suite/Building</label>
                <div>
                    <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Suite" required />
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">County </label>
                <div>
                    <select class="form-control input-sm" data-ng-model="primaryPracticeLocations.County">
                        <option>County1</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label small">Country *</label>
                <div>
                    <select id="state" name="" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Country" required>
                        <option>US</option>
                        <option>India</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">State *</label>
                <div>
                    <select id="state" name="" class="form-control input-sm" data-ng-model="primaryPracticeLocations.State" required>
                        <option>State1</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">City *</label>
                <div>
                    <select id="city" name="" class="form-control input-sm" data-ng-model="primaryPracticeLocations.City" required>
                        <option>City1</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">ZIP Code *</label>
                <div>
                    <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.ZIP" required />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label class="control-label small">Send general correspondence here? *</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="current" value="Yes" data-ng-model="primaryPracticeLocations.GeneralCorrespondence"> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="current" value="No" data-ng-model="primaryPracticeLocations.GeneralCorrespondence"> No
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">Individual Tax ID</label>
                <div>
                    <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.IndividualTaxID" />
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">Group Tax ID</label>
                <div>
                    <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.GroupTaxID" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group col-md-6">
                <label class="control-label small">Primary Tax ID(one only) *</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="tax" value="Use individual tax ID" data-ng-model="primaryPracticeLocations.Primary"> Use individual tax ID
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="tax" value="Use group tax ID" data-ng-model="primaryPracticeLocations.Primary"> Use group tax ID
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="col-md-12">
            <div class="col-md-12 form-group">
                <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="updatePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
            </div>
        </div>
    </fieldset>
</div>

<!--Office manager-->
<div class="form-style">
    <fieldset>
        <legend>
            Office manager/Business Office Staff Contact
        </legend>
        <div class="col-lg-12">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="control-label small">Re-use information from another practice location </label>
                    <select class="form-control input-sm" data-ng-model="primaryPracticeLocations.OfficeStaffContact.PracticeLocation">
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <div class="col-lg-4 form-group">
                    <label class="control-label small">First Name *</label>
                    <input type="text" class="form-control input-sm" id="firstname" placeholder="first name" data-ng-model="primaryPracticeLocations.OfficeStaffContact.First">
                </div>
                <div class="col-lg-4 form-group">
                    <label class="control-label small">Middle Name</label>
                    <input type="text" class="form-control input-sm" id="secondname" placeholder="middle name" data-ng-model="primaryPracticeLocations.OfficeStaffContact.Middle">
                </div>
                <div class="col-lg-4 form-group">
                    <label class="control-label small">Last Name *</label>
                    <input type="text" class="form-control input-sm" id="thirdname" placeholder="last name" data-ng-model="primaryPracticeLocations.OfficeStaffContact.Last">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <label for="MobileNo" class="control-label small">Telephone *</label>
                    <div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-sm  btn-default"><span class="caret"></span></button>
                            </div>
                            <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Select Country Dial Code</h3>
                                <div class="popover-content">
                                    <select id="ContactContryCode">
                                        <option>+91</option>
                                    </select>
                                </div>
                            </div>
                            <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Telephone Number" data-ng-model="primaryPracticeLocations.OfficeStaffContact.Telephone" required>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="MobileNo" class="control-label small">Fax</label>
                    <div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-sm  btn-default"><span class="caret"></span></button>
                            </div>
                            <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Select Country Dial Code</h3>
                                <div class="popover-content">
                                    <select id="ContactContryCode">
                                        <option>+91</option>
                                    </select>
                                </div>
                            </div>
                            <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Fax Number" data-ng-model="primaryPracticeLocations.OfficeStaffContact.Fax" required>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 form-group">
                    <label class="control-label small">E-Mail Address</label>
                    <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.OfficeStaffContact.MailAddress" />
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12 form-group">
                    <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                    <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                    <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="savePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                    <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="updatePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<!--Office Hours-->
<div class="form-style">
    <fieldset>
        <legend>
            Office Hours
        </legend>
        <div id="practice13" class="panel-body">

            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label small ">Re-use information from another practice location </label>
                        <select class="form-control input-sm ">
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <div class="col-md-2 form-group">
                        <label class="control-label small">Day</label>
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-4 form-group">
                            <label class="control-label small">Start Time</label>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label small">End Time</label>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label small">Actions</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2 form-group">
                        <label class="control-label small">Monday</label>
                    </div>
                    <div class="col-md-10">
                        <div ng-repeat="t in Days[0].Times" class="col-md-12 zero-padding-left-right-div">
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="08:00" />
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="17:00" />
                            </div>
                            <div class="col-md-4 form-group">
                                <button class="btn btn-xs btn-success" ng-click="addTime(Days[0].Day)">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="removeTime(Days[0].Day, $index)">  <i class="fa fa-minus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-2 form-group">
                        <label class="control-label small">Tuesday</label>
                    </div>
                    <div class="col-md-10">
                        <div ng-repeat="t in Days[1].Times" class="col-md-12 zero-padding-left-right-div">
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="08:00" />
                            </div>

                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="17:00" />
                            </div>

                            <div class="col-md-4 form-group">
                                <button class="btn btn-xs btn-success" ng-click="addTime(Days[1].Day)">
                                    <i class="fa fa-plus-circle"></i>{{t.Day}}
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="removeTime(Days[1].Day, $index)">  <i class="fa fa-minus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="col-lg-2 form-group">
                        <label class="control-label small">Wednesday</label>
                    </div>
                    <div class="col-md-10">
                        <div ng-repeat="t in Days[2].Times" class="col-md-12 zero-padding-left-right-div">
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="08:00" />
                            </div>

                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="17:00" />
                            </div>

                            <div class="col-md-4 form-group">
                                <button class="btn btn-xs btn-success" ng-click="addTime(Days[2].Day)">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="removeTime(Days[2].Day, $index)">  <i class="fa fa-minus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="col-md-2 form-group">
                        <label class="control-label small">Thrusday</label>
                    </div>
                    <div class="col-md-10">
                        <div ng-repeat="t in Days[3].Times" class="col-md-12 zero-padding-left-right-div">
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="08:00" />
                            </div>

                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="17:00" />
                            </div>

                            <div class="col-md-4 form-group">
                                <button class="btn btn-xs btn-success" ng-click="addTime(Days[3].Day)">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="removeTime(Days[3].Day, $index)">  <i class="fa fa-minus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="col-md-2 form-group">
                        <label class="control-label small">Friday</label>
                    </div>
                    <div class="col-md-10">
                        <div ng-repeat="t in Days[4].Times" class="col-md-12 zero-padding-left-right-div">
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="08:00" />
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" value="17:00" />
                            </div>
                            <div class="col-md-4 form-group">
                                <button class="btn btn-xs btn-success" ng-click="addTime(Days[4].Day)">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="removeTime(Days[4].Day, $index)">  <i class="fa fa-minus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2 form-group">
                        <label class="control-label small">Saturday</label>
                    </div>
                    <div class="col-md-10">
                        <div ng-repeat="t in Days[5].Times" class="col-md-12 zero-padding-left-right-div">
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" />
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" />
                            </div>
                            <div class="col-md-4 form-group">
                                <button class="btn btn-xs btn-success" ng-click="addTime(Days[5].Day)">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="removeTime(Days[5].Day, $index)">  <i class="fa fa-minus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2 form-group">
                        <label class="control-label small">Sunday</label>
                    </div>
                    <div class="col-md-10">
                        <div ng-repeat="t in Days[6].Times" class="col-md-12 zero-padding-left-right-div">
                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" />
                            </div>

                            <div class="col-md-4 form-group">
                                <input type="time" class="form-control input-sm" />
                            </div>

                            <div class="col-md-4 form-group">
                                <button class="btn btn-xs btn-success" ng-click="addTime(Days[6].Day)">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="removeTime(Days[6].Day, $index)">  <i class="fa fa-minus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Contact" class="col-md-3 control-label small">24/7 Phone Coverage? *</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" ng-click="showCalls()" name="Phone" data-ng-model="answer" value="Yes" checked> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-click="hideCalls()" name="Phone" data-ng-model="answer" value="No"> No
                            </label>
                        </div>
                    </div>
                    <div ng-show="answer=='Yes'">
                        <div class="col-md-9">
                            <div class="checkbox">
                                <label class="checkbox-inline control-label small col-md-3">
                                    <input type="checkbox" name="Contact" checked> Answering Service
                                </label>
                                <label class="checkbox-inline control-label small col-md-3">
                                    <input type="checkbox" name="Contact"> Voice Mail With Instructions To Call Answering Service
                                </label>
                                <label class="checkbox-inline control-label small col-md-3">
                                    <input type="checkbox" name="Contact"> Voice Mail With Other Instructions
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="MobileNo" class="control-label small">After Hours Back Office Telephone</label>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-default"><span class="caret"></span></button>
                                    </div>
                                    <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">Select Country Dial Code</h3>
                                        <div class="popover-content">
                                            <select id="ContactContryCode">
                                                <option>+91</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Phone Number" value="3526669912" required>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-12 form-group">
                        <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                        <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                        <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="savePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                        <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="updatePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</div>

<!--Open Practice Status-->
<div class="form-style">
    <fieldset>
        <legend>
            Open Practice Status
        </legend>
        <div id="practice5" class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label small">Re-use information from another practice location </label>
                        <select class="form-control input-sm" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.PracticeLocation">
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label small">Accept new patients into this practice? *</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="new" value="Yes" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.newpatients"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="new" value="No" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.newpatients"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Accept all new patients? *</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="all" value="Yes" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.AllNewPatients"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="all" value="No" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.AllNewPatients"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Accept existing patients with change of payor? *</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="tax" value="Yes" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.ExistingPatients"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="tax" value="No" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.ExistingPatients"> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">

                    <div class="form-group col-md-4">
                        <label class="control-label small">Accept new medicare patients? *</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="medicare" value="Yes" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Medicare"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="medicare" value="No" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Medicare"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Accept new patients with physician referral? *</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="physician" value="Yes" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.PhysicianReferral"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="physician" value="No" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.PhysicianReferral"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Accept new medicaid patients? *</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="medicaid" value="Yes" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Medicaid"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="medicaid" value="No" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Medicaid"> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label class="control-label small">If any of the above information varies by plan, Explain</label>
                        <textarea class="form-control" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Informationvaries"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label small">Are there any practice limitations? *</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="limitations" value="Yes" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Limitations"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="limitations" value="No" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Limitations"> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label small">Gender Limitations</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="Gender" value="Male only" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Gender"> Male only
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Gender" value="Female only" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Gender"> Female only
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Gender" value="None" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Gender"> None
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small col-md-10">Age limitations</label>
                        <div class="col-sm-3">
                            <label class="control-label small">Minimum</label>
                            <input type="text" class="form-control" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Minimum" />
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label small">Maximum</label>
                            <input type="text" class="form-control" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.Maximum" />
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">List other limitations</label>
                        <textarea class="form-control input-sm" data-ng-model="primaryPracticeLocations.OpenPracticeStatus.OtherLimitations"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="col-md-12 form-group">
                        <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                        <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                        <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="savePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                        <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="updatePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<!--Billing Contact-->
<div class="form-style">
    @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_BillingContact.cshtml")
</div>

<!--Payment and Remittance-->
<div class="form-style">
    @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_Payment.cshtml")
</div>

<!--Language-->
<div class="form-style">
    <fieldset>
        <legend>
            Languages
        </legend>
        <div id="practice7" class="panel-body">
            <div class="panel-body table-bordered">
                <div class="col-md-6">
                    <label class="control-label small ">Re-use information from another practice location </label>
                    <select class="form-control input-sm ">
                        <option></option>
                        <option></option>
                    </select>
                </div>
                @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_LanguagePractiseLocation.cshtml")
                <br />
                <div class="clearfix"></div>
                <br />

            </div>
        </div>
    </fieldset>
</div>

<!--Accessibility-->
<div class="form-style">
    <fieldset>
        <legend>
            Accessibilities
        </legend>
        <div id="practice8" class="panel-body">
            <div class="col-md-12">

                <div class="col-md-6">
                    <label class="control-label small ">Re-use information from another practice location </label>
                    <select class="form-control input-sm " data-ng-model="primaryPracticeLocations.Accessibilities.PracticeLocation">
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-6 ">
                        <label class="control-label small">Does this meet ADA accessibility requirements? *</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="ada" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.ADA"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ada" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.ADA"> No
                            </label>
                        </div>
                        <br />
                    </div>


                </div>
                <br />
                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label small">Does this site offer handicapped access for the following</label>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label small">Building</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="build" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.Building"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="build" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.Building"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label small">Parking</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="park" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.Parking"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="park" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.Parking"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label small">Restroom</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="room" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.Restroom"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="room" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.Restroom"> No
                            </label>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label small">Does this site offer other services for the disabled? *</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="dis" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.OtherServices"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="dis" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.OtherServices"> No
                            </label>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label small">Text telephony(TTY) *</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="tty" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.TTY"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="tty" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.TTY"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label small">American sign language *</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="sign" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.SingLanguage"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sign" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.SingLanguage"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label small">Mental/Physical impairment services *</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="mental" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.Impairment"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="mental" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.Impairment"> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label small">Accessible by public transportation? *</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="acc" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.Transportation"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="acc" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.Transportation"> No
                            </label>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label small">Bus *</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="bus" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.Bus"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="bus" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.Bus"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label small">Subway *</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="way" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.Subway"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="way" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.Subway"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label small">Regional train *</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="train" value="Yes" data-ng-model="primaryPracticeLocations.Accessibilities.Train"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="train" value="No" data-ng-model="primaryPracticeLocations.Accessibilities.Train"> No
                            </label>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label small">Other Handicapped Access</label>
                        <div>
                            <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Accessibilities.OtherHandicapped" required />
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label small">Other Disability Services</label>
                        <div>
                            <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Accessibilities.OtherDisability" required />
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Other transportation access</label>
                        <div>
                            <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Accessibilities.OtherTransportation" required />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="col-md-12 form-group">
                        <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                        <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                        <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="savePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                        <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="updatePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</div>

<!--services-->
<div class="form-style">
    <fieldset>
        <legend>
            Services
        </legend>
        <div id="practice9" class="panel-body">
            <div class="col-md-12">

                <div class="col-md-6">
                    <label class="control-label small ">Re-use information from another practice location </label>
                    <select class="form-control input-sm " data-ng-model="primaryPracticeLocations.Services.PracticeLocation">
                        <option></option>
                        <option></option>
                    </select>
                </div>

            </div>
            <div class="clearfix"></div>
            <br />
            <div class="form-group">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label for="Contact" class="control-label">Does this location provide any of the following services?</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label small">Laboratory Services?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" ng-click="showProgram()" name="lab" value="Yes" data-ng-model="primaryPracticeLocations.Services.LaboratoryServices"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-click="hideProgram()" name="lab" value="No" data-ng-model="primaryPracticeLocations.Services.LaboratoryServices"> No
                            </label>
                        </div>
                    </div>
                    <div ng-show="program" class="form-group col-md-3">
                        <label class="control-label small">Provide Accrediting/Certifying Program</label>
                        <div>
                            <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Services.Accrediting" required />
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label small">Radiology Services?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" ng-click="showXray()" name="rad" value="Yes" data-ng-model="primaryPracticeLocations.Services.RadiologyServices"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-click="hideXray()" name="rad" value="No" data-ng-model="primaryPracticeLocations.Services.RadiologyServices"> No
                            </label>
                        </div>
                    </div>
                    <div ng-show="xray" class="form-group col-md-3">
                        <label class="control-label small">Provide X-Ray certificate type</label>
                        <div>
                            <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Services.XRay" required />
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label small">EKGS?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="ekgs" value="Yes" data-ng-model="primaryPracticeLocations.Services.EKGS"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ekgs" value="No" data-ng-model="primaryPracticeLocations.Services.EKGS"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Allergy Injection?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="all" value="Yes" data-ng-model="primaryPracticeLocations.Services.AllergyInjection"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="all" value="No" data-ng-model="primaryPracticeLocations.Services.AllergyInjection"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Allergy Skin Testing?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="skin" value="Yes" data-ng-model="primaryPracticeLocations.Services.SkinTesting"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="skin" value="No" data-ng-model="primaryPracticeLocations.Services.SkinTesting"> No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label small">Routing Office Gynecology(Pelvi/Pap)?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="route" value="Yes" data-ng-model="primaryPracticeLocations.Services.Gynecology"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="route" value="No" data-ng-model="primaryPracticeLocations.Services.Gynecology"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Drawing Blood?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="draw" value="Yes" data-ng-model="primaryPracticeLocations.Services.Blood"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="draw" value="No" data-ng-model="primaryPracticeLocations.Services.Blood"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Age Appropriate Immunization?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="age" value="Yes" data-ng-model="primaryPracticeLocations.Services.Immunization"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="age" value="No" data-ng-model="primaryPracticeLocations.Services.Immunization"> No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label small">Flexible Sigmoidoscopy?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="flex" value="Yes" data-ng-model="primaryPracticeLocations.Services.Sigmoidoscopy"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="flex" value="No" data-ng-model="primaryPracticeLocations.Services.Sigmoidoscopy"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Tympanometry/Audiometry Screening?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="tymp" value="Yes" data-ng-model="primaryPracticeLocations.Services.Tympanometry"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="tymp" value="No" data-ng-model="primaryPracticeLocations.Services.Tympanometry"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Asthma Treatment?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="asth" value="Yes" data-ng-model="primaryPracticeLocations.Services.Asthma"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="asth" value="No" data-ng-model="primaryPracticeLocations.Services.Asthma"> No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label small">Osteopathic Manipulation?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="ost" value="Yes" data-ng-model="primaryPracticeLocations.Services.Osteopathic"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ost" value="No" data-ng-model="primaryPracticeLocations.Services.Osteopathic"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">IV Hydration/Treatment?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="hyd" value="Yes" data-ng-model="primaryPracticeLocations.Services.Hydration"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="hyd" value="No" data-ng-model="primaryPracticeLocations.Services.Hydration"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Cardiac Stress Test?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="test" value="Yes" data-ng-model="primaryPracticeLocations.Services.Cardiac"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="test" value="No" data-ng-model="primaryPracticeLocations.Services.Cardiac"> No
                            </label>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>


                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <label class="control-label small">Pulmonary Function Testing?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="pul" value="Yes" data-ng-model="primaryPracticeLocations.Services.Pulmonary"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="pul" value="No" data-ng-model="primaryPracticeLocations.Services.Pulmonary"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Physical Therapy?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="phy" value="Yes" data-ng-model="primaryPracticeLocations.Services.Physical"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="phy" value="No" data-ng-model="primaryPracticeLocations.Services.Physical"> No
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label small">Care Of Minor Lacerations?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="minor" value="Yes" data-ng-model="primaryPracticeLocations.Services.Lacerations"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="minor" value="No" data-ng-model="primaryPracticeLocations.Services.Lacerations"> No
                            </label>
                        </div>
                    </div>
                </div>
                <hr class="zero-margin-top-bottom-hr" />
                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label class="control-label small">Is Anesthesia Administered In Your Office?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" ng-click="showClass()" name="ane" value="Yes" data-ng-model="primaryPracticeLocations.Services.Anesthesia"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-click="hideClass()" name="ane" value="No" data-ng-model="primaryPracticeLocations.Services.Anesthesia"> No
                            </label>
                        </div>
                    </div>
                    <div ng-show="admin">
                        <div class="form-group col-md-6">
                            <label class="control-label small">What Class/Category Do You Use</label>
                            <div>
                                <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Services.Category" required />
                            </div>
                        </div>


                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label small">Who Administers It?</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">First Name</label>
                                <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Services.FirstName" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">Last Name</label>
                                <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Services.LastName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12">
                    <div class="form-group col-md-6">
                        <label class="control-label small">Type Of Practice?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="prac" value="Solo Practice" data-ng-model="primaryPracticeLocations.Services.TypeOfPractice"> Solo Practice
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="prac" value="Single Specialty Group" data-ng-model="primaryPracticeLocations.Services.TypeOfPractice"> Single Specialty Group
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="prac" value="Multi-Specialty Group" data-ng-model="primaryPracticeLocations.Services.TypeOfPractice"> Multi-Specialty Group
                            </label>
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label small">Additional Office Procedures Provided(Including Surgical Procedures)</label>
                        <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.Services.AdditionalOffice" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 form-group">
                        <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                        <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation()">Cancel</button>
                        <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="savePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                        <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="updatePrimaryPracticeLocation(primaryPracticeLocation)">Save</button>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</div>

<!--Partners-->
<div class="form-style">
    @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_Partners.cshtml")
</div>

<!--MidLevel-->
<div class="form-style">
    @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_MidLevel.cshtml")
</div>

<!--Credentialing Contact-->
<div class="form-style">
    @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_CredentialingContact.cshtml")
</div>

<!--Workers Compensation-->
<script src="~/Scripts/Custom/Profile/WorkerCompensation.js"></script>
<!--Workers compensation-->
<div ng-controller="WorkerCompensationCtrl">
    @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_AddEditWorkerCompensation.cshtml")

    @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_ViewWorkerCompensation.cshtml")
</div>


