@model AHC.CD.WebUI.MVC.Areas.Profile.Models.EducationHistory.EducationDetailViewModel

<div id="viewGraduation">
    <div class=" col-lg-12 zero-padding-left-right-div">
        

        <fieldset>
            <legend>
                School & Address Details
            </legend>
            <div class="col-md-12">
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.GraduateType, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.GraduateType}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.SchoolName, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.SchoolName}}</i>
                    </div>

                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.QualificationDegree, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.QualificationDegree}}</i>
                    </div>
                </div>
                @*<div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EducationAddress.Number, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EducationAddress.Number}}</i>
                    </div>
                </div>*@
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.EducationAddress.Street, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EducationAddress.Street}}</i>
                    </div>
                </div>
                
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EducationAddress.Building, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EducationAddress.Building}}</i>
                    </div>
                </div>
                @*<div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EducationAddress.Street, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EducationAddress.Street}}</i>
                    </div>
                </div>*@
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EducationAddress.City, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EducationAddress.City}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.EducationAddress.State, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EducationAddress.State}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.EducationAddress.Zipcode, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EducationAddress.ZipCode}}</i>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                
                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.EducationAddress.Country, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EducationAddress.Country}}</i>
                    </div>
                </div>

                <div class="form-group col-md-3">

                    @Html.LabelFor(model => model.EducationAddress.County, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EducationAddress.County}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.Phone}}</i>
                    </div>

                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.Fax}}</i>
                    </div>

                </div>
                
            </div>
            <div class="col-md-12">
               
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.StartDate | date:'MM-dd-yyyy'}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">


                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.EndDate | date:'MM-dd-yyyy'}}</i>
                    </div>

                </div>
                <div class="col-lg-3 form-group">
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <label class="control-label small">Supporting Document</label>
                        @*<div>
                                <i class="data-label">{{graduationDetailViewModel.GraduationCertPath}}</i>
                            </div>*@
                        <div>
                            @*<i class="data-label"><a href="~/Content/Document/DocPreview.pdf" class="pointer" target="_blank" data-toggle="tooltip" data-placement="top" title="Graduation Certificate"><i class="fa fa-file"> Graduation Certificate</i></a></i>*@
                            <i class="data-label"><a href="~/Content/Document/SINGH - MED SCHOOL DIPLOMA.pdf" class="pointer" target="_blank" data-toggle="tooltip" data-placement="top" title="Graduation Document"><i class="fa fa-file"> Graduate Document</i></a></i>
                             @*<i class="data-label">Not Available</i>*@
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3 form-group">

                    @Html.LabelFor(model => model.IsCompleted, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{graduationDetailViewModel.GraduationCompletedAtThisSchool}}</i>
                    </div>
                </div>
            </div>
        </fieldset>


        @*@Html.Partial("~/Areas/Profile/Views/EducationHistory/_ViewGraduationECFMGDetails.cshtml")*@

        <fieldset>
            <legend>
                ECFMG Details
            </legend>
            <div class="col-lg-3 form-group">

                @Html.LabelFor(model => model.ECFMGDetail.ECFMGNumber, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{graduationDetailViewModel.ECFMGDetail.ECFMGNumber}}</i>
                </div>
            </div>
            <div class="col-lg-3 form-group">

                @Html.LabelFor(model => model.ECFMGDetail.ECFMGIssueDate, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{graduationDetailViewModel.ECFMGDetail.ECFMGIssueDate | date:'MM-dd-yyyy'}}</i>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <label class="control-label small">Supporting Document</label>
                <div>
                    <i class="data-label"><a href="~/Content/Document/SINGH - ECFMG.pdf" class="pointer" target="_blank" data-toggle="tooltip" data-placement="top" title="ECFMG Document"><i class="fa fa-file"> ECFMG Document</i></a></i>
                    @*<i class="data-label">Not Available</i>*@
                </div>
            </div>
        </fieldset>
       

        <div class="col-md-12 form-group">
            <button type="button" class="btn btn-warning btn-sm" ng-click="cancelViewPG()">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="editGraduation($index,graduationDetailViewModel)">Edit</button>
        </div>
    </div>
</div>
