@model  PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationStatusViewModel
<div class="col-lg-12 col-md-12 theInnerCard1">

    <div id="the_Success_Member">
        <div class="col-lg-3 col-md-3 theCol">
            <div class="theBox">
                <span class="standard-text">@Html.DisplayNameFor(m => m.ReferFromUserStandardCount) - @Model.ReferFromUserStandardCount</span>
                <div id="Success_Member" class="row"></div>
                <span class="expedited-text">@Html.DisplayNameFor(m => m.ReferFromUserExpeditedCount) - @Model.ReferFromUserExpeditedCount</span>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centreIt move_name mnsojfdigid">
                            <div class="theText"><span>@Model.ReferFromUserName</span></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 zero-padding-left-right theCol">
        @*<div id="content">*@
            <div id="airPlane">
                <img src="/Areas/UM/Resources/Images/ReferBucket/plane.png" alt="airPlane" />
            </div>
        @*</div>*@
        <div class="doneSuccess">
            <i class="fa fa-check fa-2x"></i> DONE!!
        </div>
    </div>

    <div id="the_Success_Referral">
        <div class="col-lg-3 col-md-3 theCol">
            <div class="theBox">
                <span class="standard-text">@Html.DisplayNameFor(m => m.ReferToUserStandardCount) - @Model.ReferToUserStandardCount</span>
                <div id="Success_Referral" class="row"></div>
                <span class="expedited-text">@Html.DisplayNameFor(m => m.ReferToUserExpeditedCount) - @Model.ReferToUserExpeditedCount</span>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 centreIt move_name mnsojfdigid">
                            <div class="theText"><span>@Model.ReferToUserName</span></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
