@model PortalTemplate.Areas.Portal.Models.ProviderProfile.ContactInformationViewModal
@using PratianUI
<fieldset class="fsStyle" id="AddEditPersonalDetail">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            @if (Model != null)
            {
                <span><span class="transparent-font-color">_____</span>EDIT CONTACT PERSON INFORMATION<span class="transparent-font-color">____</span></span>
            }
            else
            {
                <span>ADD WORK INFORMATION</span>
            }
        </span>
    </legend>
    @using (Ajax.BeginForm("SaveContactInfo", "ProviderProfile", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ContactInformationArea" }, new { id = "saveContactInfo" }))
    {
        <div class="x_content zero-padding-left">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <div class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Contacttype)</label>
                    </div>
                    <div class="col-lg-1 "></div>
                    <div class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => m.Contacttype, new { @class = "form-control input-xs", placeholder = "CONTACT TYPE" })  </span>
                        @Html.ValidationMessageFor(e => e.Contacttype)
                    </div>
                    @*<label class="theme_label">Salutation </label>
            <span class="theme_label_data">Mr.</span>*@
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <div class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.ContactName)</label>
                    </div>
                    <div class="col-lg-1 "></div>
                    <div class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => m.ContactName, new { @class = "form-control input-xs", placeholder = "CONTACT NAME" })  </span>
                        @Html.ValidationMessageFor(e => e.ContactName)
                    </div>
                    @*<label class="theme_label">Salutation </label>
                        <span class="theme_label_data">Mr.</span>*@
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <div class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.PhoneNumber)</label>
                    </div>
                    <div class="col-lg-1 "></div>
                    <div class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control input-xs", placeholder = "PHONE NUMBER" })  </span>
                        @Html.ValidationMessageFor(e => e.PhoneNumber)
                    </div>
                    @*<label class="theme_label">Salutation </label>
                        <span class="theme_label_data">Mr.</span>*@
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FaxNumber)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control input-xs", placeholder = "FAX NUMBER" })  </span>
                        @Html.ValidationMessageFor(e => e.FaxNumber)
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.EmailAddress)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control input-xs", placeholder = "EMAIL ADDRESS" }) </span>
                        @Html.ValidationMessageFor(e => e.EmailAddress)
                     </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Address1)</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-7 nopadding">
                        <span class="theme_label_data">@Html.TextBoxFor(m => m.Address1, new { @class = "form-control input-xs", placeholder = "ADDRESS 1" }) </span>
                        @Html.ValidationMessageFor(e => e.Address1)
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <div class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Address2)</label>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7 nopadding">
                     <span class="theme_label_data">@Html.TextBoxFor(m => m.Address2, new { @class = "form-control input-xs", placeholder = "ADDRESS 2" }) </span>
@Html.ValidationMessageFor(e => e.Address2)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.City)</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <div class="col-lg-7 nopadding">
                        <span class="theme_label_data">
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control input-xs", placeholder = "CITY" })
                        </span>
                        @Html.ValidationMessageFor(e => e.City)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.STATE)</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <div class="col-lg-7 nopadding">
                        @Html.TextBoxFor(m => m.STATE, new { @class = "form-control input-xs", placeholder = "STATE " })
                        @Html.ValidationMessageFor(e => e.STATE)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="col-lg-4 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Zip)</label>
                    </span>
                    <span class="col-lg-1"></span>
                    <div class="col-lg-7 nopadding">
                        @Html.TextBoxFor(m => m.Zip, new { @class = "form-control input-xs", placeholder = "ZIP CODE" })
                    @*    @Html.ValidationMessageFor(e => e.ZipCode)*@
                    </div>
                </div>

            </div>
        </div>
        <div class="row col-lg-12 zero-padding-left-right">
            <input class="btn btn-success btn-xs  buttonmargin pull-right margin-right-5px" type="submit" name="submit" value="SAVE">
            <a class="btn btn-danger btn-xs list-item buttonmargin pull-right margin-right-5px" data-tab-path="/Portal/ProviderProfile/CancelContactInfoEdit?profileId=1" data-tab-container="ContactInformationArea">CANCEL</a>
        </div>
        @*</div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12 buttonmargin">*@
        @* <button class="btn btn-success btn-xs ripple closeBtnCSS" onclick="ShowHideAddView('ViewPersonalDetail', 'AddEditPersonalDetail')">Save</button>*@

        @*</div>*@
    }
</fieldset>
