@model PortalTemplate.Areas.Portal.Models.ProviderProfile.ContactInformationViewModal
<fieldset class="fsStyle" id="ViewContactInfo">

    <legend class="legendStyle">

        <span class="theme_depend text-uppercase create-auth-legends"><span class="tabheading">___</span>CONTACT PERSON INFORMATION<span class="tabheading">____</span></span>
        &nbsp;&nbsp;
        <span class="text-uppercase">

            <span class="fstyleBtnStyle">
                <button class="btn btn-primary btn-xs add_note_btn list-item tab-navigation" data-toggle="tooltip" title="EDIT" data-tab-path="/Portal/ProviderProfile/GetContactInfoEditPartial?ProfileId=1&type=Edit" data-tab-container="ContactInformationArea">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="tooltip" title="HISTORY" data-target="#PersonalDetails">
                    <i class="fa fa-history"></i>
                </button>

            </span>

        </span>
    </legend>


    <div class="x_content zero-padding-left">
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.Contacttype) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.Contacttype)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.ContactName) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.ContactName)</span>
        </span>

        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.PhoneNumber) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.PhoneNumber)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.FaxNumber) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.FaxNumber)</span>
        </span>
        <br />
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.EmailAddress) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.EmailAddress)</span>
        </span>
       
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.Address1) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.Address1)</span>
        </span>
        @*<span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.Address2) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.Address2)</span>
        </span>*@
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.City)</span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.STATE) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.STATE) </span>
        </span>
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.Zip) :</label>
            <span class="theme_label_data">@Html.DisplayFor(e => e.Zip)</span>
        </span>
    </div>
</fieldset>
