@model PortalTemplate.Areas.Billing.Models.PayerDrilldownReport.AMemberReportViewModel

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <div id="amount_member_report_donut_chart" class="report_donut_chart">

    </div>
    <div>
        <table id="chart_table" class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>
                       Claims Status
                    </th>
                    <th>
                       Amount ($)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="submitted_row">
                    <td>
                        <label class="text">Billed</label>
                    </td>
                    <td>
                        <label>@Model.AmountBilled</label>
                    </td>
                </tr>
                <tr class="accepted_row">
                    <td>
                        <label class="text">Paid</label>
                    </td>
                    <td>
                        <label>@Model.AmountPaid</label>
                    </td>
                </tr>
                <tr class="pending_row">
                    <td>
                        <label class="text">Pending</label>
                    </td>
                    <td>
                        <label>@Model.AmountPending</label>
                    </td>
                </tr>
                <tr class="rejected_row">
                    <td>
                        <label class="text">Denied</label>
                    </td>
                    <td>
                        <label>@Model.AmountDenied</label>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <label class="list_title">Member List</label>
    <table class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
        <thead class="theme_thead">
            <tr>
                <th rowspan="2">
                    Sl No
                </th>
                <th rowspan="2">
                    Member
                </th>
                <th colspan="7" class="text-center">
                    Claimed Amount ($)
                </th>
            </tr>
            <tr>
                <th>
                    Billed
                </th>
                <th>
                    Allowed
                </th>
                <th>
                    Paid
                </th>
                <th>
                    Adj
                </th>
                <th>
                    Ded
                </th>
                <th>
                    Pending
                </th>
                <th>
                    Denied
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Members)
            {
                <tr>
                    <td>
                        @( ((Int32)1) + @Model.Members.IndexOf(item))
                    </td>
                    <td>
                        @item.MemberName
                    </td>
                    <td>
                        @item.Billed
                    </td>
                    <td>
                        @item.Allowed
                    </td>
                    <td>
                        @item.Paid
                    </td>
                    <td>
                        @item.Adj
                    </td>
                    <td>
                        @item.Ded
                    </td>
                    <td>
                        @item.Pending
                    </td>
                    <td>
                        @item.Denied
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
<div class="col-lg-12 margin_top_20_px margin_bottom_10_px clearfix">
    <button class="btn btn-sm btn-warning pull-left" id="aMember_back_btn">Back</button>
</div>


<script src="~/Areas/Billing/Scripts/AppJs/PayerDrilldownReport/Unminified/Amount/AMember.js"></script>
