<p-script filepath="~/Areas/UM/Scripts/Authorization/CreateNewAuthFax/NonMinified/CreateNewAuthFax.js"></p-script>
<form id="UM_auth_form" class="zero-padding-left-right createForm form_11 auth_form" onsubmit="return false;">
    <div class="row">
        <div class="col-lg-6">
            @Html.Partial("~/Areas/UM/Views/Authorization/Form/_POSArea.cshtml")
        </div>
        <div class="col-lg-6">
            @Html.Partial("~/Areas/UM/Views/Authorization/Form/_ProviderArea.cshtml")
        </div>
    </div>
    @*<div class="col-lg-12 zero-padding-left-right">
            <div class="col-lg-4 zero-padding-left-right">
                @Html.Partial("~/Areas/UM/Views/Authorization/Form/_POSArea.cshtml")
            </div>
            <div class="col-lg-4 zero-padding-left-right">
                @Html.Partial("~/Areas/UM/Views/Authorization/Form/_ProviderArea.cshtml")
            </div>
            <div class="col-lg-4 zero-padding-left-right">
                @Html.Partial("~/Areas/UM/Views/Authorization/Form/_FurtherDetailsArea.cshtml")
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>*@
    @Html.Partial("~/Areas/UM/Views/Authorization/Form/_FurtherDetailsArea.cshtml")

    @*@Html.Partial("~/Areas/UM/Views/Authorization/Form/_ProviderAndFurtherDetails.cshtml")*@

    @*@Html.Partial("~/Areas/UM/Views/Authorization/Form/_ICDArea.cshtml")

        @Html.Partial("~/Areas/UM/Views/Authorization/Form/_CPTArea.cshtml")*@

    @*<div class="col-lg-12 zero-padding-left-right">
            <div class="col-lg-4 zero-padding-left-right">
                @Html.Partial("~/Areas/UM/Views/Authorization/Form/_ICDArea.cshtml")
            </div>
            <div class="col-lg-8 zero-padding-left-right">
                @Html.Partial("~/Areas/UM/Views/Authorization/Form/_CPTArea.cshtml")
            </div>
        </div>*@
    <div class="row">
        <div class="col-lg-6">
            @Html.Partial("~/Areas/UM/Views/Authorization/Form/_ICDArea.cshtml")
        </div>
        <div class="col-lg-6">
            @Html.Partial("~/Areas/UM/Views/Authorization/Form/_CPTArea.cshtml")
        </div>
    </div>

    @Html.Partial("~/Areas/UM/Views/Authorization/Form/_DocumentsArea.cshtml")


    @Html.Partial("~/Areas/UM/Views/Authorization/Form/_NotesArea.cshtml")


    @Html.Partial("~/Areas/UM/Views/Authorization/Form/_ContactsArea.cshtml")

    @Html.Partial("~/Areas/UM/Views/Authorization/Form/_SummaryArea.cshtml")

    @Html.Partial("~/Areas/UM/Views/Authorization/Form/_ODAGArea.cshtml")

    @Html.Partial("~/Areas/UM/Views/Authorization/Form/_CreateAuthButtons.cshtml")
</form>


<p-script filepath="~/Areas/UM/Scripts/Authorization/Common/NonMinified/CreateAuthCommon.js"></p-script>
<p-script filepath="~/Areas/UM/Scripts/Authorization/CreateNewAuthFax/NonMinified/CreateNewAuthFax.js"></p-script>
