@using PortalTemplate.Helper


<br />

<div class="clearfix"></div>
<div class="col-lg-12" style="color: #031F5C;" id="cmsAllData">
    <fieldset class="fsStyle createClaim">
        <legend class="legendStyle">
            <span class="theme_depend text-initial title_heading">Master Data</span>
        </legend>
        <div class="legend2 exportbtn">@Html.ExportOptions("excel", "print", "filter")</div>
        <div class="panel-body" id="cmslistpanel">
            <div class="col-lg-12" >
                <span class="col-lg-2">
                    <h5>@CMS_Resources.Content.TotalCount.ToUpper(): @*@ViewBag.TableData.Count*@<span class="totalcount">@ViewBag.TableData.data.Count</span></h5>

                </span>
                <div class="col-lg-8 text-center" id="DataNavigation">
                    <a href="javascript:;" class="btn btn-success btn-xs  tab-navigation" data-tab-path="/CMS/CMSData/Index" id="cmsId" data-tab-action="CMS" data-tab-title="CMS" data-tab-container="fullBodyContainer">ALL</a>
                    <a href="javascript:;" class="btn btn-default btn-xs  tab-navigation" data-tab-path="/CMS/CMData/Index" id="cmId" data-tab-action="CM" data-tab-title="Care Managment" data-tab-container="fullBodyContainer">Care Management</a>
                    <a href="javascript:;" class="btn btn-default btn-xs  tab-navigation" data-tab-path="/CMS/CredAxisData/Index" id="credAxisId" data-tab-action="CredAxis" data-tab-title="CredAxis" data-tab-container="fullBodyContainer">CredAxis</a>
                    <a href="javascript:;" class="btn btn-default btn-xs  tab-navigation" data-tab-path="/CMS/MHData/Index" id="mhId" data-tab-action="MH" data-tab-title="MH" data-tab-container="fullBodyContainer">Member House</a>
                    <a href="javascript:;" class="btn btn-default btn-xs  tab-navigation" data-tab-path="/CMS/ClaimsData/Index" id="claimsId" data-tab-action="Claims" data-tab-title="Claims" data-tab-container="fullBodyContainer">Claims</a>

                </div>
            </div>
            <div class="clearfix"></div><br />  <br />
            <div class="col-lg-12 text-center">
                <div class="col-lg-2" id="cmsCategory">
                    <div class="dropdown">
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                            Categories
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu">

                            <li class="dropdown-submenu cmsdropdownlist" title="Acuity">
                                <a class="test" href="#"> 	Acuity Codes &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">Maintenance</a></li>
                                    <li><a href="#">CrossWalk</a></li>
                                </ul>*@
                                @*<li class="dropdown-submenu">
                                    <a class="test" href="#">Another dropdown  &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">3rd level dropdown</a></li>
                                        <li><a href="#">3rd level dropdown</a></li>
                                    </ul>
                                </li>*@

                            </li>
                            <li class="dropdown-submenu cmsdropdownlist" title="Billing">
                                <a class="test" href="#"> 	Billing&nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Categories</a></li>
                                    <li><a href="#">  Services</a></li>
                                </ul>*@
                            </li>
                            <li class="dropdown-submenu cmsdropdownlist" title="CarePlan">
                                <a class="test" href="#">  Care Plan &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Conditions</a></li>
                                    <li><a href="#">  Close Reasons</a></li>
                                    <li><a href="#">  Templates</a></li>
                                    <li><a href="#">  Templates  Assignment</a></li>
                                </ul>*@
                            </li>
                            <li class="cmsdropdownlist" title="Carriers"><a href="#">  Carriers</a></li>
                            <li class="dropdown-submenu cmsdropdownlist" title="CaseSummary">
                                <a class="test" href="#"> 	Case Summary &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Batch Entities</a></li>
                                    <li><a href="#">  Report Sections</a></li>
                                </ul>*@
                            </li>
                            <li class="dropdown-submenu cmsdropdownlist" title="Code">
                                <a class="test cmsCode" href="#"> &nbsp;Code <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Diagnosis</a></li>
                                    <li><a href="#">  Diagnosis Groupers</a></li>
                                    <li><a href="#">  HEDIS</a></li>
                                    <li><a href="#">  NDC</a></li>
                                    <li><a href="#">  Procedure</a></li>
                                    <li><a href="#">  Procedure Groupers</a></li>

                                </ul>*@
                            </li>
                            <li class="dropdown-submenu cmsdropdownlist " title="Community">
                                <a class="test" href="#">   Community Referral &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Entities</a></li>
                                    <li><a href="#">  Types</a></li>
                                </ul>*@
                            </li>
                            <li class="dropdown-submenu cmsdropdownlist" title="Contact">
                                <a class="test " href="#">   Contacts &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Entities CT</a></li>
                                    <li><a href="#">  Reasons for contact</a></li>
                                    <li><a href="#">  Outcome of contact</a></li>
                                    <li><a href="#">  NDC</a></li>
                                    <li><a href="#">  Procedure</a></li>
                                    <li><a href="#">  Procedure Groupers</a></li>
                                </ul>*@
                            </li>
                            <li class="cmsdropdownlist"title="Contracting"><a href="#">  Contracting</a></li>
                            <li class="cmsdropdownlist"title=" Delete"><a href="#">  Delete Reasons</a></li>
                            <li class="cmsdropdownlist" title="Directory"><a href="#">  Directory Types</a></li>
                            <li class="dropdown-submenu cmsdropdownlist" title="Dropdown">
                                <a class="test" href="#">   DropDown &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  General</a></li>
                                    <li><a href="#">  HRA/Care Plan</a></li>
                                    <li><a href="#">  Reviews</a></li>
                                </ul>*@
                            </li>
                            <li class="cmsdropdownlist" title="Holidays"><a href="#">  Holidays</a></li>
                            <li class="cmsdropdownlist" title="Participants"><a href="#">  ICT Participants</a></li>
                            <li class="cmsdropdownlist"title="Incentives"><a href="#">  Incentives</a></li>
                            <li class="dropdown-submenu cmsdropdownlist" title="Letter">
                                <a class="test" href="#">   Letters &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Batch Types</a></li>
                                    <li><a href="#">  Letter Templates</a></li>
                                </ul>*@
                            </li>
                            <li class="cmsdropdownlist" title="Note"><a href="#">  Note Types</a></li>
                            <li class="dropdown-submenu cmsdropdownlist" title="Queues">
                                <a class="test" href="#">   Queues and Events  &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Case Close Reasons</a></li>
                                    <li><a href="#">  Event Status Codes</a></li>
                                    <li><a href="#">  Queue Groups</a></li>
                                    <li><a href="#">  Queue To Do Types</a></li>
                                </ul>*@
                            </li>
                            <li class="dropdown-submenu cmsdropdownlist" title="Review">
                                <a class="test" href="#">   Review Decisions &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Criteria Sources</a></li>
                                    <li><a href="#">  Decision Codes</a></li>
                                    <li><a href="#">  Milli man Integration</a></li>
                                </ul>*@
                            </li>
                            <li class="cmsdropdownlist" title="Risk"><a href="#">  Risk Stratification</a></li>
                            <li class="cmsdropdownlist" title="Specialty"><a href="#">  Specialty Codes</a></li>
                            <li class="dropdown-submenu cmsdropdownlist" title="Transplant">
                                <a class="test" href="#">   Transplant &nbsp; &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                @*<ul class="dropdown-menu">
                                    <li><a href="#">  Transplant Type</a></li>
                                    <li><a href="#">  Transplant Status</a></li>
                                </ul>*@
                            </li>
                        </ul>
                    </div>
                </div>
              
                <span class="col-lg-8">
                    
                    <a class="btn btn-success btn-xs cmsalldata">@CMS_Resources.Content.All</a>
                    @for (char c = 'A'; c <= 'Z'; c++)
                    {
                        <a class="btn btn-default btn-xs alphabet" href="javascript:void(0)" id="alphabaticfilter@(c)">@c</a>
                    }
                </span>
               
                <span class="col-lg-2 paper-input__wrapper tablesearch pull-left text-left">
                    <input class="paper-input paper-input--floating  search" id="Search" type="text">
                    <label>@CMS_Resources.Content.QuickSearch</label>
                </span>
                <hr />
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3" id="SelectedCategory">

                </div>
                <div class="col-lg-9">

                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6 text-center" id="NoDataAvailable">

                </div>
                <div class="col-lg-3">

                </div>
            </div>
            <div class="clearfix"></div>
            @foreach (var headdata in ViewBag.TableData.data)
                        {

                            <div class="col-lg-3 mdm_container cursor_pointer cmslist" id="cmsListData" onclick="@headdata.ClickLink">
                                <div hidden> @headdata.Category</div>
                                <div class="col-lg-8 mdm_title" data-toggle="tooltip" title="@headdata.MDM">@headdata.MDM</div>
                                <div class="col-lg-4 mdm_count" data-toggle="tooltip"><label class="label label-success">@headdata.Count</label> </div>
                            </div>
                        }

         
            @*@foreach (var headdata in ViewBag.TableData)
            {
                if (@headdata.ClickLink != null) { 
                    <div class="col-lg-3 mdm_container cursor_pointer cmslist" id="cmsListData" onclick="TabManager.openCenterModal('@headdata.ClickLink','@headdata.EntityName')">

                        <div class="col-lg-6 mdm_title" data-toggle="tooltip" title="@headdata.Name.ToUpper()">@headdata.Name</div>
                        <div class="col-lg-2  ">
                            <label class="label label-success" data-toggle="tooltip" title="ACTIVE">@headdata.ActiveCount</label>
                        </div>
                        <div class="col-lg-2  ">
                            <label class="label label-danger " data-toggle="tooltip" title="INACTIVE">@headdata.InActiveCount</label>
                        </div>
                        <div class="col-lg-2  ">
                            <label class="label label-primary" data-toggle="tooltip" title="TOTAL">@(headdata.ActiveCount + headdata.InActiveCount)</label>
                        </div>
                    </div>
                }

                }*@
        </div>
    </fieldset>
</div> 
<div class="clearfix"></div>
<div style="margin-bottom:100px;"></div>
