@model AHC.CD.WebUI.MVC.Areas.Profile.Models.IdentificationAndLicenses.OtherIdentificationNumberViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;


    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, true))
    {
        <div class="legend2 pull-right" ng-show="(visibilityControl!='editOtherIdentificationNumbers') && (OtherIdentificationNumbers != null)">
            <button id="editnoDataAddNewOtherIdentificationDetails" class="btn btn-xs btn-primary" ng-click="operateEditControl('editOtherIdentificationNumbers',OtherIdentificationNumbers)" tooltip data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
        </div>
    }

        

<div>
    <div class="form-group col-md-12 zero-padding-left-right-div">
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.NPINumber, new { @class = "  control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                <i class="data-label" ng-show="OtherIdentificationNumbers.NPINumber">######</i>
                }
                else
                {
                <i class="data-label">{{OtherIdentificationNumbers.NPINumber}}</i>
                }

            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.NPIUserName, new { @class = "  control-label small", type = "password" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="OtherIdentificationNumbers.NPIUserName">######</i>

                }
                else
                {
                    <i class="data-label" ng-show="OtherIdentificationNumbers.NPIUserName">######</i>
                }
                <i ng-if="!OtherIdentificationNumbers.NPIUserName">Not Available</i>
            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.NPIPassword, new { @class = "  control-label small", type = "password" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="OtherIdentificationNumbers.NPIPassword">######</i>

                }
                else
                {
                    <i class="data-label" ng-show="OtherIdentificationNumbers.NPIPassword">######</i>
                }
                <i ng-if="!OtherIdentificationNumbers.NPIPassword">Not Available</i>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12 zero-padding-left-right-div">
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.CAQHNumber, new { @class = "  control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="OtherIdentificationNumbers.CAQHNumber">######</i>

                }
                else
                {
                    <i class="data-label">{{OtherIdentificationNumbers.CAQHNumber}}</i>
                }
                <i ng-if="!OtherIdentificationNumbers.CAQHNumber">Not Available</i>
            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
                @Html.LabelFor(model => model.CAQHUserName, new { @class = "  control-label small", type = "password" })
                <div>
                    @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                    {
                        <i class="data-label" ng-show="OtherIdentificationNumbers.CAQHUserName">######</i>

                    }
                    else
                    {
                        <i class="data-label" ng-show="OtherIdentificationNumbers.CAQHUserName">######</i>
                    }
                    <i ng-if="!OtherIdentificationNumbers.CAQHUserName">Not Available</i>
                </div>
            </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
                @Html.LabelFor(model => model.CAQHPassword, new { @class = "  control-label small", type = "password" })
                <div>
                    @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                    {
                        <i class="data-label" ng-show="OtherIdentificationNumbers.CAQHPassword">######</i>

                    }
                    else
                    {
                        <i class="data-label" ng-show="OtherIdentificationNumbers.CAQHPassword">######</i>
                    }
                    <i ng-if="!OtherIdentificationNumbers.CAQHPassword">Not Available</i>
                </div>
            </div>
     </div>

    <div class="form-group col-md-12 zero-padding-left-right-div">
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.UPINNumber, new { @class = " control-label small" })
            <div class="wrap-words">
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {

                    <i class="data-label" ng-show="OtherIdentificationNumbers.UPINNumber">######</i>
                }
                else
                {
                    <i class="data-label">{{OtherIdentificationNumbers.UPINNumber}}</i>
                }
                <i ng-if="!OtherIdentificationNumbers.UPINNumber">Not Available</i>
            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.USMLENumber, new { @class = " control-label small" })
            <div class="wrap-words">
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="OtherIdentificationNumbers.USMLENumber">######</i>

                }
                else
                {
                    <i class="data-label">{{OtherIdentificationNumbers.USMLENumber}}</i>
                }
                <i ng-if="!OtherIdentificationNumbers.USMLENumber">Not Available</i>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div ng-show="activeMessageDiv=='updatedID'" class="alert alert-success" role="alert">
        <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
        {{messageDesc}}
    </div>
    <div class="clearfix"></div>
    </div>




@*<div ng-hide="visibilityControl=='editOtherIdentificationNumbers'" id="otherIdenNumbers" class="panel-body zero-padding-left-right-div">
    <form>

        
       
    </form>
</div>*@ 