@model PortalTemplate.Areas.Coding.Models.CreateCoding.CPTCodeDetailsViewModel
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
            <thead class="theme_thead">
                <tr>
                    <th>Procedure Code </th>
                    <th>Procedure Description </th>
                    <th>Modifier</th>
                    <th>DiagnosisPointer</th>
                    <th>Fee </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.CPTCodes)
                    {
                        if (@item.isEnM)
                        {
                            <tr>
                                <td>
                                    @item.Code <span class="charge badge" style="background-color: #0288d1;">E&M</span>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <label>$</label> @item.Fee
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Description</td>
                                <td>
                                    @item.Modifier1
                                    @item.Modifier2
                                    @item.Modifier3
                                    @item.Modifier4
                                </td>
                                <td>
                                    @item.DiagnosisPointer1
                                    @item.DiagnosisPointer2
                                    @item.DiagnosisPointer3
                                    @item.DiagnosisPointer4
                                </td>
                                <td>
                                    <label>$</label> @item.Fee
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

