@model IEnumerable<PortalTemplate.Areas.UM.Models.ViewModels.Queue.QueueViewModel>

    <!-- TOP TOOLBAR -->
    @Html.Partial("~/Areas/UM/Views/Queue/Common/_TopToolBar.cshtml")
    <div class="tableBodyDivision">
        <!-- SPINNER -->
        <div class="spinner-container">
            <img class="spinner-image" src="~/Resources/Images/Common/spinner.gif" />
        </div>
        <!-- END SPINNER -->
        <table id="facilityQueueTable" class="table table-striped table-hover table-responsive">
            <thead class="theme_thead custom-thead-back theme1_table custom-thead-font custom-tbody">
                <tr>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.Abbrevation) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">

                            <span></span>

                        </span>

                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.PlanAuthorizationNumber) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">

                            <span></span>

                        </span>

                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ReferenceNumber) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.MemberID)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdXL">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.MemberName)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.FromDate)&nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ToDate) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>

                    <th class="maxWidthtdXL">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ProviderName) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdXL">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.FacilityName)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdXL">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.SVCAttProviderName) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.RequestType) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.TypeOfCare)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.DurationLeft) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ExpectedDOS)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.RequestedUnit)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.AuthStatus)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdSM">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.PosAbb)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.PrimaryDx)  &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">

                            <span></span>

                        </span>
                    </th>
                 
                    <th class="maxWidthtdX">
                        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.AuthNote) &nbsp;<i class="fa fa-sort facility-queue-sort"></i></label>
                        <span class="styled-input">


                            <span></span>

                        </span>
                    </th>
                    @*<th style="max-width:0;" class="width_1"></th>*@
                </tr>
            </thead>
            <tbody id="intakeQueueTable">
                                @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/PCPQueue/_PCPQueueDataRows.cshtml")
                  </tbody>
        </table>
    </div>

