@model PortalTemplate.Areas.Billing.Models.CreateClaim.CMS1500ViewModels
@{
    List<SelectListItem> ICDType = new List<SelectListItem>();
    List<SelectListItem> state = new List<SelectListItem>();
    ICDType.Add(new SelectListItem
      {
          Text = "ICD 10",
          Value = "ICD10",
          Selected = true
      });
    ICDType.Add(new SelectListItem
     {
         Text = "ICD 9",
         Value = "ICD9",
     });

    state.Add(new SelectListItem
    {
        Text = "AA",
        Value = "AA",
        Selected = true
    });
    state.Add(new SelectListItem
     {
         Text = "AP",
         Value = "AP",
     });
    state.Add(new SelectListItem
    {
        Text = "AK",
        Value = "AK",
        Selected = true
    });
    state.Add(new SelectListItem
   {
       Text = "AL",
       Value = "AL",
       Selected = true
   });
    state.Add(new SelectListItem
     {
         Text = "AR",
         Value = "AR",
     });
    state.Add(new SelectListItem
  {
      Text = "AS",
      Value = "AS",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "AZ",
         Value = "AZ",
     });
    state.Add(new SelectListItem
  {
      Text = "CA",
      Value = "CA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "CO",
         Value = "CO",
     });
    state.Add(new SelectListItem
  {
      Text = "CT",
      Value = "AA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "DC",
         Value = "DC",
     });
    state.Add(new SelectListItem
  {
      Text = "DE",
      Value = "DE",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "FL",
         Value = "FL",
     });
    state.Add(new SelectListItem
  {
      Text = "FM",
      Value = "FM",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "GA",
         Value = "GA",
     });
    state.Add(new SelectListItem
  {
      Text = "GU",
      Value = "GU",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "HI",
         Value = "HI",
     });
    state.Add(new SelectListItem
  {
      Text = "IA",
      Value = "IA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "ID",
         Value = "ID",
     });

    state.Add(new SelectListItem
     {
         Text = "IL",
         Value = "IL",
     });
    state.Add(new SelectListItem
    {
        Text = "IN",
        Value = "IN",
        Selected = true
    });
    state.Add(new SelectListItem
     {
         Text = "KS",
         Value = "KS",
     });
    state.Add(new SelectListItem
  {
      Text = "KY",
      Value = "KY",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "LA",
         Value = "LA",
     });
    state.Add(new SelectListItem
  {
      Text = "MA",
      Value = "MA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "MD",
         Value = "MD",
     });
    state.Add(new SelectListItem
  {
      Text = "ME",
      Value = "ME",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "MH",
         Value = "MH",
     });
    state.Add(new SelectListItem
  {
      Text = "MI",
      Value = "MI",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "MN",
         Value = "MN",
     });
    state.Add(new SelectListItem
  {
      Text = "MO",
      Value = "MO",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "MP",
         Value = "MP",
     });

    state.Add(new SelectListItem
     {
         Text = "MS",
         Value = "MS",
     });
    state.Add(new SelectListItem
    {
        Text = "MT",
        Value = "MT",
    });
    state.Add(new SelectListItem
  {
      Text = "NC",
      Value = "NC",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "ND",
         Value = "ND",
     });
    state.Add(new SelectListItem
  {
      Text = "NE",
      Value = "NE",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "NH",
         Value = "NH",
     });
    state.Add(new SelectListItem
  {
      Text = "NJ",
      Value = "NJ",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "NM",
         Value = "NM",
     });
    state.Add(new SelectListItem
  {
      Text = "NV",
      Value = "NV",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "OH",
         Value = "OH",
     });
    state.Add(new SelectListItem
  {
      Text = "OK",
      Value = "OK",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "OR",
         Value = "OR",
     });

    state.Add(new SelectListItem
     {
         Text = "PA",
         Value = "PA",
     });
    state.Add(new SelectListItem
    {
        Text = "PR",
        Value = "PR",
        Selected = true
    });
    state.Add(new SelectListItem
     {
         Text = "PW",
         Value = "PW",
     });
    state.Add(new SelectListItem
  {
      Text = "RI",
      Value = "RI",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "SC",
         Value = "SC",
     });
    state.Add(new SelectListItem
  {
      Text = "SD",
      Value = "SD",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "TN",
         Value = "TN",
     });
    state.Add(new SelectListItem
  {
      Text = "TX",
      Value = "TX",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "UT",
         Value = "UT",
     });
    state.Add(new SelectListItem
  {
      Text = "VA",
      Value = "VA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "VI",
         Value = "VI",
     });
    state.Add(new SelectListItem
  {
      Text = "VT",
      Value = "VT",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "WA",
         Value = "WA",
     });

    state.Add(new SelectListItem
     {
         Text = "WI",
         Value = "WI",
     });
    state.Add(new SelectListItem
    {
        Text = "WV",
        Value = "WV",
    });

    state.Add(new SelectListItem
     {
         Text = "WY",
         Value = "WY",
     });
}



<form id="cms1500Form" class="x_panel">
    @*<div class="row">
            <div class="col-lg-12 pull-left title_heading">
                PREVIEW (CMS 1500)
            </div>
        </div>*@
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
            <div class="title_heading">
                &nbsp;&nbsp;Preview (CMS 1500)
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.PayerName, new { @class = "cms_label" })</td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.PayerName, new { @class = "form-control input-xs non_mandatory_field_halo top_payer_field" })
                        @Html.ValidationMessageFor(model => model.PayerName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.PayerID, new { @class = "cms_label" })</td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.PayerID, new { @class = "form-control input-xs non_mandatory_field_halo top_payer_field" })
                        @Html.ValidationMessageFor(model => model.PayerID)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.PayerFirstAddress, new { @class = "cms_label" })</td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.PayerFirstAddress, new { @class = "form-control input-xs non_mandatory_field_halo top_payer_field" })
                        @Html.ValidationMessageFor(model => model.PayerFirstAddress)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.PayerSecondAddress, new { @class = "cms_label" })</td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.PayerSecondAddress, new { @class = "form-control input-xs non_mandatory_field_halo top_payer_field" })
                        @Html.ValidationMessageFor(model => model.PayerSecondAddress)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PayerCity, new { @class = "cms_label" }),
                        @Html.LabelFor(model => model.PayerState)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PayerCity, new { @class = "form-control input-xs non_mandatory_field_halo city_field" })
                        @Html.ValidationMessageFor(model => model.PayerCity)

                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.PayerState, state, new { @class = "form-control input-xs non_mandatory_field_halo state_field margin_left_-100" })
                        @Html.ValidationMessageFor(model => model.PayerState)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PayerZip, new { @class = "cms_label" })
                    </td>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.PayerZip, new { @class = "form-control input-xs non_mandatory_field_halo top_payer_field" })
                        @Html.ValidationMessageFor(model => model.PayerZip)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 cms_div">
            <table>
                <tr>
                    <td><label>1. Medicare</label></td>
                    <td><label>Medicaid</label></td>
                    <td><label>Tricare</label></td>
                    <td><label>CHAMPVA</label></td>
                    <td><label>Group Health Plan</label></td>
                    <td><label>FECA BLK LUNG</label></td>
                    <td><label>Others</label></td>
                </tr>
                <tr>
                    <td>
                        @Html.RadioButtonFor(model => model.ClaimFilingIndicatorCode, "Medicare", new { @class = "normal-radio", @id = "MedicareRadio", @checked = "checked" })
                        <label for="MedicareRadio"><span></span>(Medicare#)</label>
                        @*@Html.Label("(Medicare#)", new { @class = "cms_label" })*@
                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.ClaimFilingIndicatorCode, "Medicaid", new { @class = "normal-radio", @id = "MedicaidRadio" })
                        @*@Html.Label("(Medicaid#)", new { @class = "cms_label" })*@
                        <label for="MedicaidRadio"><span></span>(Medicaid#)</label>
                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.ClaimFilingIndicatorCode, "Tricare", new { @class = "normal-radio", @id = "TricareRadio" })
                        @*@Html.Label("(ID#DOD#)", new { @class = "cms_label" })*@
                        <label for="TricareRadio"><span></span>(ID#DOD#)</label>
                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.ClaimFilingIndicatorCode, "CHAMPVA", new { @class = "normal-radio", @id = "chamvaRadio" })
                        @*@Html.Label("(VA File#)", new { @class = "cms_label" })*@
                        <label for="chamvaRadio"><span></span>(VA File#)</label>


                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.ClaimFilingIndicatorCode, "GroupHealthPlan", new { @class = "normal-radio", @id = "ghpRadio" })
                        @*@Html.Label("(ID#)", new { @class = "cms_label" })*@
                        <label for="ghpRadio"><span></span>(ID#)</label>


                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.ClaimFilingIndicatorCode, "FECABLKLUNG", new { @class = "normal-radio", @id = "fecablklungRadio" })
                        @*@Html.Label("(ID#)", new { @class = "cms_label" })*@
                        <label for="fecablklungRadio"><span></span>(ID#)</label>
                    </td>
                    <td>
                        @Html.RadioButtonFor(model => model.ClaimFilingIndicatorCode, "Others", new { @class = "normal-radio", @id = "OtherRadio" })
                        @*@Html.Label("(ID#)", new { @class = "cms_label" })*@
                        <label for="OtherRadio"><span></span>(ID#)</label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 cms_div">
            <table>
                <tr>
                    <td>
                        <label>1A.</label> @Html.LabelFor(model => model.InsuredIdNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.InsuredIdNumber, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.InsuredIdNumber)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>
                2. Patient's Name (Last Name, First Name, Middle Init)
            </label>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PatientLastOrOrganizationName, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PatientLastOrOrganizationName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PatientLastOrOrganizationName)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.PatientMiddleName, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PatientMiddleName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PatientMiddleName)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.PatientFirstName, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PatientFirstName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PatientFirstName)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                <table>
                    <tr>
                        <td>
                            <label>3.</label>  @Html.LabelFor(model => model.PatientBirthDate, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(model => model.PatientBirthDate, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                            @Html.ValidationMessageFor(model => model.PatientBirthDate)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PatientGenders, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    @Html.RadioButtonFor(model => model.PatientGenders, "m", new { @class = "normal-radio", @id = "GenderM" })
                                    @*@Html.Label("M")*@
                                    <label for="GenderM"><span></span>M</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    @Html.RadioButtonFor(model => model.PatientGenders, "f", new { @class = "normal-radio", @id = "GenderF" })
                                    @*@Html.Label("F")*@
                                    <label for="GenderF"><span></span>F</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    @Html.RadioButtonFor(model => model.PatientGenders, "o", new { @class = "normal-radio", @id = "GenderO" })
                                    @*@Html.Label("OTHER")*@
                                    <label for="GenderO"><span></span>O</label>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.PatientGenders)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>
                4. Insured's Name (Last Name, First Name, Middle Init)
            </label>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.SubscriberLastOrOrganizationName, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberLastOrOrganizationName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SubscriberLastOrOrganizationName)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.SubscriberMiddleName, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberMiddleName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SubscriberMiddleName)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.SubscriberFirstName, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberFirstName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SubscriberFirstName)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td colspan="2">
                        <label>5.</label> @Html.Label("ADDRESS", new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.PatientFirstAddress, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PatientFirstAddress)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PatientSecondAddress, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PatientSecondAddress)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PatientCity, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.PatientState, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.PatientCity, new { @class = "form-control input-xs non_mandatory_field_halo city_field" })
                        @Html.ValidationMessageFor(model => model.PatientCity)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.PatientState, state, new { @class = "form-control input-xs non_mandatory_field_halo state_field" })
                        @Html.ValidationMessageFor(model => model.PatientState)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PatientZip, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.PatientPhoneNo, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.PatientZip, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PatientZip)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PatientPhoneNo, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PatientPhoneNo)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td>
                        <label>6.</label> @Html.LabelFor(model => model.IndividualRelationshipCode, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.IndividualRelationshipCode, new { @class = "form-control input-xs non_mandatory_field_halo" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>8.</label> <label>Reserved For NUCC use</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.IndividualRelationshipCode, new { @class = "form-control input-xs non_mandatory_field_halo" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.IndividualRelationshipCode, new { @class = "form-control input-xs non_mandatory_field_halo" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td colspan="2">
                        <label>7.</label> @Html.Label("ADDRESS", new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberFirstAddress, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SubscriberFirstAddress)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberSecondAddress, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SubscriberSecondAddress)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.SubscriberCity, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.SubscriberState, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberCity, new { @class = "form-control input-xs non_mandatory_field_halo city_field" })
                        @Html.ValidationMessageFor(model => model.SubscriberCity)
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.SubscriberState, state, new { @class = "form-control input-xs non_mandatory_field_halo state_field" })
                        @Html.ValidationMessageFor(model => model.SubscriberState)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.SubscriberZip, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.SubscriberPhoneNo, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberZip, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SubscriberZip)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberPhoneNo, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SubscriberPhoneNo)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>
                9. Other Insured's Name (Last Name, First Name, Middle Init)
            </label>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.OtherInsuredLastName, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.OtherInsuredLastName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherInsuredLastName)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.OtherInsuredFirstName, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.OtherInsuredFirstName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherInsuredFirstName)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.OtherInsuredMiddleName, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.OtherInsuredMiddleName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherInsuredMiddleName)
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @Html.LabelFor(model => model.OtherInsuredPolicyNo, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @Html.TextBoxFor(model => model.OtherInsuredPolicyNo, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherInsuredPolicyNo)
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @Html.LabelFor(model => model.OtherInsuredNUCCUse01, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @Html.TextBoxFor(model => model.OtherInsuredNUCCUse01, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherInsuredNUCCUse01)
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @Html.LabelFor(model => model.OtherInsuredNUCCUse02, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @Html.TextBoxFor(model => model.OtherInsuredNUCCUse02, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherInsuredNUCCUse02)
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @Html.LabelFor(model => model.OtherInsuredPlanName, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @Html.TextBoxFor(model => model.OtherInsuredPlanName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherInsuredPlanName)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>10. IS PATIENT'S CONDITION RELATED TO</label>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Employment, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.Employment, "yes", new { @class = "normal-radio", @id = "EmploymentYes" })
                                <label for="EmploymentYes"><span></span>YES</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.Employment, "no", new { @class = "normal-radio", @id = "EmploymentNo" })
                                <label for="EmploymentNo"><span></span>NO</label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Employment)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.AutoAccident, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.AutoAccident, "yes", new { @class = "normal-radio", @id = "AccAccYes" })
                                @*@Html.Label("AccAccYes")*@
                                <label for="AccAccYes"><span></span>Yes</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.AutoAccident, "no", new { @class = "normal-radio", @id = "AccAccNo" })
                                <label for="AccAccNo"><span></span>NO</label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.AutoAccident)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.OtherAccident, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.OtherAccident, "yes", new { @class = "normal-radio", @id = "OtherAccYes" })
                                <label for="OtherAccYes"><span></span>YES</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.OtherAccident, "no", new { @class = "normal-radio", @id = "OtherAccNo" })
                                <label for="OtherAccNo"><span></span>NO</label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.OtherAccident)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ClaimCodes, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.ClaimCodes, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.ClaimCodes)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td colspan="2">
                        <label>11.</label> @Html.LabelFor(model => model.SubscriberGroup_PolicyNo, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.TextBoxFor(model => model.SubscriberGroup_PolicyNo, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SubscriberGroup_PolicyNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>A.</label>@Html.LabelFor(model => model.SubscriberBirthDate, new { @class = "cms_label" })
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberBirthDate, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                        @Html.ValidationMessageFor(model => model.SubscriberBirthDate)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.SubscriberGenders, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                @Html.RadioButtonFor(model => model.SubscriberGenders, "m", new { @class = "normal-radio", @id = "SubGenderM" })
                                <label for="SubGenderM"><span></span>M</label>
                                @*@Html.Label("M")*@
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                @Html.RadioButtonFor(model => model.SubscriberGenders, "f", new { @class = "normal-radio", @id = "SubGenderF" })
                                <label for="SubGenderF"><span></span>F</label>
                                @*@Html.Label("F")*@
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                @Html.RadioButtonFor(model => model.SubscriberGenders, "o", new { @class = "normal-radio", @id = "SubGenderO" })
                                <label for="SubGenderO"><span></span>O</label>
                                @*@Html.Label("OTHER")*@
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.SubscriberGenders)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>B.</label>@Html.LabelFor(model => model.OtherClaimId, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.OtherClaimId, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherClaimId)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.OtherClaimQual, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherClaimQual)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>C.</label>@Html.LabelFor(model => model.SubscriberGroup_PlanName, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberGroup_PlanName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SubscriberGroup_PlanName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>D.</label>@Html.LabelFor(model => model.HealthBenefitPlan, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.HealthBenefitPlan, "yes", new { @class = "normal-radio", @id = "" })
                                <label for=""><span></span>YES</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.HealthBenefitPlan, "no", new { @class = "normal-radio", @id = "" })
                                <label for=""><span></span>NO</label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.HealthBenefitPlan)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @* --------------------------------- *@
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 cms_div">
            <label>12.</label> @Html.LabelFor(model => model.SupplierSignatureIndicator, new { @class = "cms_label" })
            <table>
                <tr>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.SupplierSignatureIndicator, "yes", new { @class = "normal-radio", @id = "SupplierSignatureIndicatorY" })
                                <label for="SupplierSignatureIndicatorY"><span></span>YES</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.SupplierSignatureIndicator, "no", new { @class = "normal-radio", @id = "SupplierSignatureIndicatorN" })
                                <label for="SupplierSignatureIndicatorN"><span></span>NO</label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.SupplierSignatureIndicator)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.PatientOrAuthorizedSignatureDate, new { @class = "cms_label" })
                        @Html.TextBoxFor(model => model.PatientOrAuthorizedSignatureDate, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                        @Html.ValidationMessageFor(model => model.PatientOrAuthorizedSignatureDate)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>13.</label> @Html.LabelFor(model => model.InsuredSignatureIndicator, new { @class = "cms_label" })
            <table>
                <tr>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.InsuredSignatureIndicator, "yes", new { @class = "normal-radio", @id = "InsuredSignatureIndicatorY" })
                                <label for="InsuredSignatureIndicatorY"><span></span>YES</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.InsuredSignatureIndicator, "no", new { @class = "normal-radio", @id = "InsuredSignatureIndicatorN" })
                                <label for="InsuredSignatureIndicatorN"><span></span>NO</label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.InsuredSignatureIndicator)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>14.</label> @Html.Label("DATE OF CURRENT ILLNESS,INJURY OR PREGNANCY(LMP)", new { @class = "cms_label" })
            <table>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.DateOfCurrentIllness, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                        @Html.ValidationMessageFor(model => model.DateOfCurrentIllness)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.DateOfCurrentIllnessQual, new { @class = "cms_label" })
                        @* @Html.DropDownListFor(model => model.DateOfCurrentIllnessQual, Qual1, new { @class = "form-control input-xs non_mandatory_field_halo dropdown_selector" })*@
                        @Html.TextBoxFor(model => model.DateOfCurrentIllnessQual, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                        @Html.ValidationMessageFor(model => model.ReferringProviderLastName)
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>15.</label> @Html.LabelFor(model => model.OtherDate, new { @class = "cms_label" })
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.OtherDate, new { @class = "cms_label" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.OtherDateQual, new { @class = "cms_label" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.OtherDate, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                        @Html.ValidationMessageFor(model => model.OtherDate)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.OtherDateQual, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                        @Html.ValidationMessageFor(model => model.OtherDateQual)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>16.</label> @Html.Label("PATIENT UNABLE TO WORK IN CURRENT OCCUPATION", new { @class = "cms_label" })

            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PatientUnableToWorkFrom)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PatientUnableToWorkFrom, new { @class = "form-control input-xs non_mandatory_field_halo dob_field", placeholder = "MM/DD/YYYY" })
                        @Html.ValidationMessageFor(model => model.PatientUnableToWorkFrom)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PatientUnableToWorkTo)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PatientUnableToWorkTo, new { @class = "form-control input-xs non_mandatory_field_halo dob_field", placeholder = "MM/DD/YYYY" })
                        @Html.ValidationMessageFor(model => model.PatientUnableToWorkTo)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>17.</label> @Html.Label("NAME OF THE REFERRING PROVIDER OR OTHER SOURCE", new { @class = "cms_label" })
            <table>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.ReferringProviderQual, new { @class = "form-control input-xs non_mandatory_field_halo " })
                        @Html.ValidationMessageFor(model => model.ReferringProviderQual)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ReferringProviderLastName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.ReferringProviderLastName)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberGroup_PlanName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.ReferringProviderMiddleName)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.SubscriberGroup_PlanName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.ReferringProviderMiddleName)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td>
                        <label>17A.</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PhysicianQualifier, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PhysicianQualifier)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.PhysicianDescription, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PhysicianDescription)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>17B.</label>
                    </td>
                    <td>
                        @Html.LabelFor(model => model.ReferringProviderIdentifier)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ReferringProviderIdentifier, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.ReferringProviderIdentifier)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <label>18.</label> @Html.Label("HOSPITALIZATION DATES RELATED TO CURRENT SERVICE", new { @class = "cms_label" })

            <table>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.CurrentServiceFrom)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.CurrentServiceFrom, new { @class = "form-control input-xs non_mandatory_field_halo dob_field", placeholder = "MM/DD/YYYY" })
                        @Html.ValidationMessageFor(model => model.CurrentServiceFrom)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.CurrentServiceTo)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.CurrentServiceTo, new { @class = "form-control input-xs non_mandatory_field_halo dob_field", placeholder = "MM/DD/YYYY" })
                        @Html.ValidationMessageFor(model => model.CurrentServiceTo)
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 cms_div">
            <table>
                <tr>
                    <td>
                        <label>19.</label> @Html.LabelFor(model => model.AdditionalClaimsInfo)

                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.AdditionalClaimsInfo, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.AdditionalClaimsInfo)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td>
                        <label>20.</label> @Html.LabelFor(model => model.OutSideLab)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.Charges)
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.OutSideLab, "yes", new { @class = "normal-radio", @id = "OutSideLabY" })
                                <label for="OutSideLabY"><span></span>YES</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.OutSideLab, "no", new { @class = "normal-radio", @id = "OutSideLabN" })
                                <label for="OutSideLabN"><span></span>NO</label>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Charges, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.Charges)
                    </td>
                </tr>
            </table>
        </div>
    </div>


    @* ----------------------------------DIGNOSIS POINTER------------------- *@
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 cms_div">
            <table>
                <tr>
                    <td colspan="4"> <label for="fullname" class="los_labels">21. DIAGNOSIS OR NATURE OF ILLNESS OR INJURY</label></td>
                    <td>
                        @*@Html.TextBoxFor(model => model.ICDIndicator, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "icd" })*@
                        @Html.DropDownListFor(model => model.ICDIndicator, ICDType, new { @class = "input-xs icdtype_selector pull-right" })
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>A.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness1, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "1" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness1)
                    </td>
                    <td>
                        <label>B.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness2, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "2" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness2)
                    </td>
                    <td>
                        <label>C.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness3, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "3" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness3)
                    </td>
                    <td>
                        <label>D.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness4, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "4" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness4)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>E.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness5, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "5" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness5)
                    </td>
                    <td>
                        <label>F.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness6, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "6" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness6)
                    </td>
                    <td>
                        <label>G.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness7, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "7" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness7)
                    </td>
                    <td>
                        <label>H.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness8, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "8" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness8)
                    </td>
                </tr>
                <tr>

                    <td>
                        <label>I.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness9, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "9" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness9)
                    </td>
                    <td>
                        <label>J.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness10, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "10" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness10)
                    </td>
                    <td>
                        <label>K.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness11, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "11" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness11)
                    </td>
                    <td>
                        <label>L.</label>
                        @Html.TextBoxFor(model => model.claimsNatureOfIllness12, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "12" })
                        @Html.ValidationMessageFor(model => model.claimsNatureOfIllness12)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td>
                        <label>22.</label> @Html.LabelFor(model => model.ResubmissionCode)
                    </td>
                    <td>
                        @Html.LabelFor(model => model.OriginalReferenceNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.ResubmissionCode, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.ResubmissionCode)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.OriginalReferenceNo, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OriginalReferenceNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>23.</label> @Html.LabelFor(model => model.PriorAuthorizationNo)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.PriorAuthorizationNo, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PriorAuthorizationNo)
                    </td>
                </tr>
            </table>

        </div>
    </div>


    @* ----------------------------service line------------------------------------- *@
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serviceline_section">
            <table class="table table-responsive small table-bordered">
                <tbody id="DOStableBody">
                    <tr>
                        <th colspan="2">
                            <label class="cms_label">24 A. Date(s) of service</label>
                        </th>
                        <th rowspan="2">
                            <label class="cms_label">B.<br /> Place of Service</label>
                        </th>
                        <th rowspan="2">
                            <label class="cms_label">C.<br /> EMG</label>
                        </th>
                        <th colspan="5">
                            <label class="cms_label">D. Procedures,Services or supplies</label>
                        </th>
                        <th rowspan="2" colspan="4">
                            <label class="cms_label">E.<br /> Diagnosis Pointer</label>
                        </th>
                        <th rowspan="2">
                            <label class="cms_label">F.<br /> Unit charges<br /> ($)</label>
                        </th>
                        <th rowspan="2">
                            <label class="cms_label">G.<br /> Days and unit</label>
                        </th>
                        <th rowspan="2">
                            <label class="cms_label">Charges<br /> ($)</label>
                        </th>
                        <th rowspan="2">
                            <label class="cms_label">H.<br /> EPSDT</label>
                        </th>
                        <th rowspan="2">
                            <label class="cms_label">I.<br /> ID Qual</label>
                        </th>
                        <th rowspan="2">
                            <label class="cms_label">J.<br /> Rendering<br /> provider ID</label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label class="cms_label">FROM (MM/DD/YYYY)</label>
                        </th>
                        <th>
                            <label class="cms_label">TO (MM/DD/YYYY)</label>
                        </th>
                        <th>
                            <label class="cms_label">CPT/HCPCS</label>
                        </th>
                        <th colspan="4">
                            <label class="cms_label">Modifier</label>
                        </th>
                    </tr>

                    @foreach (var item in Model.ServiceLines)
                    {
                        <tr id="TableRowData">
                            <td>
                                @Html.TextBoxFor(model => model.DateOfServiceFrom, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => model.DateOfServiceFrom)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.DateOfServiceTo, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => model.DateOfServiceTo)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.PlaceOfService, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => model.PlaceOfService)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.EMG, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.EMG)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.claimsProcedure, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.Modifier1)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.Modifier1, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.Modifier1)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.Modifier2, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.Modifier2)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.Modifier3, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.Modifier3)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.Modifier4, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.Modifier4)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.DiagnosisPointer1, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.DiagnosisPointer1)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.DiagnosisPointer2, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.DiagnosisPointer2)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.DiagnosisPointer3, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.DiagnosisPointer3)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.DiagnosisPointer4, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.DiagnosisPointer4)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.UnitCharges, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.UnitCharges)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.Unit, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.Unit)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.UnitCharges, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.UnitCharges)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => item.EPSDT, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => item.EPSDT)
                            </td>
                            <td>
                                NPI
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.RenderingProviderNPI, new { @class = "form-control input-xs non_mandatory_field_halo" })
                                @Html.ValidationMessageFor(model => model.RenderingProviderNPI)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <button class="light-green-button pull-right" id="AddNewRowInForm"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>


    @* -----------------------write code below---------------------- *@
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td><label>25.</label>. @Html.LabelFor(model => model.BillingProviderEmployeeID, new { @class = "cms_label" })</td>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.BillingProviderTaxIDQual, "ssn", new { @class = "normal-radio", @id = "BillingProviderTaxIDQualY" })
                                @*@Html.Label("SSN", new { @class = "cms_label" })*@
                                <label for="BillingProviderTaxIDQualY"><span></span>SSN</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.BillingProviderTaxIDQual, "ein", new { @class = "normal-radio", @id = "BillingProviderTaxIDQualN" })
                                @*@Html.Label("EIN", new { @class = "cms_label" })*@
                                <label for="BillingProviderTaxIDQualN"><span></span>EIN</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderEmployeeID, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingProviderEmployeeID)
                    </td>

                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td><label>26.</label> @Html.LabelFor(model => model.PatientAccountNumber, new { @class = "cms_label" })</td>
                    <td><label>27.</label> @Html.LabelFor(model => model.AcceptanceAssignment, new { @class = "cms_label" })</td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.PatientAccountNumber, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.PatientAccountNumber)
                    </td>
                    <td>
                        <div class="x_content">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.OutSideLab, "yes", new { @class = "normal-radio", @id = "OutSideLabYY" })
                                <label for="OutSideLabYY"><span></span>YES</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                @Html.RadioButtonFor(model => model.OutSideLab, "no", new { @class = "normal-radio", @id = "OutSideLabNN" })
                                <label for="OutSideLabNN"><span></span>NO</label>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td><label>28.</label><br /> @Html.LabelFor(model => model.TotalCharges, new { @class = "cms_label" })</td>
                    <td><label>29.</label><br /> @Html.LabelFor(model => model.AmountPaid, new { @class = "cms_label" })</td>
                    <td><label>30.</label><br />@Html.LabelFor(model => model.OtherInsuredNUCCUse03, new { @class = "cms_label" })</td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model.TotalCharges, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.TotalCharges)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.AmountPaid, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.AmountPaid)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.OtherInsuredNUCCUse03, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OtherInsuredNUCCUse03)
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.InitialTreatmentDate, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.InitialTreatmentDate, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                        @Html.ValidationMessageFor(model => model.InitialTreatmentDate)
                    </td>
                </tr>
                <tr>
                    @*<td>@Html.LabelFor(model => model.LastSeenDate, new { @class = "cms_label" })</td>*@
                    <td><label class="cms_label">LATEST VISIT OR<br /> CONSULTATION DATE</label></td>
                    <td>
                        @Html.TextBoxFor(model => model.LastSeenDate, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                        @Html.ValidationMessageFor(model => model.LastSeenDate)
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("SUPERVISING PHYSICIAN", new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.SupervisingProviderLastName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SupervisingProviderLastName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.SupervisingProviderFirstName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SupervisingProviderFirstName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.SupervisingProviderMiddleName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SupervisingProviderMiddleName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.SupervisingProviderIdentifier1, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.SupervisingProviderIdentifier1, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SupervisingProviderIdentifier1)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.SupervisingProviderIdentifier2, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.SupervisingProviderIdentifier2, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.SupervisingProviderIdentifier2)
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("ORDERING PHYSICIAN", new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.OrderingProviderLastName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OrderingProviderLastName)
                    </td>


                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.OrderingProviderFirstName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OrderingProviderFirstName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.OrderingProviderMiddleName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OrderingProviderMiddleName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.OrderingProviderIdentifier1, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.OrderingProviderIdentifier1, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OrderingProviderIdentifier1)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.OrderingProviderIdentifier2, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.OrderingProviderIdentifier2, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.OrderingProviderIdentifier2)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ReferringCLIA_Number, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.ReferringCLIA_Number, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.ReferringCLIA_Number)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.AccidentDate, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.AccidentDate, new { @class = "form-control input-xs non_mandatory_field_halo dob_field" })
                        @Html.ValidationMessageFor(model => model.AccidentDate)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.MammographyCertificate, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.MammographyCertificate, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.MammographyCertificate)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 cms_div">
            <label>32.</label> @Html.Label("SERVICE FACILITY LOCATION AND INFORMATION", new { @class = "cms_label" })
            <table>
                <tr>
                    <td>@Html.LabelFor(model => model.FacilityName, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.FacilityName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.FacilityName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.FacilityAddress1, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.FacilityAddress1, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.FacilityAddress1)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.FacilityAddress2, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.FacilityAddress2)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.FacilityCity, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.FacilityCity, new { @class = "form-control input-xs non_mandatory_field_halo city_field" })
                        @Html.ValidationMessageFor(model => model.FacilityCity)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.FacilityState, new { @class = "cms_label" })</td>
                    <td>
                        @Html.DropDownListFor(model => model.FacilityState, state, new { @class = "form-control input-xs non_mandatory_field_halo state_field" })
                        @Html.ValidationMessageFor(model => model.FacilityState)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.FacilityZip, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.FacilityZip, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.FacilityZip)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.FacilityIdentifier1, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.FacilityIdentifier1, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.FacilityIdentifier1)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.FacilityIdentifier2, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.FacilityIdentifier2, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.FacilityIdentifier2)
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 cms_div">
            <label>33.</label> @Html.Label("BILLING PROVIDER INFO AND #PHONE", new { @class = "cms_label" })
            <table>
                <tr>
                    <td>@Html.Label("BILLING PROVIDER", new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderLastOrOrganizationName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingProviderLastOrOrganizationName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderFirstName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingProviderFirstName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderMiddleName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingProviderMiddleName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingProviderFirstAddress, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderFirstAddress, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingProviderFirstAddress)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingProviderSecondAddress, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderSecondAddress, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingProviderSecondAddress)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingProviderCity, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderCity, new { @class = "form-control input-xs non_mandatory_field_halo city_field" })
                        @Html.ValidationMessageFor(model => model.BillingProviderCity)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingProviderState, new { @class = "cms_label" })</td>
                    <td>
                        @Html.DropDownListFor(model => model.BillingProviderState, state, new { @class = "form-control input-xs non_mandatory_field_halo state_field" })
                        @Html.ValidationMessageFor(model => model.BillingProviderState)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingProviderZip, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderZip, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingProviderZip)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingProviderPhoneNo, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderPhoneNo, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingProviderPhoneNo)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingProviderTaxonomy, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingProviderTaxonomy, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingProviderTaxonomy)
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("RENDERING PROVIDER", new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.RenderingProviderLastOrOrganizationName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.RenderingProviderLastOrOrganizationName)
                    </td>

                </tr>
                <tr>
                    <td>@Html.Label("(LAST,FIRST,MI)", new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.RenderingProviderFirstName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.RenderingProviderFirstName)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.TextBoxFor(model => model.RenderingProviderMiddleName, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.RenderingProviderMiddleName)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.RenderingProviderTaxonomy, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.RenderingProviderTaxonomy, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.RenderingProviderTaxonomy)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.RenderingProviderNPI, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.RenderingProviderNPI, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.RenderingProviderNPI)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.RenderingProviderPin, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.RenderingProviderPin, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.RenderingProviderPin)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingGroupNPI, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingGroupNPI, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingGroupNPI)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingGroupNumber, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingGroupNumber, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingGroupNumber)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BillingGroupIdQual, new { @class = "cms_label" })</td>
                    <td>
                        @Html.TextBoxFor(model => model.BillingGroupIdQual, new { @class = "form-control input-xs non_mandatory_field_halo" })
                        @Html.ValidationMessageFor(model => model.BillingGroupIdQual)
                    </td>
                </tr>
            </table>
        </div>
    </div>


</form>

<div id="cms1500Buttons" class="margin_top_20_px button-styles clearfix">
    <button class="btn btn-warning btn-xs pull-left backToClaimList">Back</button>
    <button class="btn btn-info btn-xs pull-right nextCumPrevious"><i class="fa fa-arrow-right"></i> Next</button>
    <button class="btn btn-info btn-xs pull-right nextCumPrevious"><i class="fa fa-arrow-left"></i> Previous</button>

    <button class="btn btn-success btn-xs pull-right backToClaimList">Save</button>
 
    @*<button class="view-button pull-right" id="SaveCMS1500Btn">Save and Proceed</button>*@
</div>

<div class="col-lg-12"><br /></div>

<script src="~/Areas/Billing/Scripts/AppJs/FileManagement/Unminified/cmsFormEdit.js"></script>