@model List<PortalTemplate.Areas.Billing.Models.File_Management.File999ViewModel>
@foreach (var item in Model)
{
    <tr data-container="@item.FileName">
        <td>@item.ControlNumber</td>
        <td>@item.FileName</td>
        <td>@item.Sender</td>
        <td>@item.Receiver</td>
        <td>@item.DateOfCreation.Value.ToShortDateString()</td>
        <td>@item.AgeInDays</td>
        <td>@item.Status</td>
        <td><a target="_blank" class="btn btn-info btn-xs BillingFMDownload" data-toggle="tooltip" title="Download" href="/Billing/FileManagement/DownloadFile?FileKey=@item.FileKey&ApplicaionOrGroupName=@item.ApplicaionOrGroupName&RegisterUserName=@item.RegisterUserName&FileName=@item.FileName"><i class="fa fa-download"></i></a></td>
    </tr>
}
