@model List<PortalTemplate.Areas.Billing.Models.File_Management.File835>
@foreach (var item in Model)
{
    <tr data-container="@item.FileID" data-checknumber="@item.CheckNumber">
        <td>
            @item.PayerName
        </td>
        <td>
            @item.PayeeName
        </td>
        <td>
            @item.PayeeID
        </td>
        <td>
            @(item.CheckIssueDate != null ? item.CheckIssueDate.Value.ToShortDateString() : "")
        </td>
        <td>
            @item.TotalPaymentAmount
        </td>
        <td>
            @item.CheckNumber
        </td>
        <td>
            @item.FileName
        </td>
        <td>
            <button class="btn btn-info btn-xs  margin_left_12px 835viewBtn" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></button>
            <a target="_blank" class="btn btn-info btn-xs BillingFMDownload" data-toggle="tooltip" title="Download" href="/Billing/FileManagement/DownloadFile?FileKey=@item.FileKey&ApplicaionOrGroupName=@item.ApplicaionOrGroupName&RegisterUserName=@item.RegisterUserName&FileName=@item.FileName"><i class="fa fa-download"></i></a>

        </td>
    </tr>
}