@model List<PortalTemplate.Areas.Billing.Models.File_Management.ClaimList>
@foreach (var item in Model)
{
    <tr data-container="@item.FileName">
        <td>@item.ClaimNumber</td>
        <td>@item.MemLastName&nbsp;@item.MemFirstName</td>
        <td>@item.ProviderLastName&nbsp;@item.ProviderFirstName</td>
        <td>@item.PayerName</td>
        <td>@(item.DOSFrom != null ? item.DOSFrom.Value.ToShortDateString() : "") to @(item.DOSTo != null ? item.DOSTo.Value.ToShortDateString() : "")</td>
        <td>@(item.DateCreated != null ? item.DateCreated.Value.ToShortDateString() : "")</td>
        <td>$@item.Amount</td>
        <td>@item.ClaimType</td>
        <td>@item.AgeOfDOC</td>
        <td>@item.AgeOfDOS</td>
        <td>@item.Status</td>
    </tr>
}