@model List<PortalTemplate.Areas.Billing.Models.File_Management.File835ProviderInfo>
@foreach (var item in Model)
{
    <tr data-container="@item.InterKey">
        <td>
            <input class="normal-checkbox" id="835provider" name="835provider" type="checkbox" value="true"><label><span></span>&nbsp;</label>
            @( ((Int32)1) + @Model.IndexOf(item))
        </td>
        <td>
            @item.RenderingProviderNPI
        </td>
        <td>
            @item.RenderingProviderLastName
        </td>
        <td>
            @item.RenderingProviderFirstName
        </td>
        <td>
            @item.NoOfClaims
        </td>
        <td>
            TOTAL CLAIMED:@item.AmountClaimed<br />
            TOTAL RECEIVED:@item.AmountReceived
        </td>
        <td>
            <button class="btn btn-xs btn-info margin_left_12px viewEOBBtn">EOB</button>
        </td>
    </tr>
}
