@model AHC.CD.WebUI.MVC.Models.EmailService.EmailServiceViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@*<script>
        var emails = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Emails));
    </script>*@

<script>
    var SentEmails = @Html.Raw(Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.SentMails.Result));
    var FollowUpEmails = @Html.Raw(Newtonsoft.Json.JsonConvert.DeserializeObject(ViewBag.FollowUpMails.Result));
    console.log(SentEmails);
    console.log(FollowUpEmails);
</script>

<style>
    /* custom inclusion of right, left and below tabs */
    .progress-wrapper {
        position: relative;
        margin: auto;
        font-size: 14px;
    }

    .progress {
        position: absolute;
        font-weight: 100;
        line-height: 2;
        background-image: none;
    }

    .tabs-below > .nav-tabs,
    .tabs-right > .nav-tabs,
    .tabs-left > .nav-tabs {
        border-bottom: 0;
    }

    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
        display: none;
    }

    .tab-content > .active,
    .pill-content > .active {
        display: block;
    }

    .tabs-below > .nav-tabs {
        border-top: 1px solid #ddd;
    }

        .tabs-below > .nav-tabs > li {
            margin-top: -1px;
            margin-bottom: 0;
        }

            .tabs-below > .nav-tabs > li > a {
                -webkit-border-radius: 0 0 4px 4px;
                -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;
            }

                .tabs-below > .nav-tabs > li > a:hover,
                .tabs-below > .nav-tabs > li > a:focus {
                    border-top-color: #ddd;
                    border-bottom-color: transparent;
                }

        .tabs-below > .nav-tabs > .active > a,
        .tabs-below > .nav-tabs > .active > a:hover,
        .tabs-below > .nav-tabs > .active > a:focus {
            border-color: transparent #ddd #ddd #ddd;
        }

    .tabs-left > .nav-tabs > li,
    .tabs-right > .nav-tabs > li {
        float: none;
    }

        .tabs-left > .nav-tabs > li > a,
        .tabs-right > .nav-tabs > li > a {
            min-width: 74px;
            margin-right: 0;
            margin-bottom: 3px;
        }

    .tabs-left > .nav-tabs {
        float: left;
        margin-right: 19px;
        border-right: 1px solid #ddd;
    }

        .tabs-left > .nav-tabs > li > a {
            margin-right: -1px;
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

            .tabs-left > .nav-tabs > li > a:hover,
            .tabs-left > .nav-tabs > li > a:focus {
                border-color: #eeeeee #dddddd #eeeeee #eeeeee;
            }

        .tabs-left > .nav-tabs .active > a,
        .tabs-left > .nav-tabs .active > a:hover,
        .tabs-left > .nav-tabs .active > a:focus {
            border-color: #ddd transparent #ddd #ddd;
            *border-right-color: #ffffff;
        }

    .tabs-right > .nav-tabs {
        float: right;
        margin-left: 19px;
        border-left: 1px solid #ddd;
    }

        .tabs-right > .nav-tabs > li > a {
            margin-left: -1px;
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
        }

            .tabs-right > .nav-tabs > li > a:hover,
            .tabs-right > .nav-tabs > li > a:focus {
                border-color: #eeeeee #eeeeee #eeeeee #dddddd;
            }

        .tabs-right > .nav-tabs .active > a,
        .tabs-right > .nav-tabs .active > a:hover,
        .tabs-right > .nav-tabs .active > a:focus {
            border-color: #ddd #ddd #ddd transparent;
            *border-left-color: #ffffff;
        }
</style>

<style>
    .TemplateSelectAutoList.popover.bottom {
        margin-top: 30px;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0px;
    }

    .TemplateSelectAutoList {
        display: inherit;
        left: 0%;
        width: 90%;
        margin-left: 15px;
        /*margin-left: 35px;*/
        margin-right: 15px;
        overflow-y: scroll;
        max-height: 222px;
    }

    .TemplateSelectAutoList {
        max-width: 100%;
    }

        .TemplateSelectAutoList.popover {
            border-radius: 0px;
        }

        /*.TemplateSelectAutoList.popover.bottom {
                margin-top: 56px;
            }*/

        .TemplateSelectAutoList > table > tbody > tr:hover {
            background-color: #337FC1;
            color: white;
        }

    .removeBorder {
        border-top-color: white;
    }

    .field-validation-valid {
        display: none;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<style>
    .ui-autocomplete {
        max-height: 110px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        font-family: 'Comic Sans MS';
    }

    .lblcss {
        color: #333;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

        .lblcss > button {
            padding-left: 10px;
            color: #b94a48;
        }

        .lblcss > .eye {
            padding-left: 10px;
            color: #b94a48;
        }

    .select-page {
        width: 50px;
        text-align: center;
    }


    .pagination li a input {
        padding: 0;
        margin: -5px 0;
    }
</style>

@section AddToHead{
    <script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="~/Scripts/Lib/Bootstrap/jasny-bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Lib/FoolProofValidation/mvcfoolproof.unobtrusive.min.js"></script>
    <link href="~/Content/SharedCss/jasny-bootstrap.css" rel="stylesheet" />

    <link href="~/Content/SharedCss/AngularStrapDatepicker.css" rel="stylesheet" />
    <link href="~/Content/SharedCss/Colorpicker.css" rel="stylesheet" />
    <script src="~/Scripts/Lib/CDN%20Service/angular-strap.min.js"></script>
    <script src="~/Scripts/Lib/CDN%20Service/angular-strap.tpl.min.js"></script>
    <script src="~/Scripts/Lib/bootstrap-colorpicker-module.js"></script>
    <script src="~/Areas/Profile/Scripts/JavaScripts/roundProgress.min.js"></script>
    <script src="~/Scripts/Lib/angular-wysiwyg.js"></script>

    <link href="~/Content/SharedCss/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/Lib/Jquery/jquery-ui.js"></script>
    <script src="~/Scripts/Lib/Angular/smart-table.js"></script>
    <link href="~/Content/SharedCss/SmartTable.css" rel="stylesheet" />

    @*<a href="~/Scripts/Custom/Emails/EmailJson.txt">~/Scripts/Custom/Emails/EmailJson.txt</a>*@
    <script src="~/Scripts/Custom/Emails/Emails.js"></script>


    <script src="~/Scripts/Custom/Emails/Directive/EmailAppDirectives.js"></script>
    <script src="~/Scripts/Custom/Emails/Factory/EmailAppFactory.js"></script>
    <script src="~/Scripts/Custom/Emails/Service/EmailAppService.js"></script>
    <script src="~/Scripts/Custom/Emails/Controller/EmailAppController.js"></script>
    <script src="~/Scripts/Custom/Emails/PageSelect.js"></script>
    <script src="~/Scripts/Lib/Angular/textAngular.min.js"></script>
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    var roles = Context.GetOwinContext().GetUserManager<AHC.CD.WebUI.MVC.ApplicationUserManager>().GetRoles(User.Identity.GetUserId());

    <br />
    <div id="page-wrapper" style="margin-top:30px;" ng-app="EmailApp">
        <div class="container-fluid" ng-controller="EmailController as mc" ng-cloak>

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Dashboard/Index">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-search"></i> Emails
                        </li>
                    </ol>
                </div>
            </div>

            <div class="panel panel-default content-panel">
                <div class="panel-heading">
                    My Emails
                </div>
                <div class="panel-body">
                    <div style="clear:both;"></div>
                    <br />
                    <div>
                        <div ng-show="compose" id="newOtherLegalFormDiv">
                            <form id="newEmailForm">
                                <div class="col-lg-12 zero-padding-left-right-div ng-scope">

                                    @Html.HiddenFor(model => model.StatusType, new { ng_value = "1" })
                                    <div class="col-md-3 form-group">
                                        <label class="control-label small">Use Existing Template</label>
                                        <div class="radio" ng-init="tempObject.SaveAsTemplateYesNoOption = '2'">
                                            @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                                            {
                                                <label class="radio-inline">
                                                    @Html.RadioButtonFor(model => model.SaveAsTemplateYesNoOption, (int)value, new { data_ng_model = "tempObject.SaveAsTemplateYesNoOption", data_ng_click = "changeYesNoOption(" + (int)value + ")" }) @value.ToString()
                                                </label>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 form-group pull-right" ng-if="tempObject.SaveAsTemplateYesNoOption == 1">
                                        <label class="control-label small">Select Template</label>
                                        <input class="form-control input-sm" ng-model="tempObject.Title" data-searchdropdown="searchdropdown" placeholder="select Template" />
                                        <input type="hidden" data-ng-model="tempObject.EmailTemplateID" id="EmailTemplateID" name="EmailTemplateID" value="{{tempObject.EmailTemplateID}}" />
                                        <div class="TemplateSelectAutoList popover fade bottom in" role="tooltip" style="margin-top: 55px;">
                                            <table class="table table-striped table-bordered table-hover table-condensed" @*style="margin-top: 55px;"*@>
                                                <tbody>
                                                    <tr ng-repeat="type in ftemplates = (templateData | filter:tempObject.Title) track by $index" ng-click="hideDiv(); tempObject.Subject = type.Subject;tempObject.Title = type.Title; tempObject.Body = type.Body;showContent();" class="pointer">
                                                        <td>{{type.Title}}</td>
                                                    </tr>
                                                    <tr ng-if="templates.length == 0">
                                                        <td>No data..... </td>
                                                    </tr>
                                                    <tr ng-if="templates.length > 0 && ftemplates.length == 0">
                                                        <td>Template not found..... </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div ng-if="templateSelected">
                                        <div class="col-lg-12 form-group">
                                            <label class="control-label small">To *</label>
                                            @*@Html.TextBoxFor(model => model.To, new { @class = "form-control input-sm", type = "email", data_ng_model = "tempObject.To", data_val_regex="Mail ID Not found.",data_val_regex_pattern="^[a-z0-9.]+@[a-z]+.[a-z]{2,5}$",data_val="true" })*@
                                            @*@Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })*@
                                            @*<input name="tags" id="tags" value="foo,bar,baz" class="form-control input-sm" type="email"  data-ng-model="tempObject.To"  data-val-regex="Mail ID Not found." data-val-regex-pattern="^[a-z0-9.]+[a-z]+.[a-z]{2,5}$" data-val="true" />*@
                                            <div class="ui-widget">
                                                <input name="To" class="form-control col-lg-10" id="tags" ng-model="emailsfill" ng-change="emailsAutoFill()" />
                                                <p ng-if="errmsgforTo" class="text-danger">Invalid Email...</p>
                                                <p ng-if="errmsg" class="text-danger">Enter atleast one Email Id...</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">Cc</label>
                                            @*@Html.TextBoxFor(model => model.CC, new { @class = "form-control input-sm", data_ng_model = "tempObject.CC",type = "email", data_val_regex = "Please enter the valid email address.", data_val_regex_pattern = "^[a-z0-9.]+@[a-z]+.[a-z]{2,5}$",data_val="true"})
                                                @Html.ValidationMessageFor(model => model.CC, "", new { @class = "text-danger" })*@
                                            <div class="ui-widget">
                                                <input name="CC" class="form-control col-lg-10" id="tagsCC" />
                                                <p ng-if="errmsgforCC" class="text-danger">Invalid Email...</p>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">Bcc</label>
                                            @*@Html.TextBoxFor(model => model.BCC, new { @class = "form-control input-sm", type= "email", data_ng_model = "tempObject.BCC", data_val_regex = "Please enter the valid email address.", data_val_regex_pattern = "^[a-z0-9.]+@[a-z]+.[a-z]{2,5}$", data_val = "true" })
                                                @Html.ValidationMessageFor(model => model.BCC, "", new { @class = "text-danger" })*@
                                            <div class="ui-widget">
                                                <input name="BCC" class="form-control col-lg-10" id="tagsBCC" />
                                                <p ng-if="errmsgforBCC" class="text-danger">Invalid Email...</p>
                                            </div>

                                        </div>
                                        <input name="EmailAttachments[{{$index}}].AttachmentServerPath" hidden ng-repeat="Files in fileList track by $index" value="{{Files.File[0].relativePath}}" />
                                        <input name="EmailAttachments[{{$index}}].AttachmentRelativePath" hidden ng-repeat="Files in fileList track by $index" value="{{Files.File[0].path}}" />
                                        <div class="clearfix"></div>
                                        <div class="form-group col-md-12">
                                            <div class="col-lg-12 zero-padding-left-right-div">
                                                <label class="control-label small">Add Attachment</label>
                                                <input type='file' id='file' name='file' multiple onchange="angular.element(this).scope().setFile(this)" style=" width:0; height:0;" />
                                                <input type="button" class="btn btn-xs btn-default" id="btn-upload" ng-click="addingDocument()" tooltip data-toggle="tooltip" data-placement="top" title="Add Document" value="Attach File..." />
                                            </div>
                                            <br />
                                            <div class="col-lg-6" style="padding-top: 5px; " ng-if="fileList.length>0">
                                                <div class="label lblcss" ng-repeat="file in fileList" style="box-sizing: border-box; overflow: hidden; float: left; width: 100%">
                                                    @*overflow: hidden; float: left; width: 100%*@
                                                    <a class="col-lg-10 wraptext" style="text-align: -webkit-auto" target=" _blank" href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{file.File[0].path}}">
                                                        <span class=""><span class="wrap-words">{{file.File[0].file.name}}</span></span>
                                                    </a>
                                                    <span class="progress-wrapper" ng-show="current<100">
                                                        <div class="progress" style="width: 459px">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{current}}" aria-valuemin="0" aria-valuemax="100" ng-style="width:{{current}}%">

                                                            </div>
                                                        </div>

                                                    </span>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <i class="fa fa-close pointer pull-right" tooltip data-toggle="tooltip" data-placement="top" title="Remove" ng-click="removeFile($index,file)"></i>
                                                    @*<button class=" btn-xs btn-danger" tooltip data-toggle="tooltip" data-placement="top" title="Remove" ng-click="removeFile($index,file)"><i class="fa fa-close"></i></button>*@
                                                    <br />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label small">Subject *</label>
                                            <div>
                                                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control input-sm", data_ng_model = "tempObject.Subject" })
                                                @Html.ValidationMessageFor(model => model.Subject, "Please provide details for 'Subject' field", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="col-md-12 form-group">
                                            <label class="control-label small">Body*</label>
                                            <wysiwyg textarea-id="wysiwygBody" textarea-class="form-control" textarea-height="400px" textarea-style="width:100%;resize: none;overflow-y: scroll;" textarea-name="wysiwygBody" textarea-required ng-model="tempObject.Body" enable-bootstrap-title="true"></wysiwyg>
                                            @Html.HiddenFor(model => model.Body, new { ng_value = "tempObject.Body" })
                                            @Html.ValidationMessageFor(model => model.Body, "Please provide details for 'Body' field", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3 form-group" style="width:20%">
                                            <label class="control-label small">Schedule Recurrence *</label>
                                            <div class="radio">
                                                @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.YesNoOption)))
                                                {
                                                    <label class="radio-inline">
                                                        @Html.RadioButtonFor(model => model.IsRecurrenceEnabledYesNoOption, (int)value, new { data_ng_model = "tempObject.IsRecurrenceEnabledYesNoOption", data_ng_click = "" }) @value.ToString()
                                                    </label>
                                                }
                                            </div>
                                            @Html.ValidationMessageFor(model => model.IsRecurrenceEnabledYesNoOption, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-5 form-group" ng-if="tempObject.IsRecurrenceEnabledYesNoOption==1">
                                            <label class="control-label small">Recurrence Type *</label>
                                            <div class="radio">
                                                @foreach (var value in Enum.GetValues(typeof(AHC.CD.Entities.MasterData.Enums.RecurrenceIntervalType)))
                                                {
                                                    <label class="radio-inline">
                                                        @Html.RadioButtonFor(model => model.RecurrenceIntervalTypeCategory, (int)value, new { data_ng_model = "tempObject.RecurrenceIntervalTypeCategory", data_ng_click = "tempObject.IntervalFactor=null" }) @value.ToString()
                                                    </label>
                                                }
                                                <br />
                                                @Html.ValidationMessageFor(model => model.RecurrenceIntervalTypeCategory, "", new { @class = "text-danger" })
                                                <br />
                                                <br />
                                                <span ng-if="tempObject.RecurrenceIntervalTypeCategory != 6 && tempObject.RecurrenceIntervalTypeCategory != 4">@Html.TextBoxFor(model => model.IntervalFactor, new { @type = "number", @class = "form-control input-sm col-lg-3", data_ng_model = "tempObject.IntervalFactor", data_ng_init = 1, @placeholder = "Enter Interval" })</span>
                                                @Html.ValidationMessageFor(model => model.IntervalFactor, "", new { @class = "text-danger" })
                                                <span ng-if="tempObject.RecurrenceIntervalTypeCategory == 6 && tempObject.RecurrenceIntervalTypeCategory != 4">@Html.TextBoxFor(model => model.DateForCustomRecurrence, new { data_val_date = "Please enter date in mm/dd/yyyy format.", data_date_format = "MM/dd/yyyy", data_bs_datepicker = "bs-datepicker", @class = "form-control input-sm  col-lg-3", data_ng_model = "tempObject.DateForCustomRecurrence", placeholder = "mm/dd/yyyy" })</span>
                                                @Html.ValidationMessageFor(model => model.DateForCustomRecurrence, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-4 form-group" ng-if="tempObject.IsRecurrenceEnabledYesNoOption==1 && tempObject.RecurrenceIntervalTypeCategory != '6'" style="width:38%">
                                            <div class="col-lg-6 form-group">
                                                <label class="control-label small" style="margin-bottom:20px;">From</label>
                                                @Html.TextBoxFor(model => model.FromDate, new { data_val_date = "Please enter date in mm/dd/yyyy format.", data_date_format = "MM/dd/yyyy", data_bs_datepicker = "bs-datepicker", @class = "form-control input-sm", data_ng_model = "tempObject.FromDate", placeholder = "mm/dd/yyyy" })
                                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <label class="control-label small" style="margin-bottom:20px;">To</label>
                                                @Html.TextBoxFor(model => model.ToDate, new { data_val_date = "Please enter date in mm/dd/yyyy format.", data_date_format = "MM/dd/yyyy", data_bs_datepicker = "bs-datepicker", @class = "form-control input-sm", data_ng_model = "tempObject.ToDate", placeholder = "mm/dd/yyyy" })
                                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <button type="button" class="btn btn-warning btn-sm" ng-click="cancelControl(tempObject);">Cancel</button>
                                            <button id="saveButton" type="submit" ng-click="AddOrSaveEmail('newEmailForm')" class="btn btn-primary btn-sm pull-right">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="nav nav-tabs" ng-show="!compose">
                            @if (!roles.Contains("PRO"))
                            {
                                <li><button type="button" ng-click="showCompose()" class="btn btn-info"><a href="#compose" style="color:white;text-decoration:none;">Compose</a></button>&nbsp;&nbsp;&nbsp;</li>
                            }
                            @if (roles.Contains("PRO"))
                            {
                                <li class=""><a data-toggle="tab" href="#inbox" ng-click="list = true; getTabData('Inbox')">Inbox</a></li>
                            }
                            @if (!roles.Contains("PRO"))
                            {
                                <li class="active"><a data-toggle="tab" href="#sent" ng-click="list = true; getTabData('Sent')">Sent Mail</a></li>
                            }
                            @if (!roles.Contains("PRO"))
                            {
                                <li><a data-toggle="tab" href="#outbox" ng-click="list = true; getTabData('outbox')">Outbox</a></li>
                            }

                            @*<i class="pull-right col-lg-6">
                                    <input class="form-control input-sm pull-right" ng-model="tempObject.From" data-searchdropdown="searchdropdown" placeholder="search Mail" />
                                    <input type="hidden" data-ng-model="tempObject.EmailInfoID" id="EmailInfoID" name="EmailInfoID" value="{{tempObject.EmailInfoID}}" />
                                    <div class="TemplateSelectAutoList popover fade bottom in" role="tooltip" style="margin-right:0px;width:480px;">
                                        <table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom: 0px;">
                                            <tbody>
                                                <tr ng-repeat="type in sentMail track by $index" ng-click="hideDiv(); tempObject.From = type.From; tempObject.EmailInfoID = type.EmailInfoID" class="pointer">
                                                    <td>{{type.To}}</td>
                                                </tr>
                                                <tr ng-if="Emails.length == 0">
                                                    <td>No data..... </td>
                                                </tr>
                                                <tr ng-if="Emails.length > 0 && sEmails.length == 0">
                                                    <td>Type not found..... </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </i>*@
                        </ul>
                        @*<div class="clearfix"></div><br ng-show="activeMessageDiv" />
                            <div ng-show="activeMessageDiv=='successMsgDiv'" class="alert alert-success" role="alert">
                                <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                                <i class="fa fa-2x fa-arrow-up"></i> {{messageDesc}}
                            </div>
                            <div ng-show="activeMessageDiv=='errorMsgDiv'" class="col-lg-12">
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    Error Lists :<br />
                                    <span ng-repeat="err in errorMsg track by $index">{{err}}</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>*@
                        <div class="tab-content" ng-show="!compose">
                            @if (roles.Contains("PRO"))
                            {
                                <div id="inbox">
                                    @Html.Partial("~/Views/Email/Inbox.cshtml")
                                </div>
                            }
                            @if (!roles.Contains("PRO"))
                            {
                                <div id="sent" ng-show="sentLoad">
                                    @Html.Partial("~/Views/Email/SentMail.cshtml")
                                </div>
                            }
                            @if (!roles.Contains("PRO"))
                            {
                                <div id="outbox" ng-show="outboxLoad">
                                    @Html.Partial("~/Views/Email/Outbox.cshtml")
                                </div>
                            }

                            <div id="all" class="tab-pane fade panel-body">
                                <table class="table table-bordered table-condensed customtbodyStyle table-striped">
                                    <thead>
                                        <tr>
                                            <td>No Data Available</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}