@model PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.ContactInformationViewModel


@***************Contact Information View*********************************@
<div class="col-lg-12 nopadding">

    <fieldset class="fsStyle" id="ViewContactInfo">
        @***************Contact Information View Panel Heading*********************************@
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends"><span class="transparent-font-color">__</span>CONTACT INFORMATION<span class="transparent-font-color">_</span></span>
            &nbsp;&nbsp;
            <span class="text-uppercase">
                @***************Contact Information Add/Edit Button*********************************@
                @if(Model == null){
                <span class="fstyleBtnStyle">
                    <button id="add_SB12" class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetContactInfoEditPartial?model=@Model&type=Add" data-tab-container="ContactInformationDiv">
                        <i class="fa fa-pencil"></i>
                    </button>
                </span>
                }
                <span class="fstyleBtnStyle">
                    <button id="Add_SB12" class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetContactInfoEditPartial?model=@Model&type=Edit" data-tab-container="ContactInformationDiv">
                        <i class="fa fa-pencil"></i>
                    </button>
                </span>
                @***************Contact Information History Button*********************************@
                <span class="fstyleBtnStyle">
                    <button class="btn btn-warning btn-xs historyBtnCSS list-item" data-tab-path="/CredAxis/Demographics/GetContactInfoHistoryPartial" data-tab-container="ContactInfoHistoryDiv">
                        <i class="fa fa-history"></i>
                    </button>
                </span>
                <span class="fstyleBtnStyle">
                    <button class="btn btn-default btn-xs helpBtnCSS" data-toggle="popover" data-trigger="hover" data-html="true" data-content="Click on Add to add a contact details.<br />Please click on a preferred method of contact to change it's priority.">
                        <i class="fa fa-question"></i>
                    </button>
                </span>
                <a class="print_button_for_ContactInfo hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                    <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                </a>
            </span>
        </legend>

        @***************Contact Information View Panel Body*********************************@
        <div class="x_content zero-padding-left">
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.PhoneNumber) :</label>
                @if (Model.PhoneNumber != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.PhoneNumber)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.HomePhoneNumber) :</label>
                @if (Model.HomePhoneNumber != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.HomePhoneNumber)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.EmailId) :</label>
                @if (Model.EmailId != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.EmailId)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.HomeFaxNumber) :</label>
                @if (Model.HomeFaxNumber != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.HomeFaxNumber)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.Pager) :</label>
                @if (Model.Pager != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.Pager)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">@Html.DisplayNameFor(e => e.PreferredMethod) :</label>
                @if (Model.PreferredMethod.ToString() != "")
                {
                <span class="theme_label_data">@Html.DisplayFor(e => e.PreferredMethod)</span>
                }
                else
                {
                    <span class="theme_label_data">NOT AVAILABLE</span>
                }
            </span>
        </div>
        <div id="ContactInfoHistoryDiv">

        </div>
    </fieldset>
</div>
