@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.ContactInformationViewModel>
@***************Contact Information History *********************************@
<fieldset class="fsStyle remove_shadow" id="ContactInformations">

    <span class="theme_depend text-uppercase TableHeading">CONTACT INFORMATION History</span>
    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" onclick="clearDiv(this)"><i class="fa fa-times" aria-hidden="true"></i></button></span>
    <div class="x_content zero-padding-left">
        <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
            <thead class="theme_thead">
                <tr>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>@Html.DisplayNameFor(e => e.PhoneNumber)</label><span></span>
                            <i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>@Html.DisplayNameFor(e => e.HomePhoneNumber)</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>@Html.DisplayNameFor(e => e.EmailId)</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>@Html.DisplayNameFor(e => e.HomeFaxNumber)</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>@Html.DisplayNameFor(e => e.Pager)</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>PREFERRED METHOD</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>NOTES</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>

                </tr>
            </thead>
            <tbody id="scrolldummybody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-lg-2">@item.PhoneNumber</td>
                        <td class="col-lg-2">@item.HomePhoneNumber</td>
                        <td class="col-lg-2">@item.EmailId</td>
                        <td class="col-lg-2">@item.HomeFaxNumber</td>
                        <td class="col-lg-1">@item.Pager</td>
                        <td class="col-lg-2">@item.PreferredMethod</td>
                        <td class="col-lg-1"><a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Dec 12 2014, jennine Made Changes -(3),Changed <br /> <b>HOME FAX:-</b> SMITHJOHN@YAHOO.COM, <br /><b>PAGER:-</b> 4515467">...</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>