<div class="clearfix"></div>

@using PratianUI
<div class="target profilediv col-lg-12 nopadding" id="OpenPracticeStatusID">
    <fieldset class="fsStyle" id="ViewOpenPracticeStatusDetails">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Add  Open Practice Status
            </span>

        </legend>
        <div class="x_content zero-padding-left mutiple-data">

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">ACCEPT NEW PATIENTS INTO PRACTICE?</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">ACCEPT ALL NEW PATIENTS?</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">ACCEPT EXISTING PATIENTS WITH CHANGE OF PAYOR?</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">ACCEPT NEW MEDICARE PATIENTS?</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">ACCEPT NEW MEDICAID PATIENTS?</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">ACCEPT NEW PATIENTS WITH PHYSICIAN REFERRAL?</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                        @*<label class="radio-inline">4
                                <input type="radio" name="optradio">YES
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">NO
                            </label>*@
                    </span>
                </span>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">ACCEPT NEW PATIENTS INTO THIS PRATICE?</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">TEST OPEN PRACTICE STATUS UPDATE</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">ACCEPT NEW PATIENTS WITHOUT ANY REFERALS?</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">IF ANY OF THE ABOVE INFORAMTION VARIES BY PLAN, EXPLAIN:</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-8 nopadding">
                    <label class="">ARE THERE ANY PRACTICE LIMITATIONS?</label>
                </span>
                <span class="col-lg-4 nopadding">
                    <span class="theme_label_data">
                        @Html.PratianUiRadioButton("YES", new { color = "green", @name = "type" })
                        @Html.PratianUiRadioButton("NO", new { color = "red", @name = "type" })
                    </span>
                </span>
            </div>
        </div>

        <div class="row col-lg-12 zero-padding-left-right margin-top-5px">
            <button class="btn btn-success btn-xs yahanClickKar list-item buttonmargin pull-right margin-right-5px" data-tab-path="/PracticeLocation/getviewOpenPracticeStatus" data-tab-container="TempOpenPracticeStatusID" value="">Save</button>
                <button class="btn btn-danger btn-xs yahanClickKar  list-item buttonmargin pull-right margin-right-5px" data-tab-path="/PracticeLocation/getviewOpenPracticeStatus" data-tab-container="TempOpenPracticeStatusID" value="">Cancel</button>
</div>
    </fieldset>
</div>

