
<div class="panel-group">
    @*<script src="~/Areas/Profile/Scripts/JavaScripts/IdentificationLicense.js"></script>*@
 
    @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_StateLicense.cshtml")

    @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_FederalDEAInformation.cshtml")

    @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_MedicareAndMedicaid.cshtml")

    @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_CDSCInformation.cshtml")
    
    @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_OtherIdNumbers.cshtml")

</div>