@model AHC.CD.WebUI.MVC.Areas.Profile.Models.IdentificationAndLicenses.OtherIdentificationNumberViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;


    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, true))
    {
        <div class="legend2 pull-right" ng-show="(visibilityControl!='editOtherIdentificationNumbers') && (MasterProfile.IdentificationLicense.OtherIdentificationNumber != null)">
            <button id="editnoDataAddNewOtherIdentificationDetails" class="btn btn-xs btn-primary" ng-click="operateEditControl('editOtherIdentificationNumbers',MasterProfile.IdentificationLicense.OtherIdentificationNumber)" tooltip data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
        </div>
    }

        

<div class="wrap-words">
    <div class="form-group col-md-12 zero-padding-left-right-div">
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.NPINumber, new { @class = "  control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPINumber">######</i>
                }
                else
                {
                    <i class="data-label">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPINumber}}</i>
                }

            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.NPIUserName, new { @class = "  control-label small", type = "password" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPIUserName">######</i>

                }
                else
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPIUserName">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPIUserName}}</i>
                }
                <i ng-if="!MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPIUserName">Not Available</i>
            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.NPIPassword, new { @class = "  control-label small", type = "password" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPIPassword">######</i>

                }
                else
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPIPassword">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPIPassword}}</i>
                }
                <i ng-if="!MasterProfile.IdentificationLicense.OtherIdentificationNumber.NPIPassword">Not Available</i>
            </div>
        </div>
    </div>
    <div class="form-group col-md-12 zero-padding-left-right-div">
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.CAQHNumber, new { @class = "  control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHNumber">######</i>

                }
                else
                {
                    <i class="data-label">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHNumber}}</i>
                }
                <i ng-if="!MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHNumber">Not Available</i>
            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.CAQHUserName, new { @class = "  control-label small", type = "password" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHUserName">######</i>

                }
                else
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHUserName">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHUserName}}</i>
                }
                <i ng-if="!MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHUserName">Not Available</i>
            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.CAQHPassword, new { @class = "  control-label small", type = "password" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHPassword">######</i>

                }
                else
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHPassword">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHPassword}}</i>
                }
                <i ng-if="!MasterProfile.IdentificationLicense.OtherIdentificationNumber.CAQHPassword">Not Available</i>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12 zero-padding-left-right-div">
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.UPINNumber, new { @class = " control-label small" })
            <div class="wrap-words">
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {

                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.UPINNumber">######</i>
                }
                else
                {
                    <i class="data-label">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.UPINNumber}}</i>
                }
                <i ng-if="!MasterProfile.IdentificationLicense.OtherIdentificationNumber.UPINNumber">Not Available</i>
            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.USMLENumber, new { @class = " control-label small" })
            <div class="wrap-words">
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.USMLENumber">######</i>

                }
                else
                {
                    <i class="data-label">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.USMLENumber}}</i>
                }
                <i ng-if="!MasterProfile.IdentificationLicense.OtherIdentificationNumber.USMLENumber">Not Available</i>
            </div>
        </div>
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.LastCAQHAttestationDate, new { @class = " control-label small" })
            <div class="wrap-words">
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.LastCAQHAttestationDate">######</i>
                }
                else
                {                    
                    <i class="data-label">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.LastCAQHAttestationDate|| 'Not Available'  | date: "MM-dd-yyyy"}}</i>
                }
                
            </div>
        </div>
    </div>
    <div class="form-group col-md-12 zero-padding-left-right-div">
        <div class="form-group col-md-4 zero-padding-left-right-div">
            @Html.LabelFor(model => model.NextAttestationDate, new { @class = " control-label small" })
            <div class="wrap-words">
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label" ng-show="MasterProfile.IdentificationLicense.OtherIdentificationNumber.NextAttestationDate">Not Available</i>

                }
                else
                {                    
                    <i class="data-label">{{MasterProfile.IdentificationLicense.OtherIdentificationNumber.NextAttestationDate | date: "MM-dd-yyyy"}}</i>
                }

                <i ng-if="!MasterProfile.IdentificationLicense.OtherIdentificationNumber.NextAttestationDate">Not Available</i>
            </div>
        </div>
      </div>
        <div class="clearfix"></div>
        <div ng-show="activeMessageDiv=='updatedID'" class="alert alert-success" role="alert">
            <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
            {{messageDesc}}
        </div>
        <div class="clearfix"></div>
    </div>









@*<div ng-hide="visibilityControl=='editOtherIdentificationNumbers'" id="otherIdenNumbers" class="panel-body zero-padding-left-right-div">
    <form>

        
       
    </form>
</div>*@ 