@*<!--Notification-->
    @Html.Partial("~/Views/Home/_Notification.cshtml")*@
@Html.Partial("~/Views/Home/_AuthorizationPreviewModal.cshtml")
@section AddToHead{
    <title>CREATE AUTH </title>
}
<!--/Notification-->
<!-- top tiles -->
<!-- /top tiles -->
<link href="~/Content/c3.min.css" rel="stylesheet" />
<link href="~/Content/JqueryCssLib/chrome-tabs.css" rel="stylesheet" />
<link href="~/Content/CustomCss/OuterTabs.css" rel="stylesheet" />
<link href="~/Content/AppCss/CreateAuth/CreateAuth.css" rel="stylesheet" />
<link href="~/Content/AppCss/AuthHistory/AuthHistory.css" rel="stylesheet" />
<link href="~/Content/AppCss/Queue/Queue.css" rel="stylesheet" />

<link href="~/Content/AppCss/ViewAuth/ViewAuthFixedBottom.css" rel="stylesheet" />
<link href="~/Content/AppCss/ViewAuth/ViewAuth.css" rel="stylesheet" />
<script src="~/Scripts/LibScripts/JqueryLibScripts/chrome-tabs.js"></script>
<script src="~/Scripts/CustomScripts/OuterTabs.js"></script>
<script src="~/Scripts/LibScripts/d3.min.js"></script>
<script src="~/Scripts/LibScripts/c3.min.js"></script>
<script src="~/Scripts/AppScripts/Authorization/CreateNewAuth.js"></script>
<script src="~/Scripts/AppScripts/Authorization/AuthHistory.js"></script>
<script src="~/Resources/Data/QueueData.js"></script>
<script src="~/Resources/Data/HistoryData.js"></script>
<script src="~/Scripts/AppScripts/Queue/Queue.js"></script>
<div class="col-lg-10 mainBodyCollapse" id="mainBody">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right runningbar AccessBlueHeader">
        <div class="" role="tabpanel" data-example-id="togglable-tabs" id="topTabs">
            <div class="tab-container">
                <div class="tabs btn-group btn-breadcrumb min_width_60_percent" id="breadcrumbArea">
                    <a href="#" class="btn btn-default"><i class="fa fa-user fa-1x"></i>&nbsp;Barbara Joy</a>
                    <a href="#" class="btn btn-default">UM</a>
                    <a href="#" class="btn btn-default">EVELINE HEWETT</a>
                    <a href="#" class="btn btn-success">AUTH HISTORY</a>
                </div>
            </div>
            <div class="tab-container">
                <ul class="tabs">
                    <li class=active>
                        <a href="tab_content1" class="outerTabsLinks floatMenu" id="home-tab1" role="tab" data-toggle="tab" aria-expanded="true" onclick="setBreadCrum('member')"><b>EVELINE HEWETT</b></a><span class="custombadge outertabclose outertabclose-red"><i class="fa fa-times"></i></span>
                        @*<div class="hook"></div>*@
                    </li>
                    @*<li>
                            <a href="tab_content2" class="outerTabsLinks floatMenu" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><b>JENN STONE</b></a><span class="custombadge outertabclose outertabclose-red"><i class="fa fa-times"></i></span>
                            <div class="hook"></div>
                            <div class="hookBorder"></div>
                        </li>*@
                    <li class="queue_body">
                        <a href="tab_content3" class="outerTabsLinks" id="home-tab2" role="tab" data-toggle="tab" aria-expanded="true" onclick="setBreadCrum('queue')"><b>FACILITY QUEUE</b></a><span class="custombadge outertabclose outertabclose-red"><i class="fa fa-times"></i></span>
                        @*<div class="hook"></div>
                            <div class="hookBorder"></div>*@
                    </li>
                </ul>
            </div>
            <div id="myTabContent" class="tab-content zero-padding-left-right">
                <div role="tabpanel" class="tab-pane outerTabs fade in active" id="tab_content1" aria-labelledby="home-tab">
                    <div class="clasp hole_left"></div>
                    <div class="clasp hole_middle_left"></div>
                    <div class="clasp hole_middle_right"></div>
                    <div class="clasp hole_right"></div>
                    <div class="hole hole_left_top"></div>
                    <div class="hole hole_middle_left_top"></div>
                    <div class="hole hole_middle_right_top"></div>
                    <div class="hole hole_right_top"></div>
                    <div class="hole hole_left"></div>
                    <div class="hole hole_middle_left"></div>
                    <div class="hole hole_middle_right"></div>
                    <div class="hole hole_right"></div>
                    <div class="tab-content zero-padding-left-right">
                        <div class="col-lg-12 zero-padding-left-right runningdata runningdata-standard memberPictureFrame">
                            @Html.Partial("~/Views/Home/_MemberHeader.cshtml")
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane outerTabs fade in" id="tab_content2" aria-labelledby="home-tab">
                    <div class="tab-content zero-padding-left-right">
                        <div class="col-lg-12 zero-padding-left-right runningdata runningdata-standard memberPictureFrame">
                            @Html.Partial("~/Views/Home/_MemberHeader1.cshtml")
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div><div role="tabpanel" class="tab-pane outerTabs fade in" id="tab_content3" aria-labelledby="home-tab">
                    <div class="tab-content zero-padding-left-right">
                        <div @*class="col-lg-12 zero-padding-left-right"*@>
                            @Html.Partial("~/Views/Queue/_Queue.cshtml")
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="chrome-tabs-shell">
            <div class="chrome-tabs margin_top_0">
            </div>
        </div>
    </div>


    <div class="col-lg-12 pull-right zero-padding-left-right zero-padding-left-right runningheadercontent">

        <div class="zero-padding-left-right" role="tabpanel" data-example-id="togglable-tabs">
            <div id="DataContainer" class="main-container-tab tab-content zero-padding-left-right">

                <div id="authHistory" role="tabpanel" class="contenttab zero-padding-left-right tab-pane fade " aria-labelledby="authHistory">
                    <div class="tab-content zero-padding-left-right form_22 auth_form">
                        @Html.Partial("~/Views/Home/_AuthHistory.cshtml")
                    </div>
                </div>
                <div id="viewAuthHistory" role="tabpanel" class="contenttab zero-padding-left-right tab-pane fade" aria-labelledby="viewAuthHistory">
                    <div class="tab-content zero-padding-left-right form_22 auth_form">
                        @Html.Partial("~/Views/ViewAuth/_ViewAuth.cshtml")
                    </div>
                </div>
                <div id="createauth" role="tabpanel" class="contenttab zero-padding-left-right tab-pane fade active in" aria-labelledby="createauth">
                    <div class="tab-content zero-padding-left-right form_22 auth_form">
                        @Html.Partial("~/Views/Home/_AuthForm.cshtml")
                    </div>
                </div>
                <div id="viewAuth" role="tabpanel" class="contenttab zero-padding-left-right tab-pane fade" aria-labelledby="viewAuth">
                    <div class="tab-content zero-padding-left-right form_22 auth_form">
                        @Html.Partial("~/Views/ViewAuth/_ViewAuth.cshtml")
                    </div>
                </div>
                <div id="claimListContainer" role="tabpanel" class="contenttab zero-padding-left-right tab-pane fade" aria-labelledby="claimListContainer">
                    @Html.Partial("~/Views/Home/_ClaimList.cshtml")
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/CustomScripts/InnerChromeTabs.js"></script>
    <div class="clearfix"></div>
    @Html.Partial("~/Views/Shared/OtherLayouts/_Footer.cshtml")
</div>
<div class="flyingtab circ"></div>
