@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;
<div class="form-style">
    <fieldset>
        <legend>
            @if (!ViewBag.Roles.Contains("CCO") && !ViewBag.Roles.Contains("CRA"))
            {
                <i style="font-size:20px" tooltip data-toggle="tooltip" data-placement="top" title="This section is under observation by your credentialing co-ordinator" ng-show="PublicHealthServicesPendingRequest" class="fa text-danger fa-exclamation-circle"></i>
            }
            Public Health Service
        </legend>
        <div class="legend2 pull-right">
            @*<button type="button" class="btn btn-xs btn-primary" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="Download" data-original-title="" title="" ng-hide="publicHealthServices.length < 1" ng-click="downloadTableData('Profile_WorkHistory_PublicHealthService', 'Public Health Service')"><i class="fa fa-download"></i></button>*@
            <button id="PHS_Print" type="button" class="btn btn-xs btn-primary" data-container="body" data-toggle="popover" popover data-placement="left" data-trigger="hover" data-content="Print" data-original-title="" title="" ng-hide="publicHealthServices.length < 1" ng-click="printData('Profile_WorkHistory_PublicHealthService','Public Health Service')"><i class="fa fa-print"></i></button>
            <button id="PHS_HistoryIcon" type="button" ng-click="showPublicHealthServiceHistory('PHSH')" class="btn btn-xs btn-warning" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="View History"><i class="fa fa-clock-o"></i></button>
            <div id="PHSH" class="loading pull-right loadingHistory"><img src="/Content/Images/ajax-loader.gif" width="20" height="20"></div>
        </div>
        <div class="form-style">
            <div class="col-lg-12">
                <table ng-hide="publicHealthServices.length > 0 || newShowPublicHealthService" class="table table-bordered table-condensed customtbodyStyle table-striped">
                    <thead>
                        <tr>
                            <td ng-hide="visibilityControl=='addPublicHealthService'">
                                No Data Available For Public Health Service !
                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                                {
                                    <span>
                                        Please click on <button id="noDataAddNewPublicHealthService" class="btn btn-xs btn-success" ng-click="operateViewAndAddControl('addPublicHealthService')" tooltip data-toggle="tooltip" data-placement="right" title="Add new"><i class="fa fa-plus"></i></button> to add new Public Health Service
                                    </span>
                                }
                            </td>
                        </tr>
                    </thead>
                </table>
                <table ng-hide="publicHealthServices.length < 1" class="table table-bordered table-condensed customtbodyStyle table-striped" id="Profile_WorkHistory_PublicHealthService">
                    <thead>
                        <tr>
                            <th>Last Location</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th class="hideData">Action</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="publicHealthService in publicHealthServices track by $index">
                        <tr>
                            <td>{{publicHealthService.LastLocation || 'Not Available'}}</td>
                            <td>{{publicHealthService.StartDate || 'Not Available' | date:'MM-dd-yyyy'}}</td>
                            <td>{{publicHealthService.EndDate || 'Not Available' | date:'MM-dd-yyyy'}}</td>
                            <td class="hideData">
                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.View, ViewBag.Roles, false))
                                {
                                    <button id="PHS_Table_ViewIcon" class="btn btn-xs btn-default" ng-click="operateViewAndAddControl($index+'_viewPublicHealthService')" ng-hide="viewPublicHealthService" tooltip data-toggle="tooltip" data-placement="left" title="View"><i class="fa fa-eye"></i></button>
                                }
                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
                                {
                                    <button id="PHS_Table_EditIcon" class="btn btn-xs btn-primary" ng-click="operateEditControl($index+'_editPublicHealthService',publicHealthService);changeButtonText()" ng-hide="editPublicHealthService" tooltip data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                }
                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                                {
                                    <button id="PHS_Table_removeIcon" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Remove" ng-click="initPublicHealthServiceWarning(publicHealthService);" tooltip><i class="fa fa-minus-circle"></i></button>
                                    <button id="addNewPublicHealthService" ng-if="$index == publicHealthServices.length-1" class="btn btn-xs btn-success" ng-click="operateViewAndAddControl('addPublicHealthService');changeButtonText();custHidefun();" ng-hide="viewPublicHealthService|| editShowPublicHealthService || newShowPublicHealthService || $index+1!=publicHealthServices.length" tooltip data-toggle="tooltip" data-placement="right" title="Add new"><i class="fa fa-plus"></i></button>
                                }
                                <button class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="View Update History" ng-click="sectionWiseVisibilityControlForUpdateHistory($index+'PublicHealthService');OperateUpdateHistory(publicHealthService.PublicHealthServiceID,'PublicHealthServiceID');" tooltip><i class="fa fa-cloud"></i></button>
                            </td>
                        </tr>
                        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.View, ViewBag.Roles, false))
                        {
                            <tr ng-show="visibilityControl==($index+'_viewPublicHealthService')" class="hideData">
                                <td colspan="7">
                                    @Html.Partial("~/Areas/Profile/Views/WorkHistory/_ViewPublicHealthService.cshtml")
                                </td>
                            </tr>
                        }
                        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
                        {
                            <tr ng-show="visibilityControl==($index+'_editPublicHealthService')" class="hideData">
                                <td colspan="7" id="publicHealthServiceEditDiv{{$index}}" class="editTableDataStyle">
                                    <fieldset>
                                        <legend>
                                            Edit Public Health Service
                                        </legend>
                                        @Html.Partial("~/Areas/Profile/Views/WorkHistory/_AddEditPublicHealthService.cshtml")

                                        <div class="col-md-12 form-group">
                                            <button id="PHS_Edit_CancelButton" type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('');resetDates();">Cancel</button>
                                            <button id="PHS_Edit_UpdateButton" type="submit" class="btn btn-primary btn-sm pull-right" ng-click="savePublicHealthService(tempObject, $index)">Update</button>
                                        </div>

                                    </fieldset>
                                </td>
                            </tr>
                        }
                        <tr ng-show="UpdateHistorySectionVisibility == ($index+'PublicHealthService')" class="hideData">
                            <td colspan="8" class="editTableDataStyle">
                                <div>
                                    <fieldset>
                                        <legend>
                                            Public Health Service Update History
                                        </legend>
                                        @Html.Partial("~/Areas/Profile/Views/MasterProfile/_ProfileUpdateHistory.cshtml")
                                    </fieldset>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="activeMessageDiv=='addedNewPublicHealthService'" class="alert alert-success" role="alert">
                    <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                    <i class="fa fa-2x fa-arrow-up"></i> {{messageDesc}}
                </div>

                <div ng-show="activeMessageDiv=='removePublicHealthService'" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Error Lists :<br />
                    <span ng-repeat="err in errorPublicHealthService track by $index">{{err}}</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
            {
                <fieldset ng-show="visibilityControl==('addPublicHealthService')">
                    <legend>
                        Add Public Health Service
                    </legend>
                    <div id="newPublicHealthServiceFormDiv">
                        @Html.Partial("~/Areas/Profile/Views/WorkHistory/_AddEditPublicHealthService.cshtml")
                        <div class="col-md-12 form-group">
                            <button id="PHS_Add_CancelButton" type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('')">Cancel</button>
                            <button id="PHS_Add_AddButton" type="submit" class="btn btn-primary btn-sm pull-right" ng-click="savePublicHealthService(tempObject, $index)">Add</button>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </fieldset>
    <div class="panel-default" ng-if="showPublicHealthServiceTable">
        <div class="form-style">
            <fieldset>
                <legend>
                    Public Health Service Information History
                </legend>
                <div class="legend2 pull-right">
                    @*<button type="button" class="btn btn-xs btn-primary" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="Download" data-original-title="" title="" ng-hide="publicHealthServiceHistoryArray.length <= 0" ng-click="downloadTableData('Profile_WorkHistory_PublicHealthServiceHistory', 'Public Health Service History')"><i class="fa fa-download"></i></button>*@
                    <button type="button" class="btn btn-xs btn-primary" data-container="body" data-toggle="popover" popover data-placement="left" data-trigger="hover" data-content="Print" data-original-title="" title="" ng-hide="publicHealthServiceHistoryArray.length <= 0" ng-click="printData('Profile_WorkHistory_PublicHealthServiceHistory','Public Health Service History')"><i class="fa fa-print"></i></button>
                    <button id="PHS_History_Close" type="button" ng-click="cancelPublicHealthServiceHistory()" class="btn btn-xs btn-default" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="View History"><i class="fa fa-times text-danger"></i></button>
                </div>
                <table ng-hide="publicHealthServiceHistoryArray.length > 0" class="table table-bordered table-condensed customtbodyStyle table-striped">
                    <thead>
                        <tr>
                            <td>
                                No History Available for Public Health Service Information!
                            </td>
                        </tr>
                    </thead>
                </table>
                <table ng-hide="publicHealthServiceHistoryArray.length <= 0" id="Profile_WorkHistory_PublicHealthServiceHistory" class="table table-bordered table-condensed table-striped customtbodyStyle">
                    <thead>
                        <tr>
                            <th>Last Location</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Deleted By</th>
                            <th>Deleted On</th>
                            <th class="hideData">Action</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="phsHistory in publicHealthServiceHistoryArray">
                        <tr>
                            <td>{{phsHistory.LastLocation || 'Not Available'}}</td>
                            <td ng-if="phsHistory.StartDate">{{phsHistory.StartDate | date:'MM-dd-yyyy'}}</td>
                            <td ng-if="!phsHistory.StartDate">Not Available</td>
                            <td ng-if="phsHistory.EndDate">{{phsHistory.EndDate | date:'MM-dd-yyyy'}}</td>
                            <td ng-if="!phsHistory.EndDate">Not Available</td>



                            <td>{{phsHistory.HistoryStatus}}</td>
                            <td ng-if="phsHistory.DeletedBy">{{phsHistory.DeletedBy }}</td>
                            <td ng-if="!phsHistory.DeletedBy">Not Available</td>
                            <td ng-if="phsHistory.DeletedDate">{{phsHistory.DeletedDate }}</td>
                            <td ng-if="!phsHistory.DeletedDate">Not Available</td>
                            <td class="hideData">
                                <button id="View_Hisotry_New_PHS" class="btn btn-xs btn-default" ng-click="operateViewAndAddControl($index+'_viewphsHistory')" tooltip data-toggle="tooltip" data-placement="left" title="View"><i class="fa fa-eye"></i></button>
                            </td>
                        </tr>
                        <tr ng-show="visibilityControl==($index+'_viewphsHistory')" class="hideData">
                            <td colspan="8" class="">
                                @Html.Partial("~/Areas/Profile/Views/WorkHistory/_ViewPublicHealthServiceHistory.cshtml")
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="modal fade" id="publicHealthServiceWarningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="removePublicHealthService">
                    <div class="modal-header">
                        <button id="PHS_Remove_Close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Warning!!!!</h4>
                    </div>
                    <div class="col-lg-12 text-center" ng-show="isRemoved">
                        <div style="margin-top:2%;">
                            <img src="~/Content/Images/ajax-loader.gif" style="width:50px;" /> Please Wait..
                        </div>
                    </div>
                    <div class="modal-body" ng-show="!isRemoved">
                        Do you really want to remove the service <b ng-show="tempPublicHealthService.StartDate!=null"> from</b> <b>{{tempPublicHealthService.StartDate | date:'MM-dd-yyyy'}}</b> <b ng-if="tempPublicHealthService.EndDate!=null">to</b> <b>{{tempPublicHealthService.EndDate | date:'MM-dd-yyyy'}}</b> from your Public Health Service list ?
                        <input type="hidden" name="PublicHealthServiceID" value="{{tempPublicHealthService.PublicHealthServiceID}}" />
                        <input type="hidden" name="StatusType" value="2" />
                    </div>
                    <div class="modal-footer">
                        <button id="PHS_Remove_CancelButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="PHS_Remove_RemoveButton" type="button" class="btn btn-primary" ng-click="removePublicHealthService(publicHealthServices)">Remove</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>