@model PortalTemplate.Areas.MH.Models.ViewModels.ProfileManagement.MemberProfileHeaderViewModel

<table class="table responsive-utilities table-condensed table-responsive">
    <thead class="memberheader">
        <tr class="headings">
            <th class="column-title">REF#</th>
            <th class="column-title">MBR# </th>
            <th class="column-title">MBR</th>
            <th class="column-title">MBR NAME</th>
            <th class="column-title">SEX</th>
            <th class="column-title">DOB</th>
            <th class="column-title">AGE</th>
            <th class="column-title">Insurance Co.</th>
            <th class="column-title">PLAN</th>
            <th class="column-title">EFF DATE </th>
            <th class="column-title">ELIG </th>
            <th class="column-title">PCP </th>
            <th class="column-title">PCP PHONE </th>
        </tr>
    </thead>
    <tbody class="boldbody">
        <tr>
            <td class="theme_label_data" id="Refnum">@Html.DisplayFor(m => m.ReferenceID)</td>
            <td class="theme_label_data" id="MemberID">@Html.DisplayFor(m => m.SubscriberID)</td>
            <td class="theme_label_data" id="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/Resources/Images/Common/user.png" alt=""><span></span>
                </a>
            </td>
            <td class="theme_label_data" id="MemberName">@Html.DisplayFor(m => m.LastName) @Html.DisplayFor(m => m.FirstName)</td>
            <td class="theme_label_data" id="MemberGender">@Html.DisplayFor(m => m.Gender)</td>
            <td class="theme_label_data" id="MemberDob">@Html.DisplayFor(m => m.DOB)</td>
            <td class="theme_label_data" id="MemberAge">@Html.DisplayFor(m => m.Age)</td>
            <td class="theme_label_data" id="MemberInsuranceCo">@Html.DisplayFor(m => m.InsuranceCompany)</td>
            <td class="theme_label_data" id="MemberSubGrp">@Html.DisplayFor(m => m.PlanName)</td>
            <td class="theme_label_data" id="MemberEffDate">@Html.DisplayFor(m => m.EffectiveDate)</td>
            <td class="theme_label_data" style="white-space:nowrap;"><span id="MemberEligibility">-</span> <i class="fa fa-check-square text-lightgreen"></i></td>
            <td class="theme_label_data" id="MemberPCP">@Html.DisplayFor(m => m.PCP)</td>
            <td class="theme_label_data" id="MemberPCPPhone">@Html.DisplayFor(m => m.PCPPhone)</td>
        </tr>
    </tbody>
</table>

