@section AddToHead{
    <title>PAC DASHBOARD | AHC</title>
}
@*<link href="~/Content/CustomCss/OuterTabs.css" rel="stylesheet" />
    <link href="~/Content/c3.min.css" rel="stylesheet" />
    <link href="~/Content/AppCss/ClaimsDashboard/animate.css" rel="stylesheet" />
    <link href="~/Content/LibCss/jquery-ui.min.css" rel="stylesheet" />*@
<p-link filepath="~/Content/AppCss/PACLeadDashboard/pacDashboard.css"></p-link>
<p-link filepath="~/Content/LibCss/jquery-ui.min.css"></p-link>
@*<p-link filepath="~/Content/AppCss/PACLeadDashboard/pacDashboard.css"></p-link>*@
<p-script filepath="~/Scripts/AppScripts/PACLeadDashboard/pacDashboad.js"></p-script>

@*<p-bundle identity="pacDashboardBundle">
    @Scripts.Render("~/bundles/pacdashboardscripts");
    @Styles.Render("~/Content/pacdashboardcss");
</p-bundle>*@

@*<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mainBodyCollapse" id="mainBody">*@
    <div>
        <div class="centerDiv">
            <div class="clasp hole_left clamp_left"></div>

            <div class="clasp hole_right clamp_right"></div>
            <div class="hole hole_left left_hole_mod"></div>

            <div class="hole hole_right right_hole_mod"></div>
            <div class="col-lg-4 colorContent">
                <span class="pull-right padding-top_10 labelHeader">
                    Standard<span class="text-center center_count_small"> <small>#</small>4</span><br />
                    Expedite<span class="text-center center_count_small"> <small>#</small>3</span>
                </span>
            </div>
            <div class="col-lg-4 text-center date_today"><small class="small_mins">TODAY </small><br /> 09-11-2016</div>
            <div class="col-lg-4 colorContent">
                <span class="pull-left  padding-top_10 labelHeader">
                    <small>#</small><span class="bigCount">7</span> in My Queue<span class="text-center center_count_small"></span>

                </span>

            </div>
        </div>
    </div>

        @*<div class="tab-container">
            <div class="tabs btn-group btn-breadcrumb" id="breadcrumbArea">
                <a href="#" class="btn btn-default"><i class="fa fa-user fa-1x"></i>&nbsp;Barbara Joy</a>
                <a href="#" class="btn btn-success">PAC DASHBOARD</a>
            </div>


        </div>*@
   <div class="checkboxDiv pull-right">

       <div class="col-lg-2 zero-padding-left-right">
           <input type="radio" name="Daily" class="form-control input-xs flat Daily" checked> <span class="labelname">Daily</span>
       </div>
       <div class="col-lg-10 zero-padding-left-right">
           <div class="col-lg-3 zero-padding-left-right"><input type="radio" name="Daily" class="form-control input-xs flat Weekly"> <span class="labelname">Weekly</span></div>
          
           <div class="col-lg-5 zero-padding-left-right">
               <input type="radio" name="Daily" class="form-control input-xs flat MonthTillDate"> <span class="labelname">Month Till Date</span>
           </div>
           <div class="col-lg-4 zero-padding-left-right">
               <input type="radio" name="Daily" class="form-control input-xs flat YearTillDate"> <span class="labelname">Year Till Date</span>
           </div>
       </div>
     
   </div>

   <div class="clearfix"></div>
    <div class="col-lg-12" id="Pac">

    <div class="col-lg-4 col-lg-push-4 col-md-4 col-sm-12 col-xs-12 zeroPaddingOuter myqueueDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 DivHeading myqueueHeader">
            My queue
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 padding_5px">
            @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_MyQueueAuthProcessed.cshtml")
        </div>
        <div class="hidden-lg col-md-12 hidden-sm hidden-xs">
            <br /><br />
            <br />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 padding_5px">
            @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_MyQueueProcessTime.cshtml")
        </div>
    </div>
    <div class="col-lg-4 col-lg-pull-4 col-md-8 col-sm-12 col-xs-12 zeroPaddingOuter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 DivHeading pacCoordinatorsHeader">
            PAC coordinators
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding_5px">
            @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_pacCoordinatorsAuthReceived.cshtml")
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding_5px">
            @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_pacCoordinatorsAuthProcessed.cshtml")
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding_5px">
            @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_pacCoordinatorsProcessingTIme.cshtml")
        </div>
    </div>

    <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 zeroPaddingOuter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 DivHeading totalAuthsHeader">
            Total Auth
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding_5px">
            @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_TotalAuthsAuthsReceived.cshtml")
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding_5px">
            @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_TotalAuthsAuthsProcessed.cshtml")
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding_5px">
            @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_TotalAuthsProcessingTime.cshtml")
        </div>
    </div>
</div>

    @*<div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_pacCoordinatorsAuthReceived.cshtml")                   
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_pacCoordinatorsAuthProcessed.cshtml")                   
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_pacCoordinatorsProcessingTIme.cshtml")                   
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_MyQueueAuthProcessed.cshtml")                   
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_MyQueueProcessTime.cshtml")                   
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_TotalAuthsAuthsReceived.cshtml")                   
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_TotalAuthsAuthsProcessed.cshtml")                   
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    @Html.Partial("~/Views/PACLeadDashboard/Biscuits/_TotalAuthsProcessingTime.cshtml")                   
                </div>
            </div>
        </div>
    </div>*@

    <ul class="pac_report_list" id="sortable">
        <li class="ui-state-default info_border" id="chart1" data-id="1" data-url="#MeanProcessTimeReport">
            <div class="c_panel" id="Referrals">
                @Html.Partial("~/Views/PACLeadDashboard/_SReferrals.cshtml")


            </div>
        </li>
        <li class="ui-state-default success_border" id="chart2" data-id="2" data-url="#HighCostClaimsReport">
            <div class="c_panel" id="PeerProcessTime">
                @Html.Partial("~/Views/PACLeadDashboard/_SPeerProcessTime.cshtml")


            </div>
        </li>
    </ul>

    <div class="clearfix"></div>
    @Html.Partial("~/Views/Shared/OtherLayouts/_Footer.cshtml")
@*</div>*@

