@model AHC.CD.WebUI.MVC.Areas.Profile.Models.Demographic.HomeAddressViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;
<fieldset>
    <legend>
        Home Address
    </legend>
    <div ng-show="alertMessage=='alertHomeAddressSuccess'+$index" class="alert alert-{{message.status}}" role="alert">
        <button ng-click="closeAlert('alertHomeAddressSuccess'+$index)" class="close"><span>&times;</span></button>
        {{message.desc}}
    </div>
    <div class="col-lg-12 zero-padding-left-right-div">
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.UnitNumber, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">############</i>
                }
                else
                {
                    <i class="data-label">{{ha.UnitNumber}}</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">############</i>
                }
                else
                {
                    <i class="data-label">{{ha.Street}}</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">############</i>
                }
                else
                {
                    <i class="data-label">{{ha.City}}</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">############</i>
                }
                else
                {
                    <i class="data-label">{{ha.State}}</i>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-12 zero-padding-left-right-div">
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">############</i>
                }
                else
                {
                    <i class="data-label">{{ha.ZipCode}}</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            <label class="control-label small">Country *</label>
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">############</i>
                }
                else
                {
                    <i class="data-label">{{ha.Country}}</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">############</i>
                }
                else
                {
                    <i class="data-label">{{ha.County}}</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.AddressPreference, new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">############</i>
                }
                else
                {
                    <i class="data-label">{{ha.AddressPreference}}</i>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-12 zero-padding-left-right-div">
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.IsPresentlyStaying, new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">############</i>
                }
                else
                {
                    <i class="data-label">{{ha.IsPresentlyStaying}}</i>
                }
            </div>
        </div>
        <div class="col-lg-3 form-group">
            @Html.LabelFor(model => model.LivingFromDate, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">##/##/####</i>
                }
                else
                {
                    <i class="data-label">{{ha.LivingFromDate | date: "MM/dd/yyyy"}}</i>
                }
            </div>
        </div>
        <div ng-if="ha.IsPresentlyStayingYesNoOption==2" class="col-lg-3 form-group">
            @Html.LabelFor(model => model.LivingEndDate, htmlAttributes: new { @class = "control-label small" })
            <div>
                @if (ProfileActionValidator.IsMasked(ViewBag.Roles))
                {
                    <i class="data-label">##/##/####</i>
                }
                else
                {
                    <i class="data-label">{{ha.LivingEndDate | date: "MM/dd/yyyy"}}</i>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group">
        <button type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl()">Cancel</button>
        @if (AHC.CD.WebUI.MVC.Areas.Profile.Attributes.ProfileActionValidator.IsAuthorized(AHC.CD.WebUI.MVC.Areas.Profile.Attributes.ProfileActionType.Edit, ViewBag.Roles, true))
        {
            <button class="btn btn-sm btn-primary pull-right" ng-click="operateEditControl($index+'_EditHomeAddress',ha)">Edit</button>
        }
    </div>
</fieldset>