@model IEnumerable<PortalTemplate.Areas.UM.Models.ViewModels.Attachment.AttachmentViewModel>
<p-script filepath="~/Areas/UM/Scripts/Common/Attachments/Functional/NonMinified/AddAttachments.js"></p-script>
<div class="panelheight row x-panel zero-padding-left-right" id="attachmentDiv">
    <div class="col-lg-12 zero-padding-left-right">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase">
                    <span class="transparent-font-color">______</span>
                        @Html.Label("Attachments")
                    <span class="transparent-font-color">_____</span>
                </span>
                <span class="text-uppercase pull-right">
                    <span>
                        <button class="btn btn-success btn-xs add_attachment_btn" style="margin-top: -3px;">
                            <i class="fa fa-plus"></i>
                        </button>
                    </span>
                </span>
            </legend>
            <div class="x_panel tableview isactive">
                <div class="x_content zero-padding-left" style="padding:0px;margin-top:0px">
                    <table class="table margin_bottom_zero table-white  zero-padding-left-right alignLeftTable noBorderTable boldBody zeroPaddingBottomTh  width_99 attachmentstable custom-thead-back custom-thead-font custom-tbody">
                        <thead class="text-uppercase">
                            <tr>
                                <th class="theme_label" style="width:9%">@Html.DisplayNameFor(e => e.CreatedDate)</th>
                                <th class="theme_label" style="width:9%">@Html.DisplayNameFor(e => e.Name)</th>
                                <th class="theme_label" style="width:9%">@Html.DisplayNameFor(e => e.AttachmentTypeName)</th>
                                <th class="theme_label" style="width:9%">@Html.DisplayNameFor(e => e.CreatedBy)</th>
                                <th class="theme_label" style="width:9%">@Html.DisplayNameFor(e => e.IncludeFax)</th>
                                <th class="theme_label" style="width:9%">
                                    <span class="action_Class">@Html.DisplayNameFor(e => e.DocumentFile)</span>
                                </th>
                                <th style="width:4%">
                                    <a class="contact_print_button_beside_table hover_effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print">
                                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-uppercase">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="theme_label_data">@Html.DisplayFor(e => item.CreatedDate)</td>
                                        <td class="theme_label_data">@Html.DisplayFor(e => item.Name)</td>
                                        <td class="theme_label_data">@Html.DisplayFor(e => item.AttachmentTypeName)</td>
                                        <td class="theme_label_data">@Html.DisplayFor(e => item.CreatedBy)</td>
                                        <td class="theme_label_data">@Html.DisplayFor(e => item.IncludeFax)</td>
                                        <td class="theme_label_data">@Html.DisplayFor(e => item.DocumentFile)</td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>
</div>