@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.EducationViewModel.GraduateSchoolViewModel>
@{
    var GraduateSchoolIndex = 0;
}
<div class="target profilediv col-lg-12 nopadding">
    <fieldset class="fsStyle" id="ViewGraduateSchoolDetails">
        @*<span class="theme_depend text-uppercase TabHeading">GRADUATE / MEDICAL SCHOOL DETAILS</span>*@
        @*<legend class="legendStyle">
                <span class="theme_depend text-uppercase">Graduate/Medical School Details</span>
            </legend>*@
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="theme_depend text-uppercase create-auth-legends">
                    <span class="transparent-font-color">______</span>
                    GRADUATE / MEDICAL SCHOOL DETAILS
                    <span class="transparent-font-color">______</span>
                </span>
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">

                    <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/Education/GetGraduateSchoolAddEditView?model=@Model&type=Add" data-tab-container="GraduateMedicalSchoolDetails">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/Education/GetGraduateSchoolAddEditView?model=@Model&type=Edit" data-tab-container="GraduateMedicalSchoolDetails">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="collapse" data-target="#GraduateSchoolDetailsHistory">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_Grad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>
        @*<span class="text-uppercase pull-right">

                <span>
                    <button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="collapse" data-target="#GraduateSchoolDetailsHistory">
                        <i class="fa fa-history"></i>
                    </button>
                    <button class="btn btn-success btn-xs add_note_btn" onclick="ShowHideAddView('AddEditGraduateSchoolDetails', 'ViewGraduateSchoolDetails')">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
            </span>*@
        @foreach (var item in Model)
        {
            GraduateSchoolIndex = GraduateSchoolIndex + 1;
            if (GraduateSchoolIndex <= 2)
            {
                <div class="x_content mutiple-data zero-padding-left">
                    <div class="SubHeaderSpacing1">
                        <span class="text-uppercase TableHeading">GRADUATE / MEDICAL SCHOOL DETAIL-@GraduateSchoolIndex</span>&nbsp; 
                        <button onclick="groupmodalhistory('Education','RemoveGraduateDetails','@item.Id','GraduateMedicalSchoolDetails')" class="btn btn-danger btn-xs RemoveButtonStyleModal "><i class="fa fa-minus"></i></button>
                        @*&nbsp;<button class="btn btn-warning btn-xs historyBtnCSS RemoveButtonStyleModal list-item" data-tab-path="/CredAxis/Education/ViewGraduationhistory?value=@item.Id" data-tab-container="GraduateDetailHistory_@item.Id">
                            <i class="fa fa-history"></i>
                        </button>*@
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.IsUSGraduate) :</label>
                        @if (item.IsUSGraduate == true)
                        {
                            <span class="theme_label_data">
                                Yes
                            </span>
                        }
                        else
                        {
                            <span class="theme_label_data">
                                No
                            </span>
                        }
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.GraduationType) :</label>
                        <span class="theme_label_data">@item.GraduationType</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.SchoolName) :</label>
                        <span class="theme_label_data">@item.SchoolName</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Degree) :</label>
                        <span class="theme_label_data">@item.Degree</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Location) :</label>
                        <span class="theme_label_data">@item.Location</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.SuitNumber) :</label>
                        <span class="theme_label_data">@item.SuitNumber</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.StreetNumber) :</label>
                        <span class="theme_label_data">@item.StreetNumber</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                        <span class="theme_label_data">@item.City</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
                        <span class="theme_label_data">@item.State</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode):</label>
                        <span class="theme_label_data">@item.ZipCode</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                        <span class="theme_label_data">@item.Country</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                        <span class="theme_label_data">@item.County</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Email) :</label>
                        <span class="theme_label_data">@item.Email</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.TelephoneNumber) :</label>
                        <span class="theme_label_data">@item.TelephoneNumber</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FaxNumber) :</label>
                        <span class="theme_label_data">@item.FaxNumber</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.StartDate) :</label>
                        <span class="theme_label_data">@item.StartDate</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.EndDate) :</label>
                        <span class="theme_label_data">@item.EndDate</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.IsEducationSchool) :</label>
                        @if (item.IsEducationSchool == true)
                        {
                            <span class="theme_label_data">
                                Yes
                            </span>
                        }
                        else
                        {
                            <span class="theme_label_data">
                                No
                            </span>
                        }
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Document) :</label>
                        @*<span class="theme_label_data">GRADUATE.PNG</span>*@
                        <span class="theme_label_data"><i class="fa fa-file"></i></span>
                    </div>

                </div>
                <div id="GraduateDetailHistory_@item.Id">

                </div>
                if (GraduateSchoolIndex == 2)
                {
                    <span class="view-more pull-right" id="GraduateSchoolMore" data-toggle="collapse" data-target=".ViewMoreGraduateSchool" onclick="ShowHideAddView('GraduateSchoolLess', 'GraduateSchoolMore')">View More</span>
                }
            }
            else
            {
                <div class="x_content zero-padding-left mutiple-data collapse ViewMoreGraduateSchool">
                    <div class="SubHeaderSpacing1">
                        <span class="text-uppercase TableHeading">GRADUATE / MEDICAL SCHOOL DETAILS - @GraduateSchoolIndex</span>&nbsp; 
                        <button data-toggle="modal" data-target="#BhaukalId" class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
                        @*&nbsp;<button class="btn btn-warning btn-xs historyBtnCSS RemoveButtonStyleModal list-item" data-tab-path="/CredAxis/Education/ViewGraduationhistory?value=@item.Id" data-tab-container="GraduateDetailHistory_@item.Id">
                            <i class="fa fa-history"></i>
                        </button>*@
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.IsUSGraduate) :</label>
                        @if (item.IsUSGraduate == true)
                        {
                            <span class="theme_label_data">
                                Yes
                            </span>
                        }
                        else
                        {
                            <span class="theme_label_data">
                                No
                            </span>
                        }
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.GraduationType) :</label>
                        <span class="theme_label_data">@item.GraduationType</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.SchoolName) :</label>
                        <span class="theme_label_data">@item.SchoolName</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Degree) :</label>
                        <span class="theme_label_data">@item.Degree</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Location) :</label>
                        <span class="theme_label_data">@item.Location</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.SuitNumber) :</label>
                        <span class="theme_label_data">@item.SuitNumber</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.StreetNumber) :</label>
                        <span class="theme_label_data">@item.StreetNumber</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.City) :</label>
                        <span class="theme_label_data">@item.City</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.State) :</label>
                        <span class="theme_label_data">@item.State</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.County) :</label>
                        <span class="theme_label_data">@item.County</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Country) :</label>
                        <span class="theme_label_data">@item.Country</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.ZipCode):</label>
                        <span class="theme_label_data">@item.ZipCode</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Email) :</label>
                        <span class="theme_label_data">@item.Email</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.TelephoneNumber) :</label>
                        <span class="theme_label_data">@item.TelephoneNumber</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.FaxNumber) :</label>
                        <span class="theme_label_data">@item.FaxNumber</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.StartDate) :</label>
                        <span class="theme_label_data">@item.StartDate</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.EndDate) :</label>
                        <span class="theme_label_data">@item.EndDate</span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.Document) :</label>
                        <span class="theme_label_data"><i class="fa fa-file"></i></span>
                    </div>
                    <div class="col-lg-1 text_adjust boxstyle ">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.IsEducationSchool) :</label>
                        @if (item.IsEducationSchool == true)
                        {
                            <span class="theme_label_data">
                                Yes
                            </span>
                        }
                        else
                        {
                            <span class="theme_label_data">
                                No
                            </span>
                        }
                    </div>
                </div>
                <div id="GraduateDetailHistory_@item.Id">

                </div>
            }
            if (GraduateSchoolIndex == Model.Count())
            {
                <span class="view-more hidden pull-right" id="GraduateSchoolLess" data-toggle="collapse" data-target=".ViewMoreGraduateSchool" onclick="ShowHideAddView('GraduateSchoolMore', 'GraduateSchoolLess')">View Less</span>
            }
        }
        <fieldset class="fsStyle collapse remove_shadow width-100" id="GraduateSchoolDetailsHistory">

            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EducationHistory/GraduateMedicalSchoolDetails/_HistoryGraduateSchoolDetails.cshtml")

        </fieldset>
    </fieldset>
</div>

@* Remove Modal *@
@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/_RemoveModal.cshtml")
