@model IEnumerable<PortalTemplate.Areas.UM.Models.ViewModels.Queue.FacilityQueueViewModel>

<tr>
    <th class=" header_dropdown">

    </th>

    <th @*class="maxWidthtdSM"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.Abbrevation) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">

            <span></span>

        </span>

    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(m => m.ReferenceNumber) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(m => m.MemberID)  @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdXL"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(m => m.MemberName)@*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(m => m.ExpectedDOA)@*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(m => m.DateOfConversion) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>

    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(m => m.ReviewDate) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(m => m.ExpectedDcDate) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>


    <th @*class="maxWidthtdXL"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ProviderName) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdXL"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.FacilityName)  @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdXL"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.SVCAttProviderName) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdSM"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.RequestType) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdSM"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.AuthorizationType)@*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdSM"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.TypeOfCare)  @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.Review) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.ActualLOS) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.DaysRequested) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.TotalAuthorized) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.TotalDenied) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdSM"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.AuthStatus)  @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdSM"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.PosAbb)  @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.PrimaryDx)  @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">

            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.Assigned) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.Entry)@*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
    <th @*class="maxWidthtdX"*@>
        <label class="singleElemQueue bgFieldsQueue">@Html.DisplayNameFor(e => e.AuthNote) @*&nbsp;<i class="fa fa-sort facility-queue-sort"></i>*@</label>
        <span class="styled-input">


            <span></span>

        </span>
    </th>
</tr>

