@model List<PortalTemplate.Areas.Encounters.Models.ProviderViewModel>

<fieldset class="fieldsetStyle">
    <legend class="legendstyle">
        Rendering Provider
        <a class="btn btn-xs btn-info scheduleChangeProvider"><i class="fa fa-reply"> Change</i></a>
    </legend>
    @*<div class="legend1">
            <button class="btn btn-xs btn-info pull-right" id="search_provider_btn">Change Provider <i class="fa fa-reply"></i></button>
        </div>*@
    <div class="panel-body col-lg-12">
        <div class="table-responsive mulitProviderSlectTableDiv">
            <table class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        <th class="text-initial">Name</th>
                        <th class="text-initial">NPI</th>
                        <th class="text-initial">Specialty</th>
                        <th class="text-initial">Taxonomy</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProviderLastName @item.ProviderMiddleName @item.ProviderFirstName</td>
                                <td>@item.ProviderNPI</td>
                                <td>@item.Specialty</td>
                                <td>@item.Taxonomy</td>
                            </tr>
                        }
                </tbody>
            </table>

        </div>

    </div>
</fieldset>