@model IEnumerable<PortalTemplate.Areas.Encounters.Models.EncounterViewModel>
    <table class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped p_body_data_background" style="margin-bottom: 0px; width: 100%;" cellspacing="0">
        <thead class="theme_thead">
            <tr>
                <th>
                    <label>Enctr Id</label>
                </th>
                <th>
                    <label>Mbr Id</label>
                </th>
                <th>
                    <label>Mbr LName</label>
                </th>
                <th>
                    <label>Mbr FName</label>
                </th>
                <th>
                    <label>Prv NPI</label>
                </th>
                <th>
                    <label>Prv LName</label>
                </th>
                <th>
                    <label>Prv FName</label>
                </th>
                <th>
                    <label>Facility</label>
                </th>
                <th>
                    <label>DOS</label>
                </th>
                <th>
                    <label>DOC</label>
                </th>
                <th>
                    <label>Created By</label>
                </th>
                <th>
                    <label>Enctr Type</label>
                </th>
                <th>
                    <label>Status</label>
                </th>
                <th>
                    <label style="padding-left:8px;">Action</label>
                </th>
            </tr>
        </thead>
        <tbody id="schedulelist">
            @foreach (var encounter in Model)
            {
                <tr>
                <td>@encounter.EncounterID </td>
                <td>@encounter.MemberInfo.SubscriberID</td>
                <td>@encounter.MemberInfo.MemberLastName</td>
                <td>@encounter.MemberInfo.MemberFirstName</td>
                <td>@encounter.ProviderInfo.ProviderNPI</td>
                <td>@encounter.ProviderInfo.ProviderLastName</td>
                <td>@encounter.ProviderInfo.ProviderFirstName</td>
                <td>@encounter.FacilityInfo.FacilityName</td>
                <td>@encounter.DateOfCreation</td>
                <td>@encounter.DateOfServiceFrom</td>
                <td>@encounter.CreatedBy</td>
                <td>@encounter.EncounterType</td>
                <td>@encounter.EncounterStatus</td>
                <td class="displaytd">
                    <a data-toggle="tooltip" data-placement="top" title="" class="p_view_btn btn btn-xs tab-navigation member-actions" data-tab-val="ViewEncounter" data-tab-action="View Encounter" data-tab-title="View #@encounter.EncounterID" data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="/Encounters/EncounterCRUD/ViewEncounter" data-original-title="View Encounter"><i class="fa fa-eye"></i></a>
                    <a data-toggle="tooltip" title="" class="p_edit_btn btn btn-xs tab-navigation member-actions" data-tab-val="EditEncounter" data-tab-action="Edit Encounter" data-tab-title="Edit #116244951 " data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="/Encounters/EncounterCRUD/ViewEncounter" data-original-title="Edit Encounter"><i class="fa fa-edit"></i></a>
                    <a data-toggle="tooltip" title="" class="p_delete_btn btn btn-xs" onclick="showCancelModal(116244951 )" data-original-title="Cancel Encounter"><i class="fa fa-close"></i></a><a data-toggle="tooltip" title="" class="p_cancel_btn btn btn-xs" onclick="showRescheduleModal(116244951 )" data-original-title="ReSchedule Encounter"><i class="fa fa-history"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>