@using PortalTemplate.Helper
<p-link filepath="~/Areas/Encounters/Contents/Css/AppCss/EncounterList/Unminified/EncounterList.css" rel="stylesheet"></p-link>


@Html.Partial("~/Areas/Encounters/Views/EncounterList/_DeleteEncounterModal.cshtml")
@Html.Partial("~/Areas/Encounters/Views/EncounterList/_RescheduleEncounterModal.cshtml")
@Html.Partial("~/Areas/Encounters/Views/EncounterList/_NoShowEncounterModal.cshtml")
@Html.Partial("~/Areas/Encounters/Views/EncounterList/_CancelEncounterModal.cshtml")
@Html.Partial("~/Areas/Encounters/Views/EncounterList/_RescheduleCancelModal.cshtml")


<div class="EncounterListContainter">
    <a class="btn btn-xs btn-primary pull-right tab-navigation member-actions margin-top_10" data-toggle="tooltip" data-tab-val="CreateEncounter" title="" data-tab-action="Create Encounter" data-tab-title="Create Encounter" data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="~/Areas/Encounters/Views/CreateEncounter/Index.cshtml" data-original-title="Add New Encounter"><i class="fa fa-plus"></i> Create Encounter</a>
    <div class="inner_menu_container padding_left_right_12px">
        <ul class="tabs-menu clearfix">
            <li class="current">
                <a href="#Schedules" class="list-item no_underline" data-target-url="/Encounters/EncounterList/GetScheduleEncounterList">
                    <span class="charge badge badge-Schedules">@ViewBag.ListCounts.ScheduleCount </span> Schedules
                </a>
            </li>
            <li class="">
                <a href="#Active" class="list-item no_underline" data-target-url="/Encounters/EncounterList/GetActiveEncounterList">
                    <span class="charge badge badge-Active">@ViewBag.ListCounts.ActiveCount</span> Active
                </a>
            </li>
            <li class="">
                <a href="#Open" class="list-item no_underline" data-target-url="/Encounters/EncounterList/GetOpenEncounterList">
                    <span class="charge badge badge-Open">@ViewBag.ListCounts.OpenCount</span> Open
                </a>
            </li>
            <li class="">
                <a href="#Drafts" class="list-item no_underline" data-target-url="/Encounters/EncounterList/GetDraftEncounterList">
                    <span class="charge badge badge-Draft">@ViewBag.ListCounts.DraftCount</span> Drafts
                </a>
            </li>
            <li>
                <a href="#ReadytoAudit" class="list-item no_underline" data-target-url="/Encounters/EncounterList/GetClosedEncounterList">
                    <span class="charge badge badge-RA">@ViewBag.ListCounts.ReadyToCodeCount</span>  Ready to Code
                </a>
            </li>
            <li>
                <a href="#Inactive" class="list-item no_underline" data-target-url="/Encounters/EncounterList/GetInactiveEncounterList">
                    <span class="charge badge badge-Inactive">@ViewBag.ListCounts.InactiveCount</span>  Inactive
                </a>
            </li>
            <li>
                <a href="#Rejected" class="list-item no_underline" data-target-url="/Encounters/EncounterList/GetRejectedEncounterList">
                    <span class="charge badge badge-Inactive">@ViewBag.ListCounts.RejectedCount</span>  Rejected
                </a>
            </li>
        </ul>
    </div>
    <div class="tab memberTabsPadding EncounterTabContentContainer padding_left_right_12px">

        <div id="Schedules" class="custommembertab-content">

        </div>
        <div id="Active" class="custommembertab-content">

        </div>
        <div id="Open" class="custommembertab-content">

        </div>

        <div id="Drafts" class="custommembertab-content">

        </div>
        <div id="ReadytoAudit" class="custommembertab-content">

        </div>
        <div id="Inactive" class="custommembertab-content">

        </div>
        <div id="Rejected" class="custommembertab-content">

        </div>
    </div>
</div>
<p-script filepath="~/Areas/Encounters/Scripts/AppJs/EncounterList/Unminified/EncounterList.js"></p-script>