@model List<PortalTemplate.Areas.MH.Models.ViewModels.MemberProfile.MembershipListViewModel>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>Memberships Information<span class="transparent-font-color">___.</span></span>
    </legend>
    @*<div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>*@
    <div class="x_content zero-padding-left" id="contactDivision">
        <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
            <thead class="text-uppercase">
                <tr>
                    <th class="theme_label" style="width: 10%;">Subscriber ID</th>
                    <th class="theme_label" style="width: 10%;">Last Name</th>
                    <th class="theme_label" style="width: 10%;">First Name</th>
                    <th class="theme_label" style="width: 16%;">Relationship to Member</th>
                    <th class="theme_label" style="width: 12%;">Coverage Start Date</th>
                    <th class="theme_label" style="width: 12%;">Coverage End Date</th>
                    <th class="theme_label" style="width: 7%;">Preference</th>
                    <th class="theme_label" style="width: 5%;">
                        <span class="action_Class">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody id="">
                @foreach(var membership in Model){
                    <tr>
                    <td class="theme_label_data">@membership.SubscriberID</td>
                    <td class="theme_label_data">@membership.LastName</td>
                    <td class="theme_label_data">@membership.FirstName</td>
                    <td class="theme_label_data">@membership.Relationship</td>
                    <td class="theme_label_data">@membership.CoverageStartDate</td>
                    <td class="theme_label_data">@membership.CoverageEndDate</td>
                    <td class="theme_label_data">@membership.Preference</td>
                    <td class="theme_label_data">
                        <button class="btn btn-primary btn-xs tab-navigation member-actions"
                                data-tab-action="View Membership"
                                data-tab-title="Membership"
                                data-tab-parentcontainer="partialBodyContainer"
                                data-tab-parenttabtitle=".outertabs.active > a > b"
                                data-tab-container="innerTabContainer"
                                data-tab-floatmenu="false"
                                data-tab-issubtab="true"
                                data-tab-defaultparenttab="Member"
                                data-tab-userid=@membership.SubscriberID
                                data-tab-usertype="Member"
                                data-tab-autoflush="false"
                                data-tab-path="~/Areas/MH/Views/MemberProfile/InnerTabs/_MembershipDetails.cshtml"
                                data-tab-hassubtabs="false"
                                data-tab-parenttabpath="/MH/SearchMember/GetMemberHeader?subscriberId=UL0001127&amp;type=View&amp;status=Enrolled"
                                data-tab-parenttabrenderingarea="headerArea"
                                data-tab-float-menu-path="~/Areas/MH/Views/Shared/_MHFloatMenu.cshtml">
                            View
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>


@*<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">.</span>Benefits Information<span class="transparent-font-color">.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">BENEFICIARY PLAN ID:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">GROUP ID:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">ENTITY ID:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">ENTITY TYPE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">ENTITY NAME:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
    </div>
</fieldset>*@