@using PratianUI
@model PortalTemplate.Areas.Billing.Models.CMS1500.New.Procedure

<tr>
    <td>1</td>
    <td>
        @Html.TextBoxFor(model => model.Code, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "CPT/HCPCS" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.Modifier1, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "1" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.Modifier2, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "2" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.Modifier3, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "3" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.Modifier4, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "4" })
    </td>
    <td>
        @Html.TextBoxFor(model => model.DiagnosisPointers[0], new { @class = "form-control input-xs non_mandatory_field_halo" })
        @Html.ValidationMessageFor(model => model.DiagnosisPointers[0])
    </td>
    <td>
        @Html.TextBoxFor(model => model.DiagnosisPointers[1], new { @class = "form-control input-xs non_mandatory_field_halo" })
        @Html.ValidationMessageFor(model => model.DiagnosisPointers[1])
    </td>
    <td>
        @Html.TextBoxFor(model => model.DiagnosisPointers[2], new { @class = "form-control input-xs non_mandatory_field_halo" })
        @Html.ValidationMessageFor(model => model.DiagnosisPointers[2])
    </td>
    <td>
        @Html.TextBoxFor(model => model.DiagnosisPointers[3], new { @class = "form-control input-xs non_mandatory_field_halo" })
        @Html.ValidationMessageFor(model => model.DiagnosisPointers[3])
    </td>

    <td>
        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control input-xs non_mandatory_field_halo UnitChargesInform",@type="number" })
        @Html.ValidationMessageFor(model => model.Amount)
    </td>
    <td>
        @Html.TextBoxFor(model => model.Units, new { @class = "form-control input-xs non_mandatory_field_halo UnitChargesInform", @type = "number" })
        @Html.ValidationMessageFor(model => model.Units)
    </td>
    <td>
        @*@Html.TextBoxFor(model => model.ServiceLines[0].UnitCharges, new { @class = "form-control input-xs non_mandatory_field_halo" });*@
        <input type="text" disabled name="" class="form-control input-xs non_mandatory_field_halo UnitChargesValuesInform" />

    </td>
    <td>
        @*@Html.TextBoxFor(model => model.ServiceLines[0].EMG, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "EMG" })*@
    </td>
    <td>
        @*@Html.TextBoxFor(model => model.ServiceLines[0].EPSDT, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "EPSDT" })*@
    </td>
    <td>
        <button class="btn btn-success btn-xs pull-right" type="button" id="AddNewServiceLineBtn"><i class="fa fa-plus"></i></button>
    </td>
</tr>




