@model List<PortalTemplate.Areas.Billing.Models.CreateClaim.Claim_Info.CodeHistory>
<link href="~/Areas/Billing/Contents/CSS/AppCss/CreateClaims/Unminified/codingHistory.css" rel="stylesheet" />

<div class="modal-content">
    <div class="modal-header bg-primary">
        <div class="col-md-12 col-lg-12">
            <div class="col-lg-offset-3 col-lg-6">
                <h3 class="text-center"> <b>Member Active Diagnosis Codes</b></h3>
            </div>
            <div class="col-lg-3 pull-right">
                <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-body c-modalBody">
        <div class="col-lg-12 border_on_panel margin_bottom_10_px padding-top_10 padding_icd" id="ViewActiveHistoryICD">
            @*<div class="col-lg-12 zero-padding-left-right">
                <div class="pull-right"><span class="custombadge outertabclose outertabclose-red" id="CloseICDHistoryClaimInfo"><i class="fa fa-times"></i></span></div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 zero-padding-left-right padding-bottom-10px">
                    <input type="text" class="form-control input-xs " placeholder="Search By ICD Code/Description" name="icdCodeDescription">
                </div>
                <div class=" col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <button class="copy-button margin_left_12px" id="member_search_btnCCM">Search</button>
                </div>
            </div>*@
            <div class="col-lg-12 zero-padding-left-right">
                <div class="table-responsive">
                    <table class="table table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                        <thead class="thead_access_blue">
                            <tr>
                                <th></th>
                                <th>Diagnosis Code </th>
                                <th>Diagnosis Description </th>
                                <th>HCC Code</th>
                                <th>HCC Type</th>
                                <th>HCC Version</th>
                                <th>HCC Description </th>
                                <th>HCC Weight</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    if (item.HCCCode.Length > 1)
                                    {
                                        for (int i = 0; i < 2; i++)
                                        {
                                            if (i == 0)
                                            {
                                                <tr>
                                                    <td rowspan="2">
                                                    @*<input type="checkbox" class="normal-checkbox IcdCOde" value="@item.DiagnosisCode" /><label><span></span></label>*@
                                                       @Html.PratianUiCheckboxFor(model => item.DiagnosisCode, new { @Class="selectActiveICDCode"})<label><span></span></label>
                                                    </td>
                                                    <td rowspan="2">@item.DiagnosisCode</td>
                                                    <td rowspan="2">@item.DiagnosisDescription</td>
                                                    <td>@item.HCCCode[i]</td>
                                                    <td>@item.HCCType[i]</td>
                                                    <td>@item.HCCVersion[i]</td>
                                                    <td>@item.HCCDescription[i]</td>
                                                    <td>@item.HCCWeight[i]</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@item.HCCCode[i]</td>
                                                    <td>@item.HCCType[i]</td>
                                                    <td>@item.HCCVersion[i]</td>
                                                    <td>@item.HCCDescription[i]</td>
                                                    <td>@item.HCCWeight[i]</td>
                                                </tr>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                @*<input type="checkbox" class="normal-checkbox IcdCOde" value="@item.DiagnosisCode" /><label><span></span></label>*@
                                                @Html.PratianUiCheckboxFor(model => item.DiagnosisCode, new { @Class = "selectActiveICDCode" })<label><span></span></label>
                                            </td>
                                            <td>@item.DiagnosisCode</td>
                                            <td>@item.DiagnosisDescription</td>
                                            <td>@item.HCCCode[0]</td>
                                            <td>@item.HCCType[0]</td>
                                            <td>@item.HCCVersion[0]</td>
                                            <td>@item.HCCDescription[0]</td>
                                            <td>@item.HCCWeight[0]</td>
                                        </tr>
                                    }

                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-sm btn-success pull-right" id="appendICDfromHistory" data-dismiss="modal">Save</button>
    </div>
</div>


<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/new/codingHistory.js"></script>