@model PortalTemplate.Areas.Billing.Models.CMS1500.New.BillingInfo

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="text-initial title_heading">Facility Information</span>
    </legend>
    <div class="panel-body">
        <div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Name
                </span><br />
                <span class="summary_data">
                    <span id="ReqFirstName" class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Facility.FacilityName</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    NPI Number
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Facility.FacilityCode</span>
                   
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    Address
                </span><br />
                <span class="summary_data">
                    <span id="ReqLastName" class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Facility.Address.AddressLine1 @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Facility.Address.AddressLine2</span>
                 
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    City
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Facility.Address.City</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    State
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase wrap-span-content ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Facility.Address.State</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    Zip
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Facility.Address.ZipCode</span>
                  
                </span>
            </div>
        </div>
    </div>
</fieldset>