@model PortalTemplate.Areas.Billing.Models.CMS1500.New.BillingInfo

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="text-initial title_heading">Payer Information</span>
    </legend>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Payer ID
                </span><br />
                <span class="summary_data">
                    <span id="ReqFirstName" class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[0].Plan.PlanUniqueId</span>
                    
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Payer Name
                </span><br />
                <span class="summary_data">
                    <span id="ReqLastName" class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[0].Plan.PlanName</span>
                   
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Insurance Type
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding"></span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Address
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase wrap-span-content ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[0].Plan.Address.AddressLine1 @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[0].Plan.Address.AddressLine2</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    City
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[0].Plan.Address.City</span>
                   
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    State
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[0].Plan.Address.State</span>
                   
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Zip
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[0].Plan.Address.ZipCode</span>
                   
                </span>
            </div>
        </div>
    </div>
</fieldset>