@model PortalTemplate.Areas.Billing.Models.CMS1500.New.BillingInfo

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="text-initial title_heading">Member Information</span>
    </legend>
    <div class="panel-body">
        <div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Name
                </span><br />
                <span class="summary_data">
                    <span id="ReqFirstName" class="bolding text-uppercase ng-binding">
                        @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.LastName @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.MiddleName @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.FirstName

                    </span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    DOB
                </span><br />
                <span class="summary_data">
                    <span id="ReqLastName" class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.DateOfBirth</span>
                    
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Sex
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Gender</span>
                    
                </span>
            </div>
            <div class="col-lg-4 divwidth_auto">
                <span class="text-initial">
                    Patient Relation To Insured
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase wrap-span-content ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.PatientRelationShipCode</span>
                    
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Address
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.ContactInfo.Address.AddressLine1 @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.ContactInfo.Address.AddressLine2</span>
                    
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    City
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.ContactInfo.Address.City</span>
                    
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    State
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.ContactInfo.Address.State</span>
       
                </span>
            </div><br />
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Zip
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.ContactInfo.Address.ZipCode</span>
                
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Phone
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.ContactInfo.Phone</span>
                   
                </span>
            </div>
        </div>
    </div>
</fieldset>


<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="text-initial title_heading">Insured Details</span>
    </legend>
    <div class="panel-body">
        <div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Name
                </span><br />
                <span class="summary_data">
                    <span id="ReqFirstName" class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().LastName @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().MiddleName @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().FirstName</span>

                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    DOB
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().DOB</span>

                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Sex
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().Gender</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Address
                </span><br />
                <span class="summary_data">
                    <span id="ReqLastName" class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().ContactInfo.Address.AddressLine1 @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().ContactInfo.Address.AddressLine2</span>
                  </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    City
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().ContactInfo.Address.City</span>
              
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    State
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase wrap-span-content ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().ContactInfo.Address.State</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Zip
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().ContactInfo.Address.ZipCode</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span>
                    Phone
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().ContactInfo.Phone</span>
                 
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Insured ID
                </span><br />
                <span class="summary_data">
                
                    <span class="bolding text-uppercase wrap-span-content ng-binding"></span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    policy no
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().PolicyNumber</span>
                   
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Plan Name
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase wrap-span-content ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber.First().Plan.PlanName</span>
                   
                </span>
            </div>

        </div>
    </div>
</fieldset>

<div class="divwidth_auto text-uppercase margin_left">
    <span class="text-initial">
        Is there another Health Benefit Plan?
    </span>
    <span class="summary_data">
        <span id="ReqProviderPhoneNumber" class="bolding ng-binding"></span>
    </span>
</div>
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="text-initial title_heading">Secondary Insured Information</span>
    </legend>
    <div class="panel-body">
        <div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Insured Name
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[1].LastName @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[1].MiddleName @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[1].FirstName</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Policy No
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase wrap-span-content ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[1].PolicyNumber</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Plan Name
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.Member.Subscriber[1].Plan.PlanName</span>
                   
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                <span class="text-initial">
                    Patient Account Number
                </span><br />
                <span class="summary_data">
                    @*<span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.PatientAccountNumber</span>*@
                </span>
            </div>
        </div>
    </div>
</fieldset>