@model PortalTemplate.Areas.Billing.Models.CMS1500.New.BillingInfo
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="text-initial title_heading">Provider Information</span>
    </legend>
    <div class="panel-body">
        <div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    Name
                </span><br />
                <span class="summary_data">
                    <span id="ReqFirstName" class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.RenderingProvider.LastName @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.RenderingProvider.MiddleName @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.RenderingProvider.FirstName</span>
                   
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    Address
                </span><br />
                <span class="summary_data">
                    <span id="ReqLastName" class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.RenderingProvider.ContactInfo.Address.AddressLine1 @Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.RenderingProvider.ContactInfo.Address.AddressLine2</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    City
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.RenderingProvider.ContactInfo.Address.City</span>
                  
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    State
                </span><br />
                <span class="summary_data">
                    <span class="bolding text-uppercase wrap-span-content ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.RenderingProvider.ContactInfo.Address.State</span>
                   
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    Phone
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.RenderingProvider.ContactInfo.Phone</span>
                   
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    Taxonomy
                </span><br />
                <span class="summary_data">
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding">@Model.CodedEncounter.Encounter.EncounteredSchedule[0].Schedule.RenderingProvider.TaxonomyCode</span>
                   
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto">
                  <span class="text-initial">
                    SSN/Tax Id
                </span><br />
                <span class="summary_data">                    
                    <span id="ReqProviderPhoneNumber" class="bolding ng-binding"></span>
                </span>
            </div>
        </div>
    </div>
</fieldset>