@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CnDJS.js"></script>
}
<style>
    .form-style fieldset {
        padding: 15px 20px 5px 20px;
    }

    .grow {
        transition: all .2s ease-in-out;
    }

        .grow:hover {
            transform: scale(2.1);
        }
</style>

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-check-square-o"></i> Credentialing and Delegation
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        @*<div class="row">
                <div class="col-lg-6">
                    <strong class="small col-lg-2 zero-padding-left-right-div">Plan Details</strong><span class="col-lg-10 zero-padding-left-right-div"><hr /></span>
                    <div class="col-lg-12">
                        @Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_PlanDetail.cshtml")
                    </div>

                </div>
                <div class="col-lg-6">
                    <span class="col-lg-9 zero-padding-left-right-div"><hr /></span><strong class="small col-lg-3 zero-padding-left-right-div text-right">Provider Details</strong>
                    <div class="col-lg-10">
                        @Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_ProviderDetail.cshtml")
                    </div>
                    <div class="col-lg-2">
                        <div class="thumbnail imageStyle">
                            <img src="/Content/Images/Providers/Pariksith_Singh.jpg" class="img-rounded">
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div>
                        <div class="col-lg-3">
                            @Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_StatusContainer.cshtml")
                        </div>
                        <div class="col-lg-9">
                            @Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_StatusDetail.cshtml")
                        </div>
                    </div>
                    @Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_ViewContainer.cshtml")
                </div>
                <div class="col-lg-4">
                    @Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_ActionContainer.cshtml")
                </div>
            </div>*@
        <div class="row">
            <div class="col-lg-2 form-style">
                <fieldset>
                    <div class="legend2 pull-right">
                        <button class="btn btn-xs" onclick="toggleDiv('provider_detail_div');"><i class="fa fa-caret-down"></i></button>
                    </div>
                    <legend>
                        Provider Details
                    </legend>
                    <div>
                        @Html.Partial("~/Areas/Credentialing/Views/CnD/_ProviderDetail.cshtml")
                    </div>
                </fieldset>
                @*<fieldset>
                        <div class="legend2 pull-right">
                            <button class="btn btn-xs" onclick="toggleDiv('plan_detail_div');"><i class="fa fa-caret-down"></i></button>
                        </div>
                        <legend>
                            Plan Details
                        </legend>
                        <div>
                            @Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_PlanDetail.cshtml")
                        </div>
                    </fieldset>*@
            </div>
            <div class="col-lg-7 form-style zero-padding-left-right-div">
                <fieldset>
                    <div class="legend2 pull-right">
                        <button class="btn btn-xs" onclick="toggleDiv('status_Detail_Div');"><i class="fa fa-caret-down"></i></button>
                    </div>
                    <legend>
                        Status
                    </legend>
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <div class="small">
                                <div>
                                    <strong>Initiated By: </strong>
                                    <span>Jenine Martin</span>
                                </div>
                            </div>
                            @*@Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_StatusContainer.cshtml")*@
                        </div>

                        <div class="col-lg-4 pull-right">
                            @*@Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_StatusContainer.cshtml")*@
                            <div class="small">
                                <div>
                                    <strong>Initiated Date: </strong>
                                    <span>02-March-2015</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div" id="status_Detail_Div">
                        @Html.Partial("~/Areas/Credentialing/Views/CnD/_StatusDetail.cshtml")
                    </div>
                </fieldset>

                <div class="col-lg-12">
                    @Html.Partial("~/Areas/Credentialing/Views/CnD/_ViewContainer.cshtml")
                </div>
            </div>

            <div class="col-lg-3 form-style">
                <fieldset>
                    <div class="legend2 pull-right">
                        <button class="btn btn-xs" onclick="toggleDiv('plan_detail_div');"><i class="fa fa-caret-down"></i></button>
                    </div>
                    <legend>
                        Plan Details
                    </legend>
                    <div>
                        @Html.Partial("~/Areas/Credentialing/Views/CnD/_PlanDetail.cshtml")
                    </div>
                </fieldset>
                @Html.Partial("~/Areas/Credentialing/Views/CnD/_ActionContainer.cshtml")
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
