@model PortalTemplate.Areas.Billing.Models.CreateClaim.Cms1500ViewModels
@{
    List<SelectListItem> ICDType = new List<SelectListItem>();
    List<SelectListItem> state = new List<SelectListItem>();
    ICDType.Add(new SelectListItem
      {
          Text = "ICD 10",
          Value = "ICD10",
          Selected = true
      });
    ICDType.Add(new SelectListItem
     {
         Text = "ICD 9",
         Value = "ICD9",
     });

    state.Add(new SelectListItem
    {
        Text = "AA",
        Value = "AA",
        Selected = true
    });
    state.Add(new SelectListItem
     {
         Text = "AP",
         Value = "AP",
     });
    state.Add(new SelectListItem
    {
        Text = "AK",
        Value = "AK",
        Selected = true
    });
    state.Add(new SelectListItem
   {
       Text = "AL",
       Value = "AL",
       Selected = true
   });
    state.Add(new SelectListItem
     {
         Text = "AR",
         Value = "AR",
     });
    state.Add(new SelectListItem
  {
      Text = "AS",
      Value = "AS",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "AZ",
         Value = "AZ",
     });
    state.Add(new SelectListItem
  {
      Text = "CA",
      Value = "CA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "CO",
         Value = "CO",
     });
    state.Add(new SelectListItem
  {
      Text = "CT",
      Value = "AA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "DC",
         Value = "DC",
     });
    state.Add(new SelectListItem
  {
      Text = "DE",
      Value = "DE",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "FL",
         Value = "FL",
     });
    state.Add(new SelectListItem
  {
      Text = "FM",
      Value = "FM",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "GA",
         Value = "GA",
     });
    state.Add(new SelectListItem
  {
      Text = "GU",
      Value = "GU",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "HI",
         Value = "HI",
     });
    state.Add(new SelectListItem
  {
      Text = "IA",
      Value = "IA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "ID",
         Value = "ID",
     });

    state.Add(new SelectListItem
     {
         Text = "IL",
         Value = "IL",
     });
    state.Add(new SelectListItem
    {
        Text = "IN",
        Value = "IN",
        Selected = true
    });
    state.Add(new SelectListItem
     {
         Text = "KS",
         Value = "KS",
     });
    state.Add(new SelectListItem
  {
      Text = "KY",
      Value = "KY",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "LA",
         Value = "LA",
     });
    state.Add(new SelectListItem
  {
      Text = "MA",
      Value = "MA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "MD",
         Value = "MD",
     });
    state.Add(new SelectListItem
  {
      Text = "ME",
      Value = "ME",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "MH",
         Value = "MH",
     });
    state.Add(new SelectListItem
  {
      Text = "MI",
      Value = "MI",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "MN",
         Value = "MN",
     });
    state.Add(new SelectListItem
  {
      Text = "MO",
      Value = "MO",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "MP",
         Value = "MP",
     });

    state.Add(new SelectListItem
     {
         Text = "MS",
         Value = "MS",
     });
    state.Add(new SelectListItem
    {
        Text = "MT",
        Value = "MT",
    });
    state.Add(new SelectListItem
  {
      Text = "NC",
      Value = "NC",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "ND",
         Value = "ND",
     });
    state.Add(new SelectListItem
  {
      Text = "NE",
      Value = "NE",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "NH",
         Value = "NH",
     });
    state.Add(new SelectListItem
  {
      Text = "NJ",
      Value = "NJ",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "NM",
         Value = "NM",
     });
    state.Add(new SelectListItem
  {
      Text = "NV",
      Value = "NV",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "OH",
         Value = "OH",
     });
    state.Add(new SelectListItem
  {
      Text = "OK",
      Value = "OK",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "OR",
         Value = "OR",
     });

    state.Add(new SelectListItem
     {
         Text = "PA",
         Value = "PA",
     });
    state.Add(new SelectListItem
    {
        Text = "PR",
        Value = "PR",
        Selected = true
    });
    state.Add(new SelectListItem
     {
         Text = "PW",
         Value = "PW",
     });
    state.Add(new SelectListItem
  {
      Text = "RI",
      Value = "RI",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "SC",
         Value = "SC",
     });
    state.Add(new SelectListItem
  {
      Text = "SD",
      Value = "SD",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "TN",
         Value = "TN",
     });
    state.Add(new SelectListItem
  {
      Text = "TX",
      Value = "TX",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "UT",
         Value = "UT",
     });
    state.Add(new SelectListItem
  {
      Text = "VA",
      Value = "VA",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "VI",
         Value = "VI",
     });
    state.Add(new SelectListItem
  {
      Text = "VT",
      Value = "VT",
      Selected = true
  });
    state.Add(new SelectListItem
     {
         Text = "WA",
         Value = "WA",
     });

    state.Add(new SelectListItem
     {
         Text = "WI",
         Value = "WI",
     });
    state.Add(new SelectListItem
    {
        Text = "WV",
        Value = "WV",
    });

    state.Add(new SelectListItem
     {
         Text = "WY",
         Value = "WY",
     });
}
<link href="~/Areas/Billing/Contents/CSS/AppCss/Claims%20Tracking/Unminified/Cms1500ViewForm.css" rel="stylesheet" />

<div class="x_panel border_on_panel" id="viewCmsForm">
    <div class="x_content">
        @*<div class="row">
                <div class="col-lg-12 pull-left title_heading">
                    PREVIEW (CMS 1500)
                </div>
            </div>*@
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                <label class="title_text pull-left">
                    Preview (CMS 1500)
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td>@Html.LabelFor(model => model.PayerName, new { @class = "cms_label" })</td>
                        <td colspan="2">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PayerName)</label>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.PayerID, new { @class = "cms_label" })</td>
                        <td colspan="2">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PayerID)</label>
</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.PayerFirstAddress, new { @class = "cms_label" })</td>
                        <td colspan="2">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PayerFirstAddress)</label>
</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.PayerSecondAddress, new { @class = "cms_label" })</td>
                        <td colspan="2">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PayerSecondAddress)</label>
</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PayerCity, new { @class = "cms_label" }),
                            @Html.LabelFor(model => model.PayerState, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PayerCity)</label>

</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PayerState)</label>
</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PayerZip, new { @class = "cms_label" })
                        </td>
                        <td colspan="2">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PayerZip)</label>
</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 cms_div">
                <table>
                    <tr>
                        <td><label>1. Medicare</label></td>
                        <td><label>Medicaid</label></td>
                        <td><label>Tricare</label></td>
                        <td><label>CHAMPVA</label></td>
                        <td><label>Group Health Plan</label></td>
                        <td><label>FECA BLK LUNG</label></td>
                        <td><label>Others</label></td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimFilingIndicatorCode)</label>
                            <label for="MedicareRadio"><span></span>(Medicare#)</label>
                            @*@Html.Label("(Medicare#)", new { @class = "cms_label" })*@
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimFilingIndicatorCode)</label>
                            @*@Html.Label("(Medicaid#)", new { @class = "cms_label" })*@
                            <label for="MedicaidRadio"><span></span>(Medicaid#)</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimFilingIndicatorCode)</label>
                            @*@Html.Label("(ID#DOD#)", new { @class = "cms_label" })*@
                            <label for="TricareRadio"><span></span>(ID#DOD#)</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimFilingIndicatorCode)</label>
                            @*@Html.Label("(VA File#)", new { @class = "cms_label" })*@
                            <label for="chamvaRadio"><span></span>(VA File#)</label>


                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimFilingIndicatorCode)</label>
                            @*@Html.Label("(ID#)", new { @class = "cms_label" })*@
                            <label for="ghpRadio"><span></span>(ID#)</label>


                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimFilingIndicatorCode)</label>
                            @*@Html.Label("(ID#)", new { @class = "cms_label" })*@
                            <label for="fecablklungRadio"><span></span>(ID#)</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimFilingIndicatorCode)</label>
                            @*@Html.Label("(ID#)", new { @class = "cms_label" })*@
                            <label for="OtherRadio"><span></span>(ID#)</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 cms_div">
                <table>
                    <tr>
                        <td>
                            <label>1A.</label> @Html.LabelFor(model => model.InsuredIdNumber)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.InsuredIdNumber)</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <label>
                    2. Patient's Name (Last Name, First Name, Middle Init)
                </label>
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PatientLastOrOrganizationName, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientLastOrOrganizationName)</label>
                        </td>
                        <td>
                            @Html.LabelFor(model => model.PatientMiddleName, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientMiddleName)</label>
                        </td>
                        <td>
                            @Html.LabelFor(model => model.PatientFirstName, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientFirstName)</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                    <table>
                        <tr>
                            <td>
                                <label>3.</label>  @Html.LabelFor(model => model.PatientBirthDate, new { @class = "cms_label" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientBirthDate)</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                    <table>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.PatientGenders, new { @class = "cms_label" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="x_content">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientGenders)</label>
                                        @*@Html.Label("M")*@
                                        <label for="GenderM"><span></span>M</label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientGenders)</label>
                                        @*@Html.Label("F")*@
                                        <label for="GenderF"><span></span>F</label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientGenders)</label>
                                        @*@Html.Label("OTHER")*@
                                        <label for="GenderO"><span></span>O</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">

                <label>
                    4. Insured's Name (Last Name, First Name, Middle Init)
                </label>
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.SubscriberLastOrOrganizationName, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberLastOrOrganizationName)</label>
                        </td>
                        <td>
                            @Html.LabelFor(model => model.SubscriberMiddleName, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberMiddleName)</label>
                        </td>
                        <td>
                            @Html.LabelFor(model => model.SubscriberFirstName, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberFirstName)</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td colspan="2">
                            <label>5.</label> @Html.Label("ADDRESS", new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientFirstAddress)</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientSecondAddress)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PatientCity, new { @class = "cms_label" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.PatientState, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientCity)</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientState)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PatientZip, new { @class = "cms_label" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.PatientPhoneNo, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientZip)</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientPhoneNo)</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td>
                            <label>6.</label> @Html.LabelFor(model => model.IndividualRelationshipCode, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.IndividualRelationshipCode)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>8.</label> <label>Reserved For NUCC use</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.IndividualRelationshipCode)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.IndividualRelationshipCode)</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td colspan="2">
                            <label>7.</label> @Html.Label("ADDRESS", new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberFirstAddress)</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberSecondAddress)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.SubscriberCity, new { @class = "cms_label" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.SubscriberState, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberCity)</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberState)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.SubscriberZip, new { @class = "cms_label" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.SubscriberPhoneNo, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberZip)</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberPhoneNo)</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <label>
                    9. Other Insured's Name (Last Name, First Name, Middle Init)
                </label>
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.OtherInsuredLastName, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherInsuredLastName)</label>
                        </td>
                        <td>
                            @Html.LabelFor(model => model.OtherInsuredFirstName, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherInsuredFirstName)</label>
                        </td>
                        <td>
                            @Html.LabelFor(model => model.OtherInsuredMiddleName, new { @class = "cms_label" })
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherInsuredMiddleName)</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            @Html.LabelFor(model => model.OtherInsuredPolicyNo, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherInsuredPolicyNo)</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            @Html.LabelFor(model => model.OtherInsuredNUCCUse01, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherInsuredNUCCUse01)</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            @Html.LabelFor(model => model.OtherInsuredNUCCUse02, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherInsuredNUCCUse02)</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            @Html.LabelFor(model => model.OtherInsuredPlanName, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherInsuredPlanName)</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <label>10. IS PATIENT'S CONDITION RELATED TO</label>
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Employment, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.Employment, "yes")</label>
                                    <label for="EmploymentYes"><span></span>YES</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.Employment, "no")</label>
                                    <label for="EmploymentNo"><span></span>NO</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.AutoAccident, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.AutoAccident, "yes")</label>
                                    @*@Html.Label("AccAccYes")*@
                                    <label for="AccAccYes"><span></span>Yes</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.AutoAccident, "no")</label>
                                    <label for="AccAccNo"><span></span>NO</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.OtherAccident, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherAccident, "yes")</label>
                                    <label for="OtherAccYes"><span></span>YES</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherAccident, "no")</label>
                                    <label for="OtherAccNo"><span></span>NO</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.ClaimCodes, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimCodes)</label>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td colspan="2">
                            <label>11.</label> @Html.LabelFor(model => model.SubscriberGroup_PolicyNo, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberGroup_PolicyNo)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>A.</label>@Html.LabelFor(model => model.SubscriberBirthDate, new { @class = "cms_label" })
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberBirthDate)</label>

                        </td>

                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.SubscriberGenders, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberGenders, "m")</label>
                                    <label for="SubGenderM"><span></span>M</label>
                                    @*@Html.Label("M")*@
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberGenders, "f")</label>
                                    <label for="SubGenderF"><span></span>F</label>
                                    @*@Html.Label("F")*@
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberGenders, "o")</label>
                                    <label for="SubGenderO"><span></span>O</label>
                                    @*@Html.Label("OTHER")*@
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>B.</label>@Html.LabelFor(model => model.OtherClaimId, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherClaimId)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherClaimQual)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>C.</label>@Html.LabelFor(model => model.SubscriberGroup_PlanName, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberGroup_PlanName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>D.</label>@Html.LabelFor(model => model.HealthBenefitPlan, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.HealthBenefitPlan, "yes")</label>
                                    <label for=""><span></span>YES</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.HealthBenefitPlan, "no")</label>
                                    <label for=""><span></span>NO</label>
                                </div>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        @* --------------------------------- *@
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 cms_div">
                <label>12.</label> @Html.LabelFor(model => model.SupplierSignatureIndicator, new { @class = "cms_label" })
                <table>
                    <tr>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SupplierSignatureIndicator, "yes")</label>
                                    <label for="SupplierSignatureIndicatorY"><span></span>YES</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SupplierSignatureIndicator, "no")</label>
                                    <label for="SupplierSignatureIndicatorN"><span></span>NO</label>
                                </div>
                            </div>

                        </td>
                        <td>
                            @Html.LabelFor(model => model.PatientOrAuthorizedSignatureDate, new { @class = "cms_label" })
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientOrAuthorizedSignatureDate)</label>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <label>13.</label> @Html.LabelFor(model => model.InsuredSignatureIndicator, new { @class = "cms_label" })
                <table>
                    <tr>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.InsuredSignatureIndicator, "yes")</label>
                                    <label for="InsuredSignatureIndicatorY"><span></span>YES</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.InsuredSignatureIndicator, "no")</label>
                                    <label for="InsuredSignatureIndicatorN"><span></span>NO</label>
                                </div>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <label>14.</label> @Html.Label("DATE OF CURRENT ILLNESS,INJURY OR PREGNANCY(LMP)", new { @class = "cms_label" })
                <table>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.DateOfCurrentIllness)</label>

                        </td>
                        <td>
                            @Html.LabelFor(model => model.DateOfCurrentIllnessQual, new { @class = "cms_label" })
                            @* <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.DateOfCurrentIllnessQual, Qual1, new { @class = "form-control input-xs non_mandatory_field_halo dropdown_selector" })*@
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.DateOfCurrentIllnessQual)</label>

                        </td>

                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <label>15.</label> @Html.LabelFor(model => model.OtherDate, new { @class = "cms_label" })
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.OtherDate, new { @class = "cms_label" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.OtherDateQual, new { @class = "cms_label" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherDate)</label>

                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherDateQual)</label>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <label>16.</label> @Html.Label("PATIENT UNABLE TO WORK IN CURRENT OCCUPATION", new { @class = "cms_label" })

                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PatientUnableToWorkFrom)
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientUnableToWorkFrom)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.PatientUnableToWorkTo)
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientUnableToWorkTo)

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <label>17.</label> @Html.Label("NAME OF THE REFERRING PROVIDER OR OTHER SOURCE", new { @class = "cms_label" })
                <table>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ReferringProviderQual)</label>

                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ReferringProviderLastName)</label>

                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberGroup_PlanName)</label>

                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SubscriberGroup_PlanName)</label>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td>
                            <label>17A.</label>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PhysicianQualifier)</label>

                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PhysicianDescription)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>17B.</label>
                        </td>
                        <td>
                            @Html.LabelFor(model => model.ReferringProviderIdentifier)
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ReferringProviderIdentifier)</label>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <label>18.</label> @Html.Label("HOSPITALIZATION DATES RELATED TO CURRENT SERVICE", new { @class = "cms_label" })

                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.CurrentServiceFrom)
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.CurrentServiceFrom)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.CurrentServiceTo)
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.CurrentServiceTo)</label>

                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 cms_div">
                <table>
                    <tr>
                        <td>
                            <label>19.</label> @Html.LabelFor(model => model.AdditionalClaimsInfo)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.AdditionalClaimsInfo)</label>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td>
                            <label>20.</label> @Html.LabelFor(model => model.OutSideLab)
                        </td>
                        <td>
                            @Html.LabelFor(model => model.Charges)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OutSideLab, "yes")</label>
                                    <label for="OutSideLabY"><span></span>YES</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OutSideLab, "no")</label>
                                    <label for="OutSideLabN"><span></span>NO</label>
                                </div>
                            </div>
                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.Charges)</label>

                        </td>
                    </tr>
                </table>
            </div>
        </div>


        @* ----------------------------------DIGNOSIS POINTER------------------- *@
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 cms_div">
                <table>
                    <tr>
                        <td colspan="4"> <label for="fullname" class="los_labels">21. DIAGNOSIS OR NATURE OF ILLNESS OR INJURY</label></td>
                        <td>
                            @*<label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ICDIndicator, new { @class = "form-control input-xs non_mandatory_field_halo", placeholder = "icd" })*@
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ICDIndicator)</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>A.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness1)</label>

                        </td>
                        <td>
                            <label>B.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness2)</label>

                        </td>
                        <td>
                            <label>C.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness3)</label>

                        </td>
                        <td>
                            <label>D.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness4)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>E.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness5)</label>

                        </td>
                        <td>
                            <label>F.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness6)</label>

                        </td>
                        <td>
                            <label>G.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness7)</label>

                        </td>
                        <td>
                            <label>H.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness8)</label>

                        </td>
                    </tr>
                    <tr>

                        <td>
                            <label>I.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness9)</label>

                        </td>
                        <td>
                            <label>J.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness10)</label>

                        </td>
                        <td>
                            <label>K.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness11)</label>

                        </td>
                        <td>
                            <label>L.</label>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ClaimsNatureOfIllness12)</label>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td>
                            <label>22.</label> @Html.LabelFor(model => model.ResubmissionCode)
                        </td>
                        <td>
                            @Html.LabelFor(model => model.OriginalReferenceNo)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ResubmissionCode)</label>

                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OriginalReferenceNo)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>23.</label> @Html.LabelFor(model => model.PriorAuthorizationNo)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PriorAuthorizationNo)</label>

                        </td>
                    </tr>
                </table>

            </div>
        </div>


        @* ----------------------------service line------------------------------------- *@
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serviceline_section">
                <table class="table table-responsive small table-bordered">
                    <tbody id="DOStableBody">
                        <tr>
                            <th colspan="2">
                                <label class="cms_label">24 A. Date(s) of service</label>
                            </th>
                            <th rowspan="2">
                                <label class="cms_label">B.<br /> Place of Service</label>
                            </th>
                            <th rowspan="2">
                                <label class="cms_label">C.<br /> EMG</label>
                            </th>
                            <th colspan="5">
                                <label class="cms_label">D. Procedures,Services or supplies</label>
                            </th>
                            <th rowspan="2" colspan="4">
                                <label class="cms_label">E.<br /> Diagnosis Pointer</label>
                            </th>
                            <th rowspan="2">
                                <label class="cms_label">F.<br /> Unit charges<br /> ($)</label>
                            </th>
                            <th rowspan="2">
                                <label class="cms_label">G.<br /> Days and unit</label>
                            </th>
                            <th rowspan="2">
                                <label class="cms_label">Charges<br /> ($)</label>
                            </th>
                            <th rowspan="2">
                                <label class="cms_label">H.<br /> EPSDT</label>
                            </th>
                            <th rowspan="2">
                                <label class="cms_label">I.<br /> ID Qual</label>
                            </th>
                            <th rowspan="2">
                                <label class="cms_label">J.<br /> Rendering<br /> provider ID</label>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <label class="cms_label">FROM (MM/DD/YYYY)</label>
                            </th>
                            <th>
                                <label class="cms_label">TO (MM/DD/YYYY)</label>
                            </th>
                            <th>
                                <label class="cms_label">CPT/HCPCS</label>
                            </th>
                            <th colspan="4">
                                <label class="cms_label">Modifier</label>
                            </th>
                        </tr>

                        @foreach (var item in Model.ServiceLines)
                        {
                            <tr id="TableRowData">
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.DateOfServiceFrom)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.DateOfServiceTo)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PlaceOfService)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.EMG)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.claimsProcedure)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.Modifier1)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.Modifier2)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.Modifier3)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.Modifier4)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.DiagnosisPointer1)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.DiagnosisPointer2)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.DiagnosisPointer3)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.DiagnosisPointer4)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.UnitCharges)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.Unit)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.UnitCharges)</label>

                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => item.EPSDT)</label>

                                </td>
                                <td>
                                    NPI
                                </td>
                                <td>
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.RenderingProviderNPI)</label>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <button class="light-green-button pull-right" id="AddNewRowInForm"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>


        @* -----------------------write code below---------------------- *@
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td><label>25.</label>. @Html.LabelFor(model => model.BillingProviderEmployeeID, new { @class = "cms_label" })</td>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderTaxIDQual, "ssn")</label>
                                    @*@Html.Label("SSN", new { @class = "cms_label" })*@
                                    <label for="BillingProviderTaxIDQualY"><span></span>SSN</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderTaxIDQual, "ein")</label>
                                    @*@Html.Label("EIN", new { @class = "cms_label" })*@
                                    <label for="BillingProviderTaxIDQualN"><span></span>EIN</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderEmployeeID)</label>

                        </td>

                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td><label>26.</label> @Html.LabelFor(model => model.PatientAccountNumber, new { @class = "cms_label" })</td>
                        <td><label>27.</label> @Html.LabelFor(model => model.AcceptanceAssignment, new { @class = "cms_label" })</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.PatientAccountNumber)</label>

                        </td>
                        <td>
                            <div class="x_content">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OutSideLab, "yes")</label>
                                    <label for="OutSideLabYY"><span></span>YES</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OutSideLab, "no")</label>
                                    <label for="OutSideLabNN"><span></span>NO</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td><label>28.</label><br /> @Html.LabelFor(model => model.TotalCharges, new { @class = "cms_label" })</td>
                        <td><label>29.</label><br /> @Html.LabelFor(model => model.AmountPaid, new { @class = "cms_label" })</td>
                        <td><label>30.</label><br />@Html.LabelFor(model => model.OtherInsuredNUCCUse03, new { @class = "cms_label" })</td>
                    </tr>
                    <tr>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.TotalCharges)</label>

                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.AmountPaid)</label>

                        </td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OtherInsuredNUCCUse03)</label>

                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 cms_div">
                <table>
                    <tr>
                        <td>@Html.LabelFor(model => model.InitialTreatmentDate, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.InitialTreatmentDate)</label>

                        </td>
                    </tr>
                    <tr>
                        @*<td>@Html.LabelFor(model => model.LastSeenDate, new { @class = "cms_label" })</td>*@
                        <td><label class="cms_label">LATEST VISIT OR<br /> CONSULTATION DATE</label></td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.LastSeenDate)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("SUPERVISING PHYSICIAN", new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SupervisingProviderLastName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SupervisingProviderFirstName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SupervisingProviderMiddleName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.SupervisingProviderIdentifier1, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SupervisingProviderIdentifier1)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.SupervisingProviderIdentifier2, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.SupervisingProviderIdentifier2)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("ORDERING PHYSICIAN", new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OrderingProviderLastName)</label>

                        </td>


                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OrderingProviderFirstName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OrderingProviderMiddleName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.OrderingProviderIdentifier1, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OrderingProviderIdentifier1)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.OrderingProviderIdentifier2, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.OrderingProviderIdentifier2)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.ReferringCLIA_Number, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.ReferringCLIA_Number)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.AccidentDate, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.AccidentDate)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.MammographyCertificate, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.MammographyCertificate)</label>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 cms_div">
                <label>32.</label> @Html.Label("SERVICE FACILITY LOCATION AND INFORMATION", new { @class = "cms_label" })
                <table>
                    <tr>
                        <td>@Html.LabelFor(model => model.FacilityName, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.FacilityName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.FacilityAddress1, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.FacilityAddress1)</label>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.FacilityAddress2)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.FacilityCity, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.FacilityCity)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.FacilityState, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.FacilityState)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.FacilityZip, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.FacilityZip)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.FacilityIdentifier1, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.FacilityIdentifier1)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.FacilityIdentifier2, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.FacilityIdentifier2)</label>

                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 cms_div">
                <label>33.</label> @Html.Label("BILLING PROVIDER INFO AND #PHONE", new { @class = "cms_label" })
                <table>
                    <tr>
                        <td>@Html.Label("BILLING PROVIDER", new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderLastOrOrganizationName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderFirstName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderMiddleName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingProviderFirstAddress, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderFirstAddress)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingProviderSecondAddress, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderSecondAddress)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingProviderCity, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderCity)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingProviderState, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderState)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingProviderZip, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderZip)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingProviderPhoneNo, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderPhoneNo)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingProviderTaxonomy, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingProviderTaxonomy)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("RENDERING PROVIDER", new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.RenderingProviderLastOrOrganizationName)</label>

                        </td>

                    </tr>
                    <tr>
                        <td>@Html.Label("(LAST,FIRST,MI)", new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.RenderingProviderFirstName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.RenderingProviderMiddleName)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.RenderingProviderTaxonomy, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.RenderingProviderTaxonomy)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.RenderingProviderNPI, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.RenderingProviderNPI)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.RenderingProviderPin, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.RenderingProviderPin)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingGroupNPI, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingGroupNPI)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingGroupNumber, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingGroupNumber)</label>

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.BillingGroupIdQual, new { @class = "cms_label" })</td>
                        <td>
                            <label class="viewCMSFormLabel">@Html.DisplayFor(model => model.BillingGroupIdQual)</label>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="cms1500Buttons" class="button-styles clearfix">
            <button class="edit-button pull-left" id="GoToClaimsInfoBtn">Back</button>
            <button class="edit-button pull-right" id="EditClaimBtn">Edit</button>

        </div>
    </div>
</div>


<script src="~/Areas/Billing/Scripts/ClaimsTracking/CMS1500ViewForm.js"></script>