@using PortalTemplate.Helper
@model PortalTemplate.Areas.Portal.Models.Facility.FacilityServiceQuestionViewModel
<link href="~/Areas/Portal/Styles/Facility/Facility.css" rel="stylesheet" />
<script src="~/Areas/Portal/Scripts/Facility/Facility.js"></script>
<br />
<div class="col-lg-12">
    <fieldset class="fsStyle createClaim">
        <legend class="legendStyle">
            <span class="theme_depend text-initial title_heading">Add New @ViewBag.Title</span>
        </legend>

        @Html.Partial("~/Areas/Portal/Views/FacilityServiceQuestion/_AddEditFacilityServiceQuestion.cshtml")

    </fieldset>
</div>
<div class="clearfix"></div><br />
<div class="col-lg-12">
    <fieldset class="fsStyle createClaim">
        <legend class="legendStyle">
            <span class="theme_depend text-initial title_heading">@ViewBag.Title</span>
        </legend>
        <div class="legend2 exportbtn">@Html.ExportOptions("excel", "print", "filter")</div>
        @Html.Partial("~/Areas/Portal/Views/FacilityServiceQuestion/_ListFacilityServiceQuestion.cshtml")
    </fieldset>

</div>
<div class="clearfix"></div>