@model PortalTemplate.Areas.Encounters.Models.Dashboard.EncounterDashboardViewModel

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-xs-6 zero-padding-right">
            <div class="DivHeading pacCoordinatorsHeader zero-padding-left-right text-capitalize">
                Schedules
            </div>
            <div class="col-lg-3 zero-padding-left-right">
                <button class="biscuit p_biscit_outerColor_blue p_scheules">
                    <div class="biscuit_heading auth">
                        <b>Scheduled</b>
                    </div>
                    <div class="biscuit_body">
                        <b>@Model.EnounterBiscuitViewModel.Scheduled</b>
                    </div>
                </button>
            </div>
            <div class="col-lg-3 zero-padding-left-right">
                <button class="biscuit p_biscit_outerColor_green p_scheules">
                    <div class="biscuit_heading auth">
                        <b>Active</b>
                    </div>
                    <div class="biscuit_body">
                        <b>@Model.EnounterBiscuitViewModel.Active</b>
                    </div>
                </button>
            </div>
            <div class="col-lg-3 zero-padding-left-right">
                <button class="biscuit p_biscit_outerColor_red p_scheules">
                    <div class="biscuit_heading auth">
                        <b>No Show</b>
                    </div>
                    <div class="biscuit_body">
                        <b>@Model.EnounterBiscuitViewModel.NoShow</b>
                    </div>
                </button>
            </div>
            <div class="col-lg-3 zero-padding-left-right">
                <button class="biscuit p_biscit_outerColor_yellow p_scheules">
                    <div class="biscuit_heading auth">
                        <b>Re-Schedule</b>
                    </div>
                    <div class="biscuit_body">
                        <b>@Model.EnounterBiscuitViewModel.ReSchedule</b>
                    </div>
                </button>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 zero-padding-left">
            <div class="DivHeading pacCoordinatorsHeader zero-padding-left-right text-capitalize">
                Encounters
            </div>
            <div class="col-lg-3 zero-padding-left-right">
                <button class="biscuit p_biscit_outerColor_ngreen p_scheules">
                    <div class="biscuit_heading auth">
                        <b>Open</b>

                    </div>
                    <div class="biscuit_body">
                        <b>@Model.EnounterBiscuitViewModel.Open</b>
                    </div>
                </button>
            </div>
            <div class="col-lg-3 zero-padding-left-right">
                <button class="biscuit p_biscit_outerColor_orange p_scheules">
                    <div class="biscuit_heading auth">
                        <b>Draft</b>
                    </div>
                    <div class="biscuit_body">
                        <b>@Model.EnounterBiscuitViewModel.Draft</b>
                    </div>
                </button>
            </div>
            <div class="col-lg-3 zero-padding-left-right">
                <button class="biscuit p_biscit_outerColor_rblue p_scheules">
                    <div class="biscuit_heading auth">
                        <b>Ready to Code</b>
                    </div>
                    <div class="biscuit_body">
                        <b>@Model.EnounterBiscuitViewModel.ReadyToCode</b>
                    </div>
                </button>
            </div>
            <div class="col-lg-3 zero-padding-left-right">
                <button class="biscuit p_biscit_outerColor_yellow p_scheules">
                    <div class="biscuit_heading auth">
                        <b>On-Hold</b>
                    </div>
                    <div class="biscuit_body">
                        <b>@Model.EnounterBiscuitViewModel.OnHold</b>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>