@model PortalTemplate.Areas.Encounters.Models.ScheduleCRUD.EditScheduleViewModel
<div class="margin-top-5px">
    <div class="col-lg-12">

        <div class="x_panel border_on_panel">
            <div class="x_content">

                <div class="col-lg-12">
                    <label class="title_text">Schedule Details</label>
                    @*<a onclick="toggleCollapseEncounter()" class="btn btn-xs btn-info pull-right encounterCollapseShow"><span class="fa fa-list"></span></a>*@

                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_-3px">
                        <fieldset class="fieldsetStyle">
                            <legend class="legendstyle">Member</legend>
                            <div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    @Html.LabelFor(m => m.SubscriberID)
                                    <div><label class="uppercase">@Model.SubscriberID</label></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    @Html.LabelFor(m => m.MemberFirstName)
                                    <div><label class="uppercase">@Model.MemberFirstName</label></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    @Html.LabelFor(m => m.MemberLastName)
                                    <div><label class="uppercase">@Model.MemberLastName</label></div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    @Html.LabelFor(m => m.Gender)
                                    <div><label class="uppercase">@Model.Gender</label></div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    @Html.LabelFor(m => m.DateOfBirth)
                                    <div><label class="uppercase">@Model.DateOfBirth.Value.ToShortDateString()</label></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    @Html.LabelFor(m => m.Address)
                                    <div><label class="uppercase">@Model.Address</label></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    @Html.LabelFor(m => m.PlanName)
                                    <div><label class="uppercase">@Model.PlanName</label></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <fieldset class="fieldsetStyle">
                            <legend class="legendstyle">Service Information</legend>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        @Html.LabelFor(m => m.RenderingProviderName)
                                        <div class="ProviderLabel">
                                            <label class="uppercase" id="Scheduler_SelectedReferingProvider">@Model.RenderingProviderName</label>
                                            <a class="refprov_edit_link btn btn-xs btn-info SchedulerServiceInfoEditBtn" data-url="#Scheduler_RenderingProviderSearch"><i class="fa fa-edit"></i> Edit</a>
                                        </div>
                                        <div id="Scheduler_ReferingProviderSearch" class="ProviderSearch row" hidden>
                                            <div class="col-lg-9">
                                                <input name="ReferringProvider" placeholder="Referring Provider Name" class="form-control input-xs non_mandatory_field_halo refprovelement">
                                            </div>
                                            <div class="col-lg-3 zero-padding-left-right">
                                                <button class="btn btn-xs btn-primary selectReferprovider" id="Scheduler_ReferingProviderSearchBtn">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        @Html.LabelFor(m => m.ReferringProviderName)
                                        <div class="ProviderLabel">
                                            <label class="uppercase" id="Scheduler_SelectedReferingProvider">@Model.ReferringProviderName</label>
                                            <a class="refprov_edit_link btn btn-xs btn-info SchedulerServiceInfoEditBtn" data-url="#Scheduler_ReferingProviderSearch"><i class="fa fa-edit"></i> Edit</a>
                                        </div>
                                        <div id="Scheduler_ReferingProviderSearch" class="ProviderSearch row" hidden>
                                            <div class="col-lg-9">
                                                <input name="ReferringProvider" placeholder="Referring Provider Name" class="form-control input-xs non_mandatory_field_halo refprovelement">
                                            </div>
                                            <div class="col-lg-3 zero-padding-left-right">
                                                <button class="btn btn-xs btn-primary selectReferprovider" id="Scheduler_ReferingProviderSearchBtn">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        @Html.LabelFor(m => m.BillingProviderName)
                                        <div class="ProviderLabel">
                                            <label class="uppercase" id="Scheduler_SelectedBillingProvider">@Model.BillingProviderName</label>
                                            <a class="refprov_edit_link btn btn-xs btn-info SchedulerServiceInfoEditBtn" data-url="#Scheduler_BillingProviderSearch"><i class="fa fa-edit"></i> Edit</a>
                                        </div>
                                        <div id="Scheduler_BillingProviderSearch" class="ProviderSearch row" hidden>
                                            <div class="col-lg-9">
                                                <input name="BillingProvider" placeholder="Billing Provider Name" class="form-control input-xs non_mandatory_field_halo refprovelement">
                                            </div>
                                            <div class="col-lg-3 zero-padding-left-right">
                                                <button class="btn btn-xs btn-primary selectReferprovider" id="Scheduler_BillingProviderSearchBtn">Search</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        @Html.LabelFor(m => m.ServiceFacilityName)
                                        <div class="ProviderLabel">
                                            <label class="uppercase" id="Scheduler_SelectedFacility">@Model.ServiceFacilityName</label>
                                            <a class="refprov_edit_link btn btn-xs btn-info SchedulerServiceInfoEditBtn" data-url="#Scheduler_FacilitySearch"><i class="fa fa-edit"></i> Edit</a>
                                        </div>
                                        <div id="Scheduler_FacilitySearch" class="ProviderSearch row" hidden>
                                            <div class="col-lg-9">
                                                <input name="Facility" placeholder="Facility Name" class="form-control input-xs non_mandatory_field_halo refprovelement">
                                            </div>
                                            <div class="col-lg-3 zero-padding-left-right">
                                                <button class="btn btn-xs btn-primary selectReferprovider" id="Scheduler_FacilitySearchBtn">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div id="ProviderList"></div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        @Html.LabelFor(m => m.ScheduleDate, new { @class = "label-font-normal" })
                                        <div class="editelements">
                                            @Html.PratianUiDatePickerFor(model => model.ScheduleDate, new { @class = "form-control input-xs non_mandatory_field_halo uppercase" })
                                            @Html.ValidationMessageFor(model => model.ScheduleDate)
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        @Html.LabelFor(m => m.ScheduleTime, new { @class = "label-font-normal" })
                                        <div class="editelements">
                                            @Html.PratianUiTimePickerFor(model => model.ScheduleTime, new { @class = "form-control input-xs non_mandatory_field_halo uppercase" })
                                            @Html.ValidationMessageFor(model => model.ScheduleTime)
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        @Html.LabelFor(m => m.VisitCategory)
                                        <div class="editelements">
                                            @Html.TextBoxFor(model => model.VisitCategory, new { @class = "form-control input-xs non_mandatory_field_halo uppercase" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        @Html.LabelFor(m => m.VisitLength)
                                        <div class="editelements">
                                            @Html.TextBoxFor(model => model.VisitLength, new { @class = "form-control input-xs non_mandatory_field_halo uppercase" })
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-6 col-md-3 col-sm-3 col-xs-3">
                                        @Html.LabelFor(m => m.VisitReason)
                                        <div class="editelements">
                                            @Html.TextAreaFor(model => model.VisitReason, new { @class = "form-control input-xs non_mandatory_field_halo uppercase" })
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </fieldset>
                    </div>

                </div>




                <a class="btn btn-sm btn-warning pull-left tab-navigation member-actions encounterTemplateItem">Back</a>
                <div class="btn-group dropup pull-right">

                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span>Save</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" class="BackToList">Save & Exit</a></li>
                        <li><a href="javascript:void(0)" class="Scheduler_CreateNew">Save & Create New</a></li>
                    </ul>
                </div>
                <a class="btn btn-sm btn-primary pull-right member-actions editelements encounterTemplateItem proceedToEncounter">Save & Proceed To Encounter</a>
            </div>
        </div>
    </div>
</div>
