@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    profileId =@ViewBag.ProfileId;
</script>

@Styles.Render("~/Content/profileCss")

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/angular")
@*<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/AHC_Lib/AutoCompleteLib.js"></script>
<script src="~/Scripts/Lib/Angular/ng-table.js"></script>
<script src="~/Scripts/Custom/Profile/xeditable.min.js"></script>
<script src="~/Areas/Profile/Scripts/Util/clockface.js"></script>*@

@Scripts.Render("~/Content/profileJs")


<!-- please move all dependent partial java script in partial page-->

<script src="~/Areas/Profile/Scripts/Util/CreateProfile.js"></script>
<script src="~/Areas/Profile/Scripts/Util/AddressAutoComplete.js"></script>
<script src="~/Areas/Profile/Scripts/Util/MasterDataService.js"></script>
<script src="~/Areas/Profile/Scripts/Util/Directives.js"></script>

@Scripts.Render("~/Content/jsonUtilProfileJs")
@*<script src="~/Scripts/Shared/Data/CountryOfIssue.js"></script>
<script src="~/Areas/Profile/Scripts/Util/Util.js"></script>*@


@*<script src="~/Areas/Profile/Scripts/CombineJS/profileCombine.min.js"></script>*@

<!--scripts for auto suggest drop down box added by Prakash M S-->
@*<script src="~/Scripts/Lib/CDN Service/angular-strap.min.js"></script>
<script src="~/Scripts/Lib/CDN Service/angular-strap.tpl.min.js"></script>
<script src="~/Scripts/Lib/Angular/parse-options.js"></script>*@

<!--Profile Js'-->
<script src="~/Areas/Profile/Scripts/Util/Directives.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/Demographics.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/IdentificationLicense.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/WorkHistory.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/hospital.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/Education.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/Specialty.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/ProfessionalAffiliation.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/PracticeLocation.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/ProfessionalReference.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/ProfessionalLiabilityInsurance.js"></script>
<script src="~/Areas/Profile/Scripts/OrganizationInfo/OrganisationInfo.min.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/DisclosureQuestions.js"></script>
<script src="~/Areas/Profile/Scripts/JavaScripts/ContractInfo.js"></script>


<div id="page-wrapper" ng-app="profileApp">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row" ng-cloak>
            <div class="col-lg-12" ng-controller="breadcrumCtrl">
                <ol class="breadcrumb">

                    <li class="active">
                        <i class="fa fa-list"></i>
                        <a href="~/Profile/SampleProfile/Index">Profiles</a>
                    </li>
                    <li class="active">
                        {{Provider.FirstName}} {{Provider.MiddleName}} {{Provider.LastName}}
                    </li>
                    <li class="text-capitalize active">
                        <span id="tabname">Demographics</span>
                    </li>
                </ol>
            </div>            
        </div>
        <!-- /.row -->
        <div id="loadingData" class="loading-modal-wait">
            <div class="col-lg-12">
                <div class="text-center" style="margin-top: 10%;">
                    <img src="~/Content/Images/loadingData.GIF" style="width:120px;height:124px;" />                    
                </div>
                <div class="text-center">
                    <span class="h3" id="Loading_Message">Initializing Profile ...</span><span class="h3"> Please wait....</span>
                </div>
            </div>
        </div>
        <div id="loading" align="center" class="loading modal-wait" style="display:none">
            <p style="margin-top: 25%;">
                Saving Data...Please Wait...
            </p>
        </div>
        <!-- Add Provider content form div -->
        <div class="row" id="profileForm">
            <div class="col-lg-12" ng-cloak>
                <div class="panel panel-default">

                    <div class="panel-body">

                        <div role="tabpanel">
                            <div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Demographics</a></li>
                                    <li role="presentation"><a href="#identification" aria-controls="identification" role="tab" data-toggle="tab">Identification & Licenses</a></li>
                                    <li role="presentation"><a href="#education" aria-controls="education" role="tab" data-toggle="tab">Education History</a></li>
                                    <li role="presentation"><a href="#specialty" aria-controls="specialty" role="tab" data-toggle="tab">Specialty/Board</a></li>
                                    <li role="presentation"><a href="#practice" aria-controls="practice" role="tab" data-toggle="tab" ng-click="getPractitionerData();">Practice Location</a></li>
                                    <li role="presentation"><a href="#hospital" aria-controls="hospital" role="tab" data-toggle="tab">Hospital Privilege</a></li>
                                    <li role="presentation"><a href="#liability" aria-controls="liability" role="tab" data-toggle="tab">Professional Liability</a></li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Work History</a></li>
                                    <li role="presentation"><a href="#professionalreference" aria-controls="professionalreference" role="tab" data-toggle="tab">Professional Reference</a></li>
                                    <li role="presentation"><a href="#Professional" aria-controls="Professional" role="tab" data-toggle="tab">Professional Affiliation</a></li>
                                    @*<li role="presentation"><a href="#service" aria-controls="service" role="tab" data-toggle="tab">Service Information</a></li>*@


                                    <li role="presentation"><a href="#disclosure" aria-controls="disclosure" role="tab" data-toggle="tab">Disclosure Questions</a></li>


                                    <li role="presentation"><a href="#ContractInfo" aria-controls="ContractInfo" role="tab" data-toggle="tab">Contract Information</a></li>
                                    @*<li role="presentation"><a href="#Plans" aria-controls="Plans" role="tab" data-toggle="tab">View All Plans</a></li>*@
                                    @*<li role="presentation" data-toggle="tooltip" data-placement="right" title="Document Checklist"><a href="#document" aria-controls="document" role="tab" data-toggle="tab"><i class="fa fa-file-o"></i></a></li>*@
                                    @* <li role="presentation" data-toggle="tooltip" data-placement="right" title="Timeline"><a href="#Timeline" aria-controls="Timeline" role="tab" data-toggle="tab"><i class="fa fa-history"></i></a></li>*@


                                </ul>
                            </div>

                            <div class="col-lg-12">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <!---Demographics partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/Demographic/_Demographics.cshtml")
                                        <!---Demographics partial ends here-->
                                    </div>
                                    @*<div role="tabpanel" class="tab-pane" id="profile">

                                        <!---work history partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/WorkHistory/_Workhistory.cshtml")
                                        <!---work history partial ends here-->

                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="Professional">
                                        <!---_ProfessionalAffilation partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/ProfessionalAffiliation/_ProfessionalAffilation.cshtml")
                                        <!---_ProfessionalAffilation partial ends here-->
                                    </div>


                                    <div role="tabpanel" class="tab-pane" id="identification">
                                        <!---Licensing & Identification partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_IdentificationLicensing.cshtml")
                                        <!---Licensing & Identification partial ends here-->
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="education">
                                        <!---Licensing & Identification partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/EducationHistory/_Education.cshtml")
                                        <!---Licensing & Identification partial ends here-->
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="specialty">
                                        <!---Specialty partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/BoardSpecialty/_Specialty.cshtml")
                                        <!---Specialty partial ends here-->
                                    </div>*@

                                    <div role="tabpanel" class="tab-pane" id="practice">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_PracticeLocationInformation.cshtml")
                                        <!---Practice Location Information partial ends here-->
                                    </div>

                                    @*<div role="tabpanel" class="tab-pane" id="professionalreference">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/ProfessionalReference/_ProfessionalReference.cshtml")
                                        <!---Practice Location Information partial ends here-->
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="disclosure">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/DisclosureQuestion/_DisclosureQuestions.cshtml")
                                        <!---Practice Location Information partial ends here-->
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="hospital">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/HospitalPrivilege/_HospitalPrivilegeInformation.cshtml")
                                        <!---Practice Location Information partial ends here-->
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="liability">
                                        <!---Liability partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/Liability/_LiabilityInsurance.cshtml")
                                        <!---Liability partial ends here-->
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="ContractInfo">
                                        <!---Practice Location Information partial starts here-->
                                        @Html.Partial("~/Areas/Profile/Views/ContractInformation/_ContractInformation.cshtml")
                                        <!---Practice Location Information partial ends here-->
                                    </div>*@                                   
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
