@model PortalTemplate.Areas.UM.Models.ViewModels.ViewAuthorization.ViewAuthorizationViewModel
<p-link filepath="~/Areas/UM/Styles/ViewAuth/ViewAuth.css"></p-link>
<p-link filepath="~/Areas/UM/Styles/ViewAuth/Footer.css"></p-link>


<div class="clearfix"></div>
<div class="col-lg-12 zero-padding-left-right">
    <div class="col-lg-12 zero-padding-left-right">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">__</span>Authorization Summary<span style="color:transparent">__</span></span>
            </legend>
            <table class="table margin_bottom_zero table-white zero-padding-left-right alignLeftTable noBorderTable boldBody zeroPaddingBottomTh  width_99 table-nowrap custom-thead-back custom-thead-font custom-tbody">
                <thead class="text-uppercase">
                    <tr>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.ExpectedDOS)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.ExpectedDC)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.FromDate)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.ToDate)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.AttendingProvider)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.Facility)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.ICDCodes[0].ICDCode)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.ICDCodes[0].ICDCodeDescription)</th>
                        <th class="theme_label" width="4%">@Html.DisplayNameFor(x => x.PlaceOfService)</th>
                        <th class="theme_label" width="8%">@Html.DisplayNameFor(x => x.CPTCodes[0].CPTCode)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.CPTCodes[0].CPTDesc)</th>
                        <th class="theme_label" width="10%">@Html.DisplayNameFor(x => x.TypeOfCare)</th>
                        <th class="theme_label" width="13%">@Html.DisplayNameFor(x => x.AuthorizationType)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(x => x.CurrentStatus)</th>
                        <th class="theme_label" width="7%">@Html.DisplayNameFor(x => x.LOSs[0].ApprovedLos)</th>
                        <th class="theme_label" width="7%">@Html.DisplayNameFor(x => x.TOS)</th>
                    </tr>                                          
                </thead>
                <tbody class="text-uppercase">
                    <tr>
                        <td class="theme_label_data">@Html.DisplayFor(x=>x.ExpectedDOS)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.ExpectedDC)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.FromDate)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.ToDate)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.AttendingProvider.FullName)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.Facility.FullName)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.ICDCodes[0].ICDCode)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.ICDCodes[0].ICDCodeDescription)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.PlaceOfService)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.CPTCodes[0].CPTCode)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.CPTCodes[0].CPTDesc)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.TypeOfCare)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.AuthorizationType)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.CurrentStatus)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.LOSs[0].ApprovedLos)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.TOS)</td>
                    </tr>

                </tbody>
            </table>
        </fieldset>
    </div>
</div>
<div class="col-lg-12 zero-padding-left-right edit_los_body">
    <div class="col-lg-12 zero-padding-left-right">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase">Actual Length of Stay-IP&nbsp; <span class="label label-success ng-scope innerTextStyle labelaligned">2</span></span>
            </legend>
            <table class="table margin_bottom_zero table-white zero-padding-left-right alignLeftTable noBorderTable boldBody zeroPaddingBottomTh  width_99 table-nowrap custom-thead-back custom-thead-font custom-tbody">
                <thead class="text-uppercase theme_label">
                    <tr>
                        <th class="theme_label" width="3%">No</th>
                        <th class="theme_label" width="5%"> @Html.DisplayNameFor(e => e.LOSs[0].RequiredLOS) </th>
                        <th class="theme_label" width="5%">@Html.DisplayNameFor(e => e.LOSs[0].AuthorizedLOS)</th>
                        <th class="theme_label" width="10%">@Html.DisplayNameFor(e => e.ExpectedDOS)</th>
                        <th class="theme_label" width="8%">@Html.DisplayNameFor(e => e.ExpectedDC)</th>
                        <th class="theme_label" width="11%">@Html.DisplayNameFor(e => e.NextReviewDate)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(e => e.LOSs[0].AuthFrom)</th>
                        <th class="theme_label" width="8%">@Html.DisplayNameFor(e => e.LOSs[0].AuthTo)</th>
                        <th class="theme_label" width="8%">@Html.DisplayNameFor(e => e.ICDCodes[0].ICDCodeDescription)</th>
                        <th class="theme_label" width="6%">Denied</th>
                        <th class="theme_label" width="9%">Denied Dates</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(e => e.LOSs[0].RoomType)</th>
                        <th class="theme_label" width="9%">@Html.DisplayNameFor(e => e.LOSs[0].AuthType)</th>
                        <th class="theme_label" width="10%">@Html.DisplayNameFor(e => e.LOSs[0].ReviewType)</th>
                        <th class="theme_label" width="6%">@Html.DisplayNameFor(e => e.LOSs[0].LOSStatus)</th>
                        <th class="theme_label" width="6%">Action</th>
                    </tr>
                </thead>
               
                <tbody class="text-uppercase theme_label_data">
                    @{var i = 0;}
               @foreach (var lengthofstay in Model.LOSs) { 
                         <tr>
                        <td class="theme_label_data">@(++i)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x=>lengthofstay.RequiredLOS)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => lengthofstay.AuthorizedLOS)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.ExpectedDOS)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.ExpectedDC)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => x.NextReviewDate)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => lengthofstay.AuthFrom)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => lengthofstay.AuthTo)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x=>x.ICDCodes[0].ICDCodeDescription)</td>
                        <td class="theme_label_data">1</td>
                        <td class="theme_label_data">07/05/2016</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => lengthofstay.RoomType)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => lengthofstay.AuthType)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => lengthofstay.ReviewType)</td>
                        <td class="theme_label_data">@Html.DisplayFor(x => lengthofstay.LOSStatus)</td>
                        <td class="theme_label_data"><input type="submit" value="EDIT" class="btn btn-xs btn-primary editlos" /></td>
                    </tr>
               }
                </tbody>
            </table>

        </fieldset>
    </div>
</div>

<div class="col-lg-12 zero-padding-left-right">
    <!-- SCROLL BUTTONS -->
    <div class="x_content" id="ViewAuthorizations">
        <div class="width_1000_pixel inner_menu_container">
            <ul class="tabs-menu clearfix">
                <li class="tab-item current" id="Summary">
                    <a data-partial="~/Areas/UM/Views/ViewAuth/Summary/_AuthSummary.cshtml" class="list-item no_underline list-item-tab-1">
                        SUMMARY
                    </a>
                </li>
                <li class="tab-item current" id="Review">
                    <a data-partial="~/Areas/UM/Views/ViewAuth/Review/_Review.cshtml" class="list-item no_underline list-item-tab-2">
                        REVIEW
                    </a>
                </li>
                <li class="tab-item" id="Notes">
                    <a data-partial="~/Areas/UM/Views/ViewAuth/Notes/_Notes.cshtml" class="list-item no_underline list-item-tab-3">
                        NOTES
                    </a>
                </li>
                <li class="tab-item" id="Contacts">
                    <a data-partial="~/Areas/UM/Views/ViewAuth/Contacts/_Contacts.cshtml" class="list-item no_underline list-item-tab-4">
                        CONTACTS
                    </a>
                </li>
                <li class="tab-item" id="Attachments">
                    <a data-partial="~/Areas/UM/Views/ViewAuth/Attachments/_Attachments.cshtml" class="list-item no_underline list-item-tab-5">
                        ATTACHMENTS
                    </a>
                </li>
                <li class="tab-item" id="Letters">
                    <a data-partial="~/Areas/UM/Views/ViewAuth/Letters/_Letters.cshtml" class="list-item no_underline list-item-tab-6">
                        LETTERS
                    </a>
                </li>
                <li class="tab-item" id="ODAG">
                    <a data-partial="~/Areas/UM/Views/ViewAuth/ODAG/_ODAG.cshtml" class="list-item no_underline list-item-tab-7">
                        ODAG
                    </a>
                </li>
                <li class="tab-item" id="Status">
                    <a data-partial="~/Areas/UM/Views/ViewAuth/Status/_Status.cshtml" class="list-item no_underline list-item-tab-8">
                        STATUS
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab memberTabsPadding">
            <div id="ViewAuthorizationTabView" class="col-lg-12 zero-padding-left-right">
                @Html.Partial("~/Areas/UM/Views/ViewAuth/Summary/_AuthSummary.cshtml")
            </div>
        </div>
    </div>
</div>

<div class="x_panel" style="left:5px">
    <div class="x_content">
        @Html.Partial("~/Areas/UM/Views/ViewAuth/Footer/_Footer.cshtml")
    </div>
</div>
<p-script filepath="~/Areas/UM/Scripts/ViewAuth/Common/ViewAuth.js"></p-script>

<p-script filepath="~/Areas/UM/Scripts/ViewAuthName/MD.js"></p-script>

