@model AHC.CD.WebUI.MVC.Areas.Profile.Models.PracticeLocationInformation.FacilityEmployeeViewModel

<div class="form-style" ng-if="visibilitySecondControl != 'BillingContactEdit'">
    <fieldset class="wrap-words">
        <legend>
            Billing Contact
        </legend>
        <table ng-show="PracticeLocationDetailHistory.BillingContactPerson == null && visibilityControl != 'BillingContactEdit' " class="table table-bordered table-condensed customtbodyStyle table-striped">
            <thead>
                <tr>
                    <td>
                        No History Available for Billing Contact for this Practice Location!
                    </td>
                </tr>
            </thead>
        </table>
        <div class="form-group" ng-if="PracticeLocationDetailHistory.BillingContactPerson">
            <div class="col-md-12">
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.FirstName || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.MiddleName || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.LastName || 'Not Available'}}</i>
                    </div>
                </div>
                @*<div class="col-lg-3 form-group">
                        @Html.LabelFor(model => model.POBoxAddress, htmlAttributes: new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.POBoxAddress || 'Not Available'}}</i>
                        </div>
                    </div>*@
            </div>

            <div class="col-md-12">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        @*<i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.CountryCodeTelephone || 'Not Available'}} - {{PracticeLocationDetailHistory.BillingContactPerson.Telephone || 'Not Available'}}</i>*@
                        <i ng-if="PracticeLocationDetailHistory.BillingContactPerson.Telephone " class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.CountryCodeTelephone }}-{{PracticeLocationDetailHistory.BillingContactPerson.Telephone }}</i>
                        <i ng-if="!PracticeLocationDetailHistory.BillingContactPerson.Telephone " class="data-label">Not Available</i>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        @*<i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.CountryCodeFax || 'Not Available'}} - {{PracticeLocationDetailHistory.BillingContactPerson.Fax || 'Not Available'}}</i>*@
                        <i ng-if="PracticeLocationDetailHistory.BillingContactPerson.Fax" class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.CountryCodeFax}}-{{PracticeLocationDetailHistory.BillingContactPerson.Fax}}</i>
                        <i ng-if="!PracticeLocationDetailHistory.BillingContactPerson.Fax" class="data-label">Not Available</i>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.EmailAddress || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.Street || 'Not Available'}}</i>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Building, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.Building || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.City || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.State || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.ZipCode || 'Not Available'}}</i>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.Country || 'Not Available'}}</i>
                    </div>
                </div>
                <div class="col-lg-3 form-group">
                    @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label small" })
                    <div>
                        <i class="data-label">{{PracticeLocationDetailHistory.BillingContactPerson.County || 'Not Available'}}</i>
                    </div>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-show="activeMessageDiv=='billingContactSuccessMsg'" class="alert alert-success" role="alert">
            <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
            {{messageDesc}}
        </div>
    </fieldset>
</div>