@model AHC.CD.WebUI.MVC.Areas.Profile.Models.WorkHistory.PublicHealthServiceViewModel

    <form class="publicHealthServiceForm">
        <div class="col-lg-12 zero-padding-left-right-div">
            @Html.ValidationSummary(true, "", new { @class = "text-danger validSummary" })
            @Html.HiddenFor(model => model.PublicHealthServiceID, new { data_ng_model = "publicHealthService.PublicHealthServiceID" })
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4">
                       @* @Html.LabelFor(model => model.StartDate, new { @class = "control-label small" })*@
                        <label class="control-label small">Beginning Date</label>
                        <div>
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control input-sm", placeholder = "start date", data_ng_mode="publicHealthService.StartDate"})
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.EndDate, new { @class = "control-label small" })
                        <div>
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control input-sm", placeholder = "status", data_ng_mode = "publicHealthService.EndDate" })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.LastLocation, new { @class = "control-label small" })
                        <div>
                            @Html.TextBoxFor(model => model.LastLocation, new { @class = "form-control input-sm", placeholder = "status", data_ng_mode = "publicHealthService.LastLocation" })
                            @Html.ValidationMessageFor(model => model.LastLocation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />

            <div class="col-md-12 form-group">
                <div class="col-md-12 form-group">
                    <button type="button" class="btn btn-warning btn-sm" ng-click="cancelPublicHealthService()">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="savePublicHealthService(publicHealthService)">{{submitButtonText}}</button>
                </div>
            </div>
        </div>
    </form>
